[2021-03-19 17:24] nickdesaulniers commented on #1327
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=fb98cc0b3af2ba4d87301dff2b381b12eee35d7d

[2021-03-20 00:57] MaskRay commented on #1331
I prefer the previous patch that only one `EXPORT_SYMBOL` is added. Having two `EXPORT_SYMBOL` can be confusing... given that its pros (slightly simplified code) is outweighed by the cons...

[2021-03-20 18:31] pcercuei opened #1333 "MIPS: vmlinuz does not boot if LD=ld.lld"
When compiling for a Ingenic JZ4770 MIPS board (make gcw0_defconfig), using CC=clang and LLVM tools, the generated `vmlinux` file will boot fine. However, the `vmlinuz` file won't boot unless the linker used for the self-extracting archive is forced (in `arch/mips/boot/compressed/Makefile`) to GNU's linker.

[2021-03-20 18:34] pcercuei opened #1334 "LLVM ERROR: Error parsing inline asm"
A lot of "macro is already defined" errors, plus what seems to be a crash within LLD.

[code]
[...]
[code]

[2021-03-21 02:36] nickdesaulniers commented on #1333
Thanks for the report. I don't see any specific compression routine specified in the [config](https://github.com/ClangBuiltLinux/linux/blob/master/arch/mips/configs/gcw0_defconfig).  I'd be curious which one of [these](https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/arch/mips/boot/compressed/Makefile#L75-L81) gets selected by that config?  IIRC, there was a f

[2021-03-21 02:38] nickdesaulniers commented on #1334
I'd guess that these macros are defined in a header that's missing proper header guards, so they get redefined when LTO joins all of the sources together.

[2021-03-21 12:39] pcercuei commented on #1334
These are defined in `arch/mips/include/asm/mipsregs.h`, which does have header guards.

[2021-03-21 13:06] pcercuei commented on #1333
The `CONFIG_KERNEL_GZIP` is selected by default. But this issue seems unrelated to the compression scheme. It is not a problem of misaligned access either: I wrote the patch you are referring to and I have it applied.

Sometimes (not always), when compressed with ZSTD, the self-extracting executable will throw errors saying that the "ZSTD is corrupt", or "Out of memory while allocating ZSTD_DCtx"

[2021-03-23 18:56] nathanchance commented on #1330
[code]

This resolves it for me, I have not had the chance to do any more triage myself.

[2021-03-23 21:25] nathanchance commented on #1331
Sure, I am fine with the first version of that patch, which I do not think is too invasive. I will send that series after https://reviews.llvm.org/D98881 is merged (I will push an updated version of that patch shortly).

[2021-03-23 22:43] nickdesaulniers opened #1335 "-Wunused-function in kernel/sched/fair.c"
Building an arm64 allnoconfig kernel image results in the warning on -next:
[code]

[2021-03-24 17:12] kees commented on #740
I'm closing this, since it's been addressed. There is still the matter of address exposures under CFI, which I'm leaving open at https://github.com/KSPP/linux/issues/23

[2021-03-24 17:12] #740 closed

[2021-03-25 01:14] nathanchance commented on #1331
LLVM side is done: https://github.com/llvm/llvm-project/commit/ef58ae86ba778ed7d01cd3f6bd6d08f943abab44

I will push the kernel patches tomorrow.

[2021-03-25 18:25] nickdesaulniers commented on #732
@nathanchance I think that can get submitted to RMK's queue?

[2021-03-25 18:26] nathanchance commented on #732
Sure, I will submit it today.

[2021-03-25 18:40] nickdesaulniers commented on #1302
I'm incredibly distracted right now with assembler related issues in Android, but I was able to eliminate all of these with:

[code]
that include/asm-generic/bitops/instrumented-non-atomic.h but other definitions of `test_bit` were not seems like a smoking gun for one particular config that seems to be related.  (We should find out what that is, then see if we still get the warning for a different

[2021-03-25 18:57] arndb commented on #1302
I am a bit skeptical about whether that comment still applies though. This was added in 2013, and the compilers were quite a bit different back then. I would not be surprised if whatever bug happened back than was completely unreproducible with gcc-4.9 and higher.

The hack I have locally to build cleanly just drops the __initdata annotation on numa_nodes_parsed ;-)

Another possible hack would be

[2021-03-25 19:09] nickdesaulniers commented on #1302
[That comment](https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/include/linux/nodemask.h#L119-L125) is also perfectly in line with [Boris' feedback](https://lore.kernel.org/lkml/20210225114533.GA380@zn.tnic/) on `get_smp_config`.  So I think it makes a good rule of thumb for the kernel: "if you have `static inline` functions called from `__init` and non-`__ini

[2021-03-25 20:08] nathanchance commented on #732
Done: https://www.armlinux.org.uk/developer/patches/viewpatch.php?id=9070/1

[2021-03-25 21:52] nathanchance commented on #970
https://lore.kernel.org/r/20210325215156.1986901-1-nathan@kernel.org/

[2021-03-25 21:53] nathanchance commented on #803
https://lore.kernel.org/r/20210325215156.1986901-1-nathan@kernel.org/

[2021-03-25 22:39] nathanchance commented on #1331
https://lore.kernel.org/r/20210325223807.2423265-1-nathan@kernel.org/

[2021-03-25 22:39] nathanchance commented on #1268
https://lore.kernel.org/r/20210325223807.2423265-1-nathan@kernel.org/

[2021-03-25 22:59] nickdesaulniers commented on #1302
allyesconfig minus CONFIG_UBSAN_OBJECT_SIZE fixes most (except for `test_bit`), so [Arnd's findings](https://lore.kernel.org/lkml/CAK8P3a2niRdnVMMtBrudLAq7s=2c1sH=YC2REwujm5piHmnH6g@mail.gmail.com/) related to CONFIG_UBSAN_OBJECT_SIZE=y are definitely related with these.  Perhaps a focus on addressing that in LLVM is better than modifying the constant propagation replacement to resolve this set of

[2021-03-25 23:51] nickdesaulniers commented on #1302
A quick hack to LLVM to run `LowerConstantIntrinsicsPass` before inlining (more so, an arbitrary point, but still before inlining):

**EDIT** this diff is now highly outdated...
[code]
Fixes all of the observed warnings in [Arnd's example](https://godbolt.org/z/1q473Tj7z), and the kernel except `test_bit` (sanitizers), but also produces tons of linkage errors related to failed compile time asserts

[2021-03-29 10:27] tpgxyz opened #1336 "ld.lld: error in arch/arm64/kernel/vmlinux.lds"
Hi,

im trying to build kernel-5.11.10 with LLVM/clang and LLVM/lld (both are snapshots of 12.x from 20210305) natively on aarch64. Did not find anything related to this kind of error for arm64. LTO is not enabled at all.

[code]

[2021-03-29 15:43] nathanchance commented on #1336
Configuration and make command?

[2021-03-29 17:35] nathanchance commented on #1300
Accepted: https://git.kernel.org/powerpc/c/fbced1546eaaab57a32e56c974ea8acf10c6abd8

[2021-03-29 17:36] nathanchance commented on #1316
Accepted: https://git.kernel.org/powerpc/c/1ef1dd9c7ed27b080445e1576e8a05957e0e4dfc

[2021-03-29 19:02] tpgxyz commented on #1336
Configs are here:
https://github.com/OpenMandrivaAssociation/kernel-release/blob/rockpro64/aarch64-server-omv-defconfig

Build logs can be found here:
https://abf.openmandriva.org/build_lists/34585

[2021-03-29 19:48] nickdesaulniers commented on #906
perhaps if you add a `default` case that returns `0`, then you could sink the `return (unsigned long)xmm;` to be the final statement of the function?

[2021-03-29 20:46] nickdesaulniers commented on #1309
Ok, so two separate issues it looks like.

1. `tbh`, `strexd`, and `ldrexd` do not have optional operands as per the Arm ARM (`F5.1.257 TBB, TBH`, `F5.1.238 STREXD T1 variant`, `F5.1.84 LDREXD T1 variant`). I think this should be fixed in the kernel as per my lore link above.
2. `orns.w`/`orn.w` (`F5.1.128 ORN, ORNS (register) T1  shift or rotate by value variant`), and `rsb.w`/`rsbs.w` (`F5.1.167

[2021-03-29 20:52] nickdesaulniers commented on #1309
https://reviews.llvm.org/D99538 for `ORN`/`ORNS`.

[2021-03-29 21:29] nickdesaulniers commented on #1309
https://reviews.llvm.org/D99542 for `RSB`/`RSBS`.

[2021-03-29 22:14] nickdesaulniers commented on #1309
https://lore.kernel.org/lkml/20210329221209.1718079-1-ndesaulniers@google.com/T/#u for kernel patch.

[2021-03-30 01:01] nathanchance commented on #1336
This error is a result of you guys enabling `--gc-sections` [by default within LLD](https://github.com/OpenMandrivaAssociation/llvm/blob/ff0bfc7f8cad2fb522ac03e69bd0aee6ace903d1/lld-default-settings.patch). @arndb sent [a patch](https://lore.kernel.org/r/20210225112122.2198845-1-arnd@kernel.org/) to allow arm64 to select `CONFIG_LD_DEAD_CODE_ELIMINATION` but that does not resolve it for me. Realis

[2021-03-30 01:11] jcai19 commented on #1320
-Wa,--version works with "clang --no-integrated-as". I have submitted a patch for review to support this flag with -integrated-as: https://reviews.llvm.org/D99556

[2021-03-30 18:36] nickdesaulniers opened #1337 "error: too many operands for instruction: tst r3,#1,0"
via: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2223604174?check_suite_focus=true

[code]
so this is a CONFIG_THUMB2_KERNEL build of ARCH=arm of android12-5.4. So code that was likely removed from newer versions of the kernel (5.10 and mainline didn't have this failure).

[2021-03-30 18:40] nickdesaulniers commented on #1337
oWo

[2021-03-30 20:46] tpgxyz commented on #1336
@nathanchance  many thanks Nathan for spotting that` --gc-sections`.  Fixed it inside LLD patch.

[2021-03-30 20:46] #1336 closed, assigned to nobody

[2021-03-31 22:12] nickdesaulniers opened #1338 "KCOV broken with full LTO"
https://llvm.org/pr39531

[2021-03-31 22:23] nickdesaulniers commented on #1337
assembling+disassembling this with GNU binutils produces:
[code]

This case should be F5.1.262 TST (immediate) A1 encoding. The section

F1.7.7 Modified immediate constants in T32 and A32 instructions

has a further addendum about "Modified immediate constants in A32 instructions" which states:

Table F1-3 Encoding of modified immediates in A32 processing instructions

is needed to understand what

[2021-03-31 22:33] nickdesaulniers commented on #1337
I'm not sure if there's an existing AsmOperandClass for this? We might need one for "rotated immediates" (or something other than `rot_imm`).

[2021-03-31 23:37] nickdesaulniers commented on #1320
https://reviews.llvm.org/rG3cc3c0f8352ec33ca2f2636f94cb1d85fc57ac16 thanks @jcai19 !

[2021-03-31 23:37] #1320 closed, assigned to jcai19

[2021-04-01 12:58] dileks commented on #1259
`LLVM` version `12.0.0-rc4` tagged.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.0-rc4
[2] https://lists.llvm.org/pipermail/llvm-dev/2021-March/149564.html

[2021-04-01 18:53] nickdesaulniers commented on #1326
Submitted: https://lore.kernel.org/lkml/20210401160434.7655-1-maciej.falkowski9@gmail.com/

[2021-04-01 18:57] nickdesaulniers commented on #1324
submitted: https://lore.kernel.org/lkml/20210401161127.8942-1-maciej.falkowski9@gmail.com/

[2021-04-01 19:11] nickdesaulniers commented on #1325
Submitted: https://lore.kernel.org/lkml/20210401162032.10150-1-maciej.falkowski9@gmail.com/

[2021-04-01 19:15] nickdesaulniers commented on #1328
@jcai19 also sent a patch for this: https://lore.kernel.org/lkml/20210330230249.709221-1-jiancai@google.com/

@groeck links to: http://crbug.com/1193732

[2021-04-01 20:47] nathanchance commented on #1327
Merged into mainline: https://git.kernel.org/linus/fb98cc0b3af2ba4d87301dff2b381b12eee35d7d

[2021-04-01 20:47] #1327 closed, assigned to ardbiesheuvel

[2021-04-02 00:32] nickdesaulniers commented on #1143
The inline asm goto in jump_label.h is encoding `struct jump_entry`'s in the `__jump_table` section.  Those are defined as:

[code]
which is the same definition for all architectures supported by the Linux kernel. That code in particular [is already insanely complex](http://nickdesaulniers.github.io/blog/2020/04/06/off-by-two/); I don't see it changing to support one arch.

[2021-04-02 04:29] dileks commented on #1330
Same error here with `clang-12.0.0-rc4` and today's `clang-cfi` together with `<tip.git#x86/core>`:
[code]

The above diff from @nathanchance fixes the issue for me.

Update: Add link to `<tip.git#x86/core>`.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/log/?h=x86/core

[2021-04-02 06:35] dileks commented on #1330
Note: I was not able to finish a successful build. It hanged when doing objtool/orc/retpoline/etc. stuff.

[2021-04-02 07:43] #1098 closed

[2021-04-02 15:56] samitolvanen commented on #1330
Ah, so this happens because LLVM appends a hash to the names of static functions with ThinLTO+CFI, and the static call code hardcodes the name in inline assembly. The function needs to be either global or `__used` to stop the compiler from renaming it.

[2021-04-02 17:06] dileks commented on #1330
@samitolvanen

With or without  `static` and `__used` at the end?
[code]

[2021-04-02 17:10] samitolvanen commented on #1330
If we want to keep the function static, the `__used` attribute should stop the renaming according to our LLVM experts. I'm not sure how strict the compiler is about the exact location of the attribute in the function declaration, but I think that change should work.

[2021-04-02 17:29] nathanchance commented on #1330
Traditionally the attribute would go between the `static` and type:

[code]

FWIW, that change does not work for me.

[2021-04-02 17:31] samitolvanen commented on #1330
Right, it's possible that `__used` works only with ThinLTO when CFI is not enabled.

[2021-04-02 17:39] dileks commented on #1330
`include/linux/compiler_attributes.h` says:
[code]

Might be worth to add the below link to the above section:
[code]

Retain attribute?

[1] https://clang.llvm.org/docs/AttributeReference.html#used

[2021-04-04 15:19] tinti commented on #1335
Patch submitted https://lore.kernel.org/patchwork/patch/1404596/

[2021-04-04 22:14] tinti opened #1339 "-Wunused-function in arch/powerpc/boot/inffast.c"
Building a powerpc ppc44x_defconfig kernel image results in the warning on mainline:

arch/powerpc/boot/inffast.c:20:1: warning: unused function 'get_unaligned16' [-Wunused-function]

[2021-04-04 22:47] tinti commented on #1339
Similar issue different solution https://lore.kernel.org/r/9e4edaa0061c4de2b3b1a7aa53987b94@AcuMS.aculab.com/

[2021-04-05 00:17] nathanchance commented on #1339
Pretty sure this is a duplicate of #664.

[2021-04-05 13:16] gottaeat opened #1340 "building 5.12-rcn w/ 12.0.0-rc4 and 11.1.0 fails with multiple unknown type name errors"

[2021-04-05 13:47] mssx86 commented on #1340
apologies, it apparently is not llvm specific as the same issue occurred with gcc 10.2:

[code]

[2021-04-05 13:47] #1340 closed, assigned to nobody

[2021-04-05 18:51] nickdesaulniers opened #1355 "Debian LLVM patches causing failures for LLVM_IAS=1 in android tree builds"
cc @terceiro @ivoire

Since upgrading our builds of android kernels to use clang's integrated assembler for 32b ARM targets, our CI has been red with errors I cannot reproduce locally. [example](https://s3.amazonaws.com/builds.tuxbuild.com/1qjDdiIxOARpNm2jCxOg363Rd84/build.log?AWSAccessKeyId=ASIAVCFPSBGS7RDD6VUT&Signature=PByoNQwEVriRskv%2FTsifvpS9yi8%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEML%2F

[2021-04-05 19:08] nickdesaulniers commented on #1355
@arndb 's comment even mentions

Neither of those were set that way in the [reported build config](https://s3.amazonaws.com/builds.tuxbuild.com/1qjDdiIxOARpNm2jCxOg363Rd84/config?AWSAccessKeyId=ASIAVCFPSBGSXBH6HHWJ&Signature=ziL072CrBED3wExJzH6vtrjGxBI%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEMP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQDjrYaFGBjWHjzupZAI3irQS0mCeev%2B8ed2895EdU5FbwIhA

[2021-04-06 06:37] dileks commented on #1335
@tinti

In which official Git tree was `v2` `Accepted`?
If yes, do you have a link?
( I expected to see v2 in tip Git. )

[2021-04-06 11:36] tinti commented on #1339
Indeed. Thanks Nathan.

[2021-04-06 11:36] #1339 closed, assigned to nobody

[2021-04-06 12:33] terceiro commented on #1355
@nickdesaulniers can you share the tuxbuild link instead (i.e. the folder with all artifacts)? the links you posted don't work for me

[2021-04-06 12:38] vishalbhoj commented on #1355
@terceiro https://builds.tuxbuild.com/1qjDdiIxOARpNm2jCxOg363Rd84/

[2021-04-07 15:51] tpgxyz opened #1341 "inconsistent ORC unwind table entries in file: vmlinux in /scripts/sorttable vmlinux"
I'm compiling kernel-5.11.11 with `CONFIG_UNWINDER_ORC=y` and it fails with below error only if `ld.lld` is default linker.

[code]

More logs can be found here https://abf.openmandriva.org/build_lists/35417

[2021-04-07 17:15] nathanchance commented on #1341
Relevant piece of code: https://github.com/torvalds/linux/blob/2d743660786ec51f5c1fefd5782bbdee7b227db0/scripts/sorttable.h#L278-L286

[2021-04-07 18:11] nickdesaulniers commented on #1341
If we split those 3 cases into 3 distinct prints, then we can tell perhaps which we were failing.

[2021-04-07 18:28] nathanchance commented on #1341
Can you please post the configuration file? I cannot really decipher your build system's output to generate it. I would appreciate you doing that in the future :)

[2021-04-07 18:33] nickdesaulniers commented on #1328
@davidbolvansky cc'ed me on https://reviews.llvm.org/D100037 which looks somewhat related to this.

[2021-04-07 18:50] groeck commented on #1328
On 4/7/21 11:34 AM, Nick Desaulniers wrote:

I can't comment there, but from the context it appears that "was introduces"
should be "was introduced", not "introduces".

Guenter

[2021-04-07 19:03] tpgxyz commented on #1341
@nathanchance Our source is here https://github.com/OpenMandrivaAssociation/kernel-release
There you can find defconfig for this kernel build flavour:
https://github.com/OpenMandrivaAssociation/kernel-release/blob/master/x86_64-desktop-gcc-omv-defconfig

[2021-04-07 20:30] nickdesaulniers opened #1342 "fail nicer when clang-tidy isn't installed and `make clang-analyzer` is invoked"
via: https://lore.kernel.org/lkml/20210407190727.GN25319@zn.tnic/T/#m1aa816a19eb4f8b7ba2ddc082e8c3efe2c55b8c9
Suggested-by: Borislav Petkov <bp@alien8.de>

when trying to use clang's static analyzers to build the linux kernel via:
$ make LLVM=1 clang-analyzer

if the user doesn't have clang-tidy installed, their build will fail with a python trace.  We should be able to fail nicer with a clearer e

[2021-04-07 21:32] nathanchance opened #1343 "CFI violation in drivers/acpi/cppc_acpi.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210407213048.940498-1-nathan@kernel.org/

[2021-04-08 05:36] nathanchance opened #1344 "-Wframe-larger-than= in sound/core/control_led.c"
On multi_v7_defconfig:

[code]

[2021-04-08 05:52] nathanchance commented on #1344
I don't think that it is wrong?

The offending function was added in this commit: https://git.kernel.org/tiwai/sound/c/22d8de62f11b287b279f1d4473a78c7d5e53e7bc

The structures on the stack are defined as:

https://elixir.bootlin.com/linux/v5.12-rc6/source/include/uapi/sound/asound.h#L1017

[code]

I guess moving them off the stack and on to the heap would work:

[code]

unless anyone else has any

[2021-04-08 06:27] dileks commented on #1259
`LLVM` version `12.0.0-rc5` tagged.

Minor changes see [3].

[1] https://lists.llvm.org/pipermail/llvm-dev/2021-April/149653.html
[2] https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.0-rc5
[3] https://github.com/llvm/llvm-project/compare/llvmorg-12.0.0-rc4...llvmorg-12.0.0-rc5

[2021-04-08 15:20] samitolvanen commented on #1330
I see the same issue with `CONFIG_STATIC_CALL_SELFTEST`, which also uses static functions.

[2021-04-08 19:45] nathanchance commented on #1328
Patch sent to disable the warning for the one problematic translation unit: https://lore.kernel.org/r/20210408194458.501617-1-nathan@kernel.org/

[2021-04-08 19:48] jcai19 commented on #1328
cc @m-gupta

[2021-04-08 19:50] jcai19 commented on #1328
cc @cjdb

[2021-04-08 19:51] nathanchance commented on #1344
GCC 10.3.0 shows 992 bytes worth of stack usage:

[code]

[2021-04-08 21:18] samitolvanen commented on #1319
I added commit c64324916d6be72b188b923e60aabd62a52aab3d to the CFI tree. It's similar to Josh's patch, but looks up the symbol from the relocation in the jump table instead of relying on the name. It should fix this issue as well.

[2021-04-08 21:45] nathanchance commented on #1341
Appears to be caused by turning on `--icf=safe` by default. I broke down your LLD defaults patches into individual pieces and bisected them:

[code]

The second condition (`orc_size % sizeof(struct orc_entry) != 0`) is the one that is getting tripped over.

[2021-04-09 02:56] nickdesaulniers commented on #1319
@samitolvanen credit @dileks with a reported by tag and link to this issue?

[2021-04-09 03:11] nathanchance commented on #1355
This is reproducible with `tuxmake -a arm -k allmodconfig -r podman -t clang-nightly -w ccache LLVM=1 LLVM_IAS=1` on the latest `android-mainline` branch at https://android.googlesource.com/kernel/common.

However, if I build upstream LLVM at the hash that the current version of clang-nightly is built from ([`5f57793c4fe4`](https://github.com/llvm/llvm-project/commit/5f57793c4fe47aa3486a755768b431

[2021-04-09 04:19] nathanchance commented on #1355
One of these patches might be relevant?

https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/snapshot/debian/patches/clang-arm-default-vfp3-on-armv7a.patch

https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/snapshot/debian/patches/26-set-correct-float-abi.diff

https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/snapshot/debian/patches/930008-arm.diff

[2021-04-09 06:20] nathanchance commented on #1355
Yup, it's the first one: https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/snapshot/debian/patches/clang-arm-default-vfp3-on-armv7a.patch

which was added because of these two bugs:

https://bugs.debian.org/841474

https://bugs.debian.org/842142

In response to this patch in LLVM, which defaulted `armv7-a` to NEON.

https://github.com/llvm/llvm-project/commit/4adcb73933cd20268f85717950f

[2021-04-09 10:09] dileks commented on #1319
@samitolvanen @nickdesaulniers

Thanks for the patch.
All what I can say (like Forrest G.) when checking for all warnings:
[code]
All known warnings.

The good news:
The warning reported in this BR is gone.

The bad news:
I applied latest `clang-cfi` and can NOT boot on bare metal.
On top of my setup with identical custom patchset (includes latest net and some x86 stuff) which works with `clang-lt

[2021-04-09 11:00] dileks commented on #1319
The call-trace on my screen when booted on bare metal:
[code]
This loops and I see again above block.

If this is a different issue I can open a new issue.

[2021-04-09 11:11] dileks commented on #1319
I have generate a `vmlinux.map` with `CONFIG_VMLINUX_MAP=y`:
[code]

I can provide the full `vmlinux.map` file if desired.

[2021-04-09 11:24] nathanchance commented on #1319
Building with `CONFIG_CFI_PERMISSIVE=y` should make it easier to dump a dmesg for full analysis.

[2021-04-09 11:33] dileks commented on #1319
@nathanchance

Damn.
Yeah, I have `CONFIG_CFI_PERMISSIVE=n`.
Will retry...

[2021-04-09 16:58] dileks commented on #1319
NOPE on bare metal (same call-trace I typed manually ^^^) and NOPE with QEMU.

[2021-04-09 17:01] nathanchance commented on #1319
Do you have a config handy?

[2021-04-09 17:06] samitolvanen commented on #1319
This isn't the bug that the patch fixes, this one was caused by the incomplete earlier objtool workaround that's dropped now. Happy to credit Sedat for testing and reporting bugs, of course!

[2021-04-09 17:07] dileks commented on #1319
Here we go.

[config-5.12.0-rc6-6-amd64-clang12-cfi.txt](https://github.com/ClangBuiltLinux/linux/files/6287389/config-5.12.0-rc6-6-amd64-clang12-cfi.txt)
[start-build_5.12.0-rc6-6-amd64-clang12-cfi.txt](https://github.com/ClangBuiltLinux/linux/files/6287391/start-build_5.12.0-rc6-6-amd64-clang12-cfi.txt)
[v5.12-rc6..5.12.0-rc6-6-amd64-clang12-cfi.diff.gz](https://github.com/ClangBuiltLinux/linux/

[2021-04-09 17:11] samitolvanen commented on #1319
Thank you again for testing! This is most likely caused by CFI jump tables not being mapped with entry code anymore. If the kernel boots without PTI, or bringing back commit 98817a81b62561e8cd7e8b896cc2959647341044 fixes the boot issue, that would confirm it.

I'm guessing we need `function_nocfi()` in a few other places too, probably in ACPI code somewhere. See commit b4af5a96b020f10499cbbf46e3e6

[2021-04-09 17:17] dileks commented on #1319
Did not notice you dropped `[PATCH] x86: map CFI jump tables in pti_clone_entry_text`.

Hmmm, header file changed.

Complete new build for me.

[2021-04-09 17:20] dileks commented on #1319
Above applies cleanly.

Is `[PATCH] x86: avoid jump tables in IDT and entry points` mandory or optional?
It does not appy cleanly against latest clang-cfi Git.

[1] https://github.com/ClangBuiltLinux/linux/commit/b4af5a96b020f10499cbbf46e3e6ae39ec13565f.patch

[2021-04-09 17:20] samitolvanen commented on #1319
Yes, that was a temporary fix to allow x86 to boot with PTI + CFI, but mapping jump tables is not exactly ideal for security here. We also previously ended up storing jump table addresses in IDT and syscall entry point registers, which did work when the jump tables were mapped, but also hurt performance.

[2021-04-09 17:22] samitolvanen commented on #1319
Commit b4af5a96b020f10499cbbf46e3e6ae39ec13565f is part of the clang-cfi tree already. It's needed, so we don't need commit 98817a81b62561e8cd7e8b896cc2959647341044.

[2021-04-09 17:23] dileks commented on #1319
Before I build a new kernel I need clear instrucrions: Do I need both patches?

[2021-04-09 17:24] samitolvanen commented on #1319
Yes, please test with both patches. I suspect we are still pointing some entry point to the jump table, which means applying `x86: map CFI jump tables in pti_clone_entry_text` should fix the boot issue. If it doesn't, this is caused by something else.

[2021-04-09 17:26] dileks commented on #1319
OK, I see:
[code]

So, I only need `x86: map CFI jump tables in pti_clone_entry_text`.

[2021-04-09 17:51] nickdesaulniers opened #1345 "link register not saved/restored when clobbered via inline asm"
example: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2304364629?check_suite_focus=true#logs

Happens for both clang-13 and clang-12.  We're not testing clang-11 for that config, so either something slipped into both clang-12 and clang-13 recently that is only triggered on -next, or -next is broken.

[2021-04-09 17:54] nickdesaulniers opened #1346 "undefined symbol: __compiletime_assert_177 in firmware/stratix10-rsu.o"
32b arm allmodconfig/allyesconfig builds are failing with:
[code]

[2021-04-09 18:07] nathanchance commented on #1346
I just looked into this and was about to file an issue myself :)

Not a clang problem and should be fixed on latest -next:

https://lore.kernel.org/r/20210321184650.10926-1-krzysztof.kozlowski@canonical.com/

https://git.kernel.org/next/linux-next/c/38ad957b04c5c2c9effc6336365187dae1301051

[2021-04-09 18:07] #1346 closed, assigned to nobody

[2021-04-09 18:09] nathanchance commented on #1345
[code]

https://git.kernel.org/powerpc/c/48cf12d88969bd4238b8769767eb476970319d93

[2021-04-09 18:22] nickdesaulniers commented on #1355
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=841474#22 says:

armhf but it is optional in ARMv7 so LLVM is producing binaries that do
not work on ARMv7 CPUs that lack NEON.

https://github.com/llvm/llvm-project/commit/4adcb73933cd20268f85717950fe806f8df7ccc6#diff-239adc65a4d98655f5b95d1f6f72605518c540115d81e2198d7a360714ca5439R79-R86 shows that NEON is indeed not required for ARMv7, but can b

[2021-04-09 18:29] jrtc27 commented on #1355
A-class and M-class are entirely different. Debian's armel is armv5te and armhf is armv7 with VFPv3-D16 but optional NEON (https://wiki.debian.org/ArchitectureSpecificsMemo#armel).

[2021-04-09 19:06] rengolin commented on #1355
@jrtc27 is correct, do not pick `armv7-m` to mean either `armv7-a` or `armv6`. These are completely different things.

I believe [this](https://github.com/llvm/llvm-zorg/blob/main/buildbot/osuosl/master/config/builders.py#L362) is a buildbot that still uses the NVidia boards that don't have NEON, and the option is `-mfpu=vfpv3`. This will disable NEON on the build, but you have to keep the arch as

[2021-04-09 19:37] nickdesaulniers commented on #1355
Test case:
[code]
builds just fine with
[code]
but with Debian's diff
[code]
produces the error observed:
[code]

I'm not sure how we could build that (with additional compiler flags, or assembler source changes).

[2021-04-09 20:07] jrtc27 commented on #1355
Swap the order of the lines; `.arch` overrides whatever you just set with `.fpu`.

[2021-04-09 20:17] nathanchance commented on #1355
[code]

fixes the issue for me.

[2021-04-09 20:35] nickdesaulniers commented on #1355
Cool. @nathanchance you have the diff handy and did the debugging. Do you mind sending that as a kernel patch with @arndb 's reported by and @jrtc27 's suggested by?

[2021-04-09 20:49] nickdesaulniers commented on #1328
If creating an unaligned pointer is UB...

pointer is not correctly aligned) for the referenced type, the behavior is undefined.

I wonder if we should be detecting whether the address of the pointer is at runtime a multiple of the larger aligned type and casting else `memcpy`ing the unaligned struct to an aligned-alloc'ed struct of the larger alignment, then passing a pointer to that, then `free`

[2021-04-09 20:49] nathanchance commented on #1355
Sounds good, I will write up the patch now.

@jrtc27 is it okay that I include the `Suggested-by:` tag? If so, do you have a particular email you would like me to use?

[2021-04-09 20:59] jrtc27 commented on #1355
Sure; `Jessica Clarke <jrtc27@jrtc27.com>` is me.

[2021-04-09 21:24] nickdesaulniers commented on #1338
https://reviews.llvm.org/D100158

[2021-04-09 22:12] nathanchance commented on #1355
Patch submitted: https://lore.kernel.org/r/20210409221155.1113205-1-nathan@kernel.org/

[2021-04-09 23:03] dileks commented on #1319
@samitolvanen

With that patch applied I can boot.

[2021-04-10 02:48] nathanchance opened #1347 ""error: expected assembly-time absolute expression" in arch/arm64/kernel/entry.S"
From CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2310456680?check_suite_focus=true

In a similar manner to #1078, commit [`747aa9f8ebffa`](https://git.kernel.org/arm64/c/747aa9f8ebffa897c013ae745e52449406c48259) ("arm64: mte: Ensure TIF_MTE_ASYNC_FAULT is set atomically") in the arm64 tree breaks the integrated assembler:

[code]

Reading back through #1078, it seems it is

[2021-04-12 14:45] aik commented on #1332
Found some time to dig more. The problem section in the question is:
[code]
`lld` looks at `R_PPC64_REL14` and `1bd38`, decides `1bd38` does not fit 16bit and stops even though there is another relocation right next to it which is `R_PPC64_REL24`. The binutils' `ld` handles it though, the section looks pretty much the same there. Ideas? Or I am getting it all wrong? @MaskRay ? Thanks,

[2021-04-12 17:52] samitolvanen commented on #1319
Thanks for confirming!

The reason this fails to boot is that `CONFIG_XEN_PV` still points some interrupt handlers to the jump table. Disabling CFI for `kernel/paravirt.o` and `xen/enlighten_pv.o` (see commit ba0764bd9c57b35713908d3dca1ef5315e5de2b3) fixes the boot issue for me in qemu, but I suspect there still might be some CFI failures when one actually uses Xen.

@dileks please let me know if

[2021-04-12 17:58] nickdesaulniers opened #1348 "ICE in arch/arm64/kernel/syscall.c"
while looking into #1347, I'm also hitting a compiler crash `Failed to convert memory constraint code to constraint id`

[code]

[2021-04-12 19:03] samitolvanen commented on #1347
I don't believe this was ever completely fixed, because it wasn't entirely trivial due to the one-pass assembler design. Please correct me if I'm wrong @jcai19.

Your patch looks good to me. The `.org` statements are here only to ensure that the alternative sequences have the exact same length. Moving them into the subsection is perfectly fine, because they don't change anything in the binary.

[2021-04-12 20:36] nickdesaulniers commented on #1348
creduce:
[code]
Doesn't repro on godbolt.org, but perhaps that's because they don't have assertions enabled?

[2021-04-12 20:46] nickdesaulniers commented on #1348
seems to be from 39218ff4c625d cc @kees

[2021-04-12 20:48] nickdesaulniers commented on #1348
does
[code]
still retain the alloca?

[2021-04-12 21:23] jcai19 commented on #1347
Agreed. IAS represents a section as a link list of data blocks called fragments before finalizing it. https://reviews.llvm.org/D69411 only supports cases when .foo and .bar in .foo - .bar are both in the same fragment. My guess is that the two symbols in the reported failures are in different fragments, whose differences of offsets within the enclosing section may be subject to changes and therefo

[2021-04-12 21:31] nickdesaulniers commented on #1347
Reduced test case:
[code]

[2021-04-12 23:07] nickdesaulniers commented on #1338
https://reviews.llvm.org/rG4914c9836765532ffaec9c85bc57690dbdaeb50f

[2021-04-12 23:07] #1338 closed, assigned to nickdesaulniers

[2021-04-13 01:34] dileks commented on #1319
@samitolvanen

Yes, I can confirm I was able to build and boot on bare metal with latest `clang-cfi` up to `commit d90ea82de0bf ("kconfig: add LTO and CFI config fragments")`.
Thanks!

[2021-04-13 01:36] dileks commented on #1319
@samitolvanen

Feel free to add my `Tested-by: Sedat Dilek <sedat.dilek@gmail.com>` to `commit ba0764b`.

[2021-04-13 15:42] samitolvanen commented on #1319
Great, thank you for testing!

[2021-04-13 15:42] #1319 closed, assigned to nobody

[2021-04-13 17:59] nathanchance commented on #1343
Patch accepted: https://git.kernel.org/rafael/linux-pm/c/2bc6262c6117

[2021-04-13 18:15] nathanchance commented on #803
Patch accepted: https://git.kernel.org/riscv/c/7ad85ab93d03

[2021-04-13 18:16] nathanchance commented on #970
Patch accepted: https://git.kernel.org/riscv/c/7ad85ab93d03

[2021-04-13 19:05] nathanchance commented on #1347
Is it worth making that change everywhere that it might be relevant in the future or should I just send that patch as is (with an appropriate commit message)?

[2021-04-13 19:53] nickdesaulniers commented on #1347
The only other use I see is arch/riscv/include/asm/alternative-macros.h? Oh, arch/arm64/include/asm/alternative-macros.h also has that pattern in assembler macros (3 groups of 2 in total in that file). Probably worth making the same change for `alternative_insn` on L92-104 and `__ALTERNATIVE_CFG` on L46-61.  `__ALTERNATIVE_CFG` has a comment above it that the `.org` directives are meant to be more

[2021-04-13 20:18] nickdesaulniers commented on #1348
https://llvm.org/pr49956

[2021-04-13 20:40] nathanchance commented on #1344
Well someone else beat me to it: https://lore.kernel.org/r/20210404065929.52501-1-o-takashi@sakamocchi.jp/

[2021-04-13 21:10] nickdesaulniers commented on #1348
https://reviews.llvm.org/D100412

[2021-04-13 21:19] kees commented on #1348
Eek, yeah, sorry, "=r" doesn't work (see https://lore.kernel.org/lkml/202104011447.2E7F543@keescook/ )

This was building and testing fine for me with LLVM commit 0e94ba9d40d931fc1c647347302f39d24bd88d96 but I realize that was a while ago.

[2021-04-13 23:43] jcai19 opened #1349 "arch/arm64/kernel/vdso/gettimeofday.S in stable/linux-4.19.y failed to build with LLVM_IAS=1"
Building failed with the "error: too many positional arguments".

Steps for reproduce:
$ ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- make LLVM=1 LLVM_IAS=1 defconfig
$ ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- make -j32 LLVM=1 LLVM_IAS=1 V=1 arch/arm64/kernel/vdso/gettimeofday.o

arch/arm64/kernel/vdso/gettimeofday.S:230:24: error: too many positional arguments
 clock_gettime_return, shift=1

[2021-04-13 23:45] jcai19 commented on #1349
cc @nathanchance

It seems like IAS cannot parse the comma between macro name and arguments. The following diff fixed the problem.

[code]

[2021-04-13 23:48] nathanchance commented on #1349
This is "fixed" by the rewrite of the vDSO into C: https://git.kernel.org/linus/28b1a824a4f44da46983cd2c3249f910bd4b797b

That diff seems fine to carry downstream if you do not want to do something similar to Android (which was a pretty massive backport series): https://android-review.googlesource.com/c/kernel/common/+/1294668

[2021-04-14 00:02] jcai19 commented on #1349
@m-gupta @groeck

Ah I see! Thanks for the link. The backports do look massive. Edited: I sent a patch for stable 4.19 branch: https://lore.kernel.org/stable/CA+SOCLL28Hej9zMmKJpU5vffVGviDo59uG=kWm0zPtCyZodR5g@mail.gmail.com/T/#t

[2021-04-14 00:09] nathanchance commented on #1347
Patch submitted: https://lore.kernel.org/r/20210414000803.662534-1-nathan@kernel.org/

[2021-04-14 01:00] jcai19 commented on #1347
In the repo from https://github.com/ClangBuiltLinux/linux/issues/1347#issuecomment-818257147, .subsection creates a new subsection and pushes it onto the top of subsection stack, and then .previous swaps the then top subsection before the .subsection call back, and therefore label 661 locates in a different subsection from 662, 663 and 664. The differences of labels in different subsections are no

[2021-04-14 16:21] nathanchance commented on #1268
Accepted: https://git.kernel.org/riscv/linux/c/2c475caf72f37c565c03c2f6b9b9e86ec29932e2

[2021-04-14 16:22] nathanchance commented on #1331
Linux kernel patches accepted:

https://git.kernel.org/riscv/c/c7f5f5e5b4026b69acf9ae2b92e86edfba9f7750
https://git.kernel.org/riscv/c/f426c499144676eda4f74c21b2de325eb9ea5737

[2021-04-15 00:12] nathanchance opened #1350 "CFI violations in arch/x86/events/amd"
[code]

Patches sent: https://lore.kernel.org/r/20210415001112.3024673-1-nathan@kernel.org/

[2021-04-15 12:38] aik commented on #1332
Turns out the problem with LLVM + IAS + LTO and having conditional branches (`bc` instruction) in the `FTR_SECTION_ELSE` sections (runtime code patching for various features). Despite the best effort to keep `.rela__ftr_alt_97` close to `.text`, it fails to link. Using unconditional branches instead works, or disabling LTO. LLVM + IAS still link with no problem.

This is a workaround: https://gith

[2021-04-15 15:29] nathanchance opened #1351 "-Wshift-count-overflow in drivers/gpu/drm/tegra/hub.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210415152913.1363964-1-nathan@kernel.org/

[2021-04-15 16:05] nathanchance commented on #1351
Patch accepted: https://cgit.freedesktop.org/tegra/linux/commit/?id=c79184a9c029dbbc0b37279c9cb7a6ac57461654

[2021-04-15 16:30] nickdesaulniers commented on #1332
Any idea which section is too large? Perhaps add some logging to LLD?

[2021-04-15 18:03] nickdesaulniers commented on #1347
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git/commit/?id=22315a2296f4

[2021-04-15 19:48] nathanchance commented on #1348
We are going to need something on the kernel side to handle this as well, all arm64 configs are going to be broken with LLVM 12 and older :(

[2021-04-15 19:54] kees commented on #1348
Agreed, but it's only a problem for non-release builds. Which distros ship assert-builds?

[2021-04-15 19:55] kees commented on #1348
Regardless, Nick and I worked out a fix. I'll get it sent if he doesn't beat me to it.

[2021-04-15 20:07] nathanchance commented on #1348
Ah, fair. I do release builds with assertions enabled to catch problems like this :)

However, I guess that would be that the `o` constraint will not be handled properly silently, which is not really good either.

[2021-04-16 05:49] aik commented on #1332
It is not a section, it is specific relocations within the FTR code patching section, the relocation type is shorter than the offset. I am not sure why the message is like this.

If you look at the workaround above (02ce321), one example is:
[code]
The `nop` goes right to .text as normal but the alternative code for specific feature set - `bne	.Ldst_unaligned` goes to .rela__ftr_alt_97. `ld` or `l

[2021-04-16 14:40] dileks commented on #1259
`LLVM` version `12.0.0` final released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.0
[2] https://lists.llvm.org/pipermail/llvm-announce/2021-April/000092.html

Update 17-Apr-2021: Add link to official announcement.

[2021-04-16 20:12] nathanchance commented on #1351
Fixed: https://git.kernel.org/next/linux-next/c/c79184a9c029

[2021-04-16 20:12] #1351 closed, assigned to nathanchance

[2021-04-16 20:14] nathanchance commented on #1350
Accepted:

https://git.kernel.org/tip/de5bc7b425d4c27ae5faa00ea7eb6b9780b9a355
https://git.kernel.org/tip/5deac80d4571dffb51f452f0027979d72259a1b9

[2021-04-16 20:15] nathanchance commented on #1347
Merged into mainline: https://git.kernel.org/torvalds/c/22315a2296f4

[2021-04-16 20:15] #1347 closed, assigned to nobody

[2021-04-17 03:33] telans opened #1352 "[LTO] objtool: unsupported stack pointer realignment"
[code]

With `make LLVM=1 LLVM_IAS=1 -j17`
Building 5.12-rc7 with LLVM and friends 12.0.0
Using a custom `.config` that suits my needs. I only see these when using either Thin LTO or Full LTO

[.config](https://github.com/ClangBuiltLinux/linux/files/6328566/default.config.txt)

[2021-04-17 03:33] telans commented on #1239
[code]

With `make LLVM=1 LLVM_IAS=1 -j17`
Building 5.12-rc7 with LLVM and friends 12.0.0
Using a custom `.config` that suits my needs. I only see this when using either Thin LTO or Full LTO

[.config](https://github.com/ClangBuiltLinux/linux/files/6328566/default.config.txt)

[2021-04-17 03:38] dileks commented on #1352
AFAICS, that is a duplicate but I cannot find the origin CBL bug-no.

Try @jpoimboe `objtool-crypto` Git see [1].

I tried with Linux `v5.12-rc7` and LLVM toolchain `v12.0.0` final successfully.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/jpoimboe/linux.git/log/?h=objtool-crypto

[2021-04-17 03:41] dileks commented on #1352
@telans

That Git tree is what I have in my latest custom patchset to fix these warnings.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/jpoimboe/linux.git/log/?h=objtool/core

[2021-04-17 03:59] telans commented on #1352
Confirmed, thanks. Sorry for the noise. I assume this will be merged sometime soon? I'm not familiar with the kernel patch/branch workflow

Should this be labelled `[PATCH] Accepted` or should I just close the issue?

[2021-04-17 04:40] nathanchance commented on #1352
That thread might need to be pinged, I do not see that patchset in [linux-next](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/) or [tip](https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/).

[2021-04-17 04:47] telans commented on #1239
The above disappeared after applying the commits listed in https://github.com/ClangBuiltLinux/linux/issues/1352#issuecomment-821759382

[2021-04-17 13:26] dileks commented on #1352
@telans
Yes, this is with Clang-ThinLTO.

@nathanchance
I have this stuff approx. 6 weeks in my custom patchset, but was not aware this is not in tip-x86 or linux-next Git.

@jpoimboe
What is your plan with your `objtool-crypto` fixes?

[2021-04-19 16:06] jpoimboe commented on #1352
Thanks for the reminder, we'll try to get the objtool crypto patches in for the upcoming 5.13 merge window.

[2021-04-19 18:20] nickdesaulniers commented on #1348
https://reviews.llvm.org/rGbb7016f8f50e1f1b8d388a9a42e3a7bb51254ca2 (clang-13)

[2021-04-20 01:11] nickdesaulniers commented on #1348
submitted: https://lore.kernel.org/lkml/20210419231741.4084415-1-keescook@chromium.org/T/#u

[2021-04-20 14:47] dileks commented on #1352
@jpoimboe

Cool, Thanks.

[2021-04-20 14:50] dileks commented on #1352
Nice update in <tip.git#objtool/core>.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/log/?h=objtool/core

[2021-04-20 19:07] samitolvanen opened #1353 "CFI: Add a compiler built-in that returns the actual address of a function"
With `-fno-sanitize-cfi-canonical-jump-tables`, the compiler replaces function references with references to the CFI jump table. This is problematic when we want to initialize global variables with actual function addresses, such as in `arch/x86/kernel/idt.c`. Currently, the only solution is to disable CFI for the entire translation unit. Elsewhere in code, we can alternatively use inline assembly

[2021-04-20 19:24] samitolvanen commented on #1330
Looks like marking these global isn't an option: https://lore.kernel.org/lkml/878s5hu5mx.ffs@nanos.tec.linutronix.de/

[2021-04-20 19:25] samitolvanen opened #1354 "CFI: Fix inline assembly references to static functions"
With ThinLTO+CFI, the compiler renames all static functions because it relies on unique names to build the jump table. This breaks inline assembly code that refers to these functions by name. In some cases we can work around the issue by marking the function global, or by adding a global wrapper with a stable name, but sometimes neither of these workarounds are acceptable to upstream maintainers (

[2021-04-20 19:39] kees commented on #1353
Yeah, this would likely clear the way for x86 CFI. Right now, it's a hard blocker. :(
https://lore.kernel.org/lkml/CALCETrWUS52tzLNiWL5sAVVB5-ko1EW73-TEiO=eZ5jF_QyGPQ@mail.gmail.com/

[2021-04-21 01:50] nickdesaulniers commented on #289
https://reviews.llvm.org/D100919

[2021-04-21 18:22] nickdesaulniers commented on #1355
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/herbert/cryptodev-2.6.git/commit/?id=44200f2d9b8b52389c70e6c7bbe51e0dc6eaf938

[2021-04-22 03:50] MaskRay commented on #1238
Created https://reviews.llvm.org/D101016 for this (asan) and #1236 (tsan).

I'll fix gcov (#955) as well once D101016 is accepted.

[2021-04-22 06:19] nickdesaulniers commented on #1236
submitted: https://reviews.llvm.org/D101016

[2021-04-22 08:31] arndb commented on #1333
Are you able to reproduce the problem with a kernel running in qemu?

[2021-04-22 08:59] pcercuei commented on #1333
@arndb let me try that and get back to you.

[2021-04-22 10:30] pcercuei commented on #1333
@arndb qemu seems to boot the `vmlinuz` correctly. Unfortunately I don't think qemu supports booting a `vmlinuz.bin`.

[2021-04-22 16:10] nickdesaulniers commented on #20
Clearing assignees in case someone else wants to pick this up.

[2021-04-22 16:23] nickdesaulniers commented on #39
For x86_64, defconfig+kasan wasn't enough to produce any instances of this warning. Same for allyesconfig. Perhaps this is still visible with another target ARCH?

[2021-04-22 16:31] nickdesaulniers commented on #92
@arndb sent a workaround in https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b27aca2e555f87d384cdf60059dd1a1b61c215ef, but we can still repro with that reverted for ARCH=arm allyesconfig if we revert that, so this is still an issue.

[2021-04-22 16:37] nickdesaulniers commented on #236
Hey @GustavoARSilva are you still working on this? I'm clearing the assignees list for now but it is still very much reproducible by moving the `KBUILD_CFLAGS += $(call cc-option,-Wimplicit-fallthrough,)` line in the top level Makefile outside of any compiler guards.

[2021-04-22 16:44] nickdesaulniers commented on #252
With 9c87156cce5a63735d1218f0096a65c50a7a32aa reverted, I cannot reproduce the issue with arch/powerpc/xmon/xmon.o for a defconfig build.  We should consider if reverting 9c87156cce5a63735d1218f0096a65c50a7a32aa is worthwhile.

$ git revert 9c87156cce5a63735d1218f0096a65c50a7a32aa
$ ARCH=powerpc CROSS_COMPILE=powerpc64le-linux-gnu- make CC=clang -j71 defconfig all

[2021-04-22 16:47] nickdesaulniers commented on #664
This is still visible with `ARCH=powerpc CROSS_COMPILE=powerpc64le-linux-gnu- make CC=clang -j71 defconfig`. Clearing assignee for now.

[2021-04-22 16:50] nickdesaulniers commented on #325
Closing for now; if this is easily reproducible we should try to get a bug report to the BFD devs.

[2021-04-22 16:54] nickdesaulniers commented on #263
The [test case](https://godbolt.org/z/M68M7bfP7) from the bug is still reproducible in LLVM at c440b97d89994feb965a9026bc121d154f7b4584. Leaving open.

[2021-04-22 17:02] nickdesaulniers commented on #283
Not sure we plan to revisit this.

[2021-04-22 17:05] nathanchance commented on #371
Arnd's reproducer is still valid at https://github.com/llvm/llvm-project/commit/362958ac7346ba3539f819e9fe93d2529caad1e8.

[code]

GCC 10.2.0 shows no issue with that file.

[code]

[2021-04-22 17:06] nickdesaulniers commented on #343
I think if the earlier patch was wrapped in a guard for `CC_OPTIMIZE_FOR_SIZE` that might be a nice patch.

[2021-04-22 17:22] nathanchance commented on #374
[code]

shows that clang is being used so closing this issue. We can open individual issues for the errors that we see.

[2021-04-22 17:22] #374 closed

[2021-04-22 17:25] nickdesaulniers commented on #378
If I remove `KBUILD_CFLAGS += -Wno-format` from scripts/Makefile.extrawarn, I can repro, though for x86_64 defconfig, there's only 2 cases (net/ipv6/ah6.c:710, net/ipv6/esp6.c:1153)! But there are a lot more for ARCH=arm64 defconfig.

[2021-04-22 17:29] nickdesaulniers commented on #432
I don't think is specific to LLVM; it might be a nice feature for the kernel, but I think it will take some time before the kernel can stop checking for .gnu.link_once.this_module.

[2021-04-22 17:29] #432 closed

[2021-04-22 18:11] nickdesaulniers commented on #563
@glaubitz noted this is easily reproducible with pmac32_defconfig.

Right, clang does not have `__builtin_vec_xor`: https://godbolt.org/z/h54eM7EMd

Instead, it defines multiple implementations of vec_xor using `__attribute__((__overloadable__))`. Not sure why the other functions here like `__xor_altivec_4` seem to use much less stack space quite yet.

[2021-04-22 18:22] nickdesaulniers commented on #602
@q66 was there a thread for the upstream discussions that you can link to? This is still reproducible with `ARCH=powerpc CROSS_COMPILE=powerpc64le-linux-gnu- make CC=clang LD=ld.lld -j71 pseries_defconfig all`; we may want to send a revised version of @nathanchance 's patch for now.

[2021-04-22 18:28] nathanchance commented on #618
I see `drivers/firmware/efi/libstub/Makefile`, some folders within `arch/s390`, and and some within `arch/x86` that are full blow aways; most of the other ones are filtering. Given that we have not run into this recently aside from the link I posted above, I am going to close this out. We can reopen if we get bit by it again.

[2021-04-22 18:28] #618 closed

[2021-04-22 18:31] glaubitz commented on #1242
This is still reproducible:

[code]

Strangely, I cannot create the pre-processed source in this case:

[code]

[2021-04-22 18:37] GustavoARSilva commented on #236
On 4/22/21 11:38, Nick Desaulniers wrote:

Yeah; actually I've been working on that this week. I resent a bunch o patches and send out
new ones. After all of them are applied, there will be only 17 instances of this issue
in next-20210420. So, I'll continue shepherding patches and will soon address those 17
instances in linux-next.

--
Gustavo

[2021-04-22 18:40] GustavoARSilva commented on #236
BTW, I've been keeping track of this in the following issue: https://github.com/KSPP/linux/issues/115

[2021-04-22 18:56] nickdesaulniers commented on #570
Looking at one example, `kernel/futex.c:#if CONFIG_BASE_SMALL`: https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/kernel/futex.c#L4045-L4049

It seems that this is always defined; for defconfigs I see:
[code]
so that case is fine. See it's kconfig: https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/init/Kconfig#L2043-L2046.

[2021-04-22 19:03] glaubitz commented on #1242
[devicetable-offsets.i.txt](https://github.com/ClangBuiltLinux/linux/files/6360658/devicetable-offsets.i.txt)

[2021-04-22 19:05] nickdesaulniers commented on #570
Sent https://lore.kernel.org/lkml/20210422190450.3903999-1-ndesaulniers@google.com/T/#u for x86. Will post a fix for CONFIG_EEH, too.

[2021-04-22 19:16] nickdesaulniers commented on #570
CONFIG_EEH can't be disabled for this file, so it's not possible to get an error out of is.

[2021-04-22 19:56] nickdesaulniers commented on #570
But the else case can probably be deleted.

Menuconfig for CONFIG_EEH:
  x   Depends on: (PPC_POWERNV [=y] || PPC_PSERIES [=n]) && PCI [=y])

Sent: https://lore.kernel.org/linuxppc-dev/20210422195405.4053917-1-ndesaulniers@google.com/

[2021-04-22 20:05] nickdesaulniers commented on #646
no
[code]
0 day bot has also reported this a few times:
https://lore.kernel.org/lkml/202101081525.Gpv8oFGf-lkp@intel.com/

[2021-04-22 20:06] nickdesaulniers commented on #656
Sorry, I don't think any contributors have aarch64 hosts yet to begin to attempt to reproduce. Perhaps we will have some M1 macbooks running linux soon to test with. Closing for now.

[2021-04-22 20:06] #656 closed

[2021-04-22 20:13] nickdesaulniers commented on #672
[code]
is probably a better patch, though there are many more issues with LLVM_IAS=1 for ppc using [the above commands](https://github.com/ClangBuiltLinux/linux/issues/672#issuecomment-747708570). Though it's not clear to me yet if clang _should_ accept -Wa,-mpower4.

[2021-04-22 20:16] nickdesaulniers commented on #675
still reproducible with:
`ARCH=powerpc CROSS_COMPILE=powerpc64le-linux-gnu- make CC=clang LLVM_IAS=1 -j71 ppc44x_defconfig all`

[2021-04-22 20:20] nathanchance commented on #479
This is still relevant.

Looks like @nickdesaulniers worked around this in Android with https://android.googlesource.com/kernel/common/+/537c1df08e0bc4d9e7d139539d85343f88db0bf8 because Masahiro would [not accept it](https://lore.kernel.org/r/CAK7LNAT9KN4dBgyuXqoiFbP_Sa335DahudshJTjcK354=QpBLQ@mail.gmail.com/).

I think the path of least resistance forward is sending my diff above that adds `$(HOS

[2021-04-22 20:26] nickdesaulniers commented on #621
Still an issue, reported upstream: https://llvm.org/pr50080,

[2021-04-22 20:31] nickdesaulniers commented on #1224
still reproducible with llvm @ c440b97d89994feb965a9026bc121d154f7b4584.

[2021-04-22 20:37] nathanchance commented on #691
I cannot reproduce this on Linux @ https://git.kernel.org/linus/16fc44d6387e260f4932e9248b985837324705d8 with LLVM @ https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d

[code]

Feel free to reopen with steps to reproduce if it is still visible.

[2021-04-22 20:40] nickdesaulniers commented on #1242
[code]
[code]

[2021-04-22 20:44] nathanchance commented on #692
I cannot reproduce this on Linux @ https://git.kernel.org/linus/16fc44d6387e260f4932e9248b985837324705d8 with LLVM @ https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d.

[code]

Feel free to reopen with steps to reproduce if it is still visible.

[2021-04-22 20:47] nickdesaulniers commented on #1242
[code]
works, so it must be the `%0`. Yeah:
[code]

[2021-04-22 20:51] nickdesaulniers commented on #679
still reproducible in godbolt, reminiscent of https://github.com/ClangBuiltLinux/linux/issues/621#issuecomment-825162068.

[2021-04-22 20:53] nathanchance commented on #691
Sorry, I realized that `CONFIG_FRAME_WARN` is set to 0 in that config. This reproduces:

[code]

[2021-04-22 21:04] nathanchance commented on #691
Running the object file through [`frame-larger-than.py`](https://github.com/ClangBuiltLinux/frame-larger-than):

[code]

[2021-04-22 21:15] nathanchance commented on #692
Sorry, I realized that `CONFIG_FRAME_WARN` is set to 0 in that config. This reproduces:

[code]

Running the object file through [`frame-larger-than.py`](https://github.com/ClangBuiltLinux/frame-larger-than):

[code]

[2021-04-22 21:23] nickdesaulniers commented on #699
Thank you for submitting this bug report.  I'm not able to reproduce
it using llvm @ c440b97d89994feb965a9026bc121d154f7b4584 and linux at 16fc44d6387e260f4932e9248b985837324705d8 using the following commands:
[code]

Therefore, I am closing this bug report as obsolete; please feel free
to reopen with additional steps to reproduce beyond what was attempted
above.

[2021-04-22 21:23] #699 closed

[2021-04-22 21:42] nickdesaulniers commented on #701
I can't seem to be able to reproduce this anymore.

Thank you for submitting this bug report.  I'm not able to reproduce
it using llvm @ c440b97d89994feb965a9026bc121d154f7b4584 and linux @ 16fc44d6387e260f4932e9248b985837324705d8 using the following commands:
[code]

Therefore, I am closing this bug report as obsolete; please feel free
to reopen with additional steps to reproduce beyond what was

[2021-04-22 21:42] #701 closed

[2021-04-22 21:43] nickdesaulniers commented on #728
closing for now; feel free to keep the discussion going in this thread though.

[2021-04-22 21:43] #728 closed

[2021-04-22 21:46] nickdesaulniers commented on #739
See this thread: https://lore.kernel.org/lkml/YH6AaBY5A+x2pmqI@hirez.programming.kicks-ass.net/

Sounds like maintainers are ok making `int3_magic` defined in asm for v2 of x86 CFI support.

[2021-04-22 21:48] nathanchance commented on #693
Still reproducible with Linux @ https://git.kernel.org/linus/16fc44d6387e260f4932e9248b985837324705d8 and LLVM @ https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d.

[code]

Running the object file through [`frame-larger-than.py`](https://github.com/ClangBuiltLinux/frame-larger-than):

[code]

[2021-04-22 21:56] samitolvanen commented on #739
As `int3_magic()` isn't called from C code, it might be better to just change the C declaration to something like `extern u8 int3_magic[];` and void issues with CFI altogether.

[2021-04-22 21:57] nickdesaulniers commented on #741
Thank you for submitting this bug report.  I'm not able to reproduce
it using llvm @ c440b97d89994feb965a9026bc121d154f7b4584 using the following commands:
[code]
Therefore, I am closing this bug report as obsolete; please feel free
to reopen with additional steps to reproduce beyond what was attempted above (or if the CFI series is carrying a workaround for this).

[2021-04-22 21:57] #741 closed

[2021-04-22 21:59] nathanchance commented on #694
Still reproducible with Linux @ https://git.kernel.org/linus/16fc44d6387e260f4932e9248b985837324705d8 and LLVM @ https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d.

[code]

Running the object file through [`frame-larger-than.py`](https://github.com/ClangBuiltLinux/frame-larger-than):

[code]

[2021-04-22 22:13] nickdesaulniers commented on #759
sent a post to our [mailing list](https://groups.google.com/g/clang-built-linux/c/OvG71CL1KWc), linux-arch@vger.kernel.org, and linux-hexagon@vger.kernel.org asking if anyone was planning to support this.

[2021-04-22 22:13] nathanchance commented on #695
Still reproducible with Linux @ https://git.kernel.org/linus/16fc44d6387e260f4932e9248b985837324705d8 and LLVM @ https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d.

[code]

Running the object file through [`frame-larger-than.py`](https://github.com/ClangBuiltLinux/frame-larger-than):

[code]

[2021-04-22 22:13] jcai19 commented on #1329
Close it for now as I'm not aware of anyone building 4.19 on 32-bit ARM with Clang's integrated assembler.

[2021-04-22 22:13] #1329 closed, assigned to jcai19

[2021-04-22 22:17] nickdesaulniers commented on #763
Reproducible still with:
[code]

[2021-04-22 22:19] nathanchance commented on #774
This is still relevant but judging from Nick's patch series above, I think this would require a pretty significant rewrite of the PowerPC vDSO Makefiles.

[2021-04-22 22:34] nathanchance commented on #836
This should be fixed by https://git.kernel.org/linus/198688edbf77c6fc0e65f5d062f810d83d090166. There is a follow-up fix pending but it will keep everything working: https://lore.kernel.org/r/1617359240-16609-1-git-send-email-yangtiezhu@loongson.cn/.

[2021-04-22 22:34] #836 closed

[2021-04-22 22:36] nathanchance commented on #851
Still relevant but marking low priority for now because this cannot be reproduced without `-DCLANG_DEFAULT_LINKER=lld` passed to `cmake` at LLVM build time or #774 resolved.

[2021-04-22 22:39] nathanchance commented on #851
Actually, this was resolved with https://git.kernel.org/linus/49bf59fd0371b1053a17021f27605f43071584ee so closing.

[2021-04-22 22:39] #851 closed

[2021-04-22 22:45] nickdesaulniers commented on #774
So Christophe had [mentioned](https://lore.kernel.org/lkml/b2066ccd-2b81-6032-08e3-41105b400f75@csgroup.eu/) that my series would crash BFD 2.26. @nathanchance [mentioned](https://lore.kernel.org/lkml/20200902052123.GA2687902@ubuntu-n2-xlarge-x86/) an issue with ppc44x_defconfig that I was not able to reproduce.

Seems like this was worked around in
commit 4c62285439f8 ("Revert "powerpc/build: vds

[2021-04-22 22:46] nathanchance commented on #859
The warnings are still present but the build does not error:

[code]

Might mean the check might not be working properly?

[2021-04-22 23:09] nickdesaulniers commented on #876
I've submitted Al's diff as a formal patch: https://lore.kernel.org/lkml/20210422230846.1756380-1-ndesaulniers@google.com/T/#u

[2021-04-22 23:15] jcai19 commented on #1064
I tried to reproduce this issue with following commands but ran into different issues. Are the commands correct?

ARCH=powerpc CROSS_COMPILE=powerpc64le-linux-gnu- LLVM=1 O=out.powerpc64le make distclean ppc64le_defconfig zImage.epapr
  ARCH=powerpc CROSS_COMPILE=powerpc64le-linux-gnu- LLVM=1 O=out.powerpc64le make

[2021-04-22 23:15] nathanchance commented on #870
`arch/s390/kernel/vdso64/clock_getres.S` does not exist after https://git.kernel.org/linus/4bff8cb5450287e246d365b719148b2d9364c292.

I do not see the second error in my build logs

[code]

However, it is safe to say there is a decent amount of work ahead for the integrated assembler on s390:

[code]

I will file a new issue for the most common one then we can go from there. Closing this up for no

[2021-04-22 23:15] #870 closed

[2021-04-22 23:19] nickdesaulniers commented on #877
I can still reproduce this issue. We could convert `korina_cnfg_regs` to be `unsigned long long`, but the use of it to assign to `struct pci_reg.pcicfgd` would need to be changed as well. Probably should reach out to the author of
commit 73b4390fb2345 ("[MIPS] Routerboard 532: Support for base system")

[2021-04-22 23:22] nickdesaulniers commented on #880
fixed by commit 163e0c27fead96fd6804fa59a55fc4f841d38db8 ("kconfig: remove redundant assignment prompt = prompt") in v5.9-rc4.

[2021-04-22 23:22] #880 closed

[2021-04-22 23:33] nathanchance commented on #1064
It does not look like this is reproducible anymore (the warnings are tracked as #1328 and #664 [lol 664 * 2 is 1328])

[code]

Looks like it was "fixed" by https://git.kernel.org/linus/d6d6ebfc5dbb4008be21baa4ec2ad45606578966.

@jcai19 you probably ran into #811 with that config.

[2021-04-22 23:33] #1064 closed

[2021-04-22 23:34] nickdesaulniers commented on #881
Not able to reproduce with `ARCH=mips CROSS_COMPILE=mipsel-linux-gnu- make CC=clang -j72 32r1_defconfig all`.  @tpimh do you recall which 64b mips config you observed this with? I tested:

- 64r1_defconfig
- 64r1el_defconfig
- 64r2_defconfig
- 64r2el_defconfig
- 64r6_defconfig
- 64r6el_defconfig

but failed to reproduce. Please reopen if you can recall.

[2021-04-22 23:34] #881 closed

[2021-04-22 23:37] jcai19 commented on #1283
Thank you for submitting this bug report.  I'm not able to reproduce
it using llvm ed1734931aa9ac074b9430b9e643b0d0a67b3227 and kernel 90c911ad7445ccec9936763f05fa5db6a3da53be using the following commands:
ARCH=arm CROSS_COMPILE=armv7a-linux-gnueabihf- make LLVM=1 LLVM_IAS=1 defconfig V=1
ARCH=arm CROSS_COMPILE=armv7a-linux-gnueabihf- make -j32 LLVM=1 LLVM_IAS=1 V=1 arch/arm/mach-at91

Therefore,

[2021-04-22 23:37] #1283 closed, assigned to nobody

[2021-04-22 23:40] nathanchance opened #1356 "s390: Issue around the ALTERNATIVE macro with integrated-as"
I see several warnings originating from [`arch/s390/include/asm/alternative.h`](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/s390/include/asm/alternative.h?h=v5.12-rc8) when building s390 with the integrated assembler:

[code]

cc @uweigand

[2021-04-22 23:41] nickdesaulniers commented on #882
I'm able to reproduce this:
[code]
[code]

[2021-04-22 23:43] nickdesaulniers commented on #883
perhaps similar to #881 ; do you recall which configs were necessary to repro?

[2021-04-22 23:43] #883 closed

[2021-04-22 23:46] nathanchance commented on #906
This is still reproducible on linux-next when targeting `kselftest`:

[code]

[2021-04-22 23:47] nickdesaulniers commented on #917
Fixed in
commit f3fa0efce2e76 (" efi/libstub/x86: Deal with exit() boot service returning")
in v5.7-rc1.

[2021-04-22 23:47] #917 closed

[2021-04-22 23:49] nathanchance commented on #907
Current solution: https://lore.kernel.org/lkml/20210408182843.1754385-6-samitolvanen@google.com/

Will the invasive changes ever come or is it worth closing this up?

[2021-04-22 23:55] nickdesaulniers commented on #921
literally just `clang  --target=arm-linux-gnueabihf -march=armv3m -c foo.c ` on an empty C file prints that warning 8 times.

[2021-04-22 23:56] nickdesaulniers commented on #921
using -march=armv4m prints the error: clang-13: error: the clang compiler does not support '-march=armv4m'

[2021-04-22 23:57] nickdesaulniers commented on #945
still reproducible, will need a fix in LLVM I suppose; shouldn't be merging 2b accesses into memset IIRC. (see lore thread from #876 perhaps).

[2021-04-23 00:00] jcai19 commented on #1276
Shall we remove the integrated-as label since IAS probably won't support XScale any time soon (https://github.com/ClangBuiltLinux/linux/issues/975)?

[2021-04-23 00:01] nickdesaulniers commented on #946
I wasn't able to reproduce this with linux @ 16fc44d6387e260f4932e9248b985837324705d8 via:
[code]

[2021-04-23 00:01] #946 closed

[2021-04-23 00:06] jcai19 commented on #1029
Removing integrated-as label as this sounds like should be fixed in the kernel. Please feel free to add it back if I'm not correct.

[2021-04-23 00:08] nathanchance commented on #923
Still reproducible on linux-next with ToT LLVM:

[code]

[2021-04-23 00:42] MaskRay commented on #1029
The kernel code which assumes there can only be `__patchable_function_entries` should be fixed.

Multiple `__patchable_function_entries` sections with `SHF_LINK_ORDER` are necessary to make `ld --gc-sections` work (`LD_DEAD_CODE_DATA_ELIMINATION`).

With either -fintegrated-as or -fbinutils-version=2.36 (and above), `clang -fpatchable-function-entry=N[,M]` sets the SHF_LINK_ORDER flag and emits mu

[2021-04-23 01:07] #1236 closed

[2021-04-23 01:07] #1238 closed

[2021-04-23 01:49] nickdesaulniers commented on #691
strange, thats only like 836B reported by the tool, yet the compiler reported 1500B. I wonder what the disassembly would say?

[2021-04-23 01:50] nickdesaulniers commented on #692
this time the tool is reporting > 2,464B while the compiler is reporting 1752; I wonder what the disassembly says?

[2021-04-23 01:51] nickdesaulniers commented on #693
death by a thousand cuts

[2021-04-23 01:52] nickdesaulniers commented on #836
HTTP 404 on that first link @nathanchance

[2021-04-23 01:55] nickdesaulniers commented on #859
Does the error string `"error: section $* differs between $< and $(word 2,$^)"` print and show which object files are being compared?

[2021-04-23 02:47] rupprecht commented on #859
I'm not sure what the original error was. The warning seems benign (should not be firing) but should be fixed. Filed as http://llvm.org/PR50085.

It looks like the warning for `-j` only fires correctly for certain flags. We keep track of which sections we "see" in different flags (e.g. `-h`), but for `-t`, we print the symbol table, we don't iterate over any sections -- so in a sense we never "saw

[2021-04-23 03:31] nathanchance commented on #836
Thanks, fixed.

[2021-04-23 03:38] MaskRay commented on #955
Patch https://reviews.llvm.org/D101129: this fixes `-fno-exceptions -fno-asynchronous-unwind-tables -g` as well.

[2021-04-23 08:28] gctucker commented on #374
FYI we now have separate build steps working on staging, here's a sample kselftest log:
https://storage.staging.kernelci.org/kernelci/staging-mainline/staging-mainline-20210423.0/x86_64/x86_64_defconfig+kselftest/clang-10/logs/kselftest.log

This should get enabled in production by the end of the month.  We could then look into generating a kselftest special email report with both build and runtim

[2021-04-23 08:59] uweigand commented on #1356
Here's a reduced test case:
[code]

The problem here is that the LLVM integrated assembler does not evaluate symbolic differences **when used as inline asm**.  Note that when clang is used to assemble an asm source file, this is handled correctly.  This behavior was apparently intended, see the comment from when that feature was originally introduced (https://reviews.llvm.org/rG6c0665e22174d474050

[2021-04-23 09:13] arndb commented on #1276
It should be a trivial fix to either change the kernel with the patch I suggested above, or to have IAS treat XScale as an alias for armv5te.

I don't think there is anything the kernel cares about in what gas considers xscale as opposed to standard armv5te. The iwmmxt support mentioned in #975 is an optional feature of both xscale and pj4, but most xscale processors don't actually support it if I

[2021-04-23 09:35] dileks opened #1357 "llvm-NN-linker-tools Debian package"
@sylvestre

As you know the ClangBuiltLinux infrastructure uses Debian and/or packages from <apt.llvm.org> to do CI testing and builds.

For x86-64 I see there is a new package called `llvm-12-linker-tools` which contains `libLTO.so.12` (see [1]):
[code]

The changelog in [2] says:
[code]

What does this mean especially to people wanting to build with `Clang-(Thin)LTO` support?

Note: There exist

[2021-04-23 09:51] dileks commented on #1357
Hmm, that's strange `llvm-12-dev` package contains `libLTO.so`.

From the file-list in [1]:
[code]

Is that the same shared-library as from `llvm-12-linker-tools` package?

[1] https://packages.debian.org/experimental/amd64/llvm-12-dev/filelist

[2021-04-23 10:04] dileks commented on #1357
`Multi-phase communication between libLTO and linker`says:

So, linking with `LLD` requires `LibLTO` to be installed.

[1] https://llvm.org/docs/LinkTimeOptimization.html#multi-phase-communication-between-liblto-and-linker

[2021-04-23 10:08] dileks commented on #1357
I would have expected a `Depends` on `llvm-12-linker-tools` for `lld-12` package.

[1] https://packages.debian.org/experimental/lld-12

[2021-04-23 10:16] dileks commented on #1357
`libLTO`

[1] https://llvm.org/docs/LinkTimeOptimization.html#liblto

[2021-04-23 19:23] nickdesaulniers commented on #976
In [this thread](https://bugs.llvm.org/show_bug.cgi?id=50080#c5) @topperc mentions that `-mllvm -trap-unreachable` can at least add traps to unreachable blocks.  I'm not sure that will additionally protect functions without unreachable blocks, but perhaps worth evaluating.

[2021-04-23 19:24] nickdesaulniers commented on #836
Nice to see Longsoon folks testing with AND FIXING clang builds! 🎉

[2021-04-23 19:26] nickdesaulniers commented on #374
@gctucker nice! Looks like we have a good list of warnings+errors to start fixing in the kselftests!

[2021-04-23 20:12] nathanchance opened #1358 "error: couldn't allocate output register for constraint 'x'"
ARCH=mips on linux-next: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2418268779?check_suite_focus=true

[code]

This is not clang specific: https://lore.kernel.org/r/20210422183634.GA108385@roeck-us.net/

The fix has been sent and applied, it should be in the next -next version: https://lore.kernel.org/r/alpine.DEB.2.21.2104222203130.44318@angie.orcam.me.uk/

This is mainly for

[2021-04-23 20:25] nathanchance opened #1359 "-Wsometimes-uninitialized in arch/powerpc/include/asm/uaccess.h"
ARCH=powerpc powernv_defconfig with LLVM 10.0.1:

[code]

Exposed by https://git.kernel.org/powerpc/c/9975f852ce1bf041a1a81bf882e29ee7a3b78ca6.

This is clearly a false positive because of the `BUILD_BUG_ON()` in the `default` case but it should still probably be dealt with. The asm goto with output section that was added in https://git.kernel.org/powerpc/c/5cd29b1fd3e8f2b45fe6d011588d832417defe31

[2021-04-23 23:30] jcai19 commented on #1276
Thanks for the clarification. I could help patch IAS if that's preferred, but it seems fixing them in kernel might be easier if what we see in https://github.com/ClangBuiltLinux/linux/issues/1276#issuecomment-789203364 are the only uses?

[2021-04-25 20:11] nathanchance commented on #479
Patch accepted: https://git.kernel.org/masahiroy/linux-kbuild/c/f634ca650f724347892068489c7920631a3aac6a

[2021-04-26 17:28] nathanchance commented on #1355
Merged into mainline: https://git.kernel.org/torvalds/c/44200f2d9b8b

This will find its way to the stable trees automatically.

[2021-04-26 17:28] #1355 closed, assigned to nathanchance

[2021-04-26 17:33] nathanchance commented on #1358
Fixed: https://git.kernel.org/mips/c/25ab14cbe9d1b66fda44c71a2db7582a31b6f5cd

[2021-04-26 17:33] #1358 closed, assigned to nobody

[2021-04-26 18:51] nathanchance commented on #1345
Reported upstream: https://lore.kernel.org/r/YIcLcujmoK6Yet9d@archlinux-ax161/

[2021-04-26 20:30] #955 closed

[2021-04-26 20:36] nathanchance commented on #1359
Patch submitted: https://lore.kernel.org/r/20210426203518.981550-1-nathan@kernel.org/

[2021-04-26 23:13] nathanchance commented on #1343
Merged into mainline: https://git.kernel.org/torvalds/c/2bc6262c6117

[2021-04-26 23:13] #1343 closed, assigned to nathanchance

[2021-04-27 20:40] nickdesaulniers commented on #1345
https://llvm.org/pr50147

[2021-04-27 20:49] nickdesaulniers commented on #1335
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?h=sched/core&id=3f5ad91488e813026f8c5f46b839e91a83912703

[2021-04-27 22:02] nickdesaulniers commented on #921
cc @DavidSpickett

[2021-04-27 22:11] nickdesaulniers commented on #945
I can no longer reproduce the above on linux-next april 27 with llvm @ ea8416bf4df4e2823d85d50d8ddd69dd8ed54720, with allyesconfig or defconfig+KASAN=y. or mainline @ e359bce39d9085ab24eaa0bb0778bb5f6894144a

[2021-04-27 22:11] #945 closed

[2021-04-27 23:42] nickdesaulniers commented on #1235
Detangling the 2 configs from the 9 object files, here's what I can reproduce:

0x88D80D78-config.gz:
1. drivers/hwmon/pmbus/adm1275.o
2. drivers/xen/privcmd.o

0xEBF06C78-config.gz:
1. fs/btrfs/extent-tree.o

This was tested by:
[code]

This is with linux @ e359bce39d9085ab24eaa0bb0778bb5f6894144a and llvm @ ea8416bf4df4e2823d85d50d8ddd69dd8ed54720.

Of the above `KCFLAGS="-mllvm -trap-unreachabl

[2021-04-28 00:03] nickdesaulniers commented on #1297
looks like pahole has this as 8e1f8c904e303d5d142d24e820f01b47a35bb72a which was in v1.21.

[2021-04-28 00:03] #1297 closed, assigned to nobody

[2021-04-28 00:06] #1180 closed

[2021-04-28 00:06] nickdesaulniers commented on #1180
Thanks for looking into this @tinti ; it seems like there's nothing interesting found these warnings at this time.

[2021-04-28 00:20] nickdesaulniers commented on #1239
CONFIG_KCOV=y and CONFIG_KCSAN=y are blowing up `shrink_node` in size by quite a bit. Disabling CONFIG_KCSAN, I can still reproduce. Disabling just CONFIG_KCOV_INSTRUMENT_ALL=y from 0x2AADA1E0-config.gz makes the error from mm/vmscan.o go away.

[2021-04-28 02:27] androm3da commented on #759
Candidate fixes in git://git.kernel.org/pub/scm/linux/kernel/git/bcain/linux using `for-linus` branch, commit 43810cfdd2e6af9c57c0975e1b920f2b18c484b6.

Built with an llvm+clang 11.0.0 cross toolchain.  I haven't tried 12.0.0 or trunk yet, but will soon.

(BTW my build used `LLVM_IAS=1` - because `no-integrated-as` encountered a toolchain bug.  I reproduced it on trunk, so I'll open that bug at ht

[2021-04-28 16:50] nickdesaulniers commented on #759
Fix: https://git.kernel.org/pub/scm/linux/kernel/git/bcain/linux.git/commit/?h=for-linus&id=43810cfdd2e6af9c57c0975e1b920f2b18c484b6

[2021-04-28 17:21] nickdesaulniers commented on #964
Easily reproducible with `shannon_defconfig`.

llvm commit 57eb0469847b ("[ELF] Read ARM BuildAttributes section to determine supported features.") has more context.

To silence any warning for `shannon_defconfig`:
[code]
It builds but it's obviously going to not boot/work properly, since that disables `CPU_SA1100` and `CPU_32v4`.  Perhaps that's an improvement for `randconfig` testing though?

[2021-04-28 17:23] nathanchance commented on #977
This is reproducible with ToT LLVM @ https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d with the config in the 0day report on latest 4.19. It is not reproducible on mainline. Looks like https://git.kernel.org/linus/d6d43a92172085a2681e06a0d06aac53c7bcdd12 fixed this. Is it worth requesting a stable backport for it?

[2021-04-28 17:23] nickdesaulniers commented on #968
still a problem, clearing assignee for now.

[2021-04-28 17:33] nickdesaulniers commented on #972
My thoughts on this; the duplication in the asm parameters that are block AND indirect target list could be avoided by making the indirect target list be instead of a list of basic blocks, placeholders (a la `std::bind`/`std::placeholders::_1`) that represent which asm parameter is the indirect destination.  For example, today
[code]
looks like:
[code]
where `label %3` is both in the indirect targ

[2021-04-28 17:45] nickdesaulniers commented on #978
[code]
seems no longer reproducible with llvm @ bdd68357901d2ccdd110cf35746703ac8e46de3c and linux @ e359bce39d9085ab24eaa0bb0778bb5f6894144a.

[2021-04-28 17:45] #978 closed

[2021-04-28 17:49] nathanchance commented on #984
I have never seen this again.

[2021-04-28 17:49] #984 closed

[2021-04-28 17:53] nickdesaulniers commented on #985
[code]
unreproducible with linux @ e359bce39d9085ab24eaa0bb0778bb5f6894144a and llvm @ bdd68357901d2ccdd110cf35746703ac8e46de3c.

[2021-04-28 17:53] #985 closed

[2021-04-28 17:58] nathanchance commented on #990
This has not been fixed but given that it is not a clang specific issue, it has never resurfaced from 0day, and the maintainer indicated that these are pretty old files, I am going to close this up.

[2021-04-28 17:58] #990 closed

[2021-04-28 17:59] nickdesaulniers commented on #990
[code]
still reproducible.

ok sgtm

[2021-04-28 18:02] #992 closed

[2021-04-28 18:05] nathanchance commented on #997
I repinged that thread: https://lore.kernel.org/r/YImjw3eypUdhkp88@archlinux-ax161/

[2021-04-28 18:07] nathanchance commented on #1002
@kees had mentioned recently that he was still looking into this?

[2021-04-28 18:14] nathanchance commented on #1019
#479 has a patch that works for allowing libelf to be found in a GNU-free environment even if clang has not been configured with `-DCLANG_DEFAULT_LINKER=lld`. At this point, I think the discussion is more about doing something that is not strictly related to ClangBuiltLinux so I am going to go ahead and close this for now. The [userspace](https://github.com/ClangBuiltLinux/userspace) repo might be

[2021-04-28 18:14] #1019 closed

[2021-04-28 18:14] nickdesaulniers commented on #1000
For:
- aarch64
- arm
- ppc
- riscv
`TargetInstrInfo::getInlineAsmLength` is called by `TargetInstrInfo::getInstSizeInBytes` (and `HexagonInstrInfo::getSize`).  Most of the callers of `TargetInstrInfo::getInstSizeInBytes` are under llvm/lib/Target/ and don't link interesting, but `TargetInstrInfo::getInstSizeInBytes` is called from llvm/lib/CodeGen/IfConversion.cpp and llvm/lib/CodeGen
/BranchRelax

[2021-04-28 18:14] #1000 closed

[2021-04-28 18:38] nickdesaulniers commented on #1020
@nathanchance has a patch in https://github.com/ClangBuiltLinux/linux/issues/1143#issuecomment-770125754.

Discussing with @nathanchance , we think we can:
1. send @nathanchance 's [patch](https://github.com/ClangBuiltLinux/linux/issues/1143#issuecomment-770125754).
2. keep CONFIG_EFI=n for CI (file a new issue for that)
3. disable CONFIG_JUMP_LABEL=n for CI (file a new issue for that)
Though now

[2021-04-28 18:39] nickdesaulniers commented on #1023
confirmed in [this comment](https://github.com/ClangBuiltLinux/linux/issues/1020#issuecomment-828689118)
[code]

[2021-04-28 18:46] nickdesaulniers commented on #1023
Adding some logging to LLVM, it seems that the unsupported relocation kind is `R_RISCV_COPY` in `RISCVELFObjectWriter::getRelocType`, since there's no corresponding `llvm::RISCV::Fixups`.

[2021-04-28 18:52] nickdesaulniers commented on #1023
[code]

[code]
cc @topperc @jrtc27 @MaskRay

[2021-04-28 18:53] nickdesaulniers commented on #1143
More thoughts posted in https://github.com/ClangBuiltLinux/linux/issues/1020#issuecomment-828689118, but right now, it seems like there's no path forward today; if we enable `-mno-relax`, integrated assembler support regresses in other ways.

[2021-04-28 18:58] nickdesaulniers commented on #1023
https://llvm.org/pr50153

[2021-04-28 19:02] nathanchance commented on #1029
This should now be resolved by https://git.kernel.org/linus/dd2776222abb9893e5b5c237a2c8c880d8854cee, which was a part of the LTO series.

[code]

[2021-04-28 19:02] #1029 closed

[2021-04-28 19:04] jrtc27 commented on #1023
The problem is there's no R_RISCV_64_PCREL, only R_RISCV_32_PCREL, presumably because DWARF only needed the 32-bit form, so the FK_Data_8/FK_PCRel_8 IsPCRel case in RISCVELFObjectWriter::getRelocType has nothing it can use to represent that.

[2021-04-28 19:16] jrtc27 commented on #1023
GNU as implements symbol subtraction with R_RISCV_ADD/R_RISCV_SUB, which is equivalent to R_RISCV_64_PCREL, except in the case the symbol may be preempted, where I believe the latter will give an error at link time whereas the former will succeed using the defined symbol?

[2021-04-28 19:19] jrtc27 commented on #1023
Presumably FK_Data_8 given you say the Kind was value 4 (this is still MCFixupKind, not the ELF relocation, so that's not R_RISCV_COPY).

[2021-04-28 20:11] nickdesaulniers commented on #1130
Reproducible via `CONFIG_X86_DECODER_SELFTEST=y` on top of defconfig, then building `bzImage`.
https://reviews.llvm.org/D101483

[2021-04-28 20:12] nickdesaulniers commented on #1130
Let's use additional issues to follow up on anything else. It makes it easier to track where we are when there are multiple things going wrong.

[2021-04-28 20:13] nathanchance commented on #1081
I think this should be resolved by https://git.kernel.org/linus/33def8498fdde180023444b08e12b72a9efed41d. Feel free to reopen if not.

[2021-04-28 20:13] #1081 closed

[2021-04-28 20:27] kees commented on #1002
Yup, currently investigating this as a part of my memcpy work.

[2021-04-28 20:28] nathanchance commented on #1124
I have not seen any more instances of this warning, closing for now.

[2021-04-28 20:28] #1124 closed

[2021-04-28 20:32] nickdesaulniers commented on #1141
I'm not able to reproduce with:
[code]
same when using `allyesconfig`.

this is with linux @ 18a3c5f7abfdf97f88536d35338ebbee119c355c, llvm @ bdd68357901d2ccdd110cf35746703ac8e46de3c, GNU as v2.35.2.

Please reopen with additional steps to reproduce and tooling version if you still see this.

[2021-04-28 20:52] nathanchance commented on #1114
This is not reproducible with latest LLVM and Linux.

[code]

[2021-04-28 20:52] #1114 closed

[2021-04-28 20:55] nathanchance commented on #1350
Merged into mainline:

https://git.kernel.org/torvalds/c/de5bc7b425d4
https://git.kernel.org/torvalds/c/5deac80d4571

[2021-04-28 20:55] #1350 closed, assigned to nathanchance

[2021-04-28 20:56] nathanchance commented on #1335
Merged into mainline: https://git.kernel.org/linus/3f5ad91488e813026f8c5f46b839e91a83912703

[2021-04-28 20:56] #1335 closed, assigned to nobody

[2021-04-28 21:01] nathanchance commented on #1144
I cannot reproduce this anymore with latest LLVM and Linux:

[code]

[2021-04-28 21:01] #1144 closed

[2021-04-28 21:05] nickdesaulniers commented on #1065
Reproducible with:
[code]
The members `uuid_bucket` and `btree_root` of `struct jset` seem to trigger this.

Looks like they were added to include/uapi/linux/bcache.h in
commit 81ab4190ac17d ("bcache: Pull on disk data structures out into a separate header")

MAINTAINERS has an entry for BCACHE.

Though, I wonder if `-Wgnu-variable-sized-type-not-at-end` should be moved under `-Wpedantic`?  In fac

[2021-04-28 21:09] nickdesaulniers commented on #1069
I suspect this was fixed on the LLVM side by https://reviews.llvm.org/D100251, please reopen if that's not the case.

[2021-04-28 21:09] #1069 closed

[2021-04-28 21:11] nickdesaulniers commented on #1074
cc @kees (friendly ping)

[2021-04-28 21:13] nickdesaulniers commented on #1086
Until we get dedicated resources to focus on this, I'm closing this. I'll continue to press leadership to dedicating headcount towards this.

(See https://github.com/ClangBuiltLinux/linux/issues/1086#issuecomment-670685565 for ways to measure).

cc @stephenhines @lalozano @echristo

[2021-04-28 21:13] #1086 closed

[2021-04-28 21:18] nickdesaulniers commented on #1097
I still think this is worth doing; though I don't understand why the GCC bug seems to be specific to ARM; wouldn't _all_ architectures appreciate such protection, or was it simply that ARM backends had such a bug?

[2021-04-28 21:27] nickdesaulniers commented on #1104
It would be good to have precise steps to reproduce; I'm not really familiar with DKMS, so it's not clear to me how to reproduce which is necessary to even get started.

[2021-04-28 21:28] GustavoARSilva commented on #1065
On 4/28/21 16:06, Nick Desaulniers wrote:

It seems to me that the problem here is the union containing an object
of a struct type that contains a flexible array:

#define BKEY_PADDED(key)                                        \
        union { struct bkey key; __u64 key ## _pad[BKEY_PAD]; }

--
Gustavo

[2021-04-28 21:33] GustavoARSilva commented on #1065
I think the solution might well be something like this: https://git.kernel.org/linus/c0a744dcaa29e9537e8607ae9c965ad936124a4d

[2021-04-28 21:42] ColinIanKing commented on #1104
I'll try and post some examples in the next day or so, the particular example we have is zfs from the zfsutils-linux debian or ubuntu source package.  But I'll try and  find some simpler examples that don't take forever.

[2021-04-28 21:43] nickdesaulniers commented on #1142
[code]
triggered multiple warnings for x86_64 defconfig.  The top level Makefile sets `-Wno-format-security`.  GCC only warns for `-Wformat-security` when explicitly set; `-Wformat` doesn't enable it: https://godbolt.org/z/sE6G87zGx.

So we shouldn't be enabling it; even just for clang.  Once #378 is resolved, it might be interesting, but one should research why `-Wformat-security` was disabled in

[2021-04-28 21:43] #1142 closed

[2021-04-28 21:52] nathanchance commented on #1352
Merged into mainline: https://git.kernel.org/linus/03b2cd72aad1103127282f39c614e4722e5d9e8f

Thanks @jpoimboe!

[2021-04-28 21:52] #1352 closed, assigned to nobody

[2021-04-28 21:54] nathanchance commented on #1330
It seems like Andi Kleen's GCC LTO series has a similar patch: https://git.kernel.org/ak/linux-misc/c/45fc24254df69291f9ebd597bc747df2eb61ee3a

[2021-04-28 21:56] nickdesaulniers commented on #1143
Here's a reduced test case for the specific error:
[code]
https://llvm.org/pr50156

[2021-04-28 22:00] nathanchance commented on #1163
I cannot reproduce this with the following diff on top of Linux 5.12 with i386_defconfig + `CONFIG_LTO_CLANG_FULL=y` and ToT LLVM.

[code]

Closing for now.

[2021-04-28 22:00] #1163 closed

[2021-04-28 22:06] nickdesaulniers commented on #1160
is in remotes/origin/release/12.x.

SGTM; so this bug is concerned then just with clang < 12.

[2021-04-28 22:08] nickdesaulniers commented on #1160
[code]
thoughts?

[2021-04-28 22:13] nickdesaulniers commented on #1163
@nathanchance want to send that diff upstream?

[2021-04-28 22:13] nathanchance commented on #1160
Will probably need a `!CC_IS_CLANG ||` as well but otherwise, LGTM.

[2021-04-28 22:16] nathanchance commented on #1163
Yes, further testing then sending that patch is on my TODO.

[2021-04-28 22:18] nickdesaulniers opened #1360 "ld.lld: warning: ... is being placed in '.data..decrypted'"
[code]
looks like some orphan sections we need to place explicitly via linker script.

[2021-04-28 22:21] kees commented on #1074
Yup, the plan is to put this in -next after -rc2 is out.

[2021-04-28 22:21] nickdesaulniers commented on #1360
`DEFINE_PER_CPU_DECRYPTED` perhaps?

[2021-04-28 22:22] nickdesaulniers commented on #1167
[code]
I no longer observe this warning with linux @ 18a3c5f7abfdf97f88536d35338ebbee119c355c and llvm @ bdd68357901d2ccdd110cf35746703ac8e46de3c.

[2021-04-28 22:22] #1167 closed

[2021-04-28 22:26] nickdesaulniers commented on #1174
Unreproducible; I suspect this was fixed by ce66f6136460a51acfc32de4481fe8fd69dfd50b in v5.10-rc1.

[2021-04-28 22:26] #1174 closed

[2021-04-28 22:31] nathanchance commented on #1169
`x86_64_defconfig` + `CONFIG_DEBUG_ENTRY=y` shows no objtool warnings with ToT LLVM and Linux. `git log --oneline --grep="leaves .noinstr.text section"` shows several commits that appear to address this. Closing for now.

[2021-04-28 22:31] #1169 closed

[2021-04-28 22:45] nathanchance commented on #1185
This is not reproducible with LLVM 12 or 13 with latest Linux:

[code]

[2021-04-28 22:45] #1185 closed

[2021-04-28 22:49] nickdesaulniers commented on #1179
include/linux/fortify-string.h seems to be using `__builtin_object_size` open coded but probably should be using `__compiletime_object_size` I think when the second param is 0. Looks like all compilers support it: https://godbolt.org/z/PM7dKxshc.  I think it would be better just to delete `__compiletime_object_size` seeing as it has only 1 caller:
[code]

[2021-04-28 22:50] #1192 closed

[2021-04-28 22:56] nickdesaulniers commented on #1205
[code]
I'm unable to reproduce with linux @ 18a3c5f7abfdf97f88536d35338ebbee119c355c and llvm @ bdd68357901d2ccdd110cf35746703ac8e46de3c. Please reopen if you have more info on how to reproduce.

[2021-04-28 22:56] #1205 closed

[2021-04-28 22:56] nathanchance commented on #1191
[code]

is enough to reproduce this. This should probably reported to upstream LLVM.

[2021-04-28 22:58] jcai19 commented on #1337
It seems this would fail in both IAS and GAS?

[code]

[2021-04-28 23:13] nathanchance commented on #1213
s390 all{mod,yes}config enables `CONFIG_COMPILE_TEST` after https://git.kernel.org/linus/ea29b20a828511de3348334e529a3d046a180416 so this is not visible unless `CONFIG_USBAN_TRAP` is explicitly enabled. Marking as low priority.

[2021-04-28 23:16] nickdesaulniers commented on #1206
Confirmed:

[code]
This is with
[code]
testing with ToT binutils @ 2.36.50.20210428, I can no longer reproduce.

So folks can avoid this by either:
- use LLVM=1 when building with LLVM_IAS=1, or
- upgrade aarch64-linux-gnu-ld to 2.36

[2021-04-28 23:16] #1206 closed

[2021-04-28 23:34] nickdesaulniers commented on #1215
I wasn't able to reproduce with the following configs:
[code]
@arndb was this with thin LTO or full lto? Can you post the config if it's still reproducible?

Non-reproducible with full LTO either, though I did get:
[code]

[2021-04-28 23:40] nathanchance commented on #1219
The first two configs above do not reproduce anything for me but the third one still shows `ld.lld: error: assignment to symbol init_pg_end does not converge` with LLVM at https://github.com/llvm/llvm-project/commit/1c10201d9660c1d6f43a7226ca7381bfa255105d and Linux at https://git.kernel.org/linus/16b3d0cf5bad844daaf436ad2e9061de0fe36e5c.

[2021-04-28 23:41] nathanchance commented on #1247
Patch has been accepted: https://git.kernel.org/next/linux-next/c/e9d54be9ad5ee2eed3056d8901ac4b3b115d95a5

[2021-04-28 23:43] #1259 closed

[2021-04-28 23:45] nickdesaulniers commented on #1240
[code]
reproduces. Seems related to:
[code]

[2021-04-28 23:45] nathanchance commented on #1285
https://lore.kernel.org/r/20210421111759.2059976-1-schnelle@linux.ibm.com/

[2021-04-28 23:47] nathanchance commented on #1287
Closing since #964 was first.

[2021-04-28 23:47] #1287 closed, assigned to nobody

[2021-04-28 23:52] nathanchance commented on #1299
@kees could you make sure that patch gets into 5.13 please, especially now that CFI has been accepted upstream?

[2021-04-28 23:53] nickdesaulniers commented on #1240
I kind of wonder why does the last switch of the 3 switches on `gmac->phy_mode` do this, but not the second?

[2021-04-28 23:54] nathanchance commented on #1310
Is there a config available to reproduce this issue?

[2021-04-28 23:55] nathanchance commented on #1313
I think something spooky was going on here. I have never been able to reproduce it and our CI has not shown any issues with it across four versions of clang, closing for now.

[2021-04-28 23:55] #1313 closed, assigned to nobody

[2021-04-28 23:58] nickdesaulniers commented on #1246
unreproducible with LLVM=1 or CC=clang (allmodconfig).

[2021-04-28 23:58] #1246 closed

[2021-04-29 00:02] samitolvanen commented on #1215
I can reproduce this with full LTO at least:
[code]

[2021-04-29 00:04] nathanchance commented on #1344
Fixed: https://git.kernel.org/tiwai/sound/c/543f8d780867bdbd8b0792487fa1644d89faa19c

[2021-04-29 00:04] #1344 closed, assigned to nobody

[2021-04-29 00:44] nathanchance opened #1361 ""Not a NOP" warning when booting i386_defconfig"
On mainline at https://git.kernel.org/linus/d8201efe75e13146ebde433745c7920e15593baf:

[code]

I do not see this warning with `x86_64_defconfig` or `i386_defconfig` with GCC 10.2.0.

Presumably, this is related to https://git.kernel.org/linus/23c1ad538f4f371bdb67d8a112314842d5db7e5a.

[2021-04-29 11:18] CdeMills opened #1362 "chkobjdump.awk: no default action when using llvm-objdump"
Hello,
context: CentOS8-Stream, spec file extracted from
https://elrepo.org/linux/kernel/el8/SRPMS/kernel-ml-5.12.0-1.el8.elrepo.nosrc.rpm
associated to linux-5.12.tar.xz

kernel-ml packages built using
env MAKEFLAGS="LLVM=1" rpmbuild  --noclean --nocheck --nodebuginfo --without bpftool --without perf --without tools -ba SPECS/kernel-ml-5.12.spec

This add "LLVM=1" to each make invocation, leading

[2021-04-29 12:36] arndb commented on #1310
I can still reproduce it with the attached defconfig. I have sent a patch, but that was not accepted so far. I don't think there is anything clang can do to avoid this problem though, as the code in the driver is clearly fragile. One can either rewrite it more thoroughly to avoid the use of these macros (which will make the code slower) or fix it up every time the compiler runs into a corner case

[2021-04-29 13:10] torvic9 commented on #1104
I've just tried this again, with VirtualBox 6.1.20 and DKMS.
Kernel 5.12 compiled with clang 12.0.1, running on Arch.

DKMS works with the following addition to `dkms.conf`:

[code]
($_kernver simply points to a version file which contains the name of the kernel)

However, and this is quite remarkable, it only works when the kernel is NOT compiled with LTO.
With an LTO kernel, I get
`ld.lld: error

[2021-04-29 14:21] ColinIanKing commented on #1104
https://wiki.kubuntu.org/Kernel/Dev/DKMSPackaging is a good article on getting a simple hello world dkms example built

[2021-04-29 15:00] arndb commented on #1310
Sent a new patch: https://lore.kernel.org/lkml/20210429145752.3218324-1-arnd@kernel.org/

[2021-04-29 15:01] ColinIanKing commented on #1104
I built ubuntu 5.11.0-3 with clang, installed the kernel in Ubuntu 20.04 Hirsute and then tinkered with a simple hello world DKMS build using info from torvic9 (above).

https://kernel.ubuntu.com/~cking/hello-0.1.tar is a simple example DKMS demo that I put into /usr/src and then did:

[code]

So this works fine,  would be nice if dkms has the smarts to set the environment correctly for clang auto

[2021-04-29 15:11] arndb commented on #1328
Posted a new patch: https://lore.kernel.org/lkml/20210429150940.3256656-1-arnd@kernel.org/

[2021-04-29 17:04] nickdesaulniers commented on #1359
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?id=f9cd5f91a897ea0c45d0059ceeb091cee78c6ebe

[2021-04-29 18:31] nathanchance commented on #1362
The first issue is being dealt with in LLVM and it is tracked at #1130. That change will still probably be needed for older versions of LLVM.

`chkobjdump.awk` script can be dropped, as it was added by https://git.kernel.org/linus/6f5f67267dc4faecd9cba63894de92ca92a608b8 to check for older binutils, but the kernel requires binutils 2.23 or newer. I will send a patch for this.

@ihalip seemed to in

[2021-04-29 18:33] nathanchance commented on #1362
Actually, dropping the `chkobjdump.awk` script means that we can drop the `$(OBJDUMP) -v` altogether so there does not need to be a `--version` change.

[2021-04-29 18:50] nickdesaulniers commented on #1313
I think we still need to turn this on in CI though?

[2021-04-29 18:51] nickdesaulniers commented on #1259
Might be worth keeping open for the point releases; or filing a new bug, or just commenting on this closed bug.

[2021-04-29 19:01] nathanchance commented on #1313
You're right. I will test it locally then push it for review.

[2021-04-29 20:01] nickdesaulniers commented on #1023
Ah, yes, sorry. You're right.

[2021-04-29 20:05] nickdesaulniers opened #1363 "Assertion `MI->getOperand(0).isReg()' failed"
trying to test out https://github.com/ClangBuiltLinux/boot-utils/pull/44 and I'm hitting a failed assertion:

failed assertion in kernel/fork.c 'Machine Copy Propagation Pass' on function '@copy_init_mm' aspeed_g5_defconfig

[code]

[2021-04-29 20:06] nickdesaulniers commented on #1363
llvm @ 12c51f23584252974b63180b7915e6e6f8df87de

[2021-04-29 20:29] nickdesaulniers commented on #1363
running an automated bisection now.

[2021-04-29 20:49] nathanchance commented on #1363
Sorry, I forgot to open an issue for this:

https://reviews.llvm.org/D91722#2724321

https://reviews.llvm.org/D91722#2725829

[2021-04-29 21:48] nickdesaulniers commented on #1363
yep, looks like it
[code]

[2021-04-29 21:52] nathanchance opened #1364 "Formatting of llvm-objdump trips up x86 insn_decoder_test"
After addressing #1362 on the kernel side with the patch linked in that issue, I see the following spew of errors:

[code]

insn_decoder_test expects a specific format, which is done with [`arch/x86/tools/objdump_reformat.awk`](https://elixir.bootlin.com/linux/v5.12/source/arch/x86/tools/objdump_reformat.awk).

Upon further inspection, it seems this is due to the difference in the location of the

[2021-04-29 21:53] nathanchance commented on #1362
Tentative patch:

[code]

I need to wait to send it because of #1364.

[2021-04-29 23:10] MaskRay commented on #1364
Printing `\t` beside the instruction mnemonic is the convention in LLVM `*InstPrinter.cpp`. The other places (controlled by llvm-objdump specific code) all use spaces for aligning.

I think using spaces is nice - the look will not be too different in a terminal, in an editor with different tab width settings.
So I don't see a need to change llvm-objdump's output.

[`arch/x86/tools/objdump_reformat

[2021-04-29 23:24] nathanchance commented on #479
Merged into mainline: https://git.kernel.org/torvalds/c/f634ca650f72

My recommendation would be that Android takes advantage of this variable on the command line via `build.sh` and revert

https://android.googlesource.com/kernel/common/+/537c1df08e0bc4d9e7d139539d85343f88db0bf8

https://android.googlesource.com/kernel/common/+/f14e5bfb39b776318133e00b8c066ce8a870e9ab

but that is up to them :) cl

[2021-04-30 07:06] CdeMills opened #1365 "5.12 boot failure when ThinLTO is enabled"
Hello,
I compiled and booted a kernel as reported in https://github.com/ClangBuiltLinux/linux/issues/1362

Now I went one step further:
env MAKEFLAGS="LLVM=1 LLVM_IAS=1" rpmbuild ...
and choosing the "ThinLTO" option, which enables the
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
in the .config file

The kernel compiles and install. Yet, at boot, it fails early while trying to mount one of the hard drive

[2021-04-30 08:21] torvic9 commented on #1365
Hello,

are you trying to boot on a AMD Zen platform?
I remember I couldn't boot any LTO kernel on my Zen2, but that was a few months ago already. The boot process failed very early on and didn't leave any log messages.
No such issue on my Skylake platform, both types of LTO compile, boot and work correctly.

[2021-04-30 09:17] CdeMills commented on #1365
Hello,
thanks for your answer. Processor is x86_64 (Quad-Core i5-4570, Haswell architecture), CentOS8-Stream,
clang version 11.0.0 (Red Hat 11.0.0-1.module_el8.4.0+587+5187cac0)
UEFI boot, managed by grub2. Any hints on where to look ?

Regards

Pascal

[2021-04-30 09:22] dileks commented on #1104
That `LLD ... permission denied` seems to be a local or distro specific problem.

Here I am successful:

[code]

Building and installing `virtualbox`DKMS module with above modification (here: Clang-LTO built linux-image):
[code]

Listing new kernel-modules:
[code]

[2021-04-30 09:27] dileks commented on #1104
Debian's latest 5.10 kernel works, too.
[code]

[2021-04-30 09:29] torvic9 commented on #1104
You are probably right, but I don't know what could be the cause :(
(It's not a distro clang, but one built with build-llvm.py script.)

[2021-04-30 09:31] dileks commented on #1104
I was able to start my `FreeDOS v1.2` image in VBox-Qt-Gui.
[code]

[2021-04-30 09:35] dileks commented on #1104
@torvic9

Dunno Arch Linux en detail and its vbox dkms.conf.
You can try to adapt my above modifications.

Anyway, it is good to see a `Clang-LTO enabled Linux-kernel` works with `VirtualBox v6.1.20`.

[2021-04-30 09:38] torvic9 commented on #1104
Yes, I'm going to add `V=1` to the (otherwise very similar) make command in order to hopefully get more info.
I'll report back.

[2021-04-30 09:39] dileks commented on #1104
Just DO it :-).

[2021-04-30 09:42] torvic9 commented on #1365
Sorry, I'm not a developer and I'm only doing this out of curiosity and interest :-)
However, you could try using a newer clang (12.0.x) and see whether it makes a difference.

[2021-04-30 09:51] dileks commented on #1365
Please attach your full Linux `.config` file.
This contains more than ThinLTO is enabled - like LLVM/Clang/LLD versions etc.

Show us your full make line (invocation).

Here I can build and boot:
[code]
[config-5.12.0-1-amd64-clang12-lto.txt](https://github.com/ClangBuiltLinux/linux/files/6404462/config-5.12.0-1-amd64-clang12-lto.txt)

[2021-04-30 09:58] dileks commented on #1365
@CdeMills

Can you boot in QEMU?

[2021-04-30 12:27] torvic9 commented on #1104
`V=1` does nothing.

@dileks, do you know if it is possible to disable LTO for the virtualbox modules only, maybe something like `-fno-lto`?
It seems to automatically enable it:

[code]

EDIT: Nevermind! KBUILD_VERBOSE and/or VBOX_LNX_VERBOSE has to be set to 1 to get verbose output.

[2021-04-30 12:36] ms178 commented on #1365
@CdeMills It has been a long time that I've seen similar issues with Clang/LTO, but I am currently seeing such an issue with Andi Kleen's 5.12-3 patchset of GCC LTO (see: https://github.com/andikleen/linux-misc/issues/37).

I am running 5.12.0-Xanmod right now on a Haswell-EP system which was compiled with LLVM=1 LLVM_IAS=1 and LLVM/Clang 12 with ThinLTO and some other fancy compiler flags (O3 and

[2021-04-30 12:51] dileks commented on #1104
@torvic9

Dunno if this is a good idea to build the vbox module w/o LTO.

Interesting that passing `V=1` does not show full make-lines when building vbox-dkms.

Hmmm, `6.1.20_OSE` is that from upstream?

[2021-04-30 12:55] torvic9 commented on #1104
V=1 gets abbreviated to V=, probably a configuration/setup issue on my end.

The actual error message is:
[code]

(yes, upstream via Arch - and I just saw that we have a new 6.1.22 release now)

EDIT: I'm giving this a break, as the LTO error is most certainly an issue on my side and not with either clang, dkms or vbox. Thanks for your help!

[2021-04-30 13:43] ColinIanKing commented on #1104
Perhaps the /home/unsorted/linux512-vd-virtualbox-modules/src/vboxhost/6.1.20_OSE/build/vboxdrv/vboxdrv.o obj file can't be overwritten. try manually removing it before kicking off a build.

[2021-04-30 14:41] torvic9 commented on #1104
The build directory is auto-cleaned on each try.
Could it be this maybe: `--thinlto-cache-dir=.thinlto-cache` ?
I cannot find such a directory anywhere.

[2021-04-30 16:08] nathanchance commented on #1365
@CdeMills let's start with some basic isolation questions.

1. Does the exact same configuration and build command work without `CONFIG_LTO_CLANG_THIN=y`? In other words, it is ONLY changing that config that causes the issue? Can you post your config?

2. Are there any dmesg errors when booting? If you do not see any, you might need to adjust the default log level in Kconfig.

3. Can you try booti

[2021-04-30 16:14] nathanchance commented on #1104
What folder are you running the dkms command in? It is possible that the ThinLTO cache is being created there, rather than in the build folder, and the permissions might not be right. You can try to confirm if it is that by just removing that line from the Makefile; it is just to speed up incremental builds.

[2021-04-30 17:28] CdeMills commented on #1365
Hello,

the first file was compiled with
env MAKEFLAGS="LLVM=1" rpmbuild nice -n 20 rpmbuild  --noclean --nocheck --nodebuginfo --without bpftool --without perf --without tools -ba SPECS/kernel-ml-5.12.
 and resulted in a bootable kernel;

the second file was compiled with
env MAKEFLAGS="LLVM=1 LLVM_IAS=1" rpmbuild [...] and resulted in a non-bootable kernel
The build log for the second case is at

[2021-04-30 18:38] nickdesaulniers commented on #1130
`-v` support: https://reviews.llvm.org/rGdde24a87c55f82d8c7b3bf3eafb10f2b9b2b9a01

closing, let's track @ihalip 's sugguestions in #1362 .

[2021-04-30 18:38] #1130 closed

[2021-04-30 20:16] nickdesaulniers opened #1366 "-Wconstant-conversion in drivers/platform/surface/surface_aggregator_registry.c"
ARCH=i386 make LLVM=1 LLVM_IAS=1 allmodconfig
[code]

[2021-04-30 20:19] nickdesaulniers commented on #1365
That looks like a diff from full LTO to thin LTO.  I suspect @nathanchance was asking about going from no LTO (CONFIG_LTO_NONE) to thin LTO.

[2021-04-30 20:39] nickdesaulniers commented on #1365
Actually triggers an assertion failure for me! So yeah, it's probably haunted AF trying to boot that!
[code]

[2021-04-30 20:56] nickdesaulniers commented on #1215
I was able to repro this just now building ARCH=i386 allmodconfig built with full LTO while testing [this](https://lore.kernel.org/lkml/20210429232611.3966964-1-nathan@kernel.org/). I had to disable FTRACE, COMPILE_TEST, and GCOV.
[code]

[2021-04-30 21:00] nathanchance commented on #1365
Looks like that might be https://reviews.llvm.org/D91722#2724321 again? Same file I think unless you have the fixes already. Does that reproduce with LLVM 12.0.0?

[2021-04-30 21:01] nathanchance commented on #1365
I was also trying to see if `LLVM=1 LLVM_IAS=1` with `CONFIG_LTO_NONE=y` worked fine, not just `LLVM=1`.

[2021-04-30 21:03] nickdesaulniers commented on #1345
https://reviews.llvm.org/D101657

[2021-04-30 21:05] nathanchance commented on #1366
Upstream discussion: https://lore.kernel.org/r/202103112158.loq4oyJu-lkp@intel.com/

[2021-04-30 21:26] nickdesaulniers commented on #1345
strange, trying to test https://reviews.llvm.org/D101657, I get an assertion failure from QEMU IIUC, with or without that patch:

[code]

[2021-04-30 21:48] nickdesaulniers commented on #1359
f9cd5f91a897ea0c45d0059ceeb091cee78c6ebe

[2021-04-30 21:48] #1359 closed, assigned to nobody

[2021-04-30 21:49] nickdesaulniers commented on #479
Reopening so I don't forget.

[2021-04-30 23:19] nathanchance commented on #1345
Unfortunately, QEMU 5.2.0 and newer have that assertion failure. Both @groeck and I have reported this and nobody knows how to resolve it it seems:

https://lore.kernel.org/qemu-devel/20210111011117.GA215408@ubuntu-m3-large-x86/

https://lore.kernel.org/qemu-devel/3f0f8fc6-6148-a76e-1088-b7882b0bbcaf@roeck-us.net/

I have just reverted to 5.0.1 for `qemu-system-ppc`.

[2021-04-30 23:45] nathanchance commented on #1300
Merged into mainline: https://git.kernel.org/torvalds/c/fbced1546eaa

[2021-04-30 23:45] #1300 closed, assigned to nathanchance

[2021-04-30 23:45] nathanchance commented on #1316
Merged into mainline: https://git.kernel.org/torvalds/c/1ef1dd9c7ed2

[2021-04-30 23:45] #1316 closed, assigned to nathanchance

[2021-04-30 23:57] nathanchance commented on #1363
https://github.com/llvm/llvm-project/commit/b11e4c990771541e440861f017afea7b4ba162f4

We will verify that the final patch works for the Linux kernel.

[2021-04-30 23:57] #1363 closed, assigned to nobody

[2021-05-01 12:18] CdeMills commented on #1365
[kernel-ml-5.12.spec-thinlto.rpmbuild.txt](https://github.com/ClangBuiltLinux/linux/files/6409531/kernel-ml-5.12.spec-thinlto.rpmbuild.txt)
Hello,
I tried to compile using the config.txt sent by ms178. There is a buid failure, as enclosed in the log file

Regards

Pascal

[2021-05-01 12:21] CdeMills commented on #1365
And for qemu ... well, under CentOS, it's complicated. The official virtualization tool is KVM. There is a GUI, but which permits only to create a disk image and boot from some iso file, which is in charge of installing the OS. I didn't see how to bootstrap a VM using a test kernel

Regards

Pascal

[2021-05-02 14:04] ms178 opened #1367 "Lots of depmod warnings with "needs unknown symbol"-errors and two other observations"
Hi, I am on Ubuntu 21.04, with 5.12.0-Xanmod sources, LLVM/Clang 12 from the [v3 toolchain-r repo](https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/x86-64-v3) and my custom Makefile (I've used custom compiler flags at around line 417 - 474) and the attached config, I get a lot of depmod warnings during the end of the compilation stage.

[config.txt](https://github.com/ClangBuiltLinux/linu

[2021-05-02 14:11] ms178 commented on #1367
@MaskRay I just saw your comment in https://github.com/ClangBuiltLinux/linux/issues/1269#issuecomment-802400502
Is the patch (https://reviews.llvm.org/D98762) which you mentioned there related to the depmod warnings seen here?

[2021-05-03 12:48] torvic9 commented on #1104
I'm using Arch's `makepkg` system, which, when executed runs dkms in $BUILDDIR which is a user choice. Normally, I simply use /tmp with 777 permissions.
However, I suspect the VBox build system tries to create the thinlto cache folder in the VBox source directory, which is not user-writable as it resides in `/usr/src` and is only symlinked by dkms on build.
I'm now looking to add `-Wl,--thinlto-ca

[2021-05-03 14:02] torvic9 commented on #1104
Please do not waste your time with my setup issue...

IMO this issue can be closed, Sedat showed that it works.
This is more likely something for the dkms people.
Thanks @ all.

[2021-05-03 14:59] torvic9 commented on #1104
Yes!
I finally solved the issue by dirty-hacking the relevant `scripts/Makefile.xxx` kernel files, and adding `--thinlto-cache-dir=/tmp/thinlto` to their revelant LDFLAGS settings.

[2021-05-03 19:36] nickdesaulniers commented on #1365
[code]
do you have an out of tree module with a curious license, perhaps?

Ah yeah with that reverted the config builds and boots just fine for me. (It loops booting it as i386 without a visible panic though FWIW).

[2021-05-03 22:54] ms178 commented on #1365
@nickdesaulniers

Ups, revisiting my config posted above, I've had Barry Song's patchset on top with the title [RFC PATCH v6 0/4] scheduler: expose the topology of clusters and add cluster scheduler [https://lore.kernel.org/r/20210420001844.9116-1-song.bao.hua@hisilicon.com/].

Xanmod also differs from mainline quite a bit, carrying a couple of performance-oriented patches on top.

[2021-05-03 23:45] nickdesaulniers commented on #1365
Is this issue specific to Xanmod then, or can it be reproduced using mainline (or next, or stable)?

[2021-05-04 00:13] ms178 commented on #1365
@nickdesaulniers

From looking at the provided log from CdeMills the error seems to come from "cat: k-d.list: No such file or directory" and "/usr/bin/sed: can't read /home/padupuis/rpmbuild/BUILDROOT/kernel-ml-5.12.thinlto.0-1.el8.cfi.x86_64/k-d.list: No such file or directory". It seems to me that my modified Xanmod config is not compatible with his build script which expects such a file or dire

[2021-05-04 00:38] ms178 commented on #1367
As a continuation of https://github.com/ClangBuiltLinux/linux/issues/1365#issuecomment-831611705, I can confirm that I also see a lot of depmod warnings with the Vanilla 5.12.1 sources with the config and Makefile from https://github.com/ClangBuiltLinux/linux/issues/1367#issue-873950801

Hence the issue presented here is not Xanmod specific. See the attached file with the errors from the Vanilla b

[2021-05-04 08:07] CdeMills commented on #1365
Hello,
next round: make LLVM=1 LLVM_IAS=1 and selecting 'CONFIG_LTO=NONE' in the .config, results in boot failure.
Symptoms are the same as selecting LLVM=1 LLVM_IAS=1with ThinLTO: devices are probed and detected, but then mounting the root filesystem, xfs formatted, seems to hang forever.
Even CTRL-ALT-DEL repeated quickly a few times seems to not break the mount loop. At this point, my observati

[2021-05-04 08:13] CdeMills commented on #1365
@nickdesaulniers

This is pristine 5.12 source from kernel.org; not a single patch applied.

There is a small non-standard build step: after compiling modules, they are splits into two sets: 'modules' and 'modules-extra', the latter being considered as less frequently used.

Regards

Pascal

[2021-05-04 08:24] torvic9 commented on #1104
For future reference, especially for Arch users who want to keep using the native build system, here is a dirty kernel diff for 5.12 that works around the issue:

[code]

[--> Link to full patch file](https://github.com/torvic9/linux512-vd/blob/master/2014-scripts-makefiles-put-thinlto-cache-in-tmp-when-usin.patch)

[2021-05-04 08:28] dileks commented on #1104
Normally, you have a `.thinlto` directory in your kernel build-directory.

[2021-05-04 08:36] torvic9 commented on #1104
That directory is owned by root on Arch and not writable by the user.
It's in /lib/modules/-kernelname- and symlinked to /usr/src.
The alternative would be to copy the build dir to another location and make dkms point to it, but that's IMO more complicated (indeed, I haven't been successful with that).

(Note: I mean a kernel that is already properly installed with pacman)

[2021-05-04 08:39] dileks commented on #1104
Maybe that `.thinlto` dir location should be user-configurable via kbuild/kconfig?

Alternatively, you use `sudo dkms ...`?

[2021-05-04 08:41] torvic9 commented on #1104
Arch uses `fakeroot dkms`, for the Arch default kernel: https://github.com/archlinux/svntogit-community/blob/packages/virtualbox-host-modules-arch/trunk/PKGBUILD

Yes. I will create a patch to make it configurable.

[2021-05-04 08:43] dileks commented on #1104
`fakeroot` is an alternative (which I do no more use in my kernel build-script).

[2021-05-04 17:21] torvic9 commented on #1104
Here is a new diff. I really don't know much about the whole kernel things, but it seems to work in a first test:

[code]

[2021-05-04 18:06] nickdesaulniers commented on #1302
I happened to be reading though the source of modpost (scripts/mod/modpost.c); this is exactly `Pattern 5` that is whitelisted, though it relies on GCC renaming the optimized callee.

[2021-05-04 18:32] nickdesaulniers opened #1368 "panic in rcu_do_batch for full lto"
[ci failures in mainline](https://github.com/ClangBuiltLinux/continuous-integration2/runs/2500643257?check_suite_focus=true):
[code]
I'm surprised to see this failing suddenly in mainline with little/no heads up from next. Unless it's a regression in LLVM? cc @samitolvanen @willdeacon [linux-next](https://github.com/ClangBuiltLinux/continuous-integration2/runs/2498970514?check_suite_focus=true) is

[2021-05-04 18:35] nickdesaulniers commented on #1368
build [421](https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/804813487) was the first red build of mainline approx 2 days ago (May 2).

[2021-05-04 18:45] samitolvanen commented on #1368
Related? https://github.com/ClangBuiltLinux/continuous-integration2/issues/128

That one looks like a regression in LLVM.

[2021-05-04 18:50] nathanchance commented on #1368
[code]

[code]

[2021-05-04 18:51] nathanchance commented on #1368
Yes, same issue. The results of my bisect landed on https://github.com/llvm/llvm-project/commit/936c777e2bf86cd78b532c1331c4f7ee90b95383.

[2021-05-04 18:54] samitolvanen commented on #1368
Confirmed, mine points to the same commit.

[2021-05-04 20:22] nickdesaulniers commented on #1057
Pretty sure this means that GNU objdump can't be used to disassemble kernels built with llvm.
[code]

[2021-05-04 20:37] nickdesaulniers commented on #1368
Yep; for sure it's 936c777e2bf86cd78b532c1331c4f7ee90b95383.

[code]

That looks like `brk` instruction, IIUC?

[code]
perhaps that's `ASM_BUG_FLAGS` called from `BUG`?

[2021-05-04 20:45] nathanchance commented on #1368
The warning that we hit initially:

[`kernel/rcu/tree.c`](https://elixir.bootlin.com/linux/v5.12.1/source/kernel/rcu/tree.c#L2613):

[code]

[2021-05-04 21:19] nickdesaulniers commented on #1368
Diffing the disassembler between the whole vmlinux image built with llvm before and after that commit, there's ~484 new `stp`/`ldp` instructions. Might be searching for a needle in a haystack here.

[2021-05-04 21:47] pcc commented on #1057
In my experience it's possible to work around that issue by passing `-m aarch64` to objdump.

[2021-05-04 21:50] nickdesaulniers commented on #1365
So the title of the bug is wrong, at the least.

Have you tested with thinlto disabled and LLVM_IAS=1 not set yet to confirm? Sounds like perhaps LLVM_IAS=1 is affecting xfs somehow if so.

[2021-05-04 21:53] nickdesaulniers commented on #1368
hacking up llvm, I think perhaps it's a store merge that's suspect;
[code]
seems to boot. Disabling this for just for loads does not.  I can bisect `isPreSt` further. Then maybe we can isolate a single instruction transform perhaps.

[2021-05-04 21:56] nathanchance commented on #1365
Building with `LLVM_IAS=1` and this patch applied would help confirm that:

[code]

[2021-05-04 22:09] samitolvanen opened #1369 "LTO breaks TRIM_UNUSED_KSYMS when symbols are only referenced from inline assembly"
@nickdesaulniers  reports that x86_64 defconfig + `CONFIG_LTO_CLANG_THIN` + `CONFIG_TRIM_UNUSED_KSYMS` currently fails to build with the following modpost error:
[code]

This happens because the list of undefined symbols in `x86_pkg_temp_thermal.ko` is actually determined from the LLVM bitcode in `x86_pg_temp_thermal.o`. While the bitcode does contain references to these symbols, they are in inlin

[2021-05-04 22:13] nathanchance commented on #1369
Is this series relevant? https://lore.kernel.org/r/20210309151737.345722-1-masahiroy@kernel.org/

[2021-05-04 22:20] samitolvanen commented on #1369
That series doesn't seem to change how the list of undefined symbols is generated. We would still have to look at `.lto.o` to make sure none of the symbols are missing.

[2021-05-04 23:08] nickdesaulniers commented on #1368
[code]
boots, so likely something is going wrong merging 64b stores (at the very least).

[2021-05-04 23:14] samitolvanen commented on #1369
This quick patch fixes the issue for me:
[code]
Both defconfig and allmodconfig seem to build with ThinLTO and `TRIM_UNUSED_KSYMS` after I apply the patch, but this is going to need a lot more testing.

[2021-05-04 23:47] nathanchance opened #1370 "s390 all{mod,yes}config __ashlti3 and __lshrti3 after LLVM commit 1886aad9d03b"
[code]

Bisect landed on https://github.com/llvm/llvm-project/commit/1886aad9d03b95c35260d6d8013d746bd39dc94a

[code]

The functions in question:

* [`dr_ste_v0_build_eth_l2_src_or_dst_bit_mask`](https://elixir.bootlin.com/linux/latest/source/drivers/net/ethernet/mellanox/mlx5/core/steering/dr_ste_v0.c#L861)
* [`dr_ste_v0_build_eth_l2_src_or_dst_tag`](https://elixir.bootlin.com/linux/latest/source

[2021-05-05 00:16] nickdesaulniers commented on #1370
https://gcc.gnu.org/onlinedocs/gccint/Integer-library-routines.html

[2021-05-05 00:27] nathanchance commented on #1370
Enabling `CONFIG_NET_SWITCHDEV` in `defconfig`reproduces only one error around `__lshrti3`.

[code]

After enabling UBSAN, errors around `__ashlti3` can be seen:

[code]

[2021-05-05 10:24] stelios-arm commented on #1368
Hello. Do you mind testing if this [patch](https://reviews.llvm.org/D101888) resolves the issue? Thanks

[2021-05-05 10:44] uweigand commented on #1370
GCC implements 128-bit shifts via inline code using SLDL and related instructions, which LLVM currently does not.   I guess we can add support for that to LLVM as well to eliminate this difference.  I'll have a look.

[2021-05-05 16:57] samitolvanen commented on #1368
The fix above landed in commit `3f4bad5eadacfc5322817eaa062dd272b52cfc54` and my arm64 full LTO kernel boots again, so I think we can close this.

[2021-05-05 16:57] #1368 closed, assigned to nobody

[2021-05-05 18:28] nathanchance opened #1371 "-Wignored-attributes in drivers/video/fbdev/core/fbmem.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210505182808.3855516-1-nathan@kernel.org/

[2021-05-05 21:01] nickdesaulniers commented on #1369
@MaskRay mentioned in today's meeting that llvm-nm parses module level inline asm, but not function level inline asm (IIUC). If so, that seems curious.

[2021-05-05 21:08] nathanchance commented on #1349
I provided some feedback to try and move this along upstream: https://lore.kernel.org/r/YJMJAiwMPqlWmr8Y@archlinux-ax161/

[2021-05-05 22:02] MaskRay commented on #1369
The IR symbol table tracks symbols referenced from module level inline asm, but not symbols referenced by function scope inline asm. The issue may be that the LTO library doesn't know that some symbols are referenced by regular (ELF) object files and should be retained, so such symbols are incorrectly discarded.

I thought about whether we should track inline asm, but this requires another iterati

[2021-05-05 22:13] nathanchance commented on #1357
That seems like something to consider filing on Debian's issue tracker. I assume they did not include an explicit depends because you can use `ld.lld` without those shared libraries.

At any rate, ClangBuiltLinux is not affected by that change because `llvm-12-linker-tools` is installed via a `Depends` when installing `llvm-12` and `tuxmake` [installs `llvm-12` when building the Docker images](htt

[2021-05-05 22:13] #1357 closed, assigned to nobody

[2021-05-05 23:03] jcai19 commented on #1349
Thanks for the feedback! Will update the patch.

[2021-05-06 00:11] nathanchance commented on #1225
Someone has proposed deleting this flag because it actually does nothing (see the GCC commit in the commit message): https://lore.kernel.org/r/baa95d7235921dff23bed6320518f3fa90396603.1612681353.git.fthain@telegraphics.com.au/

[2021-05-06 00:28] nathanchance commented on #1360
Patch submitted: https://lore.kernel.org/r/20210506001410.1026691-1-nathan@kernel.org/

[2021-05-06 16:23] uweigand commented on #1370
Should now be fixed by https://reviews.llvm.org/D101993

[2021-05-06 16:38] nickdesaulniers commented on #1328
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?h=locking/urgent&id=1139aeb1c521eb4a050920ce6c64c36c4f2a3ab7

(Will need to backport to stable)

[2021-05-06 16:59] nickdesaulniers commented on #1370
Thanks @uweigand @nathanchance and Jonas! confirmed that I can build allyesconfig for s390 :) w/ llvm @ e2d774a3dbbbbff21531289889f6906b22f04cfe

[2021-05-06 16:59] #1370 closed, assigned to nobody

[2021-05-06 17:51] nathanchance commented on #803
Merged into mainline: https://git.kernel.org/torvalds/c/7f3d349065d0

[2021-05-06 17:51] #803 closed

[2021-05-06 17:51] nathanchance commented on #970
Merged into mainline: https://git.kernel.org/torvalds/c/7f3d349065d0

[2021-05-06 17:51] #970 closed

[2021-05-06 17:52] nathanchance commented on #1331
Merged into mainline:

https://git.kernel.org/torvalds/c/2f095504f4b9
https://git.kernel.org/torvalds/c/7ce047715030
https://git.kernel.org/torvalds/c/adebc8817b5c

[2021-05-06 17:52] #1331 closed, assigned to nathanchance

[2021-05-06 19:05] nickdesaulniers opened #1372 "orphan section `__cpuidle_method_of_table'"
via: https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/thread/KV3K4HNCDQ54SP6MJQNF63WAGFPWV6IT/

[code]
via `CPUIDLE_METHOD_OF_DECLARE`.

We could put `__cpuidle_method_of_table` in `RODATA`, but I'm curious if this section is really necessary?
[code]

[2021-05-06 19:13] nathanchance commented on #1372
This has a patch from Arnd that has reviews from you and Miguel, it needs chasing I guess?

https://lore.kernel.org/r/20201230155506.1085689-1-arnd@kernel.org

https://lore.kernel.org/r/202104071241.DDD60D1B49@keescook/

[2021-05-07 02:14] nathanchance commented on #1370
Thanks for the quick fix @uweigand! Would you be opposed to allowing https://github.com/llvm/llvm-project/commit/1c4cb510b4daccc0f4763958567affc2b442f317 to be added to LLVM 12.0.1? CKI will run into this once [this issue](https://lore.kernel.org/r/20210423130530.GA6564@kitsune.suse.cz/) is resolved because I see a build failure of this nature with Fedora's config + LLVM 12.0.0 unfortunately, not

[2021-05-07 06:45] uweigand commented on #1370
Hi @nathanchance , I think this would be OK to backport.   Please go ahead and open a bug.

[2021-05-07 07:22] nathanchance commented on #1370
Thanks! Done: https://llvm.org/pr50252

[2021-05-07 16:18] mshockwave commented on #1225
Good to know, thanks!

[2021-05-09 22:08] nathanchance commented on #1328
Merged into mainline: https://git.kernel.org/linus/1139aeb1c521eb4a050920ce6c64c36c4f2a3ab7

I can do the backports tomorrow.

[2021-05-10 04:48] alokprasad opened #1373 "How to Build External Kernel module with CLANG ( sample Makefile)"

[2021-05-10 05:12] nathanchance commented on #1373
Not quite sure what is being asked here. You can build an external module with clang just like a regular kernel with the use of `CC=clang` or `LLVM=1` for all of the LLVM tools.

[2021-05-10 16:25] tansy commented on #636
Have you tried to use comment (`/* fall through */` or `/* fallthrough */`, whatever works) as it's been done [here](https://github.com/inikep/lizard/commit/dda3b335e92ecd5caceccc9c577b39dd4e3c9950), or [here](http://stackoverflow.com/questions/45349079/ddg#48702576)?

[2021-05-10 16:57] nathanchance commented on #1349
Patch is accepted and queued for the next 4.19 release in a couple of days: https://lore.kernel.org/r/16206352882063@kroah.com/

[2021-05-10 17:21] nathanchance commented on #636
Clang does not and will not support fall through comments:

https://godbolt.org/z/fW4zx1dnG

https://llvm.org/pr43465

https://reviews.llvm.org/D73852

The conversion to `__attribute__((__fallthrough__))` is being tracked at #236.

This issue is concerned with the fact that Clang and GCC disagree on warning on cases that fallthrough to `break`, `return`, etc:

https://godbolt.org/z/vvorYjfPj

[2021-05-10 17:30] nickdesaulniers commented on #1373
Perhaps provide a list of command you tried @alokprasad , and what errors you observed.

[2021-05-10 18:28] nathanchance commented on #1371
Linus fixed this up himself: https://git.kernel.org/linus/6dae40aed484ef2f1a3934dcdcd17b7055173e56

[2021-05-10 18:28] #1371 closed, assigned to nathanchance

[2021-05-10 21:38] nathanchance commented on #1328
Backports submitted: https://lore.kernel.org/r/YJmneuxxFWIrqyWN@archlinux-ax161/

I expect these to be picked up and released within the next couple of weeks so I am closing this up for now.

[2021-05-10 21:38] #1328 closed, assigned to nathanchance

[2021-05-12 03:53] nickdesaulniers commented on #1178
https://llvm.org/pr44418
https://lists.llvm.org/pipermail/llvm-dev/2021-May/150417.html

[2021-05-12 10:44] ms178 commented on #1369
Thanks, I've applied your patch manually to my 5.12.3-Xanmod-Kernel (which I use with the Speculative Page Fault series and Cluster-Topology Scheduler patches on top) and it compiles and boots fine now. While testing this patch, I've noticed some problems with copy and pasting text between the browser and the console or Dolphin file manager, I get the following new dmesg-entries:

[  +0,000096] al

[2021-05-12 10:50] ms178 commented on #1369
By the way, the performance difference between a GCC vs. Clang-compiled Kernel (both equally optimized) is around 5% in favor of the Clang-built Kernel in the WebGL Aquarium benchmark with 10.000 fishes (which I use for a quick performance test): 98 vs 103 fps (https://webglsamples.org/aquarium/aquarium.html)

[2021-05-12 16:47] torvic9 commented on #1104
I think this can be closed for now.
For me, the problem is solved with the above patch.
(PS: thanks @nickdesaulniers for the invitation to ClangBuiltLinux, but I do not have enough knowledge to help you with your project.)

[2021-05-12 17:35] kees commented on #1002
This is blocked on an LLVM bug: https://llvm.org/pr41459

[2021-05-12 18:13] nathanchance commented on #1104
I wonder if it is worth upstreaming that diff?

[2021-05-12 18:45] kees commented on #1002
And blocked on this LLVM bug: https://llvm.org/pr50322

[2021-05-13 15:36] samitolvanen commented on #1369
Great, thank you for testing!

[2021-05-14 08:42] ms178 commented on #1369
@samitolvanen

I've just tried Full LTO with TRIM_UNUSED_KSYSMS and your patch, much to my surprise it compiled fine (albeit the compressed deb-file is roughly 10% bigger than the ThinLTO variant). Unfortunately the Kernel would not boot and hangs between GRUB and initializing the kernel (I've also hit this symptom with GCC LTO by the way).

[2021-05-14 13:07] aruhier opened #1374 "AMDGPU general protection fault with LTO"
Hello,
I'm using linux-xanmod 5.12, and tried clang with thinlto. It boots but when the amdgpu driver loads, I get a general protection fault. Same with full LTO. However it runs fine without LTO.

Xanmod is using a multigen LRU, but disabling it gives the same error (so I can try with a vanilla kernel, but I don't think that's the issue here).

Logs: [5.12.3-2.log](https://github.com/ClangBuiltLi

[2021-05-14 16:01] nathanchance commented on #1374
Please do try a vanilla kernel first if it is not too difficult. Some custom kernels have a lot of out of tree patches, which can make things more complicated to debug.

[2021-05-14 17:39] aruhier commented on #1374
Makes sense. I just did, and same error.

Logs: [5.12.3-vanilla.log](https://github.com/ClangBuiltLinux/linux/files/6480357/5.12.3-vanilla.log)
Config: [kernel-config-5.12.3-vanilla-x86_64.txt](https://github.com/ClangBuiltLinux/linux/files/6480358/kernel-config-5.12.3-vanilla-x86_64.txt)
Build logs: [genkernel-vanilla.log](https://github.com/ClangBuiltLinux/linux/files/6480359/genkernel-vanilla.l

[2021-05-14 18:14] nathanchance commented on #1374
Your build command is a little odd:

[code]

I do not see `LLVM_IAS=1` anywhere, which is a little odd, since that is a dependency of `HAS_LTO_CLANG`. I guess `genkernel` does not have support for that explicitly but I am guessing you could add `LLVM_IAS=1` to your `MAKEOPTS`. `AS='/usr/lib/llvm/12/bin/llvm-as'` does not work for selecting the integrated assembler for two reasons:

1. `$(AS)` was

[2021-05-14 20:47] nickdesaulniers commented on #1374
from the initial log:
[code]
so some bad stack access in dcn30_update_bw_bounding_box perhaps? @aruhier can you provide the output of `llvm-objdump -Dr --disassemble-symbols=dcn30_update_bw_bounding_box vmlinux` in another file attachment?

[2021-05-14 21:08] nathanchance commented on #1268
Fixed: https://git.kernel.org/linus/2c475caf72f37c565c03c2f6b9b9e86ec29932e2

[2021-05-14 21:08] #1268 closed, assigned to nathanchance

[2021-05-14 21:15] nathanchance commented on #1020
Someone sent a patch equivalent to mine above: https://lore.kernel.org/r/20210514205643.383422-1-raj.khem@gmail.com/

[2021-05-14 21:45] nathanchance commented on #1366
Arnd sent a patch: https://lore.kernel.org/r/20210514200453.1542978-1-arnd@kernel.org/

[2021-05-14 22:42] nathanchance opened #1375 "Assertion `i == DstIdx || !MI->getOperand(i).isReg() || MI->getOperand(i).getReg() != RegA' failed"
This issue is more of an FYI than anything else.

With an assertions build of LLVM 10 and LLVM 11, I get a crash while building x86_64 defconfig:

[code]

When I bisected Linux, I ended up with https://git.kernel.org/linus/569dd8b4eb7ef666b467c41b8e8e4f2820d07f67 and when I bisected LLVM for the fix, I ended up with https://github.com/llvm/llvm-project/commit/42a82862b625279028130e62846d057425bca6

[2021-05-14 22:42] #1375 closed, assigned to nobody

[2021-05-14 23:06] nickdesaulniers commented on #1020
that someone is @kraj, who has given talks on [Linux and LLVM](http://events17.linuxfoundation.org/sites/events/files/slides/Embedded-linux-with-clang.pdf) before. ;)

[2021-05-15 00:42] aruhier commented on #1374
I do, I export `LLVM=1 LLVM_IAS=1`. Without it, I cannot enable LTO.

[2021-05-15 01:19] aruhier commented on #1374
Sorry, I'm really not used to tweak with LLVM binaries, so I'm probably not going to be able to adapt too much the commands you give me.
So:

[code]

Which is probably not what you want. However I executed it on the amdgpu module: [amdgpu.log](https://github.com/ClangBuiltLinux/linux/files/6481700/amdgpu.log)

Edit: sorry, for that I had to recompile my kernel again, as I cleaned my modules (I won

[2021-05-15 01:50] kraj commented on #1020
@nickdesaulniers yay :) I can boot 5.13-rc1 on Real hardware now with LLVM=1, so when my patch is accepted, we need to update https://www.kernel.org/doc/html/latest/kbuild/llvm.html#supported-architectures to reflect that RISCV can build with `LLVM=1` too

There still is a clang driver bug where it should have passed `-mno-relax` to GNU as but I had it neutered. @MaskRay has sent a patch to clang

[2021-05-16 05:39] nathanchance commented on #1348
Merged into mainline: https://git.kernel.org/linus/2515dd6ce8e545b0b2eece84920048ef9ed846c4

[2021-05-16 05:39] #1348 closed, assigned to nickdesaulniers

[2021-05-16 20:29] mshockwave commented on #1242
Patch for this issue is on Phab now: https://reviews.llvm.org/D102585
Feel free to make yourself a reviewer :-)

[2021-05-17 18:24] nickdesaulniers commented on #1178
Landed in https://reviews.llvm.org/rGc9b36a041fd70de0617ea7e241f520b345e12cac, @asb that's probably interesting for llvm weekly.

[2021-05-17 18:24] #1178 closed

[2021-05-17 18:49] #289 closed

[2021-05-17 20:25] nickdesaulniers commented on #1374
[code]

So again, we're using SSE/SIMD instructions that require 16B aligned operands.  If the stack was 0xffffb80d81b6b5d8, then 0xffffb80d81b6b5d8 + 240 is 0xffffb80d81b6b6c8 which is obviously not a multiple of 16B. [This mentions that movaps will GP fault on misaligned operands](https://c9x.me/x86/html/file_module_x86_id_180.html).  So this is the same symptom as #735 .

So my next line of inv

[2021-05-17 20:33] samitolvanen commented on #1374
We do have this in `arch/x86/Makefile`:
[code]
Might not work correctly, of course.

[2021-05-17 21:16] aruhier commented on #1374
Here is the full log of the build: [genkernel-vanilla.log.gz](https://github.com/ClangBuiltLinux/linux/files/6496929/genkernel-vanilla.log.gz)

I looked at `drivers/gpu/drm/amd/display/dc/dcn30/dcn30_resource.c`, which seems to be built with `-mstack-alignment=8`:

[2021-05-17 23:44] nickdesaulniers commented on #1374
@samitolvanen is `KBUILD_LDFLAGS` used for modules, or just `vmlinux`?

I don't think so, from the provided log:

[code]

Indeed.

[2021-05-17 23:48] nathanchance commented on #1374
It should be: https://elixir.bootlin.com/linux/v5.13-rc2/source/scripts/Makefile.modfinal#L54

[2021-05-17 23:48] samitolvanen commented on #1374
The linker flags used for `.lto.o` come from `ld_flags` in `scripts/Makefile.lib`, which defines it as:
[code]
Based on the log, it definitely looks like something isn't defined correctly there.

[2021-05-17 23:54] nathanchance commented on #1374
KBUILD_LDFLAGS is getting clobbered in `arch/x86/Makefile` with `:=`

[code]

I'll draft up a patch and have @aruhier test it before sending it along.

[2021-05-18 00:00] aruhier commented on #1374
Sure, thanks!

[2021-05-18 00:00] nickdesaulniers commented on #1374
good find, looks like the review of b33fff07e3e38 (v5.12-rc1) missed that, from 587af649bcc04eb016822f209a975005c0092151 (v5.9-rc1). Pretty tricky thing to catch anyways.

[2021-05-18 00:08] nathanchance commented on #1374
@aruhier please apply this and see if resolves your issue!

https://gist.github.com/nathanchance/f4d3f4ef1b523b60e9bd3359ccb1a57c/raw/257b21295510cc00b5c7dbed02c9c79930a29304/0001-x86-Fix-location-of-plugin-opt-flags.patch

Additionally, please provide me with an email address if you would like a proper `Reported-by` tag :)

@nickdesaulniers @samitolvanen if you have any suggestions for the wordin

[2021-05-18 00:09] nathanchance commented on #1374
I will also stick a `Cc: stable@vger.kernel.org` on there since LTO landed in 5.12.

[2021-05-18 00:12] aruhier commented on #1374
I'll test it in ~12h, thanks a lot for this patch!
For the email address, you can use the one from my github profile.

[2021-05-18 00:15] samitolvanen commented on #1374
The patch looks good to me, but would it be better to just change the `:=` to `+=` to avoid similar issues in future? There should be no need to clear `KBUILD_LDFLAGS` here.

[2021-05-18 00:16] nathanchance commented on #1374
Thank you for reporting it :)

Sounds good, I have updated the patch now. Once you test it and confirm it works, I will add a `Tested-by:` tag as well.

[2021-05-18 00:17] nickdesaulniers commented on #570
the x86 patch landed as a554e740b66a83c7560b30e6b50bece37555ced3. I've pinged the ppc one.

[2021-05-18 00:18] nickdesaulniers commented on #1374
yeah, resetting KBUILD_LDFLAGS seems like a mistake TBH; not sure if that changes the Fixes tag.

[2021-05-18 00:20] nathanchance commented on #1374
Sure, I can change the `:=` at the same time as moving the flags down. 587af649bcc04eb016822f209a975005c0092151 moved all of the `LDFLAGS` to the same area so I figured that is probably worth keeping. The main Makefile provides an empty `KBUILD_LDFLAGS` so `:=` is not necessary (same thing with `LDFLAGS_vmlinux` but that probably warrants a follow up patch).

[2021-05-18 00:20] nickdesaulniers commented on #876
AKPM picked this up: https://ozlabs.org/~akpm/mmots/broken-out/x86-signal-dont-do-sas_ss_reset-until-we-are-certain-that-sigframe-wont-be-abandoned.patch

[2021-05-18 00:22] nickdesaulniers commented on #1285
v6: https://lore.kernel.org/lkml/20210510145234.594814-1-schnelle@linux.ibm.com/

[2021-05-18 00:29] nathanchance commented on #1374
Patch has been updated: https://gist.githubusercontent.com/nathanchance/f4d3f4ef1b523b60e9bd3359ccb1a57c/raw/248b039a9fa4cf969b33f6048c7e761af9dca683/0001-x86-Fix-location-of-plugin-opt-flags.patch

[2021-05-18 10:20] aruhier commented on #1374
Built today on 5.12.4, it runs great :tada:
Thanks again!

PS: I don't know if you want to close this issue once the patch is sent or not, so I let it open but feel free to close it.

[2021-05-18 13:16] tansy commented on #636
Ok, I get that.

[2021-05-18 19:02] nathanchance commented on #1374
Patch submitted: https://lore.kernel.org/r/20210518190106.60935-1-nathan@kernel.org/

We will close the issue when this patch is merged into Linus's tree. Thanks again for the report and testing!

[2021-05-18 20:12] nickdesaulniers opened #1376 "no_sanitize fn attr"
via @melver : https://llvm.org/pr49035

[2021-05-18 20:23] nickdesaulniers opened #1377 "encode code-model and stack-alignment in IR"
follow up to #1374 .

In https://lore.kernel.org/lkml/20210518190106.60935-1-nathan@kernel.org/ @nathanchance sent a patch for `-plugin-opt=-code-model=kernel`, and `-plugin-opt=-stack-alignment=`. We should encode these in LLVM's IR, and drop them from Kbuild.

[2021-05-18 20:41] nickdesaulniers commented on #570
v2 of ppc patch: https://lore.kernel.org/lkml/20210518204044.2390064-1-ndesaulniers@google.com/

[2021-05-18 20:59] nickdesaulniers commented on #1160
submitted: https://lore.kernel.org/lkml/20210518205858.2440344-1-ndesaulniers@google.com/T/#u

[2021-05-18 21:14] nickdesaulniers commented on #977
backport requested in https://lore.kernel.org/stable/CAKwvOd=iaL8_e4gxBPAzZbgCHtMy=gLi1YT9ja5Q_9+dE-L==w@mail.gmail.com/T/#u. Thanks @nathanchance for identifying the fix.

[2021-05-18 21:20] samitolvanen opened #1378 "LTO: ld.lld: error: undefined symbol: __stack_chk_guard"
Starting with LLVM commit `0f417789192e74f9d2fad0f6aee4efc394257176` ("[AArch64] Support customizing stack protector guard"), arm64 defconfig fails to build with ThinLTO:
[code]

Phabricator: https://reviews.llvm.org/D100919

@nickdesaulniers Any thoughts on what goes wrong here? Another attribute missing from IR?

[2021-05-18 21:43] nickdesaulniers commented on #479
I've posted patches for android-mainline in [this topic](https://android-review.googlesource.com/q/topic:hermetic_clang) cc @metti .

[2021-05-18 22:36] nickdesaulniers commented on #1378
Can you add `--stack-protector-guard=sysreg --stack-protector-guard-reg=sp_el0 --stack-protector-guard-offset=` to plugin opts; similar to #1374 ? Getting the precise offset requires a script that generates the header anyways; see arch/arm64/Makefile grep `TSK_STACK_CANARY`.

Yes, we should probably convert these from command line options to fn or module attrs.

[2021-05-18 23:41] samitolvanen commented on #1378
Sure. This fixes the issue for me:
[code]
I'll send a patch tomorrow if this looks correct to you.

[2021-05-18 23:46] nickdesaulniers commented on #1378
Let me see if I can fix forward in LLVM by tomorrow evening?  I have a patch generating the module attr's from clang, and I'm working on wiring that up in the backends now.

[2021-05-19 00:53] nickdesaulniers commented on #1378
WIP: https://reviews.llvm.org/D102742

[2021-05-19 12:27] arndb opened #1379 "ubsan, mips: excessive stack usage with -fsanitize=alignment"
Vincent got a complaint from a bot about a change he made in the scheduler:

https://groups.google.com/d/msgid/clang-built-linux/CAKfTPtB9B9jv_uSk0fS7uOTtH5FCwLcAOrPjtXzRuURLUMFnoA%40mail.gmail.com

I had a look at this, and it seems that clang ends up excessively spilling local variables when building with -fsanitize=alignment on mips32, causing hundreds of warnings like:

[code]

From the assemb

[2021-05-19 12:31] arndb commented on #1379
And now I found that there is already a workaround in the kernel for it in Kconfig:

[code]

The build bot that reported it did not set COMPILE_TEST, otherwise it should not have been able to turn this option on in the absence of CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS for this target.

[2021-05-19 13:47] melver commented on #1376
Under review: https://reviews.llvm.org/D102772

[2021-05-19 17:02] nathanchance commented on #1374
Patch accepted: https://git.kernel.org/tip/0024430e920f2900654ad83cd081cf52e02a3ef5

[2021-05-19 17:05] nathanchance commented on #1366
Accepted: https://git.kernel.org/pdx86/platform-drivers-x86/c/ba6e1d8422bd476ad79da409639a773c02f0cbad

[2021-05-19 20:52] mshockwave commented on #1224
Patch for this issue has been put on Phab: https://reviews.llvm.org/D102805

[2021-05-19 21:21] m-falkowski commented on #1325
Patch accepted: https://lore.kernel.org/lkml/YKNh5ekJ1ffBZ+xd@atomide.com/

[2021-05-19 21:23] m-falkowski commented on #1324
Patch accepted: https://lore.kernel.org/lkml/YKNfgRWM9MK1MY9O@atomide.com/

[2021-05-19 21:40] nickdesaulniers commented on #1074
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/commit/?h=for-next/clang/pgo&id=e1af496cbe9b4517428601a4e44fee3602dd3c15

[2021-05-20 18:32] #1373 closed, assigned to nobody

[2021-05-20 18:35] nickdesaulniers commented on #1365
Hi @CdeMills can you please test [the suggestion above](https://github.com/ClangBuiltLinux/linux/issues/1365#issuecomment-832276938)?

[2021-05-20 18:37] nickdesaulniers commented on #1342
I believe @MontigyFerriot has patches for this. Probably worth sending to the list.

[2021-05-20 21:13] nathanchance commented on #1366
Merged into mainline: https://git.kernel.org/linus/ba6e1d8422bd476ad79da409639a773c02f0cbad

[2021-05-20 21:13] #1366 closed, assigned to arndb

[2021-05-20 23:06] nathanchance commented on #1225
Patch was picked up for 5.14: https://git.kernel.org/geert/linux-m68k/c/bc7c9993a0d836aa88aca2969dcb9b22031924d3

[2021-05-20 23:39] nathanchance opened #1380 "m68k: invalid % escape in inline assembly string"
At https://github.com/llvm/llvm-project/commit/748db5bfacf1f81f65e8c052459ed3eca6aa18c8:

[code]

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/m68k/include/asm/segment.h

Standalone reproducer:

[code]

cc @mshockwave

[2021-05-20 23:46] nathanchance commented on #1242
https://github.com/llvm/llvm-project/commit/dccf5c7dfb9e68f8750947f5c10ad3227cd92b50

[2021-05-20 23:46] #1242 closed

[2021-05-20 23:47] nathanchance commented on #1224
https://github.com/llvm/llvm-project/commit/e620bea21199791513f3193a71b819b20a707ab1

[2021-05-20 23:47] #1224 closed

[2021-05-21 01:13] nathanchance opened #1381 "hexagon defconfig broken after "mm/slub: use stackdepot to save stack trace in objects""
Pointed out by our CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2628252183?check_suite_focus=true

[code]

`CONFIG_STACKDEPOT` is [now selected](https://lore.kernel.org/r/20210414163434.4376-1-glittao@gmail.com/), which reveals that Hexagon has never handled `IRQENTRY_TEXT` and `SOFTIRQENTRY_TEXT`, which is necessary for `CONFIG_STACKDEPOT` after https://git.kernel.org/linus

[2021-05-21 17:52] nickdesaulniers commented on #1380
Another case I see is:
[code]

[2021-05-21 17:53] nickdesaulniers opened #1382 "-Wdivision-by-zero in include/linux/poll.h"
working around #1380 , I do see the next warning to figure out:
[code]

[2021-05-21 21:56] mshockwave commented on #1380
This seems to be a legacy GCC inline asm feature that has never got supported in LLVM/Clang.
More specifically, allow inline asm to have special "punctuation" character followed after '%'.

[2021-05-21 23:04] nickdesaulniers commented on #1378
Should be fixed: https://reviews.llvm.org/rG033138ea452f5f493fb5095e5963419905ad12e1

(sorry for the wait)

[2021-05-21 23:04] #1378 closed, assigned to nickdesaulniers

[2021-05-21 23:06] nickdesaulniers commented on #1380
If I remove it, and the following char, I get tons of failures from GAS; so I think Clang is pre-validating the escape sequences and doesn't yet support these, which it should for m68k assembler.

[2021-05-22 00:03] samitolvanen commented on #1378
Great, thank you for fixing this, Nick!

[2021-05-22 02:42] nathanchance opened #1383 "Assertion `(IK == IK_FpInduction || Step->getType()->isIntegerTy()) && "StepValue is not an integer"' failed"
After the PGO patch set was accepted, I see the following crash with x86_64 allmodconfig:

[code]

`cvise` spits out:

[code]

[code]

[code]

My bisect landed on https://github.com/llvm/llvm-project/commit/54b64572407c8305c7bb8cc20c46a5e0c66b2979 but that seems obvious since the pass was not present before that commit.

Reported on the upstream LLVM issue tracker: https://llvm.org/pr50440

cc @gw

[2021-05-23 14:13] glebm commented on #1334
Could this be caused by something similar to this? https://patchwork.kernel.org/project/linux-arm-kernel/patch/20190423232622.GA11776@beast/

[2021-05-23 17:51] nathanchance commented on #1374
Merged into mainline: https://git.kernel.org/torvalds/c/0024430e920f

This should be backported to stable automatically.

[2021-05-23 17:51] #1374 closed, assigned to nathanchance

[2021-05-23 20:18] nathanchance opened #1384 "Stack alignment plugin option boot failure with CONFIG_CFI_CLANG"
My commit [`0024430e920f`](https://git.kernel.org/linus/0024430e920f2900654ad83cd081cf52e02a3ef5) ("x86/build: Fix location of '-plugin-opt=' flags") prevents my WSL2 virtual machine from booting on my Intel based laptop, even though my AMD based workstation has no issues with the exact same binary.

So far, I have verified that:

1. The issue is not present with just `CONFIG_LTO_CLANG_THIN`, only

[2021-05-24 04:26] nickdesaulniers commented on #1384
I wonder if we're setting the stack alignment on an object file that without LTO we do not.  As in without LTO, we don't set the stack alignment to 8 for a particular object file (probably by accident). Then with LTO, we _do_ set the stack alignment and something somewhere breaks.  To test that hypothesis, I'd dump the the output from `make ... V=1 &> log.txt` and see if any non-host object file w

[2021-05-24 04:33] nathanchance commented on #1384
Good thoughts. I will try looking at the build logs as well as trying to reproduce with full LTO. If that fails, I will try to see if I can bisect down to a folder/object file by removing the CFI flags.

[2021-05-24 10:13] DavidSpickett commented on #921
(I had my email rules wrong so I missed this)

Very strange:
[code]

Something about 3. I'll look at this today and at least raise an llvm bug.

[2021-05-24 11:53] FireBurn commented on #1374
Linking this in https://gitlab.freedesktop.org/drm/amd/-/issues/1555

[2021-05-24 13:22] DavidSpickett commented on #921
Opened https://llvm.org/pr50454

For now the fix for your build is, well, don't pass armv3m if you don't want warnings. (unless there is an effort to actually build for that) I don't think it'll change codegen though.

I'll clean these up on the llvm side so that in future this is either a hard error "does not support" or it recognises the CPU. Depends on whether they're actually real CPUs.

[2021-05-24 14:42] DavidSpickett commented on #921
The llvm bug covers a few CPU discrepancies I found, https://reviews.llvm.org/D103028 will fix this specifically.

[2021-05-24 15:36] samitolvanen commented on #1384
I wasn't able to reproduce this on qemu with defconfig + ThinLTO + CFI. Can you share your config? Hopefully this is not hardware specific.

[2021-05-24 17:19] mshockwave commented on #1380
I've sent the patch to fix the "%/" and "%." (which will simply be replace by "%" and ".", respectively) appeared in the asm string: https://reviews.llvm.org/D103036
But I don't think it can fully fix this case: "__asm__ ("movec %/dfc,%0":"=r" (a):);" because `%dfc` seems to be a register that hasn't supported yet.

[2021-05-24 17:31] nickdesaulniers commented on #1380
Thanks @mshockwave . I think we can follow up with a second bug for `dfc` and `sfc`.

[2021-05-24 17:52] nathanchance commented on #1384
@samitolvanen here you go: https://gist.github.com/nathanchance/0b3b29399544963f4d0bc271d99f1cda

[2021-05-24 18:20] samitolvanen commented on #1384
Thanks. This config still boots in qemu for me, so might be something specific to WSL2. I also looked at the build log and didn't see anything built with LTO that wouldn't also have `-mstack-alignment=8`.

[2021-05-24 20:22] nathanchance commented on #1384
Turns out `CONFIG_LTO_CLANG_FULL=y` also reproduces this without `CONFIG_CFI_CLANG=y` but I still cannot reproduce in QEMU so I am trying to use full Hyper-V; otherwise, I will have to try bisecting by disabling LTO in places or figuring out a way to get logs from WSL2.

[2021-05-24 21:28] nickdesaulniers commented on #1377
stack alignment: https://reviews.llvm.org/D103048

[2021-05-24 22:01] #1365 closed, assigned to nobody

[2021-05-25 01:12] nathanchance commented on #1384
I applied https://git.kernel.org/linus/0024430e920f2900654ad83cd081cf52e02a3ef5 on top of `v5.12` and that kernel boots up no problem. `0024430e920f2` on top of `v5.13-rc1` does not boot. My bisect drilled down to [`9bc0bb50727c8ac69fbb33fb937431cf3518ff37`](https://git.kernel.org/linus/9bc0bb50727c8ac69fbb33fb937431cf3518ff37):

[code]

Reverting `9bc0bb50727c8ac69fbb33fb937431cf3518ff37` and [it

[2021-05-25 11:04] melver commented on #1376
https://github.com/llvm/llvm-project/commit/280333021e9550d80f5c1152a34e33e81df1e178

[2021-05-25 11:05] melver commented on #1376
Reopen. We're still missing the kernel-side patch. Will send that shortly.

[2021-05-25 18:02] melver commented on #1376
Patch sent: https://lkml.kernel.org/r/20210525175819.699786-1-elver@google.com

[2021-05-25 18:12] mandlebug commented on #1332
Hi Alexey,  LLD also inserts trampolines for the `R_PPC64_REL14` relocation type when the offset is too large to fit the instruction, or at least it typically does. Usually we see this error when there is no section close enough to the relocated address to insert the trampoline. Can you add `--reproduce` to the link step to get me a reproducer to look at? I can try to figure out what's different b

[2021-05-25 21:50] melver commented on #1376
Picked up into -mm tree.

[2021-05-26 21:24] m-falkowski commented on #1326
Patch accepted: https://lore.kernel.org/lkml/YK4rDeJSS9rEAF0W@atomide.com/

[2021-05-27 18:33] samitolvanen opened #1385 "51d334a845a082338735b0fdfc620a4b15fa26fe breaks x86_64 ThinLTO + dynamic ftrace"
Starting with LLVM commit [51d334a845a082338735b0fdfc620a4b15fa26fe](https://github.com/llvm/llvm-project/commit/51d334a845a082338735b0fdfc620a4b15fa26fe) ("[NFCI] Lazily evaluate SCEVs of PHIs"), ToT x86_64 defconfig + ThinLTO + dynamic ftrace fails to boot:
[code]

The kernel was configured as follows:
[code]

During the build I observed the following objtool warnings, which were not present wit

[2021-05-27 19:59] nathanchance commented on #1385
Does your build of LLVM have assertions enabled? It would be interesting to see if there were any new triggers. The diff of those sections before and after that commit might be interesting as well. Does not look like that commit got any precommit review so it should probably be reverted while this is investigated.

[2021-05-27 20:30] nathanchance commented on #1385
Looks like that patch is a precursor to this patch: https://reviews.llvm.org/D102615#2784051

[2021-05-27 20:43] samitolvanen commented on #1385
After rebuilding LLVM with `-DCMAKE_BUILD_TYPE=Debug` and `-DLLVM_ENABLE_ASSERTIONS=1`, I don't see any new warnings or errors when building the kernel.

[percpu_down_write.59d938e649e62db0cef4903d495e838fbc6a6eb8.txt](https://github.com/ClangBuiltLinux/linux/files/6556707/percpu_down_write.59d938e649e62db0cef4903d495e838fbc6a6eb8.txt)
[percpu_down_write.51d334a845a082338735b0fdfc620a4b15fa26fe.tx

[2021-05-27 20:56] nathanchance commented on #1385
No idea how it happens but we seem to have lost the last call to `_raw_spin_lock_irqsave`, which I assume is why everything explodes...

Before:

[code]

After:

[code]

Not sure about the `try_check_zero` section warning though.

[2021-05-27 21:08] samitolvanen commented on #1385
It's actually the broken commit `51d334a845a082338735b0fdfc620a4b15fa26fe` that has the `_raw_spin_lock_irqsave` call at the end of that function:
[code]

 `59d938e649e62db0cef4903d495e838fbc6a6eb8` is the previous commit, which still produces a working kernel.

Also note that the disassembly above is after objtool. Let me rebuild and see if there's something obvious that trips it up.

[2021-05-27 22:03] nickdesaulniers commented on #1385
I guess it wasn't "No Functional Change Intended" then.

[2021-05-27 22:14] samitolvanen commented on #1385
Looks like objtool just correctly removed the `__fentry__` call in both cases. Otherwise the functions are identical before and after. For example:
[code]

[2021-05-28 04:06] xortator commented on #1385
No functional change was intended, must be a bug. Patch reverted. Sorry for disturbance!

[2021-05-28 04:08] xortator commented on #1385
Please confirm the failure is gone with
[code]

[2021-05-28 15:19] samitolvanen commented on #1385
Thanks, Max. I can confirm the kernel boots again after the revert.

[2021-05-28 18:29] nathanchance opened #1386 "__lwsync macro breakage with ARCH=powerpc"
https://github.com/llvm/llvm-project/commit/62b5df7fe2b3fda1772befeda15598fbef96a614 causes a macro definition collision:

[code]

Patch submitted: https://lore.kernel.org/r/20210528182752.1852002-1-nathan@kernel.org/

[2021-05-31 09:05] glaubitz opened #1387 "error in backend: Named registers not implemented for this target"
On m68k, building the default config with current git snapshots of both LLVM and the Linux kernel, the build fails with:

[code]
[main-0fea6d.zip](https://github.com/ClangBuiltLinux/linux/files/6569147/main-0fea6d.zip)

[2021-05-31 10:07] tsautereau-anssi commented on #1097
@nickdesaulniers To answer your question, yes, only the AArch64 backend had this issue, which was [noticed](https://gcc.gnu.org/pipermail/gcc-patches/2020-July/549910.html) during review of the RISC-V implementation.

[2021-06-01 02:29] nathanchance commented on #1345
https://github.com/llvm/llvm-project/commit/15051f0b4a2e0a0af9da7cd5e5cfaabb9f6aaa3d

[2021-06-01 17:06] nathanchance commented on #1380
https://github.com/llvm/llvm-project/commit/6685a3f3e4c497a3a0fd06aa4e77cb442325d1ba

[2021-06-01 17:06] #1380 closed, assigned to nobody

[2021-06-01 17:07] nathanchance commented on #1387
I am guessing that this issue is related to https://github.com/ClangBuiltLinux/linux/issues/1380#issuecomment-847206334.

cc @mshockwave

[2021-06-01 17:15] nathanchance opened #1388 "ld.lld: error: drivers/gpu/drm/amd/amdgpu/amdgpu.lto.o: SHT_SYMTAB_SHNDX has 79046 entries, but the symbol table associated has 79048"
As pointed out by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2718382554?check_suite_focus=true

[code]

This only happens when `CONFIG_PGO_CLANG` is enabled in addition to `CONFIG_LTO_CLANG_THIN=y`:

[code]

I bisected it down to https://github.com/llvm/llvm-project/commit/b426b45d101740a21610205ec80610c6d0969966 in LLVM.

[code]

cc @MaskRay

[2021-06-01 17:45] nickdesaulniers commented on #1376
reopening until this is in mainline

[2021-06-01 17:46] nickdesaulniers commented on #1387
Yeah, I suspect LLVM needs support for `dfc` and `sfc`.

[2021-06-01 17:49] nickdesaulniers commented on #1345
What's needed on the kernel side to resolve this?

[2021-06-01 17:52] nathanchance commented on #1345
I am not sure there is anything that can be done on the kernel side short of conditionally reverting the above commit on clang 12.0.0 and earlier (assuming that clang 12.0.1 eventually picks up the fix, the LLVM bug is a blocker so it should), which I assume upstream is unlikely to do. To be fair, this seems like a bug worth upgrading a toolchain over as it could come back to bit us in other place

[2021-06-01 17:54] nickdesaulniers commented on #1345
Ok, let's wait until it is cherry-picked to clang-12, then I'm all for requiring clang-12 at least for PPC.

[2021-06-01 18:33] MaskRay commented on #1388
This may be an issue in ELF object writer.

I cannot reproduce:

[code]

Last few lines of output:
[code]

[2021-06-01 18:38] nathanchance commented on #1388
@MaskRay sorry, I should have specified that [linux-next](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/) is needed to see this failure.

[2021-06-01 19:02] nickdesaulniers commented on #1020
https://git.kernel.org/pub/scm/linux/kernel/git/riscv/linux.git/commit/?h=fixes&id=ec3a5cb61146c91f0f7dcec8b7e7157a4879a9ee has been accepted.

[2021-06-01 19:30] nickdesaulniers commented on #1309
submitted https://www.armlinux.org.uk/developer/patches/viewpatch.php?id=9087/1 to RMK's queue.

[2021-06-01 20:04] MaskRay commented on #1388
I think `[Internalize] Rename instead of removal if a to-be-internalized comdat has more than one member` is correct. Without it PGO GC can be wrong. The old `amdgpu.lto.o` has 44662 section headers while the new `amdgpu.lto.o` has 81884 (there are more because there are more `.group`), more than SHN_LORESERVE (0xff00), so `.symtax_shndx` is now needed.

I can reproduce `SHT_SYMTAB_SHNDX has 79582

[2021-06-01 20:22] nathanchance opened #1389 "riscv boot failure on next-20210601"
As pointed out by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/2717606254?check_suite_focus=true

[code]

https://git.kernel.org/riscv/c/010623568222bd144eb73aa9f3b46c79b63d7676

It appears to be the change to `load_pa` that breaks everything, specifically making it `static`. I have gone ahead and reported this upstream for more insight: https://lore.kernel.org/r/YLaWseLdg5J

[2021-06-01 22:34] nickdesaulniers commented on #1389
Did you verify it was just `static` and not also the new/additional `__initdata` annotation?  Having something stop booting due to adding `__initdata` (perhaps mistakenly) seems more likely to results in boot failures.

[2021-06-01 22:36] nathanchance commented on #1389
Yes. Just removing `static` is enough to restore boot.

[2021-06-01 22:45] nickdesaulniers commented on #1389
Is `CONFIG_XIP_KERNEL` enabled in the defconfig?

[2021-06-01 22:53] nickdesaulniers commented on #1247
duping this to #1271

[2021-06-01 22:53] #1247 closed

[2021-06-01 23:00] nickdesaulniers commented on #479
mainline patches are merged, https://android-review.googlesource.com/c/kernel/common/+/1724090 and friends for android13-5.10.

[2021-06-01 23:04] nathanchance commented on #1389
No, this is just `ARCH=riscv defconfig`.

[2021-06-02 17:15] MaskRay commented on #1143
GNU as doesn't support this either, even in -mno-relax mode.
[code]

x86/aarch64/etc support this, either local (resolved) or non-local (2-byte absolute relocation).

[2021-06-02 18:50] nickdesaulniers commented on #1302
commit 4a3893d069b7 ("modpost: don't emit section mismatch warnings for compiler optimizations")

is what added modpost pattern 5; I'd like to see if I can dig up the lore thread around its discussion.

[2021-06-02 19:18] kees commented on #1372
I'll snag this...

[2021-06-02 19:21] kees commented on #1360
I'll snag this...

[2021-06-02 21:08] nickdesaulniers commented on #1388
@samitolvanen doesn't the LTO patch set modify Kbuild to run objtool on the final vmlinux image? I guess if the AMDGPU driver is being built as a module, then objtool has to run on it at some point? Perhaps we could dump amdgpu.lto.o before and after objtool is run on it?

[2021-06-02 21:26] samitolvanen commented on #1388
Yes, we run objtool for the `.lto.o` files in `scripts/Makefile.modfinal` when LTO is enabled. Should be pretty easy to edit that and save a copy of the pre-objtool file.

[2021-06-02 22:33] nathanchance commented on #1388
[code]

[code]

[2021-06-02 23:00] nickdesaulniers commented on #1388
thanks for the number @nathanchance . Using @MaskRay 's math on entity size, we have

amdgpu.lto.o.tmp:
0x1d24d0 / 0x18 == 79582
0x04db78 / 0x04 == 79582

amdgpu.lto.o
0x1d24e8 / 0x18 == 79583
0x04db78 / 0x04 == 79582

so indeed, it looks like objtool is adding 1 entity to .symtab, but not .symtab_shndx.  Can we find what symbol that is? @nathanchance if you still have those two object files, I th

[2021-06-02 23:36] nickdesaulniers commented on #479
12-5.4: https://android-review.googlesource.com/c/kernel/common/+/1725495
12-5.10: https://android-review.googlesource.com/c/kernel/common/+/1725493
I did not see these patches in android-4.19-stable; will close out once those are all landed.

[2021-06-03 00:24] nickdesaulniers commented on #1389
ok, I can repro. Trying to compare the disassemblies with `llvm-objdump` was not helpful; a lot changes just from make `load_pa` extern; or at least `diff -u` cant seem to thread output very well.  Looking at differences in ir, I do see two differences:

`@setup_vm`:
[code]

`@create_kernel_page_table`:
[code]

seems odd that before we were storing `true` into `@load_pa` IIUC. That corresonds to t

[2021-06-03 04:59] nathanchance commented on #1388
That does not seem to work... here is [the direct output](https://gist.github.com/nathanchance/1d58dce18007009e3dfe85c38ac192c1) of that command.

Here is the full output of `llvm-readelf -Ws`:

[pre-objtool](https://gist.github.com/nathanchance/46287852a19bf0216d906244e92acc93)

[post-objtool](https://gist.github.com/nathanchance/3000d073fd25c51259825992be4c0c1f)

[2021-06-03 09:05] DavidSpickett commented on #921
Fixed by https://reviews.llvm.org/rGf4543dce5db585f2b37f39145ad3fa34b6c75b0e.

[2021-06-03 16:23] nathanchance commented on #1360
Thanks Kees!

https://git.kernel.org/kees/c/d4c639990036

[2021-06-03 16:44] #479 closed

[2021-06-03 16:47] nickdesaulniers commented on #921
big thanks @DavidSpickett !

[2021-06-03 16:47] #921 closed

[2021-06-03 16:50] nickdesaulniers commented on #1385
Can we try to get a reduced test case for @max-azul ?

[2021-06-03 17:02] nathanchance commented on #1385
Looks like https://reviews.llvm.org/D102615 has a new revision. I will try to test that later today to make sure none of the LTO/CFI builds are broken with it.

[2021-06-03 17:08] nickdesaulniers commented on #1383
revert requested in https://llvm.org/pr50573

[2021-06-03 17:34] nathanchance opened #1390 "-Wsometimes-uninitialized in drivers/net/ethernet/qualcomm/rmnet/rmnet_map_data.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210603173410.310362-1-nathan@kernel.org/

[2021-06-03 17:43] nathanchance opened #1391 "-Wunused-but-set-variable in fs/btrfs/delayed-inode.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210603174311.1008645-1-nathan@kernel.org/

[2021-06-03 17:50] nickdesaulniers commented on #1388
post-objtool contains a bunch of warnings from llvm-readelf in the form:
[code]

[2021-06-03 17:57] nickdesaulniers commented on #1388
`__x86_indirect_alt_call_r11` is the newly added symbol after objtool runs.

[2021-06-03 17:58] nathanchance commented on #1388
Related to https://github.com/ClangBuiltLinux/linux/issues/1384#issuecomment-847457507?

[2021-06-03 18:06] nickdesaulniers commented on #1389
https://lore.kernel.org/linux-riscv/20210603195418.21fded50@xhacker/ has a similar question about the "store 1 to `load_pa` in `setup_vm` in the broken case."

[2021-06-03 21:41] nathanchance commented on #1309
Accepted: http://git.armlinux.org.uk/cgit/linux-arm.git/commit/?id=1500fbc77bd80b4a71569022c0c46af91e22190e

[2021-06-03 21:42] nathanchance commented on #732
Accepted: http://git.armlinux.org.uk/cgit/linux-arm.git/commit/?id=9e6014c4f5794f03eeb4457dde7122270deb3083

[2021-06-03 23:11] nickdesaulniers commented on #1290
via commit d6fc9fcbaa65 ("kbuild: compile-test exported headers to ensure they are self-contained")

cc @masahir0y @MaskRay

So I guess we'd need to be able to specify `-fuse-ld=lld` and `-L` to tell lld where the cross glibc would be.  Clang isn't configured/bootstrapped to know where a cross-libc is like GCC is.

[2021-06-03 23:20] nickdesaulniers commented on #1390
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/netdev/net-next.git/commit/?id=118de6106735

[2021-06-03 23:28] nickdesaulniers commented on #1272
I've pinged on the list.

[2021-06-03 23:29] nickdesaulniers commented on #1281
28399a5a6d569c9bdb612345e4933046ca37cde5 v5.12-rc7

[2021-06-03 23:29] #1281 closed, assigned to arndb

[2021-06-03 23:30] nickdesaulniers commented on #1285
@arndb do you have cycles to rereview v6 above?

[2021-06-03 23:32] nickdesaulniers commented on #1311
so @kees can you pick this up then? It sounds like Catalin wasn't planning to?

[2021-06-03 23:35] nickdesaulniers commented on #1372
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/commit/?h=for-next/orphans&id=d94b93a9101573eb75b819dee94b1417acff631b

[2021-06-03 23:39] nickdesaulniers commented on #1376
accepted: https://ozlabs.org/~akpm/mmotm/broken-out/kcov-add-__no_sanitize_coverage-to-fix-noinstr-for-all-architectures-v3.patch

[2021-06-04 00:32] nickdesaulniers commented on #1290
We removed --gcc-toolchain in commit c91d4e47e10e ("Makefile: Remove '--gcc-toolchain' flag") (and --prefix when using LLVM_IAS=1 in commit eec08090bcc11 ("Makefile: Only specify '--prefix=' when building with clang + GNU as")).

Perhaps for CONFIG_UAPI_HEADER_TEST or at least CC_CAN_LINK, we need to be specifying --gcc-toolchain.

---

For Android, we do not distribute a build of glibc for target

[2021-06-04 00:50] nathanchance commented on #1385
https://reviews.llvm.org/D102615 passes a regular defconfig, defconfig + CONFIG_LTO_CLANG_THIN=y, and defconfig + CONFIG_LTO_CLANG_THIN=y + CONFIG_CFI_CLANG=y for arm64 and x86_64 at https://github.com/llvm/llvm-project/commit/cfa9ae99408fceb063473d9339b7006075c686a9 and https://github.com/samitolvanen/linux/commit/29d7af2b841f9658d082ef5333c1493763f78650.

[2021-06-04 03:41] nathanchance commented on #1290
You are only setting `--rtlib=compiler-rt`, for the host, right? This is for the target.

Furthermore, the header tests appear to blow away `$(c_flags)`, which includes `KBUILD_CFLAGS`, presumably for hermeticity reasons.

[2021-06-04 04:28] prabhatkrmishra opened #1392 "invalid operand for umov"
<inline asm>:1:69: error: invalid operand for instruction
        dup     v1.4s, w14              ;movi   v0.16b, #0              ;aese   v0.16b, v1.16b          ;umov   w14, v0.4s[0]   ;
                                                                                                                                                                    ^
LLVM ERROR: Error parsing inline asm

PLEASE s

[2021-06-04 04:28] prabhatkrmishra commented on #1392
I cherry-picked commits from here for Clang LTO support. https://github.com/mvaisakh/android_kernel_asus_sdm660/tree/clang-LTO
Commit start from mvaisakh/android_kernel_asus_sdm660@240802f
and end to mvaisakh/android_kernel_asus_sdm660@1382a1b
My kernel version is 4.4.205.

[2021-06-04 07:17] nickdesaulniers commented on #1392
https://github.com/android/ndk/issues/1511#issuecomment-854273399

[2021-06-04 07:45] nickdesaulniers commented on #1385
Guessing that's `Diff 6 | 348875`.

[2021-06-04 15:18] samitolvanen commented on #1385
Nathan, did you test that also with dynamic ftrace? Normal defconfig + LTO was fine with the earlier patch too.

[2021-06-04 16:44] nathanchance commented on #1385
@samitolvanen sorry, I missed testing with `CONFIG_FUNCTION_TRACER=y`, which should test `CONFIG_DYNAMIC_FTRACE`. I will do that right now.

[2021-06-04 16:58] nathanchance commented on #1390
Fixed: https://git.kernel.org/next/linux-next/c/118de6106735

[2021-06-04 16:58] #1390 closed, assigned to nathanchance

[2021-06-04 17:19] nathanchance commented on #1385
Looks good to me with `CONFIG_FUNCTION_TRACER=y` as well.

[2021-06-04 17:32] nickdesaulniers commented on #1391
accepted: https://github.com/kdave/btrfs-devel/commit/3f3a096a4d671b4ba20ffc8bcd7dde08c0efa7ee

[2021-06-04 17:33] #1385 closed, assigned to nobody

[2021-06-04 18:24] nickdesaulniers commented on #1383
Eli has 2 patches up for review that fix this:
https://reviews.llvm.org/D103656
https://reviews.llvm.org/D103660

[2021-06-04 18:29] nickdesaulniers commented on #1392
@pkm774 please let me know if cherry-picking 019cd46984d0 resolves the issue for you or not.

[2021-06-04 18:33] nickdesaulniers commented on #1392
Either way, it seems that LLVM has trouble with
[code]

[2021-06-04 19:28] nickdesaulniers commented on #1383
Since 54b64572407c8305c7bb8cc20c46a5e0c66b2979 first landed in release/11.x, I'm inclined to send a kernel patch that disables CONFIG_GFS2_FS if CONFIG_PGO_CLANG=y and CLANG_VERSION < 13.

Perhaps something like:
[code]
once fixes land upstream.

[2021-06-04 23:27] nickdesaulniers commented on #1388
upstream discussion: https://lore.kernel.org/lkml/20210604205018.2238778-1-ndesaulniers@google.com/, looks like there's another public report on that patch as well.

[2021-06-05 00:00] nathanchance commented on #1383
I really do not like that diff for some reason. It feels like a hack to turn off a whole filesystem because of a bug in the compiler but I understand that it is the hand we are dealt. Even then, it should probably be something more like:

[code]

I would personally rather `CONFIG_PGO_CLANG` be updated to require LLVM 13 if we cannot fix this in time for the 12.0.1 release (the comments on [D103660

[2021-06-07 18:16] nickdesaulniers commented on #570
ppc patch accepted: https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?id=73e6e4e01134c9ee97433ad1f470c71b0748b08f

[2021-06-07 18:17] nickdesaulniers commented on #1160
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?id=6fcb574125e673f33ff058caa54b4e65629f3a08

[2021-06-07 18:21] nickdesaulniers commented on #1383
We could also have pgo depend on !GFS2_FS || CLANG_VERSION >= 130000, though I think that would disable PGO for allmodconfig builds (though I haven't tried/checked that)

[2021-06-07 19:37] nickdesaulniers commented on #1388
reverting f66c05d6baf36069c01a02f869bebb75586f2318 and 9bc0bb50727c8ac69fbb33fb937431cf3518ff37 does resolve the issue for me.  Peter has a diff https://lore.kernel.org/lkml/YL3q1qFO9QIRL%2FBA@hirez.programming.kicks-ass.net/ that I'm going to test next.

[2021-06-07 20:55] nickdesaulniers commented on #1388
The [diff](https://lore.kernel.org/lkml/YL3q1qFO9QIRL%2FBA@hirez.programming.kicks-ass.net/) resolves the issue for me.

[2021-06-07 20:55] nickdesaulniers commented on #1384
Perhaps https://lore.kernel.org/lkml/YL3q1qFO9QIRL%2FBA@hirez.programming.kicks-ass.net/ resolves this?

[2021-06-07 23:40] nickdesaulniers commented on #1377
`-mcmodel=kernel` corresponds to `-plugin-opt=-code-model=kernel`, IIUC, though setting `-mcmodel=kernel` should result in the following module level metadata:

[code]
(verified back to llvm-9)

So I don't think it's necessary to re-specify `-plugin-opt=-code-model=kernel` for LTO builds of the kernel. 0024430e920f shows that it wasn't being used for a while anyways.  @samitolvanen , do you recall

[2021-06-08 00:05] nickdesaulniers commented on #1377
`-warn-stack-size=` will be tough to support since it's consumed by PrologEpilogInserter which consumes MIR. Maybe this would need to be represented in LLVM IR, then in MachineModuleInfo.  Tests to ensure pass with such a change:
[code]

[2021-06-08 00:13] nickdesaulniers commented on #1377
ah, even easier; MachineFunction's retain a reference to their LLVM IR `Function` (accessible via `MachineFunction::getFunction()`), so we can just get the IR metadata from that easily.

[2021-06-08 00:27] nickdesaulniers commented on #1326
fixed: bae989c4bc53f861cc1b706aab0194703e9907a8

[2021-06-08 00:27] #1326 closed, assigned to m-falkowski

[2021-06-08 00:30] nickdesaulniers commented on #1324
fixed: 3c4e0147c269738a19c7d70cd32395600bcc0714

[2021-06-08 00:30] #1324 closed, assigned to nobody

[2021-06-08 00:31] nickdesaulniers commented on #1325
fixed: 7c302314f37b44595f180198fca5ca646bce4a5f

[2021-06-08 00:31] #1325 closed, assigned to nobody

[2021-06-08 00:43] nickdesaulniers commented on #1345
15051f0b4a2e0a0af9da7cd5e5cfaabb9f6aaa3d exists in release/12.x as f2ce10d14b7c07b93b7726615aeb40ad04837a88.

[2021-06-08 00:45] nickdesaulniers commented on #1349
4.19.y: a921d014868c5ab97f286efcf3149999d76765be

[2021-06-08 00:45] #1349 closed, assigned to jcai19

[2021-06-08 00:47] nickdesaulniers commented on #1342
series: https://lore.kernel.org/lkml/20210520231821.12272-1-maciej.falkowski9@gmail.com/

@masahir0y had feedback for @MontigyFerriot to address.

[2021-06-08 01:07] samitolvanen commented on #1377
I don't remember, I think it came from @gwelymernans.

[2021-06-08 03:38] bwendling commented on #1377
That option might be a hold over from the gold plugin days. It was needed for that I think.

[2021-06-08 15:29] nickdesaulniers commented on #1057
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git/commit/?id=27f2a4db76e8

[2021-06-08 16:37] nathanchance commented on #1383
[code]

appears to work.

[code]

[code]

Correct, although I think that is fair, nobody is going to run an allmodconfig build so if they want to run `CONFIG_PGO_CLANG`, they can see the dependencies.

[2021-06-08 16:51] nathanchance opened #1393 "x86_64 allmodconfig + CONFIG_LTO_CLANG_THIN=y compile time regression"
I am currently bisecting a massive regression in compile time with x86_64 allmodconfig + `CONFIG_LTO_CLANG_THIN=y`:

`v5.13-rc1`:

| Command | Mean [s] | Min [s] | Max [s] | Relative |
|:---|---:|---:|---:|---:|
| `allmodconfig` | 769.148 ± 0.077 | 769.060 | 769.206 | 1.00 |
| `allmodconfig with ThinLTO` | 931.993 ± 1.189 | 931.284 | 933.366 | 1.21 ± 0.00 |

`next-20210604`:

| Command | Mean [s]

[2021-06-08 17:13] nathanchance commented on #1141
Still reproducible on linux-next:

[code]

However, it is not reproducible with `LLVM_IAS=1`:

[code]

Marking as low priority because the integrated assembler can be used with x86_64 with LLVM 11 and up easily.

[2021-06-08 17:19] nathanchance commented on #514
For the record, I can no longer reproduce this on `next-20210608` with a toolchain built at https://github.com/llvm/llvm-project/commit/dc1e7b73b81811b74a4fbde4c5cfab5a3ea7f820:

[code]

If anyone can share current reproduction steps, feel free to reopen.

[2021-06-08 17:20] nathanchance commented on #1384
[Unfortunately not](https://lore.kernel.org/r/e351ac97-4038-61b5-b373-63698a787fc1@kernel.org/).

[2021-06-08 17:35] nathanchance commented on #1360
Merged into mainline: https://git.kernel.org/linus/d4c6399900364facd84c9e35ce1540b6046c345f

[2021-06-08 17:35] #1360 closed, assigned to nathanchance

[2021-06-08 17:35] nathanchance commented on #1372
Merged into mainline: https://git.kernel.org/linus/d94b93a9101573eb75b819dee94b1417acff631b

[2021-06-08 17:35] #1372 closed, assigned to arndb

[2021-06-08 18:04] nickdesaulniers commented on #1393
This is a kernel change or a toolchain change?

[2021-06-08 18:07] nathanchance commented on #1393
I am bisecting Linux because mainline is fine, -next is not. It is reproducible with LLVM 12 so I doubt it is toolchain related.

[2021-06-08 18:20] kees commented on #1311
My understanding is that it is currently an unreachable situation, since CONFIG_LD_DEAD_CODE_DATA_ELIMINATION is unsupported on arm64.

[2021-06-08 21:37] nickdesaulniers commented on #1377
warn frame size: https://reviews.llvm.org/D103928

[2021-06-08 22:48] masahir0y commented on #1141
I ran the same command on today's linux-next, but I could not reproduce it.

    masahiro@oscar:~/ref/linux-next$ make -skj"$(nproc)" LLVM=1 distclean allyesconfig arch/x86/entry/vdso/
      [ no output ]

My tool versions:

    masahiro@oscar:~/ref/linux-next$ git log --oneline  -1
    ab5803bc555f (HEAD, tag: next-20210608, origin/master, origin/HEAD) Add linux-next specific files for 20210608

[2021-06-09 14:00] torvic9 commented on #1377
Hi,
as a noob, may I ask whether I could work around this with the following diff?
Or is it too "strict" and we still need -code-model?
Thanks!

[code]

[2021-06-09 15:24] nathanchance commented on #1377
We can probably just drop `-plugin-opt=-code-model=kernel` then make `-plugin-opt=-stack-alignment=$(if $(CONFIG_X86_32),4,8)` conditional on `$(CONFIG_LLD_VERSION) -lt 130000` like you did.

[2021-06-09 17:17] nickdesaulniers commented on #1384
Sounds like https://lore.kernel.org/lkml/20210609150804.GF68208@worktop.programming.kicks-ass.net/ resolves this.

[2021-06-09 19:12] nathanchance commented on #1141
@masahir0y what version of GNU as? I think that we determined this was exposed by a change in GNU as. I can reproduce it in a fresh Arch Linux Docker container:

[code]

[2021-06-09 19:27] nickdesaulniers commented on #1377
Huh, we didn't use `-plugin-opt=-code-model=kernel` in pixel 3 kernel sources, (though I do see `-plugin-opt=-code-model=large` in arch/arm64/Makefile added to `KBUILD_LDFLAGS_MODULE`; that has the comment `# Code model is not stored in LLVM IR, so we need to pass it also to LLVMgold`).  Interesting. Ah, [llvm commit 3dea3f9e0a7e2c72ff7e109d1581b62365fc7ae8 ("Pass code-model through Module IR to L

[2021-06-09 21:28] nathanchance commented on #1377
Can confirm there is an error with ToT LLVM now. Sending that patch with `Cc: stable@vger.kernel.org` will be needed so 5.12 can be built with LLVM 13 too.

[code]

[2021-06-09 21:39] nickdesaulniers commented on #1377
@samitolvanen pointed out the version string from CI is 2 days behind.

[2021-06-09 23:31] nickdesaulniers commented on #1215
I gave this a shot today, but wasn't able to repro with ToT LLVM (~clang-13) for aarch64+full LTO (or thin LTO) + XFS_FS. Strange.

[2021-06-10 05:34] torvic9 commented on #1377
`-warn-stack-size` only appears in 5.13 but not in 5.12.

Okay, I'll try to prepare a patch and submit it once the above has landed.
Should it be based on 5.12 or 5.13 (see above, warn-stack-size is not in 5.12)?
(Edit: I guess that I just do both)

[2021-06-10 18:15] nathanchance commented on #1393
[code]

Reported upstream: https://lore.kernel.org/r/YMJWmzXgSipOqXAf@DESKTOP-1V8MEUQ.localdomain/

[2021-06-10 19:23] nickdesaulniers commented on #1377
Kernel patch for `-plugin-opt=-code-model=kernel -plugin-opt=-stack-alignment=`:
https://lore.kernel.org/lkml/214134496.67043.1623317284090@office.mailbox.org/

[2021-06-10 19:25] nickdesaulniers commented on #1377
Always use mainline; patches land there first then eventually get back ported to stable (either via clean cherry picks, or manual backports if necessary).  Or rather than mainline, I prefer developing off of linux-next. Some maintainers are particular that you use branches of their trees (if what you're touching is under active development).

[2021-06-10 19:32] torvic9 commented on #1377
Okay, I will submit it again. I hope I get it right this time... ;)

[2021-06-10 20:48] samitolvanen commented on #1354
https://reviews.llvm.org/D104058

[2021-06-10 21:58] nathanchance commented on #1393
Peter has a patch that fixes this: https://lore.kernel.org/r/YMJpGLuGNsGtA5JJ@hirez.programming.kicks-ass.net/

[2021-06-10 21:59] nathanchance commented on #1377
v2: https://lore.kernel.org/r/f2c018ee-5999-741e-58d4-e482d5246067@mailbox.org/

[2021-06-10 22:30] nickdesaulniers opened #1394 "relocation R_AARCH64_CALL26 out of range"
LLVM_VERSION=11
https://github.com/ClangBuiltLinux/continuous-integration2/runs/2792794303?check_suite_focus=true

LLVM_VERSION=android
https://github.com/ClangBuiltLinux/continuous-integration2/runs/2792792051?check_suite_focus=true

[2021-06-10 22:32] nickdesaulniers commented on #1388
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=584fd3b31889852d0d6f3dd1e3d8e9619b660d2c

[2021-06-10 23:18] nickdesaulniers commented on #1377
https://reviews.llvm.org/D103928 has landed as https://reviews.llvm.org/rGfc018ebb608ee0c1239b405460e49f1835ab6175. @torvic9 would you mind sending a kernel patch for that too, please? :)

[2021-06-11 07:34] torvic9 commented on #1377
Sure :)
Will this have a 'stable' tag as well? ~~Current stable kernel does not have '-warn-stack-size', it was introduced with this commit: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/Makefile?h=v5.13-rc5&id=24845dcb170e16b3100bd49743687648c71387ae~~

EDIT: I have just noticed that this is [now in the stable-queue](https://git.kernel.org/pub/scm/linux/kernel/git/stab

[2021-06-11 08:21] torvic9 commented on #1377
Here is the diff with a small addition to the comment above:
[code]

[2021-06-11 17:22] nickdesaulniers commented on #1377
Yes; we support LTO as of 5.12 which is stable: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/arch/Kconfig?h=v5.12.10#n656

Yep. `Fixes: 24845dcb170e ("Makefile: LTO: have linker check -Wframe-larger-than")`

Yes; too late to change it now.

De nada. Good job. Diff LGTM

[2021-06-11 18:27] nickdesaulniers commented on #1394
LLVM_VERSION=12
https://github.com/ClangBuiltLinux/continuous-integration2/runs/2801874400?check_suite_focus=true

version 11 is green though:
https://github.com/ClangBuiltLinux/continuous-integration2/runs/2801873195?check_suite_focus=true

version 13 is green:
https://github.com/ClangBuiltLinux/continuous-integration2/runs/2801875809?check_suite_focus=true

[2021-06-11 18:39] kraj commented on #1377
@nickdesaulniers now that https://reviews.llvm.org/D103048 has landed in llvm, I think we need to open an issue with mesa as well to stop using it see [1]

[1] https://gitlab.freedesktop.org/mesa/mesa/-/blob/main/src/gallium/auxiliary/gallivm/lp_bld_misc.cpp#L354

[2021-06-11 19:32] nickdesaulniers opened #1395 "linking module flags 'warn-stack-size': IDs have conflicting values"
while testing #1215 I hit fallout from #1377 .  This was from:
$ ARCH=i386 make -j71 LLVM=1 LLVM_IAS=1 allmodconfig
on linux-next with:
- FTRACE disabled
- GCOV_KERNEL disabled
- CONFIG_COMPILE_TEST disabled
- full lto enabled

[code]
so as part of #1377 (https://reviews.llvm.org/D103928) we cannot support differing frame sizes to warn on when building full LTO. This hasn't been an issue in the pa

[2021-06-11 19:44] nickdesaulniers commented on #1215
I'm able to repro on i386 on next (see #1395 for config). (I see now that Arnd [mentioned](https://github.com/ClangBuiltLinux/linux/issues/1215#issuecomment-747766324) `CONFIG_DYNAMIC_FTRACE`; I should re-test with that).

[2021-06-11 19:47] nickdesaulniers commented on #1311
Right, but don't we _want_ to be able to support CONFIG_LD_DEAD_CODE_DATA_ELIMINATION on arm64 one day? So wouldn't this be a blocker to that?

[2021-06-11 21:15] nickdesaulniers commented on #1215
on i386, it's `xfs_iformat_extents` referenced from `trace_xfs_read_extent`. (for arm64, it was the same fn referenced from)
[code]
(so it's a `blockaddress` `Constant`, but not related to `asm goto`).  This comes about after IPSCCP.

`@xfs_iformat_extents`'s definition does appear in fs/xfs/libxfs/xfs_inode_fork.o.ll though, so I don't think the front half of the LTO compilation is necessarily ma

[2021-06-12 00:35] nickdesaulniers commented on #1215
I'm reading through how LLVM performs LTO; I don't have the smoking gun yet, but it seems it does "summary-based DCE" where summary is referring to either `ModuleSummaryIndex` or `FunctionSummary`.  I'm suspicious of one of those being wrong, at the moment. A murder mystery to solve (at least) next week.

[2021-06-12 01:05] nickdesaulniers commented on #1215
also, it looks like this is possible related to `__this_address` from fs/xfs/xfs_linux.h or `_THIS_IP_`. (reminiscent of #263 )
[code]
builds. It looks like IPSCCP is sinking `_THIS_IP_` into `trace_xfs_read_extent`. The only explicit callers of `xfs_iformat_extents` (`xfs_iformat_data_fork` and `xfs_iformat_attr_fork`) both have [hidden](https://llvm.org/docs/LangRef.html#visibility-styles) visib

[2021-06-13 17:59] nathanchance commented on #1384
Merged into mainline: https://git.kernel.org/linus/2d49b721dc18c113d5221f4cf5a6104eb66cb7f2

[2021-06-13 17:59] #1384 closed, assigned to nobody

[2021-06-13 18:01] nathanchance commented on #1388
Merged into mainline: https://git.kernel.org/linus/584fd3b31889852d0d6f3dd1e3d8e9619b660d2c

[2021-06-13 18:01] #1388 closed, assigned to nobody

[2021-06-14 20:36] nathanchance commented on #1393
Merged into -tip: https://git.kernel.org/tip/d33b9035e14a35f6f2a5f067f0b156a93581811d

This will be in -next within a day so I am going to close this for now.

[2021-06-14 20:36] #1393 closed, assigned to nobody

[2021-06-14 21:29] nickdesaulniers commented on #1023
https://reviews.llvm.org/D103539 resolves this for me.

[2021-06-14 21:43] nickdesaulniers commented on #1020
v5.13-rc5: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ec3a5cb61146c91f0f7dcec8b7e7157a4879a9ee

[2021-06-14 21:48] nickdesaulniers commented on #1143
`-mno-relax` landed in https://git.kernel.org/pub/scm/linux/kernel/git/riscv/linux.git/commit/?h=fixes&id=ec3a5cb61146c91f0f7dcec8b7e7157a4879a9ee (#1020). https://reviews.llvm.org/D103539 resolves #1023. https://reviews.llvm.org/D103539 does not resolve the error from [@nathanchance 's comment above](https://github.com/ClangBuiltLinux/linux/issues/1143#issuecomment-770125754).
[code]

[2021-06-14 21:58] nickdesaulniers commented on #1395
We could fix the build failure on the LLVM side by taking the max of two different flags; ultimately though I think making these be function level attributes rather than module level attributes might be the best.

[2021-06-15 02:49] compnerd commented on #1143
I need to fix another case in the changes in [D103539](https://reviews.llvm.org/D103539), but noticed another minor thing that we don't handle properly.  This is next on my list of things to address.

[2021-06-16 00:19] nickdesaulniers commented on #1395
https://reviews.llvm.org/D104342

[2021-06-16 10:03] solbjorn opened #1396 "Polly DCE breaks ZSTD decompression"
Hi, Alexander Lobakin <alobakin@pm.me> from LKML here.
Keeping on experimenting with different Clang/LLVM features inside the Linux kernel.

First of all, this is not about the vanilla, so I understand the issue may not be relevant / applicable / worth to look at.
But I have a very little experience with reading LLVM-IR, so any help would be much appreciated.

Environment:
- Clang/LLVM/Polly 12.0.

[2021-06-16 19:05] nathanchance commented on #1386
Accepted: https://git.kernel.org/powerpc/c/015d98149b32

[2021-06-16 19:08] nathanchance commented on #1377
Both fixes merged into mainline (thanks @torvic9 and @kees!):

https://git.kernel.org/linus/2398ce80152aae33b9501ef54452e09e8e8d4262
https://git.kernel.org/linus/0236526d76b87c1dc2cbe3eb31ae29be5b0ca151

This should be resolved on both the kernel and the toolchain side so closing.

[2021-06-16 19:08] #1377 closed, assigned to nobody

[2021-06-16 22:17] nathanchance commented on #1381
https://git.kernel.org/next/linux-next/c/e347004468fd
https://git.kernel.org/next/linux-next/c/ee2d522ee125
https://git.kernel.org/next/linux-next/c/84aa00a141b7

[2021-06-16 22:17] #1381 closed, assigned to nobody

[2021-06-16 22:18] nathanchance commented on #1381
Technically, this is an issue for mainline but it will not be visible so I am closing this for now.

[2021-06-16 23:26] nathanchance commented on #1379
Seems like this might be a problem for 32-bit PowerPC too? https://lore.kernel.org/r/202106100743.JgPkQBD1-lkp@intel.com/

[code]

[2021-06-17 06:02] masahir0y commented on #1141
@nathanchance

Sorry, my gas version on Ubuntu is too old:

    $ /usr/bin/as --version  | head -n 1
    GNU assembler (GNU Binutils for Ubuntu) 2.35.1

As you already bisected binutils, 939b95c77bf273b252a49334844c469bd28356a9 seems to be a switch to trigger this.

Presumably, my distro's gas does not contain it, so was configured with --disable-x86-used-note.

I configure the binutils from the g

[2021-06-17 06:17] nathanchance opened #1397 "-Wuninitialized in drivers/scsi/elx/efct/efct_lio.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210617061721.2405511-1-nathan@kernel.org/

[2021-06-17 06:31] nathanchance opened #1398 "-Wpointer-bool-conversion in drivers/scsi/elx/efct/efct_hw.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210617063123.21239-1-nathan@kernel.org/

[2021-06-17 16:50] nickdesaulniers commented on #1023
big thanks @compnerd !
https://reviews.llvm.org/rGbbea64250f65480d787e1c5ff45c4de3ec2dcda8

[2021-06-17 16:50] #1023 closed

[2021-06-17 16:51] nickdesaulniers commented on #1143
big thanks @compnerd !
https://reviews.llvm.org/rGbbea64250f65480d787e1c5ff45c4de3ec2dcda8

[2021-06-17 16:51] #1143 closed

[2021-06-17 16:51] #1020 closed

[2021-06-17 16:54] nickdesaulniers commented on #1022
hmmm...I'm no longer able to reproduce this with lld-13 and:
[code]
closing for now, but let's reopen if we see this again?

[2021-06-17 16:54] #1022 closed

[2021-06-17 22:37] nickdesaulniers opened #1399 "Eliminate `CROSS_COMPILE` for `LLVM=1 LLVM_IAS=1`"
m68k, arc, parisc, sh, h8300, and mips all use cc-cross-prefix to predefine CROSS_COMPILE. Why not use this on arm, arm64, x86_64?  We might have a circular dependency with the order of including arch/ specific Makefiles though.

[2021-06-18 00:05] nathanchance opened #1400 "-Wpointer-bool-conversion in drivers/net/ethernet/mellanox/mlx5/core/eq.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210618000358.2402567-1-nathan@kernel.org/

[2021-06-18 05:54] kees opened #1401 "__builtin_object_size(ptr, 1) does not pierce inlining"
__builtin_object_size(ptr, 0) tracks object origins, but it seems "mode 1" does not. This breaks future FORTIFY_SOURCE improvements.

[code]

GCC:
[code]

Clang:
[code]

https://godbolt.org/z/4fMszME9e

[2021-06-18 08:56] prabhatkrmishra commented on #1392
Yeah cherry-picking https://github.com/ClangBuiltLinux/linux/commit/019cd46984d04703a39924178f503a98436ac0d7 fixed the problem

[2021-06-18 17:23] nickdesaulniers commented on #1392
I was reading [this](https://github.com/below/HelloSilicon#chapter-13) the other day, and it reminded me of [my comment above](https://github.com/ClangBuiltLinux/linux/issues/1392#issuecomment-854926669). @jcai19 can you please see if that snippet is something we're missing support for in LLVM? It might be worthwhile to discuss more with @kbeyls if so.

FWIW 019cd46 first landed in v4.16-rc1. (We

[2021-06-18 19:06] nickdesaulniers opened #1402 "get off freenode"
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/MAINTAINERS#n4442 and https://clangbuiltlinux.github.io/ both say we're using freenode. I just tried to connect and got banned...not sure precisely what's going on, or if this is related to their current drama.

[2021-06-18 23:28] nathanchance commented on #1402
Looks like someone created `#clangbuiltlinux` on [libera.chat](https://libera.chat) as I can join it and there are several people in there already.

While we are at it, should we point people at Telegram and Discord through MAINTAINERS? I am personally more active on those platforms rather than IRC because I have other projects/chats on there so I am going to be more accessible there. We have talk

[2021-06-18 23:34] nathanchance commented on #1402
https://github.com/ClangBuiltLinux/ClangBuiltLinux.github.io/pull/27 for our website.

[2021-06-20 09:43] StatusCode404 commented on #1104
Hi All, I'm experiencing a similar problem and thought it was a Vbox issue and filed a bug with them....
[https://www.virtualbox.org/ticket/20425](url)

So who rightfully owns this problem?  Is it Virtualbox?

@torvic9 is proposing to close this for now, but what is the procedure to fix this for the masses who are now trying Clang/llvm thin lto'ed kernels?
Perhaps someone could outline in a reply

[2021-06-21 09:27] paulmenzel commented on #811
Do you know if there is a patch to fix this? Are the PPC folks aware of this?

[2021-06-21 16:11] nathanchance commented on #1397
Fixed: https://git.kernel.org/next/linux-next/c/a25503617834

[2021-06-21 16:11] #1397 closed, assigned to nathanchance

[2021-06-21 16:11] nathanchance commented on #1398
Fixed: https://git.kernel.org/next/linux-next/c/0d7be7a8a009

[2021-06-21 16:11] #1398 closed, assigned to nathanchance

[2021-06-21 16:14] samitolvanen opened #1403 "LLVM bb1dc876ebb8a2eef38d5183d00c2db1437f1c91 breaks arm64 builds"
LLVM [bb1dc876ebb8a2eef38d5183d00c2db1437f1c91](https://github.com/llvm/llvm-project/commit/bb1dc876ebb8a2eef38d5183d00c2db1437f1c91) ("[LoopDeletion] Handle Phis with similar inputs from different blocks") trips an assertion when building arm64 defconfig:
[code]
[cpu_errata-8544a5.tar.gz](https://github.com/ClangBuiltLinux/linux/files/6688041/cpu_errata-8544a5.tar.gz)

@nickdesaulniers @nathancha

[2021-06-21 16:14] nathanchance commented on #811
@paulmenzel Fangrui's [diff above](https://github.com/ClangBuiltLinux/linux/issues/811#issuecomment-568316320) along with a recent version of clang should work. I do not think we have followed up with any of the PowerPC folks but it is probably worth involving them at this point.

[2021-06-21 16:44] nathanchance commented on #1403
I am running `cvise` right now.

[2021-06-21 16:54] nathanchance commented on #1403
Reported on Phabricator: https://reviews.llvm.org/D103959

[2021-06-21 17:02] nathanchance commented on #1104
@StatusCode404 it is most likely something with DKMS: https://github.com/dell/dkms/issues/124

I have no idea what the workaround is. I was able to build the VirtualBox module without DKMS [here](https://github.com/ClangBuiltLinux/linux/issues/1104#issuecomment-680740128), that might work for you.

[2021-06-21 17:33] nathanchance commented on #1403
Reverted: https://github.com/llvm/llvm-project/commit/f52666985d7011b539f26f54e09a5c89b62dad56

[2021-06-21 18:27] nathanchance commented on #1292
Workaround submitted: https://lore.kernel.org/r/20210621182440.990242-1-nathan@kernel.org/

[2021-06-21 18:57] nathanchance opened #1404 "-Wsometimes-uninitialized in drivers/mailbox/imx-mailbox.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210621185645.2373845-1-nathan@kernel.org/

[2021-06-21 19:14] nickdesaulniers commented on #1403
Please reopen if this regresses again. Closing for now. Thanks for the reports and revert.

[2021-06-21 19:14] #1403 closed, assigned to nobody

[2021-06-21 20:25] nickdesaulniers commented on #811
@MaskRay can you please send your above diff to LKML for review?

Will we need to gate something on https://github.com/llvm/llvm-project/commit/2fc704a0a529dd7eba7566a293f981a86bfa5c3e? (ie. lld-12)

[2021-06-21 22:22] #1395 closed, assigned to nickdesaulniers

[2021-06-22 01:01] nathanchance commented on #1383
https://github.com/llvm/llvm-project/commit/8a567e5f22a6d76ce076cf4305fe5c7cbff50fe0 fixed this. PGO is now gated on LLVM 13.0.0 so we do not need to worry about backporting this to LLVM 12.0.0 because there were a few prerequisite patches.

[2021-06-22 01:01] #1383 closed, assigned to nobody

[2021-06-22 01:58] MaskRay opened #1405 "kernel/pgo for raw profile format version 6"
If https://reviews.llvm.org/D104556 makes it into LLVM 13.0.0 (likely), the following diff will ideally be needed in kees/for-next/clang/pgo

[code]

Suggestion to `Documentation/dev-tools/pgo.rst`

The raw profile format (`*.profraw*`) is private in llvm-project (between the runtime and llvm-profdata).
The kernel needs to keep its profraw version matching the current clang default. You can find t

[2021-06-22 02:05] nathanchance commented on #1405
`CONFIG_PGO_CLANG` will already implicitly require LLVM 13.0.0 because of [this series](https://lore.kernel.org/r/20210621231822.2848305-1-ndesaulniers@google.com/) from [this discussion](https://lore.kernel.org/r/YMTn9yjuemKFLbws@hirez.programming.kicks-ass.net/), which is going to be needed for PGO to get merged into mainline. If there is going to be a breaking change on the LLVM side, it should

[2021-06-22 02:08] MaskRay commented on #1074
@kees The two symbols can be deleted.

[code]