[2021-06-22 06:45] paulmenzel commented on #811
Thank you. With that Makefile change, `make -j100 LLVM=1 bindeb-pkg` succeeded on Ubuntu 21.04 with *llvm*/*clang* 12.0-52~exp1.

Let’s see, if @MaskRay responds and is able to send the patch.

[2021-06-22 07:30] torvic9 commented on #1104
Hi,
you have to tell DKMS to use Clang instead of GCC.
It is not an issue with VBox but rather with DKMS.
As documented in the manpage, you can use `MAKE[0]` in the file `dkms.conf` for that.
A simple example from my Arch PKGBUILD:
[code]

(In the above example, `$CLPF` is simply pointing to the path of the toolchain, whereas `$LLVM_UTILS` regroups all the different llvm/clang tools that are neede

[2021-06-22 17:12] samitolvanen commented on #1354
Committed: https://reviews.llvm.org/rG4474958d3a97

[2021-06-22 19:41] samitolvanen commented on #1354
And reverted for now due to a test failure.

[2021-06-22 23:54] nickdesaulniers commented on #1400
sounds like it was accepted, perhaps not yet pushed: https://git.kernel.org/pub/scm/linux/kernel/git/saeed/linux.git/log/?h=net-next-mlx5

[2021-06-23 00:14] nickdesaulniers commented on #1399
`cc-cross-prefix` hard codes an invocation of `<triple>-gcc`.

[2021-06-23 01:00] nickdesaulniers commented on #1322
2021-03-06

I just tested with llvm @ 8ace12130526f450c822ca232d1f865b247d7434 (2021-06-26) and wasn't able to repro:

[code]
Perhaps this was fixed between March and now. Thanks anyways for the report.

[2021-06-23 01:00] #1322 closed, assigned to nobody

[2021-06-23 01:15] nickdesaulniers commented on #1269
b4a8c0ebb6d49f757c687833d85f843aaeb19133 landed in llvm 13.
https://android-review.googlesource.com/c/kernel/common/+/1606628 is landed.
toolchain upgraded in https://android-review.googlesource.com/c/kernel/common/+/1606416.

I guess once AOSP LLVM has b4a8c0ebb6d49f757c687833d85f843aaeb19133, we could revert https://android-review.googlesource.com/c/kernel/common/+/1606628, but we're not plannin

[2021-06-23 01:15] #1269 closed, assigned to nobody

[2021-06-23 01:39] nathanchance opened #1406 "CFI failure in drivers/acpi/bgrt.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210623013802.1904951-1-nathan@kernel.org/

[2021-06-23 02:22] StatusCode404 commented on #1104
Thanks for the pointer!

[2021-06-23 10:23] DavidSpickett commented on #1392
This caught my eye. Maybe what I found can help some.

umov is supposed to have an "element size specifier": https://developer.arm.com/documentation/ddi0602/latest/SIMD-FP-Instructions/UMOV--Unsigned-Move-vector-element-to-general-purpose-register-?lang=en#sa_ts

Which would be "v0.[bshd]", no number after the dot.

I found that clang does allow this for uaddl/uaddl2: https://developer.arm.com/doc

[2021-06-23 11:09] DavidSpickett commented on #1276
Fixing llvm would be quite easy, assuming you know what "xscale"'s features should be.

In `llvm/lib/Target/ARM/MCTargetDesc/ARMELFStreamer.cpp` `ARMTargetELFStreamer::emitArchDefaultAttributes` there is a switch case and the xscale case is missing.

[2021-06-23 11:21] DavidSpickett commented on #1276
Posted for review: https://reviews.llvm.org/D104776

[2021-06-23 14:16] DavidSpickett commented on #1337
The kernel change was made in https://github.com/ClangBuiltLinux/linux/issues/770 / https://github.com/torvalds/linux/commit/91274f962e942c23c97ba7e4c7fa04277c533a45

I think this is related to the implementation of unified syntax.

| Assembler | Thumb   | Arm   | Unified Thumb | Unified Arm |
| -------------- | ----------- | ------- | ------------------- | ---------------- |
| LLVM     | Not allo

[2021-06-23 16:34] nathanchance commented on #1292
Workaround accepted: https://git.kernel.org/powerpc/c/51696f39cbee5bb684e7959c0c98b5f54548aa34

[2021-06-23 17:43] nathanchance commented on #1406
Patch accepted: https://git.kernel.org/rafael/linux-pm/c/f37ccf8fce155d08ae2a4fb3db677911ced0c21a

[2021-06-23 18:11] samitolvanen commented on #1354
Second attempt: https://reviews.llvm.org/rGe3d24b45b8f8

[2021-06-24 03:04] samitolvanen commented on #1354
Reverted again, broke Chromium this time.

[2021-06-24 16:40] nathanchance commented on #1400
Fixed: https://git.kernel.org/next/linux-next/c/d4472a4b8c61

[2021-06-24 16:40] #1400 closed, assigned to nathanchance

[2021-06-24 18:55] nickdesaulniers commented on #1292
@nemanjai also has https://reviews.llvm.org/D104836 which @nathanchance confirmed helps.

[2021-06-24 19:28] nickdesaulniers opened #1407 "Misaligned constant address"
https://llvm.org/pr50838
https://lore.kernel.org/lkml/YNQE0YJzC2xmWg+2@Ryzen-9-3900X.localdomain/

[2021-06-24 21:22] nathanchance opened #1408 "-Wunused-value in sound/usb/mixer_scarlett_gen2.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210624212048.1356136-1-nathan@kernel.org/

[2021-06-24 22:32] compnerd opened #1409 "LLVM build of RISCV kernel fails with `relocation R_RISCV_PCREL_HI20 out of range`"
See https://github.com/ClangBuiltLinux/continuous-integration2/runs/2900446779?check_suite_focus=true for the CI run.  I've also found this issue in a local build.

[2021-06-24 22:33] compnerd commented on #1409
CC: @nathanchance

[2021-06-24 22:34] compnerd commented on #1409
It appears to be due to `CONFIG_MAXPHYSMEM_128GB=y`.  Switching to `CONFIG_MAXPHYSMEM_2GB=y` avoids the issue.  This obviously makes sense since the HI/LO relocation is range limited, and enabling a large address space means that it is possible to overflow that relocation.  This would require using linker relaxation to rewrite the site to a different form allowing the full addressability, but unfo

[2021-06-24 23:51] nathanchance commented on #1409
It seems like this was tangentially fixed by https://git.kernel.org/linus/2bfc6cd81bd17e4306e24ee47b9554c967bcb499, according to my reverse bisect. v5.13-rc1 with https://git.kernel.org/linus/ec3a5cb61146c91f0f7dcec8b7e7157a4879a9ee is fine, v5.12 with the same patch is not.

[2021-06-25 01:09] samitolvanen commented on #1354
The Chromium issue is in `LowerTypeTestsModule` / `ScopedSaveAliaseesAndUsed`.

[D104058](https://reviews.llvm.org/D104058) adds an alias for a promoted function to `llvm.compiler.used` and after [the RAUW](https://github.com/llvm/llvm-project/blob/main/llvm/lib/Transforms/IPO/LowerTypeTests.cpp#L1109) in `LowerTypeTestsModule::importFunction()`, it has zero uses as expected, and is added to `Alia

[2021-06-25 01:39] nathanchance opened #1410 "Hexagon backend crash in drivers/md/persistent-data/dm-bitset.c"
[code]

Bug submitted: https://llvm.org/pr50853

[2021-06-25 03:46] kees opened #1411 "CONFIG_PGO_CLANG vs CONFIG_LOCKDEP"
Something is causing what looks like a double fault (i.e. immediate reboot) right after starting the kernel if I build CONFIG_PGO_CLANG with CONFIG_PROVE_LOCKING or CONFIG_DEBUG_LOCK_ALLOC (i.e. CONFIG_LOCKDEP):

e.g. with these enabled, booting with `console=uart,io,0x3f8,115200n8 loglevel=8`

[code]

I see the KASLR and ELF early-boot work, but it just repeats forever:

[code]

I suspect somethi

[2021-06-25 05:56] kees commented on #1411
arch/x86/kernel/head64.c needed PGO disabled. Now fixed in -next.

[2021-06-25 05:56] #1411 closed, assigned to kees

[2021-06-25 05:57] kees commented on #1074
Thanks! I've squashed this into the patch now.

[2021-06-25 22:19] nickdesaulniers commented on #1276
[code]

[2021-06-27 17:55] nathanchance opened #1412 "ld.lld: error: Unknown attribute kind (73)"
After https://reviews.llvm.org/D104658, I see the following error on [-next](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/) when I am trying to build a kernel with ThinLTO:

[code]

Patch submitted: https://reviews.llvm.org/D104995

[2021-06-27 18:46] nathanchance opened #1413 "-Wuninitialized in drivers/net/ethernet/microchip/sparx5/sparx5_main.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210627184543.4122478-1-nathan@kernel.org/

[2021-06-27 19:02] nathanchance commented on #1412
Committed: https://github.com/llvm/llvm-project/commit/4ae0ab095bf97123c2d2a6aa2e82dcc25cf040f1

[2021-06-27 19:02] #1412 closed, assigned to nathanchance

[2021-06-28 15:21] DavidSpickett commented on #1276
Landed https://reviews.llvm.org/rG558d9e82283e6b053b18091de6e56a5e208b7036

[2021-06-28 19:55] nathanchance commented on #1410
https://github.com/llvm/llvm-project/commit/9c5ed8d567924e807a6466b6ad681c8bf395cf58

[2021-06-28 19:55] #1410 closed, assigned to nathanchance

[2021-06-28 19:57] nathanchance commented on #1404
Fixed:

https://git.linaro.org/landing-teams/working/fujitsu/integration.git/commit/?id=e80a7e7eafcd5e75bf8c73164cae954b3f0addbc

https://git.kernel.org/next/linux-next/c/e80a7e7eafcd5e75bf8c73164cae954b3f0addbc

[2021-06-28 19:57] #1404 closed, assigned to nathanchance

[2021-06-28 19:58] nathanchance commented on #1299
@kees what happened to that patch?

[2021-06-28 20:04] nathanchance commented on #1394
I am closing this as unreproducible for now. I could never reproduce it locally, even with the `tuxmake` reproducers provided by `tuxsuite` and none of our CI has this failure currently.

[2021-06-28 20:04] #1394 closed, assigned to nobody

[2021-06-28 20:18] #1276 closed, assigned to DavidSpickett

[2021-06-28 20:48] kees commented on #1299
Argh, sorry, this was in my x86 CFI tree and got lost. I will send it separately later this week once Linus isn't swamped. I've cherry-picked it into my for-next/clang/features tree now.

[2021-06-28 21:13] nickdesaulniers opened #1414 "expr: syntax error: unexpected argument ‘0xffffffff80000000’"
[code]

[2021-06-28 21:15] nickdesaulniers opened #1415 "macro defined with named parameters which are not used in macro body, possible positional parameter found in body which will have no effect"
[code]

[2021-06-28 21:17] nickdesaulniers commented on #1334
#763 is already tracking the assembler macro warning, so let's use this bug to track the `LLVM ERROR: Error parsing inline asm`.

[2021-06-28 21:38] nathanchance commented on #1219
This came up again but I cannot reproduce with the `.config` at the commit listed: https://groups.google.com/g/clang-built-linux/c/jTcGeZZGaVs/m/KOQ_-ZzYBAAJ

[2021-06-28 21:44] nickdesaulniers commented on #763
`-DTOOLCHAIN_SUPPORTS_VIRT` is getting set for arch/mips/kernel/cpu-probe.o.

It seems perhaps that LLVM accepts these instructions for mips32r5.
[code]

With that, I see warnings from #1414 and #1415 but the kernel builds and boots.

[2021-06-28 21:51] nickdesaulniers commented on #763
submitted: https://lore.kernel.org/lkml/20210628215029.2722537-1-ndesaulniers@google.com/T/#u

[2021-06-28 22:12] nickdesaulniers opened #1416 "invalid reassignment of non-absolute variable 'fs_label'"
working around #672, I see:
[code]

[2021-06-28 22:13] nickdesaulniers opened #1417 "error: deprecated"
working around #672, I see:
[code]

[2021-06-28 22:15] nickdesaulniers commented on #1417
https://github.com/llvm/llvm-project/commit/0096dbd50df50a08d729e1219f78d43f3e1583b3

[2021-06-28 22:19] nickdesaulniers commented on #1417
@mpe any idea what the alternative to `dssall` is if it's deprecated? (or is LLVM incorrect about the deprecation warning?)

[2021-06-28 22:20] nickdesaulniers commented on #1417
cc @nemanjai

[2021-06-28 22:25] nickdesaulniers opened #1418 "unsupported directive '.stabs'"
[code]
https://sourceware.org/binutils/docs/as/Stab.html

[2021-06-28 22:30] nickdesaulniers commented on #1418
`.stabs` is also used in arch/powerpc/lib/copy_32.S.

[2021-06-28 22:35] nickdesaulniers opened #1419 "invalid operand for instruction `cmpli`"
working around #675
[code]
It looks like the diagnostic is referring to the `cmpli` instructions.

I think `cmpli` should have 4 operands, not 3?

[2021-06-28 22:57] nickdesaulniers opened #1420 "[s390] invalid operand for instruction"
working around #1356, I see lots of instructions having trouble with expressions:
[code]
this looks exactly like
https://reviews.llvm.org/D80028
https://reviews.llvm.org/D97501
https://reviews.llvm.org/D97568
which we've seen before on ARM.

[2021-06-28 22:58] nickdesaulniers opened #1421 "invalid register pair"
(working around #1356)
This one looks like a codegen bug to me:
[code]

[2021-06-28 23:00] nickdesaulniers opened #1422 "too many positional arguments"
(working around #1356)
looks like `/* */` should be accepted as comment characters???
[code]

[2021-06-28 23:01] nickdesaulniers opened #1423 "expected relocatable expression"
working around #1356
[code]

[2021-06-28 23:19] nathanchance commented on #1413
Accepted: https://git.kernel.org/netdev/net-next/c/b74ef9f9cb91

[2021-06-28 23:29] nickdesaulniers commented on #1302
I think we should just create a compiler specific allow list in modpost for this.

[2021-06-28 23:44] nathanchance commented on #1391
Fixed: https://git.kernel.org/torvalds/c/bfaa324e9a80

[2021-06-28 23:44] #1391 closed, assigned to nathanchance

[2021-06-28 23:46] nathanchance commented on #1292
https://git.kernel.org/torvalds/c/51696f39cbee

https://github.com/llvm/llvm-project/commit/0464586ac515e8cfebe4c7615387fd625c8869f5

[2021-06-28 23:46] #1292 closed, assigned to nobody

[2021-06-29 08:45] pcercuei commented on #1334
@nickdesaulniers it is a different bug, though. Not a duplicate.

[2021-06-29 11:21] mpe commented on #1417
It is deprecated, I don't think there's an alternative, but it's required to be implemented as a nop on newer CPUs, so it's pretty harmless. Possibly we can remove it, but it would require some archaeology to confirm it's not needed on old CPUs we still support (eg. G5).

[2021-06-29 14:22] nathanchance commented on #1413
Fixed: https://git.kernel.org/next/linux-next/c/b74ef9f9cb91

[2021-06-29 14:22] #1413 closed, assigned to nathanchance

[2021-06-29 17:21] nickdesaulniers commented on #763
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/mips/linux.git/commit/?id=c994a3ec7ecc8bd2a837b2061e8a76eb8efc082b

[2021-06-29 20:06] v-fox opened #1424 "Regression in 5.13: clang build fails with "undefined symbol: do_softirq""
5.12 was building fine with clang-12 but newly released 5.13 [fails with](https://build.opensuse.org/package/show/home:X0F:HSF:Kernel/kernel-source):
[code]

Not making fbdev.c built-in only moves the same error to a different file.

[2021-06-29 20:11] nathanchance commented on #1424
Configuration and architecture?

[2021-06-29 20:20] v-fox commented on #1424
x86_64, config is in the above link as "[config.HSF](https://build.opensuse.org/source/home:X0F:HSF:Kernel/kernel-HSF/config.HSF?rev=844eb9f7dce61049bf03aadc27352c56)", here's copy: [config.txt](https://github.com/ClangBuiltLinux/linux/files/6736174/config.txt)

Note that CONFIG_PREEMPT_RT is force-enabled, that is usually not exposed in config menus. But I haven't seen it leading to build or boot

[2021-06-29 21:58] nathanchance commented on #1406
Merged into mainline: https://git.kernel.org/torvalds/c/f37ccf8fce15

[2021-06-29 21:58] #1406 closed, assigned to nathanchance

[2021-06-29 22:38] nickdesaulniers commented on #1424
`do_softirq` is only defined in `kernel/softirq.c` when `CONFIG_PREEMPT_RT` is NOT defined.  Looks like those preprocessor guards were added in 8b1c04acad082dec76f3f8f7e1fa13493d6cbb79 which landed in 5.13-rc1.

[2021-06-29 22:38] nickdesaulniers commented on #1424
So does this work with GCC? I doubt this is a clang specific regression.

[2021-06-29 22:53] v-fox commented on #1424
Haven't tried gcc yet as it takes 2 or more hours to check on OBS build-server and taking out my hacks, that force LLVM toolchain in build scripts, is cumbersome. Will try it out now.

[2021-06-29 23:22] nickdesaulniers commented on #1057
Fixed: 27f2a4db76e8d8a8b601fc1c6a7a17f88bd907ab

[2021-06-29 23:22] #1057 closed

[2021-06-29 23:27] nickdesaulniers commented on #759
f1f99adf05f2138ff2646d756d4674e302e8d02d and friends landed in v5.13-rc1. thanks all!

[2021-06-29 23:27] #759 closed

[2021-06-29 23:30] nickdesaulniers commented on #1074
upstream thread: https://lore.kernel.org/lkml/CAHk-=whqCT0BeqBQhW8D-YoLLgp_eFY=8Y=9ieREM5xx0ef08w@mail.gmail.com/

[2021-06-29 23:32] nickdesaulniers commented on #1225
fixed: bc7c9993a0d836aa88aca2969dcb9b22031924d3

[2021-06-29 23:32] #1225 closed

[2021-06-29 23:34] nickdesaulniers commented on #1271
fixed: e9d54be9ad5ee2eed3056d8901ac4b3b115d95a5
fixed: 7c182ebab9f338d07571c7f86d4d64c385ad1b9c
v5.13-rc1

[2021-06-29 23:34] #1271 closed, assigned to nickdesaulniers

[2021-06-29 23:36] nickdesaulniers commented on #1299
Here's the PR with the patch: https://lore.kernel.org/lkml/202106291354.CE55889CF4@keescook/T/#u

[2021-06-29 23:40] nickdesaulniers commented on #1342
wontfix based on https://lore.kernel.org/lkml/53282d70-c217-d65e-2d30-7a5593d6c585@gmail.com/. Thanks anyways for the patches @MontigyFerriot !

[2021-06-29 23:40] #1342 closed, assigned to m-falkowski

[2021-06-29 23:42] nickdesaulniers commented on #1272
@arndb what's the status here?

[2021-06-29 23:45] nickdesaulniers commented on #1285
I can see these in -next as:
a5f7166b58cda2430123eb9bb96d60340e699ae4
78924148a3d22e030fe8f5c1a0ce10e177856423
5ae6eadfdaf431f47adbdf1754f3b5a5fd638de2
with @arndb 's SOB, though I'm not sure which tree this is flowing into -next via.

[2021-06-30 05:45] ms178 commented on #1396
Thanks for providing me some new Polly-related compiler flags to play around with. I used to compile the Kernel with: -O3 -march=native -mtune=native -mllvm -polly -mllvm -polly-parallel -fopenmp -mllvm -polly-vectorizer=stripmine -mllvm -polly-omp-backend=LLVM -mllvm -polly-num-threads=24 -mllvm -polly-scheduling=dynamic -mllvm -polly-scheduling-chunksize=1 for some time now, my CPU is a 12C/24T

[2021-06-30 08:32] solbjorn commented on #1396
@ms178, I thought that auto-parallelization emits OpenMP symbols into the code, just like GCC does. Am I wrong? If your kernel links fine, then seems like it's not the case for LLVM.

[2021-06-30 17:48] nathanchance commented on #1424
Yeah this is not a clang specific regression so closing.

Apply the following diff to latest mainline:

[code]

[code]

Feel free to report it upstream although the fact that no architecture selects `ARCH_SUPPORTS_RT` is probably telling that it is not ready for primetime.

[2021-06-30 17:48] #1424 closed, assigned to nobody

[2021-06-30 19:58] nickdesaulniers commented on #1399
@arndb had a good suggestion to limit this just to `LLVM=1` for now. Perhaps we can set the `--target` value per arch/ specific Makefile, and completely ignore CROSS_COMPILE when LLVM=1 LLVM_IAS=1.

[2021-06-30 20:54] nickdesaulniers opened #1425 "upstream AutoFDO directions"
similar to #1074 , we should send kernel docs for building the kernel with AutoFDO.  IIRC, we don't need ANY kernel patches, we can use `KCFLAGS` at the command line invocation of `make`.  But @gwelymernans had really good documentation in https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/diff/Documentation/dev-tools/pgo.rst?h=for-next/clang/pgo&id=3bc68891829b776b9a5dd9174de05e69138a

[2021-06-30 21:11] m-falkowski commented on #1342
I think this issue is still valid @nickdesaulniers. The mentioned series is related to a second part of the patchset that is dropped, unfortunately. This issue hasn't got any attention from Kbuild maintainers, as I hadn't cc them. I think I might just resent the patch.

[2021-06-30 22:00] nickdesaulniers commented on #1342
Sure, feel free to reopen this issue if you resend and we'll track it.

[2021-06-30 23:09] compnerd commented on #1409
It's actually the `CMODEL_MEDANY=y` which generates a PC-relative addressing for the VDSO symbol (`__rt_sigaction`), which is expected to be relaxed by the linker.  Discussing with @MaskRay about how to address the linker relaxation, he suggested that we consider rewriting the `VDSO_SYMBOL` macro.  Digging through GCC, I found that there is the internal `S` constraint (https://github.com/riscv/ris

[2021-06-30 23:11] MaskRay commented on #1409
@jrtc27 @kito-cheng

(I am trying to emulate https://reviews.llvm.org/D46745 for llvm-project's RISCV target.)

[2021-06-30 23:13] jrtc27 commented on #1409
Given it's documented as a "call address" this seems wrong, unless GCC's self-documentation is inaccurate.

[2021-06-30 23:15] compnerd commented on #1409
@MaskRay - I do have a local patch for that already, the question is whether this correct or not.

[2021-06-30 23:18] jrtc27 commented on #1409
I've also seen cases like this before where you have symbols that are known to not be in range, either because they're absolute symbols like this or because they're things like a foo_size symbol generated in a linker script. I think the real fix is to have a symbol attribute that causes the compiler to use a non-PC-relative addressing mode. Itanium has `__attribute__((model(small)))` (to force GP-

[2021-06-30 23:45] v-fox commented on #1424
Sure, just finished a test build too.

That `kernel image bigger than KERNEL_IMAGE_SIZE` is even more annoying. Somehow I managed to get rid of it too but not sure how. Maybe CONFIG_CRASH_DUMP was at fault which I enabled by accident at some point. Or some locking related options, I think CONFIG_PROVE_LOCKING was broken in 5.12.

It's been on back-burner for years despite much more broken and less

[2021-06-30 23:55] v-fox commented on #1104
@nathanchance

This doesn't just breaks VB in DKMS on Arch, it breaks all 3rd-party module packages on Open Build Service, meaning that it breaks all 3rd-party, like zfs and nvidia-driver, in most/all distros. I've been using similar hack for 5.12 but it broke in 5.13. So it is very much worth upstreaming.

[2021-07-01 00:08] MaskRay commented on #1409
`__attribute__((model(medlow)))` is not sufficient, if he code is ever compiled with `-fpie/-fpic` (grep fpic/fPIC in the kernel, it is not impossible elsewhere) for riscv.

The code is making assumption that link-time address = runtime address. This works with absolute relocations and GOT-generating relocations but not with PC-relative relocations. Making the intention explicit in inline asm is t

[2021-07-01 00:29] StatusCode404 commented on #1104
I agree, the fix needs to be able to cater for both gcc and clang-llvm-lld.  Figure it out during execution and use the right tool.

Failing to do this will mean little adoption of clang-built linux kernels which seems to perform better in benchmarks.

[2021-07-01 07:32] torvic9 commented on #1104
@v-fox , well I can try to send the patch upstream for 5.14-rc1. Still, I think it's not really a kernel issue so I guess the chance of acceptance are small... anyone tried using `KBUILD_EXTMOD` instead?

As for gcc, no idea, there is currently no upstream LTO support for it unless I'm mistaken.

[2021-07-01 07:44] v-fox commented on #1104
That is very much kernel's issue. Neither using clang nor enabling LTO should make out-of-tree modules unbuildable, deficiencies should be fixed. I rebased your patch for 5.13 for myself with using '/tmp' by default and it seems to work fine on OBS now. Putting toolchain overrides into every out-of-tree module package is still a necessity though but that's a separate issue. Not sure if it's possib

[2021-07-01 07:49] torvic9 commented on #1104
That would be the "correct" way to go in my opinion - but rather on the DKMS side.
Is there a command that can extract this information from binaries (readelf?)?

Anyway, if people think that it's worth upstreaming, then I'm going to do so once 5.14 is mainlined.

[2021-07-01 14:56] torvic9 commented on #1104
Here is a rebased version (based on Linus' tree):
https://gitlab.com/torvic9/linux513-vd/-/blob/master/unused/Kbuild-add-option-for-choosing-a-ThinLTO-cache-direc.patch

Feel free to test and report.$

EDIT: **major oops!** I accidently removed a line. Do not use this, I will put up a rectified version.

[2021-07-01 16:18] compnerd commented on #1409
I do like the idea of using the symbolic difference.  However, experimentation shows that it doesn't actually work:
Changing `VDSO_SYMBOL` to:
[code]
Still gives: `ld.lld: error: signal.c:(function do_notify_resume: .text+0x492): relocation R_RISCV_PCREL_HI20 out of range: 33553919 is not in [-524288, 524287]; references __vdso_rt_sigreturn`

Looking at signal.o:
[code]

My understanding is that t

[2021-07-01 16:25] jrtc27 commented on #1409
Weak undef symbols for medany code is a known issue with the current spec; see https://github.com/riscv/riscv-elf-psabi-doc/issues/126. I would like to make those be indirected so it works reliably, as is done on AArch64, but there was previously resistance to that...

[2021-07-01 16:29] compnerd commented on #1409
Ah, thanks @jrtc27, I need to read through that thread.  But, this is rather interesting.  It seems that this happens to work just because the kernel is built non-PIE and thus can take advantage of a linker relaxation in the binutils linker.  I think that the proper thing would be to resolve the PS ABI issue (not that I'm aware of what the issue is yet), but in the mean time, it really does seem t

[2021-07-01 17:48] compnerd commented on #1409
Turns out that I was wrong (the symbol is generated via scripts and `git grep` failed me as a result).  The value of `__vdso_rt_sigaction` is a constant value that is computed and known to the linker at the link time.  This is a case of the value being close to zero, which binutils will treat as being relative to `zero`, which lld does not.  If the psABI states that an address close to zero is val

[2021-07-01 20:33] nickdesaulniers commented on #1409
https://patchwork.kernel.org/project/linux-riscv/patch/20210701200547.355742-1-abdulras@google.com/

[2021-07-01 20:41] jrtc27 commented on #1409
As discussed with @MaskRay on IRC, the RISC-V kernel port should just copy what arm64 does and generate a bunch of `#define`s with the offsets; it's both more efficient and more reliable. The above patch is just a bit of a kludge that makes it even less efficient, albeit as reliable as the arm64 approach.

[2021-07-01 20:43] nathanchance commented on #1330
I am going to roll this into #1354 as that is the root cause of this issue and it does not just happen in this one place. I can confirm https://reviews.llvm.org/D104058 does resolve this.

[2021-07-01 20:43] #1330 closed, assigned to nobody

[2021-07-01 21:06] compnerd commented on #1409
@jrtc27 I agree with you that the change isnt' the greatest.  However, as you said, its as reliable as the arm64 approach.  I'd like to get the build repaired and then work through the changes to clean this up using the header as that is cleaner.

[2021-07-01 21:12] nickdesaulniers commented on #1302
[code]

[2021-07-01 23:58] nickdesaulniers commented on #1399
Based on @arndb 's idea, I sent https://lore.kernel.org/lkml/20210701235505.1792711-1-ndesaulniers@google.com/ for arm64. If maintainers are supportive, I'll send similar patches for other architectures we currently support.

[2021-07-02 00:09] nickdesaulniers commented on #1425
Yabin added directions for simpleperf on Android in:
https://android-review.googlesource.com/c/platform/system/extras/+/1753107
https://android.googlesource.com/platform/system/extras/+/master/simpleperf/doc/collect_etm_data_for_autofdo.md

[2021-07-02 00:17] nickdesaulniers commented on #1074
Feedback from Linus was mostly around the kernel/userspace interface.  Linus wasn't too happy about the sysfs nodes, and custom binary blob that will change over LLVM revisions.

Some other points in favor of PGO that weren't mentioned on the thread upstream:
1. We [can't use LBR from virtualized guests](https://www.spinics.net/lists/linux-perf-users/msg12735.html).  With more developers moving to

[2021-07-02 17:37] torvic9 commented on #1104
Fixed patch (as a gist):
https://gist.github.com/torvic9/17c6a86ca4345d62e7907c96231c2775

[2021-07-02 21:14] nickdesaulniers commented on #876
97c885d585c53d3f1ad4545b0ee10f0bdfaa1a4d

we should still fix kasan from folding 2 64B assignments into a memset though.

[2021-07-02 21:15] nickdesaulniers commented on #1299
fca41af18e10318e4de090db47d9fa7169e1bf2f

[2021-07-02 21:15] #1299 closed, assigned to nathanchance

[2021-07-02 21:15] nickdesaulniers commented on #763
c994a3ec7ecc8bd2a837b2061e8a76eb8efc082b

[2021-07-02 21:15] #763 closed

[2021-07-02 21:18] nickdesaulniers commented on #1386
015d98149b326e0f1f02e44413112ca8b4330543

[2021-07-02 21:18] #1386 closed, assigned to nathanchance

[2021-07-02 21:19] nickdesaulniers commented on #570
73e6e4e01134c9ee97433ad1f470c71b0748b08f

[2021-07-02 21:19] #570 closed

[2021-07-02 21:19] nickdesaulniers commented on #1160
6fcb574125e673f33ff058caa54b4e65629f3a08

[2021-07-02 21:19] #1160 closed

[2021-07-02 23:00] nathanchance commented on #1408
Fixed: https://git.kernel.org/torvalds/c/9a7b7ec3c6f2

[2021-07-02 23:00] #1408 closed, assigned to nathanchance

[2021-07-05 16:35] ms178 commented on #1396
It worked fine, until I hit this: https://github.com/xanmod/linux/issues/169#issue-936509404

Maybe @nathanchance or @nickdesaulniers could take a look on the provided dmesg-errors?! I could not reproduce these issues with mild usage of the system, only when compiling the Kernel from a Ramdisk [update: and gaming] so far.

I am a bit puzzled where that came from, I even replaced the CPU with a spa

[2021-07-06 00:40] nathanchance opened #1426 "Booting a kernel with `-smp` under KVM hangs when host kernel is compiled with CFI"
In running the current [CFI tree](https://github.com/samitolvanen/linux/tree/clang-cfi) at `3bd3c7839994f31ef44c28e8db20777329651c17` on my AMD Ryzen 4300G based system, I discovered that I could not boot an `x86_64_defconfig` kernel under KVM when `-smp` is used.

[code]

Observations:

1. I do not see any errors or warnings in `dmesg` when this happens.
2. Changing `-cpu host -enable-kvm` to `-c

[2021-07-06 20:00] nathanchance commented on #732
Fixed: https://git.kernel.org/linus/7411cfc3c91a08a884463bbc7623087ecc2efdd8

[2021-07-06 20:00] #732 closed

[2021-07-06 20:02] nathanchance commented on #1309
Fixed: https://git.kernel.org/linus/8b95a7d90ce8160ac5cffd5bace6e2eba01a871e

[2021-07-06 20:02] #1309 closed, assigned to nickdesaulniers

[2021-07-06 23:58] nathanchance opened #1427 "`llvm-objdump: error: 'vmlinux': not a dynamic object` with pseries_defconfig"
After commit [24d33ac5b8ff](https://git.kernel.org/linus/24d33ac5b8ffb7a0e697344fea8591376162548f) ("powerpc/64s: Make prom_init require RELOCATABLE") in mainline, I see the following error after `arch/powerpc/tools/relocs_check.sh` runs:

[code]

It appears to be related to the fact that `CONFIG_RELOCATABLE` is enabled now and there appears to be some history behind that `-R` flag that is notated

[2021-07-07 16:40] nickdesaulniers commented on #1407
https://reviews.llvm.org/rG94e01d579c19

[2021-07-07 16:40] #1407 closed, assigned to nobody

[2021-07-07 17:20] nickdesaulniers commented on #1376
https://git.kernel.org/linus/540540d06e9d9b3769b46d88def90f7e7c002322

[2021-07-07 17:20] #1376 closed, assigned to melver

[2021-07-07 17:44] samitolvanen commented on #1426
I'm not sure why `-smp 8` trips this, but I suspect this happens because the compiler replaces C references to the `em_*` functions with jump table addresses.

Can we use opaque types for these functions instead, as they're not actually called from C?

For example, replace `extern void em_##op(struct fastop *fake);` with `extern const u8 em_##op[];` and `typedef void (*fastop_t)(struct fastop *);`

[2021-07-07 18:23] nickdesaulniers opened #1428 "BTI issues with allmodconfig on mainline with LLVM 11"
https://github.com/ClangBuiltLinux/continuous-integration2/runs/3010034514?check_suite_focus=true

[2021-07-07 18:24] nickdesaulniers commented on #1428
warning: some functions compiled with BTI and some compiled without BTI
warning: not setting BTI in feature flags

[2021-07-07 18:24] nickdesaulniers commented on #1428
I wonder if that's in -next or not, perhaps a cherry pick is necessary for mainline.

[2021-07-07 18:26] nathanchance commented on #1428
Same issue in -next: https://builds.tuxbuild.com/1uzDbJpD7lJ3Wvr5k8yHjL8ouNT/build.log

[2021-07-07 18:42] nathanchance commented on #1389
https://git.kernel.org/next/linux-next/c/658e2c5125bbbc9b9b5eac23b3c35b87df3c30b8 in -next tangentially works around this by eliminating `load_pa`. This is still probably worth investigating but marking as low priority for now because it is not breaking us.

[2021-07-07 18:54] compnerd commented on #1409
https://patchwork.kernel.org/project/linux-riscv/patch/20210707185105.1180526-1-abdulras@google.com/

This new version actually generates an offsets header much like ARM64.

[2021-07-07 19:10] nathanchance commented on #1428
[code]

Let me see if I can reverse bisect LLVM to see what commit in 12.0.0 resolved this...

[2021-07-07 20:09] nathanchance commented on #1428
https://github.com/llvm/llvm-project/commit/a88c722e687e6780dcd6a58718350dc76fcc4cc9 resolved this in LLVM. However, I do not understand why we are getting these warnings from Nick's commit in Linux... All that commit does is prevent `CONFIG_GCOV_KERNEL` from being selected by an architecture that wants noinstr to work, which should actually prevent generation of certain LLVM synthesized functions

[2021-07-07 20:58] nathanchance commented on #1426
I do not think we can use `const` because `fop` is incremented in `fastop()` but this works:

[code]

Not sure how proper that is though.

[2021-07-07 21:07] samitolvanen commented on #1426
Thanks for confirming. We could probably still use const because we're incrementing the pointer, not modifying the value, but I'll take a closer look later.

It's similar to what Andy [suggested earlier](https://lore.kernel.org/lkml/CALCETrVEhL9N_DEM8=rbAzp8Nb2pDitRCZGRAVcE288MBrJ4ug@mail.gmail.com/), but we could probably hide this behind some macros. I'm updating the x86 CFI series with somethin

[2021-07-07 21:11] nathanchance commented on #1426
Sounds good, just ping me here when that is done and I will be happy to test it!

[2021-07-07 21:16] nathanchance commented on #1426
[code]

appears to compile just fine so I believe you are right. I'll test it in a bit.

[2021-07-07 22:44] nickdesaulniers commented on #1399
https://lore.kernel.org/lkml/20210707224310.1403944-1-ndesaulniers@google.com/

[2021-07-07 23:24] samitolvanen commented on #1426
@nathanchance I just pushed a WIP version of [the x86 CFI tree](https://github.com/samitolvanen/linux/commits/clang-cfi) with non-callable functions converted to use opaque types. It needs some cleaning up still, but it does build and boot for me. PTAL.

[2021-07-08 00:07] nathanchance commented on #1426
Thanks, that tree builds and boots fine for me on both my AMD and Intel bare metal test systems without any issues.

[2021-07-08 01:07] nickdesaulniers commented on #1409
I can repro this on stable linux-5.10.y.  It looks like this was masked by a commit that came in between 5.12 and 5.13-rc1. (ec3a5cb61146c91f0f7dcec8b7e7157a4879a9ee needs to be cherry-picked #1020 ).  Looks like 2bfc6cd81bd17e4306e24ee47b9554c967bcb499 is the culprit. No comment on it's viability for inclusion into stable linux-5.10.y. Perhaps a revert of 2bfc6cd81bd17e4306e24ee47b9554c967bcb499

[2021-07-08 18:43] nickdesaulniers commented on #1389
Let's reopen if this occurs again.

[2021-07-08 18:43] #1389 closed, assigned to nobody

[2021-07-08 20:26] nathanchance commented on #1361
Fixed in 5.13-rc5 (was not clang related it seems): https://git.kernel.org/linus/2b31e8ed96b260ce2c22bd62ecbb9458399e3b62

[2021-07-08 20:26] #1361 closed, assigned to nobody

[2021-07-08 20:27] nathanchance commented on #1426
Given that this is fixed up in the CFI tree, I am going to close this up. I will continue to test as the tree is rebased so I will report if it regresses again.

[2021-07-08 20:27] #1426 closed, assigned to nobody

[2021-07-08 23:25] nickdesaulniers commented on #1399
v2: https://lore.kernel.org/lkml/20210708232522.3118208-1-ndesaulniers@google.com/

[2021-07-09 00:10] nathanchance commented on #1428
Patch submitted: https://lore.kernel.org/r/20210709000627.3183718-1-nathan@kernel.org/

[2021-07-14 18:53] kees opened #1429 "-Wimplicit-fallthrough needlessly warning about unreachable code"
There are some places in the kernel where the "fallthrough;" annotation is used after a portion of code that may get elided at build time:

[code]

This looks like:

[code]

And a warning is generated:

```warning: fallthrough annotation in unreachable code [-Wimplicit-fallthrough]```

But isn't a useful warning in this case, and should likely be silenced or adjust to not warn where there was actu

[2021-07-14 20:29] kees commented on #1429
LLVM bug: https://llvm.org/pr51094

[2021-07-15 02:01] nickdesaulniers commented on #1173
https://reviews.llvm.org/D106030

[2021-07-15 02:02] nickdesaulniers commented on #1173
I also have this diff to send to LKML:
[code]

[2021-07-15 22:17] GustavoARSilva commented on #236
This warning is now enabled in mainline:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=e9338abf0e186336022293d2e454c106761f262b :)
...
Hours later, the patch for Makefile was reverted by Linus:
- https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=d936eb23874433caa3e3d841cfa16f5434b85dcf :/

and it seems Linus has no intention to enable thi

[2021-07-16 12:42] nemanjai commented on #1417
It it worth macro guarding it for CPU's which implement it as a `nop`? Or just leaving it and not marking it deprecated since it is a `nop` after all?

[2021-07-16 15:11] kees commented on #1429
This bug is now directly blocking Clang's use of -Wimplicit-fallthrough in the kernel:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=d936eb23874433caa3e3d841cfa16f5434b85dcf

[2021-07-16 15:23] kees commented on #1429
Probably a solution like this is needed:
https://reviews.llvm.org/D31069

Though it's still very strange that this warning doesn't say what line of code the problem happens at...

[2021-07-16 20:46] samitolvanen commented on #1369
https://lore.kernel.org/lkml/20210716204545.3536354-1-samitolvanen@google.com/

[2021-07-16 21:35] samitolvanen commented on #1354
Third attempt! https://reviews.llvm.org/rG8e3b5cb39eef

[2021-07-16 21:52] samitolvanen commented on #1354
Aaaand reverted again because tests that require a target triple should probably also require that specific target to be registered.

[2021-07-17 02:04] ffainelli opened #1430 "arch/arm64/include/asm/archrandom.h giving build errors"
Hello,

Trying to build Linus' master with Ubuntu clang version 11.0.0-2~ubuntu20.04.1 is currently resulting in the following build failures:

`./arch/arm64/include/asm/stack_pointer.h:8:51: error: register 'sp' unsuitable for global register variables on this target
register unsigned long current_stack_pointer asm ("sp");
                                                  ^
In file included from

[2021-07-17 03:45] nathanchance commented on #1428
Merged into mainline: https://git.kernel.org/linus/8cdd23c23c3d481a43b4aa03dcb5738812831115

[2021-07-17 03:45] #1428 closed, assigned to nathanchance

[2021-07-17 11:59] solbjorn commented on #1369
For the version that was pushed 11 hours ago:

[code]

[2021-07-17 23:51] nathanchance commented on #1430
@ffainelli thanks for the report! Is this a cross compile or native build? If cross compile, you appear to be missing `CROSS_COMPILE=aarch64-linux-gnu-`, unless that exported in your environment? We are looking to eliminate the need for `CROSS_COMPILE` with `LLVM=1 LLVM_IAS=1` (no GNU tools) but that series is not in master yet: https://github.com/ClangBuiltLinux/linux/issues/1399

I believe that

[2021-07-17 23:54] ffainelli commented on #1430
@nathanchance yes your suggested command works nicely, I did not have CROSS_COMPILE set in my environment and that was a mistake. Thanks!

[2021-07-17 23:54] #1430 closed, assigned to nobody

[2021-07-18 13:10] pcercuei commented on #1334
@nickdesaulniers I [sent a patch](https://lore.kernel.org/linux-mips/20210718130748.230758-1-paul@crapouillou.net/) to the MIPS maintainer, and Cc'd you.

[2021-07-19 17:53] samitolvanen commented on #1369
I fixed one more typo in a comment and will include these in v2. Thanks for testing!

[2021-07-20 18:08] nickdesaulniers commented on #1173
kernel patch: https://lore.kernel.org/lkml/20210720180441.2893919-1-ndesaulniers@google.com/T/#u

[2021-07-20 19:21] twd2 commented on #1215
Hi, I'm trying to enable LTO for RISC-V, and can reproduce this issue.

I used `allyesconfig` with COMPILE_TEST, FTRACE, KASAN, and GCOV disabled, and:

[code]

or this:

[code]

Command used: `ARCH=riscv LLVM=1 LLVM_IAS=1 make HOSTCC=gcc vmlinux -j16`
Kernel version: https://github.com/torvalds/linux/commit/2734d6c1b1a0
LLVM version: https://github.com/llvm/llvm-project/commit/1b61d837b9d0
[confi

[2021-07-22 20:06] nathanchance commented on #325
Reopening because [this crash](https://github.com/ClangBuiltLinux/continuous-integration2/runs/3134254959?check_suite_focus=true) with `multi_v7_defconfig` + `CONFIG_THUMB2_KERNEL=y` is resolved with @arndb 's [patch](https://lore.kernel.org/r/20190307091514.2489338-1-arnd@arndb.de/). Thomas Gleixner actually [suggested one](https://lore.kernel.org/r/87czzeg5ep.fsf@nanos.tec.linutronix.de/) in tha

[2021-07-24 02:18] nathanchance opened #1431 "Infinite loop in drivers/hwmon/aspeed-pwm-tacho.c on ARCH=riscv allmodconfig"
When building `ARCH=riscv allmodconfig` with LLVM 13, clang hangs while compiling `drivers/hwmon/aspeed-pwm-tacho.c`. I bisected this down to [[RISCV] Add DAG combine to detect opportunities to replace (i64 (any_extend (i32 X)) with sign_extend.](https://github.com/llvm/llvm-project/commit/d4f4a1ba626d7c3e4442d6f68feb79d56eba9601) and I have reported it upstream [on Phabricator](https://reviews.ll

[2021-07-25 23:09] nathanchance commented on #1431
Craig submitted a patch that resolves this for me: https://reviews.llvm.org/D106754

[2021-07-25 23:37] nathanchance opened #1432 "Orphan section warnings from `.text.asan.module_{c,d}tor`"
After https://github.com/llvm/llvm-project/commit/7b789562244ee941b7bf2cefeb3fc08a59a01865, enabling at least `CONFIG_KASAN` results in tons of orphan section warnings:

[code]

Should these sections be kept or should we discard them? It seems that according to the commit message, prior to this commit, they were not being kept? If we should keep them, should they just go in `TEXT_TEXT` within [inc

[2021-07-26 00:51] MaskRay commented on #1432
`clang -fsanitize=kernel-address` emits a no-op function `asan.module_ctor`. Its text section can just be discarded.

Hmm: I haven't tested why it did not warn previously. Does a kernel tool previously somehow discard `.text.asan.module_ctor`?

The only clang difference is that the section has the `SHF_GNU_RETAIN` flag now.

[2021-07-26 21:07] nathanchance commented on #1432
`.text.asan` nor `module_ctor` are referenced in any of the `lds` files (tested with `fd -e lds.h -e lds.S . -x rg -Hn 'asan|module_ctor'`) so it seems like it has never been handled, which means we should have seen a warning from `ld.lld` prior to this if the section was there, no? If it is not needed, we can just discard it and I can send a patch for that tomorrow.

[2021-07-28 00:41] nathanchance commented on #1409
With @compnerd 's [patch](https://lore.kernel.org/r/20210707185105.1180526-1-abdulras@google.com/) fixed up according to my comments, I still see the following errors on 5.10.53:

[code]

[2021-07-28 16:01] compnerd commented on #1409
@nathanchance am I mistaken or are the symbols actually different?  That is, the source fo these out-of-range relocations is different than the VDSO issue.  Seems like there is another source of these to chase down.

[2021-07-28 16:05] jrtc27 commented on #1409
These would all be fixed by a compiler that implements https://github.com/riscv/riscv-elf-psabi-doc/pull/201; all those symbols are using `__weak` presumably to avoid PC-relative addressing due to things like this also being a concern on other architectures like amd64 and aarch64.

[2021-07-28 16:57] nathanchance commented on #1431
This has been resolved in main (LLVM 14) but needs to be cherry-picked to `release/13.x`. Craig already added the PR as a release blocker: https://llvm.org/pr51206

[2021-07-28 17:17] MaskRay commented on #1409
I wonder whether clang should diverge from GCC for <https://github.com/riscv/riscv-elf-psabi-doc/pull/201>.
An undefined-behavior style (which users can't even notice) thing somehow gets some support from GCC+binutils.

[2021-07-28 17:19] jrtc27 commented on #1409
I'm of the view LLVM should just go ahead an implement that, yes. Ideally we'd cherry-pick it to the new 13.x branch so FreeBSD can stop using -fPIE for its kernel on RISC-V. I have zero concerns about increasing binary size for newlib binaries by 10 or 12 bytes...

[2021-07-28 23:27] nathanchance commented on #1432
[code]

This is what I have tentatively come up with, I will add a comment that references the LLVM commit once I understand everything. `-fsanitize=thread` (used with `CONFIG_KCSAN`) produces `.text.tsan.module_ctor` sections, are these safe to discard as well?

For what it's worth, I ran `llvm-readelf --sections init/main.o` before and after that LLVM commit, which produces:

<details><summary>P

[2021-07-29 20:15] nickdesaulniers commented on #1432
I would boot test those changes.

[2021-07-30 02:31] nathanchance commented on #1432
Good thing that I did because `CONFIG_KASAN` + `CONFIG_KASAN_KUNIT_TEST` panicked:

[code]

Keeping `.text.asan.*` resolved the issue and all the tests still pass:

[code]

This is the diff I will send along tomorrow:

[code]

[2021-07-30 17:50] nickdesaulniers commented on #1302
@apinski-cavium in #gcc irc helped me pinpoint some relevant GCC commits
eb598ce634300e2e6633769ffda6205406169281
036546e58ac96338a9167fb1b239670fdca99ab3
9187e02deb92bfe982c845a682468fce39c8bf9b
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=44324
https://gcc.gnu.org/pipermail/gcc-patches/2010-May/284756.html

[2021-07-30 19:58] nathanchance opened #1433 "Issues with `CONFIG_BPF_PRELOAD` when cross compiling"
Building Fedora's configurations results in errors when building the libbpf objects. For example with s390:

[code]

https://builds.tuxbuild.com/1w09gqvA41zTa0OejMkD0IwBwL1/build.log

The most likely root cause is `--target=` not being provided because when I ran `file` on `libbpf.o`, it was an `x86_64` file.

[2021-07-30 22:38] nathanchance commented on #1432
https://lore.kernel.org/r/20210730223815.1382706-1-nathan@kernel.org/

[2021-08-02 18:39] nickdesaulniers commented on #1399
v6: https://lore.kernel.org/lkml/20210802183910.1802120-1-ndesaulniers@google.com/

[2021-08-02 22:57] nickdesaulniers opened #1434 "default on LLVM_IAS=1"
now that we have LLVM_IAS=1 enabled for MIPS in CI, that leaves just s390 and powerpc without LLVM_IAS=1 support. Let's turn it on by default and have uses opt out explicitly via LLVM_IAS=0.

[2021-08-02 23:01] nathanchance commented on #1434
Something to keep in mind is that `ARCH=arm` and `ARCH=riscv` did not become buildable with `LLVM_IAS=1` until LLVM 13.0.0. `ARCH=arm64` and `ARCH=x86_64` are buildable with `LLVM_IAS=1` since LLVM 11.0.0 so a rhetorical question: should this be version dependent?

[2021-08-02 23:42] nickdesaulniers commented on #1434
It's a good point and question.

I think we can simply require folks set `LLVM_IAS=0 CROSS_COMPILE=arm-linux-gnueabihf-` etc for those older toolchains.  This encourages folks to upgrade their tools to have nice things; in this case, a shorter command line.

[2021-08-02 23:44] nickdesaulniers commented on #1434
v1: https://lore.kernel.org/lkml/20210802234304.3519577-1-ndesaulniers@google.com/

[2021-08-02 23:46] nathanchance commented on #1434
We should also check the various CI systems and see what versions of LLVM they are using along with how they are building the kernel, otherwise that patch could end up breaking them.

[2021-08-04 02:34] jrtc27 commented on #1409
https://reviews.llvm.org/D107280

[2021-08-04 17:02] nickdesaulniers commented on #1434
I mentioned this to @gctucker on Tuesday's KernelCI meeting. If they're not using LLVM=1 when building s390 or ppc, they should be fine.

Perhaps worthwhile to reach out to 0day folks as well.

[2021-08-04 17:16] nathanchance commented on #1434
Unless I am reading that patch wrong, that impacts `CC=clang` too.

[2021-08-04 18:00] nathanchance commented on #1409
I can confirm that D107280 and its prerequisites with https://lore.kernel.org/r/20210802210016.642262-1-abdulras@google.com/ on top of 5.10.55 and v5.14-rc4 has no build errors and boots fine in QEMU.

[2021-08-04 18:25] nickdesaulniers commented on #1431
From the bug:

[2021-08-04 18:25] #1431 closed, assigned to topperc

[2021-08-04 18:52] nickdesaulniers commented on #1173
v2 kernel patch: https://lore.kernel.org/lkml/20210802202326.1817503-1-ndesaulniers@google.com/

[2021-08-05 18:32] nickdesaulniers commented on #1409
v3 of kernel patch: https://lore.kernel.org/lkml/20210804173214.1027994-1-abdulras@google.com/

[2021-08-05 21:20] samitolvanen opened #1435 "warning: objtool: can't find jump dest instruction"
I'm seeing a "can't find jump dest instruction" objtool warning when building allyesconfig with LTO and CFI, which I narrowed down to [`drivers/net/ethernet/stmicro/stmmac/dwmac-ipq806x.c:ipq806x_gmac_probe`](https://elixir.bootlin.com/linux/v5.14-rc4/source/drivers/net/ethernet/stmicro/stmmac/dwmac-ipq806x.c#L245).

After a quick `cvise` run, I ended up with the following reproducer:
[code]

And

[2021-08-05 21:23] samitolvanen commented on #1354
https://reviews.llvm.org/rG7ce1c4da7726 has been in for a couple of days now and I believe nothing has broken this time. I'll reopen if it ends up getting reverted again.

[2021-08-05 21:23] #1354 closed, assigned to samitolvanen

[2021-08-05 21:37] nathanchance commented on #1435
[code]

I guess LLVM could not figure out that if `gmac->phy_mode` was neither `PHY_INTERFACE_MODE_RGMII` nor `PHY_INTERFACE_MODE_SGMII`, we will not get to the `unreacahable()` call because of the `default` case of the previous statement, so it leaves the `unreachable()` annotation in and we go off into the weeds.

Not sure why we cannot just copy and paste the previous default case here, given t

[2021-08-05 21:41] samitolvanen commented on #1435
Sure, I'm fine with that. Not sure if generating an invalid jump is the ideal compiler behavior here though, but I assume that's going to be harder to fix.

Except that fix is even cleaner, just making default fall through to one of the cases without duplicating the error.

[2021-08-05 21:52] nathanchance commented on #1435
I agree this should probably be fixed in the compiler but at the same time, this could be considered a case of "Patient: Doctor, it hurts when I do this. Doctor: So don't do that." :)

Fair, this might be a little bit better?

[code]

[2021-08-05 22:06] samitolvanen commented on #1435
LGTM, and I confirmed that this fixes my objtool issue with LTO+CFI. Feel free to add `Tested-by: Sami Tolvanen <samitolvanen@google.com>`.

[2021-08-05 22:52] nickdesaulniers opened #1436 "audit cc-option"
I think there's some cc-option checks that don't need to be optional, but we don't support them yet. We should audit these and get feature requests filed upstream.

[2021-08-06 17:30] nickdesaulniers commented on #1434
v2: https://lore.kernel.org/lkml/20210806172701.3993843-1-ndesaulniers@google.com/

(probably should have added a Link tag to here)

[2021-08-06 17:31] nickdesaulniers commented on #1405
see also #1074

[2021-08-06 17:49] nathanchance commented on #1435
@samitolvanen could you send me a `.config` that reproduces this? I want to add the exact `objtool` warning to the commit message and I am not able to reproduce it with the few combinations I have tried. It does not even seem possible to build this file with x86_64 allyesconfig + full LTO because `CONFIG_DWMAC_LPC18XX` depends on `CONFIG_COMPILE_TEST` but `CONFIG_COMPILE_TEST` has to be disabled f

[2021-08-06 17:59] samitolvanen commented on #1435
Sorry, it was ThinLTO. I can't access my workstation right now, so I can't send you the exact config, but I was able to repro initially with allyesconfig + LTO_CLANG_THIN + CFI_CLANG + CFI_PERMISSIVE using [the x86_64 clang-cfi tree](https://github.com/samitolvanen/linux/commits/clang-cfi) and ToT Clang.

I could later repro this also with defconfig + LTO_CLANG_THIN + CFI_CLANG + STMMAC_ETH + STMM

[2021-08-06 19:14] nathanchance commented on #1435
Ah, I forgot that with LTO, `objtool` runs on `vmlinux` rather than the `.o` file so building `all` instead of `drivers/net/ethernet/stmicro/stmmac/dwmac-ipq806x.o` shows it.

Patch submitted: https://lore.kernel.org/r/20210806191339.576318-1-nathan@kernel.org/

[2021-08-08 02:46] nathanchance commented on #1435
Patch accepted: https://git.kernel.org/netdev/net-next/c/4367355dd909

I forgot to add the link to this issue unfortunately :/

[2021-08-08 03:47] nathanchance commented on #997
Another person noticed this with GCC and submitted a patch, which was accepted: https://git.kernel.org/netdev/net/c/704e624f7b3e

[2021-08-09 17:07] nickdesaulniers commented on #997
It seems like GCC has implemented this warning as `-Woverflow`, rather than `-Wconstant-conversion`...

[2021-08-09 20:23] #1402 closed, assigned to nobody

[2021-08-09 20:29] nickdesaulniers commented on #964
reported upstream: https://llvm.org/pr51422

[2021-08-09 21:19] nickdesaulniers commented on #1436
cc-option can be removed for
- `-Wno-address-of-packed-member`
- `-mno-avx`
- `-m32`
- `-mno-80387`
- `-mfentry`
- `-fno-jump-tables`
- `-mabi=lp64`
- `-fno-delete-null-pointer-checks`
- `-Wno-override-init`/`-Woverride-init`
- `-Wframe-larger-than=`
- `-fno-dwarf2-cfi-asm`
- `-marm`
- `-mshort-load-bytes` (neither clang nor gcc support???)
- `-malignment-traps` (neither clang nor gcc support???)

[2021-08-10 17:05] nickdesaulniers commented on #1434
accepted
1: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=52cc02b910284d6bddba46cce402044ab775f314
2: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=f12b034afeb3a977bbb1c6584dedc0f3dc666f14

[2021-08-10 17:06] nickdesaulniers commented on #1399
accepted
1: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=6f5b41a2f5a6314614e286274eb8e985248aac60
2: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=231ad7f409f16b9f9505f69e058dff488a7e6bde
3: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=e08831baa

[2021-08-10 18:18] MaskRay commented on #1436
(The mcount related options are all superseded by -fpatchable-function-entry=.)

[2021-08-10 20:43] nickdesaulniers commented on #1436
Here's the first patch sent touching just the top level Makefile.
https://lore.kernel.org/lkml/20210810204240.4008685-1-ndesaulniers@google.com/
v2: https://lore.kernel.org/lkml/20210816202504.2228283-1-ndesaulniers@google.com/

Not all supported compiler versions support that flag.

[2021-08-11 17:58] nickdesaulniers commented on #1436
x86: https://lore.kernel.org/lkml/20210811175647.3851629-1-ndesaulniers@google.com/
v2: https://lore.kernel.org/lkml/20210812183848.1519994-1-ndesaulniers@google.com/

[2021-08-11 22:25] nathanchance commented on #1429
Initial stab: https://reviews.llvm.org/D107933

[2021-08-12 00:32] nathanchance opened #1437 "Fedora i686 config "traps: PANIC: double fault, error_code: 0x0" in test_atomic64()"
Example:

[code]

Also seen on https://github.com/ClangBuiltLinux/continuous-integration2/runs/3302301310?check_suite_focus=true.

From my brief debugging:

1. Does not appear to be an LLVM regression, as I can reproduce it back to LLVM 11.1.0.
2. Does not appear to be a kernel regression, as I can reproduce it back to v5.12.
3. Might be a QEMU bug? Booting 50 times with KVM on my server does not

[2021-08-12 07:46] paulmenzel commented on #811
Linux’ PPC maintainer [Michael Ellerman replied](https://lore.kernel.org/linuxppc-dev/87r1ezmd0b.fsf@mpe.ellerman.id.au/T/#m2bddc887310f925a97bc9f2e942eb5a260d94c48) to my message asking if the proposed fix was acceptable:

@MaskRay, could you do that? (Or write a summary, and I contact them with you in cc.)

[2021-08-12 17:59] bwendling commented on #811
Here's what I applied to our local branch:

[code]

Basically, it's making explicit what binutils does implicitly.

[2021-08-12 18:14] nathanchance commented on #1432
Merged into mainline, thanks @kees!

https://git.kernel.org/torvalds/c/848378812e40

[2021-08-12 18:14] #1432 closed, assigned to nobody

[2021-08-12 18:48] nickdesaulniers commented on #811
Didn't @mpe already accept
commit 4c078c86b4a4 ("powerpc/boot/wrapper: Add "-z notext" flag to disable diagnostic")
which already explains these differences in default behavior between linkers? This is the same as
commit commit 3bbd3db86470 ("arm64: relocatable: fix inconsistencies in linker script and options")

[2021-08-12 18:52] nickdesaulniers commented on #811
Also @gwelymernans please strip off the google specific commit message tags, and send that upstream and cc @paulmenzel (you can run `git log --author "Paul Menzel"` to find @paulmenzel 's email address).

In future, @paulmenzel please please please cc clang-built-linux@googlegroups.com on questions related to LLVM.  It's in the MAINTAINERS file and clangbuiltlinux.github.io if you forget.

[2021-08-12 19:00] MaskRay commented on #811
If binutils is configured with `--enable-textrel-check={warning,error,yes}`, the dynamic relocation R_PPC64_ADDR64 in readonly sections may cause a warning/error in the absence of `-z notext`. Someone may want to confirm this.

[2021-08-12 20:50] bwendling commented on #811
[Done](https://lore.kernel.org/lkml/20210812204951.1551782-1-morbo@google.com/).

[2021-08-16 12:56] glaubitz commented on #1387
Ah, so this is just a misleading error message then?

[2021-08-16 13:05] glaubitz commented on #1380
Should we retitle #1387 accordingly?

[2021-08-16 18:01] nickdesaulniers commented on #1387
No, it's just hidden in the trace you provided. `dfc` and `sfc` are named registers.

[2021-08-16 19:40] paulmenzel commented on #811
@gwelymernans, thank you for sending the patch for review. (I am not part of cc:, but it’s fine, as besides `Tested-by:` I am not able to contribute anything useful to the discussion. (You could refer to the arm64 commit https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=3bbd3db86470c701091fb1d67f1fab6621debf50 in the commit message. But it’s also documented in the discu

[2021-08-17 00:57] nathanchance commented on #1429
https://github.com/llvm/llvm-project/commit/9ed4a94d6451046a51ef393cd62f00710820a7e8

[2021-08-17 00:57] #1429 closed, assigned to nathanchance

[2021-08-17 00:57] nathanchance commented on #236
Round 3? :)

https://lore.kernel.org/r/20210817005624.1455428-1-nathan@kernel.org/

[2021-08-18 00:45] nathanchance opened #1438 "ERROR: modpost: "__mulodi4" [drivers/block/nbd.ko] undefined!"
After commit [fad7cd3310db](https://git.kernel.org/axboe/linux-block/c/fad7cd3310db3099f95dd34312c77740fbc455e5) ("nbd: add the check to prevent overflow in __nbd_ioctl()") in the block tree, the following error is seen with several different 32-bit configurations:

[code]

`check_mul_overflow()` will ultimately call `__builtin_mul_overflow()`, where I assume that it is problematic that the operan

[2021-08-18 01:03] nathanchance opened #1439 "-Wshift-count-negative in drivers/net/ethernet/sfc/"
After commit [1e688dd2a3d6](https://git.kernel.org/powerpc/c/1e688dd2a3d6759d416616ff07afc4bb836c4213) ("powerpc/bug: Provide better flexibility to WARN_ON/__WARN_FLAGS() with asm goto") in the powerpc tree, I see the following warnings with Debian's and SUSE's configs:

[code]

Doing the math, I have no idea how it thinks the shift is going to be negative... (all of the macros are in `drivers/net

[2021-08-18 17:36] samitolvanen opened #1440 "9934a5b2ed5aa6e6bbb2e55c3cd98839722c226e breaks x86_64 ThinLTO"
Starting with LLVM commit [9934a5b2ed5aa6e6bbb2e55c3cd98839722c226e](https://github.com/llvm/llvm-project/commit/9934a5b2ed5aa6e6bbb2e55c3cd98839722c226e) ("CVP] processSwitch: Remove default case when switch cover all possible values."), ToT x86_64 defconfig + ThinLTO fails to boot:
[code]

@nickdesaulniers @nathanchance

Edit: Updated to refer to the correct commit, which Nathan pointed out belo

[2021-08-18 19:45] nathanchance commented on #1440
I am not sure that bisect is right. I can boot up five times in a row at `2379949aadcee8d4028dec0508f88bda290636bc`. My bisection landed on https://github.com/llvm/llvm-project/commit/9934a5b2ed5aa6e6bbb2e55c3cd98839722c226e:

[code]

I have reported this upstream: https://reviews.llvm.org/D106056

[2021-08-18 20:14] samitolvanen commented on #1440
Indeed, that teaches me not to bisect things before caffeine...

[2021-08-19 06:23] junparser commented on #1440
hi @samitolvanen @nathanchance

After some simple digging,  the log [    0.652417] jump_label: Fatal kernel bug, unexpected op at jump_label_test+0x1d/0xe3 [ffffffffb3b89aaf] (e9 a9 00 00 00 != 0f 1f 44 00 00)) size:5 type:1 with  memcmp(addr, expect, size) shows we may get wrong addr.

BTW, the https://reviews.llvm.org/D106056 just try to removes unreachable default case.  Do you fail to boot wit

[2021-08-19 08:46] junparser commented on #1440
@samitolvanen @nathanchance comfirmed, it shows that LLVM trunk remove some default case in cfg80211_edmg_chandef_valid, which is correct tranformation. however, some operation in tools/objtool/check.c emit "vmlinux.o: warning: objtool: cfg80211_edmg_chandef_valid()+0x169: can't find jump dest instruction at .text.cfg80211_edmg_chandef_valid+0x17b", and the boot failed.

[2021-08-19 08:58] junparser commented on #1440
BTW, I also find some similar to this issue, https://lore.kernel.org/lkml/20190612025227.lxumqqtqao6iqms3@treble/T/

[2021-08-19 09:12] junparser commented on #1440
I do believe this undefined behavior caused by libtool, it passed when i removed the default switch case in cfg80211_edmg_chandef_valid

[2021-08-19 09:54] junparser commented on #1440
I seems that the value of chandef->edmg.bw_config is out of the range [4, 15] at runtime in https://github.com/torvalds/linux/blob/master/net/wireless/chan.c#L86. However, with thinlto, we have proved that value range is range [4, 15} and remove the default case into unreachable() which cause undefined behavior.

[2021-08-19 11:35] junparser commented on #1440
diff --git a/net/wireless/chan.c b/net/wireless/chan.c
index 869c43d4414c..53e8ed341381 100644
--- a/net/wireless/chan.c
+++ b/net/wireless/chan.c
@@ -108,9 +108,6 @@ static bool cfg80211_edmg_chandef_valid(const struct cfg80211_chan_def *chandef)
                if (max_contiguous < 4)
                        return false;
                break;
-
-       default:
-               return false;

[2021-08-19 11:37] junparser commented on #1440
[code]

[2021-08-19 13:09] junparser commented on #1440
https://reviews.llvm.org/D106056 has been reverted, FYI

[2021-08-19 22:42] samitolvanen commented on #1369
Accepted: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=2b1d7fc054677a29abad15b3b32dad93df6eb9cf

[2021-08-20 19:09] samitolvanen commented on #1353
Initial PoC:
https://reviews.llvm.org/D108478
https://reviews.llvm.org/D108479

[2021-08-25 20:39] nathanchance opened #1441 "/tmp/sm4-c916c8.s:677: Warning: ignoring changed section attributes for .data..cacheline_aligned"
[code]

Why this does not happen with the integrated assembler, I have no idea.

Patch submitted: https://lore.kernel.org/r/20210825203859.416449-1-nathan@kernel.org/

[2021-08-25 20:51] nickdesaulniers commented on #1409
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/riscv/linux.git/commit/?h=for-next&id=fde9c59aebafb91caeed816cc510b56f14aa63ae

[2021-08-25 20:53] nickdesaulniers commented on #1438
there's an upstream bug for this (@stephenhines and @kraj are on it): https://llvm.org/pr28629

[2021-08-25 21:10] stephenhines commented on #1438
The bad news is that this is probably still very low priority to get fixed. For Android, we just started out by including sub-components of compiler-rt directly with libgcc, and later switched completely to Clang's own builtin library with no libgcc.

[2021-08-25 22:08] nathanchance opened #1442 "Fedora i686 config minus CONFIG_FORTIFY_SOURCE error in arch/x86/include/asm/checksum_32.h"
[code]

I initially noticed this because of @kees's patch to force disable `CONFIG_FORTIFY_SOURCE` for clang in -next but this can be reproduced on latest mainline with the commands above. No idea why this happens but I can look into it as soon as tomorrow, unless someone else spots something obvious.

[2021-08-25 22:14] nickdesaulniers commented on #1354
This was [backported](https://bugs.llvm.org/show_bug.cgi?id=51588) to llvm-13: 1828e57eb586

[2021-08-25 22:42] rengolin commented on #1438
My attempts to reproduce a long long multiplication come out lowered from clang on all Arm 32/64 soft/hard I could come up with, with the only exception being `-march=armv6 -mthumb`, which calls `__aeabi_lmul`, not `__mulodi4`. It's possible they're aliases and that's what the symbol points to? Is this it?

But when I try to link, it just works. clang is calling `arm-linux-gnueabi-ld`. I'm not try

[2021-08-25 22:44] nathanchance commented on #1438
I'll see if I can get a smaller reproducer tomorrow then.

NOTE: This is not just a 32-bit ARM error, I do also see it on 32-bit MIPS.

[2021-08-25 22:44] nickdesaulniers commented on #1438
We can probably creduce the kernel easily.

[2021-08-25 22:49] nickdesaulniers commented on #1173
fixed in llvm-14:
1. https://reviews.llvm.org/rG846e562dcc6a9a611d844dc0d123da95629a0567
2. https://reviews.llvm.org/rGb72fd31bdaf2cba3bac03a1d83a231266160527c

Let's wait to close this out though until @ojeda picks up [the kernel patch](https://lore.kernel.org/lkml/20210802202326.1817503-1-ndesaulniers@google.com/) (with suggestion to s/clang-13/clang-14/) then that hits mainline.

[2021-08-25 23:04] rengolin commented on #1438
Thanks! Please attach the reproducer to the original bug, so other people can see it, and we update this if/once we fix it.

[2021-08-25 23:05] rengolin commented on #1438
This sounds like people just didn't get to it because no one cared enough about 32-bits by the time the change was introduced...

[2021-08-26 20:09] nathanchance commented on #1438
Reproducer posted: https://llvm.org/pr28629

[2021-08-26 21:09] nathanchance commented on #1442
`cvise` spits out:

[code]

[code]

[2021-08-27 14:03] nickdesaulniers commented on #811
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?id=0355785313e2191be4e1108cdbda94ddb0238c48

[2021-08-27 19:59] nickdesaulniers commented on #1438
If we can fix clang for ARM and MIPS at least, then we might be able to ship in the kernel:
[code]
but with an added version check. Err, that would use `bytesize` uninitialized. We'd maybe go back to using `arg * config->blksize` instead.  Errr...the kernel patch that exposed this fixes a bug; we'd probably wan't to use a hand written `check_mul_overflow` that doesn't rely on a builtin.

[2021-08-27 21:04] nathanchance commented on #1438
Shouldn't we be working around this issue generically, rather than in that specific call site? Initial idea would be breaking up the `COMPILER_HAS_GENERIC_BUILTIN_OVERFLOW` define into add, sub, and mul then defining the mul one only if we know we are working with a good compiler and architecture combination. See `include/linux/overflow.h`.

[2021-08-27 22:14] rengolin commented on #1438
Quick update: This problem was mostly fixed earlier this month (by @topperc) for x86 and @nickdesaulniers is working to get that propagated to Arm and Mips. It will only fix from now on (clang 14+), leaving previous clangs with the same problem.

We may be able to get this in clang 13 if we can backport the current RC3. No promises, though, as it's very late in the release process. But if it works

[2021-08-27 22:31] nickdesaulniers commented on #1438
Some toolchain patches have gone in:
32b ARM: https://reviews.llvm.org/rG5c91b98c5d45243352bf10262454bcac77cd3fed
32b MIPS 1: https://reviews.llvm.org/rGc8c176d999d2c2166dee8d67c32b4f8f42b4f1bd

MIPS is now hitting `__multi3` being undefined. @rengolin mentioned that perhaps the above 2 could be cherry picked to clang-13, but that would depend on https://reviews.llvm.org/rGb2ca4dc935859b324fd7e9ca

[2021-08-27 23:36] topperc commented on #1438
Is 32-bit X86 still broken for __mulodi4?

[2021-08-28 18:57] rengolin commented on #1438
It seems so. In your [original patch](https://reviews.llvm.org/D107581) you only add it for 128-bits, not 64-bits. However, further up the X86Lowering code, `ISD::SMULO` is legal (custom lowered) for `MVT::i64` and it doesn't seem to be conditional on 32/64 bits.

But when I compile the original code with `-target i386` I still get the `__mulodi4` call. Perhaps the X86 back-end needs the same hand

[2021-08-28 19:31] topperc commented on #1438
Isn't it in this for loop that has a continue for i64 on 32-bit targets?

[code]

[2021-08-28 20:38] rengolin commented on #1438
aha! Yes, I missed that. Been looking at this from different computers and mobiles, lacking context on all of them.

Not sure the kernel cares about i386 anymore but with your legalisation fix, it seems the same thing would work just like Arm and Mips.

[2021-08-28 20:45] topperc commented on #1438
Are we heading in the direction of removing MULO lib calls completely from llvm? My initial patch was just to fix the cases that wouldn’t link with either libgcc or compiler-rt.

[2021-08-28 21:07] rengolin commented on #1438
Maybe? I'm not advocating for it, I'm just trying to fix an issue that exists for over 5 years and still doesn't have a nice solution.

Linking compiler-rt isn't mandatory and not used on many systems. Linking with compiler-rt and libgcc won't work, so if there is functionality that is only available in compiler-rt, we can't know if the linker will find it or not, so lowering calls to `__mulodi4`

[2021-08-28 21:16] kraj commented on #1438
for compatibility reasons I think its best to remove it from clang.

[2021-08-30 17:11] nickdesaulniers opened #1443 "should CFI use -fno-sanitize-ignorelist"
@pirama-arumuga-nainar sugguested `-fno-sanitize-ignorelist Don't use ignorelist file for sanitizers` to avoid errors when the cfi_blacklist.txt does not exist. Should we use this with CFI?

[2021-08-30 17:21] nickdesaulniers opened #1444 "macro defined with named parameters which are not used in macro body, possible positional parameter found in body which will have no effect"
building linux-next for mips:
[code]

[2021-08-30 17:27] nathanchance commented on #1444
Dupe of #1415.

[2021-08-30 17:27] #1444 closed, assigned to nobody

[2021-08-30 17:44] nickdesaulniers commented on #1438
Yes, this is broken for 32b x86 kernels as well (we just don't have CI coverage for ARCH=i386 defconfig + CONFIG_BLK_DEV_NBD=y). If I enable `CONFIG_BLK_DEV_NBD=y`, then I observe the following linkage failure:
[code]

[2021-08-30 17:58] nickdesaulniers commented on #1438
mips patch 2/2: https://reviews.llvm.org/D108926
i386 patch: https://reviews.llvm.org/D108928

For future travelers, llvm/include/llvm/IR/RuntimeLibcalls.def has the relevant mapping for these functions.

[2021-08-30 20:35] nickdesaulniers commented on #1438
ppc32: https://reviews.llvm.org/D108936
riscv: https://reviews.llvm.org/D108939; note: we don't have coverage of that target for kernel builds, so I can't quickly verify.

Clang is passed `--rtlib=compiler-rt` but I'll bet that's not propagated in the IR, so things like LTO might not know for ISel whether compiler-rt would be available or not.

[2021-08-30 21:41] nickdesaulniers commented on #325
sent: https://lore.kernel.org/lkml/20210830213846.2609349-1-ndesaulniers@google.com/T/#u

[2021-08-30 22:47] nathanchance opened #1445 "pseries_defconfig -Warray-bounds instance"
In testing [the series to enable `-Warray-bounds`](https://lore.kernel.org/r/20210827163015.3141722-1-keescook@chromium.org/), I uncovered an instance in `arch/powerpc/kernel/signal_32.c` that is a false positive ([discussion on LKML](https://lore.kernel.org/r/YS0nJtNDCwfbaubZ@Ryzen-9-3900X.localdomain/)):

[code]

This does not appear to be specific to PowerPC as [a small reproducer shows](https:

[2021-08-30 22:59] nickdesaulniers opened #1446 "failure to disassemble thinLTO kernel"
I've got a disassembler assertion failure when disassembling a Linux kernel built with thinLTO that bisects back to https://reviews.llvm.org/D102296.

[code]

Indeed, if I revert 8ec73e96b72d04787ed606cfbb62a7a2a05b3711, I can disassemble my kernel again. This is blocking debugging of https://lore.kernel.org/lkml/5913cdf4-9c8e-38f8-8914-d3b8a3565d73@kernel.org/.

[2021-08-30 23:25] nickdesaulniers commented on #1446
reported upstream: https://llvm.org/pr51684

[2021-08-31 00:53] nathanchance opened #1447 "QEMU 6.1.0 regression with CONFIG_THUMB2_KERNEL"
Even with #325, upstream QEMU fails to boot. I have tracked it down to a commit in 6.1.0 and reported it [upstream](https://lore.kernel.org/r/YS19IBEGrIUnUT2p@Ryzen-9-3900X.localdomain/).

[2021-08-31 17:51] nickdesaulniers commented on #1447
ah, my version `QEMU emulator version 5.2.0 (Debian 1:5.2+dfsg-11)` was booting fine.

[2021-08-31 20:43] nickdesaulniers commented on #1440
Jotting down notes; I've been looking into this yesterday evening and this afternoon. I got distracted by #1446 , but it looks like there's a patch out now for that, and I can just use GNU objdump for now.  Nothing conclusive yet, but still some notes:
1. https://lore.kernel.org/lkml/20210824210507.GC17784@worktop.programming.kicks-ass.net/ talks about jump tables with empty entries, but from @nat

[2021-08-31 20:44] LebedevRI commented on #1440
Can you give me a standalone reproducer that only involves `opt -O3`?

[2021-08-31 21:45] nickdesaulniers commented on #1446
https://reviews.llvm.org/D109016

[2021-09-01 00:06] nickdesaulniers commented on #1440
(I followed up with Roman on IRC)

This looks like a follow up to https://llvm.org/pr43129; in fact, I spent all day looking at code that was added in https://reviews.llvm.org/D68131.  I did come up with this test case, reduced from Nathan's reproducer:
[code]
[code]
cc @zmodem

[2021-09-01 22:59] nickdesaulniers commented on #679
https://reviews.llvm.org/D109103 looks like it should fix the case reported by @arndb above, which looks reproduced from the same code as this bugs description. The issue is reminiscent of #621, but https://reviews.llvm.org/D109103 doesn't fix #621.  They are closely related; LLVM has 3 techniques it uses during instruction selection to lower `switch` like statements:
1. cases with contiguous rang

[2021-09-01 23:00] nickdesaulniers commented on #1440
Please help test https://reviews.llvm.org/D109103 and https://reviews.llvm.org/D109106 with https://reviews.llvm.org/D106056 re-applied locally.

[2021-09-02 18:54] nathanchance commented on #1440
I tested diff 370104 and diff 370343 of https://reviews.llvm.org/D109103 with https://reviews.llvm.org/D106056 reapplied and the kernel booted in QEMU and I did not see any `objtool` warnings.

[2021-09-02 20:34] nickdesaulniers commented on #20
https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/commit/?h=kspp/hardening/options&id=a82adfd5c7cb4b8bb37ef439aed954f9972bb618

I don't think all values for this flag are equal priority. It looks like the kernel is using `-fzero-call-used-regs=used-gpr`. Maybe the issue title should be updated to reflect that?

[2021-09-03 21:19] bwendling opened #1448 "4.15-based kernel unable to boot with newer clang versions"
I bisected clang to find the commit that's causing our 4.15-based kernel to fail to boot. This is the first offending commit.

[code]

[2021-09-05 19:30] nathanchance opened #1449 "-Werror turned on by default in 5.15-rc1"
https://git.kernel.org/linus/3fe617ccafd6f5bb33c2391d6f4eeb41c1fd0151

Some of our builds are not warning free even on mainline, meaning this is going to bite us quite hard. We can turn it off in CI wherever necessary but we should prioritize getting them cleaned up. I think most noisy warnings are the `-Wframe-larger-than=` warnings that we get with `CONFIG_KASAN`, which we are tracking as #39.

[2021-09-05 22:08] bwendling commented on #1448
See https://llvm.org/pr51760

[2021-09-07 02:16] nathanchance commented on #1285
Niklas's solution was rejected at pull time: https://lore.kernel.org/r/CAK8P3a2oZ-+qd3Nhpy9VVXCJB3DU5N-y-ta2JpP0t6NHh=GVXw@mail.gmail.com/

[2021-09-07 02:42] nathanchance commented on #1449
I sent out a report about this: https://lore.kernel.org/r/YTbOs13waorzamZ6@Ryzen-9-3900X.localdomain/

[2021-09-07 21:22] nickdesaulniers commented on #1449
LKML discussion: https://lore.kernel.org/lkml/20210907183843.33028-1-ndesaulniers@google.com/

[2021-09-07 21:32] #1448 closed, assigned to nobody

[2021-09-07 21:54] nickdesaulniers commented on #1434
1. 52cc02b910284d6bddba46cce402044ab775f314
2. f12b034afeb3a977bbb1c6584dedc0f3dc666f14

[2021-09-07 21:54] #1434 closed, assigned to nickdesaulniers

[2021-09-07 22:11] nickdesaulniers commented on #1399
1. 6f5b41a2f5a6314614e286274eb8e985248aac60
2. 231ad7f409f16b9f9505f69e058dff488a7e6bde
3. e08831baa032e62786d88b68e26c54389e2486b6

[2021-09-07 22:11] #1399 closed, assigned to nickdesaulniers

[2021-09-07 22:12] nickdesaulniers commented on #811
0355785313e2191be4e1108cdbda94ddb0238c48

[2021-09-07 22:12] #811 closed

[2021-09-07 22:13] nickdesaulniers commented on #1369
850ded46c64299f04d15e39caaba21963fb966f8

[2021-09-07 22:13] #1369 closed, assigned to nobody

[2021-09-07 22:39] nickdesaulniers commented on #997
704e624f7b3e8a4fc1ce43fb564746d1d07b20c0

[2021-09-07 22:39] #997 closed

[2021-09-07 22:40] nickdesaulniers commented on #1409
fde9c59aebafb91caeed816cc510b56f14aa63ae

[2021-09-07 22:40] #1409 closed, assigned to compnerd

[2021-09-07 22:41] nickdesaulniers commented on #1409
We might need to reopen this for a 5.10 backport.

[2021-09-07 22:49] nickdesaulniers commented on #1438
This is all fixed up on the LLVM side, see the six commits referenced from https://llvm.org/pr28629.

Now to fix this up on the kernel side. This is top priority for me since it's starting to affect Android builds now, too.
https://android-review.googlesource.com/c/kernel/common/+/1820696

[2021-09-08 18:04] #679 closed

[2021-09-08 18:04] #1440 closed, assigned to nickdesaulniers

[2021-09-08 18:22] #1446 closed, assigned to nobody

[2021-09-08 18:26] nickdesaulniers commented on #325
Added to rmk's q: https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9122/1.

[2021-09-08 18:29] nickdesaulniers commented on #977
Sasha picked this up as 57ef65b34fc5ac05095f4facf746d78cce49bbb0 for v4.19.191.

[2021-09-08 18:29] #977 closed

[2021-09-08 18:40] nickdesaulniers commented on #1240
This was fixed by @nathanchance in 4367355dd90942a71641c98c40c74589c9bddf90 in 5.15.

[2021-09-08 18:40] #1240 closed

[2021-09-08 18:43] nickdesaulniers commented on #1341
consider adding `--icf=none` to your kernel builds if you're going to turn on `--icf=safe` by default.

[2021-09-08 18:45] nickdesaulniers commented on #1273
closing as unreproducible. Please reopen if you see this again.

[2021-09-08 18:45] #1273 closed, assigned to arndb

[2021-09-08 18:47] nickdesaulniers commented on #1341
@broonie suggested we just explicitly use `--icf=none` explicitly upstream. Reopening.

[2021-09-08 18:51] nickdesaulniers commented on #1334
@pcercuei friendly reminder to send a v2.

[2021-09-08 18:53] arndb commented on #1272
Fixed now by [removing crunch support](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=12c3dca25d2fa17a101de0d80bf3f238b1cecbae).

[2021-09-08 18:53] #1272 closed, assigned to arndb

[2021-09-08 18:59] nathanchance commented on #1341
If I remember correctly, adding `--icf=none` did not resolve the issue for me when I was bisecting but I did not make a note of it here so I could be wrong. @tpgxyz noted in the mentioned issue that there might be places where `KBUILD_LDFLAGS` is getting overwritten so adding this option to the global linker flags might not prevent the issue. We should audit `KBUILD_LDFLAGS` to make sure they are

[2021-09-08 20:56] nathanchance commented on #39
RISC-V does not respect `CONFIG_KASAN_STACK`, leading to the same large number of warnings with allmodconfig: https://lore.kernel.org/r/YTkjJPCdR1VGaaVm@archlinux-ax161/

[2021-09-08 21:24] nickdesaulniers opened #1450 "multiple -Wsometimes-uninitialized in drivers/net/ethernet/mellanox/mlx5/core/en/rep/bridge.c"
via: https://github.com/ClangBuiltLinux/continuous-integration2/runs/3548891300?check_suite_focus=true
[code]

[2021-09-08 21:27] nathanchance commented on #1450
This has been pending for net for a while: https://lore.kernel.org/r/20210907212420.28529-2-saeed@kernel.org/

Upstream report: https://lore.kernel.org/r/CA+G9fYsV7sTfaefGj3bpkvVdRQUeiWCVRiu6ovjtM=qri-HJ8g@mail.gmail.com/

Sorry, forgot to file an issue (I have been really bad about that for warnings lately).

[2021-09-08 21:30] nickdesaulniers commented on #1449
b339ec9c229aaf399296a120d7be0e34fbc355ca by @melver demoted this to just default on CONFIG_COMPILE_TEST=y.

[2021-09-08 23:41] nickdesaulniers commented on #1438
boy, this is going to be tricky. I have a kernel patch that detects when the compiler would generate a libcall to __mulodi4, and instead falls back to the non `COMPILER_HAS_GENERIC_BUILTIN_OVERFLOW` implementation of `check_mul_overflow`: https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/include/linux/overflow.h#L118-L201

The problem is that the implementation

[2021-09-08 23:58] nickdesaulniers commented on #1438
Specifically `__aeabi_uldivmod` is for ARCH=arm. I can't fall back to the non-`COMPILER_HAS_GENERIC_BUILTIN_OVERFLOW` implementations of `check_mul_overflow` anyways; they have a multiplication that produces `__mulodi4` on ARCH=i386 anyways...

[2021-09-09 06:58] paulmenzel opened #1451 "`clang: error: unsupported argument '-mpower4' to option 'Wa,'`"
$ clang --version
    Ubuntu clang version 12.0.0-3ubuntu1~21.04.1
    Target: powerpc64le-unknown-linux-gnu
    Thread model: posix
    InstalledDir: /usr/bin
    $ git log --oneline -1
    a3fa7a101dcf Merge branches 'akpm' and 'akpm-hotfixes' (patches from Andrew)
    $ time make LLVM=1 bindeb-pkg V=1
    […]
    make -f ./scripts/Makefile.build obj=scripts/mod
      clang -Wp,-MMD,scripts/mod/

[2021-09-09 07:02] nickdesaulniers commented on #1451
dupe of #672

[2021-09-09 07:02] #1451 closed, assigned to nobody

[2021-09-09 07:03] nickdesaulniers commented on #1451
You'll need to set `LLVM_IAS=0` now to continue building, ie `ARCH=powerpc make LLVM=1 LLVM_IAS=0 -j$(nproc)`

[2021-09-09 07:06] paulmenzel commented on #1451
[Configuration file `.config`](https://github.com/ClangBuiltLinux/linux/files/7134248/linux-5.14-10557-ga3fa7a101dcf.config.txt)

[2021-09-09 07:06] paulmenzel commented on #1451
Thank you, and sorry for not seeing the other issue.

[2021-09-09 10:58] melver commented on #39
Not sure if it solves all problems, but at least reflects KASAN's inherently larger stack requirements: https://lkml.kernel.org/r/20210909104925.809674-1-elver@google.com

We should have done this long ago, because AFAIK all architectures at least double the real stack size if they use a KASAN software mode. I guess it was easy to ignore the warnings until now.

[2021-09-09 11:11] rengolin commented on #1438
According to the ARM RTABI document, `_aeabi_uldivmod` is defined as a runtime helper (paragraph 4.2), unlike the overflow variants.

Both libgcc and compiler-rt implement that, but the kernel doesn't use either. If you want to make use of it you have to either include one of the run-time libraries or add it with the others the kernel implements. Being the kernel, I believe the only solution is th

[2021-09-09 12:13] paulmenzel commented on #1418
The LLVM developers say in bug report[[inline asm] .stabs directive support ](https://bugs.llvm.org/show_bug.cgi?id=31134),  STABS is replaced by DWARF.

[2021-09-09 14:31] melver commented on #39
Nack'd: https://lkml.kernel.org/r/CAK8P3a2--kfvs-+qkZdpea94ccgcY6QpdHMfVFgY0F2Z=GBhyw@mail.gmail.com

Whatever we end up with, we need to only ensure that the option to turn on KASAN_STACK remains on Clang somehow.

[2021-09-09 17:28] nickdesaulniers commented on #39
It's probably time to focus on https://llvm.org/pr38809; perhaps we can consider stack size estimates for the inlining cost model, at least when sanitizers are enabled.

[2021-09-09 18:17] nickdesaulniers commented on #1438
I feel like we'll either need to add an implementation of `__mulodi4` to the kernel; either that or that plus my messy patch AND `__aeabi_uldivmod`, so adding `__mulodi4` is probably less work.

[2021-09-09 18:26] nickdesaulniers commented on #1451
No worries; I think it's better to report a bug twice than never at all!

[2021-09-09 18:55] nickdesaulniers commented on #1418
@segher mentions on IRC:

[2021-09-09 19:09] nickdesaulniers commented on #1438
god damn...I re-implemented `__mulodi4` from compiler-rt in the kernel...it depends on `__aeabi_uldivmod`...argh!!!!

[2021-09-09 19:11] nathanchance commented on #1438
The 64-bit division in the `!COMPLER_HAS_GENERIC_BUILTIN_OVERFLOW` case has implications for older GCCs too: https://lore.kernel.org/r/20210909182525.372ee687@canb.auug.org.au/

cc @kees

@nickdesaulniers I assume there is division in there. Could you use the 32-bit division helpers to fix that error?

[2021-09-09 19:24] nickdesaulniers commented on #1438
Yes! Thank you! (https://stackoverflow.com/a/52038732)

Oh, that was literally reported today!

[2021-09-09 20:24] segher commented on #1418
"to have it eradicated"...  I was talking about the GCC support for STABS.  This has no
bearing on the VDSO issue.

[2021-09-09 20:26] nathanchance opened #1452 "drivers/infiniband/hw/qib/qib_sysfs.c:413:1: error: static_assert expression is not an integral constant expression"
After https://git.kernel.org/linus/84f969e1c48ed3825986e91a0786e363d57f69d1, which is now in mainline:

[code]

GCC back to at least 7.5.0 has no issues with this construct.

[2021-09-09 20:32] nathanchance commented on #1452
I am guessing the `note: cannot access field of null pointer` is the crux of the matter.

[2021-09-09 20:41] nathanchance opened #1453 "RISC-V KASAN does not disable asan-stack"
Split off from #39 as I believe it is a separate issue.

To quote [my mailing list post](https://lore.kernel.org/r/YTkjJPCdR1VGaaVm@archlinux-ax161/):

[code]

Number 2 looks something like:

[code]

which allows RISC-V allmodconfig to build `-Wframe-larger-than=` free for me with clang-14.

[2021-09-09 20:55] nathanchance commented on #1449
I have added a `CONFIG_WERROR` label for things that break `allmodconfig`/`allyesconfig` so that we can try to prioritize fixing those things and re-enabling it in CI.

[2021-09-09 20:59] nickdesaulniers commented on #1452
Should this be changed to `BUILD_BUG_ON` instead of using `static_assert`?

[2021-09-09 21:04] nathanchance commented on #1452
I'll test it to see if it fixes it.

[2021-09-09 21:05] nathanchance opened #1454 "Higher stack use with KASAN on 32-bit ARM"
As initially reported on [the mailing list](https://lore.kernel.org/r/YTkjJPCdR1VGaaVm@archlinux-ax161/), the following warnings are only seen with `CONFIG_KASAN` on `allmodconfig` (i.e. I do not see them with `allmodconfig`+`CONFIG_KASAN=n` AND `CONFIG_KASAN_STACK` is not set):

[code]

These are all fairly close to the limit so it should be possible to modify the source to resolve these and @arn

[2021-09-09 21:08] nathanchance commented on #1454
NOTE: I did not file this under #39 as `CONFIG_KASAN_STACK` is not enabled but these warnings are still visible. Feel free to collapse if warranted.

[2021-09-09 21:11] nathanchance commented on #1452
Ah, `BUILD_BUG_ON` won't work as these structures are not declared within a function but globally within the file so the `do { ... } while (0)` from `__compiletime_assert` does not work.

[2021-09-09 21:18] nathanchance opened #1455 "-Wframe-larger-than= in drivers/gpu/drm/amd/display/dc/calcs/dce_calcs.c"
In several different configurations, I see an excessive amount of stack usage in certain functions within `drivers/gpu/drm/amd/display/dc/calcs/dce_calcs.c`:

[code]

[Initial report](https://lore.kernel.org/r/YTbOs13waorzamZ6@Ryzen-9-3900X.localdomain/).

[2021-09-09 21:25] nathanchance commented on #691
Harry Wentland's recent series fixes this issue for me: https://lore.kernel.org/amd-gfx/20210909010023.29110-1-harry.wentland@amd.com/

[2021-09-09 21:28] nathanchance commented on #693
Harry Wentland's recent series fixes this issue: https://lore.kernel.org/amd-gfx/20210909010023.29110-1-harry.wentland@amd.com/

[2021-09-09 21:49] nickdesaulniers commented on #1438
ok, thinking about this more over a cup of coffee and a walk:
1. https://lore.kernel.org/r/20210909182525.372ee687@canb.auug.org.au/ needs to be fixed via do_div or relevant helper from linux/math64.h such as `div64_s64`, regardless of this issue, though it will help.
2. skip providing `__mulodi4`; instead break up `COMPLER_HAS_GENERIC_BUILTIN_OVERFLOW` as per Nathan since technically clang did no

[2021-09-10 00:04] nickdesaulniers commented on #1452
I don't understand the check; they're testing the offset of a member isn't 0? Sounds like they should be using offset of, not pointer comparisons.

[2021-09-10 00:13] nathanchance commented on #1452
They do use `offsetof`. Are they making sure the member of the structure is the size of a `u64 *`?

[2021-09-10 08:56] Villemoes commented on #1438
Sorry I don't have time to do any actual work. Random thoughts on $subject:

We can certainly patch the  fallbacks to use whatever variant of do_div is appropriate. But AFAIK, for gcc, they are only used for gcc 4.9; gcc 5.1+ has the builtin_overflow checkers. I'd much rather push for bumping the required gcc version to 5.1 and get rid of all my nasty fallback macros.

As for clang, are there any

[2021-09-10 09:45] pcercuei commented on #1414
Does this still happen on v5.14? I can't reproduce with the command you gave, it builds just fine here.

[2021-09-10 09:48] rengolin commented on #1438
Some random comments...

GCC 5.1 is rather old, so ok to bump requirements to it. But we're fixing these things in Clang now, so will be ready on the next version (end-2021).

Probably very old versions... `__mulodi4` was implemented in compiler-rt in 2011... I'm guessing clang hooks soon followed.

All mono-repo LLVM components have the same license (including clang and compiler-rt) and that lice

[2021-09-10 10:00] pcercuei commented on #1414
@nickdesaulniers if you can reproduce it, try to test with this commit: https://github.com/OpenDingux/linux/commit/45f4058c0d4a287bff6dfe86512fbde6b569d14a

[2021-09-10 22:35] nickdesaulniers commented on #1438
I agree, otherwise we need to add some even more crazy ones to handle 64b division on 32b hosts: https://gist.github.com/nickdesaulniers/2479818f4983bbf2d688cebbab435863 is not correct and already a mess.

[2021-09-10 23:05] nickdesaulniers opened #1456 "start replacing typeof(x) with __auto_type"
`__auto_type` was introduced in gcc 4.9.
https://gcc.gnu.org/onlinedocs/gcc/Typeof.html
We should more aggressively use it in the kernel to reduce compile times for all compilers.

[2021-09-10 23:42] nickdesaulniers commented on #1438
Sent: https://lore.kernel.org/lkml/20210910234047.1019925-1-ndesaulniers@google.com/

[2021-09-11 17:57] vishalpandeynits commented on #1456
I haven't contributed to open-source projects yet. I would like to begin my journey with this 'good first issue'.

[2021-09-13 16:57] nickdesaulniers commented on #1452
Upstream thread: https://lore.kernel.org/llvm/20210913165317.GX2505917@nvidia.com/.

[2021-09-13 19:47] dileks commented on #1449
"kbuild: Only default to -Werror if COMPILE_TEST"

https://git.kernel.org/linus/b339ec9c229aaf399296a120d7be0e34fbc355ca

[2021-09-13 19:56] nickdesaulniers commented on #1438
Linus merged my GCC 5.1 version bump after tagging v5.15rc1: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=76ae847497bc5207c479de5e2ac487270008b19b

I have a patch anyways for stable using `__builtin_choose_expr` in ways that I should be put in prison.
https://lore.kernel.org/stable/20210913203201.1844253-1-ndesaulniers@google.com/

[2021-09-13 22:31] samitolvanen commented on #1443
Upstream uses `-fno-sanitize-blacklist`. Was this flag renamed in Clang?

[2021-09-13 23:01] nickdesaulniers commented on #1443
[Yes](https://github.com/llvm/llvm-project/commit/d7ec48d71bd67118e7996c45e9c7fb1b09d4f59a).
release/13.x

[2021-09-13 23:06] samitolvanen commented on #1443
Reading that commit, it sounds like `-fno-sanitize-blacklist` and `-fno-sanitize-ignorelist` should both continue to work with Clang 13.

[2021-09-14 16:32] nickdesaulniers commented on #1173
b83a908498d68fafca931e1276e145b339cac5fb
v5.15-rc1

[2021-09-14 16:32] #1173 closed

[2021-09-14 20:13] nickdesaulniers commented on #1438
Linus suggested another approach to the fix in mainline that might be a more suitable backport to stable.
https://lore.kernel.org/stable/CAHk-=whiQBofgis_rkniz8GBP9wZtSZdcDEffgSLO62BUGV3gg@mail.gmail.com/
rather than
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=fad7cd3310db3099f95dd34312c77740fbc455e5

[2021-09-14 21:00] pirama-arumuga-nainar commented on #1443
My understanding is that kernel builds don't need the ignorelists or libclang_rt.cfi, in which case, using the `-fno-sanitize-ignorelist` means we no longer need to build `compiler-rt` when testing the kernel.

[2021-09-14 21:05] samitolvanen commented on #1443
Sure. My point was that since the upstream kernel already uses `fno-sanitize-blacklist`, switching to `-fno-sanitize-ignorelist` wouldn't change the behavior in any way. I'm obviously happy to switch to more inclusive language here, but unless this flag was backported also to Clang 12, we can't easily change it until Clang 12 support in the kernel is deprecated.

[2021-09-14 22:33] pirama-arumuga-nainar commented on #1443
Aah, got it.  I misunderstood your comment `Upstream uses -fno-sanitize-blacklist` to mean that upstream *LLVM* still accepts this flag.

[2021-09-14 22:52] nickdesaulniers commented on #1443
Doesn't LLD have a hard dependency now on compiler-rt? (cc @MaskRay ).  I used to never build compiler-rt when developing on LLVM; just clang and LLD.  Then LLD seemed to stop working at some point unless I re-enabled compiler-rt and rebuilt.

I agree. We can keep this issue open until that's the case.

[2021-09-14 22:54] nickdesaulniers commented on #1456
@vishalpandeyvip, cool. Give [this](https://nickdesaulniers.github.io/blog/2017/05/16/submitting-your-first-patch-to-the-linux-kernel-and-responding-to-feedback/) a read, and try sending me a patch (if you want to test your setup before sending to the list). Welcome!

[2021-09-15 00:52] nickdesaulniers commented on #1447
[code]

[2021-09-15 01:04] nathanchance commented on #1447
Richard Henderson replied that this appears to be a real alignment issue: https://lore.kernel.org/r/0699da7b-354f-aecc-a62f-e25693209af4@linaro.org/

[2021-09-15 01:20] nickdesaulniers commented on #1447
I can't find where it's coming from though. [The disassembly from within GDB](https://gist.github.com/nickdesaulniers/764ac9afab04775846ffa6c90c5a266a) of your image doesn't match anything I built with debug info.

[2021-09-15 04:47] MaskRay commented on #1443
lld doesn't depend on compiler-rt. I just created a `-DLLVM_ENABLE_PROJECTS='lld'` build and it works fine.

[2021-09-15 07:38] kees commented on #1173
Awesome! I can confirm this works as expected for the FORTIFY_SOURCE warnings:
https://godbolt.org/z/qGrPqceWf

[2021-09-15 12:55] ardbiesheuvel commented on #1447
Could you share a bit more context? What config are you booting and how? And more context from the kernel log perhaps?

[2021-09-15 14:09] nathanchance commented on #1447
@ardbiesheuvel the config is `multi_v7_defconfig` + `CONFIG_THUMB2_KERNEL=y` in QEMU and the command line can be viewed [here](https://lore.kernel.org/r/YS19IBEGrIUnUT2p@Ryzen-9-3900X.localdomain/).

Nick should be able to give more log context.

[2021-09-15 14:29] ardbiesheuvel commented on #1447
I can confirm that your zImage-llvm doesn't boot with recent QEMU, but if I build mainline myself (using multi_v7_defconfig + CONFIG_THUMB2_KERNEL), it boots happily. I am using 'Debian clang version 11.0.1-2' with GNU binutils

[2021-09-15 15:46] dileks commented on #1452
I can confirm this issue with `Linux v5.15-rc1+` and `LLVM v13.0.0-rc3`.
Happily, it is the only error breaking my 1st build.

[2021-09-15 15:47] nathanchance commented on #1452
We have a solution pending: https://lore.kernel.org/r/0-v1-1b789bd4dbd4+14b16-clang-fix_jgg@nvidia.com/

[2021-09-15 15:50] dileks commented on #1452
Thanks.
That is what I applied as a diff and was able to continue building.
[code]

[2021-09-15 15:59] nathanchance commented on #1447
Aha, the integrated assembler is the key to reproducing this. `LLVM=1 LLVM_IAS=0` is fine, `LLVM=1 LLVM_IAS=1` is not. Unfortunately, there are quite a few integrated assembler fixes in the 13.0.0 release so this configuration cannot be built with anything prior (there is [apt.llvm.org](https://apt.llvm.org/) or [tuxmake](https://gitlab.com/Linaro/tuxmake) for getting access to newer versions with

[2021-09-15 16:05] dileks commented on #1452
Patch is in `rdma` Git tree.

[1] https://git.kernel.org/rdma/rdma/c/1b789bd4dbd48a92f5427d9c37a72a8f6ca17754

Update 2021-09-23: Commit-ID changed in `rdma.git#for-rc`.

[1] https://git.kernel.org/rdma/rdma/c/3110b942d36b961858664486d72f815d78c956c3

[2021-09-15 19:54] nickdesaulniers commented on #1447
Ok, some thoughts on IAS:
1. I'm curious if we add `-no-integrated-as` to just KBUILD_CFLAGS and NOT KBUILD_AFLAGS, if that makes a difference.
2a. assuming it does, we might be able to bisect object files (C sources) with `subdir-ccflags-y += -fno-integrated-as` in various Makefiles.
2b. assuming it does not, we might be able to bisect object files (ASM sources) with `AS = arm-linux-gnueabi-as` (

[2021-09-15 19:58] nickdesaulniers commented on #1447
Full kernel logs via qemu emulation: https://gist.github.com/nickdesaulniers/d184023431a7e5669bd1253c41509667

[2021-09-15 20:04] ardbiesheuvel commented on #1447
In the linked upstream report I see

`0xc13038e2:  e890 008c  ldm.w    r0, {r2, r3, r7}`

so it is not a stack access. It also seems to me that we should be able to figure out which function covers this address, no?

I also see

`R00=c13077ca`

so this looks like it might be a literal pool that gets emitted at the wrong alignment? That would explain a lot actually, given the fact that it only happ

[2021-09-15 21:39] nathanchance commented on #1447
I have at least narrowed it down to `arch/arm/mm/tlb-v7.S`, as the following diff allows me to boot with `LLVM_IAS=1`:

[code]

With GNU as (`LLVM_IAS=0`):

[code]

With the integrated assembler (`LLVM_IAS=1`):

[code]

[2021-09-15 21:46] pcercuei commented on #1333
Still happens in 5.15-rc1 :(

[2021-09-15 22:42] nathanchance commented on #1447
Just in case the `llvm-objdump -Dr` output is more useful: https://gist.github.com/9c425d78b2381cabd2ec4cfb5840a725

[2021-09-15 23:37] nickdesaulniers commented on #1447
`v7wbi_flush_user_tlb_range` and `v7wbi_flush_kern_tlb_range` are exactly the same. `v7wbi_flush_kern_tlb_range` with GAS seems to have a trailing `nop` after the `bx lr`, but I'm not sure if that's relevant.  I'm not sure about `.init.text`'s...relocations?

[2021-09-16 00:00] ardbiesheuvel commented on #1447
The trailing NOP causes whatever follows to appear word aligned. Can you find out what comes right after this .o in the vmlnux binary?

[2021-09-16 04:43] nickdesaulniers commented on #1443
ok then, perhaps compiler-rt was necessary when building a sanitizer-enabled build? I would think not. I swear I needed it for some bisection...but perhaps I'm misremembering.

[2021-09-16 15:31] nathanchance commented on #1447
@ardbiesheuvel Hopefully this is what you are looking for?

[code]

[2021-09-16 16:13] ardbiesheuvel commented on #1447
Yes, but it doesn't really explain anything, unless there are misaligned quantities further down. Unfortunately, objdump won't be able to tell us.

[2021-09-16 18:48] kees commented on #1065
I'm looking at this again, and I don't understand why its constructed this way. It's not variable sized -- it's always "sizeof(u64) * 8".

Why isn't this just always:

[code]

[2021-09-16 19:41] kees commented on #1065
I see there is open-coded use of `->ptr` outside of this header file, so I see why this can't be just made to always be '6', etc...

I was going to say, "I'm surprised GCC doesn't warn about this issue already."

This does seem like the right approach here -- otherwise we'll have a standing warning difference between GCC and Clang otherwise.

[2021-09-16 19:44] nathanchance opened #1457 "-Wbitwise-conditional-parentheses in drivers/ptp/ptp_ocp.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210916194351.3860836-1-nathan@kernel.org/

[2021-09-16 20:50] nathanchance commented on #1450
Merged into mainline: https://git.kernel.org/linus/8343268ec3cf4e097aa8b2071f0cd6779e2c4953

[2021-09-16 20:50] #1450 closed, assigned to nobody

[2021-09-16 21:23] kees commented on #1302
Is the plan to send the modpost patch or to have LLVM perform similar clone renaming?

[2021-09-17 16:01] nickdesaulniers opened #1458 "rerun cc-option without new flags"
Sometimes when cc-option fails, it's because garbage was hardcoded/added to KBUILD_CFLAGS, which is confusing because it looks like the new flag being tested doesn't work. We should re-run the compiler on failure with JUST KBUILD_CFLAGS and report if that doesn't work.

[2021-09-17 18:25] nickdesaulniers opened #1459 "move meeting notes to github"

[2021-09-17 20:52] nathanchance commented on #1457
v2 accepted: https://git.kernel.org/netdev/net-next/c/1a575cde596c44aee04d2853d3d7067942a9612c

[2021-09-20 17:01] nickdesaulniers commented on #1441
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/herbert/cryptodev-2.6.git/commit/?id=4a7e1e5fc294687a8941fa3eeb4a7e8539ca5e2f

[2021-09-20 17:08] ms178 opened #1460 "Clang Full LTO broken on Linux 5.14.6 with LLVM/Clang 14-git 84b07c9b"
Hi,

with the attached config and Makefile, I can no longer successfully compile the Linux-Xanmod Kernel 5.14.6 with Full LTO - this is a recent regression, it used to work with 5.14.5 and a LLVM/Clang 14 build one week older than the one mentioned in the title.

The issue occurs when building the modules.

[Makefile.txt](https://github.com/ClangBuiltLinux/linux/files/7197319/Makefile.txt)
[config

[2021-09-20 22:27] nickdesaulniers commented on #1456
I looked into clang-tidy briefly on Friday evening to see if we could automate finding+reporting+fixing.  There's an existing clang-tidy check that probably could be more easily modified to check this; `clang-tools-extra/clang-tidy/modernize/UseAutoCheck.{cpp,h}`.

[code]
should report that `y` 's type can be replaced with `__auto_type` to avoid double macro expansions when inside a macro.  These

[2021-09-21 00:40] nickdesaulniers commented on #1438
v3 kernel patch: https://lore.kernel.org/llvm/20210920232533.4092046-1-ndesaulniers@google.com/

[2021-09-21 17:23] nickdesaulniers opened #1461 "boot failure in -next, cfi, tip"
example:
https://github.com/ClangBuiltLinux/continuous-integration2/runs/3647206606?check_suite_focus=true

@andyhhp on irc mentions that it might be fixed by:
https://lore.kernel.org/lkml/CADYN=9K1BdyupzcDAbyk2JTio1A98J9tsBS_LeOH4=GVG=7FqQ@mail.gmail.com/
cc @roxell

And that it looks like kvm isn't being used on these bots, FWIW.
https://github.com/ClangBuiltLinux/boot-utils/blob/2edbca214f9a4ca

[2021-09-21 17:30] nathanchance commented on #1461
I could only reproduce with Debian's QEMU version (my self built or Arch Linux versions did not show it) but I never tried without KVM. I will test that diff too.

[2021-09-21 17:32] nickdesaulniers commented on #1461
it fixes the issue, I'm reporting that upstream now.

[2021-09-21 17:39] nickdesaulniers commented on #1460
Can you provide the current LLVM SHA that's known bad, and the prior known good version? That should give us a regression window that might be highly relevant to minimize the time spent bisecting, and get something reverted upstream.  You should be able to use `git reflog` to see your prior sha before a `git pull`.

[2021-09-21 18:03] nathanchance commented on #1460
Alright, I spent a ton of time yesterday trying to bisect LLVM until I came to the conclusion that this appears to be something that has been latent but only got recently exposed by [a commit going into stable](https://git.kernel.org/stable/c/6681aed438fa32d034b2e2f51a3453bb763b521f), as I attempted to bisect LLVM and could reproduce the issue back to July (so your update is not much of a factor I

[2021-09-21 18:04] nickdesaulniers commented on #1461
I think this may also be affecting CFI now, too.
https://github.com/ClangBuiltLinux/continuous-integration2/runs/3657928762?check_suite_focus=true
I should probably pull this down into the CI, once https://github.com/ClangBuiltLinux/continuous-integration2/pull/203 is merged.

[2021-09-21 18:10] nickdesaulniers commented on #1461
oh, -next is also broken now, too. Not just tip and cfi:
https://github.com/ClangBuiltLinux/continuous-integration2/runs/3663307375?check_suite_focus=true

[2021-09-21 18:14] nickdesaulniers commented on #1460
`CallBrInst` is the LLVM `Instruction` used to represent `asm goto`; yet @nathanchance 's cvise-reduced input doesn't contain `asm goto`.

[2021-09-21 18:58] arndb commented on #1065
I wonder if we should just move some or all of bcache.h out of the uapi headers, this looks like it's not even meant to be done in user space, but it's hard to tell.

[2021-09-21 19:09] ms178 commented on #1460
I hope that thanks to Nathan's detective work, that it is no longer neccessary as I'd would need to guess anyway. For future bug reports, I'll keep in mind to note the exact version which I am testing with to save some of your time.

[2021-09-21 19:11] nickdesaulniers commented on #1447
So it looks like:
[code]
is handled differently between clang and gas.
[code]
In fact https://sourceware.org/binutils/docs/as/Align.html says an `.align` of `0` is the default value, and I can remove that directive and reproduce.  Via macro soup, arch/arm/include/asm/linkage.h has `#define __ALIGN_STR ".align 0"`.

I think https://sourceware.org/bugzilla/show_bug.cgi?id=12931 may be the relevant i

[2021-09-21 20:14] nathanchance commented on #1460
Sorry, was running out the door for lunch when I wrote that, I should have clarified that we are talking about two different drivers here and two different errors but with the same config and similar flags so the issues might be related? I can spin off this part of the report into a separate issue if you want but I will post it here for now. The reproducer does definitely have `asm goto` in it but

[2021-09-21 21:07] nickdesaulniers commented on #1065
This isn't CONFIG_WERROR related because that config doesn't set -Werror for HOSTCFLAGS.

[2021-09-21 21:24] ardbiesheuvel commented on #1447
Alignment != padding, and whether these code sections get padded so that their size meets their alignment should not make a difference *unless* some 32-bit quantity further down gets shifted, in which case the alignment of that quantity is incorrect.

So without understanding what the source of the LDM instruction is, I don't think we can make lots of progress here.

Could someone share a vmlinux/

[2021-09-21 21:51] nathanchance commented on #1447
@ardbiesheuvel sure thing, here you go: https://github.com/nathanchance/bug-files/tree/f4cedbfd56bb3dd05782967a9dfbd2e971fe8a52/cbl-1447

`vmlinux` is 250MB decompressed so I compressed it with `zstd` to save on bandwidth and get below GitHub's limit of 100MB.

[2021-09-21 21:56] ms178 commented on #1460
As I am using Polly for quite some time now to build my Kernel (it works fine, with some exceptions as mentioned in https://github.com/ClangBuiltLinux/linux/issues/1396), I am more than willing to give you my Tested-by if it helps the upstream process. To throw some numbers into the mix: My heavily tweaked Kernel provides a 2.38x performance improvement vs. the default distro Kernel in my standard

[2021-09-21 22:25] ardbiesheuvel commented on #1447
Does this help?
[code]

[2021-09-21 22:33] nickdesaulniers commented on #1447
Yes! gah, I had just isolated this issue to that macro (the definitions of `v7wbi_flush_user_tlb_range` or `v7wbi_flush_kern_tlb_range` in arch/arm/mm/tlb-v7.S weren't actually the problem).

[2021-09-21 22:36] nickdesaulniers commented on #1447
before:
[code]

after:
[code]
So this table of function pointers was being 4B aligned, rather than 2B?

[2021-09-21 22:41] nathanchance commented on #1447
I can also confirm that I can boot with that on a fairly recent tip of tree QEMU.

[2021-09-21 22:43] ardbiesheuvel commented on #1447
The missing NOP at the end of the emitted code was causing the following data structure to be only 2 byte aligned. Increasing the alignment of the data structure to 4 fixes the issue.

[2021-09-21 23:00] nathanchance opened #1462 "-Wmacro-redefined in drivers/gpu/drm/amd/"
This happens several times on linux-next:

[code]

I went ahead and reported it upstream as it is not one I can just send a patch for: https://lore.kernel.org/r/YUpjj7IwBqMYSR7z@archlinux-ax161/

[2021-09-22 14:59] nathanchance opened #1463 "-Wsometimes-uninitialized in kernel/locking/test-ww_mutex.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210922145822.3935141-1-nathan@kernel.org/

[2021-09-22 15:03] nathanchance commented on #1462
Stephen Rothwell applied the diff I supplied as a merge fix until this can be resolved between the Intel and AMD DRM folks:

https://lore.kernel.org/r/20210922104550.744a96ca@canb.auug.org.au/

[2021-09-22 15:03] #1462 closed, assigned to nobody

[2021-09-22 15:03] nathanchance commented on #1457
Fixed in -next now.

[2021-09-22 15:03] #1457 closed, assigned to nathanchance

[2021-09-22 19:21] nathanchance commented on #1442
Potentially similar issue upstream? https://llvm.org/pr42569

[2021-09-22 20:56] nathanchance commented on #1453
Patch submitted: https://lore.kernel.org/r/20210922205525.570068-1-nathan@kernel.org/

[2021-09-22 20:58] nathanchance commented on #1454
@arndb has this in his randconfig tree: https://git.kernel.org/arnd/playground/c/88061f9f28780bb03a4609c63cc847b732371054

Is this something that could be submitted upstream?

[2021-09-22 21:06] arndb commented on #1454
There is another patch in the same tree that raises the limit to 1400 bytes with KASAN. I think we could do that and it would work with KASAN on clang and with KASAN_STACK on gcc, but not KASAN_STACK with clang.

[2021-09-22 21:10] nathanchance commented on #1454
I think that until #39 is dealt with, it is probably work marking `CONFIG_KASAN_STACK` as completely broken with clang.

[2021-09-23 08:47] microcai commented on #1365
uses UART console to extraced the exact reason.  crashed on jump_label.c

[2021-09-23 08:47] microcai commented on #1365
uses UART console to extraced the exact reason. crashed on jump_label.c

[2021-09-23 17:16] nickdesaulniers commented on #1461
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=724fc0248d450224b19ef5b5ee41e392348f6704

[2021-09-23 17:16] #1461 closed, assigned to roxell

[2021-09-23 17:30] nickdesaulniers commented on #1460
This looks like a compiler bug specific to polly (`polly::simplifyRegion`).

[2021-09-23 23:52] nathanchance opened #1464 "objtool: don't know how to handle non-section reloc symbol x86_early_init_platform_quirks"
From KernelCI with x86_64 allmodconfig + clang-12:

[code]

[2021-09-24 18:44] ms178 commented on #1460
Should I file a bug report on the LLVM bugtracker for this? I just got an account and I've got a couple of other LTO/Polly related findings to share there...

[2021-09-24 19:13] nickdesaulniers commented on #1460
Sure; I'd recommend familiarizing yourself with creduce or cvise to provide concise reproducers before you go and file bugs. Bug reports that ask toolchain devs to clone a bunch of sources probably won't get much feedback otherwise. For instance, Nathan's reproducer above is really good.

[2021-09-24 20:37] ms178 commented on #1460
Thanks for your help, but that is getting into programmer territory which I lack the time to dig deeper into - I filed https://llvm.org/pr51960 and provided two of Nathan's cvise outputs to make the Polly devs aware of the issue and hope that someone finds a fix.

[2021-09-24 22:19] ms178 commented on #1460
From Michael Kruse: "I am working on a fix on Number 1. The assembly string is handled as local value and therefore passed as an argument to the outlined function, but the asm string must be known at the call location at compile-time."

I've filed https://llvm.org/pr51964 for the second issue regarding simple-card-utils

[2021-09-25 06:59] dileks opened #1465 "LLVM 13 release cycle"
`LLVM` version `13.0.0-rc4` was tagged 2 hours ago.

[0] https://lists.llvm.org/pipermail/llvm-dev/2021-September/152932.html
[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-13.0.0-rc4

[2021-09-26 09:28] ms178 commented on #1460
Number 1 got fixed by https://reviews.llvm.org/rG9820dd970c1b72c7f77fad647b762053e2f60e31

[2021-09-26 11:39] ms178 commented on #1460
With LLVM/Clang-14 9820dd970c1b72c7f77fad647b762053e2f60e31 and Linux-Xanmod-Edge 5.14.7, slightly different changes in the Makefile (attached), with FullLTO, the build now breaks with the following modpost errors.

[Makefile.txt](https://github.com/ClangBuiltLinux/linux/files/7231282/Makefile.txt)
`
[code]

ERROR: modpost: "__kmpc_fork_call" [drivers/gpu/drm/amd/amdgpu/amdgpu.ko] undefined!
ERROR

[2021-09-27 02:45] Meinersbur commented on #1460
If ThinLTO 'worked' it just means that that Polly did not find anything worth parallelizing, and thus did not emit calls to `__kmpc` runtime functions. FullLTO might haven inlined more functions and therefore caused the kernel to be bigger. However, more inlining also means more optimization opportunities such as loop parallelization.

Parallelism in the kernel works very differently than in user

[2021-09-27 17:13] nickdesaulniers commented on #1453
19532869feb9b0a97d17ddc14609d1e53a5b60db

v5.15-rc

[2021-09-27 17:13] #1453 closed, assigned to nathanchance

[2021-09-27 17:23] nickdesaulniers commented on #1460
@ms178 nice! Thanks for filing those bugs. Looks like both of those are now closed/fixed. Can you rebase your build of LLVM to TOT and report if these issues are all now fixed?

[2021-09-27 21:08] ms178 commented on #1460
@nickdesaulniers I am very happy that we could solve this together, thank you all for your work! As mentioned in my last post, with the suggestion of Michael Kruse to not use Polly's auto-parallelization flags for the Kernel, I can report that my flto-build succeeded succesfully even with the first fix only. As I could not reproduce the second issue at that time, I think that implies that we can c

[2021-09-27 21:12] MaskRay commented on #1427
`llvm-objdump -R` doesn't support `ET_EXEC` (position-dependent executable) yet. I'll resurrect  https://reviews.llvm.org/D60250 whose author may be inactive on LLVM now.

Prefer `readelf/llvm-readelf -r` to read relocations.

Uploaded https://reviews.llvm.org/D110595 to improve `llvm-objdump -R`

[2021-09-29 16:06] nickdesaulniers commented on #39
@nathanchance and I spoke with @melver @dvyukov @ramosian-glider (and @pcc @eugenis ) about discussing https://lore.kernel.org/all/CAK8P3a2--kfvs-+qkZdpea94ccgcY6QpdHMfVFgY0F2Z=GBhyw@mail.gmail.com/ more with @arndb at next weeks meeting.

[2021-09-29 16:27] melver commented on #39
And just to summarize:
- KASAN stack instrumentation's purpose is to detect use-after-return bugs.
- Disabling it for purely cosmetic reasons (vs. real bug at runtime) would negatively affect our ability to find bugs.
- If KASAN's increased stack utilization would cause bugs at runtime, testing would have already shown this -- the major architectures can build KASAN with VMAP_STACK, which would de

[2021-09-29 18:06] nickdesaulniers commented on #1447
So it looks like this is actually a difference in LLVM (relative to GAS) pertaining to the handling of `.align 0`: https://sourceware.org/binutils/docs/as/Align.html#Align.  GAS appears to handle this value differently per architecture.  LLVM was converting this to `.balign 1` (1B) which is what's done by GAS for x86.  For THUMB (and ARM), gas appears to convert these to `.balign 4` (4B) (I'm surp

[2021-09-29 18:13] ardbiesheuvel commented on #1447
This is simply a bug: those .longs require 4 byte alignment, and that code shouldn't rely on the alignment that ENTRY() produces given that, as you point out, 2 byte alignment could be considered a reasonable default for Thumb code, whereas the alignment of those data fields must be 4.

[2021-09-29 19:12] nickdesaulniers commented on #1447
Yes, if there was no interworking. From experimenting with GAS, it seems that the presence of `.arm` or `.align 0` directives can force the alignment of 4B for sections containing mixed code.

Ok, thanks for the feedback. Sent https://lore.kernel.org/linux-arm-kernel/20210929192026.1604095-1-ndesaulniers@google.com/ for additional feedback.

[2021-09-29 20:10] nickdesaulniers commented on #39
Also, whether `VMAP_STACK` can be required for `KASAN_STACK`. Currently `VMAP_STACK` depends on `!KASAN || ...`

[2021-09-29 20:16] nickdesaulniers commented on #1438
https://lore.kernel.org/lkml/20210920232533.4092046-1-ndesaulniers@google.com/is the latest kernel patch in this saga.

[2021-09-29 20:17] nickdesaulniers commented on #1435
4367355dd90942a71641c98c40c74589c9bddf90 v5.15-rc1

[2021-09-29 20:17] #1435 closed, assigned to nobody

[2021-09-29 20:58] nickdesaulniers commented on #1302
Probably modpost.  It's silly IMO to ask LLVM to change to some arbitrary convention that the kernel's modpost happens to rely on.

I can hack up a change quickly to LLVM, but this results in 73+ existing test failures in LLVM.  I can try to minimize the checking in modpost to object files built by clang.

[2021-09-29 21:45] nickdesaulniers opened #1466 "ld.lld: error: undefined symbol: memcpy.inline"
cc @kees @nathanchance @serge-sans-paille, I see mainline x86_64 allmodconfig failing to link with ToT LLVM:

[code]
I'm curious if this is related to recent upstream changes to fortify routines? @nathanchance noticed our CI is testing llvm 3 days out of date (@gctucker mentioned that debian builds of llvm were broken/unavailable cc @sylvestre ).

[2021-09-29 22:12] nickdesaulniers commented on #1466
last known good: 5aa4c74c9a2ee3c4e6e87adfa2ef218c5aeed1d6
first known bad: 3d6f49a56995b845c40be5827ded5d1e3f692cec

[2021-09-29 23:01] nickdesaulniers commented on #1302
sent: https://lore.kernel.org/lkml/20210929225850.3889950-1-ndesaulniers@google.com/

[2021-09-29 23:24] nickdesaulniers commented on #1466
defconfig seems fine. something in the allmodconfig is tickling this
[code]

[2021-09-29 23:40] nickdesaulniers commented on #1466
I'm not sure what's up with the warning from lld, the offending file is arch/x86/kernel/module.o (apply_relocate_add has a relocation/reference to memcpy.inline when CONFIG_FORTIFY_SOURCE=y is set).

[code]
The .ll file contains:
[code]
[code]

[2021-09-29 23:52] sylvestre commented on #1466
I haven't seen this issue, mine were caused by various things related to projects vs runtimes + some defaults changes + the triple changes + their revert by LebedevRI

[2021-09-29 23:55] nickdesaulniers opened #1467 "using -fno-discard-value-names"
I was thinking of adding:
[code]
but this doesn't seem to change the output of `make LLVM=1 -j72 lib/string.ll` though the flag is passed. Adding `-fdiscard-value-names` does; I wonder if there's some config in LLVM that controls this, and whether it's set for debian builds, too?

[2021-09-30 00:47] nickdesaulniers commented on #1466
cvise hacked up:
[code]
was enough to produce an undefined reference to memcpy.inline.
[code]

[2021-09-30 05:29] serge-sans-paille commented on #1466
That's on me. The always inliner pass should have made this one disappeared, how does it come it doesn't...

[2021-09-30 05:31] serge-sans-paille commented on #1466
Basically if one redefines a builtin with the `inline` + `always_inline` attributes, the redefinition is renamed with the `.inline` suffix. This is needed to support builtins redefinition from the glibc headers under `_FORTIFY_SOURCE`

[2021-09-30 07:25] ms178 commented on #1460
@nickdesaulniers Testing with d104db531ee6d821d94ffd4bb48fa3929ab01235 revealed no surprises. I get the same modpost errors if compiled with the original build flags I used, but the build finishes successfully without polly-parallel-related flags, hence I am closing this issue.

[2021-09-30 07:25] #1460 closed, assigned to nobody

[2021-09-30 16:00] serge-sans-paille commented on #1466
Some more info, with top-of-tree:

[code]
 as `test.c`

[code]

produces

[code]

which is expected, as the always inliner is skipped.

Otherwise we have

[code]
that produces

[code]

which is expected.

[2021-09-30 16:02] nathanchance opened #1468 "clang: error: unknown argument: '-mpreferred-stack-boundary=4' from drivers/gpu/drm/amd/display/dc/dcn201"
Initially reported from CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/3756698440?check_suite_focus=true

[code]

Patch submitted: https://lore.kernel.org/r/20210930160142.2301257-1-nathan@kernel.org/

[2021-09-30 16:17] nathanchance opened #1469 "-Wsometimes-uninitialized in drivers/gpu/drm/amd/display/dc/dcn201/dcn201_hwseq.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210930161641.2333583-1-nathan@kernel.org/

[2021-09-30 16:23] nathanchance opened #1470 "-Wnon-literal-null-conversion in drivers/gpu/drm/amd/display/dc/dcn201/dcn201_resource.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210930162302.2344542-1-nathan@kernel.org/

[2021-09-30 17:14] nickdesaulniers commented on #1466
@serge-sans-paille that test case doesn't refer to memcpy via fn ptr.
[code]
`clang -O2` produces undefined references to `memcpy.inline`, regardless of `-disable-llvm-passes`. Is that expected?

[2021-09-30 17:16] nickdesaulniers commented on #1460
thanks for verifying and reporting back, @ms178 !

[2021-09-30 17:17] arndb commented on #39
On Wed, Sep 29, 2021 at 6:27 PM Marco Elver ***@***.***> wrote:

I think we can change the warning limit for normal KASAN builds to something
around 1400 bytes, that covers everything that I see with both gcc-11 and
clang-14, except for the amdgpu driver.

I really don't want to make any special case in the kernel for KASAN_STACK with
clang. No matter how useful you may personally find it, it's be

[2021-09-30 17:33] nathanchance commented on #1464
PeterZ has a fix: https://lore.kernel.org/r/YVWUvknIEVNkPvnP@hirez.programming.kicks-ass.net/

[2021-09-30 17:38] nickdesaulniers commented on #1438
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/axboe/linux-block.git/commit/?h=block-5.15&id=41e76c6a3c83c85e849f10754b8632ea763d9be4

(once this lands in mainline, I'll need to chase this into stable, then re-enable CONFIG_BLK_DEV_NBD=y in ACK)

[2021-09-30 19:05] nickdesaulniers commented on #20
@gwelymernans posted: https://reviews.llvm.org/D110869

[2021-09-30 19:24] serge-sans-paille commented on #1466
Thanks for the details. Quoting the GCC info page about `gnu_inline`:

So What I should implement there is *if an inline builtin has its address taken, use the builtin instead*. Note that in that case no protection will be offered, but that's consistent with GCC behavior.

[2021-09-30 19:37] nickdesaulniers commented on #1466
Yes, I think so.

[2021-09-30 19:44] nickdesaulniers commented on #20
(the kernel's Kconfig checks will have to be tightened up; CONFIG_CC_HAS_ZERO_CALL_USED_REGS in security/Kconfig.hardening only checks for the presence of `-fzero-call-used-regs=used-gpr` but the initial implementation in LLVM only supports x86)

[2021-09-30 22:58] kees commented on #20
Will clang not just error out for -fzero-call-used... on non-x86?

[2021-10-01 15:31] dileks commented on #1452
Now in Linus Git.

[1] https://git.kernel.org/linus/3110b942d36b961858664486d72f815d78c956c3

[2021-10-01 15:32] #1452 closed, assigned to nobody

[2021-10-01 15:35] dileks commented on #1465
`LLVM` version `13.0.0 final` released (no changes to version 13.0.0-rc4).

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-13.0.0

TBD: Link to official release announcement.

[2021-10-01 17:58] nathanchance commented on #1463
Accepted into -tip: https://git.kernel.org/tip/1415b49bcd321bca7347f43f8b269c91ec46d1dc

[2021-10-01 18:01] nickdesaulniers opened #1471 "This is not a register operand!"
sigh... @samitolvanen asked me about resending
1. https://lore.kernel.org/lkml/20210707181814.365496-1-ndesaulniers@google.com/
2. https://lore.kernel.org/lkml/20210814124224.8551-1-treasure4paddy@gmail.com/

In order to test some things, but also to work around #1466, I'm checked out (LLVM) @ 5aa4c74c9a2e. Hopefully this is just a transient failure, but this is guming up the works. This is on mai

[2021-10-01 18:02] nickdesaulniers commented on #1466
@serge-sans-paille this is a build breakage for us, and is now frustrating efforts to debug other failures (#1471). If this can't be fixed forward quickly, please revert.

[2021-10-01 18:05] nickdesaulniers commented on #1471
CLK_GFM_LPASS_SM8250=m

[2021-10-01 18:07] nickdesaulniers commented on #1471
I see this as well in multiple other TUs

[2021-10-01 18:18] nickdesaulniers commented on #1471
release/13.x isn't affected

[2021-10-01 19:02] samitolvanen commented on #1471
I can reproduce with 5aa4c74c9a2ee3c4e6e87adfa2ef218c5aeed1d6, but not with a7b4ce9cfd110db56d89fa8d76b39023d038de11. I didn't bisect this, but it looks like one arm64 change was reverted between these commits. Possibly related?

[2021-10-01 20:27] #1471 closed, assigned to nobody

[2021-10-01 22:08] serge-sans-paille commented on #1466
ack. I'm on it and plan to release a fix during the week end.

[2021-10-03 11:57] serge-sans-paille commented on #1466
I've tested https://reviews.llvm.org/D111009 and the patch should fix the issue.

[2021-10-03 18:03] nickdesaulniers opened #1472 "-Wbitwise-instead-of-logical in drivers/input/touchscreen.c"
ToT LLVM mainline:
[code]

[2021-10-03 21:49] nickdesaulniers opened #1473 "-Wbitwise-instead-of-logical in drivers/gpu/drm/i915/intel_pm.c"
mainline x86 defconfig plus CONFIG_FORTIFY_SOURCE=y
[code]

[2021-10-04 13:00] davidbolvansky commented on #1473
Maybe more clear code?

[code]

[2021-10-04 16:38] nickdesaulniers commented on #1438
41e76c6a3c83c85e849f10754b8632ea763d9be4 is in v5.15-rc4. GKH pulled this into stable 5.14.

[2021-10-04 16:38] #1438 closed, assigned to nickdesaulniers

[2021-10-04 17:04] nickdesaulniers commented on #1447
Submitted to RMK's Q: https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9133/1

[2021-10-04 17:23] nickdesaulniers commented on #1459
https://github.com/ClangBuiltLinux/meeting-notes

[2021-10-04 17:23] #1459 closed, assigned to nickdesaulniers

[2021-10-04 17:29] nickdesaulniers commented on #1464
24ff652573754fe4c03213ebd26b17e86842feb3
v5.15-rc4

[2021-10-04 17:29] #1464 closed, assigned to nobody

[2021-10-04 17:31] nickdesaulniers opened #1474 "-Wbitwise-instead-of-logical in arch/x86/kvm/mmu/mmu.c"
@torvic9 reported: https://lore.kernel.org/lkml/1446878298.170497.1633338512925@office.mailbox.org/
[code]

[2021-10-04 17:50] nickdesaulniers commented on #1414
The command I shared shouldn't be using LLD.  I no longer see this on v5.15-rc4. Closing for now, but let's reopen if we see this again.  We're also testing `ARCH=mips make LLVM=1 -j72` in our CI, so I'm not sure that LLD patch is necessary.
https://github.com/ClangBuiltLinux/continuous-integration2/blob/d1d86b845460b651863bb042a2500993ffd6fea7/generator.yml#L211-L212
https://github.com/ClangBuilt

[2021-10-04 17:50] #1414 closed, assigned to nobody

[2021-10-05 00:15] nickdesaulniers opened #1475 "building selftests"
Andrew shows via [this](https://lore.kernel.org/lkml/20211004230431.2321009-1-adelg@google.com/T/#u)

[code]
produces lots of warnings and errors.

[2021-10-05 20:42] dileks commented on #1465
Official release announcement.

[1] https://lists.llvm.org/pipermail/llvm-dev/2021-October/153082.html

[2021-10-06 00:52] nickdesaulniers commented on #1302
Jotting down my research notes from today.  I ran a ~4hr creduce on the defconfig issue: https://gist.github.com/nickdesaulniers/ea307c16f747938dbfad34cab6f04a72. What's interesting about this case is that the BCP representation in IR `%1 = call i1 @llvm.is.constant.i64(i64 %0)` will actually never be true, but we don't figure that until after inlining, but we decided during inlining that the true

[2021-10-06 12:43] torvic9 commented on #1474
Is it possible to work around this warning?
Can I use something like `-Wnobitwise-instead-of-logical`, and if so, where?

[2021-10-06 14:00] pcercuei commented on #1334
The patch was merged upstream, so I guess it's time to close this bug report.

[2021-10-06 14:58] nathanchance commented on #1474
Perhaps this?

[code]

[2021-10-06 22:36] nickdesaulniers commented on #1474
`make LLVM=1 ... KCFLAGS=-Wnobitwise-instead-of-logical`
for now

[2021-10-06 22:41] nickdesaulniers commented on #1334
reopening until this hits mainline.

[2021-10-06 22:42] nickdesaulniers commented on #1334
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/mips/linux.git/commit/?id=67512a8cf5a730938fdb1e48de33edfef6015e03

[2021-10-06 23:00] nickdesaulniers commented on #1302
https://reviews.llvm.org/D111272 is the first part, which fixes the unusually high cost seen in the defconfigs.

I'm now investigating the issues from the all\*configs; I don't see any unusually high "costs" preventing inlining. Instead, I'm seeing negative costs in defconfigs vs just-over-threshold costs in allmodconfig.  Let me try to what can cause the costs to become negative, since that's a l

[2021-10-07 11:31] torvic9 opened #1476 "-Wbitwise-instead-of-logical in drivers/platform/x86/thinkpad_acpi.c"
On 5.15-rc4:

[code]

[2021-10-07 11:33] torvic9 commented on #1474
@nathanchance, yes, casting to integer fixes this.

[2021-10-08 23:31] dileks commented on #1465
`[llvm-announce] LLVM 13.0.0 Release`

[1] https://lists.llvm.org/pipermail/llvm-announce/2021-October/000095.html

[2021-10-08 23:38] nickdesaulniers commented on #1474
perhaps should be unsigned for bitwise operations

[2021-10-08 23:44] nickdesaulniers commented on #1302
Before this week's changes, we had warning from:
1. test_bit (allmodconfig)
2. __nodes_weight (allmodconfig, defconfig)
3. early_get_smp_config (allmodconfig)
4. __first_node (allmodconfig)
5. __next_node (allmodconfig)

part 1 has landed. This eliminates the issues with defconfig, but does nothing for allmodconfig.

I have some ideas for making the analysis even more precise, it just involves a l

[2021-10-11 18:04] nickdesaulniers commented on #1474
this is affecting CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/3854417767?check_suite_focus=true

[2021-10-11 18:31] nickdesaulniers opened #1477 "LTO crash related to fortify"
https://github.com/ClangBuiltLinux/continuous-integration2/runs/3854281995?check_suite_focus=true

during LTO, we observe the following ICE:
[code]

cc @serge-sans-paille.

[2021-10-11 19:24] nickdesaulniers commented on #1477
cc @vishalbhoj from the logs, I try the command to repro but observe:
[code]

[2021-10-11 20:01] nickdesaulniers commented on #1477
hmm...couldn't reproduce locally
[code]
[code]
perhaps the build of debian llvm is behind again.

[2021-10-11 20:26] nickdesaulniers commented on #1466
Fixed: https://reviews.llvm.org/rG0f0e31cf511def3e92244e615b2646c1fd0df0cd

closing, but #1477 looks related. (perhaps it's a false positive from LLVM being older than 0f0e31cf511def3e92244e615b2646c1fd0df0cd).

[2021-10-11 20:26] #1466 closed, assigned to serge-sans-paille

[2021-10-11 20:53] nickdesaulniers commented on #1474
also `s/a clang warning about the use of a bitwise-OR/-Wbitwise-instead-of-logical/`

[2021-10-11 20:53] nickdesaulniers commented on #1477
reproducible at a4bccf7afdd0
not reproducible at 0f0e31cf511def3e92244e615b2646c1fd0df0cd

so the debian LLVM is out of date.

[2021-10-12 03:40] vishalbhoj commented on #1477
@nickdesaulniers  Please use the tuxmake_reproducer.sh available in the build:
https://builds.tuxbuild.com/1zL4EdaZ4Z8tmA1mieSKQH1Re6m/tuxmake_reproducer.sh

The one in the logs uses a docker mirror hosted inside AWS and is not accessible to everyone.

[2021-10-12 17:00] nickdesaulniers commented on #1477
thanks @vishalbhoj . @vishalbhoj also notes on IRC:

[2021-10-14 03:05] mpe commented on #1419
Yeah. Looks like gas will accept an implied L=0 when building in 32-bit mode.

I do see some mention of a three-argument version in some old docs, but that's for omitting the CR field, not the L field.

Sent a kernel patch for it: https://lore.kernel.org/linuxppc-dev/20211014024424.528848-1-mpe@ellerman.id.au/T/#u

[2021-10-14 07:04] paulmenzel commented on #1419
Thank you for the patch and adding the URL here. Maybe you could also add the URL of the GitHub issue to the commit message.

[2021-10-14 19:15] nathanchance commented on #1477
Our CI is [still seeing this](https://github.com/ClangBuiltLinux/continuous-integration2/runs/3889501571?check_suite_focus=true) with an updated Debian clang and I can reproduce it locally at https://github.com/llvm/llvm-project/commit/5f668bba55742c081947011e37d5a7386ca58d01.

I was able to come up with the following reproducer with the help of `cvise`:

[code]

[2021-10-14 20:59] nathanchance commented on #1472
Patch submitted: https://lore.kernel.org/r/20211014205757.3474635-1-nathan@kernel.org/

[2021-10-14 21:19] nathanchance commented on #1473
Patch submitted: https://lore.kernel.org/r/20211014211916.3550122-1-nathan@kernel.org/

[2021-10-14 21:22] nathanchance commented on #1473
Ugh, I was rushing and left off a `Suggested-by` tag for David. @davidbolvansky are you okay with me adding that in a follow up?

[2021-10-14 21:23] nathanchance commented on #1473
Nevermind, looks like Nick just did it for me :)

[2021-10-14 21:57] nathanchance opened #1478 "-Wbitwise-instead-of-logical in drivers/staging/wlan-ng/hfa384x_usb.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211014215703.3705371-1-nathan@kernel.org/

[2021-10-15 16:40] nathanchance commented on #1474
Paolo sent https://lore.kernel.org/r/20211015085148.67943-1-pbonzini@redhat.com/.

[2021-10-15 20:22] nickdesaulniers commented on #1477
slightly reduced command line:
[code]
Note that without `-g`, I get a different failed assertion:
[code]

[2021-10-15 21:16] nickdesaulniers commented on #764
cmpli is #1419 . Let's use this issue to track `.cfi_register`.

[2021-10-15 23:43] nickdesaulniers commented on #1477
the generated lib/string.o in the kernel build doesn't validate with `opt -verify`:
[code]
[code]
I think that second declaration is messing things up.

[2021-10-16 00:01] nickdesaulniers commented on #1477
The kernel code is basically this: https://gist.github.com/nickdesaulniers/b69d319880b8a3b721740e5fc0785dcd and doesn't need LTO to reproduce any issues:
[code]

[2021-10-18 17:07] nickdesaulniers commented on #1473
accepted: https://cgit.freedesktop.org/drm/drm-intel/commit/?h=drm-intel-next&id=2e70570656adfe1c5d9a29940faa348d5f132199

[2021-10-18 17:26] nickdesaulniers opened #1479 "-Wbitwise-instead-of-logical in drivers/net/ethernet/netronome/nfp/nfp_asm.c"
via https://github.com/ClangBuiltLinux/continuous-integration2/runs/3927890481?check_suite_focus=true

looks like an x86_64 allmodconfig build on mainline.

[code]

[2021-10-18 17:28] nickdesaulniers opened #1480 "unexpected end of section"
via https://github.com/ClangBuiltLinux/continuous-integration2/runs/3927890481?check_suite_focus=true:
[code]
I'm surprised to see `.lto.o` files as part of allmodconfig. Isn't LTO disabled for allmodconfig?

[2021-10-18 17:36] nathanchance commented on #1480
That is an allmodconfig + ThinLTO build.

[2021-10-18 17:49] nickdesaulniers commented on #1480
ah, right, the "kconfig" is printed from the build.json (otherwise the config/build name is cutoff in github UI for me).

[2021-10-18 18:28] nathanchance commented on #1476
Patch submitted: https://lore.kernel.org/r/20211018182537.2316800-1-nathan@kernel.org/

[2021-10-18 18:29] nathanchance commented on #1472
Accepted and merged into mainline: https://git.kernel.org/linus/a02dcde595f7cbd240ccd64de96034ad91cffc40

[2021-10-18 18:29] #1472 closed, assigned to nathanchance

[2021-10-18 19:10] nickdesaulniers commented on #1477
cc @m-gupta (https://reviews.llvm.org/D111009#3068566)

[2021-10-18 19:31] nathanchance commented on #1479
Patch submitted: https://lore.kernel.org/r/20211018193101.2340261-1-nathan@kernel.org/

[2021-10-18 22:22] nathanchance commented on #1479
Patch accepted: https://git.kernel.org/netdev/net/c/8a64ef042eab8a6cec04a6c79d44d1af79b628ca

[2021-10-18 22:24] nathanchance commented on #1478
Patch accepted: https://git.kernel.org/gregkh/staging/c/502408a61f4b7eb4713f44bd77f4a48e6cb1b59a

[2021-10-18 22:28] nathanchance commented on #1474
Paolo's fix was rejected at pull time, it sounds like he is just going to change `|` to `||`: https://lore.kernel.org/r/93d4156f-4d81-da15-b93e-79f3ec9bebdb@redhat.com/

[2021-10-19 00:44] nathanchance opened #1481 "-Wenum-conversion in drivers/regulator/lp872x.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211019004335.193492-1-nathan@kernel.org/

[2021-10-19 01:42] nathanchance opened #1482 "-Wimplicit-fallthrough in drivers/net/ethernet/intel/ice/ice_lib.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211019014203.1926130-1-nathan@kernel.org/

[2021-10-19 07:32] serge-sans-paille commented on #1477
Thanks for the reproducer. I'm on it.

[2021-10-19 07:56] arndb opened #1483 "march=atom compiletime issues"
Building x86 with CONFIG_MATOM has multiple problems on clang-14 and earlier versions:

make[4]: *** [/git/arm-soc/scripts/Makefile.build:288: arch/x86/hyperv/hv_init.o] Error 1
error: ran out of registers during register allocation
error: ran out of registers during register allocation

make[6]: *** [/git/arm-soc/scripts/Makefile.build:288: drivers/gpu/drm/vmwgfx/vmwgfx_msg.o] Error 1
error: ran

[2021-10-19 08:00] arndb commented on #1483
Attaching four randconfig files and their output:
[config-matom.tar.gz](https://github.com/ClangBuiltLinux/linux/files/7371360/config-matom.tar.gz)

[2021-10-19 08:10] serge-sans-paille commented on #1477
@nickdesaulniers your test case is interesting, because `inline` contains two different definitions, (the fortified one, and the non fortified one). gcc always picks the non fortified one, and clang picks the fortified one at call site for `strim` but then doesn't generate its body.

[2021-10-19 17:13] arndb commented on #1483
Submitted a workaround: https://lore.kernel.org/all/20211019171121.3510624-1-arnd@kernel.org/T/#u

[2021-10-19 18:44] nickdesaulniers commented on #1477
@serge-sans-paille thanks for the patch: https://reviews.llvm.org/D112059. Reviewing/testing now.

[2021-10-19 21:12] nickdesaulniers commented on #1002
jotting down notes from trying to run LKDTM:
[code]

[2021-10-19 22:26] bwendling commented on #1254
This is happening again. Should I be turning off Werrors or something?

[code]

[2021-10-19 23:56] jpoimboe commented on #1254
@gwelymernans What kernel?  That error was removed starting with Linux 5.11.

[2021-10-20 00:14] nemanjai commented on #1417
Can you just add
[code]
on the line immediately preceding that one?

[2021-10-20 09:59] nemanjai commented on #1416
Would it be possible to attach the pre-processed file (`arch/powerpc/kernel/head_64.S`) so I can hopefully see why the assembly parser thinks that `fs_label` is being reassigned?

[2021-10-20 13:39] nemanjai commented on #764
The `.cfi_register` issue was fixed on Nov. 18, 2020 with commit `b2f663073917b`.

[2021-10-20 17:30] nathanchance commented on #1416
@nemanjai here you go: https://gist.github.com/5156857c4ce772ade48165ecaf9c1c5c

[2021-10-20 19:39] nickdesaulniers commented on #1315
@arndb is [carrying an improved version of a patch](https://git.kernel.org/pub/scm/linux/kernel/git/arnd/playground.git/commit/?h=7fa6203fa24160c55a06cf) I wrote for this awhile ago.
https://lore.kernel.org/linux-arm-kernel/20210928154143.2106903-14-arnd@kernel.org/

[2021-10-20 21:17] nickdesaulniers opened #1484 "unsupported argument '-m440' to option 'Wa,'"
[code]

[2021-10-20 21:20] nickdesaulniers commented on #764
Indeed, I can no longer reproduce with:
[code]
(working around #1484, #1418 and #672).

lol, I reviewed that patch...forgot about this issue. Looks like this shipped in clang-12. Thanks @gwelymernans !

[2021-10-21 16:59] nickdesaulniers opened #1485 "ld.lld: error: undefined symbol: __aeabi_read_tp"
looks like in linux-next, a new link failure are occurring for 32b arm.

thumb2: https://github.com/ClangBuiltLinux/continuous-integration2/runs/3964216542?check_suite_focus=true

[code]
@compnerd mentioned some familiarity with this symbol and that this might be a bug in LLVM.  @arndb reported this in yesterday's meeting.

[2021-10-21 17:02] nickdesaulniers opened #1486 "-Wbitwise-instead-of-logical in lib/zstd/decompress/huf_decompress.c"
[our build](https://github.com/ClangBuiltLinux/continuous-integration2/runs/3964220902?check_suite_focus=true#logs) of `ppc44x_defconfig` is printing:
[code]

[2021-10-21 17:21] nathanchance commented on #1485
I think there was some discussion in our meeting yesterday that `__builtin_thread_pointer()` was not working properly for Thumb2?

[2021-10-21 17:30] nickdesaulniers commented on #1485
@ardbiesheuvel mentioned [this](https://git.kernel.org/pub/scm/linux/kernel/git/ardb/linux.git/commit/?id=50596b7559bf226bb35ad55855ee979453ec06a1) which introduces `__builtin_thread_pointer`.

[2021-10-21 17:50] nathanchance commented on #1476
Tentatively accepted: https://git.kernel.org/pdx86/platform-drivers-x86/c/fd96e35ea7b95f1e216277805be89d66e4ae962d

[2021-10-21 17:51] nathanchance commented on #1482
Tentatively accepted: https://git.kernel.org/tnguy/next-queue/c/071b0633cbc1a3025b68890f9b21b45c01ab6a85

[2021-10-21 17:52] nathanchance commented on #1481
Accepted: https://git.kernel.org/broonie/regulator/c/061514dbfb79910ef60eb40dd9fc528be3f45d62

[2021-10-21 17:54] nathanchance commented on #1463
Fixed in -next now.

[2021-10-21 17:54] #1463 closed, assigned to nathanchance

[2021-10-21 17:55] nathanchance commented on #1468
Squashed into the original commit: https://git.kernel.org/next/linux-next/c/3f68c01be9a2227de1e190317fe34a6fb835a094

[2021-10-21 17:55] #1468 closed, assigned to nathanchance

[2021-10-21 17:55] nathanchance commented on #1469
Squashed into the original commit: https://git.kernel.org/next/linux-next/c/3f68c01be9a2227de1e190317fe34a6fb835a094

[2021-10-21 17:55] #1469 closed, assigned to nathanchance

[2021-10-21 17:55] nathanchance commented on #1470
Squashed into the original commit: https://git.kernel.org/next/linux-next/c/3f68c01be9a2227de1e190317fe34a6fb835a094

[2021-10-21 17:55] #1470 closed, assigned to nathanchance

[2021-10-21 18:04] nathanchance opened #1487 "-Wsometimes-uninitialized in mm/memory-failure.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211021180336.2328086-1-nathan@kernel.org/

[2021-10-21 18:19] arndb commented on #1485
Here is a trivial reproducer https://godbolt.org/z/57f9vfvrE

[2021-10-21 20:24] nathanchance commented on #1486
Patch submitted: https://lore.kernel.org/r/20211021202353.2356400-1-nathan@kernel.org/

[2021-10-21 20:58] nickdesaulniers commented on #1485
@ardbiesheuvel points out that `-mtp=cp15 -marm --target=arm-linux-gnueabi- -O2` works, `-mtp=cp15 -mthumb --target=arm-linux-gnueabi- -O2` does not.

[2021-10-21 21:46] nathanchance opened #1488 "-Wbitwise-instead-of-logical in drivers/soc/tegra/fuse/speedo-tegra20.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211021214500.2388146-1-nathan@kernel.org/

[2021-10-22 05:30] heyg opened #1489 "[kernel5.10] [clang] [ glibc 2.32] report "junk at end of line, first unrecognized character is `0'""
After update glibc 2.32 it will report error when clang-13 build kernel5.10
"
  CC      arch/arm64/kernel/vdso/vgettimeofday.o
/tmp/vgettimeofday-3dfdde.s: Assembler messages:
/tmp/vgettimeofday-3dfdde.s:25: Error: file number less than one
/tmp/vgettimeofday-3dfdde.s:25: Error: junk at end of line, first unrecognized character is `0'
/tmp/vgettimeofday-3dfdde.s:362: Error: file number less than o

[2021-10-22 17:15] nathanchance commented on #1489
What configuration, kernel tree, and exact clang version?

[2021-10-22 17:23] nathanchance commented on #1479
Merged into mainline: https://git.kernel.org/linus/8a64ef042eab8a6cec04a6c79d44d1af79b628ca

[2021-10-22 17:23] #1479 closed, assigned to nathanchance

[2021-10-22 17:46] nathanchance commented on #1487
Fixed: https://git.kernel.org/next/linux-next/c/676e801b2e3e0c951126d1c6ccbfc0e3233c4589

[2021-10-22 17:46] #1487 closed, assigned to nathanchance

[2021-10-22 19:57] nathanchance opened #1490 "-Winfinite-recursion in drivers/iio/frequency/adrf6780.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211022195656.1513147-1-nathan@kernel.org/

[2021-10-24 23:45] nickdesaulniers commented on #1489
Is likely related to generating DWARF v5, but then using a version of GAS that doesn't understand this new DWARF v5 addition. (I filed a bug about that, it was fixed in newer releases of GAS).

So this is likely not using `clang` as the assembler, but GAS. I'll have to look at the 5.10 sources to see if the DWARF v5 kernel support I added was available back then; there's kconfigs to just use DWARF

[2021-10-25 02:29] heyg commented on #1489
@nathanchance
Hi Nathan,
What configuration?
	CONFIG_ARM64_VA_BITS_48=y  ---> arm64 config
	CONFIG_ARCH_MESON=y --> AMLOGIC bsp config
it should dosn't matter with vendor chip, report error code is common code.

kernel tree?
  -> Linux version 5.10.56

exact clang version?
  -> Chromium OS 12.0_pre422132_p20210405-r4 clang version 13.0.0

[2021-10-25 02:38] heyg commented on #1489
@nickdesaulniers
Hi Nick,
Thanks,  i thing your anaysis is right.

Here have more info,Maybe this info more useful.
clang 12 is ok for kernel 5.10,
[code]

[2021-10-25 04:00] nathanchance commented on #1490
Patch accepted: https://git.kernel.org/gregkh/char-misc/c/7b473ae754fec86cfa44f05f0882d1329d244e6c

[2021-10-25 17:00] nathanchance commented on #1490
Fixed in next-20211025.

[2021-10-25 17:00] #1490 closed, assigned to nathanchance

[2021-10-25 17:00] nathanchance commented on #1481
Fixed in next-20211025.

[2021-10-25 17:00] #1481 closed, assigned to nathanchance

[2021-10-25 17:13] nathanchance commented on #1474
Paolo's new fix: https://git.kernel.org/pub/scm/virt/kvm/kvm.git/commit/?id=3d5e7a28b1ea2d603dea478e58e37ce75b9597ab

[2021-10-25 17:55] nathanchance commented on #325
Fixed in mainline with a cc for stable: https://git.kernel.org/linus/9d417cbe36eee7afdd85c2e871685f8dab7c2dba

[2021-10-25 19:10] nathanchance commented on #1447
Merged into mainline: https://git.kernel.org/linus/e6a0c958bdf9b2e1b57501fc9433a461f0a6aadd

[2021-10-25 19:10] #1447 closed, assigned to nickdesaulniers

[2021-10-25 21:13] nathanchance opened #1491 "-Wimplicit-fallthrough in drivers/net/ethernet/asix/ax88796c_main.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211025211238.178768-1-nathan@kernel.org/

[2021-10-25 21:13] nathanchance opened #1492 "-Wpointer-bool-conversion in drivers/net/ethernet/asix/ax88796c_main.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211025211238.178768-2-nathan@kernel.org/

[2021-10-26 14:13] nathanchance commented on #1491
Patch accepted: https://git.kernel.org/netdev/net-next/c/3c5548812a0c

[2021-10-26 14:13] nathanchance commented on #1492
Patch accepted: https://git.kernel.org/netdev/net-next/c/971f5c4079ed

[2021-10-26 14:25] nathanchance opened #1493 "-Wuninitialized in drivers/gpu/drm/msm/disp/dpu1/dpu_crtc.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211026142435.3606413-1-nathan@kernel.org/

[2021-10-26 23:48] nickdesaulniers commented on #1485
Adding `-mtp=cp15` adds to the IR the following function attribute: `"target-features"=+read-tp-hard,+...`.

[2021-10-27 00:45] nickdesaulniers commented on #1436
@phoebewang has patches for:
1. [-mno-fp-ret-in-387](https://reviews.llvm.org/D112143)
2. [-mskip-rax-setup](https://reviews.llvm.org/D112413)
3. [-maccumulate_outgoing_args](https://reviews.llvm.org/D112415)

[2021-10-27 08:58] ardbiesheuvel commented on #1485
https://reviews.llvm.org/D112600

[2021-10-27 15:32] nathanchance opened #1494 "-Wuninitialized in drivers/net/ethernet/mellanox/mlx5/core/en/tc/sample.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211027153122.3224673-1-nathan@kernel.org/

[2021-10-27 16:37] nathanchance commented on #1491
Fixed in next-20211027.

[2021-10-27 16:37] #1491 closed, assigned to nathanchance

[2021-10-27 16:37] nathanchance commented on #1492
Fixed in next-20211027.

[2021-10-27 16:37] #1492 closed, assigned to nathanchance

[2021-10-27 16:50] nathanchance commented on #1485
I opened an LLVM PR so that we can try to get this into LLVM 13.0.1: https://llvm.org/pr52329

[2021-10-27 18:18] nathanchance commented on #1493
Fixed in next-20211027: https://git.kernel.org/next/linux-next/c/e9afd45788d223bfd562dd062e43208e958683e7

[2021-10-27 18:18] #1493 closed, assigned to nathanchance

[2021-10-27 19:09] nathanchance opened #1495 "-Wimplicit-fallthrough in sound/soc/qcom/qdsp6/topology.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211027190823.4057382-1-nathan@kernel.org/

[2021-10-27 23:55] nickdesaulniers commented on #1485
Fixed in llvm-14: https://reviews.llvm.org/rGd7e089f2d6a5cd5f283a90ab29241d20d4fc3ed1.

We could ask about getting it back ported to clang 13.0.1, though we'll probably need patches on the kernel side to avoid this feature on clang-12 and older?

[2021-10-28 00:18] nathanchance commented on #1485
Yes, I opened a PR above so that we can get this merged into 13.0.1 but also yes, there should be a kernel side fix so that the build does not break.

[2021-10-28 14:12] nathanchance commented on #1495
Patch accepted: https://git.kernel.org/broonie/sound/c/c6c203bc4dfed6812cf77e7737074b9cff8dd78d

[2021-10-28 16:27] nickdesaulniers commented on #1485
@ardbiesheuvel 's kernel patch: https://lore.kernel.org/linux-arm-kernel/20211028083527.1057158-1-ardb@kernel.org/

[2021-10-29 00:51] mpe commented on #1419
Fix is now in [my next branch](https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?id=fef071be57dc43679a32d5b0e6ee176d6f12e9f2).

[2021-10-29 14:34] nathanchance commented on #1495
Fixed in next-20211029.

[2021-10-29 14:34] #1495 closed, assigned to nathanchance

[2021-10-29 17:54] nickdesaulniers commented on #675
perhaps we can wrap all `-m<machine name>` flags in `LLVM_IAS` test block?

[2021-10-29 17:59] nickdesaulniers commented on #675
We should also test if this flag produces changes in the resulting disassembly of the object files that are created with this flag.

[2021-10-29 18:04] nickdesaulniers commented on #1417
it might be interesting to do more git archaeology to see why `dssall` was ever added.

[2021-10-29 18:07] nathanchance commented on #1417
https://git.kernel.org/tglx/history/c/04879b04bf500585d6b015e440be3ee7bdaf9cd4 added `dssall` back in 2004.

[2021-10-29 18:14] nickdesaulniers commented on #1416
We should reduce the preprocessed input with cvise; cvise can reduce non-C/C++ code with the `--not-c` flag.

Perhaps we can use `__COUNTER__` to get unique identifiers for `fs_label`. We need to find which macro produces `fs_label`.

It looks like the integrated assembler has incompatibilities with reassignment of labels; eager vs lazy evaluation is probably not being relied on here.

[2021-10-29 18:25] nathanchance commented on #664
Fixed: https://git.kernel.org/linus/b7cd9fa5ccc392d9f2269edc4cb82508632c28da

[2021-10-29 18:25] #664 closed

[2021-10-29 18:30] nickdesaulniers commented on #1332
Looking at this with @nemanjai and @mandlebug , other than the commented out assembler code that should be removed, that patch looks like it's probably worthwhile to send upstream. @mandlebug and @nemanjai mentioned that unconditional branches have 26b of range to encode while conditional branches have only 16b.

[2021-10-29 18:40] nathanchance commented on #602
Big endian ELFv2 support was sent upstream but the commit message of the second patch in the series mentions that LLVM did not receive testing so it was restricted to GCC and binutils in Kconfig: https://lore.kernel.org/r/20210611093959.821525-1-npiggin@gmail.com/

It does not look like it was ever picked up.

[2021-10-29 18:48] nickdesaulniers commented on #602
We should ask @mpe on the list whether big endian could be moved to ELFv2 (via that patch).

@nathanchance found https://lore.kernel.org/all/20210611093959.821525-1-npiggin@gmail.com/, but mentioned that there's some Kconfig changes we need to make+test. @nathanchance can you provide more info?

@mandlebug mentioned that FreeBSD switched their BE ppc64 build to ELFv2.

[2021-10-29 18:59] nickdesaulniers commented on #602
https://lore.kernel.org/all/20210611093959.821525-3-npiggin@gmail.com/ mentions:

Let's hop on that thread and help test.

[2021-10-29 19:08] nickdesaulniers commented on #1417
Do we know when or for which CPUs that transition occurred? Maybe we could emit `dssall` for the older cpus, but `nop` or no inline assembler at all for newer CPUs?

[2021-10-30 11:43] nickdesaulniers commented on #1104
I sent dkms [a patch](https://github.com/dell/dkms/pull/169).

[2021-11-01 13:38] nathanchance commented on #1494
Accepted: https://git.kernel.org/netdev/net-next/c/1aec85974ab7

[2021-11-01 16:05] nathanchance opened #1496 "Fortify error with a stable/released UTS_RELEASE"
Initially reported with CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4068475993?check_suite_focus=true

[code]

This only occurs when `UTS_RELEASE` is a standard release version (i.e. `5.15.0` versus `5.15.0-rc7`). This can be hacked up with something like:

[code]

This appears to be an issue with GCC in certain configuration:

https://lore.kernel.org/r/20211101002346.GA304

[2021-11-01 16:51] kees commented on #1496
Likely this will need to go to -stable kernels:
https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/commit/?h=for-next/overflow&id=a52f8a59aef46b59753e583bf4b28fccb069ce64

[2021-11-02 17:21] #1477 closed, assigned to nobody

[2021-11-02 19:53] nathanchance commented on #1485
The kernel patch has been merged into mainline: https://git.kernel.org/linus/c1e42efacb9bb4ae873e9b1cf249fa4fb6ef7f84

The LLVM patch should be picked up from LLVM 13.0.1 based on Peter's response on the LLVM bug: https://llvm.org/pr52329

I will close this once the LLVM patch lands in the `release/13.x` branch.

[2021-11-02 19:55] nathanchance commented on #1441
Merged into mainline: https://git.kernel.org/linus/4a7e1e5fc294687a8941fa3eeb4a7e8539ca5e2f

[2021-11-02 19:55] #1441 closed, assigned to nathanchance

[2021-11-02 19:56] nathanchance commented on #1482
Fixed: https://git.kernel.org/linus/370764e60b183eee671e90e62510c2684f4ea849

[2021-11-02 19:56] #1482 closed, assigned to nathanchance

[2021-11-02 19:57] nathanchance commented on #1494
Merged into mainline: https://git.kernel.org/linus/1aec85974ab79903aaaab7d1f7fffe3d1ad1eee2

[2021-11-02 19:57] #1494 closed, assigned to nathanchance

[2021-11-02 21:15] nathanchance commented on #1474
Merged into mainline: https://git.kernel.org/linus/3d5e7a28b1ea2d603dea478e58e37ce75b9597ab

[2021-11-03 21:25] nathanchance commented on #1293
I believe there is another instance of this that has cropped up:

[code]

which I bisected down to a commit that added `FIELD_PREP()`, which has a few different `BUILD_BUG_ON()`. It is not seen with LLVM 11+.

[2021-11-03 23:25] nickdesaulniers commented on #1474
I think we need to chase backports of this into stable?

[2021-11-03 23:41] nathanchance commented on #1474
Ah yes, I do not usually chase backports for warning fixes but I forgot that `-Werror` is now a thing AND `arch/x86/kvm` has `-Werror` separately from https://git.kernel.org/linus/ead68df94d248c80fdbae220ae5425eb5af2e753, which showed up in 5.6 so it needs to go back at least that far. I can take care of this tomorrow.

[2021-11-04 15:57] nathanchance opened #1497 "error: expression requires 'long double' type support, but target 'x86_64-unknown-linux-gnu' does not support it"
After https://github.com/llvm/llvm-project/commit/a8083d42b1c346e21623a1d36d1f0cadd7801d83, I see the following errors with x86_64 allmodconfig

[code]

[code]

It seems that x87 registers are turned off in `arch/x86/Makefile` with the `-mno-80387` flag so I suppose this error makes sense. Should we just turn these constants into integers (perhaps substituting the `1E6L` with `USEC_PER_SEC`)?

[2021-11-04 18:22] nickdesaulniers commented on #1497
are these expressions overflowing? In the case of `ktime_set`, the second parameter is an `unsigned long`. `ULONG_MAX` for x86_64 is 4,294,967,295. 1E6L is only 1,000,000.  So looks like no, there is no overflow.

[2021-11-04 18:23] nickdesaulniers commented on #1497
Is `1E6L` a floating point literal?

[2021-11-04 18:24] nathanchance commented on #1497
Yes, I had to look that up: https://en.cppreference.com/w/cpp/language/floating_literal

[2021-11-04 18:25] nickdesaulniers commented on #1497
probably should remove the `L` suffix.

[2021-11-04 18:29] nathanchance commented on #1497
I don't really see the point of these calculations using floating point values?

`wde_interval` and `trigger_delay` are both `ktime_t`, which is a 64-bit signed integer. `ktime_set()`'s second parameter is an `unsigned long` (integer). I think the `1E6L` can just be turned into `1000000L`, which is `USEC_PER_SEC`.

[2021-11-04 18:31] nathanchance commented on #1474
Backport submitted: https://lore.kernel.org/r/YYQjyo%2FdKfDb%2Fno3@archlinux-ax161/

[2021-11-04 18:33] nickdesaulniers commented on #1497
Or perhaps just `1E6`.  It's surprising to me to that the `L` suffix means `long double` here and not `long`, which is perhaps the same mistake that the authors made.  I suspect the `E6` suffix changes the meaning of `L` suffixes on literals (which is surprising IMO).

[2021-11-04 18:39] nathanchance commented on #1497
Yes, the `E6` makes the literal a double: https://godbolt.org/z/cbbKvTWT8

Adding `L` only changes it from `double` to `long double`.

[2021-11-04 21:59] nathanchance commented on #1497
Patches submitted:

https://lore.kernel.org/r/20211104215047.663411-1-nathan@kernel.org/
https://lore.kernel.org/r/20211104215923.719785-1-nathan@kernel.org/

[2021-11-05 15:23] nathanchance commented on #1497
v2:

https://lore.kernel.org/r/20211105152049.2522250-1-nathan@kernel.org/
https://lore.kernel.org/r/20211105145802.2520658-1-nathan@kernel.org/

[2021-11-05 15:57] nathanchance opened #1498 "-Wsometimes-uninitialized in fs/nfs/dir.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211105155704.3293957-1-nathan@kernel.org/

[2021-11-05 17:44] nickdesaulniers commented on #1419
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=fef071be57dc43679a32d5b0e6ee176d6f12e9f2

[2021-11-05 17:44] #1419 closed, assigned to mpe

[2021-11-05 21:17] nathanchance commented on #1486
Patch accepted: https://github.com/terrelln/linux/commit/8e211b894b58568a3065503334e150f305b3a735

[2021-11-06 12:49] ms178 opened #1499 "drivers/gpu/drm/amd/amdgpu/amdgpu.lto.o: warning: objtool: .text.amdgpu_amdkfd_gpuvm_alloc_memory_of_gpu: unexpected end of section"
Hi, I see the mentioned new objtool error on 5.15.0 with the following config and makefile with LLVM/Clang-14 (63fff0f5bffe20fa2c84a45a41161afa0043cb34).

[config.txt](https://github.com/ClangBuiltLinux/linux/files/7490469/config.txt)
[Makefile.txt](https://github.com/ClangBuiltLinux/linux/files/7490470/Makefile.txt)

I haven't seen it yet in the issue section, hence I wanted to let you know.

[2021-11-06 20:30] nathanchance commented on #1499
I think this might be a duplicate of #1480?

[2021-11-06 22:12] ms178 commented on #1499
Possibly, but that particular warning wasn't mentioned there and the one I found was with a Full LTO build.

[2021-11-08 16:46] nathanchance commented on #1485
`release/13.x` cherry-pick: https://github.com/llvm/llvm-project/commit/ed38280d006c91d7098b0a02e160835ee09fd08a

[2021-11-08 16:46] #1485 closed, assigned to ardbiesheuvel

[2021-11-08 17:51] nathanchance commented on #1474
Backport is now queued up for the next stable releases:

https://git.kernel.org/stable/stable-queue/c/cc9ccdbfd4434eeb8b66f9905b5def5067c31be6
https://git.kernel.org/stable/stable-queue/c/180ba858fc653604722b21cdd525a6a95406d0b0
https://git.kernel.org/stable/stable-queue/c/ba0406c24845cdd2e9bf99093e768b97a0061de9

[2021-11-08 17:51] #1474 closed, assigned to nobody

[2021-11-08 22:29] nathanchance commented on #1480
Reported upstream: https://reviews.llvm.org/D105169#3116810

I believe current ToT should be fine, as it has a revert of that change: https://github.com/llvm/llvm-project/commit/fd9b099906c61e46574d1ea2d99b973321fe1d21

[2021-11-08 22:30] nathanchance commented on #1499
Reported upstream: https://reviews.llvm.org/D105169#3116810

I believe current ToT should be fine, as it has a revert of that change: https://github.com/llvm/llvm-project/commit/fd9b099906c61e46574d1ea2d99b973321fe1d21

[2021-11-08 22:36] nathanchance commented on #1498
Fixed: https://git.kernel.org/next/linux-next/c/4798f8058d6b6bcfaedf5560fc28a83f404cbb57

[2021-11-08 22:36] #1498 closed, assigned to nathanchance

[2021-11-09 22:24] nickdesaulniers commented on #675
https://sourceware.org/binutils/docs/as/PowerPC_002dOpts.html#PowerPC_002dOpts

[2021-11-10 00:21] bwendling opened #1500 "Unsupported relocation type: unknown type rel type name (42)"
This is on an earlier kernel (4.15), but when I use LTO, I get the following error. I looked and thought that this was taken care of before, but maybe not?

[code]

[2021-11-10 05:44] bwendling commented on #1500
+ @MaskRay

I think what's happening is that the "`-mrelax-relocations=no`" flag isn't being passed to the integrated assembler during LTO. Yet another one of those instances where it probably should be specified somewhere in the IR but isn't. I hacked through it, but I'm not sure of the best solution...

[2021-11-10 06:03] MaskRay commented on #1500
You probably mean: -Wa,-mrelax-relocations=no doesn't have affect for LTO code generation, so relocatable link output may have unrecognized `R_X86_64_REX_GOTPCRELX`. That is true.
`clang -O2 -fpic -Wa,-mrelax-relocations=no -flto=thin -fuse-ld=lld -nostdlib -r a.c -o a.o`.

I don't know a way to change this if CMake `ENABLE_X86_RELAX_RELOCATIONS` is enabled (default).

The best option is to teach

[2021-11-10 06:26] bwendling commented on #1500
I did this hack and it got me through the error. Thoughts?

[code]

[2021-11-10 06:52] MaskRay commented on #1500
I am very unfamiliar with what `arch/x86/tools` does...

Patching just `arch/x86/tools/relocs.c` may be insufficient as `arch/x86/kernel/module.c` seems to need an accompanying change as well, according to @ardbiesheuvel's [x86: Add support for 64-bit place relative relocations](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b40a142b12b5c4312171140ff2bc92971b8a7a09).

[2021-11-10 09:53] ardbiesheuvel commented on #1500
Note that the error does not occur in the kernel itself, but in the decompressor, which is built with -fPIE because it can run from anywhere. This is a bare metal, fully linked binary so there should not be a need for GOT entries. I added e544ea57ac0734bca752eb2d8635fecbe932c356 (and 423e4d198a036689de73fd6b073fc4349c4fa1ee) in v5.10 to get rid of GOT indirections.

In v4.15, that GOT fixup code s

[2021-11-10 16:44] nathanchance opened #1501 "error: initializer element is not a compile-time constant"
In -next after both https://git.kernel.org/next/linux-next/c/facfe0a4fdce3f545a4a883358eda3078b0425c7 and https://git.kernel.org/next/linux-next/c/f155dfeaa4ee21bce3f8f76b2addaec396b41b39, KernelCI reports that clang-13 allmodconfig errors:

[code]

Playing around on Compiler Explorer, it looks like GCC 5 through 7 all exhibit the same issue as Clang does (GCC 8 is where it got smart enough to fig

[2021-11-10 19:42] nickdesaulniers commented on #1501
https://reviews.llvm.org/D76096

[2021-11-10 19:44] nickdesaulniers commented on #1499
If upstream reverted, should we close this as `[FIXED] llvm (main)`?

[2021-11-10 19:45] nathanchance commented on #1499
Sure, we can reopen if it comes back.

[2021-11-10 19:45] #1499 closed, assigned to nobody

[2021-11-10 19:46] nathanchance commented on #1480
Closing as the problematic commit has been reverted and we have a reproducer so that it is fixed in the next revision.

[2021-11-11 15:48] nathanchance commented on #1501
Arnd sent https://lore.kernel.org/r/20211111085842.2846422-1-arnd@kernel.org.

[2021-11-11 17:23] nathanchance opened #1502 "error: hardware TLS register is not supported for the arm sub-architecture"
[Linaro's CI reported](https://lore.kernel.org/r/814585495.6773.1636629846970@jenkins.jenkins/) an error after https://github.com/llvm/llvm-project/commit/24772720c54500714e2d48b9109bb62d5867ad95:

[code]

I assume this is expected? A simplifier reproducer:

[code]

It looks like the `-mcpu` to the integrated assembler has implications for parsing the triple?

cc @ardbiesheuvel

[2021-11-11 17:25] nathanchance commented on #1501
Arnd's patch has been accepted: https://git.kernel.org/hid/hid/c/b763dc3f17a2081312ac0b400916b05ae6056ac5

[2021-11-11 19:17] ardbiesheuvel commented on #1502
Does this help?
[code]

[2021-11-11 19:28] nathanchance commented on #1502
I think that wants to be `AFLAGS_REMOVE_...` since it is a `.S` file but yes, that resolves this particular error.

Our CI reports an additional instance for `aspeed_g5_defconfig`: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4178290190?check_suite_focus=true

[code]

[2021-11-11 19:43] bwendling commented on #1500
Backporting @ardbiesheuvel 's patches fixed my issue.  Thank you!

[2021-11-11 19:50] bwendling commented on #1500
I spoke too soon...

[2021-11-11 19:52] ardbiesheuvel commented on #1502
Ouch. That one is a bit trickier. The ARM ARM claims that the TLS register is only implemented on v7 and later, but in reality, the kernel already assumes they are there (and uses them) for ARMv6k as well.

I am leaning towards simply reverting this commit in LLVM instead of playing whack-a-mole with corner cases like these. Any thoughts? @nickdesaulniers

[2021-11-11 20:31] ardbiesheuvel commented on #1502
Actually, the ARM1176JZF-S TRM (which implements ARMv6 with the k extension) documents the TLS registers as well:

https://developer.arm.com/documentation/ddi0301/h/system-control-coprocessor/system-control-processor-registers/c13--thread-and-process-id-registers

I don't think other implementations of ARMv6k exist to begin with, so this is something we could consider fixing in the compiler. Howev

[2021-11-12 18:55] nathanchance opened #1503 "BUILD_BUG() failed with arm64's gki_defconfig"
During Android's mainline merges, I noticed [a patch](https://android-review.googlesource.com/c/kernel/common/+/1882090) removing some `BUILD_BUG()` calls that were triggering. This can be reproduced with a ToT LLVM and mainline kernel with Android's `gki_defconfig` so this is probably something that should be investigated and fixed.

[code]

Brief initial triage leads me to believe this is an LTO

[2021-11-13 05:27] nathanchance commented on #1503
There is probably a way better IR reproducer for this but this is what `cvise` came up with (it appears CFI related in reality):

[code]

cvise files here: https://github.com/nathanchance/creduce-files/tree/1475da898a391c5eeb19eaf57c5656530d21e920/cbl-1503

[2021-11-14 10:45] ms178 opened #1504 "arch/x86/crypto/chacha-x86_64.lto.o: warning: objtool fall through errors"
Are these two objtool warnings known? A quick search did not yield anything. I've seen these with LLVM/Clang-14 @ llvm-project 5b4bfd8c2415cb38983a56007bb424e063778460 and Linux Kernel 5.15.2.

Here are my customized config/Makefile:
[config.txt](https://github.com/ClangBuiltLinux/linux/files/7533569/config.txt)
[Makefile.txt](https://github.com/ClangBuiltLinux/linux/files/7533570/Makefile.txt)

a

[2021-11-14 21:10] nathanchance commented on #1504
cc @samitolvanen

[2021-11-14 23:37] h-vetinari commented on #236
This landed as the very last patch of the merge window (see "parent" of [5.16-rc1](https://github.com/torvalds/linux/commit/fa55b7dcdc43c1aa1ba12bca9d2dd4318c2a0dbf)) 🥳

[2021-11-14 23:45] GustavoARSilva commented on #236
Closing this issue now:

https://git.kernel.org/linus/dee2b702bcf067d7b6b62c18bdd060ff0810a800

[2021-11-14 23:45] #236 closed

[2021-11-15 15:45] nathanchance commented on #1503
It looks like this can be reproduced with just `defconfig` + `CONFIG_LTO_CLANG_THIN=y` + `CONFIG_CFI_CLANG=y` (our CI is now hitting this): https://github.com/ClangBuiltLinux/continuous-integration2/runs/4212005132?check_suite_focus=true

[2021-11-15 18:40] nathanchance commented on #1496
I have requested a52f8a59aef46b59753e583bf4b28fccb069ce64 be applied to 4.19+ to resolve this: https://lore.kernel.org/r/YZKpVkYpYfYfHD50@archlinux-ax161/

[2021-11-16 15:16] nathanchance commented on #1497
`drivers/power/reset` patch accepted: https://git.kernel.org/sre/linux-power-supply/c/644106cdb89844be2496b21175b7c0c2e0fab381

[2021-11-16 15:33] uweigand commented on #1420
This should now be supported on SystemZ as of:
https://reviews.llvm.org/D113341

[2021-11-16 15:37] uweigand commented on #1421
The Linux code in question:
[code]
deliberately creates an invalid instruction that will always trap at runtime.  Apparently this is intended to verify that the kernel exception handling logic works and catches this trap.

However, the LLVM inline assembler validates the instruction, and as it is indeed invalid, refuses to accept it.   I don't think it would be a good idea to remove that check fro

[2021-11-16 15:42] uweigand commented on #1422
From what I can see, the clang inline assembler normally accepts `/* ... */` comments.   It seems this particular error is related to the fact that the comment occurs in a macro invocation (and, not sure if that matters, that is nested within another macro definition).

That doesn't appear platform-specific, but seems a deficiency in LLVM's general support for assembler macros.

[2021-11-16 15:45] nathanchance opened #1505 "-Wimplicit-fallthrough in drivers/hwmon/tmp401.c"
[code]

Patch submitted: https://lore.kernel.org/r/20211116154438.1383290-1-nathan@kernel.org/

[2021-11-16 15:47] uweigand commented on #1423
This is also a macro problem it seems, it is triggered by the same code as issue #1422.  Looking at the code in vx-insn.h:
[code]

The `b2` assembler symbol here should be *defined* via the nested `GR_NUM` macro invocation:
[code]

But apparently that definition somehow never happened, and the assembler thinks `b2` is an undefined external symbol at this point, so it tries to create a relocation,

[2021-11-16 17:42] nickdesaulniers commented on #1489
@heyg are you building with `CC=clang` or `LLVM=1`? Do you set `LLVM_IAS=1` during your invocation of `make`?

[2021-11-16 17:53] nickdesaulniers commented on #1502
Is it just assembler sources producing this warning?  That flag _can't_ influence codegen of assembler sources.  I wonder if we can not omit the error for assembler sources?

[2021-11-16 17:54] roxell opened #1506 "ERROR: modpost: "__compiletime_assert_451" [drivers/net/phy/marvell10g.ko] undefined!"
build error on linux-next ARCH=arm64 and toolchain=clang-10 LLVM_IAS=0 https://builds.tuxbuild.com/20w3nK9R51fgYROXYljln032iD9/build.log.

4075a6a047bb ("net: phy: marvell10g: add downshift tunable support") is the offending patch.
Change builds "fine" http://ix.io/3FaL, but http://ix.io/3FaM fails.

ERROR: modpost: "__compiletime_assert_451" [drivers/net/phy/marvell10g.ko] undefined!
make[2]: ***

[2021-11-16 17:59] nathanchance commented on #1502
No, I believe that this warning happens in C source files as well (as you can tell from the `aspeed_g5_defconfig` build, `scripts/mod/empty.c` errors).

[2021-11-16 18:07] nathanchance commented on #1506
It is one of the `BUILD_BUG_ON()` calls in `__BF_FIELD_CHECK()` failing. This only happens with clang-10 I believe, likely for the same reason as #1293 (I do not really have time to reverse bisect to find out). It is possible that we could work around this in the kernel sources but I would really prefer to pursue bumping the minimum required version of LLVM to build the kernel to 11.x, as that is

[2021-11-16 18:26] nickdesaulniers commented on #1488
perhaps time to ping the maintainers about this one.

[2021-11-16 19:35] bwendling commented on #1302
Slight ping, as I'm running into this situation right now. Is there a status update on the various patches?

[2021-11-16 20:06] nathanchance commented on #1501
Fixed now: https://git.kernel.org/next/linux-next/c/bf9167a8b40c9cf463521da05342db81808c1b6e

[2021-11-16 20:06] #1501 closed, assigned to nobody

[2021-11-16 20:07] nathanchance commented on #1486
Fixed: https://git.kernel.org/linus/0a8ea235837cc39f27c45689930aa97ae91d5953

[2021-11-16 20:07] #1486 closed, assigned to nathanchance

[2021-11-16 20:11] nathanchance commented on #1476
Merged into mainline (and queued up for stable by AUTOSEL): https://git.kernel.org/linus/fd96e35ea7b95f1e216277805be89d66e4ae962d

[2021-11-16 20:11] #1476 closed, assigned to nathanchance

[2021-11-16 20:11] nathanchance commented on #1478
Merged into mainline: https://git.kernel.org/linus/502408a61f4b7eb4713f44bd77f4a48e6cb1b59a

[2021-11-16 20:11] #1478 closed, assigned to nathanchance

[2021-11-16 23:13] nickdesaulniers commented on #1422
Shouldn't the C preprocessor be dropping these comments? Perhaps this .h file is being included in a .s file rather than a .S?

Oh, boy, lib/raid6/s390vx.uc is including arch/s390/include/asm/vx-insn.h via `.include` assembler directive, from top level inline asm in C...

[2021-11-16 23:20] nickdesaulniers commented on #1421
We have something like `__inst_arm` for encoding problematic instructions (which I used in e9d54be9ad5ee2eed3056d8901ac4b3b115d95a5). Need to check if there's an equivalent for s390.

Looks like `mvcl %r1, %r1` would be encoded as:
[code]

[2021-11-16 23:22] nickdesaulniers commented on #1420
Nice! Thank you!

[2021-11-16 23:22] #1420 closed, assigned to nobody

[2021-11-17 00:29] nickdesaulniers commented on #1502
`aspeed_g5_defconfig` sets:
[code]
arch/arm/Makefile uses those to add
[code]
building with `make ... V=1`, I only see `-march=armv6k` being passed to clang (when building `scripts/mod/devicetable-offsets.s` and `scripts/mod/empty.o`).  I wonder why we're not passing `-march=armv7-a`, which should be avoiding the error from clang?

I guess KBUILD is re-assigning to `arch-y`, so `-march=armv7-a` is

[2021-11-17 07:13] ihalip commented on #1421
Looks easy enough, mind if I look at this?

[2021-11-17 07:24] heyg commented on #1489
Hi @nickdesaulniers ,
This issue had fixed.
solution "CONFIG_DEBUG_INFO_DWARF4=y“

Thanks a lot.

[2021-11-17 07:24] #1489 closed, assigned to nobody

[2021-11-17 11:21] ardbiesheuvel commented on #1502
ARMv6KZ == ARMv6K + TrustZone extensions, and this distinction is not really relevant for the kernel as it (usually) only runs in non-secure.

The problem is that permitting ARMv6K + Thumb (!= Thumb2) in the check permits the use of -mtp=cp15 with Thumb1 codegen, which will currently hit an assert in the backend. In the kernel, this never happens because we only support Thumb2 and only on v7+ CPUs

[2021-11-17 15:02] nathanchance commented on #1497
`drivers/usb/dwc2` patch accepted: https://git.kernel.org/gregkh/usb/c/310780e825f3ffd211b479b8f828885a6faedd63

[2021-11-17 17:50] ihalip commented on #1421
Submitted: https://lore.kernel.org/linux-s390/20211117174822.3632412-1-ilie.halip@gmail.com/T/#u

[2021-11-17 19:25] nathanchance commented on #1503
Marc Zyngier sent https://lore.kernel.org/r/20211117113532.3895208-1-maz@kernel.org/ to resolve this.

[2021-11-17 19:36] nickdesaulniers commented on #1502
https://reviews.llvm.org/D114116

EDIT: the above fixes aspeed_g5_defconfig. For iwmmxt.o, `-Wa,-mcpu` seems to be setting the sub arch version to something else.

EDIT2: `-Wa,-mcpu=iwmmxt` seems to be setting the sub arch version number to 0! oops! Even if it didn't, iwmmxt would be armv5te which would still be problematic.

EDIT3: https://reviews.llvm.org/D114124 disables the diagnostic for asm

[2021-11-17 19:43] nathanchance opened #1507 ".init.data has both ordered and unordered sections"
@roxell reported on IRC:

[code]

I reproduced it via the TuxMake arm64 clang-13 image (`docker.io/tuxmake/arm64_clang-13`) and it is reproducible on the `clang-nightly` image as well. A locally produced `clang-13` image based on Ubuntu 21.10 did not reproduce the issue:

[code]

The issue is not present with `LLVM=1`.

[2021-11-17 19:43] nickdesaulniers commented on #1475
also @roxell has sent a few patches for this.

[2021-11-17 20:03] ihalip commented on #1507
Could be related to the binutils version? https://sourceware.org/bugzilla/show_bug.cgi?id=26256 apparently fixed in 2.36.
I reproduced this too with 2.34.

[2021-11-17 20:20] ihalip commented on #1422
What about just removing the comments?
[code]

[2021-11-17 20:24] nathanchance commented on #1507
Yes, that is what I was thinking and that seems very likely as the root cause of the issue. It is possible that we can turn off this combination of configuration options in Kconfig, or just recommend `LLVM=1` over `CC=clang`.

[2021-11-17 20:27] nickdesaulniers commented on #1507
Is this an issue with newer GCC that supports -fpatchable-function-entries and older GNU binutils (2.34)? Or just newer clang plus older binutils? If the former, then perhaps the kconfig for -fpatchable-function-entries can be tied to binutils version. Otherwise, we may need kconfig checks for clang plus (lld or newer bfd).

[2021-11-17 22:26] nathanchance commented on #1505
Squashed into the offending commit: https://git.kernel.org/next/linux-next/c/3a15e4cee2be50626b482ff2a9ceae3889034222

[2021-11-17 22:26] #1505 closed, assigned to nathanchance

[2021-11-17 23:49] nickdesaulniers commented on #236
woah! great work @GustavoARSilva !

[2021-11-17 23:52] #1449 closed, assigned to nobody

[2021-11-18 02:48] nathanchance opened #1508 "2105a92748e83e2e3ee6be539da959706bbb3898 breaks x86_64 CFI"
This is more of an FYI issue for anyone interested in testing @samitolvanen 's out of tree CFI series for x86_64. Commit [2105a92748e8](https://git.kernel.org/linus/2105a92748e83e2e3ee6be539da959706bbb3898) ("static_call,x86: Robustify trampoline patching") breaks booting with `CONFIG_CFI_CLANG=y`:

[code]

That is the entire point of the commit so this will have to be fixed properly in the series

[2021-11-18 22:11] nathanchance commented on #1065
Fixed: https://git.kernel.org/linus/cf2197ca4b8c199d188593ca6800ea1827c42171

[2021-11-18 22:11] #1065 closed

[2021-11-19 17:41] ardbiesheuvel opened #1509 "Clang integrated assembler does not support .reloc directive"
The Clang integrated assembler accepts `.reloc` directives, but ignores them. This results in corrupted ELF object files.

For example,
[code]

should result in something like
[code]
but instead, we end up with
[code]

Upcoming Linux kernel changes for ARM will require support for this, or we won't be able to support vmap'ed stacks when building with Clang.

[2021-11-19 17:42] nathanchance commented on #1509
Something like https://github.com/llvm/llvm-project/commit/34d77516b826f07e964fab364b02511ba6002209 might be needed for the ARM backend?

[2021-11-19 17:43] nathanchance commented on #1509
Hmm, nevermind, I see https://github.com/llvm/llvm-project/commit/c389526171ebe7985ec670676922896d324448b5 exists...

[2021-11-19 18:03] ardbiesheuvel commented on #1509
llvm-mc and clang definitely treat these differently. The strange thing is that a relocation of the right type is emitted at the right place, but the associated entry in the symbol table is missing

[2021-11-19 19:35] nickdesaulniers commented on #1509
@MaskRay suggested declaring the symbol with `.global` first.

It looks like for the purpose of vmapped stacks that something like:
[code]
should do the trick.

@ardbiesheuvel also points out that clang is missing support for `:pc_g0_nc:`, `:pc_g1_nc:`, and `:pc_g2:`, which would be more concise than explicit `.reloc` directives. ie.
[code]

[2021-11-19 20:02] nickdesaulniers commented on #1506
I've kicked off an automated bisection so that we can at least identify+understand what "fixed" this in LLVM.

[2021-11-19 20:48] nickdesaulniers commented on #1506
https://github.com/llvm/llvm-project/commit/fa496ce3c6774097080c8a9cb808da56f383b938

first release branch containing the above is remotes/origin/release/11.x as expected.

[2021-11-19 20:52] nathanchance commented on #1506
Good to know that it is the same fix as #1293.

[2021-11-23 18:42] nathanchance opened #1510 "inlinable function call in a function with debug info must have a !dbg location"
The kernel test robot [reported](https://lore.kernel.org/r/202111200929.CBA2BzkH-lkp@intel.com/):

[code]

Initially, I thought that this required two files to reproduce, I chose `kernel/time/timekeeping.c` and `kernel/kcsan/core.c`. With that, `cvise` spits out:

[code]

but I can reproduce it without LTO when `__tsan_read8` is in the translation unit:

[code]

Initially, I did not think this was

[2021-11-23 21:07] nathanchance opened #1511 "Raising the minimum version of LLVM required to build the kernel to 11.0.0"
Recently, there have been a few issues that were fixed by a commit in LLVM 11:

https://github.com/ClangBuiltLinux/linux/issues/1293
https://github.com/ClangBuiltLinux/linux/issues/1506

https://github.com/llvm/llvm-project/commit/fa496ce3c6774097080c8a9cb808da56f383b938

It is likely that these issues could be worked around in the code but the kernel uses dead code elimination a lot, which that c

[2021-11-23 21:08] nathanchance commented on #1506
I think that https://github.com/ClangBuiltLinux/linux/issues/1511 is the right way to resolve this, instead of inserting hacks in the kernel to work around the issues with DCE with older `clang` versions. I am going to close this up for now, feel free to reopen if you disagree with my assessment.

[2021-11-23 21:08] #1506 closed, assigned to nobody

[2021-11-23 21:10] nathanchance commented on #1496
https://git.kernel.org/linus/a52f8a59aef46b59753e583bf4b28fccb069ce64 has been applied to stable kernels 4.19+ so this is resolved for now. If it comes back after @kees's fortify series, I will reopen.

[2021-11-23 21:10] #1496 closed, assigned to nobody

[2021-11-23 21:18] nathanchance commented on #1405
As PGO was rejected upstream in its current (#1074), I am going to close this; a new revision will have to incorporate the suggested changes to stay compatible with LLVM 14 as the change has already been merged: https://github.com/llvm/llvm-project/commit/a1532ed27582038e2d9588108ba0fe8237f01844

[2021-11-23 21:18] #1405 closed, assigned to nobody

[2021-11-24 00:40] nickdesaulniers commented on #1104
This should be fixed as of [DKMS 3.0.2](https://github.com/dell/dkms/commit/29c9e1f7b107c470a38024e626852428469b241f).
https://github.com/dell/dkms/commit/6ddb09145930b03c88e63f5930e718a33501024d

Note: there's also a requirement for dkms that `clang` be accesible from a `$PATH` allowlist.
https://github.com/dell/dkms/issues/124#issuecomment-955194338
https://github.com/dell/dkms/blob/41efbd50f635

[2021-11-24 00:40] #1104 closed

[2021-11-24 15:07] nathanchance opened #1512 "Assertion `isa<X>(Val) && "cast<Ty>() argument of incompatible type!"' failed"
The kernel test robot [reported an issue](https://lore.kernel.org/r/202111202042.9apiQnBk-lkp@intel.com/) with [a proposed change](https://git.kernel.org/peterz/queue/c/225f6499c3758b567032de5d12ee349b5ced4e7c) that uses asm goto with outputs.

[code]

`cvise` spits out:

[code]

This appears to be a regression between LLVM 11 and LLVM 12.

LLVM 11:

[code]

LLVM 12:

[code]

[code]

I intend to r

[2021-11-24 16:35] nathanchance opened #1513 "ld.lld: error: <inline asm>:25:2: macro 'extable_type_reg' is already defined"
The kernel test robot [reported](https://git.kernel.org/peterz/queue/c/04a71fc5f69191cb18f97c0ae4e4c941fe335f4e) an issue with [a proposed series](https://lore.kernel.org/r/20211110101325.303890153@infradead.org/):

[code]

It looks like something similar to commit [be604c616ca7](https://git.kernel.org/linus/be604c616ca71cbf5c860d0cfa4595128ab74189) ("arm64: sysreg: Make mrs_s and msr_s macros wor

[2021-11-24 18:36] Divyanshu-Modi opened #1514 "lld 14 fails to build with -plugin-opt=-warn-stack-size pass"
patch link: https://lore.kernel.org/all/20210312010942.1546679-1-ndesaulniers@google.com/

lld version: 14

error log
 ld.lld: error: -plugin-opt=-: ld.lld: Unknown command line argument '-warn-stack-size=2048'.  Try: 'ld.lld --hel>
  ld.lld: Did you mean '--asan-stack=2048'?
  make[2]: *** [../arch/arm64/kernel/vdso/Makefile:60: arch/arm64/kernel/vdso/vdso.so.dbg] Error 1
  make[1]: *** [arch/arm

[2021-11-24 18:38] #1514 closed, assigned to nobody

[2021-11-25 02:02] emojifreak opened #1515 "polly causes compiler runtime error on ARCH=x86,arm64,arm"
CONFIG_VIDEO_VIVID=m and ARCH=arm causes the following runtime error in the polly optimizer:

[code]

The following script should reproduce the above with clang-13 on Debian unstable amd64 and Debian unstable armhf.
I do not see this error for building kernels for amd64 or arm64.

[code]

[2021-11-25 18:20] nathanchance commented on #1515
I can reproduce this with LLVM 13 but not LLVM 14. `-mllvm -polly-opt-fusion=max` appears to be the root cause. Don't have much more time to triage at the moment, I'll double back around to this tomorrow or Monday.

[2021-11-26 18:02] nathanchance commented on #1515
Turns out it is reproducible on LLVM 14, `-mllvm -polly-opt-fusion=max` was [renamed](https://github.com/llvm/llvm-project/commit/07e7cb9433daa80e7a8b418cb334c663abe68202) so the new option is needed to reproduce it.

`cvise` spits out:

[code]

The `-msoft-float` was critical to reproducing this on upstream LLVM, Debian appears to set this flag by default.

LLVM's bug tracker is being moved to Gi

[2021-11-27 23:18] emojifreak opened #1516 "overlayfs/overlay.lto.o ld.lld: error: Never resolved function from blockaddress"
`make allmodconfig` in linux 5.15.5 with LTO produces the following error only with amd64 and arm64:

[code]

I could not reproduce the above error without `allmodconifg`. Usual configuration does not have the above error. Architectures other than am64 or arm64 does not give the above error, neither. This looks similar to #1215.  It can be reproduced with clang-13 in Debian unstable amd64 with the

[2021-11-27 23:19] emojifreak commented on #1215
amd64 in Linux 5.15.5 also produces this error by the script in https://github.com/ClangBuiltLinux/linux/issues/1516
With linux 5.15.5 allmodconfig, I only see this error with amd64 and arm64.

[2021-11-29 16:10] nathanchance opened #1517 "-Wuninitialized in drivers/fpga/stratix10-soc.c"
[code]

Link: https://lore.kernel.org/r/20211129161009.3625548-1-nathan@kernel.org/

[2021-11-29 17:03] nathanchance commented on #1511
Patch series submitted (might take a little bit to show up on lore): https://lore.kernel.org/r/20211129165803.470795-1-nathan@kernel.org/

[2021-11-29 19:22] nickdesaulniers opened #1518 "BUILD_BUG_ON failed: (BTRFS_MAX_COMPRESSED % PAGE_SIZE) != 0"
via [0day bot](https://lore.kernel.org/all/202111270255.UYOoN5VN-lkp@intel.com/)
[code]
I'm guessing that perhaps a randconfig produced some kind of bizarro config where PAGE_SIZE is a funky/unsupported value?

From [that randconfig](https://download.01.org/0day-ci/archive/20211127/202111270255.UYOoN5VN-lkp@intel.com/config) I see:
[code]

[2021-11-29 19:37] nathanchance commented on #1518
`CONFIG_TEST_KMOD` selects `CONFIG_BTRFS` without checking its dependencies (`PAGE_SIZE` less than 256KB), thus the error. I doubt this is a clang specific issue.

I think this would fix it, I can check later and split it out into a proper series (currently reducing #1215 and writing a blog post about it):

[code]

[2021-11-29 23:03] nathanchance commented on #1518
Series sent: https://lore.kernel.org/r/20211129230141.228085-1-nathan@kernel.org/

Sorry, I forgot to add a link to this in the third commit but given that this is not a clang specific issue, I am not too worried. Feel free to add it in a review.

[2021-11-30 05:00] nathanchance commented on #1215
I reduced down `fs/overlayfs/file.c` (as initially reported in #1516):

[code]

It does not reproduce without `-fsanitize=object-size`, which is why everyone is seeing it with `allmodconfig`.

[2021-11-30 05:01] nathanchance commented on #1516
As it is highly unlikely that this is a different root cause from #1215, I am going to close this in favor of that issue. I just reduced down `fs/overlayfs/file.c` and posted about it in that thread. Thank you for the report!

[2021-11-30 05:01] #1516 closed, assigned to nobody

[2021-11-30 16:19] nathanchance opened #1519 "-Wenum-conversion in net/wireless/reg.c"
Initially reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4369672398?check_suite_focus=true

[code]

Inquiry sent: https://lore.kernel.org/r/YaZLEEj2pUU%2FDhZD@archlinux-ax161/

[2021-11-30 16:19] nathanchance opened #1520 "-Wsometimes-uninitialized in fs/cachefiles/io.c"
Initially reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4369672398?check_suite_focus=true

[code]

Inquiry sent: https://lore.kernel.org/r/YaZOCk9zxApPattb@archlinux-ax161/

[2021-11-30 18:34] nathanchance opened #1521 "Unexpected -Wuninitialized with asm goto with outputs"
The kernel test robot reported [an issue](https://lore.kernel.org/r/202111300652.0yDBNvyJ-lkp@intel.com/) with a PowerPC patch taking advantage of asm goto with outputs. This appears to be a false positive, as the variable is only used on the fallthrough path. A simplified reproducer:

[code]

[2021-11-30 19:34] nickdesaulniers commented on #1521
@gwelymernans mentioned that the casting may be messing something up. It looks to me like an r-value is being used as an output, which looks to me like `-fheinous-gnu-extensions`.

[2021-11-30 21:24] bwendling commented on #1521
I'm not sure I agree. It doesn't warn if I use it as an l-value:

[code]

[2021-11-30 23:35] nickdesaulniers commented on #1290
b816b3db15f68690ee72a4a414624f8e82942b25 seems related, but it doesn't look like that fixed this.

`CONFIG_CC_CAN_LINK` is running scripts/cc-can-link.sh basically as:
[code]

So there's 2 different libraries missing here.
1. libgcc/libgcc_s
2. C runtime startup files.

So right off the bat, I suspect we may have two slightly different solutions for Android, since Android no longer distributes lib

[2021-11-30 23:47] nickdesaulniers commented on #1497
@phoebewang also fixed this "regression" in LLVM in https://reviews.llvm.org/D114162; since this was a "regression" in ToT LLVM and fixed in ToT LLVM, it doesn't/shouldn't matter whether the kernel patches land or not. Closing.

[2021-11-30 23:51] nathanchance commented on #1497
Doesn't that only resolve the error for 32-bit x86? These errors all happen with x86_64.

[2021-11-30 23:54] nickdesaulniers commented on #1512
reduced ir (via `llvm-reduce`):
[code]

[2021-12-01 00:06] nickdesaulniers commented on #1512
ah, the change that regressed this was strictly clang, so the emitted IR is irrelevant.  The difference in emitted IR between clang-11 and 12 looks like:
[code]

[2021-12-01 00:13] nickdesaulniers commented on #1512
the statement `if (Info.allowsRegister() && (GCCReg.empty() || Info.earlyClobber()))` in `EmitAsmStmt()` in clang/lib/CodeGen/CGStmt.cpp is what regressed this.

[2021-12-01 00:29] nickdesaulniers commented on #1512
hmmm...I wonder whether it's clang producing one less constraint than necessary, or if `SelectionDAGBuilder::visitInlineAsm` is choking on [valid IR](https://llvm.org/docs/LangRef.html#input-constraints)?

[2021-12-01 03:12] phoebewang commented on #1497
These errors on x86_64 are intended to match with GCC. https://godbolt.org/z/MhnnPa645
Doesn't GCC fail the same way to the code?

[2021-12-01 03:47] nickdesaulniers commented on #1512
23c2a5ce33f0f's change to `SelectionDAGBuilder::visitInlineAsm` regarding `NumMatchingOps` is suspicious.

clang may no longer generate tied inputs (those numbered constraints) for `"+r"` output constraints, but I think the terminating condition is perhaps incorrect for when `SelectionDAGBuilder::visitInlineAsm` should try to parse an argument as a `BlockAddress`.

I need to spend more time unders

[2021-12-01 07:25] bwendling commented on #1521
https://reviews.llvm.org/D114848

[2021-12-01 08:27] emojifreak opened #1522 "DEBUG_INFO_COMPRESSED=y causes ld.lld: error: arch/x86/entry/vdso/vgetcpu-x32.o:(.debug_line_str): uncompress failed: zlib error: Z_DATA_ERROR"
`CONFIG_DEBUG_INFO_COMPRESSED=y` (and possible LTO and allmodconfig) gives the following error in Linux 5.15.5 compiled on Debian unstable amd64 (llvm is 13):

[code]

The above error should be reproducible by the following script:

[code]

[2021-12-01 11:14] telans commented on #1522
See: https://github.com/ClangBuiltLinux/linux/issues/514

As far as I can tell, this isn't even related to the kernel at all, it seems like an llvm-objcopy/lld bug to me. I can reproduce this really easily (using latest ToT):

[code]

[code]

The commands were stripped down from what the kernel uses.

[code]

[2021-12-01 11:33] telans commented on #514
Copying from #1522

---
As far as I can tell, this isn't even related to the kernel at all, it seems like an llvm-objcopy/lld bug to me. I can reproduce this really easily (using latest ToT):

[code]

[code]

The commands were stripped down from what the kernel uses.

[code]

[2021-12-01 13:08] emojifreak commented on #1522
Thanks. It seems better to close this.

[2021-12-01 13:08] #1522 closed, assigned to nobody

[2021-12-01 15:13] nathanchance commented on #1497
@phoebewang in the two instances that `clang` caught in the kernel, GCC does not error: https://godbolt.org/z/rfjb5b4rM

GCC does not even warn, which seems like a mistake. I do not really think it is wrong for `clang` to error here (the kernel should not be using a floating point literal) and we already have the patches queued up so I do not really think there is much to do here, unless you think

[2021-12-01 15:32] nathanchance commented on #514
Ah, good point, this is reproducible with ToT still with `x86_64_defconfig` + `CONFIG_DEBUG_INFO_COMPRESSED=y` + `CONFIG_X86_X32=y`:

[code]

[2021-12-01 15:57] nathanchance commented on #1519
https://lore.kernel.org/r/YadvTolO8rQcNCd%2F@gimli.kloenk.dev/

[2021-12-01 16:11] nathanchance commented on #1520
Now fixed in the author's tree, should be in -next tomorrow: https://git.kernel.org/dhowells/linux-fs/c/5746555a0724a9ed5cbbd03b32f781f3b86ede6a

[2021-12-01 16:32] nathanchance commented on #1521
That patch resolves the warnings in the problematic 0day config and does not introduce new ones for that config or x86_64 allmodconfig so LGTM on that front.

Curiously, I am surprised `clang` won't warn about this, either before or after the patch:

[code]

[2021-12-01 19:12] bwendling commented on #1521
Hmm...that's a bug for sure, but unrelated to this one.

[2021-12-01 19:35] nickdesaulniers commented on #1512
https://reviews.llvm.org/D114895

I should remove the fixes tag; we may need a kernel side fix for this, too.

[2021-12-01 19:36] nathanchance commented on #1439
Looks like that is exactly what is happening. `cvise` spits out:

[code]

It seems like `asm goto` is messing this up:

[code]

Perhaps this is a similar issue to https://llvm.org/bz51682?

[2021-12-01 20:13] nathanchance commented on #1512
That patch resolves the crash under the original configuration and does not regress `allmodconfig`. I can test other configurations as well.

[2021-12-01 20:41] nickdesaulniers commented on #1512
I appreciate the testing, as always and thanks for formalizing the report here, too.

There's been feedback on the bug; might as well wait for further changes to the patch at this point.

[2021-12-01 20:49] nathanchance commented on #1512
I'll test the next revision when it is ready then!

[2021-12-01 22:02] rickyz commented on #1215
I took a look at this bug for fun. Here's a hand-minimized repro:
[code]

$ clang -O2 -flto -c repro.c -o repro.i
$ ld.lld repro.i
ld.lld: error: Never resolved function from blockaddress (...)

Relevant part of the LLVM IR, generated with:
$ clang -O2 -flto -c repro.c -fno-discard-value-names -S
[code]

We can see clang figured out that the first argument to `fun()` is always the same, so it inli

[2021-12-02 00:59] emojifreak commented on #1510
The same (?) error is reproduced with DEBUG_INFO=y + LTO + allmodconfig as below. The below log is for compiling arm64 5.15.5 kernel. Compiling environment is Debian unstable amd64 with LLVM13:

[code]

Reproduction script is below:

[code]

[2021-12-02 07:29] phoebewang commented on #1497
@nathanchance I misunderstood your intention. That's fine. Thanks for your explanation.

[2021-12-02 13:33] ihalip commented on #1421
Now in linux-next. https://git.kernel.org/pub/scm/linux/kernel/git/s390/linux.git/commit/?h=fixes&id=53ae7230918154d1f4281d7aa3aae9650436eadf

[2021-12-02 15:24] nathanchance commented on #1510
Yes, I suspect that is going to be the same root cause because it is the same message with a sanitizer (in this case, KCOV).

[2021-12-02 18:37] nathanchance commented on #1512
The latest version of D114895 still fixes the original report/configuration and I do not see any new regressions across any of the configurations that I test.

[2021-12-02 19:13] emojifreak commented on #1515
The same error is reproduced with `drivers/net/wireless/realtek/rtw88/phy.c` on x86 and arm64 with a bit exotic optimization options. Error is as below:

[code]

Reproduction script is as below:

[code]

[2021-12-03 06:25] emojifreak opened #1523 "LTO + `-Oz` trigger seg. fault in ld.lld-13"
LTO and `-Oz` optimization flag trigger segmentation fault in ld.lld-13 for making `drivers/gpu/drm/amd/amdgpu/amdgpu.lto.o` for arm64 architecture. This seems unreported yet. The error message is as below:

[code]

This can be reproduced by:

[code]