[2022-04-27 20:39] nickdesaulniers commented on #1215
Let's update the CLANG_VERSION for full LTO, once clang-15 is generally available in distributions?

[2022-04-27 20:43] nickdesaulniers commented on #1627
via `man 1 nm`:
[code]
(That's not an explanation as to _why_ though).

I interpret this point more so as "let's figure out why the decompressor goes wrong under LTO BEFORE sending arm32 LTO support upstream, so that we can drop [the proposed diff](https://github.com/ClangBuiltLinux/linux/issues/1627#issuecomment-1109929762) to `arch/arm/boot/compressed/Makefile`."

[2022-04-27 21:01] nathanchance commented on #1215
Sure, although that will likely be quite a while, given that LLVM 15.0.0 has to first be released. We can consider doing it sooner if we receive new reports about this issue.

[2022-04-27 22:51] nathanchance commented on #1626
Turns out I had some time today :)

https://nathanchance.dev/posts/package-standalone-linux-kernel-with-abs/

@0x647262 that is how to actually generate the `.pkg.tar.zst` package, I will try my best to explain the process of bisecting the object files in a separate post tomorrow.

[2022-04-28 18:33] nakos937 commented on #1627
Also, I forgot to mention that I had enabled 32-bit ARM support by doing an ugly hack on the arch/Kconfig file and removing all the needed dependency factors for "HAS_LTO", so if we send this patch upstream, a proper patch for enabling ARM32 LTO should be included in the pull request, too.
I'd like to report that it has been working for two days or so now without a hiccup, but more in-depth testin

[2022-04-29 14:16] nathanchance commented on #1574
LLVM 14.0.3 because the version was not bumped properly in `llvm org-14.0.2`: https://discourse.llvm.org/t/llvm-14-0-3-release/62133

[2022-04-29 20:11] nathanchance commented on #1626
Only a day late:

https://nathanchance.dev/posts/bisect-compiler-flag-problem-linux-kernel/

Honestly, I am not super happy with how I described the process but I could not come up with anything that I liked better, it is better than nothing, and I am willing to update it based on any questions that might come up during the process!

[2022-05-03 15:20] nathanchance opened #1628 "-Wuninitialized and -Wsometimes-uninitialized in mm/shmem.c"
[code]

Reported upstream: https://lore.kernel.org/YnFGuPWgT7tT7iAV@dev-arch.thelio-3990X/

[2022-05-04 22:41] nathanchance commented on #1510
For KCSAN: https://reviews.llvm.org/D124937

[2022-05-04 23:23] 0x647262 commented on #1626
So I've narrowed the bug down to a single directory: `drivers/gpu/drm/i915/gvt`, but I've ran into a bit of a snag... When adding:

[code]

To the top of the directory's Makefile, the issue is resolved. However, when I add [individual cflags](https://www.kernel.org/doc/html/latest/kbuild/makefiles.html#compilation-flags) for the all of the resulting object files the module compiles, but the kernel

[2022-05-04 23:38] nathanchance commented on #1626
Awesome!

Ah `drivers/gpu/drm` Makefiles... :(

In this particular case, it is because of the way that `drivers/gpu/drm/i915/Makefile` adds the `drivers/gpu/drm/i915/gvt` objects to the build (I can explain in depth if you care but I am time constrained at the moment). You'll want to do something like:

[code]

then work off of `drivers/gpu/drm/i915/Makefile`.

For me, that produces:

[code]

and

[2022-05-04 23:41] 0x647262 commented on #1626
TIL!

That's perfect, I'll poke at this some more tonight!

[2022-05-05 09:20] nakos937 commented on #1627
Will be deployed to 500+ of these devices soon, as it passed preliminary testing.
This is unrelated to LTO, but I'd like to ask because there may be an easy solution;
I have encountered a different problem: new kernels after the  5.4 series call the first mmc card mmcblk1 instead of mmcblk0, so a boot with the existing u-boot configuration fails, because mmcblk0p1 is hard-coded as the kernel parti

[2022-05-05 15:28] nathanchance opened #1629 "-Wsometimes-uninitialized in drivers/i2c/busses/i2c-at91-master.c"
[code]

Patch submitted: https://lore.kernel.org/20220505152738.1440249-1-nathan@kernel.org/

[2022-05-05 18:27] nickdesaulniers commented on #1442
Retesting w/ clang-15 now that
https://github.com/llvm/llvm-project/issues/41914 is closed out by
https://github.com/llvm/llvm-project/commit/18fd09ab64b07c45d0373307e37f7c96b3984183.

I can no longer reproduce.

Link is dead. Dropped anyways in https://github.com/ClangBuiltLinux/continuous-integration2/pull/345.

[2022-05-05 18:27] #1442 closed, assigned to nickdesaulniers

[2022-05-05 18:29] nickdesaulniers commented on #1589
Retesting w/ clang-15 now that
https://github.com/llvm/llvm-project/issues/41914 is closed out by
https://github.com/llvm/llvm-project/commit/18fd09ab64b07c45d0373307e37f7c96b3984183.

My initial test case is still reproducible. :(

#1442 is no longer reproducible, so indeed slightly different issues. I wonder if Atom's scheduling model has the same issue?

[2022-05-05 18:32] nickdesaulniers commented on #1589
No.

https://github.com/llvm/llvm-project/blob/eb3136f022b3e5061fe790e7886f4bb592d8a1d1/llvm/lib/Target/X86/X86ScheduleAtom.td#L178

[2022-05-05 18:41] nickdesaulniers commented on #1510
I think all of the issues are fixed here; there are two conflating reports.

The initial report is specifically KCSAN. https://reviews.llvm.org/D124937 just landed and will ship in clang-15.

The instance from @emojifreak I fixed back in https://reviews.llvm.org/D100158, which shipped as 4914c9836765532ffaec9c85bc57690dbdaeb50f in release/13.x.

[2022-05-05 18:41] #1510 closed, assigned to melver, nickdesaulniers

[2022-05-05 18:53] nickdesaulniers commented on #1627
Exciting! Any measurements you can share? That would help us when sending a patch upstream.

Perhaps that's a better question for #armlinux on Libera chat IRC.

[2022-05-05 19:12] kees commented on #907
There is a workaround in place currently, and the future KCFI work will make this a non-issue.
https://lore.kernel.org/linux-hardening/20220429203644.2868448-12-samitolvanen@google.com/T/#u

[2022-05-05 19:12] #907 closed

[2022-05-05 19:13] kees commented on #739
This is currently worked around, and will be a non-issue once KCFI lands:
https://lore.kernel.org/linux-hardening/20220429203644.2868448-8-samitolvanen@google.com/T/#u

[2022-05-05 19:13] #739 closed

[2022-05-06 15:05] nathanchance opened #1630 "-Wsometimes-uninitialized in drivers/nvme/host/ioctl.c"
[code]

Patch submitted: https://lore.kernel.org/20220506150357.2443040-1-nathan@kernel.org/

[2022-05-06 16:38] nathanchance commented on #1589
There was [another report](https://lore.kernel.org/202205020637.JVJo3blw-lkp@intel.com/) recently of this issue that appears to only be visible under full LTO. It is easily reproducible with `i386_defconfig`  + `CONFIG_LTO_CLANG_FULL=y` + `CONFIG_X86_GENERIC=y` (which adds `-mtune=generic`)

[code]

My toolchain has https://github.com/llvm/llvm-project/commit/18fd09ab64b07c45d0373307e37f7c96b39841

[2022-05-06 21:29] nickdesaulniers commented on #1589
Smaller reproducer for the `curve25519-x86_64.c` case:
[code]

[2022-05-06 22:41] nickdesaulniers commented on #1583
Note to self:
`-mregparm=3` ends up:
1. setting the `inreg` parameter attribute, and
2. setting the `!{i32 1, !"NumRegisterParameters", i32 3` module attribute.

[2022-05-08 09:24] kees opened #1631 "casting from randomized structure pointer type 'struct neighbour *' to 'struct dn_neigh *'"
This warning was reported by lkp:
https://lore.kernel.org/lkml/202205041247.WKBEHGS5-lkp@intel.com

[code]

This looks like a false positive. The position of the casts aim at the same structure, so the cast warning isn't meaningful:

[code]

[2022-05-08 10:23] kees commented on #1631
Actually, nevermind! This should just be using container_of(). :)
https://lore.kernel.org/netdev/20220508102217.2647184-1-keescook@chromium.org/T/#u

[2022-05-08 10:23] #1631 closed, assigned to bwendling

[2022-05-09 18:21] nickdesaulniers commented on #774
@nathanchance 's [diff](https://lore.kernel.org/llvm/YnlYemdzBDCobK%2Fd@dev-arch.thelio-3990X/) might be a solution here, too.

[2022-05-09 20:47] nathanchance commented on #774
https://lore.kernel.org/20220509204635.2539549-1-nathan@kernel.org/

[2022-05-09 21:42] nathanchance commented on #1603
After writing and sending https://lore.kernel.org/20220404210804.3537324-1-nathan@kernel.org/, I realized that the window of breakage is just clang 14.0.0, as it contains https://github.com/llvm/llvm-project/commit/118f966b46cfb60897b56a9878e1c68fd0e2afa4, which allows `-Wdeclaration-after-statement` to work with `-std=c99` and later. In other words, previous versions of `clang` will not show `-Wd

[2022-05-09 22:23] #1603 closed, assigned to nathanchance

[2022-05-09 22:23] nickdesaulniers commented on #1603
Yep, folks using 14.0.0 should move to 14.0.1 (or let us know why they cannot).

[2022-05-10 01:48] nickdesaulniers commented on #1583
https://reviews.llvm.org/D125285

[2022-05-10 20:37] nathanchance commented on #1630
The fixup was squashed in and it is available in next-20220509.

[2022-05-10 20:37] #1630 closed, assigned to nathanchance

[2022-05-10 20:39] nathanchance commented on #1586
AArch64: https://reviews.llvm.org/D124836

[2022-05-10 20:40] nathanchance commented on #1504
Merged into mainline: https://git.kernel.org/linus/4327d168515fd8b5b92fa1efdf1d219fb6514460

[2022-05-10 20:40] #1504 closed, assigned to nobody

[2022-05-10 20:41] nathanchance commented on #1437
We have not seen this with other configurations and Fedora's i686 configuration has been removed from CI because it does not exist upstream anymore. Closing for now, we can reopen if it appears later.

[2022-05-10 20:41] #1437 closed, assigned to nobody

[2022-05-10 23:39] nickdesaulniers commented on #1583
Waiting on backport in https://github.com/llvm/llvm-project/issues/53645#issuecomment-1123015309.

I tested this quickly:
[code]
with `ARCH=i386 make LLVM=1 -j72` and thinLTO. I should do version checks for these instead in a more formal kernel patch (but not today 😴 )

clang-15 it is.

[2022-05-11 07:58] michaelopdenacker opened #1632 "arm64: error: unknown register name 'x16' in asm"
Hello,
FYI, I got this error while trying to compile Linux 5.18-rc6 with Clang 14 on Ubuntu 22.04.
export ARCH=arm64
export LLVM=1
make Image.gz

---
./arch/arm64/include/asm/archrandom.h:156:3: error: unknown register name 'x16' in asm
./include/linux/arm-smccc.h:558:4: note: expanded from macro 'arm_smccc_1_1_invoke'
                        __fail_smccc_1_1(__VA_ARGS__);                  \

[2022-05-11 08:35] michaelopdenacker commented on #1632
Eventually, I don't have this error anymore.
If you have something similar, double check your environment variables
Closing this bug.

[2022-05-11 08:35] #1632 closed, assigned to nobody

[2022-05-11 15:01] nathanchance commented on #1632
Just a tip, some variables don't work when exported before running `make`. I always recommend specifying your variables as arguments to `make` to avoid issues like this:

[code]

[2022-05-11 15:05] michaelopdenacker commented on #1632
Hey, thanks for the tip!

[2022-05-11 16:42] nathanchance commented on #1628
This is now fixed in `next-20220511` with v2 of the problematic series.

[2022-05-11 16:42] #1628 closed, assigned to nobody

[2022-05-11 17:07] nickdesaulniers opened #1633 "-mharden-sls=all for x86"
commit e463a09af2f0 ("x86: Add straight-line-speculation mitigation")

added support for `-mharden-sls=all`. This has been implemented in clang and LLVM, but only for --target=arm and --target=aarch64.

cc @phoebewang

[2022-05-11 17:33] nickdesaulniers commented on #1633
gcc bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102952
https://grsecurity.net/amd_branch_mispredictor_part_2_where_no_cpu_has_gone_before
The value `'direct-jmp'` is important to support in additional to all.

[2022-05-11 18:50] nathanchance commented on #774
v2: https://lore.kernel.org/20220511185001.3269404-1-nathan@kernel.org/

[2022-05-11 19:02] nickdesaulniers opened #1634 "riscv 9th arg calling convention issue"
Reported here: https://lore.kernel.org/llvm/20220510065336.hlfjrc25ajed5zj4@M910t/

Filing a bug to track the resolution of this.

[2022-05-11 19:04] nickdesaulniers commented on #1627
@MaskRay any idea if it's intentional that LTO promotes bss symbols from STB_LOCAL to global STB_GLOBAL?

[2022-05-11 19:57] nickdesaulniers commented on #1356
https://lore.kernel.org/lkml/20220511120532.2228616-1-hca@linux.ibm.com/ looks like it might address this.

[2022-05-11 19:57] nathanchance commented on #1422
Fix queued: https://git.kernel.org/s390/c/964bc5dbe602a62b7bbd67624c4b8f7a4ea692b2

[2022-05-11 22:17] MaskRay commented on #1627
I haven't looked into the case in the PR, but in general: ThinLTO may change symbols from STB_LOCAL to STB_GLOBAL.

If a function accessing a local variable is imported to another compile unit, the only way for the two compile units to see the same copy is to promote the variable to a global variable, then let the linker resolves references to the same copy.

See _4.1 Promotion of Symbols with Loc

[2022-05-11 23:28] nickdesaulniers commented on #1627
Thanks!

Right, I'm guessing it promotes+renames to avoid any kind of collision at the global level. Edit, yep the paper says exactly that.

I think that's satisfactory to include in a commit message.

[2022-05-12 14:42] nathanchance commented on #1627
For what it's worth, that issue is also reproducible with full LTO but I will still try to draft up a series for it, once I can verify there are no problems on real hardware and run it through a few other configurations.

[2022-05-12 20:01] nathanchance commented on #1356
I think this specific patch from that series will fix this... https://lore.kernel.org/20220511120532.2228616-3-hca@linux.ibm.com/

Marking it as such.

[2022-05-12 21:18] dileks commented on #1574
Just FYI...
`symlink libclang.so.14 -> libclang.so.13 #54853`

https://github.com/llvm/llvm-project/issues/54853

[2022-05-12 21:19] dileks commented on #1574
@tstellar

Looks like there is a `LLVM version 14.0.4` but not tagged in `release/14.x`.

[2022-05-12 21:29] nathanchance commented on #1627
I also see a spew of warnings:

[code]

[2022-05-12 21:40] nathanchance commented on #1627
Also, the issue is that global symbols are being changed to local symbols, not the other way around, if I am understanding the check and the commit message of both 5de813b6cd06460b337f9da9afe316823cf3ef45 and 8d7e4cc2c8ea1d180d32d902eb899f27d3ee53d7. Is that still expected with LTO? I guess that is expected if the global symbol is not referred to outside of its one translation unit?

[2022-05-12 21:43] nickdesaulniers commented on #1627
re `arch/arm/mach-at91`, `arch/arm/configs/at91_dt_defconfig` has:
[code]
I wonder if the arch version isn't being set correctly for LTO, or if explicit `.arch` directives would help. i.e.
https://lore.kernel.org/linux-arm-kernel/20210928154143.2106903-14-arnd@kernel.org/

Probably a similar issue for `plat-versatile`.

Though `perf_event_v7.o` sounds like it's definitely supposed to be for v7; I

[2022-05-13 04:11] tstellar commented on #1574
@dileks Where are you seeing this?

[2022-05-13 04:34] dileks commented on #1574
@tstellar

[code]

[2022-05-13 04:36] dileks commented on #1574
@tstellar

`Bump version to 14.0.4`

https://github.com/llvm/llvm-project/commit/5eb22621bcd2c00514e2138ca0d541c229f08a92

[2022-05-13 06:38] tstellar commented on #1574
@dileks This is expected, we always bump the version right after creating a release.

[2022-05-13 16:52] nathanchance opened #1635 "__aeabi_uldivmod in drivers/mtd/parsers/scpart.o"
The 0day bot reported an instance of `__aeabi_uldivmod ` in `drivers/mtd/parsers/scpart.c`, which is now visible in -next: https://lore.kernel.org/202205130802.ScXfu9JP-lkp@intel.com/

Looking at the file, I don't see any modulo or division operators? `mtd_block_isbad()` ultimately leads to one but it is handled with `do_div()` already.

https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-n

[2022-05-13 17:01] nathanchance opened #1636 "__mulodi4 in lib/overflow_kunit.o"
Initial reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/6426504602?check_suite_focus=true

For versions of clang that do not have https://github.com/llvm/llvm-project/commit/5c91b98c5d45243352bf10262454bcac77cd3fed (i.e. older than clang 14.0.0), `ARCH=arm allmodconfig` breaks:

[code]

Caused by https://git.kernel.org/kees/c/3b0492c33634ac2cc9ff3cb32e20205c4f8977c1

[2022-05-13 17:54] dileks commented on #1574
@tstellar OK, I was (un)sure this is the last step before creating a new release.

[2022-05-13 20:00] nathanchance commented on #1635
i386 has the same issue:

[code]

The `cvise`'d reproducer above does not reproduce that issue, so I ran the reduction again and ended up with:

[code]

which reproduces the issue on both ARM and i386.

ARM GCC:

[code]

ARM Clang:

[code]

i386 GCC:

[code]

i386 Clang:

[code]

[2022-05-13 21:01] nickdesaulniers commented on #1636
__mulodi4 is a 64b mutliply with overflow check helper that only exists in compiler-rt and not libgcc.

I thought I removed the cases of this from LLVM, but as I have to do so in a backend specific manner, I may have missed arm32.

[2022-05-13 21:03] nickdesaulniers commented on #1635
Is this a regression on the clang side?

[2022-05-13 21:03] nathanchance commented on #1636
You did, hence the comment:

This issue is not visible with `clang-14` or `clang-15`:

https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/2319559588
https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/2319477162

[2022-05-13 21:05] nathanchance commented on #1635
I don't think so, it is visible with `clang-11`:

https://github.com/ClangBuiltLinux/continuous-integration2/runs/6425305495?check_suite_focus=true

[code]

[2022-05-13 21:16] nickdesaulniers commented on #1636
ah, with old clangs BEFORE I fixed this in LLVM. ok, then we should either disable the test, or those two 64b test cases with older releases of clang.

[2022-05-13 21:18] nickdesaulniers commented on #1635
the reproducers look like they rely on signed integer overflow, which is UB

[2022-05-13 21:18] nathanchance opened #1637 "-Wframe-larger-than in lib/maple_tree.c"
Also reported by the 0day bot a couple of times:

https://lore.kernel.org/202204051827.GTlRliPg-lkp@intel.com/
https://lore.kernel.org/202204300731.xnlH7nv1-lkp@intel.com/

[code]

I think we are just getting murdered by some larger structures on the stack + inlining, as almost every function in `lib/maple_tree.c` is marked with `inline`...

<details>
<summary><code>frame_larger_than.py</code> + <

[2022-05-13 21:20] nickdesaulniers commented on #1637
Both

        616     struct maple_big_node           b_node

and

        256     struct maple_node               reuse

are glaringly large stack allocations.

[2022-05-13 21:27] nathanchance commented on #1635
It looks the reproducer corresponds to:

[code]

I am not sure that the original code is relying on signed integer overflow? Regardless, the kernel builds with `-fno-strict-overflow`, which implies `-fwrapv`, so does that really matter here?

[2022-05-13 21:33] nathanchance commented on #1637
Marking `mas_wr_node_store` as `noinline` resolves it but I doubt that will be acceptable upstream. Maple Tree is designed to be used in the memory management subsystem from what I can tell so I am not sure that dynamic memory allocations are acceptable.

[2022-05-16 17:07] nathanchance opened #1638 "-Wunknown-directives in arch/x86/crypto/aesni-intel_asm.S"
After https://github.com/llvm/llvm-project/commit/a247ba9d15635d96225ef39c8c150c08f492e70a, there is a warning in 32-bit x86 builds with `CONFIG_CRYPTO_AES_NI_INTEL`:

[code]

I have commented upstream to see what the developers of the warning say but we might need to just workaround this in the kernel: https://reviews.llvm.org/D124726#3516346

[2022-05-16 20:50] nathanchance opened #1639 ""objtool: no non-local symbols !?" after LLVM commit badd088c57d7d"
When building x86_64 allmodconfig on `linux-5.17.y` after commit [60d2b0b1018a](https://git.kernel.org/stable/c/60d2b0b1018a274fc3af1a90d46af4f2094f7e13) ("objtool: Fix code relocs vs weak symbols") + https://github.com/llvm/llvm-project/commit/badd088c57d7d18acd337b7868fe8c7974c88c5b, I see objtool warnings/errors along the lines of

[code]

I have started a thread upstream around this: https://l

[2022-05-16 21:45] nathanchance opened #1640 ""expected assembly-time absolute expression" in arch/riscv/include/asm/alternative-macros.h"
After commit [49b290e430d3](https://git.kernel.org/riscv/c/49b290e430d390bacf7d3792d5654fa4b3212926) ("riscv: prevent compressed instructions in alternatives") in -next:

[code]

Same issue as #1078 and #1347. Patch submitted: https://lore.kernel.org/20220516214520.3252074-1-nathan@kernel.org/

[2022-05-16 21:46] nathanchance opened #1641 ""invalid input constraint '0' in asm" in arch/riscv/include/asm/errata_list.h"
After commit [a35707c3d850](https://git.kernel.org/riscv/c/a35707c3d850dda0ceefb75b1b3bd191921d5765) ("riscv: add memory-type errata for T-Head") in -next:

[code]

[2022-05-16 22:49] nathanchance commented on #1638
https://github.com/llvm/llvm-project/commit/45e01ce5fe6a5e4dc25ffdf626caa344fbcb93dd

[2022-05-16 22:49] #1638 closed, assigned to nobody

[2022-05-16 23:48] nathanchance opened #1642 "-Wframe-larger-than in sound/soc/intel/avs/path.c"
Initially reported by KernelCI: https://lore.kernel.org/628249e8.1c69fb81.d20fd.02ea@mx.google.com/

On arm64 allmodconfig:

[code]

I don't see any particularly large objects on the stack with `frame_larger_than.py`, could just be an inlining issue?

<details>
<summary><code>frame_larger_than.py</code> output</summary>

[code]

</details>

It seems like something might be going on with `avs_path_

[2022-05-17 09:58] michaelopdenacker opened #1643 "arm64, x86_64: why are CONFIG_LTO_CLANG_FULL kernels much bigger?"
Greetings

I expected the LTO optimized kernels to be smaller because of the elimination of dead code, as described on https://www.llvm.org/docs/LinkTimeOptimization.html

However, the LTO optimized compressed kernels are actually bigger.

On arm64, Linux 5.18-rc7, defconfig configuration, the Image.gz file size is:
using gcc 12:  12149327 bytes
using clang 14 with CONFIG_LTO_NONE=y:  12197028 byt

[2022-05-17 14:44] nathanchance commented on #1643
Hi Michael! As far as I am aware, the size increase comes from the linker’s ability to inline more aggressively, which is why you see a larger increase with full LTO over ThinLTO, as full LTO is basically like `cat`ing all object files together.

[2022-05-17 16:48] nickdesaulniers commented on #1643
Consider enabling CONFIG_LD_DEAD_CODE_ELIMINATION on top of LTO, though the resulting image might not necessarily boot (LD_DEAD_CODE_ELIMINATION has been hit or miss IMO).

[2022-05-17 16:51] nickdesaulniers commented on #1642
I wonder why memcmp has so many local variables? Also looks like there's tons of `__mptr`. Hmm...

[2022-05-17 17:02] nickdesaulniers commented on #1641
See upstream response.

[2022-05-17 17:03] nickdesaulniers commented on #1641
Was there a kernel ML thread about this?

[2022-05-17 17:07] nathanchance commented on #1641
A thread for the original patch or this issue? I didn't report anything upstream, I just filed it here initially. The patch thread is here: https://lore.kernel.org/20220511192921.2223629-13-heiko@sntech.de/

I'm going to be offline for the rest of today but I can either send Jessica's suggested diff (if it works) or report the problem upstream tomorrow, unless someone else beats me to it today.

[2022-05-17 17:08] nathanchance commented on #1641
We still need to resolve this build failure so I am reopening the issue, even if there is nothing to fix on the toolchain side.

[2022-05-17 17:12] nathanchance commented on #1642
I see `__mptr` in `container_of`, which might be used in that file through includes (I don't see any references to `container_of` in the actual source file).

[2022-05-17 17:38] michaelopdenacker commented on #1643
Thanks for the tip!
On arm64, I tried to enable CONFIG_LD_DEAD_CODE_ELIMINATION (after adding "select HAVE_LD_DEAD_CODE_DATA_ELIMINATION" to arch/arm64/Kconfig) together with CONFIG_LTO_CLANG_FULL, and here's the size I get for Image.gz:
15301033 (vs 16097599 for LTO_CLANG_FULL alone)
That's -5%, but that's still bigger than with LTO_NONE.

[2022-05-17 17:39] michaelopdenacker commented on #1643
Hi Nathan. It makes sense, thanks!

[2022-05-17 21:18] nickdesaulniers commented on #1643
Some other thoughts:
LTO enables `-ffunction-sections` and `-fdata-sections` (so does `CONFIG_LD_DEAD_CODE_ELIMINATION` IIRC). This does waste space IIRC due to ELF section alignment requirements.

Also, even if many kernel interfaces are actually unused ever during runtime, if the interface is exported, the linker can't know that a module will never need such a symbol at runtime. If symbols are r

[2022-05-17 21:22] nickdesaulniers commented on #1315
I sent out https://lore.kernel.org/llvm/20220516210954.1660716-1-ndesaulniers@google.com/ for this.

[2022-05-18 01:10] nathanchance commented on #1639
Peter has a diff that fixes this:

https://lore.kernel.org/YoPCTEYjoPqE4ZxB@hirez.programming.kicks-ass.net/

It is in his personal repo for testing but it is aimed at 5.18:

https://git.kernel.org/peterz/queue/c/3a4e1c50c5a4d4f6bdf6fde5c569ba0247a9d8fc

[2022-05-18 18:46] nathanchance commented on #1641
https://lore.kernel.org/20220518184529.454008-1-nathan@kernel.org/

[2022-05-18 19:21] nathanchance commented on #1636
Kees dropped the problematic patch so closing.

[2022-05-18 19:21] #1636 closed, assigned to nobody

[2022-05-19 16:52] nickdesaulniers commented on #1315
This [might just be a bug](https://lore.kernel.org/llvm/CAKwvOdmkd2PxvMUZA=A-72eATGDZkqDj--Bv1W+Xt_K_LWdROA@mail.gmail.com/) in clang. cc @DavidSpickett

[2022-05-19 20:56] nathanchance opened #1644 "CFI failure in kvm_mmu_notifier_invalidate_range_end()"
When testing kCFI, spawning a KVM guest results in a failure:

[code]

`kvm_null_fn()`, introduced by commit [f922bd9bf33b](https://git.kernel.org/linus/f922bd9bf33bd5a8c6694927f010f32127810fbf) ("KVM: Move MMU notifier's mmu_lock acquisition into common helper"), is going to be problematic. I am not sure what the solution is other than defining "NULL" functions for each individual type.

cc @sami

[2022-05-19 21:59] nathanchance commented on #1639
Now in -tip: https://git.kernel.org/tip/d3f526155da9529d61663fcff19ca0e707dc2077

[2022-05-19 22:01] nathanchance commented on #1629
The patch has been merged into -next: https://git.kernel.org/next/linux-next/c/6977262c2eee111645668fe9e235ef2f5694abf7

[2022-05-19 22:01] #1629 closed, assigned to nathanchance

[2022-05-20 08:17] DavidSpickett commented on #1315
I'm going to look into this today.

[2022-05-20 16:53] nickdesaulniers commented on #1315
@DavidSpickett I'm guessing the warning makes sense for `-x assembler`, but not `-x assembler-with-cpp`.

[2022-05-20 17:09] nickdesaulniers commented on #1571
I *think* this is what `diagnose_as_builtin` fn attr is meant to solve.
https://reviews.llvm.org/D112024
cc @gburgessiv

[2022-05-20 23:34] kees commented on #1571
In what way?

[2022-05-21 04:17] dileks commented on #1644
Some KVM fixes (pending) - unsure if there is a fix for this special case.

[1] https://git.kernel.org/pub/scm/virt/kvm/kvm.git/tag/?h=for-linus

[2022-05-21 19:16] dileks commented on #1613
See this issue with Linux v5.18-rc7+.
[code]

[2022-05-22 03:58] phoebewang commented on #1633
A candidate patch: https://reviews.llvm.org/D126137

[2022-05-23 01:50] RoxaBee opened #1645 "TLS cert on reviews.llvm.com expired"
I am seeing the following. Please let me know if should report elsewhere. Thanks!

<img width="509" alt="image" src="https://user-images.githubusercontent.com/45480211/169728319-e3579063-40a2-41f6-8e26-15cc90092b59.png">

[2022-05-23 02:52] nathanchance commented on #1645
I would report that on [LLVM’s issue tracker](https://github.com/llvm/llvm-project/issues), we have no control over llvm.org.

[2022-05-23 02:52] #1645 closed, assigned to nobody

[2022-05-23 18:47] nathanchance commented on #1633
I tested D126137 on both bare metal and QEMU but no machine will boot.

Using `gdb` + `lx-dmesg`, I see this stack trace:

[code]

`x86_early_init_platform_quirks()` is called before `start_kernel()` in `x86_64_start_reservations()`.

The disassembly of `x86_early_init_platform_quirks()` with `clang`, with and without relocations:

[code]

The disassembly of `x86_early_init_platform_quirks()` with

[2022-05-23 20:59] nickdesaulniers commented on #1633
Weird, pretty sure I tested both ARCH=i386 defconfig and regular x86_64 defconfig and both booted for me in qemu.  I left feedback on v1 that I think we're hardening things we should not be, so I'd wait to retest until v2 (or whenever my feedback is addressed).

[2022-05-23 21:03] nathanchance commented on #1633
`CONFIG_SLS` is default off, did you enable it? I didn't use `boot-qemu.sh`, I used my own QEMU script to boot an Arch Linux guest, so it could also be something that only a full distribution might tickle.

[2022-05-23 21:21] nickdesaulniers commented on #1633
Ah, that's probably why. I was simply checking my .config for CC_HAS_SLS, not SLS. Ok, let's wait to see a revised llvm patch. Thanks for testing and reporting.

[2022-05-23 22:29] nickdesaulniers commented on #1571
Hmm...I guess not.

A similar problem exists with inline asm:
[code]
in this case, the call to indirection with an integer constant expression is valid (and only due to inlining via optimizations being enabled), but the call without is not.  GCC doesn't give precise info about which statement is problematic, but seems to have the infrastructure to do so. If we can implement similar behavior for th

[2022-05-24 15:24] nathanchance commented on #774
Accepted:

https://git.kernel.org/powerpc/c/e247172854a57d1a7213bb835ecb4a40ce9bb2b9
https://git.kernel.org/powerpc/c/4406b12214f6592909b63dabdea86d69f1b5ba2e

[2022-05-24 23:41] nathanchance commented on #1633
The second version of D126137 boots for me in both QEMU and all three of my x86 bare metal test systems :)

[code]

I will let these churn away tonight and see if there are any lurking issues.

[2022-05-25 08:44] dileks commented on #1574
`LLVM` version `14.0.4` released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.4
[2] https://discourse.llvm.org/t/llvm-14-0-4-release/62751

[2022-05-26 18:24] nickdesaulniers commented on #1422
merged in 5.19-rc1 964bc5dbe602a62b7bbd67624c4b8f7a4ea692b2

[2022-05-26 18:24] #1422 closed, assigned to nobody

[2022-05-26 22:56] nathanchance commented on #1639
Merged into mainline: https://git.kernel.org/linus/ead165fa1042247b033afad7be4be9b815d04ade

It is tagged for stable so it should go back automatically. 5.15 will need a backport, I'll handle it if nobody else does.

[2022-05-26 22:56] #1639 closed, assigned to nobody

[2022-05-26 22:58] nathanchance commented on #1356
Merged into mainline: https://git.kernel.org/linus/e6ed91fd0768b914558dad5eeda2407a7d871f52

[2022-05-26 22:58] #1356 closed, assigned to nobody

[2022-05-27 05:42] MaskRay opened #1646 "perf record --call-graph dwarf does not support ld.lld's default --rosegment -z noseparate-code layout"
Move https://github.com/llvm/llvm-project/issues/53156 here since it is a perf bug.

@Kha reported that ld.lld linked objects do not symbolize correctly:
[code]

Tips: to build perf with debug info:
[code]

It is due to perf not supporting ld.lld's default --rosegment -z noseparate-code layout (since 10.0)

        ld.lld (default) => fail
        ld.lld --no-rosegment => ok
        ld.lld -z sepa

[2022-05-27 16:58] nickdesaulniers commented on #1646
@MaskRay sent https://lore.kernel.org/llvm/20220527055217.452307-1-maskray@google.com/.

[2022-05-27 17:09] nickdesaulniers commented on #1646
cc @captain5050

[2022-05-29 00:16] nathanchance commented on #774
Merged into mainline:

https://git.kernel.org/linus/e247172854a57d1a7213bb835ecb4a40ce9bb2b9
https://git.kernel.org/linus/4406b12214f6592909b63dabdea86d69f1b5ba2e

[2022-05-29 00:16] #774 closed

[2022-05-29 04:29] nickdesaulniers commented on #1601
now that #774 is resolved, anything left to do here?

[2022-05-29 04:30] nickdesaulniers commented on #774
Anything to update in our CI (such as previously disabled builds to re-enable)? Anything for #1601?

[2022-05-29 04:36] nathanchance commented on #774
No, #1601 impacts using `LLVM=1` without `CROSS_COMPILE`, which is currently irrelevant for CI because `tuxmake` always passes `CROSS_COMPILE`.

[2022-05-29 14:13] emojifreak commented on #1533
Linux 5.18 nommu_qemu_defconfig in riscv64 + KALLSYM_ALL causes this error in ld.llld-14 while gcc-11+binutils 2.38 do not cause this error. Specifically,

[code]

The above script does not cause errors with
[code]

But clang 14.0.4 + lld 14.0.4 on Debian unstable cause this runtime error as
[code]

A reproducing script is below:

[code]

[2022-05-30 21:45] tpgxyz opened #1647 "CFI failure target: simpledrm_simple_display_pipe_mode_valid"
Hello team,
looks like simpledrm does not pass over Clang CFI schemes.

[tpg@omv-rockpro64 ~]$ uname -a
Linux omv-rockpro64 5.18.0-server-clang-1omv4090 #1 SMP PREEMPT_DYNAMIC Mon May 30 15:21:52 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux

Kernel is compiled with LLVM-14.0.0. Well i noticed that with kernel 5.16.x, however now i found time to trigger this and file an issue. Good luck :)

Sources:

[2022-05-31 01:53] nathanchance commented on #1647
Does this help?

[code]

[2022-06-01 20:35] nickdesaulniers commented on #1633
Thanks again @phoebewang !

[2022-06-01 20:35] #1633 closed, assigned to phoebewang

[2022-06-03 19:40] ramosian-glider opened #1648 "Considering uninitialized function parameters UB"
I've learned recently that Clang may mark certain function parameters as `noundef`, and passing uninitialized data in such parameters will be considered an UB (see https://llvm.org/docs/LangRef.html for the definition of `noundef`).

Moreover, Clang is quite aggressive in assigning `noundef` and can do that even for parameters that aren't always used: https://godbolt.org/z/s1oPve6d4

I couldn't fi

[2022-06-03 19:59] nathanchance commented on #1648
Right, this is a result of https://github.com/llvm/llvm-project/commit/1b1c8d83d3567a60280291c0adb95d1d60335509, which also causes a bunch of `objtool` warnings when at least UBSAN is enabled from what I can tell: #1480.

I suspect it is a common pattern to pass in an uninitialized variable to a function and have that function initialize it? If not, I would say the kernel should just be fixed but

[2022-06-03 20:09] eugenis commented on #1648
We actually implemented this for MSan (the "conservative KMSAN mode" that Alex mentions) initially, and then it turned out that it is useful for optimization, too :)

If that's by-reference, it would be entirely legal and neither optimizer not MSan would have an issue with it.

I guess there is this other pattern where, depending on the value of other arguments or some global state, one of the fun

[2022-06-03 20:12] ramosian-glider commented on #1648
I couldn't find any mentions of this in the C99 or C11 standards. If this is a new requirement that is silently applied to older standards, then the compiler might be misbehaving.

[2022-06-03 20:22] nathanchance commented on #1648
Right, I suspect that is the case for the initial report above but I didn't look too closely.

[2022-06-03 20:28] ramosian-glider commented on #1648
Yes, this is the case. Another one is in the Godbolt snippet cited above: https://godbolt.org/z/s1oPve6d4

As far as I understand, neither of the calls to `kmalloc_or_not()` there can be considered valid if we prohibit passing uninitialized arguments to functions.

[2022-06-03 20:34] nickdesaulniers commented on #1648
A common pattern in C code is to have constructor-like init functions.
[code]
A commonly recurring problematic pattern in the kernel is when `init` conditionally initializes `z`; this requires inter-procedural analysis via clang-analyzer; clang's `-Wuninitialized` machinery is based on intra-procedural control flow.

Pretty sure any use of an unitialized value (such as passing it by value to a fun

[2022-06-03 20:44] nathanchance commented on #1646
Patch accepted: https://git.kernel.org/acme/c/dc2cf4ca866f571590b65f5e4de06b8c9a302808

No idea if the SHA is stable though.

[2022-06-03 23:48] nathanchance commented on #1640
Merged into mainline: https://git.kernel.org/linus/61114e734ccb804bc12561ab4020745e02c468c2

[2022-06-03 23:50] #1640 closed, assigned to nathanchance

[2022-06-04 13:15] ramosian-glider commented on #1648
Yes, I have at least the one mentioned above.
If you look at [`walk_component()` in fs/namei.c](https://elixir.bootlin.com/linux/v5.18/source/fs/namei.c#L2001):

[code]
, we can see that if `lookup_fast()` fails to initialize `inode` and `seq`, then undefined values are passed into `step_into()`.

Looking at [`lookup_fast()` implementation](https://elixir.bootlin.com/linux/v5.18/source/fs/namei.c#

[2022-06-05 04:28] MaskRay commented on #1646
A message `[GIT PULL] perf tools changes for v5.19: 3rd batch` tells me that this has been merged.

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=dc2cf4ca866f571590b65f5e4de06b8c9a302808

[2022-06-05 04:28] #1646 closed, assigned to MaskRay

[2022-06-05 23:01] 0x647262 commented on #1626
Had some time this weekend to continue work on this. It seems that when `CFLAGS_gvt/filename.o := -ftrivial-auto-var-init=uninitialized` is passed, the `-ftrivial-auto-var-init=uninitialized` is added further along in the `filename.o.cmd`'s arguments, which produces a faulty i915 module (one that continues to freeze).

[WORKING | subdir-cflags-firmware.o.cmd.txt](https://github.com/ClangBuiltLinux

[2022-06-06 03:00] kees commented on #1626
You mean "firmware" not "filename", yes?

It seems firmware.o needs "uninitialized" after the -I args??

[2022-06-06 03:24] 0x647262 commented on #1626
I used "filename" since it happens with _all_ of the files in the i915/gvt directory. `i915/gvt/firmware.o` is just the one I'm using as an example.

That's correct. I tried modifying the `.o.cmd` file directly, but it seems to be overridden by the Makefile.

[2022-06-06 05:59] nickdesaulniers commented on #1626
The `.cmd` files shouldn't be modified by hand; the command line args the compiler uses are NOT consumed from those files. The compiler writes out the commands it was passed to those files; I'm pretty sure `make` consumes the `.cmd` files to know whether to rebuild an object file.

That's what I'd expect. The last instance of `-ftrivial-auto-var-init=` wins. So we care specifically about the order

[2022-06-06 15:00] nathanchance commented on #1639
On its way back to 5.15:

https://git.kernel.org/stable/stable-queue/c/1b4b9958569b20c0bfe26da55f3a2d041dbf37a9
https://git.kernel.org/stable/stable-queue/c/4c8ff68984c48856b735499e61fda9493d8d04ff
https://git.kernel.org/stable/stable-queue/c/d60e4eff6810c99b87433d388939d6c1208347f4

[2022-06-06 15:04] nathanchance commented on #1626
I agree with what Nick said. All that means is that `gvt/firmware.c` is not responsible for the issue. Remember, adding `-ftrivial-auto-var-init=uninitialized` to the flags should resolve the issue; if it does not, that just means the issue is not with that file.

[2022-06-06 21:36] nickdesaulniers commented on #1648
This concrete instance you've found is exactly the abstract problem in the kernel I was referring to.

To me, it's analogous to the problem `-fno-delete-null-pointer-checks` seeks to solve; if you deref a ptr before a NULL check, then the compiler will drop the NULL check.

I suspect that if you ran `make LLVM=1 clang-analyzer`, you would get a warning along the lines of garbage values being passe

[2022-06-07 02:01] 0x647262 commented on #1626
Right. I neglected to explain that this is occurring with _all_ the files. I tried bisecting the `i915/gvt` directory by trying half of the files at a time to no avail. Basically where I'm at is the subdir option works as expected, but the directive for individual files does not.

Here's the patch I'm using on the i915 directory's Makefile:
[i915-gvt-ftrivial-auto-var-init-uninitialized.patch.txt]

[2022-06-07 07:36] tpgxyz opened #1649 "LLD segfaults while linking drivers/scsi/megaraid/megaraid_mm.ko"
Hello team,

i'm building kernel 5.18.2 with LLVM-14.0.4 and got this issue:

[code]

Full build log can be found here https://file-https://abf.openmandriva.org/build_lists/211222

[2022-06-07 08:04] tpgxyz commented on #1647
@nathanchance Thanks, will take a look on this, nevertheless i'm blocked with https://github.com/ClangBuiltLinux/linux/issues/1649

[2022-06-07 14:33] nathanchance commented on #1626
So `subdir-ccflags-y := -ftrivial-auto-var-init=uninitialized` in `drivers/gpu/drm/i915/gvt/Makefile` works but that diff doesn't? It might be helpful to diff the `.o.cmd` files then so we can see if there is a difference in the flags getting added.

[2022-06-07 15:35] nathanchance commented on #1649
I can't reproduce this with vanilla 14.0.4 and Linux 5.18.2 with your configuration:

[code]

Is this related to changed `ld.lld` defaults?

[2022-06-08 00:28] 0x647262 commented on #1626
The only difference is the order in which the flag is added:

[code]

That's what spurred my intial question regarding "manually overriding" the flag's placement. As far as I can tell, that's the only difference between the two methods.

[2022-06-08 02:56] nathanchance commented on #1626
That is incredibly odd... Perhaps it might be better to try just removing `-ftrivial-auto-var-init=zero` instead.

`CFLAGS_REMOVE_gvt/firmware.o := -ftrivial-auto-var-init=zero`

instead of `CFLAGS_... := ...`. With that, you should see no instances of `-ftrivial-auto-var-init=zero`.

[2022-06-08 07:40] tpgxyz commented on #1649
@nathanchance Please notice that https://github.com/OpenMandrivaAssociation/kernel-release/raw/master/aarch64-server-omv-defconfig is altered by spec file to push CLANG as a default compiler https://github.com/OpenMandrivaAssociation/kernel-release/blob/5cb5b1a949e9a6b7aae76790bf5d15d346ed3d24/kernel-release.spec#L1144

Second some potential harmful linker options for kernel are disabled https://g

[2022-06-08 15:28] nathanchance opened #1650 "-Wsometimes-uninitialized in drivers/mmc/host/sdhci-brcmstb.c"
[code]

Patch submitted: https://lore.kernel.org/20220608152757.82529-1-nathan@kernel.org/

[2022-06-08 16:35] nathanchance commented on #1649
Setting/removing the `CONFIG_CC` and `CONFIG_LD` variables is unnecessary, as they are not user defined symbols; they come from the tools themselves based on `$(CC)`, `$(LD)`, etc and Kconfig updates them automatically (see `init/Kconfig`, they are not `bool "..."`, which means they cannot be changed by the user directly).

[code]

Even if I apply the other changes, I still see no crash:

[code]

[2022-06-08 18:35] nickdesaulniers commented on #1649
From the dump from lld posted, I see both `--icf=none --no-gc-sections` in the command line argument.

[2022-06-09 04:48] 0x647262 commented on #1626
So after a bit of finessing I've narrowed down the file to:

`i915/display/intel_bw.o`

The `gvt` directory ended up being a dead end because the subdir CC options set in its makefile propagated to the rest of the module. Before I start jumping into adding `__attribute` to individual variables, is there a way to "bisect" the file? I.E. add the uninitialized attribute to half the file at a time to

[2022-06-09 05:29] kees commented on #1626
I don't know a good way to do this, but if it helps, here's a diff with them all marked uninit, and you can just carve out portions of it...:
[uninit.patch.txt](https://github.com/ClangBuiltLinux/linux/files/8867141/uninit.patch.txt)

I generated this with a Coccinelle script:

[code]

[2022-06-09 14:33] nathanchance commented on #1626
You should be able to take that monolithic patch, apply it, commit it, use `git checkout -p HEAD^` + `git cherry-pick` to break it into the individual functions, and bisect off of that.

[2022-06-09 19:58] nathanchance opened #1651 "error: write on a pipe with no reader"
After https://github.com/llvm/llvm-project/commit/51b557adc131d8c66306ae74ce3bbaaa2e366dc3, I am seeing that error messages in several of my builds. It appears to be more pronounced on stable trees vs. mainline and -next.

On 5.18, I can reproduce it with:

[code]

[2022-06-09 20:17] nickdesaulniers commented on #1651
Does `V=1 -j1` make it more obvious how clang was invoked when this error is printed?

[2022-06-09 21:23] nathanchance commented on #1651
It appears this is related to `genksyms`, as it only occurs with `CONFIG_MODVERSIONS`, which causes `clang -E` to be piped to `genksyms`. I am trying the `-j1 V=1` trick to see if I can try and reproduce this outside of the build system but it seems like this is a bug in `genksyms` based on the commit message of the LLVM change?

[2022-06-10 17:03] nathanchance commented on #1651
I cannot reproduce this outside of the build system unfortunately :( running the commands that I see directly above the message when running with `-j1 V=1` shows no message but it is 100% reproducible with `CONFIG_MODVERSIONS` enabled with at least `x86_64_defconfig`.

[2022-06-10 17:22] nickdesaulniers commented on #1651
Can you share some of those commands?

[2022-06-10 19:10] nathanchance commented on #1651
Sure; pardon the formatting dump:

[code]

I did notice more errors with a higher level of parallelism with `make` and the other odd thing is I don't see the same number of errors each time... smells like a race condition somewhere.

[2022-06-11 16:18] dileks commented on #1574
`LLVM` version `14.0.5` released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.5
[2] https://discourse.llvm.org/t/llvm-14-0-5-release/63118

Update 12-Jun-2022: Debian/unstable packages available for AMD64.

[2022-06-13 20:35] nickdesaulniers opened #1652 "error: casting from randomized structure pointer type in fs/incfs/data_mgmt.c"
Looks like an ARCH=arm allmodconfig of android-mainline
https://github.com/ClangBuiltLinux/continuous-integration2/runs/6857619625?check_suite_focus=true#step:5:240
[code]

[2022-06-13 20:42] kees commented on #1652
This code should be using ERR_CAST() instead of an open-coded cast.

https://android-review.googlesource.com/c/kernel/common/+/1995750/comments/23072fd8_57137ba0

[2022-06-14 09:47] ramosian-glider commented on #1648
What I am seeing is that `lookup_fast()` returns NULL here:

[code]
without initializing `inode` and `seq`.

As a result, `IS_ERR(dentry)` is false, so we get into the `!dentry` branch in `walk_component()`:

[code]

, but then `lookup_slow()` returns some valid non-NULL `dentry`, so we manage to reach the call of `step_into()` with `inode` and `seq` still being uninitialized.

I would be very int

[2022-06-14 18:14] nickdesaulniers opened #1653 "__attribute__((must_init)) function parameter attribute"
via this discussion https://lore.kernel.org/linux-toolchains/CAKwvOd=SotrVcZshzGzsMprkORkVXFwYc-3mREkJSDCQ1nvbFw@mail.gmail.com/

[2022-06-14 18:17] nickdesaulniers commented on #1648
Forked off #1653 .

I think we're in agreement; I was referring to use of unconditionally uninitialized memory, you are referring to use of conditionally uninitialized memory.

Right, that's what I just asked on https://lore.kernel.org/linux-toolchains/CAKwvOd=C1GC09zobqLK0higE3xPpghWBbB4xujyC8-QDyd_DTQ@mail.gmail.com/:

array) and don't fully initialize the whole object, just
members/sub-objects,

[2022-06-14 20:06] ramosian-glider commented on #1648
But you consider passing uninitialized value to a function a "use", while I don't. Or am I missing something?

I think the list of possible "uses" of uninitialized values in C is more or less limited to branches, array indexing and pointer dereferencing. Passing (even unconditionally) uninitialized values to functions is fine as long as they are not used inside those functions.

[2022-06-14 22:05] nickdesaulniers commented on #1310
Sent a v4: https://lore.kernel.org/llvm/20220614220229.1640085-1-ndesaulniers@google.com/

[2022-06-15 18:32] nathanchance commented on #1650
Patch accepted: https://git.kernel.org/ulfh/mmc/c/8fe87198d4defb585086c8136b2d08be62d06e05

[2022-06-15 18:51] nickdesaulniers commented on #1650
Does this need to go in mainline rather than next?

[2022-06-15 18:53] nathanchance commented on #1642
I finally got around to looking into this further. It can be reproduced with this minimal set of configs on top of `allnoconfig`:

[code]

It is because of `CONFIG_FORTIFY_SOURCE`, which is critical for reproducing this issue. `guid_equal()` is just a wrapper around `memcmp()`, which is redefined in `include/linux/fortify-string.h` with `p_size` and `q_size` for compile time checking. `guid_equal(

[2022-06-15 18:53] nathanchance commented on #1650
No, this is a -next only issue currently.

[2022-06-15 19:45] nathanchance commented on #1635
[v6](https://lore.kernel.org/20220529110714.189732-1-csharper2005@gmail.com/), which is [now in -next](https://git.kernel.org/next/linux-next/c/9b78ef0c7997052e9eaa0f7a4513d546fa17358c), works around this by only building the driver when the platform it runs on (which is MIPS-based) is enabled, so we shouldn't see this again, but I think the root cause should still be looked into.

[2022-06-15 21:20] nathanchance commented on #1592
Still an issue on 5.19-rc2. It should be possible to work around this with [`unsafe_memcpy()`](https://git.kernel.org/linus/43213daed6d6cb60e8cf69058a6db8648a556d9d):

[code]

[2022-06-15 22:23] nickdesaulniers opened #1654 "-Wunused-but-set-variable building perf"
[code]

[2022-06-15 22:57] nathanchance commented on #1654
These are exposed by https://github.com/llvm/llvm-project/commit/2af845a6519c9cde5c8f58db5554f8b1084ce1ed; GCC has `-Wunused-but-set-variable` as well but it does not warn for the increment/decrement operations.

For what it's worth, the `perf` build is broken for me on Arch Linux for other reasons (newer Perl it seems).

[2022-06-16 05:24] kees commented on #1592
[code]
so:

[code]

`size` is correct. `p_size_field` is impossible. Nothing here is 0x10 in size! `struct fw_section_info_st` is 0x14.

And... omg, why did it take me so long to realize this could just be a direct assignment. Patch sent:
https://lore.kernel.org/linux-hardening/20220616052312.292861-1-keescook@chromium.org/T/#u

[2022-06-16 07:38] arndb commented on #1635
The RALINK dependency is not great, we usually want all code to be enabled for CONFIG_COMPILE_TEST if possible.

For the kernel code, I would simply make 'offs' a 32-bit type, since we know that it is bounded by master->erasesize, which in turn is a 32-bit type and in practice is limited to a few MB in size.

On the llvm side, the reduced test case is clearly a misoptimization that should be addre

[2022-06-16 17:07] nickdesaulniers commented on #1592
I wonder if perhaps some members of the struct are determined to be unused statically. Just a guess.

[2022-06-17 13:47] ramosian-glider commented on #1648
To close the loop, these are the relevant excerpts from the standard cited by Segher Boessenkool:

and Richard Smith:

[2022-06-17 16:56] nathanchance commented on #1592
Patch accepted: https://git.kernel.org/netdev/net-next/c/2c0ab32b73cfe39a609192f338464e948fc39117

[2022-06-17 17:15] nickdesaulniers commented on #1643
Ah, that's what CONFIG_TRIM_UNUSED_KSYMS is for.

BTW @michaelopdenacker nice [talk](https://www.youtube.com/watch?v=W4zdEDpvR5c)! I've added a link to it from our [wiki](https://github.com/ClangBuiltLinux/linux/wiki/Talks,-Presentations,-and-Communications#talks).

[2022-06-17 17:43] nickdesaulniers commented on #378
https://git.kernel.org/pub/scm/linux/kernel/git/akpm/mm.git/commit/?h=mm-nonmm-unstable&id=d30dfd490f7dc4cb6a7c11a647bd1ff7a22139e7 (accepted) will help with a bunch of calls to `ntohs` being passed to `printk`-like functions.

[2022-06-19 20:00] dileks commented on #1654
Link: https://lore.kernel.org/r/20220607000851.39798-1-irogers@google.com

Pending Git pull request:
https://git.kernel.org/pub/scm/linux/kernel/git/acme/linux.git/log/?h=perf-tools-fixes-for-v5.19-2022-06-19

[2022-06-21 09:42] dileks commented on #1654
Patch `perf unwind: Fix uninitialized variable` in Linus Git.

[1] https://git.kernel.org/linus/1d98cdf7fa2bc6e8063c0a692a1c091d8ebe3a75

[2022-06-21 14:43] nathanchance commented on #1654
I think that change is for a different issue?

[2022-06-21 16:36] nickdesaulniers commented on #1654
[code]
Let me see if I can figure out the right way to fix the rest.

[2022-06-21 17:27] nickdesaulniers commented on #1635
`indvars` is the pass introducing the expensive 64b divide.

[code]
[code]
`rewriteLoopExitValues` in `llvm/lib/Transforms/Utils/LoopUtils.cpp` is doing the rewriting.
[code]
the context for this code was moved in 93175a5caa08360ca60b417cc04c094e1ed05c76.

`rewriteLoopExitValues` tries to move code from the loop body to a "preheader" (seems like a form of LICM) if it determines that the loop body

[2022-06-22 18:00] nickdesaulniers commented on #1592
In this case `KCFLAGS=-Rpass=inline` can give us some hints:
[code]
It's not great, but until we have #1571 fixed, this will probably be the fastest way to identify such issues with clang.

[2022-06-22 22:07] nathanchance commented on #1650
Fixed in -next: https://git.kernel.org/next/linux-next/c/8fe87198d4defb585086c8136b2d08be62d06e05

[2022-06-22 22:07] #1650 closed, assigned to nobody

[2022-06-22 22:08] nickdesaulniers commented on #1592
Also strange:
[code]
The only `call` to `@memcpy` in the source is:
[code]
(`20 == 0x14`)
In the disassembly, I also only see:
[code]

Ok, but defconfig + UBSAN_BOUNDS does not.

[code]
so it seems like CONFIG_UBSAN_BOUNDS plus some other currently-unknown flag from allmodconfig are tickling this.

[2022-06-22 22:13] nathanchance commented on #1592
`defconfig` does not enable `CONFIG_FORTIFY_SOURCE`.

[code]

[2022-06-22 22:41] kees commented on #1571
Until this is solved correctly in Clang, Nick has suggested a work-around can be used to help identify the inlining location for tracking down specific warnings with `KCFLAGS=-Rpass=inline`

[2022-06-23 15:30] nathanchance opened #1655 "-Wmisleading-indentation in drivers/gpu/drm/amd/display/dc/clk_mgr/dcn32/dcn32_clk_mgr.c"
[code]

Patch submitted: https://lore.kernel.org/20220623153001.3136739-1-nathan@kernel.org/

[2022-06-23 15:43] nathanchance commented on #1592
This warning is fixed in mainline: https://git.kernel.org/linus/1e70212e031528918066a631c9fdccda93a1ffaa

I'll request a stable backport on Monday to give it a little soak time in mainline.

[2022-06-23 16:50] nickdesaulniers commented on #1592
So in this case the compile thinks that `__builtin_object_size(&host_image->image_section_info[i], 1) < sizeof(struct fw_section_info_st)`.  @kees do you remember what the rules are for BOS(1)? (I don't).

[2022-06-23 18:02] nathanchance commented on #1651
So this appears to be related to how the kernel calls `llvm-objdump`? I noticed that I get significantly fewer of these messages on mainline vs. stable (not zero though) so I did a reverse bisect and landed on commit [8017ce50641c](https://git.kernel.org/linus/8017ce50641c303b9b5d96f3c10229ecfd770a70) ("kbuild: refactor cmd_modversions_c"), which makes sense because we are getting rid of calling `

[2022-06-23 19:56] kees commented on #1592
Right; this seems impossible. The struct is 5 u32s (0x14), but it resolves to 0x10. There's no padding, there are no hole, etc, etc.

[2022-06-23 19:59] nathanchance commented on #1652
Change submitted: https://android-review.googlesource.com/c/kernel/common/+/2134978

[2022-06-23 20:32] nathanchance commented on #1641
Palmer has picked this up: https://git.kernel.org/riscv/c/e83031564137cf37e07c2d10ad468046ff48a0cf

[2022-06-23 22:49] nathanchance commented on #1652
Fixed: https://android.googlesource.com/kernel/common/+/483887d651ebea298740f7fe895dd948df452d9f

[2022-06-23 22:49] #1652 closed, assigned to nobody

[2022-06-23 23:14] nickdesaulniers commented on #1651
https://stackoverflow.com/questions/19120263/why-exit-code-141-with-grep-q

[2022-06-23 23:15] nickdesaulniers commented on #1651
Perhaps redirecting stderr of $(OBJDUMP) to /dev/null is the solution when piping the output to `grep -q`? Or process substitution (see one of the answers in the link above).

[2022-06-23 23:19] nathanchance commented on #1655
Patch has been accepted, should be in next-20220624: https://gitlab.freedesktop.org/agd5f/linux/-/commit/10a9035c36d00586ad4bdb838f8800be951db8d2

[2022-06-24 08:28] heyg opened #1656 "[v4.19][idle][hrtimer] cpu idle boot hrtimer report null-pointer"
Hi Guys,

When using linux v4.19, keep restarting to test stability. I found two panic about hrtimer,

Panic1,

[code]

Panic2,
[code]

Has anyone meet this issue?

[2022-06-24 08:36] heyg commented on #1656
here https://web.eece.maine.edu/~vweaver/projects/perf_events/fuzzer/3.14-rc5.rbtree_hrtimer.html is similar issue, but I not found upstream any fix about this.

[2022-06-26 12:47] dileks commented on #1574
`LLVM` version `14.0.6` released (see [1] and [2]).

From [2]:
`This will likely be the last 14.0.x release.`

@tstellar @nickdesaulniers @nathanchance

Can someone comment on the impact of `AVR` and needfulness of building a new LLVM-toolchain?
From [3]:

What I need is a base to decide if a new build is worth or not.

Note: The build of a `ThinLTO + PGO optimized` LLVM-toolchain - `optimized` me

[2022-06-26 12:55] dileks commented on #1574
My tc-build line:
[code]

[2022-06-27 15:39] nathanchance commented on #1574
AVR is a family of microcontrollers so these fixes are irrelevant for you specifically since you only care about x86_64/amd64 as well as the kernel in general, since AVR support was removed in 4.18:

https://en.wikipedia.org/wiki/AVR_microcontrollers

https://git.kernel.org/linus/26202873bb51fafdaa51be3e8de7aab9beb49f70

[2022-06-27 16:33] nathanchance commented on #1574
As 14.0.6 is likely the last 14.x release, I am going to close this up. We can always comment if there is an additional release but there is not much for us to do now.

[2022-06-27 16:33] #1574 closed, assigned to nobody

[2022-06-27 16:42] tstellar commented on #1574
If you build clang with -Werror on any platform, you will need this fix, because it introduces a warning in the AVR clang driver which is built on all architectures.

[2022-06-27 17:05] nathanchance commented on #1574
Ah, thanks for the information! This should be irrelevant for Sedat's configuration (and most users of tc-build), as `build-llvm.py` disables `LLVM_ENABLE_WARNINGS` when doing a `Release` build: https://github.com/ClangBuiltLinux/tc-build/blob/9b3d39730f19d8df5fd300d1d3a39e054ddb1709/build-llvm.py#L1029-L1031

[2022-06-28 22:59] nickdesaulniers commented on #1656
Doesn't sound like that thread ever got resolved.
https://lkml.org/lkml/2014/4/24/637
Either way, doesn't sound like a clang specific bug. Can you test your config with GCC?

[2022-06-29 01:49] heyg commented on #1656
Hi Nick,

Thanks your update!

Yes, it should common bug, not clang specific  bug,  but i can't find any fix solution on linux mater branch.
I think clang branch also had this issue.

[2022-06-29 17:31] nickdesaulniers opened #1657 "CONFIG_UBSAN_DIV_ZERO causes objtool: foo() falls through to the next function bar()"
From [this thread](https://lore.kernel.org/lkml/YrNQrPNF%2FXfriP99@debian/):
`Reported-by: Sudip Mukherjee <sudipm.mukherjee@gmail.com>`
[code]
It seems like a bunch of these have something to do with `__ubsan_handle_divrem_overflow`.  It's not clear to me yet that clang expects that fn to be `noreturn` (I haven't found anything in the IR or clang sources that assumes so), as hypothesized [here](h

[2022-06-29 17:42] nickdesaulniers commented on #1657
[Reported upstream](https://github.com/llvm/llvm-project/issues/56289)

[2022-06-29 17:53] nathanchance commented on #1657
These appear to only be visible with `clang-14` and newer.

With `clang-13`: https://github.com/ClangBuiltLinux/continuous-integration2/runs/7097931900?check_suite_focus=true
With `clang-14`: https://github.com/ClangBuiltLinux/continuous-integration2/runs/7116482760?check_suite_focus=true

 `-Xclang -no-enable-noundef-analysis` (#1480) makes most of them go away but that might not be the root caus

[2022-06-29 20:10] nathanchance opened #1658 "ld.lld 11 "error: could not allocate headers" after 5c4fb60816ea55f66a046cc3662ca379aed52f7b"
Initially reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/7113123037?check_suite_focus=true

[code]

Reported upstream: https://lore.kernel.org/YryxouOYOJLM+DDK@dev-arch.thelio-3990X/

[2022-06-29 23:22] nickdesaulniers commented on #1658
Perhaps the compat vdso should be compiled with `-fno-unwind-tables`?

[2022-06-30 03:45] nickdesaulniers commented on #39
I wonder if `-mllvm -max-inline-stacksize=<N>` might be useful here.
https://reviews.llvm.org/rGc50e6f590cd4

[2022-06-30 15:32] nathanchance commented on #1658
Patch submitted: https://lore.kernel.org/20220630153121.1317045-2-nathan@kernel.org/

[2022-07-01 08:20] dileks commented on #1574
@tstellar @nathanchance
Sorry for the delay.
Thanks for the explanations which gave me a good orientation.
I did not make a final decision.
( Maybe wait for new stuff from Debian/unstable AMD64 regarding Linux v5.18/v5.19-rcX  kernel and toolchain upgrades. )

@nathanchance
Thanks for the tc-build patches.

[1] https://github.com/ClangBuiltLinux/tc-build/commit/40b172fd49d7ca2d9866dba0871dfe2da44d

[2022-07-01 15:45] nathanchance commented on #1658
Patch accepted: https://git.kernel.org/arm64/c/859716b4131feb42fd2e3d87fbc25ec28152c029

[2022-07-01 22:44] nathanchance commented on #1655
Patch is in -next: https://git.kernel.org/next/linux-next/c/10a9035c36d00586ad4bdb838f8800be951db8d2

[2022-07-01 22:44] #1655 closed, assigned to nathanchance

[2022-07-01 22:45] nathanchance commented on #1641
This landed in 5.19-rc4: https://git.kernel.org/linus/e83031564137cf37e07c2d10ad468046ff48a0cf

[2022-07-01 22:45] #1641 closed, assigned to nathanchance

[2022-07-05 19:13] nathanchance commented on #1658
Now in -next: https://git.kernel.org/next/linux-next/c/859716b4131feb42fd2e3d87fbc25ec28152c029

[2022-07-05 19:13] #1658 closed, assigned to nathanchance

[2022-07-06 21:20] nikic commented on #972
Just as a quick note, the way to do this is to keep the target list as-is and remove the blockaddress arguments (or replace them with placeholders referencing the target list), not the other way around. Keeping only blockaddresses (while dropping the target list) is not compatible with blockaddress semantics -- the blocks would just get DCEd, because they are not reachable through control-flow.

[2022-07-11 04:54] lovesegfault opened #1659 "LLVM ERROR: Broken module found, compilation aborted! when building nouveau"
[code]

If you have `nix` setup, you should be able to reproduce this by running:
1. `git clone https://github.com/lovesegfault/nix-config`
2. `cd nix-config`
3. `git checkout origin/llvm-bug`
4. `nix-build --option cores 128 -A nixosConfigurations.foucault.pkgs.linuxPackages_latest_lto.kernel`

[2022-07-11 15:34] nathanchance commented on #1659
Do you have the `.config` file that triggers this? I would rather not mess around with `nix` to reproduce.

[2022-07-11 16:30] nathanchance opened #1660 ""error: initializer element is not a compile-time constant" in drivers/clk/qcom/gpucc-sm8350.c"
[code]

Patch submitted: https://lore.kernel.org/20220711163021.152578-1-nathan@kernel.org/

[2022-07-11 16:47] nickdesaulniers commented on #1310
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/coresight/linux.git/commit/?h=next&id=4d45bc82df667ad9e9cb8361830e54fc1264e993

[2022-07-11 16:49] nickdesaulniers commented on #1659
It seems like libLLVM-14.so might not have been configured with debug info (`-gmlt` should be used, even in release builds), so the trace doesn't tell us which pass something is going wrong in, simply that LTO is involved.

[2022-07-11 17:41] nathanchance commented on #1660
v2: https://lore.kernel.org/20220711174004.3047516-1-nathan@kernel.org/

[2022-07-11 18:10] lovesegfault commented on #1659
Here you go, it's a huge config, unfortunately: https://gist.github.com/299a645132a4fd9a94a269333cebad7b

[2022-07-11 18:11] lovesegfault commented on #1659
Ah, that's good to know. I'll try to fix this upstream in nixpkgs.

[2022-07-11 21:22] nathanchance commented on #1659
Heh, no worries! I took a stab at reproducing this and I didn't have any luck.

[code]

Any thing I could be missing?

[2022-07-11 21:46] nickdesaulniers commented on #1659
Same.

[code]

@lovesegfault can you share precisely what version (specifically the sha) of:
1. linux
2. llvm-project

and whether you're carrying any out of tree patches for those?

[2022-07-12 20:29] nathanchance commented on #1657
There are a lot more warnings of this nature after https://github.com/llvm/llvm-project/commit/10c531cd5bf0166ce5bf42736506733b2285fdf8.

At the parent commit:

[code]

At that change:

[code]

I suspect this is the same problem but I'll see which specific configurations trigger this and open a new issue if necessary.

[2022-07-12 23:35] nathanchance opened #1661 ""error: undefined symbol: dummy_tramp" with CONFIG_CFI_CLANG"
After commit [b2ad54e1533e](https://git.kernel.org/next/linux-next/c/b2ad54e1533e91449cb2a371e034942bd7882b58) ("bpf, arm64: Implement bpf_arch_text_poke() for arm64") in -next, `ARCH=arm64 defconfig` + `CONFIG_CFI_CLANG=y` shows the following error:

[code]

I attempted to use the following diff to fix it but `clang` crashes (appears to be some sort of infinite loop?)

[code]

[code]

I can try t

[2022-07-12 23:42] samitolvanen commented on #1661
Thanks for the report. The crash looks like a compiler bug, but the actual root cause here seems to be the linkage mismatch between the C declaration and the assembly definition, i.e. the assembly `dummy_tramp` isn't marked `.global`, but the C declaration is global.

[2022-07-13 02:33] lovesegfault commented on #1659
I can't reproduce this anymore, it was probably a transient bug in nixpkgs that has already been fixed.

If I see it again, I'll come back :)

Thanks!

[2022-07-13 02:33] #1659 closed, assigned to nobody

[2022-07-13 15:39] nickdesaulniers commented on #1020
Also, @MaskRay implemented linker relaxation in lld-15
https://github.com/llvm/llvm-project/commit/6611d58f5bbcbec77262d392e2923e1d680f6985
https://github.com/llvm/llvm-project/commit/6b1d151fe3dc530195d8802f1ecc247c8235dd3a
And sent a patch to stop using `-mno-relax`:
https://lore.kernel.org/llvm/20220710071117.446112-1-maskray@google.com/

[2022-07-13 15:59] nathanchance commented on #1661
So this?

[code]

Unfortunately, the file still doesn't compile.

[2022-07-13 16:01] samitolvanen commented on #1661
I don't think `function_nocfi` is needed. Does it compile without it?

[2022-07-13 16:40] nathanchance commented on #1661
Ah, right, this works:

[code]

Why does CFI alone trigger this though (LTO is fine)? I thought `function_nocfi` was needed to refer to a symbol defined in assembly or is that just when the symbol is used in an indirect call?

[2022-07-13 16:52] samitolvanen commented on #1661
Great, thanks for testing! The patch LGTM, would you mind sending it?

I assume because Clang generates module-level inline assembly references to the address-taken functions when emitting the jump table, and it's the jump table reference that cannot be resolved.

It's usually only needed to avoid address space mismatches, and just prevents the compiler from replacing `&function` with `&function.c

[2022-07-13 17:35] nathanchance commented on #1661
Yup, done!

https://lore.kernel.org/20220713173503.3889486-1-nathan@kernel.org/

Ah, that makes perfect sense. I included the gist of this in the commit message, thanks!

[2022-07-13 19:37] nickdesaulniers opened #1662 "ubsan divide by zero non-recoverable"
not sure if we already have a bug open, but filing one to track
https://lore.kernel.org/llvm/CAHk-=wj1qhf7y3VNACEexyp5EbkNpdcu_542k-xZpzmYLOjiCg@mail.gmail.com/
will fill in more notes later

[2022-07-13 19:49] nathanchance commented on #1662
I think #1657 was intended to track this unless there are two separate issues?

[2022-07-13 19:51] nickdesaulniers opened #1663 "cse asm goto"
https://lore.kernel.org/linux-toolchains/YIb0vYQMEs9HRjPl@hirez.programming.kicks-ass.net/
TODO: follow up on feature request

[2022-07-13 19:52] #1662 closed, assigned to nobody

[2022-07-13 19:56] nickdesaulniers commented on #1657
Yeah let's bisect the configs. Unless there's a bug in the [LLVM patch](https://github.com/llvm/llvm-project/commit/10c531cd5bf0166ce5bf42736506733b2285fdf8), I have a sinking feeling that this is again sanitizer related.

[2022-07-13 20:34] nathanchance commented on #1657
This appears to be entirely related to `CONFIG_UBSAN_DIV_ZERO`.

With `ARCH=x86_64 allmodconfig` + `CONFIG_UBSAN_DIV_ZERO=n`...

before the change:

[code]

after that change:

[code]

The `drivers/media/i2c/m5mols/m5mols.o` warning appears to be related to `CONFIG_UBSAN_BOUNDS`?

<details><summary><code>llvm-objdump</code> output</summary>
<p>

[code]

</p>
</details>

The `vmlinux.o` warnings ha

[2022-07-13 21:17] nathanchance opened #1664 "-Wsection in arch/x86/kernel/cpu/bugs.c"
[code]

Patch submitted: https://lore.kernel.org/20220713152436.2294819-1-nathan@kernel.org/

[2022-07-14 15:33] nathanchance commented on #1661
Patch accepted: https://git.kernel.org/bpf/bpf-next/c/33f32e5072b6cc84d1b130a3ad485849bcec907a

[2022-07-14 15:35] nathanchance commented on #1664
Patch accepted: https://git.kernel.org/tip/db866d3352ec85e821e730e191481cba3a2bfa6e

[2022-07-14 21:01] nickdesaulniers commented on #1657
submitted a patch to disable this config for now: https://lore.kernel.org/llvm/20220714205646.4023495-1-ndesaulniers@google.com/

[2022-07-14 22:49] nathanchance commented on #1664
Linus applied the patch directly: https://git.kernel.org/linus/db886979683a8360ced9b24ab1125ad0c4d2cf76

[2022-07-14 22:49] #1664 closed, assigned to nathanchance

[2022-07-15 17:03] nickdesaulniers opened #1665 "implement -mindirect-branch-cs-prefix"
via https://lore.kernel.org/lkml/YtEs9H+JEDUq6NNm@worktop.programming.kicks-ass.net/

[2022-07-15 17:38] nathanchance opened #1666 "__aeabi_uldivmod in float64_rem() after LLVM commit 3bc09c7da50a7bb2df51b1829f837f017da5ee34"
After https://github.com/llvm/llvm-project/commit/3bc09c7da50a7bb2df51b1829f837f017da5ee34, I see the following error while building `ARCH=arm allmodconfig`:

[code]

`arch/arm/nwfpe/softfloat.c` is kind of dense, I reduced out the following using `cvise`:

[code]

[2022-07-15 18:28] nickdesaulniers commented on #1666
cc @preames

[2022-07-15 18:53] nickdesaulniers commented on #1657
Linus picked up https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=e5d523f1ae8f2cef01f8e071aeee432654166708.  Let's keep this open so that we can work towards getting the config option re-enabled.

[2022-07-15 19:00] nathanchance commented on #1480
I am pretty sure all of these were a result of `CONFIG_UBSAN_DIV_ZERO` (LTO enables `-ffunction-sections` so "fallthrough" warnings become "unexpected end of section" warnings), so I am going to dedup this for #1657, which has more information.

[2022-07-15 19:00] #1480 closed, assigned to nobody

[2022-07-15 19:53] nathanchance commented on #1661
The patch is in -next now: https://git.kernel.org/next/linux-next/c/33f32e5072b6cc84d1b130a3ad485849bcec907a

[2022-07-15 19:53] #1661 closed, assigned to nathanchance

[2022-07-15 22:03] nickdesaulniers commented on #1644
Should `kvm_null_fn` be a `on_lock_fn_t` (or a new empty function of type `on_lock_fn_t` be used rather than `kvm_null_fn`?

[2022-07-17 17:57] dileks commented on #1613
[code]

Is there a more elegant way to check for the LLVM version?

[2022-07-18 17:49] nickdesaulniers commented on #1613
I'm not yet convinced that noundef-analysis is broken; I don't think disabling the analysis in Kbuild is the way to go.

@dileks can you confirm that you don't have `CONFIG_UBSAN_DIV_ZERO=y` set in your .config? Otherwise, based on [this comment](https://github.com/ClangBuiltLinux/linux/issues/1480#issuecomment-1185822784), I think this may be a dupe of #1657.

[2022-07-19 06:16] huangperry commented on #1577
If no one's working on this I'd like to take it.

[2022-07-19 15:14] nathanchance commented on #1577
@huangperry Go for it!

[2022-07-19 17:09] nickdesaulniers opened #1667 "-Wpointer-bool-conversion in drivers/nvme/common/auth.c"
[code]

[2022-07-19 17:11] nickdesaulniers opened #1668 "ccx asm output constraints ubsan issue"
upstream issue: https://github.com/llvm/llvm-project/issues/56568

[2022-07-19 17:14] nathanchance commented on #1667
https://lore.kernel.org/20220715114044.104782-1-hare@suse.de/

https://git.infradead.org/nvme.git/commit/55497efd87b6679e98a846534f4929dd513d9032

It doesn't look like Christoph's tree gets pulled into -next so we'll have to wait for it to get merged into Jens' tree via a pull request.

[2022-07-19 19:39] nathanchance commented on #1660
Someone else fixed this independently: https://git.kernel.org/next/linux-next/c/b5eb8cde863cdf455436c7ba3fb7362c49e1e64e

[2022-07-19 19:39] #1660 closed, assigned to nathanchance

[2022-07-20 18:52] nathanchance commented on #1642
I have sent the above diff for review: https://lore.kernel.org/20220720185228.3182663-1-nathan@kernel.org/

[2022-07-20 19:07] nickdesaulniers opened #1669 "function padding"
https://lore.kernel.org/lkml/87wncauslw.ffs@tglx/

[2022-07-21 15:52] nathanchance opened #1670 ""error: expected compatible register or logical immediate" after commit f7b4c3b82e7d"
From CI:

[code]

This is not clang specific, KernelCI shows gcc-10 builds failing in the same way.

There is a fix proposed: https://lore.kernel.org/20220721124244.903567-1-maz@kernel.org/

[2022-07-21 15:54] nathanchance opened #1671 "-Wuninitialized in drivers/net/can/pch_can.c"
[code]

Fix submitted: https://lore.kernel.org/20220721155228.3399103-1-mkl@pengutronix.de/

[2022-07-22 15:23] nathanchance commented on #1642
Alternative patch submitted: https://lore.kernel.org/20220722111959.2588597-1-amadeuszx.slawinski@linux.intel.com/

[2022-07-22 15:34] nathanchance commented on #1671
Now fixed in -next: https://git.kernel.org/next/linux-next/c/9950f11211331180269867aef848c7cf56861742

[2022-07-22 15:34] #1671 closed, assigned to nobody

[2022-07-22 15:35] nathanchance commented on #1670
Fixed by dropping the patch that introduced this: https://lore.kernel.org/20220721161458.GA17567@willie-the-truck/

[2022-07-22 15:35] #1670 closed, assigned to nobody

[2022-07-22 16:39] nathanchance opened #1672 "-Wunused-but-set-variable in fs/btrfs/free-space-cache.c"
[code]

Patch submitted: https://lore.kernel.org/20220722163854.1189931-1-nathan@kernel.org/

[2022-07-22 20:08] nathanchance commented on #1642
Patch accepted: https://git.kernel.org/broonie/sound/c/1e744351bcb9c4cee81300de5a6097100d835386

[2022-07-23 20:24] dileks commented on #1613
@nickdesaulniers
[code]

Full kernel-config attached.

[config-5.19.0-rc6-1-amd64-clang15-lto.txt](https://github.com/ClangBuiltLinux/linux/files/9174593/config-5.19.0-rc6-1-amd64-clang15-lto.txt)

[2022-07-24 11:25] edgars-cirulis opened #1673 "./kernel/smp.c an unaligned pointer access [-Walign-mismatch]"
./kernel/smp.c:344:33: warning: passing 8-byte aligned argument to 32-byte aligned parameter 2 of 'generic_exec_single' may result in an unaligned pointer access [-Walign-mismatch]
        err = generic_exec_single(cpu, csd, csd->func, csd->info);

[2022-07-24 13:25] nathanchance commented on #1673
What tree is this in? If you don’t have https://git.kernel.org/linus/1139aeb1c521eb4a050920ce6c64c36c4f2a3ab7, see if cherry picking that resolves it.

[2022-07-24 13:53] edgars-cirulis commented on #1673
https://github.com/Spectrum-Kernel/kernel_xiaomi_sm6250/commit/580a1408e07993ddf604be4f5078d377bee15f9f

Custom kernel, and caused by this commit.

[2022-07-24 14:14] nathanchance commented on #1673
The prototype of `generic_exec_single` in `include/linux/smp.h` likely needs to be adjusted to have `struct  __call_single_data` be the type of the second parameter instead of `call_single_data_t`.

[2022-07-24 14:33] edgars-cirulis commented on #1673
Alright, Thanks for the suggestion, Thank you :)

[2022-07-24 14:33] #1673 closed, assigned to nobody

[2022-07-25 16:32] nickdesaulniers commented on #1672
sounds like this got picked up?

[2022-07-25 16:38] nathanchance commented on #1672
Yes, my diff was squashed into the original change: https://git.kernel.org/kdave/c/87d1edac403607bab93021afc48b05c234b3028a

[2022-07-25 17:01] ihalip commented on #1055
It may be finicky, but it does seem to work. Tried lldb-15 and I could place and stop at a breakpoint, didn't try anything else because I'm not familiar with the lldb syntax, and I had to google how to do this basic thing anyway. Log edited for brevity:

[code]

[2022-07-25 17:52] nathanchance opened #1674 "cc-option failures after LLVM commit 8f0c901c1a172313a32bc06a1fcface76cd1220f"
After https://github.com/llvm/llvm-project/commit/8f0c901c1a172313a32bc06a1fcface76cd1220f, certain ARM and PowerPC builds are polluted with `-Waddress-of-packed-member`, which means `cc-option` has failed.

Looking into `arch/arm/Makefile` and `arch/powerpc/Makefile`, there are `-mtune` flags that are unconditionally called; these need to be wrapped in `cc-option` (or have their values implemente

[2022-07-25 18:05] nathanchance opened #1675 "-Wuninitialized in sound/soc/amd/acp/acp-platform.c"
[code]

Patch submitted: https://lore.kernel.org/20220725180539.1315066-1-nathan@kernel.org/

[2022-07-25 19:07] MaskRay commented on #1674
The argument reverting the change isn't really strong.

That said, for arm, if needed, we can ignore -mtune in `clang/lib/Driver/ToolChains/Arch/ARM.cpp`.
For PowerPC, implementing this option is probably not hard and I will try doing it...

[2022-07-25 19:22] nathanchance commented on #1674
Alright. Ignoring `-mtune` for ARM explicitly and implementing it for PowerPC seems reasonable. If not, I can just send patches for the above diff and deal with the fallout in the meantime.

[2022-07-25 23:37] nathanchance commented on #1647
I can reproduce this in a virtual machine on my MacBook Air and I can confirm that my diff above resolves the failure.

Patch sent: https://lore.kernel.org/20220725233629.223223-1-nathan@kernel.org/

[2022-07-26 15:20] nathanchance commented on #1675
Patch accepted: https://git.kernel.org/broonie/sound/c/d81677410f172c2b946393c09b46ff9e8dc1b6ec

[2022-07-26 15:59] nathanchance commented on #1647
Patch accepted: https://cgit.freedesktop.org/drm/drm-misc/commit/?id=0c09bc33aa8e9dc867300acaadc318c2f0d85a1e

[2022-07-26 16:09] nathanchance commented on #1672
Now fixed in next-20220726.

[2022-07-26 16:09] #1672 closed, assigned to nathanchance

[2022-07-26 16:10] nathanchance opened #1676 "-Wuninitialized in drivers/net/wireless/ath/wil6210/debugfs.c"
[code]

A patch has already been submitted: https://lore.kernel.org/20220724202452.61846-1-ammar.faizi@intel.com/

[2022-07-26 16:14] nathanchance opened #1677 "-Wtautological-constant-out-of-range-compare in drivers/gpu/drm/i915/gt/intel_region_lmem.c"
Initially reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/7500563926?check_suite_focus=true#step:5:94

With `i386_defconfig`:

[code]

A patch has already been submitted: https://lore.kernel.org/20220726083212.24071-1-nirmoy.das@intel.com/

[2022-07-26 16:19] nathanchance commented on #1669
Isn't that just `-fpatchable-function-entry`? Sounds like that might be sufficient if I have read the thread correctly...

https://lore.kernel.org/87ilnotawy.ffs@tglx/

[2022-07-26 16:21] nathanchance commented on #1644
I suspect this is the right answer but I am not sure how that will work with the `IS_KVM_NULL_FN` macro.

[2022-07-27 16:11] nathanchance opened #1678 "LLVM 15 release cycle"
The `release/15.x` branch has been cut:

https://discourse.llvm.org/t/release-15-x-has-branched/64095

https://github.com/llvm/llvm-project/commits/release/15.x

Follow the [official instructions](https://llvm.org/docs/GitHub.html#backporting-fixes-to-the-release-branches) for requesting backports.

The only issue I know of that will impact LLVM 15.0.0 final is https://github.com/ClangBuiltLinux/l

[2022-07-27 16:53] nathanchance commented on #1675
Now in next-20220727.

[2022-07-27 16:53] #1675 closed, assigned to nathanchance

[2022-07-28 00:37] nathanchance opened #1679 "ppc44x_defconfig __umoddi3 with '-mcpu=440'"
After commit [0d913358a816](https://git.kernel.org/powerpc/c/2255411d1d0f0661d1e5acd5f6edf4e6652a345a) ("powerpc/44x: Fix build failure with GCC 12 (unrecognized opcode: `wrteei')") in -next, I see the following error when building ```ppc44x_defconfig```:

[code]

The only change that commit has for clang is the shift from `-mcpu=powerpc` to `-mcpu=440`.

`cvise` spits out:

[code]

[code]

[code]

[2022-07-28 06:00] nickdesaulniers commented on #1679
Guessing this is SCEV getting more powerful again; libcalls to `__umoddi3` followed by `__udivdi3` which looks a bit like a mod+div similar to the https://github.com/ClangBuiltLinux/linux/issues/1666. `do_mpage_readpage_block_in_file` is a 64b `long long`...

[2022-07-28 15:19] nathanchance commented on #1679
I thought so too but this is reproducible with `clang-13` at least:

https://github.com/ClangBuiltLinux/continuous-integration2/runs/7543585026?check_suite_focus=true#step:5:141

[2022-07-29 20:45] nathanchance commented on #1647
Merged into mainline: https://git.kernel.org/linus/0c09bc33aa8e9dc867300acaadc318c2f0d85a1e

It should get backported to stable automatically due to the `Cc: stable@vger.kernel.org`.

[2022-07-29 20:45] #1647 closed, assigned to nathanchance

[2022-07-30 08:24] dileks commented on #1678
`LLVM` version `15.0.0-rc1` released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.0-rc1

[2022-08-01 17:27] nickdesaulniers commented on #1665
https://reviews.llvm.org/D130754

[2022-08-01 18:45] nickdesaulniers commented on #1679
[code]
is being lowered to:
[code]

[2022-08-02 18:50] nickdesaulniers commented on #1668
fixed: https://github.com/llvm/llvm-project/commit/92c1bc61586c9d6c7bf0c36b1005fe00b4f48cc0

[2022-08-02 18:50] #1668 closed, assigned to nobody

[2022-08-02 19:43] nathanchance commented on #1665
We'll need to submit a patch to the kernel to move that flag out of the GCC block:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/x86/Makefile?h=v5.19#n17

[2022-08-03 16:24] nathanchance opened #1680 "-Wuninitialized in drivers/usb/cdns3/cdns3-gadget.c"
[code]

Patch submitted: https://lore.kernel.org/20220803162422.2981308-1-nathan@kernel.org/

[2022-08-03 17:48] nickdesaulniers commented on #1668
Was [backported](https://github.com/llvm/llvm-project-release-prs/pull/45) to clang-15.

[2022-08-03 19:03] nickdesaulniers commented on #1679
[Additional report](https://lists.ozlabs.org/pipermail/linuxppc-dev/2022-August/246747.html)

[2022-08-04 15:49] nathanchance opened #1681 "-Wframe-larger-than in drivers/gpu/drm/amd/display/dc/dml/dcn3{0,1,2}/display_mode_vba_3{0,1,2}.c"
After commit [3876a8b5e241](https://git.kernel.org/linus/3876a8b5e241081b2a519f848a65c00d8e6cd124) ("drm/amd/display: Enable building new display engine with KCOV enabled"), I see the following errors with allmodconfig:

[code]

which I suppose makes sense, KCOV is enabled with allmodconfig and now we have this new code being built with KCOV instrumentation.

Commit [1b54a0121dba](https://git.kern

[2022-08-04 16:32] nathanchance commented on #1677
This is now in mainline but the patch appears to be picked up for a future fixes pull request: https://cgit.freedesktop.org/drm/drm-intel/commit/?id=f0d749baaed896dfa02dcb6399f5febcca93931a

[2022-08-04 16:32] nathanchance commented on #1667
This has been available in -next for a bit.

[2022-08-04 16:32] #1667 closed, assigned to nobody

[2022-08-04 16:34] nathanchance commented on #1676
https://git.kernel.org/next/linux-next/c/d578e0af3a003736f6c440188b156483d451b329

[2022-08-04 16:34] #1676 closed, assigned to nobody

[2022-08-04 21:03] nathanchance commented on #1680
Linus applied my patch directly: https://git.kernel.org/linus/78acd4ca433425e6dd4032cfc2156c60e34931f2

[2022-08-04 21:03] #1680 closed, assigned to nathanchance

[2022-08-05 20:50] dileks commented on #1678
Commit `[CodeGen][inlineasm] assume the flag output of inline asm is boolean value` will be in `15.0.0-rc2`.

[1] https://github.com/llvm/llvm-project/commit/1accfde99a8aac9e7306290575f40c57e525f41b

[2022-08-05 22:07] WOnder93 opened #1682 "ftrace broken on ppc64le clang-built kernels"
As [discovered recently](https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/814#note_981215978) by [CKI](https://cki-project.org/), somewhere between df202b452fe6c6d6f1351bad485e2367ef1e644e and 9886142c7a2226439c1e3f7d9b69f9c7094c3ef6 ftrace became broken on ppc64le clang-built kernels.

The first `perf_event_open(2)` on the ftrace event succeeds and prints a message like

[2022-08-07 02:55] dileks opened #1683 "drivers/net/wwan/iosm/iosm.o: warning: objtool: .text.ipc_imem_run_state_worker: unexpected end of section"
When `CONFIG_IOSM=m` I see this `objtool` warning:
[code]

Debian-5.19 kernel activated the Kconfig recently.

My linux-config is attached.

[config-5.19.0-3-amd64-clang15-kcfi.txt](https://github.com/ClangBuiltLinux/linux/files/9276082/config-5.19.0-3-amd64-clang15-kcfi.txt)

[2022-08-07 03:24] dileks commented on #1683
[code]

[2022-08-07 03:27] dileks commented on #1683
@samitolvanen @nickdesaulniers @nathanchance

Looks more useful:
[code]

[2022-08-07 03:30] dileks commented on #1683
Attached as file:
[code]

[llvm-objdump_iosm_o.txt](https://github.com/ClangBuiltLinux/linux/files/9276117/llvm-objdump_iosm_o.txt)

[2022-08-07 03:35] dileks commented on #1613
With patch applied (no objtool warnings):
[code]

[llvm-objdump_rtl8192cu_o.txt](https://github.com/ClangBuiltLinux/linux/files/9276121/llvm-objdump_rtl8192cu_o.txt)
[config-5.19.0-3-amd64-clang15-kcfi.txt](https://github.com/ClangBuiltLinux/linux/files/9276125/config-5.19.0-3-amd64-clang15-kcfi.txt)

[2022-08-07 05:18] dileks commented on #1683
CC @jpoimboe

With this diff the warning goes away:
[code]

Attached is the corresponding llvm-objdump.

I can provide both object-files if needed.

[llvm-objdump_iosm_o_fixed.txt](https://github.com/ClangBuiltLinux/linux/files/9276223/llvm-objdump_iosm_o_fixed.txt)

[2022-08-07 05:22] dileks commented on #1683
Here is the diff of the llvm-objdump#s:
[code]

[2022-08-07 07:44] WOnder93 commented on #1682
I managed to run a `git bisect` with the reproducer and it has identified 23b44fc248f420bbcd0dcd290c3399885360984d as the culprit:
[code]

[2022-08-07 10:18] dileks commented on #1613
@jpoimboe

Attached llvm-objdump without patch applied (objtool warning visible).

I can provide both object-files if needed.

[llvm-objdump_rtl8192cu_o_BROKEN.txt](https://github.com/ClangBuiltLinux/linux/files/9276586/llvm-objdump_rtl8192cu_o_BROKEN.txt)

[2022-08-08 16:51] nathanchance opened #1684 "-Wsometimes-uninitialized in arch/powerpc/kexec/file_load_64.c"
[code]

Reported upstream: https://lore.kernel.org/YvE+d7xcB77GODjc@dev-arch.thelio-3990X/

[2022-08-08 18:33] nickdesaulniers commented on #1683
We can't ship that.  There's a call to `_dev_err` in `ipc_imem_run_state_worker`. There's possibly UB in `ipc_imem_run_state_worker`.

[2022-08-08 18:57] nickdesaulniers commented on #1682
Attempting to report upstream, something in my `mutt` invocation has stopped working though...
https://lore.kernel.org/llvm/CAKwvOd=VBnx63Gj1vTH-8tR50Zd1r50x+NS8JRc4nXARaC2FcQ@mail.gmail.com/

[2022-08-08 19:09] dileks commented on #1683
What do you need for a proper fix?

Object Files?

Nick Desaulniers ***@***.***> schrieb am Mo., 8. Aug. 2022,
20:33:

[2022-08-08 21:46] nickdesaulniers commented on #1635
This is fixed by:
1. https://reviews.llvm.org/D131442
2. https://reviews.llvm.org/D130862
(cc @topperc )

[2022-08-08 21:50] nickdesaulniers commented on #1679
Fixed by:
1. https://reviews.llvm.org/D131442
2. https://reviews.llvm.org/D130862
(cc @topperc )

[2022-08-08 22:01] nickdesaulniers commented on #1666
AFAICT, there is no division by constant here; so https://reviews.llvm.org/D130862 won't/doesn't help.

[2022-08-09 04:24] heyg commented on #1656
Hi Nick,

I fix this issue, it's not upstream bug.

**Root cause** was that I was using a static hrtimer on the usb sof irq handle function.  SOF comming twice, static timer will

memset(0)

, and hrtimer rb tree left/right sub tree will be set null.

Solution:
1 init static hrtimer once.
2  must cancel the hrtimer first, and then start the hrtimer.

Thanks your support!

[2022-08-09 04:25] #1656 closed, assigned to nobody

[2022-08-09 04:25] heyg commented on #1656
pls check the above comments

[2022-08-09 07:22] nathanchance commented on #1678
15.0.0-rc2 has been tagged:

https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.0-rc2

[2022-08-09 17:08] nickdesaulniers commented on #1682
Submitted: https://lore.kernel.org/llvm/20220809095907.418764-1-naveen.n.rao@linux.vnet.ibm.com/

[2022-08-09 17:10] nickdesaulniers commented on #1682
Filed https://github.com/llvm/llvm-project/issues/57031 for `-mprofile-kernel` in clang.

[2022-08-09 18:43] nickdesaulniers opened #1685 "ppc -mprofile-kernel"
https://github.com/llvm/llvm-project/issues/57031

[2022-08-09 20:07] nathanchance commented on #1684
Patch submitted: https://lore.kernel.org/20220809054530.907974-1-ruscur@russell.cc/

[2022-08-10 01:11] nathanchance opened #1686 "-Wbitfield-constant-conversion in sound/soc/atmel/mchp-spdiftx.c"
[code]

Exposed by https://github.com/llvm/llvm-project/commit/82afc9b169a67e8b8a1862fb9c41a2cd974d6691.

Patch submitted: https://lore.kernel.org/20220810010809.2024482-1-nathan@kernel.org/

[2022-08-10 16:43] nathanchance commented on #1684
v2: https://lore.kernel.org/20220810054331.373761-1-ruscur@russell.cc/

[2022-08-10 19:41] nathanchance commented on #378
Congratulations everyone!

https://git.kernel.org/linus/258fafcd0683d9ccfa524129d489948ab3ddc24c

[2022-08-10 21:14] nickdesaulniers commented on #1686
https://github.com/llvm/llvm-project/issues/53253

[2022-08-11 16:57] nickdesaulniers commented on #378
Reverted by Linus: https://git.kernel.org/linus/21f9c8a13bb2a0c24d9c6b86bc0896542a28c197

Update: Shorten link (dileks)

[2022-08-11 23:53] nathanchance commented on #1684
Appears to be accepted: https://git.kernel.org/powerpc/c/83ee9f23763a432a4077bf20624ee35de87bce99

[2022-08-12 03:42] nathanchance opened #1687 "Fortify source failure in drivers/infiniband/core/cma.c with s390 allmodconfig"
When building s390 allmodconfig with clang-14 on mainline, I see the following error:

[code]

I do not see this with `clang-15` or `clang-16`; `git bisect` landed on https://github.com/llvm/llvm-project/commit/702d5de4380b1e1554e5b90863093c3a57f76f70 as the "fix" commit but I am not really sure what to make of that.

It is not visible with 5.19. I bisected Linux to commit [925d046e7e52](https://g

[2022-08-12 06:50] nathanchance opened #1688 "__aeabi_uldivmod in drivers/mtd/mtdswap.ko after LLVM commit 164067918725d1ee8875e38213b6aee9be13383e"
NOTE: This might be a dupe of #1666, feel free to close this issue if so.

After https://github.com/llvm/llvm-project/commit/164067918725d1ee8875e38213b6aee9be13383e, I see a new instance of `__aeabi_uldivmod` when building `ARCH=arm allmodconfig`:

[code]

With `multi_v7_defconfig` + `CONFIG_MTD_SWAP=y`, the error becomes:

[code]

A cursory scan of that function shows a division but it is `unsig

[2022-08-15 16:26] nathanchance commented on #1686
Patch accepted: https://git.kernel.org/broonie/sound/c/eab9100d9898cbd37882b04415b12156f8942f18

[2022-08-15 17:27] nathanchance commented on #1684
Merged in 6.0-rc1: https://git.kernel.org/linus/83ee9f23763a432a4077bf20624ee35de87bce99

[2022-08-15 17:27] #1684 closed, assigned to nobody

[2022-08-15 17:27] nathanchance commented on #1310
https://git.kernel.org/linus/4d45bc82df667ad9e9cb8361830e54fc1264e993

[2022-08-15 17:27] #1310 closed, assigned to nickdesaulniers

[2022-08-15 17:28] nathanchance commented on #1642
https://git.kernel.org/linus/1e744351bcb9c4cee81300de5a6097100d835386

[2022-08-15 17:28] #1642 closed, assigned to nathanchance

[2022-08-15 17:29] nathanchance commented on #1682
Fixed in mainline: https://git.kernel.org/linus/cb928ac192128c842f4c1cfc8b6780b95719d65f

It has a cc for stable so it should get pulled in automatically.

[2022-08-15 17:29] #1682 closed, assigned to nobody

[2022-08-16 00:06] nathanchance commented on #1688
I also see:

[code]

for which `cvise` spits out:

[code]

[code]

[code]

[2022-08-16 00:39] nathanchance commented on #1688
As for the error in the original post, `cvise` spits out:

[code]

[code]

[code]

[2022-08-16 18:01] nathanchance commented on #1688
Should be resolved with https://reviews.llvm.org/D131966.

[2022-08-16 18:11] nathanchance opened #1689 "-Wuninitialized in arch/riscv/mm/dma-noncoherent.c"
[code]

[2022-08-16 18:17] nathanchance opened #1690 "-Wsometimes-uninitialized in drivers/net/wireless/realtek/rtw88/main.c"
[code]

A fix has already been submitted: https://lore.kernel.org/20220815062004.22920-1-pkshih@realtek.com/

[2022-08-16 18:24] nathanchance opened #1691 "-Wsometimes-uninitialized in sound/soc/codecs/src4xxx.c"
[code]

I commented on an existing report: https://lore.kernel.org/YvvbKry5FVFbNdcI@dev-arch.thelio-3990X/

[2022-08-17 15:44] nickdesaulniers commented on #1688
merged: https://reviews.llvm.org/rG49223e0a2df3d52d61dc982167bcbb3cfbbc3da2

[2022-08-17 15:44] #1688 closed, assigned to nobody

[2022-08-17 16:37] nickdesaulniers commented on #972
@nikic completed this work in
commit [2a721374aef3](https://github.com/llvm/llvm-project/commit/2a721374aef3) ("[IR] Don't use blockaddresses as callbr arguments")
clang-15

[2022-08-17 16:37] #972 closed

[2022-08-17 18:56] nathanchance commented on #1665
https://lore.kernel.org/20220817185410.1174782-1-nathan@kernel.org/

[2022-08-18 22:48] nathanchance opened #1692 "-Wsometimes-uninitialized in drivers/platform/x86/amd/pmf/sps.c"
[code]

Reported upstream: https://lore.kernel.org/Yv7BmjjLtA3RaKju@thelio-3990X/

[2022-08-18 22:58] nathanchance commented on #39
Even better, there is now a `clang` option for it: https://github.com/llvm/llvm-project/commit/8564e2fea559c58fecab3c7c01acf498bbe7820a

[2022-08-19 02:14] jpoimboe commented on #1683
Looks like a compiler bug to me.  After the call to _dev_err() it just falls off the end of the function.

[2022-08-19 02:24] jpoimboe commented on #1613
@dileks I'm not sure about this one, please provide the .o file for the broken case and I can take a look.

[2022-08-19 21:40] nathanchance commented on #1677
Merged into mainline: https://git.kernel.org/linus/9cae5b3189eb9cd12a9c3f6e8afda2d81958640b

[2022-08-19 21:40] #1677 closed, assigned to nobody

[2022-08-19 23:29] nickdesaulniers commented on #378
https://github.com/llvm/llvm-project/issues/57102 is the upstream report.

I've also posted https://reviews.llvm.org/D132266 to discuss feasibility of moving these to `-Wformat-pedantic`.

Should that be accepted, I would first send https://lore.kernel.org/linux-kbuild/20220716084532.2324050-1-youngmin.nam@samsung.com/ in a series that then wrapped that in an `if clang version >= 16` check re-enab

[2022-08-19 23:41] nathanchance commented on #378
Ah, that is a decent workaround. It might be interesting to see if we could enable all the other sub warnings of `-Wformat`.

[2022-08-21 00:19] 0x647262 commented on #1626
Had some time to continue hacking on things again today and I've narrowed the issue down to the following line in `intel_bw.c`:

[code]

Using the patch:

[code]

Following the code a bit further I found the definition of the `struct` in question here:

[code]

 Although I'm not certain whether or not this is the correct next step, I tried applying the following patch:

[code]

In an attempt to fu

[2022-08-21 02:00] nathanchance commented on #1626
Aha! So this is why my Intel test box needs [this patch](https://lore.kernel.org/20220201153354.11971-1-lukasz.bartosik@semihalf.com) to work properly. I never thought about it enough to realize this is the same problem. If the first if statement is not taken, `bi_next` will be a NULL pointer with `-ftrivial-auto-var-init=zero` and the following else branch will dereference it. I am not sure why t

[2022-08-21 02:17] 0x647262 commented on #1626
Oh, neat!

Here's to hoping a fix gets mainlined! :smiley:

[2022-08-22 06:25] dileks commented on #1678
@tstellar

When do you plan to release `15.0.0-rc3` - this Tuesday 23-Aug-2022?

[2022-08-22 16:09] nathanchance opened #1693 "unable to write nop sequence of ... bytes after LLVM commit 73a9dfcee24df959b59a46d75dcbdc0bcfb50fe6"
After https://github.com/llvm/llvm-project/commit/73a9dfcee24df959b59a46d75dcbdc0bcfb50fe6, I see compiler crashes when building `ARCH=riscv defconfig` along the lines of:

[code]

I did the initial bisect last night but I have not had time to run `cvise` for a simplified reproducer. I will do that now then report it upstream.

[2022-08-22 16:51] nickdesaulniers commented on #1693
cc @compnerd

[2022-08-22 17:18] nathanchance commented on #1626
Patch pinged: https://lore.kernel.org/YwPoCqvQ02kUl9tP@dev-arch.thelio-3990X/ (might take a bit to show up)

[2022-08-22 18:09] nathanchance commented on #1693
Reported upstream: https://reviews.llvm.org/D131270

[2022-08-22 18:32] nathanchance commented on #1691
Patch submitted: https://lore.kernel.org/20220822183101.1115095-1-nathan@kernel.org/

[2022-08-22 18:33] nathanchance commented on #1692
Patch submitted: https://lore.kernel.org/20220822062917.4061503-1-Shyam-sundar.S-k@amd.com/

[2022-08-23 15:21] nathanchance commented on #1691
v2: https://lore.kernel.org/20220823151939.2493697-1-nathan@kernel.org/

[2022-08-23 15:32] nathanchance opened #1694 "-Wsometimes-uninitialized in mm/pagewalk.c"
[code]

Patch submitted: https://lore.kernel.org/20220823153055.2517764-1-nathan@kernel.org/

[2022-08-23 17:32] nathanchance commented on #1285
This now affects Hexagon after commits [81c0386c1376](https://git.kernel.org/broonie/regmap/c/81c0386c1376da54f05d6916936db5220df9f97d) ("regmap: mmio: Support accelerared noinc operations") and [f8f60615379c](https://git.kernel.org/broonie/regmap/c/f8f60615379c1b36d9220f3886fb9b229e95d8cd) ("regmap/hexagon: Properly fix the generic IO helpers") :/

https://builds.tuxbuild.com/2DlDBj7YHaFv8PfY24gT

[2022-08-23 19:07] nathanchance commented on #1686
New SHA, as this is now targeting 6.0: https://git.kernel.org/broonie/sound/c/5c5c2baad2b55cc0a4b190266889959642298f79

[2022-08-24 14:34] nathanchance commented on #1691
Patch accepted: https://git.kernel.org/broonie/sound/c/7d3ac70d82080f7a934402d66c5238e1d99be412

[2022-08-24 14:34] nathanchance commented on #1692
Patch accepted: https://git.kernel.org/pdx86/platform-drivers-x86/c/ea522b806162ca947427f8305310d3c8a3d42d7a

[2022-08-24 19:43] nathanchance commented on #1690
I reviewed the change to hopefully get it into -next quicker.

[2022-08-24 19:43] nathanchance commented on #1694
Better change: https://lore.kernel.org/2123960.ggj6I0NvhH@mobilepool36.emlix.com/

[2022-08-24 21:50] nickdesaulniers commented on #1690
Make sure to put maintainers explicitly in the to: field when asking for someone to pick up the patch.

[2022-08-24 22:59] nickdesaulniers commented on #378
https://reviews.llvm.org/D132568 is probably a better fix.

@nathanchance had question regarding which flags were in the `-Wformat` group.

https://github.com/llvm/llvm-project/blob/cff5bef948c91e4919de8a5fb9765e0edc13f3de/clang/include/clang/Basic/DiagnosticGroups.td#L934-L938 is the definition of the group.  Also, https://clang.llvm.org/docs/DiagnosticsReference.html#wformat which is generated f

[2022-08-25 15:29] nathanchance commented on #1678
LLVM 15.0.0-rc3: https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.0-rc3

[2022-08-25 15:39] nathanchance commented on #1626
Patch has been applied for 6.1:

https://cgit.freedesktop.org/drm/drm-intel/commit/?id=c247cd03898c4c43c3bce6d4014730403bc13032

[2022-08-25 18:06] nathanchance opened #1695 "-Wsometimes-uninitialized in drivers/net/ethernet/mellanox/mlx5/core/en_rep.c"
[code]

Patch submitted: https://lore.kernel.org/20220825180607.2707947-1-nathan@kernel.org/

[2022-08-25 18:09] dileks commented on #1678
Head-Shake...

`SONAME introduce option CLANG_FORCE_MATCHING_LIBCLANG_SOVERSION`

https://github.com/llvm/llvm-project/commit/5768325f065b9383228e99805c87db79a6828bfc

[2022-08-25 18:29] nathanchance commented on #1694
Fixed: https://git.kernel.org/next/linux-next/c/bd54ae30db96045f98ee4956e9628cceaa376ffa

[2022-08-25 18:29] #1694 closed, assigned to nathanchance

[2022-08-25 18:29] nathanchance commented on #1691
Fixed: https://git.kernel.org/next/linux-next/c/7d3ac70d82080f7a934402d66c5238e1d99be412

[2022-08-25 18:29] #1691 closed, assigned to nathanchance

[2022-08-25 18:32] nathanchance opened #1696 "-Wuninitialized in fs/hugetlbfs/inode.c"
[code]

Patch: https://lore.kernel.org/Ywepr7C2X20ZvLdn@monkey/

[2022-08-25 18:34] nathanchance opened #1697 "-Wsometimes-uninitialized in kernel/smpboot.c"
[code]

Patch submitted as a v2:https://lore.kernel.org/20220825145603.5811-1-ubizjak@gmail.com/

Patch exists as a diff against v1: https://lore.kernel.org/CAFULd4bgdGosQ3byMW9S+ov0uDO9iK3jCmZ-fkZQbCGOpfUvXQ@mail.gmail.com/

[2022-08-25 20:59] nickdesaulniers opened #1698 "get `kselftests` target building"
Looking at #906 , I noticed that `make LLVM=1 -j72 kselftest` fails with tons of warnings and errors; maybe we can use this as a metabug, since there will probably be lots of fixes necessary for this.

[2022-08-25 21:04] nickdesaulniers commented on #906
Looks like this was fixed by
commit 386ca9d7fd18 ("selftests: KVM: Explicitly use movq to read xmm registers")
in v5.15-rc4.

[2022-08-25 21:04] #906 closed

[2022-08-25 22:43] nickdesaulniers opened #1699 "as-option broken?"
I'm testing adding something with `as-option` in a Makfile. I think `as-option` is failing because it's using KBUILD_CFLAGS and internally we get lots of `-Werror,-Wunused-command-line-argument`.

[2022-08-25 22:45] nickdesaulniers commented on #1699
[code]
seems to make `as-option` work as I'd expect.

[2022-08-25 23:02] nathanchance commented on #1699
Hmmm, `as-option` is sometimes used to append to `KBUILD_CFLAGS`, although it does seem more correct to query the assembler using the flags that would be used for `.S` files, rather than `.c` files. That seems to line up with [the documentation](https://www.kernel.org/doc/html/latest/kbuild/makefiles.html#cc-support-functions) too.

[code]

[2022-08-25 23:07] nathanchance commented on #1699
I suspect the reason that this hasn't been noticed before is due to the fact that clang warns about flags that are supported but unused in whatever mode it is being invoked in (e.g., invoking just the compiler but passing in a linker flag).

[2022-08-26 16:21] nathanchance commented on #1692
Now in -next: https://git.kernel.org/next/linux-next/c/ea522b806162ca947427f8305310d3c8a3d42d7a

[2022-08-26 16:21] #1692 closed, assigned to nobody

[2022-08-26 16:22] nathanchance commented on #1696
Fixed: https://git.kernel.org/next/linux-next/c/fb67e9944b112eae0ff53b746c3745c799e809d0

[2022-08-26 16:22] #1696 closed, assigned to nobody

[2022-08-26 16:23] nathanchance commented on #1697
Newer version now in -next: https://git.kernel.org/next/linux-next/c/d10fd420a34f402003ffea2ad5d77e84e400aa87

[2022-08-26 16:23] #1697 closed, assigned to nobody

[2022-08-26 17:08] nickdesaulniers commented on #1699
specifically, the full list of errors:
[code]

[2022-08-26 17:22] nickdesaulniers commented on #1699
I think this maybe depends on when we try to invoke as-option.

For example:
[code]

appears to be working, but KBUILD_CFLAGS also uses a different value of KBUILD_CFLAGS.  I'm guessing that KBUILD_CFLAGS gets added to KBUILD_AFLAGS somewhere, but I haven't found where quite yet.

[2022-08-26 17:27] sudipm-mukherjee commented on #1528
fwiw, the above error is also seen with mips `ar7_defconfig`.

[2022-08-26 17:27] nathanchance commented on #1699
I don't think it does. If you assemble a `.S` file, you'll notice that the list of flags is way smaller than `KBUILD_CFLAGS`.

[2022-08-26 18:19] nickdesaulniers commented on #1699
I sent https://lore.kernel.org/llvm/20220826181035.859042-2-ndesaulniers@google.com/ for this.

[2022-08-26 18:20] nickdesaulniers commented on #1698
cc @gctucker , looking at #374 I thought we had kselftests building with clang...

[2022-08-29 16:55] nathanchance opened #1700 "-Wuninitialized in drivers/gpu/drm/msm/dsi/dsi_host.c"
[code]

Patch submitted: https://lore.kernel.org/20220829165450.217628-1-nathan@kernel.org/

[2022-08-29 17:34] nathanchance commented on #1690
Fixed: https://git.kernel.org/next/linux-next/c/4ffb4d25ef1251d57881da183d6bec7f2dfe1e32

[2022-08-29 17:34] #1690 closed, assigned to nobody

[2022-08-29 20:50] nickdesaulniers commented on #1693
reverted in https://reviews.llvm.org/rG443d9a46a879991e09bc723e64bdb1484ca1b94a.

[2022-08-29 20:50] #1693 closed, assigned to nobody

[2022-08-30 08:31] gctucker commented on #1698
Well there are a bunch of errors but some tests are building OK as far as I can tell:
https://storage.staging.kernelci.org/kernelci/staging-next/staging-next-20220830.0/x86_64/x86_64_defconfig+kselftest/clang-16/logs/kselftest.log

[2022-08-30 08:36] gctucker commented on #1698
Note that there are 2 fixes applied on this KernelCI staging-next branch, for when the arch is `x86_64` or `i386` rather than just the ambiguous `x86`:
https://github.com/kernelci/linux/commit/839f7af56f19414429e69c0c4b06eb76ad985e84
https://github.com/kernelci/linux/commit/bbda7f967df09b1c3f87866e75169ccd801596b6

They've been reviewed on the mailing list by @nathanchance so in principle it's jus

[2022-08-30 15:13] nathanchance opened #1701 "-Wsometimes-uninitialized in arch/powerpc/platforms/pseries/papr_scm.c"
[code]

Patch submitted: https://lore.kernel.org/20220830151256.1473169-1-nathan@kernel.org/

[2022-08-30 20:36] nathanchance commented on #1681
Series submitted: https://lore.kernel.org/20220830203409.3491379-1-nathan@kernel.org/

[2022-08-30 20:44] nathanchance commented on #1700
Patch accepted: https://gitlab.freedesktop.org/lumag/msm/-/commit/e4377fc2b457e27aec15e2bdf80617146fffcb8e

[2022-08-30 21:36] nickdesaulniers commented on #1592
Not sure they're the same root cause, but @kees mentioned this bug today when discussing https://lore.kernel.org/llvm/20220830205309.312864-2-ndesaulniers@google.com/.

[2022-08-31 15:26] nathanchance commented on #1695
Accepted: https://git.kernel.org/netdev/net-next/c/92f97c00f0ca

[2022-08-31 19:43] nickdesaulniers commented on #350
https://lore.kernel.org/llvm/20220831184408.2778264-4-ndesaulniers@google.com/

[2022-09-01 02:22] inclyc commented on #378
Thanks @nickdesaulniers ! I've landed https://reviews.llvm.org/D132568 in https://github.com/llvm/llvm-project/commit/e3bd67eddf65b20956513e91715b1f997dae2690 :)

[2022-09-01 17:48] nickdesaulniers commented on #378
Thanks @inclyc !

I'm working on a kernel patch for this.  Looks like `-Wformat-insufficient-args` is clang-12+...

[2022-09-01 18:01] nickdesaulniers commented on #378
Once more unto the breach! https://lore.kernel.org/lkml/20220901175913.2183047-1-ndesaulniers@google.com/

[2022-09-01 19:33] nathanchance commented on #1695
Available in -next: https://git.kernel.org/next/linux-next/c/92f97c00f0ca538fe820c0b18b6f957a69410689

[2022-09-01 19:33] #1695 closed, assigned to nathanchance

[2022-09-01 19:35] nathanchance commented on #1700
Available in -next: https://git.kernel.org/next/linux-next/c/e4377fc2b457e27aec15e2bdf80617146fffcb8e

[2022-09-01 19:35] #1700 closed, assigned to nathanchance

[2022-09-02 15:00] nathanchance commented on #1701
Patch accepted: https://git.kernel.org/powerpc/c/6cf07810e9ef8535d60160d13bf0fd05f2af38e7

[2022-09-02 16:37] nathanchance opened #1702 "Nondeterministic crash report for clang-16"
Yujie Liu with the Intel 0day team reported there might be a nondeterministic crash when building with `clang-16`:

https://lore.kernel.org/35fb81bd-6020-f256-27cc-c2787b4dd9ef@intel.com/

I too was able to reproduce that flakiness:

https://lore.kernel.org/YxEH6BbPa5VJYGiD@dev-arch.thelio-3990X/

Doing ten build and boot tests might allow us to bisect the compiler. I'll try to take a look at this

[2022-09-02 22:03] nathanchance commented on #884
Upstream thread with some addition info from Arnd: https://lore.kernel.org/CADVatmNtFYyqk0KwYzB1x6hOPkQ=0gV8mPN1BWp6QWrCs5GaxA@mail.gmail.com/

[2022-09-02 22:25] nathanchance commented on #1585
Fix: https://lore.kernel.org/20220902213750.1124421-3-morbo@google.com/

[2022-09-04 23:46] nathanchance commented on #378
https://git.kernel.org/linus/b0839b281c427e844143dba3893e25c83cdd6c17

Congrats everyone, round 2 ;)

[2022-09-04 23:46] #378 closed

[2022-09-06 08:27] dileks commented on #1678
`LLVM` version `15.0.0` FINAL was released.

Update: Add [LLVM 15.0.0 Release](https://discourse.llvm.org/t/llvm-15-0-0-release/65099) announcement

[0] https://discourse.llvm.org/t/llvm-15-0-0-release/65099
[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.0
[2] https://discourse.llvm.org/t/llvm-15-0-0-final-tagged/65097

[2022-09-06 15:22] nathanchance commented on #1701
https://git.kernel.org/linus/6cf07810e9ef8535d60160d13bf0fd05f2af38e7

[2022-09-06 15:22] #1701 closed, assigned to nathanchance

[2022-09-07 15:49] samitolvanen opened #1703 "CFI: enum vs integer function type mismatches"
@error27 was kind enough to run [Smatch](https://lwn.net/Articles/691882/) to locate [enum vs int type mismatches](https://lore.kernel.org/linux-staging/CA+_b7DKssU6SjwBvfwHSeOAnZ9PeSW2Nz7wJp8tu-BzwGwHdGQ@mail.gmail.com/) that trip CFI checking. Here's a slightly formatted list:

- [x] [drivers/staging/rtl8723bs/os_dep/os_intfs.c:430](https://elixir.bootlin.com/linux/v6.0-rc4/source/drivers/stagin

[2022-09-07 16:03] nathanchance opened #1704 "ld.lld: error: undefined symbol: __tsan_mem{cpy,move,set}"
After commit [b4257d3bf58c](https://github.com/llvm/llvm-project/commit/b4257d3bf58c51ff437c99c7b160023f5fffac78) ("[tsan] Replace mem intrinsics with calls to interceptors") in LLVM, I see the following error when `CONFIG_KCSAN` is enabled:

[code]

I initially noticed this because `CONFIG_KCSAN` gets enabled when testing `allmodconfig` + ThinLTO via `KCONFIG_ALLCONFIG`:

[code]

Based on the com

[2022-09-07 16:59] melver commented on #1704
Yes, this is expected - I'll send a patch, but this version of Clang is far from stable, so I think we have some time. The patch will be Cc stable.

[2022-09-07 17:41] melver commented on #1704
I've sent https://lore.kernel.org/all/20220907173903.2268161-1-elver@google.com/

[2022-09-07 17:50] nathanchance commented on #1704
Agreed, that's why we always try to test with ToT LLVM to catch things such as this, although not that you were unware :) Thanks for the quick patch!

[2022-09-07 23:27] samitolvanen opened #1705 "CFI: function type mismatches in indirect calls optimized into direct calls"
With KCFI and `-mllvm -debug-only=instcombine-kcfi`, Clang prints out a list of indirect calls that were converted into direct calls (and possibly later inlined), but whose function type didn't exactly match the original indirect call function pointer:
- [ ] drivers/char/tpm/tpm-chip.c: devm_add_action_or_reset -> put_device
- [ ] drivers/mmc/host/meson-mx-sdhc-mmc.c: devm_add_action_or_reset -> m

[2022-09-08 15:36] nathanchance opened #1706 "-Wsometimes-uninitialized in drivers/net/ethernet/mellanox/mlx5/core/en_accel/macsec_fs.c"
[code]

Patch submitted: https://lore.kernel.org/20220908153207.4048871-1-nathan@kernel.org/

[2022-09-09 23:52] 0x647262 commented on #1626
Looks like this snuck into 5.19.8 :smiley: https://lwn.net/ml/linux-kernel/1662629579112246@kroah.com/

If it's not an issue I'll close this out!

[2022-09-09 23:59] nathanchance commented on #1626
Ah nice, I did not realize it had been applied to a fixes branch as well!

https://git.kernel.org/linus/458ec0c8f35963626ccd51c3d50b752de5f1b9d4

Thank you again for the report and the time spent helping us get to the bottom of this!

[2022-09-09 23:59] #1626 closed, assigned to nobody

[2022-09-10 13:28] nickdesaulniers commented on #884
@ardbiesheuvel came up with:
[code]
Seems to build.  With some touch ups to avoid passing that flag to GCC will probably be upstreamable.

[2022-09-10 14:03] nickdesaulniers commented on #1699
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=fixes&id=97f72ed7a6b5a6bbac628f1f6e91cf06d1ea2cb5

[2022-09-10 14:16] nickdesaulniers commented on #92
further reduced test case:
[code]
Maybe we can view the CFG to see what looks different between the two.
https://github.com/ClangBuiltLinux/llvm-dev-conf-2020/issues/3#issuecomment-998316946

https://reviews.llvm.org/D63889 didn't seem fundamentally against the approach, maybe could use a dust off.

[2022-09-10 14:23] nickdesaulniers commented on #968
From https://reviews.llvm.org/D77611#:~:text=Edited%20%C2%B7-,Apr%207%202020%2C%204%3A06%20PM,-In%20D77611%231968227

Probably worth a bug report against GCC for static inline functions masking warn_result_unused.  https://reviews.llvm.org/D77611 should be refreshed to add a static inline function in the middle to ensure we have the same behavior between statement expressions and static inline fun

[2022-09-10 14:32] nickdesaulniers commented on #1302
https://reviews.llvm.org/rG9697f93587f46300814f1c6c68af347441d6e05d is what ultimately landed in LLVM; it allowed us to get more aggressive about inlining callees containing calls to `__builtin_constant_p`.

https://reviews.llvm.org/D111456 (just pinged Kazu) is maybe still interesting if this comes up again, but closing this out now. We no longer have any instances of section mismatch warnings fo

[2022-09-10 14:32] #1302 closed, assigned to nickdesaulniers

[2022-09-10 14:33] nickdesaulniers commented on #1302
https://reviews.llvm.org/rG9697f93587f46300814f1c6c68af347441d6e05d shipped in clang-14.

[2022-09-10 14:44] nathanchance commented on #1686
Patch is merged into mainline: https://git.kernel.org/linus/5c5c2baad2b55cc0a4b190266889959642298f79

I have asked for a stable backport: https://lore.kernel.org/Yxyga8k1jee5A9Vs@dev-arch.thelio-3990X/

[2022-09-10 14:44] #1686 closed, assigned to nathanchance

[2022-09-10 14:49] nickdesaulniers commented on #1311
Maybe we can isolate configs down further that reproduce this?

Here's what I have applied locally.  allnoconfig and defconfig can't reproduce this, and I didn't have time to test allyesconfig.  Requires setting EXPERT=y LD_DEAD_CODE_DATA_ELIMINATION=y.

[code]

I do see new warnings from defconfig though:
[code]
Those are likely from `--orphan-handling=warn`; @ardbiesheuvel suggests that the link

[2022-09-10 15:04] nickdesaulniers commented on #1315
I don't think that [not warning is the way to go](https://github.com/llvm/llvm-project/issues/55656#issuecomment-1135168454).

I don't think that supporting different values for `-march=<foo> -Wa,-march=<foo>` is worth it and the kernel doesn't need support for different values between the two though that is a subtle behavior that gcc does support.

@nathanchance sugguested maybe another go of htt

[2022-09-11 09:03] nathanchance commented on #1706
v2: https://lore.kernel.org/20220911085748.461033-1-nathan@kernel.org/

[2022-09-12 14:17] nathanchance opened #1707 "-Wenum-conversion in drivers/power/supply/bq25890_charger.c"
[code]

Patch submitted: https://lore.kernel.org/20220912141553.1743568-1-nathan@kernel.org/

[2022-09-13 14:10] nathanchance commented on #1681
Series is tentatively accepted:

https://gitlab.freedesktop.org/agd5f/linux/-/commits/e0f15a5a3bfb7008787dd2fc13c1ca903435018f

I am not sure what the plan for mainline is yet.

[2022-09-13 14:12] nathanchance commented on #1689
Patch accepted: https://git.kernel.org/riscv/c/8f7e001e0325de63a42f23342ac3b8139150c5cf

[2022-09-13 15:47] WOnder93 opened #1708 "Poor performance with `Retbleed: Mitigation; IBPB` compared to gcc-built kernels"
I noticed this on a physical machine with `AMD Opteron(TM) Processor 6272` (reports `Retbleed: Mitigation; IBPB` in `lscpu`). The performance of a clang-built kernel is significantly worse than gcc-built, presumably due to the IBPB Retbleed mitigation.

When I run `htop` while running a gcc-built kernel, I can see `htop` itself consuming just a few % CPU as expected. When I run it on a clang-built

[2022-09-13 16:53] nathanchance commented on #1708
Just to make sure, is the type of mitigation used for this machine the same between `clang` and GCC? In other words, is the GCC kernel using IBPB as well or is it using the return thunk mitigation? Clang 14.0.5 won't have the compiler flag for return thunks but your version of GCC might.

[2022-09-13 17:35] nathanchance opened #1709 "Illegal operation with CONFIG_MARCH_Z13"
Fedora recently switched from `CONFIG_MARCH_ZEC12` to `CONFIG_MARCH_Z13` (corresponding to `-march=zec12` to `-march=z13`):

https://src.fedoraproject.org/rpms/kernel/c/aff6e8acdaa437e9f06ef4166ca2209071223f8d

Unfortunately, this results in an "illegal operation" panic when booting in QEMU:

[code]

This does not appear to be an LLVM or QEMU regression, as it can be reproduced with LLVM 14 throug

[2022-09-14 08:16] WOnder93 commented on #1708
Ah, I forgot to check that, sorry :facepalm: Indeed on the gcc-built kernel I get `Retbleed: Mitigation; untrained return thunk; SMT vulnerable`. So the only problem is probably the missing compiler flag, which as I can see should be already available in clang 15+ (https://github.com/llvm/llvm-project/commit/2240d72f15f3b7b9d9fb65450f9bf635fd310f6f).

Thank you for pointing me in the right directi

[2022-09-14 08:16] #1708 closed, assigned to nobody

[2022-09-14 11:47] nathanchance commented on #1709
QEMU patch: https://lore.kernel.org/20220914105750.767697-1-borntraeger@linux.ibm.com/

[2022-09-14 18:20] nhukc commented on #1703
Patches are in-flight for all issues. I'm checking them off as they get accepted.

[2022-09-14 22:52] nathanchance commented on #1707
Patch accepted: https://git.kernel.org/sre/linux-power-supply/c/55cafd4ba42cf495268f955dd38e277fc4b4381e

[2022-09-14 22:53] nathanchance commented on #1704
Patch is accepted but SHA might change: https://git.kernel.org/paulmck/linux-rcu/c/fdc1eea7a8473ca30ef8d180e3f99a4955155c7f

[2022-09-14 23:06] nathanchance commented on #1702
CI is seeing occasional crashes while running the KASAN KUnit tests. This could be the same issue potentially (although it is not clang related).

https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/3055075867/jobs/4928217016#step:5:4329

[2022-09-15 09:54] nathanchance commented on #1709
Patch accepted: https://gitlab.com/thuth/qemu/-/commit/bae0bd819926193851f24091731fa7d761ff0fa1

[2022-09-15 12:32] nathanchance commented on #1707
Available in -next: https://git.kernel.org/next/linux-next/c/55cafd4ba42cf495268f955dd38e277fc4b4381e

[2022-09-15 12:32] #1707 closed, assigned to nathanchance

[2022-09-16 20:09] nathanchance commented on #1681
Merged into mainline: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/log/?h=41012d715d5d7b9751ae84b8fb255e404ac9c5d0

[2022-09-16 20:09] #1681 closed, assigned to nathanchance

[2022-09-16 21:07] nathanchance opened #1710 "-Wframe-larger-than in drivers/gpu/drm/amd/display/dc/dml/dcn314/display_mode_vba_314.c"
New set of files, new warning :)

[code]

Series submitted: https://lore.kernel.org/20220916210658.3412450-1-nathan@kernel.org/

[2022-09-16 23:58] nathanchance opened #1711 "__mulodi4 from u32_u32__int_overflow_test in lib/overflow_kunit.c"
Reported by CI with LLVM 11 (newer versions do not show this):

https://builds.tuxbuild.com/2EqpS04tCKn154FmyeYYpl7WJJ2/build.log

[code]

"Caused" by commit [d219d2a9a92e](https://git.kernel.org/kees/c/d219d2a9a92e39aa92799efe8f2aa21259b6dd82) ("overflow: Allow mixed type arguments") (cc @kees). A simplified reproducer on top of allnoconfig:

[code]

My reverse bisect of LLVM shows commit [320314

[2022-09-17 13:27] nathanchance commented on #1710
Sudip notes this is a mainline problem too :(

https://lore.kernel.org/YyWniVAqJclcbSqN@debian/

[2022-09-19 17:01] nathanchance opened #1712 "error: call to undeclared function 'BUILD_BUG_ON' in arch/arm64/include/asm/alternative-macros.h"
After commit [21fb26bfb01f](https://git.kernel.org/arm64/c/21fb26bfb01ffe0d9a9a967ffe061092128bbffe) ("arm64: alternatives: add alternative_has_feature_*()"), a build with `CONFIG_LTO` enabled (through either `CONFIG_LTO_CLANG_FULL` or `CONFIG_LTO_CLANG_THIN`) fails:

[code]

I have started a discussion upstream around this: https://lore.kernel.org/YyigTrxhE3IRPzjs@dev-arch.thelio-3990X/

[2022-09-19 17:51] nickdesaulniers commented on #1711
Can we simply omit the test for clang < 12?

[2022-09-19 17:52] nickdesaulniers commented on #1709
Will we need to roll our own QEMU again for CI?

[2022-09-19 18:05] nathanchance commented on #1709
No, this issue is not fatal (as QEMU just exits, rather than hanging). I only happened to catch this because I looked back at my local QEMU boot logs. The patch is marked for QEMU stable, so it should get to us via a .1 release (although I have not seen QEMU stable updated recently, so maybe we will have to wait for 7.2.0).

[2022-09-19 18:10] nathanchance commented on #1711
Sure, that would fix this immediate issue. However, it is still going to be possible for someone to call these overflow macros in a driver or core kernel code with the same types as the test (that was the original motivation for the change), which would cause this error at that point.

[2022-09-19 20:05] nickdesaulniers commented on #1711
Maybe something like:
[code]

[2022-09-20 09:01] dileks commented on #1678
`LLVM` version `15.0.1` was released.

[0] https://discourse.llvm.org/t/llvm-15-0-1-released/65380
[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.1

[2022-09-20 09:23] dileks commented on #1678
Open for `15.0.2`:
`clang-15 compile time regression: 30 seconds -> over 40 minutes #57664`

[1] https://github.com/llvm/llvm-project/issues/57664
[2] https://reviews.llvm.org/D134019

[2022-09-20 10:05] dileks commented on #1678
Backport from @chenzheng1030 see https://github.com/llvm/llvm-project/issues/57664#issuecomment-1256104010.

Update 25-Sep-2022:
Backported PR57664 fix does not improve my Linux-kernel build-time (as expected) but test-case from https://godbolt.org/z/4chMrr99f is improved by factor 20-21 here on Debian/unstable AMD64 (see [1]).

Update 26-Sep-2022:
"[MachineCycle][NFC] add a cache for block and it

[2022-09-20 13:11] nathanchance commented on #1706
Patch accepted: https://git.kernel.org/netdev/net-next/c/2e50e9bf328fb781c9fcd5dc6531458dd02d1626

[2022-09-20 14:27] nathanchance commented on #1712
Patch: https://lore.kernel.org/20220920140044.1709073-1-mark.rutland@arm.com/

[2022-09-20 23:48] nathanchance commented on #1710
Patches accepted:

https://gitlab.freedesktop.org/agd5f/linux/-/commit/ca07f4f5a98b96211a2a8fe51b35c039720be888
https://gitlab.freedesktop.org/agd5f/linux/-/commit/25ea501ed85dc3c224db73fb79d38b6109c1ad99

[2022-09-21 16:24] chleroy opened #1713 "Terribly suboptimal code generated for Linux kernel arch/powerpc/lib/xor_vmx.c"
Generated code with GCC, seems properly optimised, doesn't use stack.
With CLANG huge amount of stack use.

Dumping only `__xor_altivec_2()` but same problem with the 4 functions.

GCC 12.2:

[code]

CLANG 14:
[code]

[2022-09-21 16:40] nickdesaulniers opened #1714 "Invalid or unknown z ISA extension: 'zicbom'"
@khilman [reports](https://github.com/kernelci/kernelci-core/pull/1447) that using BFD for riscv is failing with the error:
[code]
example: https://storage.kernelci.org/next/master/next-20220920/riscv/defconfig+CONFIG_EFI=n/clang-16/logs/kernel.log

[2022-09-21 16:43] nickdesaulniers commented on #1713
Thanks for the report.  I'm immediately reminded of:

- commit 297565aa22cf ("lib/xor: make xor prototypes more friendly to compiler vectorization")
- commit a69cb445f7d1 ("crypto: arm/xor - make vectorized C code Clang-friendly")
- #496
- #503
- #563

[2022-09-21 17:45] nickdesaulniers opened #1715 "hermiticity issues with ARCH=um"
via https://lore.kernel.org/lkml/20220921064855.2841607-1-davidgow@google.com/ there's a comment:

LLVM=1.

I checked our CI and sure enough I can see warnings from /usr/bin/ld.
https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/3095779516/jobs/5012260390
That's unexpected for LLVM=1 builds.

[2022-09-21 18:46] nathanchance commented on #1712
Patch accepted: https://git.kernel.org/arm64/c/0072dc1b53c39fb7c4cfc5c9e5d5a30622198613

[2022-09-21 18:47] nathanchance commented on #1706
Patch now in -next: https://git.kernel.org/next/linux-next/c/2e50e9bf328fb781c9fcd5dc6531458dd02d1626

[2022-09-21 18:47] #1706 closed, assigned to nathanchance

[2022-09-21 18:59] nathanchance commented on #1714
Isn't this on `ld.bfd` to support? Should we open an issue for it upstream? cc @palmer-dabbelt

[2022-09-21 19:08] nathanchance commented on #1715
This is because UML links the final kernel and vDSO with `$(CC)`, instead of `$(LD)`, which means we use the default linker for the platform by default, which is `ld`.

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/scripts/link-vmlinux.sh#n78
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/x86/um/vdso/Makefile#n63

We should be able to stick `

[2022-09-21 19:24] nathanchance commented on #1713
Is this with KASAN?

https://lore.kernel.org/7cb1285a-42e6-2b67-664f-7d206bc9fd80@csgroup.eu/

[2022-09-21 20:24] nickdesaulniers commented on #1714
binutils-gdb commit 41d6ac5da655 ("RISC-V: Cache management instructions")
added support for Zicbom back in March 18.
Looking at the [releases](https://ftp.gnu.org/gnu/binutils/), it looks like that should have shipped in only the latest 2.39 release. KernelCI might be using an older release of GNU binutils. @khilman can you verify what version of riscv-linux-gnu-binutils KernelCI is using?

[2022-09-21 20:28] nickdesaulniers commented on #1715
That shouldn't be a problem; you can pass `-###` to the compiler to observe precisely how it invokes the linker to see how various compiler flags translate to linker flags.

[2022-09-21 20:34] khilman commented on #1714
Looks like it's 2.35.2, which is the version of `binutils-riscv64-linux-gnu` that comes with debian bullseye, which is the baseline of our Docker images.
[code]

[2022-09-21 20:40] ConchuOD commented on #1714
Sounds about right. @nathanchance if you're thinking about combos to put into Palmer's pre-commit CI then prob some sort of llvm/binutils combo seem like a good idea.

[2022-09-22 03:41] nathanchance commented on #1714
Yup, I agree! I am not sure that it would have really saved us here though, as we will likely be using the latest stable version of binutils so we would have support for `zicbom`. I am not sure how Palmer has the versioning set up yet though, I'll be studying it soon.

[2022-09-22 04:50] sulix commented on #1715
I tried this with ``--fuse-ld=lld`` and am getting a bunch of nasty errors from UML, largely to do with relocations and PIE. (This is not dissimilar to some of the issues we're seeing with Rust, as well: https://github.com/Rust-for-Linux/linux/pull/881).

So it looks like the hermeticity issues with $(LD) are only part of the issue here, and lld is presumably a bit stricter with what it accepts th

[2022-09-22 07:05] ConchuOD commented on #1714
Yeah, less about this specific issue and more about me suspecting that neither developers nor reviewers are using a mixed setup.

[2022-09-22 07:11] chleroy commented on #1713
No, that's without KASAN, you can see in the generated code that there is no call to kasan functions.

[2022-09-22 14:28] khilman commented on #1714
For KernelCI, I'm now removing the mixed setu.  Seems like it was added as a workaround, but was then forgotten.

[2022-09-22 19:51] nathanchance opened #1716 "CFI violation in drivers/gpu/drm/i915/gt/"
While testing kCFI on my Intel test machines, there is a series of violations when accessing all the files under `/sys/devices/pci0000:00/0000:00:02.0/drm/card0/gt/gt0`:

[code]

Patch submitted: https://lore.kernel.org/20220922195127.2607496-1-nathan@kernel.org/

[2022-09-22 23:10] nathanchance commented on #1315
I think this is all that should be needed:

[code]

With that, the error that the kernel test robot reported disappears. I do see another set of errors with `allmodconfig` along the lines of:

[code]

This is resolved with:

[code]

The series still applies to -next with:

[code]

[2022-09-23 15:20] nathanchance opened #1717 "-Wsometimes-uninitialized in drivers/thermal/intel/int340x_thermal/int340x_thermal_zone.c"
[code]

Patch submitted: https://lore.kernel.org/20220923152009.1721739-1-nathan@kernel.org/

[2022-09-23 15:30] nathanchance opened #1718 "error: .fnstart must precede ... directive in arch/arm/probes/kprobes/core.c"
After commit [1069c1dd20a3](https://git.kernel.org/next/linux-next/c/1069c1dd20a3071fb2bc44e2f46598d62a50b3fc) ("ARM: 9231/1: Recover kretprobes return address for EABI stack unwinder"), the following error occurs when building `ARCH=arm allmodconfig`:

[code]

Is this an integrated assembler bug or is the code wrong? GNU as accepts it without any issues. It looks like the integrated assembler has

[2022-09-23 15:33] nathanchance commented on #1712
Now in -next: https://git.kernel.org/next/linux-next/c/0072dc1b53c39fb7c4cfc5c9e5d5a30622198613

[2022-09-23 15:33] #1712 closed, assigned to nobody

[2022-09-23 17:34] nickdesaulniers commented on #1718
Perhaps we need to add explicit `.fnstart`/``.fnend` directives to the inline asm within `__kretprobe_trampoline`?
https://sourceware.org/binutils/docs/as/ARM-Unwinding-Tutorial.html
But the compiler should be emitting `.fnstart` for all functions for arm. Simplified test case:
https://godbolt.org/z/PYTEq6Wss

[2022-09-23 17:58] nathanchance commented on #1710
Fixed:

https://git.kernel.org/linus/faed5d0182480556cddb8343d9bad968387848f4
https://git.kernel.org/linus/f525ed19437d376736bed64ee7bc4afee82f2ba9

[2022-09-23 17:58] #1710 closed, assigned to nathanchance

[2022-09-23 18:18] nathanchance commented on #1699
I don't see that patch in Masahiro's branch anymore, did it get dropped?

[2022-09-23 20:00] nickdesaulniers commented on #1699
Yeah, there's way more users of as-option adding the results to cflags than the one place in x86... (I asked @masahir0y to drop it after a report from 0day while we were at plumbers).  I can revisit the fixup at some point.

[2022-09-23 21:23] loganchien commented on #1718
[nickdesaulniers](https://github.com/nickdesaulniers) and I had an offline discussion.  My current guess is that the AsmParser for the inline assembly doesn't have the context (a `.fnstart` should be generated as a part of the prologue of the `__kretprobe_trampoline` function).  AsmPrinterInlineAssembly creates a [new instance of MCAsmParser](https://github.com/llvm-mirror/llvm/blob/2c4ca6832fa6b3

[2022-09-24 11:43] ConchuOD opened #1719 "LLVM/GNU binutils interop: non-constant .uleb128 is not supported"
Nathan poked me about this on IRC the other day, but I'll probably forget about it so making an issue.
[code]

[build log](https://builds.tuxbuild.com/2FAqQEz4ZQLdlkVuEAds0V0gzg6/build.log)
[build env](https://builds.tuxbuild.com/2FAqQEz4ZQLdlkVuEAds0V0gzg6/config)

[2022-09-24 15:15] ConchuOD commented on #1714
FYI this is *not* an interop bug, it's broken for gcc 12 + binutils w/o zicbom too.

[2022-09-24 16:07] ConchuOD commented on #1719
Looks like this may be a gas issue that has been fixed, but idk what the gnu toolchain lads do by way of backporting.
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=91602#c16

[2022-09-25 11:18] dileks commented on #1716
Patch does not cleanly apply here on Linux v6.0-rc6+:
[code]

[2022-09-25 12:53] nathanchance commented on #1716
Yes, it is based on the `drm-intel-gt-next` branch of https://cgit.freedesktop.org/drm/drm-intel, as that is where it has to go first. You can apply it there then cherry pick it on to mainline, I think the conflicts are fairly trivial (there was just some code added and removed around the code I changed).

[2022-09-25 18:12] dileks commented on #1716
I can reproduce the CFI failures:

[code]

Hmm, I looked at...
[code]

That looks not very trivial to solve (maybe for me).

[2022-09-25 18:35] dileks commented on #1716
When I apply these patches (seen from log/history view)...
[code]

Here the reversed list of patches:
[code]

I can apply @nathanchance patch:
[code]

[2022-09-25 19:01] dileks commented on #1716
This breaks...
[code]
...and requires at least:
[code]
...and maybe more stuff from drm-intel-gt-next.

[2022-09-25 19:51] ms178 opened #1720 "Several instances of -Wvoid-ptr-dereference"
With clang version 16.0.0 (39e6077d97238ec13c9ed1b9dbae1e6408e5aba3) I see super noisy output when compiling a 5.19.11 Kernel. I've attached a snippet, but these noisy warnings span over the whole build process.

[message (1).txt](https://github.com/ClangBuiltLinux/linux/files/9641653/message.1.txt)

More details on the config and flags used are available in my repo: https://github.com/ms178/archp

[2022-09-25 20:34] dileks commented on #1716
@nathanchance

I tried to follow your instructions but was not able to solve the conflicts after a cherry-pick.

Can you be so kind and provide your patch on top of Linux v6.0-rc7 (when it's released)?
Thanks!

[2022-09-25 21:32] nathanchance commented on #1720
They come from https://github.com/llvm/llvm-project/commit/e07ead85a368173a56e96a21d6841aa497ad80f8, which was merged yesterday so I have not had a chance to sit down and look at whether or not the warning is accurate or should be potentially adjusted.

[2022-09-25 23:42] nathanchance commented on #1716
@dileks Sure, I did not think the conflicts were going to be that confusing.

https://git.kernel.org/nathan/c/6fa72e1dacde95c7d9d30729914f48d2912babfe

[2022-09-26 00:26] nathanchance commented on #1720
So far, I really only see two places where the macro actually triggers: the `__is_constexpr` macro and the checks in the `container_of` macro. Sample warnings + the offending C code:

[code]

[code]

It seems like they were aware this may cause warnings? https://lore.kernel.org/CA+55aFyRgq7hbmxK9471xY-eja4X=gKHSjF4Q+a0FJjxVB1TYQ@mail.gmail.com/

[code]

[code]
[code]

This warning is so prevalent

[2022-09-26 06:59] ms178 commented on #1720
I should add that the compilation itself went fine and the Kernel also booted and works fine. I saw these warnings all over the place up until the LTO stage though, it should be quite easy to reproduce.

[2022-09-26 07:55] nickdesaulniers commented on #1720
Maybe let's disable the warning for now, and report them to the upstream Clang developers so that they're aware of the fallout?

[2022-09-26 07:57] nickdesaulniers commented on #1719
Seems like the fix was for GCC to do configure time checking of GAS' capabilities. We don't have such luxury when building clang itself; we probably need some kind of `as-option` check for this and see if we can get clang to disable emitting these directives when LLVM_IAS=0.

[2022-09-26 12:35] dileks commented on #1716
@nathanchance

Thanks for the patch.
I was able to build successfully on top of Linux v6.0-rc7, but did not boot into it yet.

[2022-09-26 15:28] nathanchance commented on #1720
I have added some commentary on Phabricator: https://reviews.llvm.org/D134461#3815298

I will send a patch to disable `-Wvoid-ptr-dereference` if needed.

[2022-09-26 15:46] nathanchance commented on #1718
Upstream report: https://lore.kernel.org/CA+G9fYvyD9OWF53ua2EZmyf+=YTx4f1mezDNkVLMxf3BKXW=_w@mail.gmail.com/

[2022-09-26 16:20] ConchuOD commented on #1719
I'll take your word for it! I mentioned backporting as I could not repro with newer versions of binutils.

[2022-09-26 16:53] Jakob-Koschel opened #1721 "HAS_LTO_CLANG depends on KASAN disabled"
Hey!

this is more a question than an issue:

the `config HAS_LTO_CLANG` depends on `!KASAN` (https://github.com/torvalds/linux/blob/master/arch/Kconfig#L680).
Since we were requiring to use KASAN + custom instrumentation passes so far we have commented out that
dependency line and where not seeing any real issues with it.

Hence the question: Is there any reason those conflict with each other or

[2022-09-26 16:56] nathanchance commented on #1721
cc @samitolvanen, Jakob and I talked about this in person and I wondered if this is just a historical artifact from earlier versions of LTO from Android?

[2022-09-26 17:25] samitolvanen commented on #1721
I seem to recall that non-HW KASAN didn't quite work with (full) LTO in earlier Clang versions. I haven't tested that with more recent compiler versions, but if there are no issues with the combination anymore, please feel free to send a patch to drop that line.

[2022-09-26 17:29] Jakob-Koschel commented on #1721
We've mostly been using thinLTO. I'm not 100% certain if it also works with full LTO. If I get the chance I'll compile a kernel
with full LTO + KASAN and run syzkaller a bit on it & if it works I'll send a patch.

Thanks for the info.

[2022-09-26 18:04] dileks commented on #1585
Now, I switched to Linux v6.0-rc7 I wanted to test `early_printk` from peterz Git tree.

Might give you some debug output?

[1] https://git.kernel.org/pub/scm/linux/kernel/git/peterz/queue.git/log/?h=debug/experimental

[2022-09-26 18:28] nickdesaulniers commented on #1718
filed: https://github.com/llvm/llvm-project/issues/57993 against llvm

[2022-09-26 18:39] nickdesaulniers commented on #1718
sent: https://lore.kernel.org/llvm/20220926183725.1112298-1-ndesaulniers@google.com/

[2022-09-26 18:50] nathanchance commented on #1719
This is reproducible with binutils master, which appears not to have support for non-constant `.uleb128` or `.sleb128`.

[code]

It looks like the `.uleb128` comes from debug info? If I manually generate `arch/riscv/kernel/vdso/vgettimeofday.s` from `arch/riscv/kernel/vdso/vgettimeofday.c` using `-fverbose-asm -S`, I see:

[code]

Which seems to correspond to

https://github.com/llvm/llvm-project/

[2022-09-26 20:00] ConchuOD commented on #1719
I was sure tried 2.37 & 2.38 before 2.35.2 and could not repro it there.. Consider me very confused now as to what I actually tested!

Do you even have another option?

[2022-09-26 20:52] nickdesaulniers commented on #1719
Looks like there's an open bug report for this against GNU binutils.
https://sourceware.org/bugzilla/show_bug.cgi?id=27215

[2022-09-26 20:53] nickdesaulniers commented on #1719
and just for riscv.  Or use `as-instr`.

[2022-09-26 21:05] nathanchance commented on #1719
Ah, great idea, especially with Martin's reproducer from the binutils issue. Something like the following, perhaps?

[code]

[2022-09-26 21:15] ConchuOD commented on #1714
I had another bit of a look at this tonight, LD_VERSION >= 2.39 (LLD_VERSION would be 15) is required - but gating the Zicbom symbols based on that doesn't stop the string being emitted into the object file, so not sure how one is meant to handle that.

[2022-09-26 21:33] nickdesaulniers commented on #1720
So far, I've needed:
[code]

[2022-09-26 21:47] ConchuOD commented on #1719
The above *works*, but maybe the line length could do with some improvement!

[2022-09-26 21:54] nickdesaulniers commented on #1719
Maybe add another depends on line, and make it riscv specific?

[2022-09-26 22:12] nathanchance commented on #1719
I can move it to a different `depends on` line (although that unnecessarily applies this restriction to GCC, which clearly does not have this issue) but I don't really see the point in special casing RISC-V here. `CONFIG_AS_HAS_NON_CONST_LEB128` should be true for every other architecture so there is not much point in limiting its scope.

[2022-09-26 22:38] bwendling commented on #1074
I have an issue sent in to autofdo regarding this patch: https://github.com/google/autofdo/issues/144. It seems like it's not able to process the perf file I generated...

[2022-09-26 22:40] bwendling commented on #1074
We need to add this patch to the PGO patch set when we re-try upstreaming:

[code]

[2022-09-27 15:16] nathanchance commented on #1720
https://reviews.llvm.org/D134702

[2022-09-27 15:18] nathanchance commented on #1717
Patch accepted: https://git.kernel.org/thermal/linux/c/a8c94f06314c238678e2c44105c50a41333cadcc

[2022-09-27 15:54] nathanchance commented on #1689
Fixed: https://git.kernel.org/linus/8f7e001e0325de63a42f23342ac3b8139150c5cf

[2022-09-27 15:54] #1689 closed, assigned to nobody

[2022-09-27 17:43] kees opened #1722 "Use llvm-ifs for execve(2) self-tests"
Having the kernel's binfmt_elf loader tested with "weird" binaries is needed, but shipping those binaries around is difficult due to size and lacking source code, etc. But these could be distilled with llvm-ifs...

[2022-09-27 18:57] nathanchance opened #1723 "die__process_unit: DW_TAG_label ... not handled!"
After commit [32ef9e5054ec](https://git.kernel.org/linus/32ef9e5054ec0321b9336058c58ec749e9c6b0fe) ("Makefile.debug: re-enable debug info for .S files"), I see the following spew from `pahole`:

[code]

I've started a thread with Arnaldo upstream around this: https://lore.kernel.org/YzNHYoI4EZOQdCQ0@dev-arch.thelio-3990X/

[2022-09-27 21:27] nathanchance commented on #1717
Now fixed in -next.

[2022-09-27 21:27] #1717 closed, assigned to nathanchance

[2022-09-28 07:21] ConchuOD commented on #1719
Is there something that prevents you from also starting the second depends on line with a !GCC ?

[2022-09-28 09:06] dileks commented on #1716
@nathanchance

Booting on bare-metal was fine and I have seen *NO* CFI violation(s) after applying your patch.

[2022-09-28 09:08] dileks commented on #1716
@nathanchance

Can you keep the patch in your Git tree?
Thanks.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/nathan/linux.git/log/?h=github/cbl-1716-i915-kcfi-6.0-rc7

[2022-09-28 15:03] nathanchance commented on #1720
https://github.com/llvm/llvm-project/commit/89e56e732d5e89d8715a501158793ac305bc4b70

[2022-09-28 15:24] nathanchance commented on #1719
No, I am sure this would work just fine:

[code]

[2022-09-28 15:27] nathanchance commented on #1716
Sure, I can keep it there until it is merged into mainline.

[2022-09-28 16:27] dileks commented on #1716
Sounds good to me.

[2022-09-28 16:28] ConchuOD commented on #1719
This looks good to me! Feel free to submit with a:
Tested-by: Conor Dooley <conor.dooley@microchip.com>

[2022-09-28 18:25] nathanchance commented on #1719
Patch submitted: https://lore.kernel.org/20220928182523.3105953-1-nathan@kernel.org/

[2022-09-28 21:14] nathanchance commented on #1687
It looks like commit [fa35198f3957](https://git.kernel.org/kees/c/fa35198f39571bbdae53c5b321020021eaad6bd2) ("fortify: Explicitly check bounds are compile-time constants") causes this to become visible even with `clang-15` and `clang-16`:

[code]

I am having a hard time following the code through the casts but based on commenting out the `ipv6_addr_cmp()` call in `compare_netdev_and_ip()` and the

[2022-09-28 21:42] samitolvanen opened #1724 "CFI: Mismatching function pointer casts reported by -Wcast-function-type-strict"
I recently noticed that `-Wcast-function-type` only checks for ABI compatibility, which isn't sufficient to catch type mismatches with indirect call CFI, and implemented [an experimental `-Wcast-function-type-strict` warning](https://reviews.llvm.org/D134831), which checks for exact type match for function pointer casts instead.

Enabling this diagnostic results in [1549 warnings](https://gist.git

[2022-09-28 22:09] nathanchance opened #1725 "LLVM commit d1ad006a8f64bdc disables CONFIG_EFI_STUB"
After https://github.com/llvm/llvm-project/commit/d1ad006a8f64bdc17f618deffa9e7c91d82c444d, I noticed that `CONFIG_EFI_STUB` can no longer be selected because `-mabi=ms` is not a valid flag for x86:

[code]

[code]

As far as I can tell, this `cc-option` check was added with commit [8f24f8c2fc82](https://git.kernel.org/linus/8f24f8c2fc82f701866419dcb594e2cc1d3f46ba) ("efi/libstub: Annotate firmwar

[2022-09-28 22:27] nathanchance commented on #1725
Ha, I cannot actually boot my machines without `CONFIG_EFI_STUB` through `systemd-boot`, apparently. I get the following all red error message on my monitor hooked up to one of my test systems:

[code]

That change gets everything working for me again but I am unsure if there are other implications so I'll wait for Ard's feedback before I send it.

[2022-09-28 22:41] ardbiesheuvel commented on #1725
Let's just drop that `depends on` line entirely - I don't think we need it given the oldest supported GCC version is 5.1 these days.

[2022-09-28 23:18] nathanchance commented on #1725
Sounds good, I will send out a patch tomorrow, as I am running out of time today.

[On Compiler Explorer](https://godbolt.org/z/f1ooGd1PM), I can see `__attribute__((ms_abi))` is supported back to at least GCC 4.4.7 and `-mabi=ms` is supported by at least GCC 4.5.3. I see 8f24f8c2fc82f701866419dcb594e2cc1d3f46ba landed in 5.6, which has a documented minimum supported version of GCC 4.9 (although i

[2022-09-29 07:57] ardbiesheuvel commented on #1725
Nah just rip it out and backport it to v5.10+. We only use the attribute not the command line option, so worst case, people [supposedly] building v5.10 with GCC 4.3 or older will have to disable CONFIG_EFI_STUB by hand in their .config after upgrading to a new stable release.

[2022-09-29 10:21] kees commented on #1724
[code]

[2022-09-29 15:20] nathanchance commented on #1725
Patch submitted, thanks for the input Ard!

https://lore.kernel.org/20220929152010.835906-1-nathan@kernel.org/

[2022-09-29 18:30] nickdesaulniers commented on #1722
Can you point me to the relevant parts of the tree to look at this to evaluate whether llvm-ifs would be a good fit for the problem?

[2022-09-29 18:39] nickdesaulniers commented on #1687
Thanks for the reduced test case.

Note that `struct sockaddr` is a curious case that @kees and @GustavoARSilva mentioned recently with a trailing array of specified length.

`struct sockaddr_in`'s `sin_addr` member is of type `struct in_addr`, which looks like:
[code]
while a `struct sockaddr` is clearly larger than 4B. So in the reduced case, indeed it seems that the `memcmp` is indeed over-read

[2022-09-29 18:54] dileks opened #1726 "Errors when building perf v6.0-rcX with LLVM-15"
I already reported that (cannot find the link), now see in `acme/linux.git#tmp.perf/urgent` fixes for that.

`perf parse-events: Ignore clang 15 warning about variable set but unused in bison produced code`
`perf tests record: Fail the test if the 'errs' counter is not zero`

[1] https://git.kernel.org/pub/scm/linux/kernel/git/acme/linux.git/commit/?h=tmp.perf/urgent&id=25c5e67cdf744cbb93fd0664761

[2022-09-29 21:08] nickdesaulniers commented on #1726
dup of #1654 ?

[2022-09-29 21:09] nickdesaulniers commented on #1654
https://git.kernel.org/pub/scm/linux/kernel/git/acme/linux.git/commit/?h=tmp.perf/urgent&id=25c5e67cdf744cbb93fd06647611d3036218debe
https://git.kernel.org/pub/scm/linux/kernel/git/acme/linux.git/commit/?h=tmp.perf/urgent&id=689a91c65a129136cb6d9314a395c0f70a79584e
Look related, but not closing out until verified.

[2022-09-29 21:37] kees commented on #1722
The goal would be to represent the small collection I have of "weird" ELF binaries in yaml, so I don't have to (for example) ship a 3MB arm32 ELF, etc, for doing self-tests. The code I expect to exercise is mainly `fs/exec.c` and `fs/binfmt_elf.c`. I have one small kunit test in `fs/binfmt_elf_test.c` currently, where you can see some of what I expect to want from llvm-ifs. (i.e. I'm building a bu

[2022-09-29 21:58] nickdesaulniers commented on #1074
https://protools19.github.io/slides/Eranian_KeynoteSC19.pdf has some nice slides demonstrating PGO vs AutoFDO. Might be nice to reuse in certain presenations.

[2022-09-29 23:04] kees commented on #1724
bfa warning fixes: https://lore.kernel.org/lkml/20220929230334.2109344-1-keescook@chromium.org

[2022-09-29 23:05] kees commented on #1687
Oh, my darling sockaddr. Yes, I have some patches for this, but I haven't sent them yet given the timing of the pending merge window. Here's what I've got, though:
https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/commit/?h=devel/hardening&id=2e31e3f9bd18e173b8740ff43cc756ac07a507ed

[2022-09-29 23:10] nathanchance commented on #1687
I will see if I can tighten up the reproducer in that case.

I applied this on `next-20220929` but it does not seem to fix this particular error.

[2022-09-29 23:29] samitolvanen opened #1727 "CFI: BPF type mismatches"
CFI is currently disabled for [the BPF dispatcher functions](https://elixir.bootlin.com/linux/v6.0-rc7/source/include/linux/bpf.h#L898), as they may call JIT compiled code that's missing CFI type hashes. In addition, BPF trampolines can be indirect call targets as they're passed as callbacks to various functions, and also need type hashes.

My [kcfi-bpf tree](https://github.com/samitolvanen/linux/

[2022-09-30 07:00] kees commented on #1687
Okay, I think this is the third case of sanitizers messing up `__bos()`. Or actually, I suspect it might be `__builtin_constant_p()` that is misbehaving?

First: https://github.com/ClangBuiltLinux/linux/issues/1592
Second: https://lore.kernel.org/lkml/20220920192202.190793-2-keescook@chromium.org/

The furthest I got was confirming an insane value in `__bos`: https://github.com/ClangBuiltLinux/lin

[2022-09-30 07:36] kees commented on #1687
With this patch on -next:

[code]

I see this where `__read_overflow` manifests:

[code]
size == 16
p_size == 8

The source here, line 482 of drivers/infiniband/core/cma.c is:

[code]

With KASAN disabled, I see:

[code]

size == 16
p_size == SIZE_MAX

[2022-09-30 07:58] kees commented on #1687
So, `__builtin_object_size((char *)&((struct sockaddr_in *)sa)->sin_addr, 0)` is changing from `SIZE_MAX` to `8`. (?!)

It doesn't make any sense. `sizeof(struct sockaddr_in) == 16` and `sizeof(struct sockaddr) == 16` It's just like #1592 where the `__bos` output doesn't appear to map to anything.

[2022-10-01 10:09] dileks commented on #1726
Both commits now in Linus tree.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=c816f2e9813d218b36343c67b443c77c539ea294

[2022-10-01 10:12] dileks commented on #1726
@nickdesaulniers

yes, one of the commits `perf tests record: Fail the test if the 'errs' counter is not zero`.
But it's two issues with clang-15.

[1] https://git.kernel.org/linus/25c5e67cdf744cbb93fd06647611d3036218debe

[2022-10-01 10:14] dileks commented on #1654
`perf tests record: Fail the test if the 'errs' counter is not zero`

[1] https://git.kernel.org/linus/25c5e67cdf744cbb93fd06647611d3036218debe

[2022-10-01 17:06] dileks commented on #1716
@nathanchance

Looks like there where changes post v6.0-rc7 - maybe you can update your patch:
[code]

[2022-10-01 17:14] dileks commented on #1726
I dropped my own LLVM-15 patches and with latest Linus tree I see no errors when build perf.

BTW, I am building with `--std=gnu11` and my custom patchset in that area looks like this:

[code]

[2022-10-01 17:45] nathanchance commented on #1716
@dileks Yes, a slight adjustment will be needed. I will post a new version of that branch after 6.0-rc8 or 6.0 final is released, either on Sunday or Monday.

[2022-10-01 22:16] nathanchance commented on #1716
@dileks I was able to do it today.

https://git.kernel.org/nathan/c/cdd6a1b8e7c03758cb48292b64933c461cb10cd3

https://git.kernel.org/pub/scm/linux/kernel/git/nathan/linux.git/log/?h=github/cbl-1716

That old branch does not exist anymore.

[2022-10-01 23:05] dileks commented on #1716
@nathanchance

Thanks. Applies cleanly on top of latest Linus Git.

[2022-10-01 23:30] nickdesaulniers commented on #1726
Thanks for the report. Dup'ing.

[2022-10-01 23:30] #1726 closed, assigned to nobody

[2022-10-01 23:31] nickdesaulniers commented on #1654
Closing based on https://github.com/ClangBuiltLinux/linux/issues/1726#issuecomment-1264427265.

[2022-10-01 23:31] #1654 closed, assigned to nobody

[2022-10-02 03:32] kees commented on #1724
atmel warning fixes: https://lore.kernel.org/lkml/20221002032428.4091540-1-keescook@chromium.org

[2022-10-03 16:44] nickdesaulniers commented on #1720
Still seeing errors in CI: https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/3172104057.  I can reproduce with ToT LLVM. Let me see if it's config/command-line-flag related.

[2022-10-03 17:34] nickdesaulniers commented on #1720
I think it's because 5.15 used `-std=gnu89` rather than `-std=gnu11`.

[code]
[code]
https://reviews.llvm.org/D134702#3831208

[2022-10-03 17:47] nickdesaulniers commented on #1720
https://reviews.llvm.org/D135090

[2022-10-03 19:38] nathanchance opened #1728 ""error: expected string literal in 'asm'" in include/asm-generic/rwonce.h"
When building an arm64 kernel with `CONFIG_LTO` after commit [ba00c2a04fa5](https://git.kernel.org/arm64/c/ba00c2a04fa5431d204a4183062b30372c062aa7) ("arm64: fix the build with binutils 2.27"), I see errors along the following lines:

[code]

Patch submitted: https://lore.kernel.org/20221003193759.1141709-1-nathan@kernel.org/

[2022-10-04 14:42] nathanchance opened #1729 "-Wsometimes-uninitialized in fs/ntfs3/namei.c"
[code]

Patch submitted: https://lore.kernel.org/20221004144145.1345772-1-nathan@kernel.org/

[2022-10-04 15:55] nathanchance commented on #1711
This is now in mainline:

https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/3179910972

I will try to test the above diff.

[2022-10-04 19:57] palmer-dabbelt commented on #1714
oops, I guess we need to check `-Wa,-march=...zicbom...` rather than just `-mach=...zicbom...`, because that's what we need to make inline assembly work.  Does someone have a patch?

[2022-10-04 19:59] ConchuOD commented on #1714
if it's that straightforward, I guess I can have one...

[2022-10-04 20:10] nathanchance opened #1730 ""fixup value out of range" with arm64 allmodconfig + ThinLTO with kCFI"
With `ARCH=arm64 allmodconfig` + `CONFIG_LTO_CLANG_THIN=y`, I am seeing the following error:

[code]

CI sees it as well: https://builds.tuxbuild.com/2FfABo3KfBJufRjc1cSwHmRiBpd/build.log

As you can see, the error is pretty helpful :)

If I turn off `CONFIG_CFI_CLANG`, the build succeeds:

[code]

cc @samitolvanen

[2022-10-04 20:15] samitolvanen commented on #1730
Thanks for the report. It's in `drivers/misc/habanalabs/habanalabs.o`, it seems.

[2022-10-04 20:18] nathanchance commented on #1730
It would pay to read my build logs fully :/ Indeed, this can just be reproduced with:

[code]

I can `cvise` something out.

[2022-10-04 20:21] ConchuOD commented on #1714
Seemingly not that straightforward. That does do dynamic disabling of CONFIG_...ZICBOM but it does not stop zicbom being emitted into the object files.

[2022-10-04 20:26] samitolvanen commented on #1730
Curiously the second attempt works for me, but if I delete `.thinlto-cache`, it fails again.
[code]

[2022-10-04 20:40] ConchuOD commented on #1714
Palmer pointed out I missed a cc-option check in the Makefile too... That sorts it so I will in fact send a aptch...

[2022-10-04 21:06] samitolvanen commented on #1730
Dropping `--thinlto-cache-dir=.thinlto-cache` allows me to reproduce this every time.

The error occurs while processing fixups for `gaudi_mmu_prepare`, which has 712 indirect calls as `gaudi_mmu_prepare_reg` is inlined and the `WREG32_*` macros each generate an indirect call to `hl_wreg`.

As a quick test, adding `noinline` to `gaudi_mmu_prepare_reg` fixes the issue, but probably isn't ideal. I'l

[2022-10-04 21:48] dileks commented on #1678
`LLVM` version `15.0.2` was released.

[0] https://discourse.llvm.org/t/llvm-15-0-2-released/65695
[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.2

[2022-10-04 23:08] nickdesaulniers commented on #1666
Android is hitting this now with https://android-review.googlesource.com/c/kernel/common/+/2237552.

[2022-10-05 01:56] nathanchance commented on #1730
Yup, that is exactly it. Here is the reproducer that `cvise` spat out for me:

https://gist.github.com/nathanchance/58b087f6b18ce44451382f24e1aa1d69

[code]

[2022-10-05 05:52] kees commented on #1711
Ah! Shall I take the above patch for it?

[2022-10-05 16:36] nickdesaulniers commented on #1729
v2: https://lore.kernel.org/llvm/20221004232359.285685-1-nathan@kernel.org/

[2022-10-05 16:41] nickdesaulniers commented on #1728
Accepted: https://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git/commit/?id=d2995249a2f7

Not yet in -next as of 20221005, maybe tomorrow.

[2022-10-05 16:45] nickdesaulniers commented on #1711
I'll send a formal patch today.

[2022-10-05 21:59] nickdesaulniers commented on #1074
Issues with autofdo processing perf.data: https://github.com/google/autofdo/issues/144
Issues with LBR on Zen2: https://www.spinics.net/lists/linux-perf-users/msg23103.html

[2022-10-05 22:24] nickdesaulniers commented on #1425
Issues with autofdo processing perf.data: https://github.com/google/autofdo/issues/144
Issues with LBR on Zen2: https://www.spinics.net/lists/linux-perf-users/msg23103.html

[2022-10-05 22:29] samitolvanen commented on #1730
Thanks for reducing this! Using the reproducer I could also trigger the issue without LTO, which simplified debugging quite a bit. The problem is that we end up emitting a `tbnz` instruction that jumps to a label that's out of range (i.e. >32kB away).

Normally, out of range `tbnz` instructions should be fixed in the branch relaxation pass, but the `KCFI_CHECK` pseudo instruction was missing size

[2022-10-05 22:29] #1730 closed, assigned to nobody

[2022-10-06 05:33] yshui commented on #1440
I am seeing this problem again.

[code]

I think it's caused by the particular static key in `frontswap_enabled`

Kernel 6.0 with LLVM/Clang 15.0.2

[2022-10-06 09:32] yshui commented on #1440
Hmm, I can reproduce this problem using as far back as clang 13. I don't have older clang available from my system's package management.

For now it's possible to workaround by disabling CONFIG_ZSWAP.

[2022-10-06 10:31] yshui opened #1731 "ThinLTO breaks kernel with ZFS built-in"
I reported this in #1440, but after further investigation this looks like a different issue.

The symptom is the same as #1440:

[code]

However, this only happens, if I enable the ZFS module as kernel builtin. (Of course, disabling CONFIG_ZSWAP helps, since it worksaround that jump label).

Interesting how ZFS can trigger an codegen change in code that is seemingly completely unrelated, through L

[2022-10-06 12:31] yshui commented on #1731
Hmm, there is another problem. I worked around this issue (by disabling ZSWAP), but then the resultant kernel does not boot on real hardware, it boots in qemu, however.

[2022-10-06 17:25] nickdesaulniers commented on #1711
v2: https://lore.kernel.org/llvm/20221006171751.3444575-1-ndesaulniers@google.com/

[2022-10-06 17:26] nickdesaulniers commented on #1585
commit 8c86f29bfb18 ("x86/paravirt: add extra clobbers with ZERO_CALL_USED_REGS enabled")

[2022-10-06 17:26] #1585 closed, assigned to nobody

[2022-10-06 17:29] nickdesaulniers commented on #1586
AArch64: https://reviews.llvm.org/rG6e00a34cdb49ba1d4b72ec274e52260da9c52380

Leaving open for 32b ARM.

[2022-10-06 17:39] ConchuOD commented on #1714
Ignore those commits, I had a duplicate as-option check in them - but I submitted some patches that seem to work..

I've probably done something awful since tc stuff is pushing my comfort zone, but:
https://lore.kernel.org/linux-riscv/20221006173520.1785507-1-conor@kernel.org

[2022-10-06 18:11] nickdesaulniers commented on #1665
https://reviews.llvm.org/D134915 is tangentially related. clang-16.

[2022-10-06 20:18] nickdesaulniers commented on #1718
[v3](https://lore.kernel.org/llvm/20220930211505.209939-1-ndesaulniers@google.com/) has [some comments](https://lore.kernel.org/llvm/CAMj1kXHCGjb-mWHh37wv2mgZvLEsRA=f_Y-7UMom-QiRjTJ_Nw@mail.gmail.com/) that will necessitate a v4, but weirdly the base commit is not in -next today. [It looks like Russell picked it up](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?id=106

[2022-10-06 20:27] nickdesaulniers commented on #1718
Looks like it was moved to discarded: https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9231/1

[2022-10-06 20:30] nickdesaulniers commented on #1718
https://lore.kernel.org/linux-arm-kernel/YzHPGvhLkdQcDYzx@shell.armlinux.org.uk/

[2022-10-06 20:35] nickdesaulniers commented on #1718
Closing this for now since the offending patch in linux-next was discarded. May reopen imminently to track the ultimate fix though.

[2022-10-06 20:35] #1718 closed, assigned to nickdesaulniers

[2022-10-06 22:33] nickdesaulniers commented on #1666
So it looks like https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/arm/nwfpe/softfloat.c is based on this library: http://www.jhauser.us/arithmetic/SoftFloat.html. Specifically, it seems like what's in tree is an old version of the version 2 release.  Looks like the latest release is version 3 which looks like a rewrite, but for version 2 there's a version 2c that has an

[2022-10-07 16:30] nickdesaulniers commented on #1666
[code]
makes the `__aeabi_uldivmod` emission go away. Obviously not correct, but potentially a clue. This is visible in the reproducer script from @nathanchance.

[2022-10-07 20:37] nickdesaulniers commented on #1711
Accepted: https://git.kernel.org/pub/scm/linux/kernel/git/kees/linux.git/commit/?id=2d4df670c64c

And @kees has a follow up: https://lore.kernel.org/llvm/20221006230017.1833458-1-keescook@chromium.org/

[2022-10-09 22:50] kees commented on #1724
sched: https://lore.kernel.org/lkml/20221008000758.2957718-1-keescook@chromium.org/
nfsd: https://lore.kernel.org/lkml/20221007235406.2951724-1-keescook@chromium.org/

[2022-10-10 17:03] nickdesaulniers opened #1732 "write to reserved register 'R7'"
From [this 0day report](https://lore.kernel.org/llvm/202210072120.V1O2SuKY-lkp@intel.com/):
[code]
cc @ardbiesheuvel
Looks like CONFIG_THUMB2 was not set in the .config. Reminds me of #701.
CONFIG_FTRACE=y is set, [this patch](https://lore.kernel.org/linux-arm-kernel/20220203082204.1176734-12-ardb@kernel.org/) references `-pg` w/ clang.

[2022-10-10 17:11] ardbiesheuvel commented on #1732
CONFIG_THUMB2_KERNEL is set, which makes R7 a reserved register when using `-pg`. In this case, we could just switch to R10 instead.

[2022-10-10 17:41] nickdesaulniers commented on #1732
Oops, I grepped something other than .config...

[code]
?

[2022-10-10 17:52] nickdesaulniers commented on #1732
submitted: https://lore.kernel.org/lkml/20221010175134.2671410-1-ndesaulniers@google.com/

[2022-10-10 18:45] nickdesaulniers commented on #39
One thought on `-finline-max-stacksize=`; it only looks at the callee size, so llvm can still create large callers since the caller may have multiple callees.

[code]
individually, `bar` and `baz` may be below the threshold of `-finline-max-stacksize=` but when inlined together may still exceed `-Wframe-larger-than=`.  Still probably better than nothing though!

[2022-10-10 22:54] nickdesaulniers commented on #1666
https://lore.kernel.org/lkml/20221010225342.3903590-1-ndesaulniers@google.com/

[2022-10-11 08:44] bwendling commented on #378
Thank you! This was an annoying one I found.

-bw

On Fri, Jun 17, 2022 at 10:44 AM Nick Desaulniers ***@***.***>
wrote:

[2022-10-11 18:24] nickdesaulniers opened #1733 "investigate replacing w/ `__unqual_scalar_typeof` w/ `typeof_unqual`"
C2X added support for `typeof_unqual` which is in clang-16, but requires the kernel to be buildable with `-std=gnu2x`.  It might be useful to replace `__unqual_scalar_typeof` machinery with `typeof_unqual`, but first we'd have to get the kernel buildable with `-std=gnu2x`.  I encountered issues with the typedef's around `bool`, `true`, and `false` immediately when I tried `-std=gnu2x`.

[2022-10-11 19:00] nickdesaulniers commented on #1666
submitted to RMK's queue: https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9256/1

[2022-10-13 17:22] nathanchance commented on #1728
https://git.kernel.org/linus/d2995249a2f72333a4ab4922ff3c42a76c023791

[2022-10-13 17:22] #1728 closed, assigned to nathanchance

[2022-10-13 19:56] nathanchance commented on #1467
https://lore.kernel.org/20221007203236.1750890-1-ndesaulniers@google.com/

[2022-10-13 20:43] nickdesaulniers opened #1734 "CONFIG_OF and unused variables"
I feel like we need to pin @arndb 's [point](https://lore.kernel.org/llvm/4429d1ec-579e-4b0d-a8d8-06b9a5877a9c@app.fastmail.com/) about CONFIG_OF somewhere; these reports are a daily occurrence.

[2022-10-13 20:45] nathanchance commented on #1734
I submitted https://lore.kernel.org/20221013195153.2767632-1-nathan@kernel.org/ for this earlier today due to a tangential report.

[2022-10-13 20:45] nickdesaulniers commented on #1364
v2 needs to be re-pinged, perhaps after the merge window closes this weekend. @samzeter can you do that?

[2022-10-13 20:48] nickdesaulniers commented on #1679
The llvm patches have all landed. What do we need to do on the kernel side? [Sounds like](https://github.com/ClangBuiltLinux/linux/issues/1679#issuecomment-1198300116) this is still an issue for clang-13 through clang-15? I think those llvm commits are too risky to ship in clang-15.

[2022-10-13 20:52] nathanchance commented on #1679
Just say that ppc44x_defconfig is broken with earlier versions of `clang`? I am not really sure how we can work around this in the kernel sources other than selectively reverting 2255411d1d0f0661d1e5acd5f6edf4e6652a345a for earlier versions of `clang`?

[2022-10-13 21:03] nathanchance commented on #1716
v2: https://lore.kernel.org/20221013205909.1282545-1-nathan@kernel.org/

[2022-10-13 21:19] topperc commented on #1679
@nickdesaulniers The llvm patch for even divisors like 12 was broken and got reverted. I haven't re-committed it yet.

[2022-10-14 12:30] dileks commented on #1716
@nathanchance
Feel free to add my:

`Tested-by: Sedat Dilek <sedat.dilek@gmail.com>`

[2022-10-14 16:50] samitolvanen opened #1735 "CFI: Add an option to not emit endbr64 for functions with !kcfi_type metadata"
On x86_64 when KCFI is patched to FineIBT at runtime, we no longer need the endbr64 instruction at the beginning of address-taken functions, as we won't be calling them indirectly.

[As requested by Peter](https://lore.kernel.org/lkml/Ytp6ooFQMLr3%2Fh6v@worktop.programming.kicks-ass.net/), add an option to Clang to omit the endbr64 instruction from functions that have `!kcfi_type` metadata. This c

[2022-10-14 16:55] nickdesaulniers commented on #1467
v3: https://lore.kernel.org/llvm/20221014165302.845203-1-ndesaulniers@google.com/

[2022-10-14 17:06] nathanchance commented on #1734
As Arnd and the kernel test robot point out on the mailing list, that patch is flawed. I am not going to revisit this for the time being.

[2022-10-14 17:34] nickdesaulniers commented on #1315
Will GCC warn if you set via command line `-D` flag a flag its preprocessor would have defined?

[2022-10-14 17:35] kees commented on #1735
I don't understand this -- isn't FineIBT going to be a runtime patch? i.e. we must always emit `endbr` in case the system doesn't support IBT. And if it does, FineIBT would just rewrite stuff to move `endbr`?

[2022-10-14 17:39] nathanchance commented on #1315
Yes:

[code]

[2022-10-14 18:26] samitolvanen commented on #1735
Yes, I believe that's the current plan.

If the system doesn't support IBT, we don't need `endbr` in the first place. The reason Peter wanted this feature was to save four bytes per function. It's nice to have, but not absolutely necessary.

[2022-10-14 18:54] samitolvanen opened #1736 "CFI: Add a salt attribute to Clang to differentiate identical function prototypes"
@lvwr [reminded me](https://reviews.llvm.org/D119296#3684022) about adding a way to Clang to differentiate between identical function prototypes:

A simple type attribute along the lines of `__attribute__((cfi_salt("string")))` would do here, for example. The same attribute could be used for both Clang CFI and KCFI.

cc @kees

[2022-10-14 19:25] samitolvanen opened #1737 "CFI: Drop !kcfi_type metadata for non-address-taken globals with LTO"
Another [feature suggestion](https://reviews.llvm.org/D119296#3684022) from @lvwr:

This would work similarly to [ibt-seal](https://reviews.llvm.org/D116070). Basically, with LTO we can tell for sure that non-address-taken globals are not indirectly called, which means we can drop the `!kcfi_type` metadata from them, thus making these functions invalid indirect call targets.

cc @kees

[2022-10-14 20:17] nickdesaulniers commented on #1315
v4: https://lore.kernel.org/llvm/20221014201354.3190007-1-ndesaulniers@google.com/

[2022-10-14 20:49] nathanchance commented on #1719
v2: https://lore.kernel.org/20221014204210.383380-1-nathan@kernel.org/

[2022-10-14 21:45] nickdesaulniers commented on #1737
That's nice; it sounds like LTO will no longer be strictly necessary for kCFI, but will still improve kCFI when used.

[2022-10-15 02:11] kees commented on #1735
Right, I guess I was thinking about "distro" kernels that need to support both IBT and non-IBT systems. So this would be either a system without IBT (and without FineIBT), or for a system with IBT, but it _must_ then use FineIBT?

[2022-10-15 02:14] kees commented on #1736
Excellent, yes! I'd like to have automatic salting too -- i.e. the call graph analysis that splits buckets automatically. This is something @lvwr has worked on before. :)
https://www.blackhat.com/docs/asia-17/materials/asia-17-Moreira-Drop-The-Rop-Fine-Grained-Control-Flow-Integrity-For-The-Linux-Kernel.pdf

[2022-10-16 19:07] nathanchance commented on #1719
https://git.kernel.org/linus/0a6de78cff600cb991f2a1b7ed376935871796a0

[2022-10-16 19:07] #1719 closed, assigned to nathanchance

[2022-10-16 19:11] nathanchance commented on #1467
https://git.kernel.org/linus/c67a85bee78db74c6889a5ca645c3763ad23d863

[2022-10-16 19:11] #1467 closed, assigned to nickdesaulniers

[2022-10-17 16:31] nathanchance opened #1738 "CFI failure at kfd_destroy_mqd_cp"
After upgrading my main workstation to 6.1-rc1 and enabling CFI, I see the following failure:

[code]

Patch submitted: https://lore.kernel.org/20221017162837.3698-1-nathan@kernel.org/

[2022-10-17 17:40] nathanchance commented on #1725
Patch accepted: https://git.kernel.org/tip/33806e7cb8d50379f55c3e8f335e91e1b359dc7b

[2022-10-17 17:54] nathanchance commented on #1719
I have requested a backport to 5.15, 5.19, and 6.0: https://lore.kernel.org/Y02WW7iIeWPFTV8L@dev-arch.thelio-3990X/

[2022-10-18 11:46] dileks commented on #1678
`LLVM` version `15.0.3` was released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.3
[2] https://discourse.llvm.org/t/llvm-15-0-3-tagged/66031

[2022-10-18 15:19] samitolvanen commented on #1735
Correct, Peter wanted to always patch KCFI into FineIBT on systems that support IBT.

[2022-10-18 15:27] nathanchance opened #1739 "-Wunneeded-internal-declaration in mm/memremap.c"
[code]

Patch submitted: https://lore.kernel.org/20221018152645.3195108-1-nathan@kernel.org/

[2022-10-18 19:51] nickdesaulniers commented on #1732
submitted to RMK's queue: https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9260/1.

[2022-10-18 20:34] nickdesaulniers opened #1740 "relocation R_X86_64_32S against symbol `item_nil' can not be used when making a PIE object; recompile with -fPIE"
wasn't able to run `menuconfig` today on linux-5.15.y

[code]

[2022-10-18 20:41] nickdesaulniers commented on #1740
I needed this in 5.15.y, probably something exists upstream for this:
[code]

[2022-10-18 20:45] nathanchance commented on #1740
It works for me here...

[code]

The Kconfig build respects `HOSTLDFLAGS=-fuse-ld=lld`, I can see it when linking with `V=1`:

[code]

[2022-10-18 20:47] nathanchance commented on #1738
Patch accepted: https://gitlab.freedesktop.org/agd5f/linux/-/commit/e299b00adf3d4505132e624894f549422ad05eeb

[2022-10-18 20:53] nickdesaulniers commented on #1740
Thanks for checking!

Hmm...I'm also on 5.15.74. Hmm...after an `mrproper` I can't reproduce. I wonder if my `.config` got messed up somehow...

[2022-10-18 20:53] #1740 closed, assigned to nobody

[2022-10-19 15:37] nathanchance opened #1741 "-Wmacro-redefined in include/linux/fortify-string.h"
When building `x86_64_defconfig` on mainline with `CONFIG_KMSAN=y` and `CONFIG_FORTIFY_SOURCE=y`, I see the following warning/error:

[code]

This appears to be caused by commit [ff901d80fff6](https://git.kernel.org/linus/ff901d80fff6d65ada6f2a60a1f7d180ee2e0416) ("x86: kmsan: use __msan_ string functions where possible."). That change did include a fix for this issue with `memset()` but not `memc

[2022-10-19 15:51] samitolvanen opened #1742 "CFI: asan.module_ctor is missing a type hash"
From Mark Rutland:

cc @kees @nickdesaulniers @nathanchance @lvwr

[2022-10-19 16:09] samitolvanen opened #1743 "CFI: -fsanitize-coverage=trace-{pc,cmp} cannot be enabled with -fsanitize=kcfi"
From Mark Rutland:

@nathanchance points out that this sounds similar to https://github.com/llvm/llvm-project/issues/45176.

cc @kees @nickdesaulniers @lvwr

[2022-10-19 18:54] samitolvanen commented on #1742
The `asan.module_ctor` function is created in the `asan` LLVM pass using `createSanitizerCtor`. Since this happens outside of Clang, it's a bit awkward to generate a type hash for the function at this point.

The reason we didn't have this problem earlier was that `do_ctors` is an `__init` function and CFI was disabled for it. I'm leaning towards simply marking the function `__nocfi` instead of ha

[2022-10-19 19:03] kees commented on #1703
cc @GustavoARSilva

[2022-10-19 19:30] samitolvanen opened #1744 "CFI: Support different patchable-function-prefix values"
KCFI currently emits the type hash before `patchable-function-prefix` nops, and assumes that all functions have the same number of prefix nops. Specifically, indirect call targets must have the same number of prefix nops as the callers. However, Mark Rutland [has plans](https://git.kernel.org/pub/scm/linux/kernel/git/mark/linux.git/log/?h=arm64/ftrace/per-callsite-ops) to use prefix nops in a way

[2022-10-19 23:01] samitolvanen opened #1745 "CFI: Implement -Wincompatible-function-pointer-types-strict"
[`-Wcast-function-type-strict`](https://reviews.llvm.org/D134831) only checks explicit casts. To avoid CFI tripping type mismatches slipping through (e.g. issue https://github.com/ClangBuiltLinux/linux/issues/1703), we also need to implement a stricter version of `-Wincompatible-function-pointer-types`.

At a quick glance, `checkPointerTypesForAssignment` in `clang/lib/Sema/SemaExpr.cpp` looks lik

[2022-10-19 23:07] samitolvanen commented on #1567
Can we close this now that upstream no longer uses Clang CFI?

[2022-10-20 17:29] nathanchance opened #1746 "Huge build time performance regression with f35b5d7d676e"
After upgrading my workstation's kernel from 6.0 to 6.1-rc1, my full set of kernel builds went from 2 hours and 20 minutes or so to over 3 hours. I was able to bisect this performance regression down to commit [f35b5d7d676e](https://git.kernel.org/linus/f35b5d7d676e59e401690b678cd3cfec5e785c23) ("mm: align larger anonymous mappings on THP boundaries"). The LTP folks noticed this regression as well

[2022-10-20 17:41] nathanchance commented on #1567
Yes, I think it can be.

[2022-10-20 17:41] #1567 closed, assigned to nobody

[2022-10-20 18:27] nickdesaulniers commented on #1741
https://github.com/google/kmsan/issues/89

[2022-10-20 19:30] nathanchance commented on #1739
Now in -next: https://git.kernel.org/next/linux-next/c/c8a10abcba2f223f3550eb1d466a4fb37d9e76f7

[2022-10-20 19:30] #1739 closed, assigned to nathanchance

[2022-10-20 19:33] nathanchance commented on #1738
This is going to 6.1 as https://gitlab.freedesktop.org/agd5f/linux/-/commit/e688ba3e276422aa88eae7a54186a95320836081:

https://lore.kernel.org/20221019191357.6208-1-alexander.deucher@amd.com/

[2022-10-21 05:04] dileks commented on #1738
Now, in Linus Git.

[1] https://git.kernel.org/linus/e688ba3e276422aa88eae7a54186a95320836081

[2022-10-21 15:15] #1738 closed, assigned to nathanchance

[2022-10-21 16:34] nathanchance opened #1747 "s390 misaligned symbol linker errors"
After commit [906f69cf65d](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=906f69cf65daa8fee1c1c94a5c2fb221ba02b40d) ("IBM zSystems: Issue error for *DBL relocs on misaligned symbols") in binutils master, I am seeing the following link time error with `tinyconfig`:

[code]

I am having a bit of a hard time reducing this because it appears to be related to `CONFIG_RELOCATABLE=n`, which me

[2022-10-21 17:16] samitolvanen commented on #1744
See also: https://lore.kernel.org/lkml/Y1LBGZPMfCZ8A1bl@FVFF77S0Q05N/

[2022-10-22 04:04] MaskRay commented on #1744
Since the kcfi code expects the hash to appear in a specific location so that an instrumented indirect jump can reliably obtain the hash. For a translation unit `-fpatchable-function-entry=N,M` may be specified or not, and we want both to work. Therefore, I agree that a consistent hash location will help. This argument favors placing M nops before the hash. The downside is a restriction on how the

[2022-10-24 15:11] uweigand commented on #1747
I've been looking into this for a bit, and it unfortunately seems to be a complicated issue.   First of all, accessing a symbol that is not 2-byte aligned with LARL is actually a bug - so that new linker error is indeed catching a pre-existing bug.  However, why this bug happens is more interesting.

Our ABI specifies that external symbols need to be at least 2-byte aligned, so that the compiler c

[2022-10-24 15:20] nathanchance opened #1748 "-Wuninitialized in drivers/gpu/drm/amd/amdgpu/mmhub_v2_0.c"
[code]

Patch submitted: https://lore.kernel.org/20221024151953.2238616-1-nathan@kernel.org/

[2022-10-24 19:15] nickdesaulniers commented on #1651
https://lore.kernel.org/linux-kbuild/20221023195257.175946-1-masahiroy@kernel.org/

[2022-10-24 19:47] nickdesaulniers commented on #1315
I've submitted v4 to rmk's queue:
1. https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9262/1
2. https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9263/1
3. https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9264/1
4. https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9265/1

[2022-10-24 19:58] hcahca commented on #1747
The odd address of the `__alt_instructions_end` label did already cause a bug in the kernel, since that caused the next symbol to be at an odd address as well, which caused random crashes. See kernel commit c9305b6c1f52 ("s390: fix nospec table alignments").
However I didn't realize that there are more problems with this label, unfortunately.
That said, for the s390 specific part of the kernel lin

[2022-10-25 15:01] nathanchance commented on #1711
Are those changes scheduled for 6.1 or 6.2? CI is still failing with this on mainline so it is needed there. I can just apply it to the relevant branches in CI for the time being if necessary.

[2022-10-25 16:45] nathanchance commented on #1747
In line with @hcahca 's suggestion, I tested the following diff, which makes `CONFIG_RELOCATABLE` no longer a choice, and saw no build failures:

[code]

[2022-10-25 17:04] nathanchance commented on #1741
https://lore.kernel.org/20221024212144.2852069-5-glider@google.com/

[2022-10-25 17:34] nathanchance opened #1749 "-Wsometimes-uninitialized in mm/khugepaged.c"
[code]

Patch submitted: https://lore.kernel.org/20221025173407.3423241-1-nathan@kernel.org/

[2022-10-25 18:23] kees commented on #1711
Hi! I originally wanted to get them out of the door for -next, and if they were happy, get them sent to Linus for 6.1 shortly.

[2022-10-25 18:33] nathanchance commented on #981
There is a new instance of this problem after commit [dbe69b299884](https://git.kernel.org/linus/dbe69b29988465b011f198f2797b1c2b6980b50e) ("bpf: Fix dispatcher patchable function entry to 5 bytes nop") for certain configurations:

[code]

[2022-10-25 22:30] nathanchance commented on #1709
This is now in QEMU master: https://gitlab.com/qemu-project/qemu/-/commit/131aafa7eff4aa4d747cb7113726b27394a38866

It is tagged for their stable releases; if they are still being done, we should get it in CI via that route. Otherwise, we will get it when 7.2.0 is released. Closing up for now as there is nothing else for us to do.

[2022-10-25 22:30] #1709 closed, assigned to nobody

[2022-10-25 22:32] nathanchance commented on #1702
For what it is worth, CI has not seen a crash in the KASAN tests in a bit so it is possible there was some transient memory corruption that was happening that got resolved. I have not been able to consistently reproduce this since it was first brought up so I am going to close this up.

[2022-10-25 22:32] #1702 closed, assigned to nobody

[2022-10-25 22:34] nathanchance commented on #1748
Now in -next: https://git.kernel.org/next/linux-next/c/20293269d81779a0d0c0865f5877b240c3335c97

[2022-10-25 22:34] #1748 closed, assigned to nathanchance

[2022-10-25 22:36] nathanchance commented on #1725
Landed in 6.1-rc2: https://git.kernel.org/linus/33806e7cb8d50379f55c3e8f335e91e1b359dc7b

It is cc'd for stable so it will get there eventually.

[2022-10-25 22:36] #1725 closed, assigned to nathanchance

[2022-10-26 18:39] nickdesaulniers commented on #981
https://github.com/linuxppc/issues/issues/388 alludes to this issue. Looks like binutils reverted dropping section symbols just for ppc: https://github.com/bminor/binutils-gdb/commit/c09c8b42021180eee9495bd50d8b35e683d3901b cc @MaskRay

[2022-10-26 18:42] nickdesaulniers commented on #1725
stable backports: https://lore.kernel.org/stable/Y1lhm3mNdI0PFbLe@dev-arch.thelio-3990X/

[2022-10-26 18:50] nathanchance commented on #981
That's annoying :/ for what it's worth, I have seen that error on i386 as well, so it is not just powerpc that is affected by this.

I think `recordmcount` is only run for ftrace so maybe a diff like this would help out?

[code]

[2022-10-26 21:41] samitolvanen opened #1750 "CFI: Function type mismatches reported by -Wincompatible-function-pointer-types-strict"
My work-in-progress [-Wincompatible-function-pointer-types-strict](https://reviews.llvm.org/D136790) Clang warning found [~30 more type mismatches](https://gist.github.com/samitolvanen/c2fc71c3875c4dd4e7277b70beecbf95) in function pointer assignments, which we should look into fixing.

There are roughly the same number of warnings for both x86_64 and arm64 allmodconfigs, mostly duplicates, except

[2022-10-26 21:44] samitolvanen commented on #1745
First draft: https://reviews.llvm.org/D136790

[2022-10-27 16:25] nathanchance commented on #1750
That does not seem too bad. I can probably take a look at all of those and send patches for the ones that do not have any outstanding patches, as I think some of those should have been caught in #1703.

[2022-10-27 16:37] nickdesaulniers commented on #1651
v2: https://lore.kernel.org/linux-kbuild/20221027162839.410720-1-masahiroy@kernel.org/

[2022-10-27 16:51] nathanchance commented on #1651
For what it's worth, I do not think that fixes the issue entirely for the stable trees. As far as I can tell, `vmlinux.a` was only added in this current release but these messages are present in most stable trees (as you can see from the linked commits above); I think a bit of refactoring fixed the problem in mainline so we might need a stable only solution for this. I am not sure I am the biggest

[2022-10-27 16:59] nathanchance commented on #1729
Now fixed in -next: https://git.kernel.org/next/linux-next/c/0d6d7c61ffeedc782b651a080ad6543ad45314b6

[2022-10-27 16:59] #1729 closed, assigned to nathanchance

[2022-10-27 17:00] nathanchance commented on #1749
Now fixed in -next as the offending patch was dropped from the mm tree. It will come back with this fix.

[2022-10-27 17:00] #1749 closed, assigned to nathanchance

[2022-10-27 17:21] nathanchance commented on #1716
Patch accepted: https://cgit.freedesktop.org/drm/drm-intel/commit/?id=a8a4f0467d706fc22d286dfa973946e5944b793c

[2022-10-27 19:53] nathanchance opened #1751 "-Wimplicit-fallthrough in drivers/hwmon/smpro-hwmon.c"
[code]

Patch submitted: https://lore.kernel.org/20221027195238.1789586-1-nathan@kernel.org/

[2022-10-27 20:53] nathanchance commented on #1711
Thanks Kees!

https://git.kernel.org/linus/0e5b9f25b27a7a92880f88f5dba3edf726ec5f61

[2022-10-27 20:53] #1711 closed, assigned to nickdesaulniers

[2022-10-27 23:55] ConchuOD commented on #1714
https://git.kernel.org/pub/scm/linux/kernel/git/palmer/linux.git/commit/?h=fixes&id=952b64d6665c8b6fdd13ba63be7adc3be51641d7

[2022-10-28 18:18] nathanchance commented on #1751
Patch accepted: https://git.kernel.org/groeck/linux-staging/c/50ec24a73d1f86986035892acb16d9d67784908a

[2022-10-28 20:43] nathanchance commented on #981
While that diff stops the build error because it disables the use of recordmcount, it does not prevent ftrace from being selected altogether, which may lead to further reports of ftrace not working, despite being selected. We might be able to fix that error in a similar manner as Arnd's previous patches but I am not sure how to go about that...

[2022-10-28 21:10] nathanchance commented on #1741
https://git.kernel.org/akpm/mm/c/78a498c3a227f2ac773a8234b2ce092a4403f2c3

[2022-10-28 22:54] nathanchance commented on #981
More specifically, I only tried removing `__init` from `bpf_arch_init_dispatcher_early()` in `kernel/bpf/dispatcher.c` but that is not enough since the declaration in `include/linux/bpf.h` wins. We cannot remove `__init` altogether as the x86 version of `bpf_arch_init_dispatcher_early()` calls `text_poke_early()`, which is marked `__init_or_module`, which expands to nothing if `CONFIG_MODULES` is

[2022-10-31 17:39] nathanchance commented on #981
Patch submitted: https://lore.kernel.org/20221031173819.2344270-1-nathan@kernel.org/

[2022-10-31 18:36] nathanchance opened #1752 "-Wframe-larger-than instances in drivers/gpu/drm/amd/display/dc/dml with ARCH=arm64"
[An in-progress change](https://lore.kernel.org/20221027195227.5312-2-hacc1225@gmail.com/) is going to turn on the files that were problematic for x86 (#1681) for arm64 as well, which will show new warnings for `allmodconfig`:

[code]

This will require further investigation and I would rather not hold up the patch just for that so I am going to recommend that this enablement be gated on `!CC_IS_C

[2022-11-01 01:43] courageJin opened #1753 "CONFIG_PARAVIRT_SPINLOCKS=y lead to an error that section flags changed"
after I compile the newest Linux which supports Rust by the command "make LLVM=-11", an error happened, and when I use the gcc to compile the linux, this error didn't exist.

The config is x86_64_defconfig with CONFIG_PARAVIRT_SPINLOCKS=y and rust configs.

`<inline asm>:16:1: error: changed section flags for .spinlock.text, expected: 0x6
.pushsection .spinlock.text;
.globl __raw_callee_save___pv_

[2022-11-01 16:53] nathanchance commented on #1753
I don't have a suitable environment for compiling Rust in the kernel at the moment. Does this happen with just `x86_64_defconfig` + `CONFIG_PARAVIRT_SPINLOCKS=y` for you? It doesn't for me, which means it might be related to the Rust support. Additionally, you say

but what revision are you using?

[2022-11-01 19:46] nathanchance commented on #1752
v4 has included a condition to avoid these warnings by not enabling the problematic code when building with clang.

https://lore.kernel.org/20221031193738.23538-2-hacc1225@gmail.com/

Once this patch is in the tree with that bit, it will have to be removed to investigate this issue (basically reverse [this diff](https://lore.kernel.org/Y2AYV3n0Py%2F8Yr58@dev-arch.thelio-3990X/)). Just notating tha

[2022-11-01 19:46] nathanchance commented on #1751
Fixed in next-20221031.

[2022-11-01 19:46] #1751 closed, assigned to nathanchance

[2022-11-01 19:58] nathanchance commented on #1750
I have written fixes for all the warnings that I could find with my build testing framework. I just need to add commit messages and fully vet the counter changes, as that one was particularly unfortunate for how large the fix was and how much type information was stripped from the callback functions:

https://gist.github.com/nathanchance/69c392675051e992f8a54c1feaa259ed

Everything else was not ba

[2022-11-01 20:02] nathanchance commented on #1747
https://lore.kernel.org/20221030182202.2062705-1-hca@linux.ibm.com/

[2022-11-01 20:09] nathanchance commented on #1745
Having it be enabled automatically for CFI is probably fine but it might not be worth the effort. I think we want this warning to always be an error for the kernel so that automated testing catches as many issues as we can, regardless of what `CONFIG_CFI_CLANG` is set to, meaning we will still want to add it to `KBUILD_CFLAGS`. Otherwise, I would be fine with having it on by default but that means

[2022-11-01 20:12] nathanchance commented on #1741
https://git.kernel.org/linus/78a498c3a227f2ac773a8234b2ce092a4403f2c3

[2022-11-01 20:12] #1741 closed, assigned to ramosian-glider

[2022-11-01 20:15] nathanchance commented on #1723
This should be fixed in pahole master:

https://git.kernel.org/pub/scm/devel/pahole/pahole.git/commit/?id=f01e5f3a849558b8ed6b310686d10738f4c2f3bf

I will close this issue when 1.25 or whatever is released.

[2022-11-01 20:20] samitolvanen commented on #1745
That's a valid point.  Would you mind posting a comment to Phabricator as well?  I think Aaron was also thinking about Clang CFI users outside the kernel, who would benefit from the warning being enabled by default.

[2022-11-01 20:25] nathanchance commented on #1745
Yup, sure thing!

[2022-11-01 20:34] nathanchance commented on #1714
https://git.kernel.org/linus/952b64d6665c8b6fdd13ba63be7adc3be51641d7

[2022-11-01 20:34] #1714 closed, assigned to ConchuOD

[2022-11-01 20:57] nathanchance commented on #981
It sounds like the original patch that caused the recent bpf issue might get reverted in favor of a difference fix:

https://lore.kernel.org/Y2DRVwI4bNUppmXJ@krava/

https://lore.kernel.org/87iljyyes6.fsf@all.your.base.are.belong.to.us/

[2022-11-01 21:32] kees commented on #1750
Yeah, I'm happy to carry whatever. The tradition has been "if someone else does a review/ack but the maintainer ignores it, either Gustavo or I will take it via our tree."

[2022-11-02 07:33] dileks commented on #1678
`LLVM` version `15.0.4` was released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.4
[2] https://discourse.llvm.org/t/llvm-15-0-4-released/66337

[2022-11-02 12:22] ms178 commented on #1752
@nathanchance

I see similar warnings in my X86-build of a 6.0.6 Kernel with some patches (get them [here](https://github.com/ms178/archpkgbuilds/tree/main/packages/linux-cachyos-bore)):

[code]

[2022-11-02 12:56] dileks commented on #1752
/me too see these warning with x86-64 and selfmade LLVM-15.0.3 (ThinLTO + PGO optimized - KCFI sanitizer).
[code]

My kernel-config is attached.

Note: I reported this already via PM.

[config-6.0.6-1-amd64-clang15-kcfi.txt](https://github.com/ClangBuiltLinux/linux/files/9920487/config-6.0.6-1-amd64-clang15-kcfi.txt)

[2022-11-02 13:17] nathanchance commented on #1752
Please open a new issue for those instances, as they are likely related to LTO, given they are coming from `ld.lld`. This issue is purely for tracking the warnings seen on arm64.

[2022-11-02 15:41] ms178 opened #1754 "-Wframe-larger-than instances in drivers/gpu/drm/amd/display/dc/dml with ARCH=x86-64"
I see similar warnings as posted in https://github.com/ClangBuiltLinux/linux/issues/1752 with my x86-64-build of a 6.0.6 Kernel with some patches (more details and config [here](https://github.com/ms178/archpkgbuilds/tree/main/packages/linux-cachyos-bore)):

[code]

That was seen with FullLTO, my custom LLVM-Toolchain from my repo and clang version 16.0.0 (c97035c49d941e5b196a938f0393f811d1adbd57)

[2022-11-02 17:25] nathanchance commented on #1750
- [x] `drivers/gpu/drm/amd/amdgpu` ([v1](https://lore.kernel.org/20221102152540.2389891-1-nathan@kernel.org/), [accepted](https://gitlab.freedesktop.org/agd5f/linux/-/commits/9d603f3960d50c468eed8f6459cd0ba6c6cba0ea))
- [x] `drivers/gpu/drm/fsl-dcu/fsl_dcu_drm_rgb.c` ([v1](https://lore.kernel.org/20221102154215.78059-1-nathan@kernel.org/), [accepted](https://lore.kernel.org/lkml/166879319846.20808

[2022-11-02 17:37] nathanchance commented on #1703
@nhukc From what I can tell the following changes are still floating around not picked up:

* https://lore.kernel.org/20220913205600.155172-1-nhuck@google.com/
* https://lore.kernel.org/20220929181411.61331-1-nhuck@google.com/

The first one has a conflict against [the drm-next tree](https://cgit.freedesktop.org/drm/drm); the issue is still there but the function got updated in a rework:

https://

[2022-11-02 18:11] nathanchance commented on #1754
I would be curious to know if the same configuration without LTO shows the same warnings. Based on the variables to spill ratio, it is possible that LTO does more inlining and blows out the stack.

[2022-11-02 18:26] ms178 commented on #1754
Without LTO, I've just noticed these two:

[code]

[2022-11-02 19:28] nathanchance commented on #1528
https://lore.kernel.org/Y2JiO+67E1NyFgca@pudh-loong.localdomain/

[2022-11-03 22:00] nathanchance commented on #1750
Good thing I decided to start testing this against -next...

[code]

I have added it to the list above.

[2022-11-07 17:07] nathanchance opened #1755 "-Wpointer-type-mismatch in kernel/bpf/dispatcher.c"
[code]

Patch submitted: https://lore.kernel.org/20221107170711.42409-1-nathan@kernel.org/

[2022-11-07 17:34] nickdesaulniers commented on #1720
[The latest report from kernelci](https://lore.kernel.org/llvm/6368a012.170a0220.42605.60dc@mx.google.com/T/#u) has thousands of these.

[2022-11-07 17:36] nathanchance commented on #1720
They probably are using an old snapshot of `clang-16` because our CI does not see them. I'll ping them on IRC.

[2022-11-07 21:54] samitolvanen commented on #1737
Here's a quick draft: https://github.com/samitolvanen/llvm-project/commit/0d3cc88cc69ea859773f95a2b2e8ee1adfd4b6c8

With x86_64 defconfig + `LTO_CLANG_FULL` + `CFI_CLANG`, the number of indirectly callable functions dropped from  46647 to 34712 (-11935 = ~-25.6%) and the kernel booted just fine in my tests.

However, with `LTO_CLANG_THIN`, the `kcfi-seal` attribute resulted in the type hash gettin

[2022-11-08 00:04] samitolvanen commented on #1745
Merged: https://reviews.llvm.org/rG41ce74e6e983
Let's see if it will stay in...

[2022-11-08 00:04] #1745 closed, assigned to nobody

[2022-11-08 00:12] nathanchance commented on #1755
Patch accepted: https://git.kernel.org/bpf/bpf/c/a679120edfcf3d63f066f53afd425d51b480e533

[2022-11-08 08:17] unicornx opened #1756 "ld.lld switch to '--no-undefined-version' breaks RISC-V and x86 vDSO builds"
hello,  I'm trying build riscv linux with the clang built with tc-linux.  I follow the guide from tc-linux and run the build-llvm.py.

linux version: 6.0

make ARCH=riscv CC=clang CROSS_COMPILE=riscv64-linux-gnu- LLVM=1 O=../build-riscv-clang/ defconfig
make ARCH=riscv CC=clang CROSS_COMPILE=riscv64-linux-gnu- LLVM=1 O=../build-riscv-clang/ -j 1

[code]

[2022-11-08 12:46] nathanchance commented on #1756
Thank you for the report! This is a very recent regression, caused by https://github.com/llvm/llvm-project/commit/eedbe44b8755f7d162eee43cb3e8c9da1e61ebad. You can either revert that change in the LLVM sources then pass `--no-update` to `build-llvm.py` or apply this diff to the kernel (which I plan to send later today):

[code]

[2022-11-08 17:02] nathanchance opened #1757 "-Wuninitialized in drivers/cpufreq/acpi-cpufreq.c"
[code]

Patch submitted: https://lore.kernel.org/20221108170103.3375832-1-nathan@kernel.org/

[2022-11-08 17:14] nathanchance commented on #1756
Actually, I think this is a better fix:

https://lore.kernel.org/20221108171324.3377226-1-nathan@kernel.org/

[2022-11-08 17:19] nathanchance commented on #1666
The workaround appears to be accepted: https://git.kernel.org/next/linux-next/c/3220022038b9a3845eea762af85f1c5694b9f861

[2022-11-08 17:25] nathanchance commented on #1315
Russell appears to have picked up `9262/1`, `9264/1`, and `9265/1`, but not `9263/1`, which seems highly problematic to me, as the final patch heavily relies on the second one, so I suspect ARM builds in -next are about to break heavily :/

[2022-11-08 18:31] nathanchance commented on #1315
I've pinged Russell on the v4 thread: https://lore.kernel.org/Y2qgTyFcPdnNfkpj@dev-arch.thelio-3990X/

[2022-11-08 18:33] samitolvanen commented on #1744
@MaskRay it looks like the latest suggestion was to add a section argument to the `patchable_function_entry` attribute. Any thoughts about that?

https://lore.kernel.org/lkml/Y1QEzk%2FA41PKLEPe@hirez.programming.kicks-ass.net/

[2022-11-08 20:35] ConchuOD commented on #1756
In the middle of re-setting up my machine but I'll give you some sort of tag on this once I've got it up and running.

[2022-11-08 23:04] nathanchance commented on #1753
https://lore.kernel.org/20221108060126.2505-1-guoj17@chinatelecom.cn/

https://lore.kernel.org/Y2rayPgDfL2NYcjQ@dev-arch.thelio-3990X/

[2022-11-08 23:06] nathanchance commented on #1747
https://git.kernel.org/s390/c/80ddf5ce1c9291cb175d52ed1227134ad48c47ee

[2022-11-08 23:29] nhukc commented on #1703
Yep, I'm too busy with other stuff to handle the rest of these. Feel free to take over. Thanks.

[2022-11-09 00:05] nathanchance commented on #1756
I just ran into another one in x86: https://lore.kernel.org/20221109000306.1407357-1-nathan@kernel.org/

[2022-11-09 00:31] nathanchance commented on #1703
No worries, done!

https://lore.kernel.org/20221109001424.1422495-1-nathan@kernel.org/
https://lore.kernel.org/20221109002629.1446680-1-nathan@kernel.org/

I think we can close this issue in favor of tracking via #1750.

[2022-11-09 00:31] #1703 closed, assigned to nhukc

[2022-11-09 01:15] unicornx commented on #1756
Thanks, I tried this patch and kernel build works for me now. Will this patch enter 6.1?

[2022-11-09 01:56] nathanchance commented on #1756
I hope so but I am not the person who gets to make that call. Worst case, it gets punted to 6.2-rc1 and we backport it to the eventual linux-6.1.y branch.