[2021-12-03 10:14] telans commented on #1523
I also got the exact same error/trace for `drivers/mfd/madera` when using ToT Clang, so I tried to reduce that (many, *many* less files). A bit of hackery was required to combine the `.i` files, but in the end cvise spits out the following:

[code]

It's certainly a bit odd, but it causes the same stack trace for me.
Repro commands:

[code]
Trace:
[code]

Without `-fpatchable-function-entry=2`, th

[2021-12-03 15:47] nathanchance commented on #1517
Fixed: https://git.kernel.org/next/linux-next/c/ea59fc1beff1358966b213b4df89aca3f7dec157

[2021-12-03 15:47] #1517 closed, assigned to nathanchance

[2021-12-03 16:06] nathanchance commented on #1511
Series accepted by Masahiro: https://git.kernel.org/masahiroy/linux-kbuild/c/df05c0e9496ce1e28b51f79f9fae94479a37fa60

[2021-12-03 16:53] nathanchance commented on #1523
While I think this is a bug that should be fixed (the compiler should never crash), `-Oz` has been known to be problematic for the kernel:

https://lore.kernel.org/r/CAG5bF+SSMTvkgnQwHC1gx0pzysXhmMJ_+hUci_SJDPSteL4BcQ@mail.gmail.com/

https://git.kernel.org/linus/a75bb4eb9e565b9f5115e2e8c07377ce32cbe69a

I would recommend sticking with the upstream default of `-Os` if you want to stress optimizing

[2021-12-03 18:11] nickdesaulniers commented on #1290
[recent bpf patches](https://lore.kernel.org/all/20211122192019.1277299-2-jean-philippe@linaro.org/) use `--sysroot` but query against the cross gcc for the sysroot to use. This works when the target have the same triple for kernel and userspace; android does not.

[2021-12-03 21:26] nathanchance commented on #1502
The latest revision of D114116 resolves the `aspeed_g5_defconfig` breakage and does not introduce anything new, tested against [Ard's `arm-up-ti-in-task-v3` branch](https://git.kernel.org/pub/scm/linux/kernel/git/ardb/linux.git/log/?h=arm-up-ti-in-task-v3) (2cedab86cc9a797163eb2b1b828bbdc1f6b9c228). Ard's change to `arch/arm/kernel/Makefile` (`AFLAGS_REMOVE_iwmmxt.o := -mtp=cp15`) is still needed

[2021-12-04 02:19] nathanchance commented on #1523
Looks like it can go even further. For me, `cvise` spits out:

[code]

Looks like this is an LLVM 11 regression, as I cannot reproduce it with `clang-10` but I can with `clang-11`. `git bisect landed on:

[code]

cc @MaskRay

[2021-12-04 23:50] emojifreak opened #1524 "s390: ld.lld: error: unknown emulation: elf64_s390"
Kernel version is 5.16rc3 and 5.15.5. As `arch/s390/Kconfig` has the following line, s390 seems somewhat supported by clang:

[code]

A config similar to `allmodconfig` gives the following error at an early stage of build:

[code]

It can be reproduced by the below script:

[code]

[2021-12-05 00:08] emojifreak opened #1525 "Both LLVM_IAS=1 and =0 fail with ARCH=powerpc (kernel 5.16rc3)"
Kernel is 5.16rc3. With `LLVM_IAS=1` we hit https://github.com/ClangBuiltLinux/linux/issues/1451.
In https://github.com/ClangBuiltLinux/linux/issues/1451#issuecomment-915819258 `LLVM_IAS=0` is suggested. Then we have the following error at the very beginning.

[code]

[2021-12-05 00:09] nathanchance commented on #1524
s390 is supported by `clang` but not `ld.lld`. Use `LD=s390x-linux-gnu-ld` in the meantime (I am not sure that there is any timeline for supporting it, maybe @uweigand  does?)

[2021-12-05 00:10] nathanchance commented on #1525
Do you have the powerpc64le binutils installed or available in PATH?

[2021-12-05 00:31] emojifreak commented on #1525
Thank you for quick response. That's the exactly cause of this failure. Sorry for my silly mistake.

[2021-12-05 00:31] #1525 closed, assigned to nobody

[2021-12-05 05:47] emojifreak opened #1526 "invalid operand for slti in arch/mips/include/asm/mach-loongson64/kernel-entry-init.h"
According to https://github.com/ClangBuiltLinux/linux/issues/1434, `LLVM_IAS=1` seems supported on mips. `CONFIG_MACH_LOONGSON64=y` & `CONFIG_CPU_LOONGSON64=y` & `CONFIG_LOONGSON3_ENHANCEMENT=y` for `mips64el-linux-gnuabi64` causes error in the integrated as such as

[code]

[code]

LLVM is 13. This can be reproduced by

[code]

[2021-12-05 05:55] emojifreak opened #1527 "`CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y` gives build error on mips with `LLVM_IAS=1`"
According to https://github.com/ClangBuiltLinux/linux/issues/1434, I assume `LLVM_IAS=1` is supported on mips. `CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y` gives lots of build errors on mips, such as

[code]

[code]

[code]

LLVM is 13. The above errors can be reproduced by

[code]

[2021-12-05 06:21] emojifreak opened #1528 "`CONFIG_KEXEC=y` gives build error on mips."
`allmodconfig` with `LLVM_IAS=1` gives the following build error for mips:

[code]

`CONFIG_KEXEC=n` suppresses the above error. The above error can be produced by

[code]

[2021-12-05 07:01] emojifreak opened #1529 "`CONFIG_CPU_LOONGSON2F=y` and `LLVM_IAS=1` fails with `arch/mips/loongson2ef/Platform:36: *** only binutils >= 2.20.2 have needed option -mfix-loongson2f-nop. Stop.`"
32-bit MIPS build with `CONFIG_CPU_LOONGSON2F=y` and `LLVM_IAS=1` immediately fails with `arch/mips/loongson2ef/Platform:36: *** only binutils >= 2.20.2 have needed option -mfix-loongson2f-nop.  Stop.` But this seems nonsense, as `LLVM_IAS=1` does not use binutils. This can be reproduced with

[code]

[2021-12-05 18:23] nathanchance commented on #1529
This is really saying that `-Wa,-mfix-loongson2f-nop` does not work with the integrated assembler, which is true; the Loongson developers have only contributed the errata fixes to GCC, not LLVM: https://llvm.org/bz49611

Realistically, the `as-option` calls should be removed as binutils 2.23 or newer is required to build the kernel but that won't fix this issue, as the flag is not implemented; it

[2021-12-05 20:59] nathanchance commented on #1502
The latest revision of D114124 on top of LLVM @ https://github.com/llvm/llvm-project/commit/296ebeb808a71e44a64e0f805cffc6e3a3bf6182 resolves the error with `iwmmxt.o` and does not introduce any new failures against [Ard's `arm-up-ti-in-task-v4` branch](https://git.kernel.org/pub/scm/linux/kernel/git/ardb/linux.git/log/?h=arm-up-ti-in-task-v4) (0181a032905db85ea1f7a190af50e55e45a207b8).

<details>

[2021-12-06 00:05] emojifreak opened #1530 "llvm-objcopy: error: invalid output format: 'elf64-s390'"
This can be a duplicate of https://github.com/ClangBuiltLinux/linux/issues/1524. s390 build fails at the final state as

[code]

This can be reproduced by

[code]

[2021-12-06 00:40] nathanchance commented on #1524
The error actually comes from https://github.com/llvm/llvm-project/blob/2f16b87b4b1d3fee07aff71a9bf79c3a8d514e7a/lld/ELF/Driver.cpp#L138-L174. There is no s390 file in `lld/ELF/Arch` so I assume it is intentional that s390 is not supported by `ld.lld`.

[2021-12-06 00:41] nathanchance commented on #1530
Yes, same issue as before, s390 does not appear to be supported with `llvm-objcopy`: https://github.com/llvm/llvm-project/blob/2f16b87b4b1d3fee07aff71a9bf79c3a8d514e7a/llvm/tools/llvm-objcopy/ConfigManager.cpp#L286-L319

This is reproducible with just `defconfig`:

[code]

cc @uweigand in case I am missing something.

[2021-12-06 00:41] nathanchance commented on #1530
Same workaround as `ld.lld`: `OBJCOPY=s390x-linux-gnu-objcopy`.

[2021-12-06 02:14] emojifreak opened #1531 "mips: drivers/misc/xilinx_sdfec.c:787:8: error: couldn't allocate input reg for constraint 'r'"
`allmodconfig` mips build fails with

[code]

This can be reproduced by

[code]

[2021-12-06 09:10] telans commented on #1531
Reproduced with ToT.

cvise:

[code]

Command:

[code]

This doesn't look overly useful - or correct for that matter, but I'm not sure.

[2021-12-06 09:41] ihalip commented on #1421
Merged in 5.16-rc4.

[2021-12-06 09:41] #1421 closed, assigned to ihalip

[2021-12-06 15:08] uweigand commented on #1524
Yes, there is currently no support for s390x as a target in lld.    We are not currently planning to add this in the near time - so far we have not seen any particular use case where lld would be required / provide benefit over ld.

[2021-12-06 16:18] nathanchance commented on #1512
I tested diff 391716 of D114895 on top of https://github.com/llvm/llvm-project/commit/2f16b87b4b1d3fee07aff71a9bf79c3a8d514e7a against [Peter's `x86/wip.extable` branch](https://git.kernel.org/pub/scm/linux/kernel/git/peterz/queue.git/log/?h=x86/wip.extable) @ 2e09d82a746a288b97c268537d2af8917a346b4c, where I saw the original error fixed and no new errors.

<details><summary>Build results</summary

[2021-12-06 16:40] nathanchance commented on #1531
That seems like a reasonable reduction; the contents of the `asm` block rarely matter, as the error is coming from the register constraint.

Reduced LLVM IR from @telans's reproducer:

[code]

Given that LLVM's Bugzilla to Github Issues migration is ongoing/paused, we will have to wait to report this upstream.

[2021-12-06 16:53] nathanchance commented on #1523
Reduced LLVM IR:

[code]

[2021-12-06 17:12] nathanchance commented on #1515
`llvm-reduce` spits out:

[code]

[2021-12-06 21:21] nathanchance commented on #1526
I am going to make this issue about the first issue. I'll file a separate issue for the second one.

It seems that GAS accepts `slti <reg>, <immediate>` as shorthand for `slti <reg>, <reg>, <immediate>`:

[code]

This can either be fixed in the kernel by using the full form (i.e., change `slti t0, ...` to `slti t0, t0, ...`) or in LLVM to match GAS. Judging from the rest of the kernel, changing it

[2021-12-06 23:17] nathanchance opened #1532 "error: instruction requires a CPU feature not currently enabled in arch/mips/include/asm/mipsregs.h"
Initially reported by @emojifreak in #1526.

[code]

`cvise` spits out:

[code]

Reduced IR:

[code]

According to https://github.com/llvm/llvm-project/commit/d4349f3bf676c0fcb4242b5abe8f5f6043ed4b34, `.set virt` should be supported...

[2021-12-07 01:19] nathanchance commented on #981
Looks like the PowerPC folks are getting bit by this too:

https://github.com/linuxppc/issues/issues/388

https://lore.kernel.org/r/cd0f6bdfdf1ee096fb2c07e7b38940921b8e9118.1637764848.git.christophe.leroy@csgroup.eu/

@emojifreak reported issues with `ARCH=mips allmodconfig` + `CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y`:

[code]

`KCOV` helps reproduce it but I doubt it is strictly related to the iss

[2021-12-07 01:19] nathanchance commented on #1527
Duping this in favor of #981.

[2021-12-07 01:19] #1527 closed, assigned to nobody

[2021-12-07 05:38] emojifreak commented on #1526
@nathanchance  Thank you. Please use
Name: Ryutaroh Matsumoto
email: ryutaroh@ict.e.titech.ac.jp

[2021-12-07 05:44] emojifreak commented on #1527
Thank you. I failed to see the relation to #981

[2021-12-07 11:56] ihalip commented on #1532
[code]

But Loongson is `mips64r2` with extensions (including virtualization). GNU as accepts these instructions with `mips64r2`, llvm doesn't.

[2021-12-07 16:11] nathanchance commented on #1521
This is now handled on the kernel side by initializing `val` under a preprocessor version check: https://git.kernel.org/powerpc/c/39bc1df821e07561bcbc44f6463f14101775782d

[2021-12-07 17:02] nathanchance commented on #1526
Thank you! Patch submitted: https://lore.kernel.org/r/20211207170129.578089-1-nathan@kernel.org/

[2021-12-07 17:03] nathanchance commented on #1526
I think it is worth requesting that LLVM support `slti <reg>, <imm>` so that this does not come up again.

[2021-12-07 17:08] nathanchance commented on #1518
Patch series has been picked up by akpm:

https://lore.kernel.org/r/20211202044652.hZzgBbkVF%25akpm@linux-foundation.org/
https://lore.kernel.org/r/20211202044655._6vo19g7Q%25akpm@linux-foundation.org/
https://lore.kernel.org/r/20211202044657.mgDrqM7WQ%25akpm@linux-foundation.org/

[2021-12-07 18:03] nathanchance commented on #1529
Patch submitted to resolve this version of this error: https://lore.kernel.org/r/20211207175951.135400-1-nathan@kernel.org/

I plan to close this issue when that is merged, I do not think it is worth tracking the implementation of those flags, as there is already an upstream issue (and I would expect someone from Loongson or an interest in it to do it, given it is their bug).

[2021-12-07 19:22] nathanchance commented on #1497
I tested with ToT (33e3554ea33d) and this error is still present. The power supply patch is still pending in Sebastian's tree, Arnd sent a duplicate patch, which will hopefully spur getting this into mainline/-next sooner rather than later: https://lore.kernel.org/r/20211204220249.591482-1-arnd@kernel.org/

[2021-12-07 19:52] isanbard commented on #1521
The patch has landed.

[2021-12-07 20:16] nathanchance commented on #1528
It comes from the `EXPORT` macro in `arch/mips/include/asm/asm.h`, which results in:

[code]

becoming:

[code]

This is not MIPS specific:

[code]

That being said, I might be missing something but I don't see why this would not work?

[code]

It looks like that is how things were when `CONFIG_KEXEC` was first merged in https://git.kernel.org/linus/583bb86fbb9e85287f020fe4eb5352a0ec3c66a3, but th

[2021-12-07 22:38] nathanchance opened #1533 "RISC-V `relocation R_RISCV_HI20 out of range` with `CONFIG_CMODEL_MEDLOW=y`"
The kernel test robot [reported a build failure](https://lore.kernel.org/r/202112080235.qWx8fmbC-lkp@intel.com/) in the stable tree with a randconfig.

Initially, I thought this was related to `CONFIG_MMU`, as `defconfig` + `CONFIG_MMU=n` reproduces a similar error (also reported in #1409):

[code]

However, that one goes away when `CONFIG_KALLSYMS` gets disabled. To reproduce this exact build fai

[2021-12-08 08:54] emojifreak opened #1534 "mips llvm-objcopy: error: invalid symbol index: 67108864"
The mips64el build fails with the following message:

[code]

The above error can be reproduced by clang/llvm-13 and the following script. I am failing to identify the exact condition of reproduction...

[code]

[2021-12-08 08:59] emojifreak commented on #1321
`CONFIG_UBSAN_OBJECT_SIZE` also produces the same warnings for mips64el build as below:

[code]

The llvm-objecopy error is  #1534 and is probably independent of this. The above warning can be reproduced by the following script. Please add the tag `mips`.

[code]

[2021-12-08 18:28] nathanchance commented on #1534
If I remove `CONFIG_RUNTIME_TESTING_MENU=n` from your config, we get `llvm-objcopy: error: invalid symbol index: 33554432` with `drivers/misc/lkdtm/rodata_objcopy.o`, which is way easier to triage.

This looks to be something going wrong with `-EL` + `-mabi=64`? It reproduces with both GCC and Clang. GNU objcopy has no issues.

[code]

[2021-12-08 20:47] bwendling commented on #1521
Should we ask that this be added to 13.0.1?

[2021-12-08 21:08] nathanchance commented on #1521
Sounds like it is not too late to request it to be added.

@tstellar Would it be possible to add https://github.com/llvm/llvm-project/commit/c4582a689c2c74e0635309979176c7ada086f066 to `release/13.x`? If there is a better way to request this while Bugzilla is being migrated, let me know.

[2021-12-08 23:46] nickdesaulniers commented on #1512
[Link](https://git.kernel.org/pub/scm/linux/kernel/git/peterz/queue.git/commit/?h=x86/wip.extable&id=a765fe80e98f66c85ed4f3fb6b1c115c913d4357) might die but:
x86/vmx: Provide asm-goto-output vmread

[2021-12-09 00:48] nathanchance commented on #1520
Fixed: https://git.kernel.org/next/linux-next/c/9ece914d9892450699baba9633cca9d3d215aa98

[2021-12-09 00:48] #1520 closed, assigned to nathanchance

[2021-12-09 10:48] emojifreak commented on #1534
It seems so, as I have been unable to reproduce this with mips 32-bit little endian build...

[2021-12-09 16:24] nathanchance commented on #1526
Patch accepted: https://git.kernel.org/mips/c/f2c6c22fa83ab2577619009057b3ebcb5305bb03

[2021-12-09 16:25] nathanchance commented on #1529
Patch accepted: https://git.kernel.org/mips/c/13ceb48bc19c563e05f407e663aaa4105fdfd408

[2021-12-09 19:52] nathanchance opened #1535 "-Wframe-larger-than= in drivers/staging/greybus/audio_topology.c"
With `clang-11` and `clang-12`, I see the following error with x86_64 allmodconfig:

[code]

@arndb sent [a patch](https://lore.kernel.org/r/20210103223541.2790855-1-arnd@kernel.org/) for this earlier this year that had some feedback but I never saw a follow up. I addressed the comments, verified the error was fixed, and sent a v2: https://lore.kernel.org/r/20211209195141.1165233-1-nathan@kernel.o

[2021-12-09 23:26] emojifreak opened #1536 "mips64 error: ABI 'o32' is not supported on CPU 'mips64r6'"
mips 64-bit little endian build fails with

[code]

The above does not occur with gcc. This can be reproduced by

[code]

[2021-12-09 23:29] nathanchance commented on #1536
Dupe of https://github.com/ClangBuiltLinux/linux/issues/884. This is unlikely to be fixed anytime soon.

[2021-12-09 23:29] #1536 closed, assigned to nobody

[2021-12-09 23:32] emojifreak commented on #1536
Ahh... Sorry for duplication.

[2021-12-10 00:24] emojifreak opened #1537 "mips32 arch/mips/crypto/chacha-core.S:264:118: error: unknown instruction, did you mean: rol, rotr?"
mips 32bit little endian build fails as below. It seems that LLVM_IAS does not accept `rotl` while GNU as accepts it.

[code]

This can be reproduced by

[code]

[2021-12-10 00:30] emojifreak opened #1538 "mips64 arch/mips/crypto/crc32-mips.c:40:1: error: expected identifier or '('"
mips 64-bit little endian build fails with the following error. gcc does not show this symptom.

[code]

This can be reproduced with

[code]

[2021-12-10 16:57] nathanchance commented on #1488
v2: https://lore.kernel.org/r/20211210165528.3232292-1-nathan@kernel.org/

[2021-12-10 17:44] nathanchance commented on #496
This is impacting our ability to get a clean build with `allmodconfig` due to `CONFIG_WERROR` so I would really like to find a clear path forward on this. I think [Adrian's v3 series](https://lore.kernel.org/r/20201113173723.2078845-1-adrian.ratiu@collabora.com/) with [the second patch from the v1 series](https://lore.kernel.org/r/20201106051436.2384842-3-adrian.ratiu@collabora.com/) is probably t

[2021-12-10 17:53] nathanchance commented on #1211
This appears to be resolved now that #325 is.

[2021-12-10 17:53] #1211 closed

[2021-12-10 19:38] nickdesaulniers commented on #1512
I've split the patch up into a series:
1. https://reviews.llvm.org/D115410
2. https://reviews.llvm.org/D115311
3. https://reviews.llvm.org/D115409
4. https://reviews.llvm.org/D115471

(There's still some discussion ongoing in https://reviews.llvm.org/D114895, but I'm likely to abandon that approach)

[2021-12-10 19:39] nathanchance opened #1539 "-Wframe-larger-than= in drivers/cxl/core/bus.c"
With `ARCH=arm allmodconfig` + `CONFIG_KASAN=n`:

[code]

Reported upstream: https://lore.kernel.org/r/YbOswyDRX1SEtE8C@archlinux-ax161/

[2021-12-10 19:47] arndb commented on #496
On Fri, Dec 10, 2021 at 6:44 PM Nathan Chancellor
***@***.***> wrote:

I wonder if we'll ever fix this one...

My feeling is actually that clang is probably right and gcc is wrong.
What I'd like
to see here is a change to the interface to have two specialized versions. As
far as I can tell, the input and output pointers are either non-overlapping
(meaning that adding __restrict lets all compilers

[2021-12-10 21:40] nathanchance commented on #1539
Patch submitted: https://lore.kernel.org/r/20211210213627.2477370-1-nathan@kernel.org/

[2021-12-10 22:46] nickdesaulniers commented on #1513
Did you replace `%` with `%%` for BOTH `.ifc` directives in `DEFINE_EXTABLE_TYPE_REG`? ;)

[2021-12-10 23:03] nathanchance commented on #1513
Nope... This works!

[code]

[2021-12-10 23:53] nathanchance commented on #1513
Patch submitted: https://lore.kernel.org/r/20211210234953.3420108-1-nathan@kernel.org/

[2021-12-11 01:23] telans commented on #1415
With v5.16-rc4

[code]

[2021-12-11 04:44] emojifreak opened #1540 "mips64 clang: error: unsupported argument '-mfix-cn63xxp1' to option 'Wa,'"
`CONFIG_CAVIUM_CN63XXP1=y` gives the build error

[code]

This can be reproduced by

[code]

[2021-12-11 04:52] emojifreak opened #1541 "mips64 LLVM_IAS gives arch/mips/kernel/octeon_switch.o <unknown>:0: error: symbol 'octeon_mult_save_end' is already defined"
`CONFIG_CAVIUM_OCTEON_SOC=y` & `CONFIG_CPU_CAVIUM_OCTEON=y` gives the build error

[code]

This can be reproduced by

[code]

[2021-12-11 19:13] nathanchance commented on #1541
Appears to be the same issue as #1528.

[2021-12-11 23:58] telans opened #1542 "hexagon: arch/hexagon/kernel/signal.c: stack trace"
config: [2021-12-11T20:53:35+13:00-hexagon.config.tar.gz](https://github.com/ClangBuiltLinux/linux/files/7697913/2021-12-11T20.53.35%2B13.00-hexagon.config.tar.gz)

args: `clang --target=hexagon-linux-musl -ffixed-r19 -O2`

cvise:
[code]

clang trace:
[code]
llvm-reduce:
[code]

llc trace:
[code]

[2021-12-12 04:30] nathanchance commented on #1542
cc @androm3da @SidManning, we can file an issue in LLVM's repo if it is easier.

[2021-12-12 09:34] emojifreak commented on #1541
Ah.. maybe this is a duplicate. Sorry, I will close this.

[2021-12-12 09:35] #1541 closed, assigned to nobody

[2021-12-12 09:37] emojifreak commented on #1540
In the reproduction script, `mips-linux-gnu` should have been `mipsel-linux-gnu`, as the target was little endian. The symptom remains the same with both `mips-linux-gnu` and `mipsel-linux-gnu`.

[2021-12-12 21:01] nathanchance commented on #1503
Merged into mainline: https://git.kernel.org/linus/1edb7e74a7d3d64dc4e69e7059b4eea526d19a10

[2021-12-12 21:01] #1503 closed, assigned to nobody

[2021-12-12 21:07] nathanchance commented on #1521
Backport requested: https://github.com/llvm/llvm-project/issues/52633

[2021-12-12 21:35] nathanchance commented on #1510
This was already reported upstream, I just added on this information there: https://github.com/llvm/llvm-project/issues/47220

[2021-12-12 22:01] nathanchance commented on #1523
Reported upstream: https://github.com/llvm/llvm-project/issues/52635

[2021-12-13 00:34] emojifreak opened #1543 "arch/mips/sgi-ip22/Platform:28: *** gcc doesn't support needed option -mr10k-cache-barrier=store. Stop."
This is in response to
https://lore.kernel.org/lkml/CAK7LNAS7=qYs7NdDRY+4Dz5Zt0tLDo-W-EMcx+9TaNazNVcX=Q@mail.gmail.com/

`CONFIG_SGI_IP28` and `LLVM_IAS=1` causes the following build error:

[code]

This can be reproduced by the following script. By the way, I do not expect machine-specific configurations in the mips architecture are buildable by `LLVM_IAS` as nobody seems to test or have interest

[2021-12-13 01:01] nathanchance commented on #1543
Reports are never bad since issues are free but realistically, it is not likely that these option/flags will be implemented unless someone steps up from the MIPS or LLVM communities. As far as I am aware, this project does not have a whole ton of people interested in MIPS and we have enough bugs/issues/feature requests for the architectures that are more alive (ARM/x86). The MIPS community in the

[2021-12-13 01:55] emojifreak commented on #1543
Thank you for sharing your view. Another related issue is the Rust support in Linux. Currently it seems to require `CC=clang` at least. So build failure with `CC=clang` is probably worth reporting...

[2021-12-13 02:05] nathanchance commented on #1515
Reported upstream: https://github.com/llvm/llvm-project/issues/52637

[2021-12-13 02:23] nathanchance commented on #1531
Reported upstream: https://github.com/llvm/llvm-project/issues/52638

[2021-12-13 05:21] nathanchance opened #1544 "Unsupported compiler and assembler flags for MIPS"
Initially reported by @emojifreak in #1529, #1540, and #1543.

There are certain flags required by certain processors that are not implemented in `clang` or the integrated assembler that are in GCC/binutils. These should not be wrapped in `cc-option` as they are required for the kernel to run on the processor without issues.

Compiler flags ([documentation](https://gcc.gnu.org/onlinedocs/gcc-11.2.

[2021-12-13 05:28] nathanchance commented on #1543
I have opened #1544 to track further missing flags in `clang` and the integrated assembler.

We can keep this open because that `error` call should be removed like #1529 (I am hoping Tiezhu will do this as a part of [MIPS: Makefile: Remove "ifdef need-compiler" for Kbuild.platforms](https://lore.kernel.org/r/1639109105-1545-1-git-send-email-yangtiezhu@loongson.cn/), I can do it later if not).

[2021-12-13 05:28] nathanchance commented on #1540
I am closing this in favor of #1544.

[2021-12-13 05:28] #1540 closed, assigned to nobody

[2021-12-13 05:37] nathanchance commented on #1534
Reported upstream: https://github.com/llvm/llvm-project/issues/52647

[2021-12-13 17:12] pcercuei opened #1545 "Kernel build never starts"
At the tag `v5.16-rc5`, on Debian testing, with Clang/LLVM are at version 13.0.

Preparing the kernel like this:
`ARCH=mips CC=clang make gcw0_defconfig LLVM=1 LLVM_IAS=1`

Trying to build the kernel like this:
`ARCH=mips CC=clang make LLVM=1 LLVM_IAS=1 -j7 vmlinuz.bin`

The kernel build will just output the following line, repeated every ~3 seconds or so:
[code]

[2021-12-13 17:15] nathanchance commented on #1543
Tiezhu submitted https://lore.kernel.org/r/1639389477-17586-2-git-send-email-yangtiezhu@loongson.cn/.

[2021-12-13 17:42] nathanchance commented on #1545
Hmmm, I cannot reproduce this in a Debian testing container... I can get past linking `vmlinux` but then I error out on linking `vmlinuz`.

Containerfile:

[code]

[code]

Usually, syncconfig only happens when something is different between configuring and building, such as a variable that influences the configuration but it does not seem like that is happening here?

[2021-12-13 18:07] pcercuei commented on #1545
I did the same command as before, but with `PATH=/usr/local/bin:/usr/bin:/usr` prepended, and it unlocked the situation, and now I can't reproduce it anymore.

[2021-12-13 18:21] nathanchance commented on #1534
https://reviews.llvm.org/D115635 has been submitted to resolve this.

[2021-12-13 18:55] nathanchance commented on #1513
Fixed: https://git.kernel.org/tip/4b5305decc8436bfe363d1c1773e8fa1c828b14d

[2021-12-13 18:55] #1513 closed, assigned to nathanchance

[2021-12-13 18:56] nathanchance commented on #1512
It looks like Peter has a version of the patch that does not break with current `clang` versions so the kernel side will be taken care of when the LLVM fixes land: https://lore.kernel.org/r/YbcbbGW2GcMx6KpD@hirez.programming.kicks-ass.net/

[2021-12-13 19:48] nickdesaulniers commented on #1545
closing, please reopen with additional steps to reproduce.

[2021-12-13 19:48] #1545 closed, assigned to nobody

[2021-12-13 21:26] MaskRay commented on #1523
(Out of town for ~10 days).

https://github.com/llvm/llvm-project/issues/52635 has been fixed.

[2021-12-13 21:27] nathanchance commented on #1523
Thanks a lot for the quick fix @MaskRay! Is this worth adding to `release/13.x`?

[2021-12-13 21:33] MaskRay commented on #1523
I am happy if it is added to `release/13.x` (either the codegen was incorrect or it crashed). You may file an cherry pick issue and tag Jessica (`ornata`).

[2021-12-13 21:36] nathanchance commented on #1523
Thanks!

[2021-12-13 22:09] pcercuei commented on #1545
@nathanchance What are those errors at the end of the build though? `arch/mips/Makefile:294` should take care of the leading 0xffffffff...

[2021-12-14 04:17] nathanchance opened #1546 "ld.lld: error: section exceeds available address space (MIPS vmlinuz.bin)"
When building `ARCH=mips gcw0_defconfig vmlinuz.bin`, I see the following error:

[code]

This appears to be the same issue as #786 but for `zload-y` in `arch/mips/boot/compressed/Makefile`.

Commit [ff487d410360](https://git.kernel.org/linus/ff487d41036035376e47972c7c522490b839ab37) ("MIPS: Truncate link address into 32bit for 32bit kernel") took care of the case of no `zload-y` being defined by

[2021-12-14 04:17] nathanchance commented on #1545
@pcercuei I opened #1546 to track that error with some explanation of what I think is going on.

[2021-12-14 09:41] pcercuei commented on #1546
The diff looks fine to me.

[2021-12-14 15:30] nathanchance commented on #1543
Patch accepted: https://git.kernel.org/mips/c/048cc2378c2494519d940597629465b3ea44a96f

[2021-12-14 16:19] nathanchance commented on #1531
Fixed: https://github.com/llvm/llvm-project/commit/2de9338587ffbad3a3f6249a615ab6c9e003813e

I am not really inclined to ask for this to be backported to LLVM 13.0.1 because MIPS as a whole will require more integrated assembler fixes to work properly but I don't have a strong opinion.

[2021-12-14 16:19] #1531 closed, assigned to nobody

[2021-12-14 16:54] nathanchance commented on #1546
This might be better:

[code]

Is it possible that this is related to #1333?

[2021-12-14 17:00] nathanchance commented on #1334
Merged into mainline: https://git.kernel.org/linus/67512a8cf5a730938fdb1e48de33edfef6015e03

[2021-12-14 17:00] #1334 closed, assigned to pcercuei

[2021-12-14 17:09] pcercuei commented on #1546
In this case why not replace `VMLINUZ_LOAD_ADDRESS` by `zload-ld` or vice-versa?

I thought about #1333 too, but it does not seem to be related - the vmlinuz file does have the proper zload address set.

[2021-12-14 17:12] nathanchance commented on #1546
It seems like `VMLINUZ_LOAD_ADDRESS ` has other uses? Looks like it is used for `uzImage.bin` (`UIMAGE_LOADADDR`) and `vmlinuz.its` (`VMLINUX_{LOAD,ENTRY}_ADDRESS`), I am not sure if the first change will impact those.

[2021-12-14 17:49] nathanchance commented on #1333
I hit #1546 when building `vmlinuz` for `gcw0_defconfig`. Once I patch that up with the second diff in that issue, I can link.

[code]

[code]

@pcercuei's section diff has a bunch of function sections, was `CONFIG_LD_DEAD_CODE_DATA_ELIMINATION` turned on for those builds? If so, perhaps that is causing issues and something like below might remedy it?

[code]

[2021-12-14 19:10] pcercuei commented on #1333
@nathanchance I had `CONFIG_LD_DEAD_CODE_DATA_ELIMINATION` enabled, that's correct. However, neither disabling this option nor applying your patch seem to fix the problem.

[2021-12-14 19:15] nathanchance commented on #1333
Okay, good to know, one less variable to deal with.

When you say that it does not boot, do you get any output on the console like a crash or does it just hang? Does MIPS have an earlycon option?

[2021-12-14 19:36] pcercuei commented on #1333
There is an earlycon option, and there's an option to enable logging in the decompressor itself.
Here's what I get over UART:
[code]
Then no output at all, which means that the kernel crashes very early.

Some progress though: if I embed the DTB into the kernel (gcw0.dtb is built-in if `CONFIG_MIPS_NO_APPENDED_DTB`) then it does boot. In my config (the one which does not work) I do use `CONFIG_MIP

[2021-12-14 19:43] nathanchance commented on #1333
@pcercuei Based on that UART output, it seems like the if statement in `decompress_kernel()` is getting skipped? Shouldn't we see `Copy device tree to address ...`?

[2021-12-14 19:48] nickdesaulniers commented on #1333
Why is `.data` and `.MIPS.abiflags` reordered between linkers? Are they not placed explicitly in a linker script? Should `LD_ORPHAN_WARN` warn about that?

[2021-12-14 19:52] nickdesaulniers commented on #1538
Might be nice to see the preprocessed output. `ARCH=mips make LLVM=1 arch/mips/crypto/crc32-mips.i`. Then try to reduce which inline asm is triggering this.

[2021-12-14 19:53] nickdesaulniers commented on #1537
Does `rotl` have a 3 operand variant?

[2021-12-14 19:55] nickdesaulniers commented on #1534
Fixed: https://github.com/llvm/llvm-project/commit/d5d8b1c972bca995133f358f01ce474fb8d0b669

[2021-12-14 19:55] #1534 closed, assigned to nobody

[2021-12-14 20:01] pcercuei commented on #1333
@nathanchance We definitely should, yes.
If I print `&__appended_dtb` I get 0x813F72D8, which does sound very wrong. It should be 0x814F72D8 (as my vmlinuz.bin file is 0x4F72D8 bytes).

[2021-12-14 20:01] nathanchance commented on #1333
`CONFIG_LD_ORPHAN_WARN` is only added to `LDFLAGS_vmlinux`, not `KBUILD_LDFLAGS`, which is what `vmlinuz` uses. Perhaps it should be?

Adding the flag manually to the `zld` command, I see:

[code]

None of those looks particularly damning.

One interesting thing is that `arch/mips/boot/vmlinux.lds.S` has `__appended_dtb` outside of a section, whereas `arch/mips/boot/compressed/vmlinux.S` has it wi

[2021-12-14 20:05] nickdesaulniers commented on #1528
Then perhaps the `EXPORT` related changes in `https://git.kernel.org/linus/00be0f305fa69adb9f9d7b9447283b862b853e9e` were mistaken. @nathanchance your patch LGTM.

[2021-12-14 20:08] nickdesaulniers commented on #1333
Unless configs intentionally reorder these, which I highly doubt, I suspect "yes."

Which section? One that's being reordered differently?

[2021-12-14 20:12] nathanchance commented on #1333
`.appended_dtb`, it is being reordered and having its section flags changed, as Paul notes in his second comment.

[2021-12-14 21:25] nickdesaulniers commented on #1512
Been discussing this a lot with @jyknight . Based on https://reviews.llvm.org/D115409#3190589, I think I'm going to go with:
1. https://reviews.llvm.org/D115688
2. https://reviews.llvm.org/D115410
3. https://reviews.llvm.org/D115311
4. https://reviews.llvm.org/D115471

[2021-12-14 22:00] nathanchance commented on #693
Harry's series to fix this particular issue was merged in 5.16-rc1: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/log/?h=a62427ef9b55d4b5aec2b08dc9b2d9719572bf57

[2021-12-14 22:00] #693 closed

[2021-12-14 22:00] nathanchance commented on #691
Harry's series to fix this particular issue was merged in 5.16-rc1: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/log/?h=a62427ef9b55d4b5aec2b08dc9b2d9719572bf57

[2021-12-14 22:04] nathanchance commented on #1321
There are plans to remove `CONFIG_UBSAN_OBJECT_SIZE` from the kernel so these warnings should disappear by nature of that change: https://lore.kernel.org/r/20211203235346.110809-1-keescook@chromium.org/

I believe Nick's change resolves this on the LLVM side as well: https://reviews.llvm.org/D111456

[2021-12-14 22:10] nickdesaulniers commented on #1333
Then that's probably a problem; I'll bet that `__appended_dtb` is a linker script defined symbol meant to denote the start of `.append_dtb`?

[2021-12-14 22:15] nathanchance commented on #1333
[code]

I wonder if that changes anything? I don't see the `.appended_dtb` section used anywhere in `arch/mips/compressed/boot/`...

[2021-12-14 22:47] pcercuei commented on #1333
So we actually don't care at all about a `.appended_dtb` section; we just need the `__appended_dtb` symbol to point exactly to the byte after the end of the `vmlinuz.bin` file.

[2021-12-15 00:50] nathanchance opened #1547 "-Wmissing-braces in drivers/firmware/efi/libstub/efi-stub-helper.c"
After commit [2e5006b7634f](https://git.kernel.org/efi/efi/c/2e5006b7634f677ffcfdbc8855d11dbc485ccb1f) ("efi/libstub: measure loaded initrd info into the TPM") in -next:

[code]

The full variable:

[code]

Is `clang` getting something wrong here? GCC accepts the current form without any warnings. The suggestion resolves it but I want to make sure something is not getting missed here.

[code]

[2021-12-15 03:56] nathanchance commented on #1521
Merged into `release/13.x`: https://github.com/llvm/llvm-project/commit/d904698b53e4f21a675d4ca0463843432ff4d590

[2021-12-15 03:56] #1521 closed, assigned to bwendling

[2021-12-15 05:18] emojifreak opened #1548 "armv5te marvell: TYPEDEF (anon) Error emitting BTF type Encountered error while encoding BTF"
Debian armel kernel config for marvell causes build failure with `CONFIG_DEBUG_BTF=y` as below:

[code]

This can be reproduced by

[code]

[2021-12-15 05:27] nathanchance commented on #1548
That is likely coming from `pahole`. What version of `pahole` are you using? Can you test GCC with the same configuration to see if it is actually a clang issue?

[2021-12-15 05:32] emojifreak commented on #1548
`pahole --version` shows `v1.20` , which is the newest from Debian unstable. I will see what happens with LLVM=0 and report it back.

[2021-12-15 05:38] emojifreak commented on #1548
[code]

gives the following error, which seems an independent (but trivial) issue. I will unset `LLVM`.

[code]

`clang` should not be called with `LLVM=0`, I think...

[2021-12-15 08:24] emojifreak commented on #1548
@nathanchance You are right. Exactly the same symptom is observed with `LLVM=0`....

[2021-12-15 08:24] #1548 closed, assigned to nobody

[2021-12-15 16:44] nathanchance commented on #1488
Patch accepted: https://git.kernel.org/tegra/c/a7083763619f7485ccdade160deb81737cf2732f

Looks like it should be in 5.16: https://lore.kernel.org/r/20211215162618.3568474-1-thierry.reding@gmail.com/

[2021-12-15 19:01] bwendling commented on #1547
It's unclear to me. The standard does mention initializing an array of unknown size in an aggregate, but doesn't appear explicit whether it should be surrounded by braces. I could see a case for both. This is something a language lawyer needs to comment on.

[2021-12-15 20:44] nathanchance commented on #1547
Oddly enough, I don't even see where `tagged_event_data` is actually used... I see a comment about it in `struct efi_tcg2_event` in https://git.kernel.org/efi/efi/c/4da87c51705815fe1fbd41cc61640bb80da5bc54 but there is nowhere that it is called so I guess it is just there for size.

It seems like the `[]` is intentional, as trying to change it to `u8 *` such as:

[code]

breaks the build with both

[2021-12-15 20:49] ardbiesheuvel commented on #1547
I don't mind adding the braces if GCC and Clang both accept it. I just don't see why initializing a char[] using a string literal suddenly needs an additional set of braces when the char[] is a member of a compound type.

As for the u8[] to u8* change: this is obviously incorrect. This struct is defined in the TCG PC client spec, and constitutes a API contract between the EFI stub and the firmware

[2021-12-15 21:56] nathanchance commented on #1547
GCC does not warn with or without braces, clang warns without: https://godbolt.org/z/3YcP5sbKq

[All of GCC's documentation](https://gcc.gnu.org/onlinedocs/gcc/Zero-Length.html) and nearly [all of clang's tests](https://github.com/llvm/llvm-project/blob/cea3638812210e4a2368fd6cd3e034105d586687/clang/test/Sema/flexible-array-init.c) show braces around the initializer so it seems like that is what s

[2021-12-15 22:11] nickdesaulniers commented on #496
So my thoughts on how we might approach this; something like (just `xor_8regs_2` for now):
[code]

That's just `xor_8regs_2`, but if we converted all of these, we could also drop the `#include <asm-generic/xor.h>` and all the pragmas producing these warnings in arch/arm/lib/xor-neon.c. Thoughts?

[2021-12-15 22:14] nickdesaulniers commented on #1547
@jrtc27 mentioned on IRC:

[2021-12-15 22:21] nickdesaulniers commented on #496
probably should s/abs/labs/ and />/>=/

[2021-12-15 22:24] nathanchance commented on #496
I think [`abs()`](https://elixir.bootlin.com/linux/v5.16-rc5/source/include/linux/math.h#L131) will handle this just fine (and `labs()` does not exist in the kernel source anyways).

[2021-12-15 22:51] nathanchance commented on #1533
Per Arnd's recommendation during our weekly meeting, I can reproduce these same errors with GCC 10.2.0 and binutils 2.35.2 from Debian:

[code]

[2021-12-15 22:55] ardbiesheuvel commented on #1547
I've fixed this up in the original patch. Should appear in -next tomorrow.

[2021-12-15 22:56] nathanchance commented on #1547
Thanks a lot Ard!

[2021-12-16 00:51] nathanchance commented on #1455
With `ARCH=arm allmodconfig`:

<details><summary><code>calculate_bandwidth</code></summary>
<p>

[code]

</p>
</details>

<details><summary><code>bw_calcs</code></summary>
<p>

[code]

</p>
</details>

Seems like we are just getting destroyed by excessive inlining, which makes sense given the inlined functions are small. One odd piece about all of this code is that `struct bw_fixed` just has an in

[2021-12-16 00:53] nathanchance commented on #1519
Fixed in `next-20211215`: https://git.kernel.org/jberg/mac80211/c/37d33114240ede043c42463a6347f68ed72d6904

[2021-12-16 00:53] #1519 closed, assigned to nathanchance

[2021-12-17 00:31] nathanchance commented on #1488
Merged into mainline: https://git.kernel.org/linus/a7083763619f7485ccdade160deb81737cf2732f

[2021-12-17 00:31] #1488 closed, assigned to nathanchance

[2021-12-17 07:58] dileks opened #1549 "LLVM 13 release cycle [dup]"
Due to the bugzilla -> GitHub migration the `LLVM version 13.0.1` was delayed.

Tom says in [1]:

Deadlines:

For the `LLVM version 13.0.1 milestone` see [2].

[1] https://lists.llvm.org/pipermail/llvm-dev/2021-December/154383.html
[2] https://github.com/llvm/llvm-project/milestone/2

[2021-12-17 08:03] dileks commented on #1549
Follow the `release/13.x` Git branch and `llvmorg-13.0.1-rc2` will be tagged in [2].

[1] https://github.com/llvm/llvm-project/commits/release/13.x
[2] https://github.com/llvm/llvm-project/tags

[2021-12-17 22:30] nathanchance commented on #1547
Now fixed in -next.

[2021-12-17 22:30] #1547 closed, assigned to nobody

[2021-12-20 01:51] emojifreak opened #1550 "Thin LTO causes `relocation R_AARCH64_CALL26 out of range`"
This could be a duplicate of https://github.com/ClangBuiltLinux/linux/issues/1394. When the kernel is too big, relocation out of range looks natural. On the other hand, `CONFIG_RELOCATABLE=n`  should prevent such errors.

Besides, `allyesconfig` for arm64 leaves many modules disabled. This is because `CONFIG_ARCH_*`, `CONFIG_*_MBOX` and `CONFIG_*_FIRMWARE` are left disabled. Building a too big ker

[2021-12-20 01:54] emojifreak commented on #1550
By the way, I was unable to test `CONFIG_LTO_CLANG_FULL` with the above config because of shortage of the memory of my laptop.

[2021-12-20 16:50] nathanchance commented on #92
Another instance:

https://lore.kernel.org/r/202112181827.o3X7GmHz-lkp@intel.com/

https://godbolt.org/z/srK9cfvPT

[code]

[2021-12-20 17:33] nathanchance commented on #1502
Our CI [just reported this error](https://github.com/ClangBuiltLinux/continuous-integration2/runs/4582653129?check_suite_focus=true) on `next-20211220` with a version of LLVM that definitely includes https://github.com/llvm/llvm-project/commit/73ee4e1cbd643028d63200f05199a128609aba5f. It appears to be related to `CROSS_COMPILE=arm-linux-gnueabihf-`, which `tuxmake` sets.

[code]

Is this expected?

[2021-12-20 17:43] ardbiesheuvel commented on #1502
This is definitely not expected. The ARM v6k sub-architecture is the one that introduced the TLS registers to begin with, so the diagnostic is wrong by definition.

[2021-12-20 19:16] nathanchance opened #1551 "error: out of range pc-relative fixup value"
Initially reported by CI:

https://github.com/ClangBuiltLinux/continuous-integration2/runs/4582656058?check_suite_focus=true

https://builds.tuxbuild.com/22Y6TPllfEZ9LfAJ8FuIW7AQLh0/build.log

With LLVM 13, there is a build error with `multi_v5_defconfig`:

[code]

Introduced by commit [7b9896c35207](https://git.kernel.org/next/linux-next/c/7b9896c352073156a325c3bb0dc4c46e06e2a468) ("ARM: percpu:

[2021-12-20 19:19] ardbiesheuvel commented on #1551
Does this help?
[code]

[2021-12-20 19:26] nathanchance commented on #1551
No, it does not. The error appears to come from this block

[code]

not the one above it, as I don't see it in the preprocessed source:

[code]

[2021-12-20 21:21] nickdesaulniers commented on #1439
https://github.com/llvm/llvm-project/issues/51024

[2021-12-20 22:26] ardbiesheuvel commented on #1551
How about this?
[code]

[2021-12-20 22:35] nathanchance commented on #1551
Yes, that works for me.

[2021-12-20 23:57] nickdesaulniers commented on #1439
https://reviews.llvm.org/D116059

[2021-12-21 00:09] nickdesaulniers commented on #1529
https://lists.llvm.org/pipermail/llvm-dev/2021-December/154371.html

[2021-12-21 00:45] nathanchance commented on #1550
"Doctor, it hurts when I do this."

"So don't do that."

:)

But in all seriousness, the likelihood of this happening in the real world is fairly slim, as distributions will build modular kernels so that they can run on a wide variety of hardware and people who want a monolithic kernel are going to only build what they need for a single piece of hardware.

Does this require LTO to reproduce? I tri

[2021-12-21 00:50] samitolvanen commented on #1353
Fixed in https://github.com/llvm/llvm-project/commit/5dc8aaac39c53c8e91842a9233921759544759bc and https://github.com/llvm/llvm-project/commit/ec2e26eaf63558934f5b73a6e530edc453cf9508.

[2021-12-21 00:50] #1353 closed, assigned to samitolvanen

[2021-12-21 17:07] nathanchance opened #1552 "'-outline-atomics' is not a recognized feature for this target"
After commit [dd03762ab608](https://git.kernel.org/arm64/c/dd03762ab608e058c8f390ad9cf667e490089796) ("arm64: Enable KCSAN") in -next, there is a warning when building `kernel/kcsan/core.c` for x86_64:

[code]

This is because `clang` only warns when `-moutline-atomics` is used without backend support, not `-mno-outline-atomics`, so the cc-option check does not work for clang.

[code]

This contra

[2021-12-21 17:14] melver commented on #1552
I think this is a more fundamental problem with Clang and the fact it silently accepts certain options, which breaks cc-option.

I think Clang shouldn't silently accept options like this, otherwise `cc-option` will just not work. Do we have to improve cc-option for Clang as a workaround (`-Werror=option-ignored`)? We really ought to try and make cc-option behave the same for Clang as it does for G

[2021-12-21 17:22] melver commented on #1552
Also, which version of LLVM? Is this only LLVM-git?

I can't repro this with Clang 11.

Because if it's only LLVM-git, we should probably fix in LLVM.

[2021-12-21 18:26] nathanchance commented on #1552
[We do add `-Werror` to `cc-option`](https://git.kernel.org/linus/c3f0d0bc5b01ad90c45276952802455750444b4f) so that we can catch instances like this; the primary issue here is that there is not a warning from `clang` with `-mno-outline-atomics` unlike `-moutline-atomics`.

Something like this works for me:

[code]

[code]

It looks like `-m{,no-}outline-atomics` was added in Clang 12 so this is so

[2021-12-21 18:59] melver commented on #1552
Feel free to send the LLVM patch, it looks like the right thing to do to match GCC here. I'd also propose that the fix should reach LLVM stable branches.

But I think we don't need to "fix" this in the kernel, given the build is unaffected and merely a cosmetic issue.

[2021-12-21 19:32] ardbiesheuvel commented on #496
If we're going to provide actual implementations of those routines, we should just adopt the arm64 version, which uses NEON intrinsics that could be compiled to 32-bit ARM as well (with the exception of the EOR3 bits I just added)

[2021-12-21 21:03] emojifreak commented on #1550
@nathanchance  Yes, it does. The symptom disappears with `LTO_NONE=y`. This seems an LTO problem. Probably because of this, I cannot produce a similar symptom with 32-bit ARM even if all modules are built-in.

I completely agree that `allyesconfig` is purely test purpose. It seems useful here for uncovering an LTO problem...

[2021-12-21 21:22] nathanchance commented on #1552
Thanks, submitted: https://reviews.llvm.org/D116128

I am not sure we will be able to get it into LLVM 13.0.1, as backport requests were closed as of yesterday but I can ping Tom on Discord to get his opinion.

Sure, that is fine with me; if others complain, we can deal with it at that time :)

[2021-12-21 23:30] nickdesaulniers commented on #1550
LLD accepts `--thinlto-jobs=<value>` and `--threads=<value>` to limit the number of concurrent jobs (and thus resident set size) when linking.

[2021-12-21 23:37] nickdesaulniers commented on #1549
dup of #1465

(These announcements are a useful heads up about approaching deadlines; I find them informative and appreciate them).

[2021-12-21 23:37] #1549 closed, assigned to nobody

[2021-12-22 01:22] nathanchance commented on #1551
Patch submitted: https://lore.kernel.org/r/20211220225217.458335-1-ardb@kernel.org/

I think we should let this roll through CI as well.

[2021-12-22 01:27] nathanchance commented on #1535
Patch accepted: https://git.kernel.org/gregkh/staging/c/144779edf598e0896302c35a0926ef0b68f17c4b

[2021-12-22 03:22] nathanchance commented on #1551
@ardbiesheuvel I ran that patch through all of the `ARCH=arm` configs that I test and it does not appear to solve the error for `allmodconfig`, which should be using the section that you thought was problematic in your first comment.

[code]

The preprocessed source if it is helpful:

[code]

Let me know if there is any more information I can provide or patches to test.

[2021-12-22 03:38] emojifreak commented on #1550
No-LTO does not show this symptom even with `CONFIG_RELOCATABLE=y`. I changed the issue title.

[2021-12-22 20:15] nickdesaulniers commented on #496
I have a pair of patches from [before](https://github.com/ClangBuiltLinux/linux/files/7764986/0001-ARM-crypto-save-NEON-registers-only-when-using-NEON-.patch.txt) and [after](https://github.com/ClangBuiltLinux/linux/files/7764987/0001-ARM-crypto-reuse-NEON-XOR-intrinsics-from-arm64.patch.txt) seeing @ardbiesheuvel 's [comment](https://github.com/ClangBuiltLinux/linux/issues/496#issuecomment-999040

[2021-12-22 21:31] nickdesaulniers commented on #1502
I wasn't able to reproduce this on mainline or next-20211222 with llvm @ 32e8b30d6e67352040ffef54fb0e4b3a69242a4a.

Could this be another out of tree patch that Debian is applying to llvm?

[2021-12-22 21:48] nathanchance commented on #1502
This one looks suspicious, I will confirm in a bit.

https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/snapshot/debian/patches/930008-arm.diff

Comes as a result of https://bugs.debian.org/930008.

However, we pass `-march=armv6k` so I am not that should impact it.

[2021-12-22 22:30] nathanchance commented on #1502
Yes, that patch is the culprit. This diff on top of ToT LLVM reproduces the error with `next-20211222` (you need to use -next to see it, mainline does not have the `-mtp=cp15` flag in it yet).

[code]

I am not quite sure why that changes anything given that we pass in `-march=armv6k` but there must be some code path that I am not seeing.

[2021-12-22 22:37] nathanchance commented on #1502
Something weird is going on though because adjusting the test from `// CHECK-HF-DAG: "-target-cpu" "arm1176jzf-s"` to `// CHECK-HF-DAG: "-target-cpu" "cortex-a7"` does not work like I thought it would. Prior to that patch:

[code]

But after:

[code]

[2021-12-23 13:17] emojifreak opened #1554 "arm64 ld.lld: warning: stack frame size (2256) exceeds limit (2048) in function 'wlc_phy_txpwr_srom_read_ppr_nphy'"
All built-in configuration similar to https://github.com/ClangBuiltLinux/linux/issues/1550 gives a build warning at the final stage

[code]

This probably causes build failure with `CONFIG_WERROR=y`. `.config` and a reproducing script are attached. It is unclear to me why it is not caught by clang.
[config.txt.gz](https://github.com/ClangBuiltLinux/linux/files/7769480/config.txt.gz)
[clang-build-a

[2021-12-23 18:28] nickdesaulniers commented on #1554
If you run [this](https://github.com/ClangBuiltLinux/frame-larger-than) on the vmlinux, it might be able to help us spot if there's a large stack allocation, or lots of little ones.

[2021-12-23 18:33] nathanchance commented on #1502
I ended up bisecting -next because I found it odd that there was no error on `next-20211217` but there was on `next-20211220` and I landed on commit [f05eb1d24eb5](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?id=f05eb1d24eb564488014d90b31824f71984d7ef5) ("ARM: stackprotector: prefer compiler for TLS based per-task protector"). I think I see what is going on here.

Wi

[2021-12-23 19:19] nickdesaulniers commented on #1502
ah, the two places where `diag::err_target_unsupported_tp_hard` could be emitted got out of sync. We should be able to reuse the code here. Something like:
[code]

[2021-12-23 19:52] nathanchance commented on #1552
https://github.com/llvm/llvm-project/commit/be8180af5854806a343c3dd334d97ba2c4bfadfa

[2021-12-23 19:52] #1552 closed, assigned to nathanchance

[2021-12-23 20:16] nickdesaulniers commented on #1502
@nathanchance can you please help test https://reviews.llvm.org/D116233 (with and w/o [debian's patch](https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/snapshot/debian/patches/930008-arm.diff))?

[2021-12-23 20:22] nathanchance commented on #1515
Should be fixed with https://github.com/llvm/llvm-project/commit/937b00ab2cf05d0eba7a96fe7b14d277996e663e.

I think it is too late for a backport.

[2021-12-23 20:22] #1515 closed, assigned to nobody

[2021-12-23 20:49] nathanchance commented on #1502
@nickdesaulniers Yes, my builds are running right now. The three defconfigs pass without any issues with `CROSS_COMPILE=arm-linux-gnueabihf`, with or without Debian's patch. I will report back if there are any breakages with `allmodconfig` or the distro configs.

[2021-12-23 21:54] nickdesaulniers commented on #1552
Is this going to be a problem for clang < 14? Are there kernel changes necessary here?

[2021-12-23 22:05] nathanchance commented on #1552
I suggested a kernel change above that would work but Marco was not a fan. Since it is a small cosmetic issue (one translation unit with one set of warnings) and it will only be seen with `CONFIG_KCSAN`, I don't think it is a big deal.

[2021-12-23 22:11] nathanchance commented on #1502
@nickdesaulniers All builds pass against `next-20211223`.

<details><summary>Without Debian's diff</summary>
<p>

[code]

</p>
</details>

<details><summary>With Debian's patch</summary>
<p>

[code]

</p>
</details>

I could also see `CONFIG_STACKPROTECTOR_PER_TASK=y` in configs where it was not present prior to your change.

[2021-12-23 23:47] emojifreak commented on #1554
Thank you. I will try to provide further info. by https://github.com/ClangBuiltLinux/frame-larger-than

[2021-12-23 23:52] emojifreak commented on #1550
shadow call stack, CFI, DEBUG_INFO, TRIM_UNUSED_KSYMS are unnecessary to cause this symptom. The script attached to https://github.com/ClangBuiltLinux/linux/issues/1554 still causes this.

[2021-12-24 04:10] emojifreak commented on #1554
@nickdesaulniers It didn't work as

[code]

[2021-12-25 18:48] Divyanshu-Modi opened #1555 "Usage of deprecated function"
https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/scripts/extract-cert.c#L46
 Recently while building kernel on ubuntu jammy I came across this warn

as shown here this function is deprecated https://github.com/openssl/openssl/commit/af2f14ace581d30b186429cb3f9f5d14c0b5b4ec

[2021-12-25 21:26] emojifreak opened #1556 "x86 Thin LTO + allyesconfig causes `ld.lld: error: kernel image bigger than KERNEL_IMAGE_SIZE`"
This might be a duplicate of https://github.com/ClangBuiltLinux/linux/issues/1424#issuecomment-871797099. Thin LTO + `allyesconfig` gives the following build error. It does *not* happen with `LTO_NON=y`. In addition, `tools/objtool` needs 41 GiB of virtual memory and an extra swap space was needed.

[code]

A reproducing script is below:

[code]

[2021-12-25 21:29] emojifreak commented on #1556
With `LTO_NONE=y`, files sizes are much smaller as below:

[code]

[2021-12-25 21:41] nathanchance commented on #1555
Thank you for the report! I don't think this is a `clang` specific issue, can you see if this is reproducible with GCC? We generally try to track `clang` specific kernel issues here (this should still be reported upstream in any case).

[2021-12-26 07:49] emojifreak commented on #1550
This might be caused by significant differences in sizes of vmlinux:

Without LTO:

[code]

With thin LTO:

[code]

The difference ratio is even greater than the x86 case #1556.

[2021-12-26 13:17] Divyanshu-Modi commented on #1555
yes it is reproducible with gcc. Ok i will report to upstream thx for guidance sir. : )

[2021-12-26 19:03] #1555 closed, assigned to nobody

[2021-12-27 16:43] nathanchance opened #1557 "-Wtypedef-redefinition in drivers/staging/media/atomisp"
With `allmodconfig` + `CONFIG_VIDEO_ATOMISP_ISP2401=n`:

[code]

Patch submitted: https://lore.kernel.org/r/20211227164243.2329724-1-nathan@kernel.org/

[2021-12-27 17:27] nathanchance opened #1558 "-Wuninitialized in drivers/scsi/hisi_sas/hisi_sas_main.c"
[code]

Report sent: https://lore.kernel.org/r/Ycn3FoW9eOZNFMiL@archlinux-ax161/

[2021-12-27 22:37] nathanchance commented on #1510
Huh, I was combing through old reports and I noticed that @nickdesaulniers fixed an instance of this for KCOV in https://github.com/ClangBuiltLinux/linux/issues/1338, which I think should have fixed the instance that @emojifreak reported?

[2021-12-28 01:37] emojifreak commented on #1510
I can still consistently reproduce this error with linux 5.16-rc5 and

[code]

[2021-12-28 01:38] emojifreak commented on #1510
Thin LTO + allyesconfig + DEBUG_INFO=y also produces this.

[2021-12-28 01:55] emojifreak opened #1559 "Thin LTO + `-Os` gives vmlinux.o of almost the same size as thin LTO + `-O2`"
https://github.com/ClangBuiltLinux/linux/issues/1550#issuecomment-1001118975 gave `vmlinux.o` with 5 GB, which was produced with thin LTO + `-O2`. Changing `-O2` to `-Os` gives

[code]

A reproducing script and `.config` producing the above result are attached.

This is in sharp contrast with x86. `-Os` gives significantly smaller `vmlinux.o` and suppressed https://github.com/ClangBuiltLinux/linux

[2021-12-28 17:46] nathanchance commented on #1558
Patch proposed: https://lore.kernel.org/r/3d20171c-f5ac-d01e-9f0e-ba51835d68f0@hisilicon.com/

[2021-12-28 19:05] nathanchance commented on #1556
This comes from `arch/x86/kernel/vmlinux.lds.S`:

[code]

I am sure the `objtool` memory usage is just a symptom of the fact that the kernel is super large, as `objtool` has to run on `vmlinux.o` since that is an ELF file, rather than LLVM bitcode.

I am just curious, does this happen without `CONFIG_DEBUG_INFO`? That option is going to significantly increase the size of the binary. I see about ar

[2021-12-28 20:25] nickdesaulniers commented on #672
@aik sent [this patch](https://lore.kernel.org/llvm/20211221055904.555763-3-aik@ozlabs.ru/) from @daxtens

@mpe [accepted it into powerpc/next](https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?h=next&id=f5140cab448e4819ca6f158cb4130352f73c92e4)

[2021-12-28 20:29] nickdesaulniers commented on #1484
cc @aik

[2021-12-28 20:30] nickdesaulniers commented on #1418
cc @aik

[2021-12-28 20:31] nickdesaulniers commented on #1416
@aik [sent a patch](https://lore.kernel.org/llvm/20211221055904.555763-5-aik@ozlabs.ru/) from @daxtens . @mpe [accepted it into powerpc/next](https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?h=next&id=d72c4a36d7ab560127885473a310ece28988b604).

[2021-12-28 20:32] nickdesaulniers commented on #675
cc @aik

[2021-12-28 20:33] nickdesaulniers commented on #1417
@aik [sent a patch for this](https://lore.kernel.org/llvm/20211221055904.555763-6-aik@ozlabs.ru/). @mpe [accepted it into powerpc/next](https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?h=next&id=d51f86cfd8e378d4907958db77da3074f6dce3ba).

[2021-12-28 20:39] nickdesaulniers opened #1560 "missing support for tlbiel with 2 args"
@gwelymernans [had a patch](https://reviews.llvm.org/D92156), but @aik [worked around it](https://lore.kernel.org/llvm/20211221055904.555763-7-aik@ozlabs.ru/) which was [accepted](https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?h=next&id=62479e6e26ef18f00e2e540c0e30156254533a43) by @mpe.

[2021-12-28 20:43] nickdesaulniers commented on #1554
@emojifreak right, you're running the script on a .o file which actually is LLVM bitcode (should be a .bc file). Since it's not an ELF object, an ELF parser will fail to find the ELF magic number at the expected location of an ELF object header.  That's why I suggested running it on vmlinux, which will take longer, but is a fully linked ELF object.

[2021-12-28 21:28] #1502 closed, assigned to nickdesaulniers

[2021-12-28 22:04] nickdesaulniers commented on #1318
@aik [sent this patch](https://lore.kernel.org/llvm/20211221055904.555763-2-aik@ozlabs.ru/) from Alan Modra that addresses this. @mpe [accepted it into powerpc/next](https://git.kernel.org/pub/scm/linux/kernel/git/powerpc/linux.git/commit/?h=next&id=a3ad84da076009c94969fa97f604257667e2980f).

[2021-12-29 05:09] emojifreak commented on #1554
Thanks. The configuration causes this warning fails before making `vmlinux` and I don't have `vmlinux`, so I will seek a configuration building `vmlinux` with this warning... I will report it when I get a useful additional info.

[2021-12-29 11:18] emojifreak commented on #1556
You are absolutely right. With `DEBUG_INFO=n`, the size of `vmlinux.o` becomes 1/5, and this symptom disappears.

[2021-12-29 11:20] emojifreak commented on #1559
The title and the original report were a bit incorrect. The same phenomenon appears with `x86`.

[2021-12-29 18:33] nickdesaulniers commented on #1554
Does `./scripts/config -d WERROR` allow you to complete the build?

[2021-12-29 20:04] nathanchance commented on #1551
v2: https://lore.kernel.org/r/20211222104939.1154570-1-ardb@kernel.org/

[2021-12-31 03:43] emojifreak commented on #1554
No, so far. Because I can observe this symptom only with #1550. I need to reproduce this without seeing #1550 so that I can have `vmlinux`...

[2021-12-31 22:04] nathanchance commented on #1497
I have pinged the acceptance email asking for a status update, as this is breaking multiple x86_64 configurations and it has been reported on LLVM's issue tracker: https://github.com/llvm/llvm-project/issues/52924

[2022-01-02 06:46] samzeter commented on #1364
Hi all. I wanted to give this  a go as it seems to be an easy intro. However, I can't seem to reproduce the problem described. Using podman Centos8 Stream
`Linux 8d0607458ef9 5.13.0-22-generic #22-Ubuntu SMP Fri Nov 5 13:21:36 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
and issuing the commands given:
[code]

I do see warnings generated during the build, but not that one. In fact the only similar tes

[2022-01-02 08:21] telans commented on #1364
Ditto. `arch/x86/tools/insn_sanity: Success: decoded and checked 1000000 random instructions with 0 errors (seed:0xbe907b17)`

[2022-01-02 14:05] nathanchance commented on #1364
You will need to apply [this patch](https://git.kernel.org/nathan/c/2f137c324b21f1c21b8830d8896cb9957009f969) to see the problem, as the test is not running right due to the `objdump` check.

[2022-01-02 14:08] nathanchance commented on #1364
Also, the `insn_sanity` test is fine as far as I can tell, it is the `insn_decoder_test` that has the problem.

[2022-01-03 06:04] samzeter commented on #1364
Ah yeah, makes sense. I've managed to replicate the bug now

[2022-01-03 19:13] nathanchance opened #1561 "AOSP LLVM r437112 is missing d7e089f2d6a5cd5f283a90ab29241d20d4fc3ed1"
Initially reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4682178291?check_suite_focus=true

[code]

This was resolved by https://github.com/llvm/llvm-project/commit/d7e089f2d6a5cd5f283a90ab29241d20d4fc3ed1 (https://github.com/ClangBuiltLinux/linux/issues/1485) but that commit is not in AOSP LLVM, which appears to be based on https://github.com/llvm/llvm-project/com

[2022-01-04 19:50] stephenhines commented on #1561
There are a few things here that should probably be handled/tracked separately.

- [ ] The versioning problem is somewhat expected. We use upstream TOT LLVM for our updates, and they bump the version number before the official release happens (usually it gets bumped right after the old release goes out). Thus Android LLVM 14.0.0 is really from before the 14.0.0 release from LLVM itself. I think if

[2022-01-04 20:12] nathanchance commented on #1561
Yes, this is indeed expected and I am not really sure that there is a point to working around this deficiency, as I don't think there is a clean way to do this (do we downgrade AOSP's version to the last stable release?). Nick might have a different opinion on that though. We test AOSP LLVM builds against the upstream kernel in our CI to shake out issues like this so that when you guys do upgrades

[2022-01-04 21:08] nickdesaulniers commented on #1561
Yes.

If possible, that would be preferred.

[2022-01-04 21:14] nathanchance commented on #563
I noticed that Ard's commit [e754a2be51e5](https://git.kernel.org/ardb/c/e754a2be51e5330e138271067808681b4a13ade2) ("lib/xor: make xor prototypes more friendely to compiler vectorization"), which aims to resolve https://github.com/ClangBuiltLinux/linux/issues/503. fixes this issue as well.

It does need a fixup to [build properly](https://lore.kernel.org/r/202112310646.kuh2pXiG-lkp@intel.com/):

[

[2022-01-04 21:48] stephenhines commented on #1561
Adding in @chih-hung as well.

[2022-01-04 23:20] nickdesaulniers commented on #1561
@chih-hung has https://android-review.googlesource.com/c/toolchain/llvm_android/+/1933984. Might we need a few more patches though here?
2caf85ad7ab83c441cb8e3550916d7028dfb8525
a19da876ab93d54ebc20aadd12820f74220d2f50
24772720c54500714e2d48b9109bb62d5867ad95
89453ed6f2059b5cec576fc41914def713fe38f7
9f95bc7dc18390199553cf2ea3bfcdc6a95717ef
73ee4e1cbd643028d63200f05199a128609aba5f
cd284b7ac0615afc6

[2022-01-05 00:05] nathanchance opened #1562 "relocation R_ARM_LDR_PC_G2 out of range"
Initially reported by CI: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4703273559?check_suite_focus=true

[code]

I do see these same errors with GCC 11.2.0 and binutils 2.37 so it does not seem like this is necessarily LLVM specific:

[code]

Perhaps we should just stop testing `allyesconfig` altogether?

cc @ardbiesheuvel

[2022-01-05 02:19] nickdesaulniers commented on #1561
I just built AOSP LLVM with https://android-review.googlesource.com/c/toolchain/llvm_android/+/1933984 then built mainline. Looks like that one patch is enough.

[2022-01-05 02:43] nathanchance commented on #1539
Patch accepted: https://git.kernel.org/cxl/cxl/c/be185c2988b48db65348d94168c793bdbc8d23c3

[2022-01-05 17:04] nathanchance opened #1563 "net/core/skbuff.o: unreachable instruction"
In `x86_64_defconfig` with tip of tree LLVM:

[code]

This was exposed by https://github.com/llvm/llvm-project/commit/a8c2ba105d47fd9e085ee6f2154005de9888609b (not sure I would say "caused by", given it is just flipping a switch).

[code]

`cvise` spits out:

[code]

I do see a warning without optimizations as well, which I suppose is expected?

[code]

An LLVM IR reproducer:

[code]

[2022-01-05 17:43] nickdesaulniers commented on #1563
I expect having functions unconditionally call `__builtin_unreachable` is going to be a problem.  Perhaps the test case was over-reduced? Or are these functions actually calling `__builtin_unreachable` unconditionally?

[2022-01-05 17:48] nathanchance commented on #1563
`skb_panic()` calls `BUG()`, which is defined in `arch/x86/include/asm/bug.h` as

[code]

and `unreachable` is defined in `include/linux/compiler.h` as

[code]

so I don't think the test case was overreduced.

[2022-01-05 18:31] nathanchance commented on #1523
Merged into `release/13.x`: https://github.com/llvm/llvm-project/commit/0d44201451f03ba907cdb268ddddfc3fa38a0ebd

[2022-01-05 18:31] #1523 closed, assigned to nobody

[2022-01-06 02:41] samzeter commented on #1364
I have a patch series for this up now
https://lkml.org/lkml/2022/1/5/1115

[2022-01-06 02:49] nathanchance commented on #1364
Thanks a lot for that series! I will test and review it first thing tomorrow morning.

Please consider using lore.kernel.org links in the future, as those are more likely to remain constant, in case we ever need to refer to whatever discussion comes about from that series:

https://github.com/ClangBuiltLinux/linux/wiki/Adding-links-to-issues#linux-mailing-list-posts

Your series as a lore link is

[2022-01-06 04:29] samzeter commented on #1364
Ok, thanks.
Sam.

On Thu, 6 Jan 2022 at 13:49, Nathan Chancellor ***@***.***>
wrote:

[2022-01-06 20:52] ardbiesheuvel commented on #1562
...

These group relocations have a combined range of -/+ 256 MiB, and so these errors mean that the kernel image is exceeding that. I don't think such a kernel will ever run, so in that sense, allyesconfig is of dubious value.

However, for build testing purposes, it does make sense to retain it, so perhaps we should avoid these group relocations when CONFIG_COMPILE_TEST=y ?

[2022-01-06 21:01] nathanchance commented on #1562
Yes, I think that would work fine. I have always had the opinion that if you are going to build a monolithic kernel rather than a modular one, you should only build what you need, which would not result in a kernel as large as that.

[2022-01-07 18:33] nathanchance opened #1564 "-Wpointer-bool-conversion in drivers/clk/visconti/pll.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220107183303.2337676-1-nathan@kernel.org/

[2022-01-07 18:41] nathanchance opened #1565 "-Wsometimes-uninitialized in drivers/vdpa/mlx5/net/mlx5_vnet.c"
[code]

Reported upstream: https://lore.kernel.org/r/YdiABvwrK3WxfHqb@archlinux-ax161/

[2022-01-07 22:20] #1439 closed, assigned to nickdesaulniers

[2022-01-07 23:17] nathanchance commented on #1445
Should be fixed with https://github.com/llvm/llvm-project/commit/3a604fdbcd5fd9ca41f6659692bb4ad2151c3cf4.

[2022-01-07 23:17] #1445 closed, assigned to nobody

[2022-01-08 18:01] nathanchance commented on #1564
Patch accepted: https://git.kernel.org/clk/c/4e31bfa37662f72e8e7e3ae46eb5f845a5854229

[2022-01-08 18:02] nathanchance commented on #1565
Tom Rix sent https://lore.kernel.org/r/20220107211352.3940570-1-trix@redhat.com/, which fixes the warning but does not address the memory leaks I noticed.

[2022-01-08 23:38] nathanchance commented on #1497
The second patch has been merged into mainline: https://git.kernel.org/linus/644106cdb89844be2496b21175b7c0c2e0fab381

However, [Linus is unhappy](https://lore.kernel.org/r/CAHk-=wh55h__rC6+RTH7pLLTbnBuuOXPNzGGswVDGN7C6NW1pQ@mail.gmail.com/) with `clang`'s diagnostic in the case of a floating point literal being used only in integer contexts and recommends that `clang` should try and match GCC for

[2022-01-09 15:50] phoebewang commented on #1497
Thanks @nathanchance for the information.
This is not about error on FP literals when FP is disabled, but error on long double literals when x87 is disabled (and used in macro?). The float/double literals aren't affected https://godbolt.org/z/xYKfTbTTq
Though it's still defective, in practicality, I'd think changing to double literals should solve the problem in most cases.
It should be rare to sp

[2022-01-09 16:13] erichkeane commented on #1497
I don't know if there is much we can do.  GCC does constant folding and conversions before some diagnostics, clang does not.  Clang is doing a strict 'correctness' check.

We typically don't want to do what GCC does, as it leads to 'quality of constant folder' issues for diagnostics: that is, a minor regression (or an increase in the depth required for constant folding) will cause errors in a surp

[2022-01-10 14:04] ardbiesheuvel commented on #1562
Note that these changes have been dropped from the ARM for-next tree, and have now disappeared from -next as well.

They will be resubmitted for the next cycle after the merge window closes, and I have now incorporated a COMPILE_TEST check that should prevent this issue from occurring.

https://git.kernel.org/pub/scm/linux/kernel/git/ardb/linux.git/log/?h=arm-vmap-stacks-for-v5.18

[2022-01-10 15:10] nathanchance commented on #1557
Patch has been accepted:

https://git.linuxtv.org/media_stage.git/commit/?id=a89eeb9937a0124e609e9355cd48cdfe35c8b8b7

Link might not be stable but Mauro said it would go in at some point during the 5.17-rc cycle:

https://lore.kernel.org/r/20220110160739.735f1b49@coco.lan/

[2022-01-10 15:12] nathanchance commented on #1562
I'll close this up then, thanks!

[2022-01-10 15:12] #1562 closed, assigned to nobody

[2022-01-10 20:47] nickdesaulniers commented on #1445
dupe of #1439.

[2022-01-10 21:03] nickdesaulniers commented on #1497
Ah, sorry. I have my watch setting for this repo set to "All activity" but I still did not receive a notification of it; looks like I did get an email about it though...huh.

Perhaps this diagnostic should use the [`DeferredDiagnosticsEmitter`](https://github.com/llvm/llvm-project/blob/c9f83a8af9dc6d4bd3e864ad5a8df1f441a4b6ef/clang/lib/Sema/Sema.cpp#L1575-L1602) infra, then?

[2022-01-10 21:12] erichkeane commented on #1497
I don't see how the deferred diagnostics emitter would help.  That is very simply to deal with functions/etc that aren't actually part of the application for the purposes of device compilation (where the 'host' code is simply ignored).

ETA: If this wasn't "C", I'd say "Use the constexpr engine for this", since that perfectly solves the problem.  But I don't think we have the equivalent of constex

[2022-01-10 21:26] nickdesaulniers commented on #1497
For some of the cases described by Linus, clang never emits any floating type to LLVM IR; they're constant folded in clang.  Why error on a type that LLVM never even sees?

[2022-01-10 21:47] erichkeane commented on #1497
In many cases I believe those get folded by the IRBuilder itself during clang-codegen (or, I believe SOMETIMES we do some work in clang-codegen to do other constant folding, but that is after diagnostics).  My understanding of the direction of 'Clang' is that the 'quality' of things like constant-folding shouldn't affect the legality of a program.

Deferred Diagnostics are about deciding entire fu

[2022-01-11 00:02] nathanchance commented on #1473
Merged into mainline: https://git.kernel.org/linus/2e70570656adfe1c5d9a29940faa348d5f132199

I will send all the `-Wbitwise-instead-of-logical` fixes to stable tomorrow as part of a series to allow building `ARCH=arm64` and `ARCH=x86_64` allmodconfig with `clang`.

[2022-01-11 00:02] #1473 closed, assigned to nathanchance

[2022-01-11 00:04] nathanchance commented on #1497
The `drivers/power/reset/ltc2952-poweroff.c` change is currently in the latest stable release candidates, which should be released in a few days, and the `drivers/usb/dwc2/hcd_queue.c` is already present, so this is fixed as far as stable is concerned as well.

[2022-01-11 17:00] nathanchance commented on #1565
Fixed: https://git.kernel.org/next/linux-next/c/c5a5cd3d3217c28ee369861f299275127845e017

[2022-01-11 17:00] #1565 closed, assigned to nobody

[2022-01-11 17:01] nathanchance commented on #1564
Fixed: https://git.kernel.org/next/linux-next/c/4e31bfa37662f72e8e7e3ae46eb5f845a5854229

[2022-01-11 17:01] #1564 closed, assigned to nobody

[2022-01-11 17:39] nathanchance commented on #1561
https://android.googlesource.com/toolchain/llvm_android/+/563b6d01b304f17cdfa2c38a1b7add4a3b05b54a

https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+/81474db580d1be88de16fecf706dc1b5e74553f3

https://gitlab.com/Linaro/tuxmake/-/merge_requests/227

https://github.com/ClangBuiltLinux/continuous-integration2/pull/274

[2022-01-11 17:39] #1561 closed, assigned to nobody

[2022-01-11 17:40] nathanchance commented on #1558
Fixed: https://git.kernel.org/next/linux-next/c/5d9224fb076e9a2023e0b06d6a164d644612c0c0

[2022-01-11 17:40] #1558 closed, assigned to nobody

[2022-01-11 17:41] nathanchance commented on #1557
My patch is in -next but it has regressed into mainline.

[2022-01-11 18:30] #1512 closed, assigned to nickdesaulniers

[2022-01-12 03:06] nickdesaulniers opened #1566 "issue with volatile?"
Boris [cc'ed](https://lore.kernel.org/llvm/YdM5Kh1NOKEwDwAP@zn.tnic/) us on an x86 change (now in mainline as dcce50e6cc4d86a63dc0a9a6ee7d4f948ccd53a1) from @jpoimboe. The commit message sounds ominous about `volatile` qualified `asm`.

It mentions CONFIG_TRACE_BRANCH_PROFILING.  If I revert dcce50e6cc4d86a63dc0a9a6ee7d4f948ccd53a1 though, defconfig+CONFIG_TRACE_BRANCH_PROFILING=y isn't enough to

[2022-01-12 17:18] nathanchance commented on #1566
I'll see if I can reduce the set of Kconfig changes on top of `defconfig` with `config-bisect.pl`.

[2022-01-12 17:47] nathanchance commented on #1566
[code]

[2022-01-12 18:15] nathanchance commented on #1566
When run through `cvise`:

[code]

[2022-01-12 19:51] nathanchance commented on #1557
Merged into mainline: https://git.kernel.org/linus/a89eeb9937a0124e609e9355cd48cdfe35c8b8b7

[2022-01-12 19:51] #1557 closed, assigned to nathanchance

[2022-01-13 01:38] nickdesaulniers commented on #1566
The disassembly is literally the same between `-march=nocona` (and not) for `.text`. For `.discard.reachable`, it looks like the relocation differs.

[code]
Note: gcc generates the former, not the latter.

Dumping the LLVM IR from either, then running that through `llc -O2`, I can see the generated assembler moves `xorl` above the second asm block for the `nocona` case. Adding `-print-after-all` t

[2022-01-13 22:40] nathanchance commented on #1535
Merged into mainline: https://git.kernel.org/linus/144779edf598e0896302c35a0926ef0b68f17c4b

[2022-01-13 22:40] #1535 closed, assigned to nathanchance

[2022-01-14 01:08] nickdesaulniers commented on #1566
sent: https://lore.kernel.org/llvm/20220114010526.1776605-1-ndesaulniers@google.com/

[2022-01-14 03:08] nickdesaulniers commented on #1566
thinking about this more, this isn't the only place where the kernel relies on the inline asm having a label refer to C statements following the inline asm. Pretty sure the exception fixup stuff works this way, too. Hmm.

EDIT: at least that uses asm goto to actually inform the compiler about possible control flow.  Here we have a label in inline asm hoping to refer to C code after it, but compile

[2022-01-14 16:45] nathanchance commented on #672
Merged into mainline: https://git.kernel.org/linus/f5140cab448e4819ca6f158cb4130352f73c92e4

[2022-01-14 16:45] #672 closed

[2022-01-14 16:46] nathanchance commented on #1318
Merged into mainline: https://git.kernel.org/linus/a3ad84da076009c94969fa97f604257667e2980f

[2022-01-14 16:46] #1318 closed, assigned to aik

[2022-01-14 16:47] nathanchance commented on #1416
Merged into mainline: https://git.kernel.org/linus/d72c4a36d7ab560127885473a310ece28988b604

[2022-01-14 16:47] #1416 closed, assigned to aik

[2022-01-14 16:48] nathanchance commented on #1417
Merged into mainline: https://git.kernel.org/linus/d51f86cfd8e378d4907958db77da3074f6dce3ba

[2022-01-14 16:48] #1417 closed, assigned to aik

[2022-01-14 16:49] nathanchance commented on #1560
Merged into mainline: https://git.kernel.org/linus/62479e6e26ef18f00e2e540c0e30156254533a43

[2022-01-14 16:49] #1560 closed, assigned to aik

[2022-01-14 16:52] nathanchance commented on #1539
Merged into mainline: https://git.kernel.org/linus/be185c2988b48db65348d94168c793bdbc8d23c3

[2022-01-14 16:52] #1539 closed, assigned to nathanchance

[2022-01-14 16:53] nathanchance commented on #1529
Merged into mainline: https://git.kernel.org/linus/13ceb48bc19c563e05f407e663aaa4105fdfd408

[2022-01-14 16:53] #1529 closed, assigned to nathanchance

[2022-01-14 16:54] nathanchance commented on #1526
Merged into mainline: https://git.kernel.org/linus/f2c6c22fa83ab2577619009057b3ebcb5305bb03

[2022-01-14 16:54] #1526 closed, assigned to nathanchance

[2022-01-14 16:55] nathanchance commented on #1543
Merged into mainline: https://git.kernel.org/linus/048cc2378c2494519d940597629465b3ea44a96f

[2022-01-14 16:55] #1543 closed, assigned to nobody

[2022-01-14 19:59] nickdesaulniers commented on #1483
Easily observable with defconfig + CONFIG_MATOM=y.

I thought this might be related to #1566, but the patch I have for that doesn't change anything here AFAICT.

A reduction produced:
[code]
[code]
[code]

Not sure about that though. That must have been over-reduced because `asm(".byte 15, 0x0b");` is adding the trapping `ud2` which makes the `retq` at `__register_chrdev()+0x8` unreachable.

[2022-01-14 20:09] nickdesaulniers commented on #1483
Hmm...extracting the function in IR, I do see `.section        .discard.reachable,"",@progbits`, so maybe it is related.

[2022-01-14 22:11] nickdesaulniers commented on #1483
[code]
is enough to eliminate all of these but one.  (As does deleting `HAVE_ARCH_BUG`, `BUG`, and `__WARN_FLAGS` from that same file). I suspect that the `annotate_reachable()`/`annotate_unreachable()`/`instrumentation_begin()`/`instrumentation_end()` stuff is subtly broken.  It assumes that instructions can't be reordered across an asm statement, and thus that a label created in inline asm will

[2022-01-14 23:50] nickdesaulniers commented on #1483
Which is #1563. Heh, I'm getting a sinking feeling that #1566, #1563, and #1483 are all interrelated.

[2022-01-15 20:08] nathanchance opened #1567 "CFI failure in `blake2s_update()`"
Initially reported by CI on `android-mainline`: https://github.com/ClangBuiltLinux/continuous-integration2/runs/4824153007?check_suite_focus=true

[code]

This happens after commit [9f9eff85a008](https://git.kernel.org/linus/9f9eff85a008b095eafc5f4ecbaf5aca689271c1) ("random: use BLAKE2s instead of SHA1 in extraction") (and I assume its prerequisite, commit [6048fdcc5f26](https://git.kernel.org/li

[2022-01-15 23:14] nathanchance commented on #1480
This is [likely going to come back](https://reviews.llvm.org/D105169#3246378) so I am preemptively reopening this.

On Monday, I will try to distill down [some of the warnings I see](https://reviews.llvm.org/D105169#3244624) and start a thread with Josh and Peter upstream to see if there is any way to minimize the impact of this change in `objtool`.

[2022-01-18 16:08] samitolvanen commented on #1567
LLVM has some known issues with weak aliases and CFI, which we have in the past worked around by changing the code to use a weak function instead.

[2022-01-18 19:04] nathanchance commented on #1567
Something like this appears to work for me. This is more consistent with the rest of the kernel, I do not see any other uses of `__weak __alias(...)`.

[code]

[2022-01-19 00:30] nathanchance commented on #1559
Thinking more about this, I am not really sure there is much of a bug here. The difference between `-O2` and `-Os` according to [GCC's documentation](https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html):

[code]

which is not much. Let's take LTO out of the equation entirely and see what kind of difference the optimization level makes with just a plain `allyesconfig` build. Writing and runnin

[2022-01-19 02:22] nathanchance commented on #1567
Pending patch: https://git.kernel.org/nathan/c/9fc1d6db9fa21034b927fdd5d16f1c887fdad2a6

@samitolvanen Do you have any reference to the issues with weak aliases and CFI? I see #538 (and its upstream report https://github.com/llvm/llvm-project/issues/41887) but that was with Thin LTO and it seems like https://github.com/llvm/llvm-project/commit/ea314fd476166405905103a29dd8578ff6589160 was the fix f

[2022-01-19 05:50] 2themaxx opened #1568 "make tinyconfig and turning on LTO (HAS_LTO_CLANG depends appears to have bug)"
I'm somewhat new to kernel development, compiling the kernel, etc. however I have done some basic things. I'm trying to find the minimum requirements to compile a tinyconfig with clang and LTO turned on to benchmark the potentially smallest linux kernel we can get. The platform is x86 (Ubuntu 18.04, X86-64), I'm running Clang-12 (installed from automation script on llvm website, softlinks manually

[2022-01-19 14:23] zx2c4 commented on #1567
Alternative approach: https://lore.kernel.org/linux-crypto/20220119135450.564115-1-Jason@zx2c4.com/

Seems like we'd be much better off just fixing Clang's broken CFI though?

[2022-01-19 21:04] nathanchance commented on #1568
The `&& n && y` in the `Depends on` correspond to:

[code]

in the `HAS_LTO_CLANG` entry in `init/Kconfig`.

What errors were those? It is likely that your softlinks are messed up.

The apt.llvm.org Debian packages install to `/usr/lib/llvm-#`, so you can add that path to your make invocation like:

[code]

to avoid having to muck around with symlinks and such.

[2022-01-20 00:07] 2themaxx commented on #1568
Sorry, I thought I'd written about this and closed the issue.  Yes, it was the llvm-nm softlink. I'm running Ubuntu 18.04

[2022-01-20 00:07] #1568 closed, assigned to nobody

[2022-01-20 20:57] nathanchance commented on #1511
Merged into mainline: https://git.kernel.org/linus/fd6f57bfda7c36f2d465cee39d5d8c623db5d7aa

[2022-01-20 20:57] #1511 closed, assigned to nathanchance

[2022-01-20 20:57] nathanchance commented on #1518
Merged into mainline: https://git.kernel.org/linus/bbd2e05fad3e692ff2495895975bd0fce02bdbae

[2022-01-20 20:57] #1518 closed, assigned to nathanchance

[2022-01-21 04:17] emojifreak commented on #1559
Thank you very much for your investigation. Let us close this issue.

[2022-01-21 04:17] #1559 closed, assigned to nobody

[2022-01-21 15:30] FCLC commented on #1215
It seems that there is progress on this issue from the LLVM side. Great to see!

In the meantime for those experimenting with CLANG LTO kernels in dev/profiling environments, it's worth mentioning that disabling the XFS file system will allow you to build as normal as a *temporary* workaround, assuming you don't need XFS.

I was able to build against 5.16.2 with 13.0.1-+rc1-1~exp4 and additional K

[2022-01-21 20:39] samitolvanen commented on #1567
I agree, but I suspect that might take a while. Is this issue trivially reproducible in a stand-alone program? If so, Nathan, would you mind filing a bug with upstream LLVM?

[2022-01-21 20:40] zx2c4 commented on #1567
If you'd like to have an impact on this, please reply to my email on LKML:

https://lore.kernel.org/lkml/CAHmME9ow7TxCaYYayRn9rdJJSdQ48tWQgdrW00g7mHaWvVJ+Zw@mail.gmail.com/

[2022-01-21 20:49] nathanchance commented on #1567
I tried extracting the problematic functions and creating a small reproducer on Wednesday morning but I did not have any luck (there was no CFI failure). I am working through other things in my backlog today, I will try and double back around to this on Monday.

[2022-01-21 21:39] zx2c4 commented on #1567
Dunno how to reproduce standalone either, but here's a place to start:

alias.c

[code]

call.c:

[code]

main.c

[code]

[2022-01-23 02:16] nathanchance opened #1569 "Move -Wunaligned-access to W=1"
A new clang warning was introduced in https://github.com/llvm/llvm-project/commit/35737df4dcd28534bd3090157c224c19b501278a  and [the Linaro TCWG CI reported](https://lore.kernel.org/r/1454838115.14607.1642854713913@jenkins.jenkins/) that it breaks `ARCH=arm allmodconfig` due to `-Werror`:

[code]

I disabled `CONFIG_WERROR` and built `ARCH=arm allmodconfig`, which reveals this warning triggers a l

[2022-01-23 09:39] arndb commented on #1569
Thanks for letting me know about it in advance. I suppose this may be worth fixing globally as it is less common than the -Wunaligned-access warning but equally likely to cause actual problems. The architectures that would be hit by this appear to all work around unaligned accesses using exception fixup handlers, which make any code path that hits it really slow, and having a way for the compiler

[2022-01-24 18:49] nickdesaulniers commented on #1569
Should we defer this to W=1 builds for now?

[2022-01-24 20:00] nickdesaulniers commented on #1567
[kernel v2 patch](https://lore.kernel.org/llvm/20220124192849.14755-1-Jason@zx2c4.com/)

[2022-01-24 20:48] nickdesaulniers opened #1570 "selected processor does not support XXX in ARM mode"
kernelci is [doing builds](https://storage.kernelci.org/android/android12-5.10/asb-2022-01-05_12-5.10-22-ga32e89883a53/arm/rpc_defconfig/clang-14/logs/kernel.log) of `ARCH=arm rpc_defconfig` which is triggering a flood of assembler errors like:
[code]

[2022-01-24 21:03] nickdesaulniers commented on #1302
note that `-fsanitize=object-size` was removed in
commit 69d0db01e210 ("ubsan: remove CONFIG_UBSAN_OBJECT_SIZE")
so after that https://reviews.llvm.org/D111456 might be less pressing.

[2022-01-24 21:07] nickdesaulniers commented on #1570
note: that's a build of android12-5.10, so might have been fixed already upstream.

[2022-01-24 22:23] zx2c4 commented on #1567
@nathanchance Any luck making a minimal non-kernel reproducer for this? Once my patch goes upstream, it may sometime after becoming annoying to revert, or hard to remember where to revert to, making this bug harder to fix properly eventually in llvm. So I'd recommend we get that worked out sooner rather than later.

I futzed a bit with the code in https://github.com/ClangBuiltLinux/linux/issues/15

[2022-01-25 00:33] nathanchance commented on #1567
I have not been able to come up with anything yet. I tried taking the kernel code almost verbatim (minus the actual content of functions) and that did not work.

I did notice that with Jason's example, there is no symbol for the weak alias in the symbol table but there is with the kernel:

[code]

I'll have to see if I can get the reproducer to have that same behavior, as that will likely trigger

[2022-01-25 00:54] nathanchance commented on #1569
The comments in `scripts/Makefile.extrawarn`:

[code]

We probably want this in `W=2` for now, given how noisy it is in an `ARCH=arm allmodconfig` build.

However, I don't think we want to do the traditional `-Wno-unaligned-access` in the `W=1` and no `W=1` block then `-Wunaligned-access` in the `W2` block because this warning is only enabled under certain circumstances within the frontend (see al

[2022-01-25 01:30] zx2c4 commented on #1567
I wonder if this is related somehow. If the functions are too small or only called from one place, shouldn't LTO in theory attempt to inline it? On the other hand, I'd expect the presence of an indirect call to prevent the inlining?

[2022-01-25 02:23] nathanchance commented on #1567
It likely is.

We do limit the amount of inlining that happens across translation units with LTO in the main `Makefile`: https://git.kernel.org/linus/22d429e75f24d114d99223389d6ba7047e952e32

Unfortunately, removing that does nothing.

I will see if I can just extract all parts of the call chain tomorrow.

[2022-01-25 04:20] kees commented on #1179
I have, uh, solved this, I guess? :)

[2022-01-25 04:20] #1179 closed

[2022-01-25 04:27] kees opened #1571 "Report inlining location when using __attribute__((__warning__(msg)))"
When `__warning__(msg)` reports from usage within an inline, there's no information about where the inline was used. For example:

gcc says `inlined from 'main' at /app/example.c`

[code]

Clang doesn't include that hint:
[code]

https://godbolt.org/z/W9PjxsE6z

Which makes FORTIFY_SOURCE warnings much harder to find. :)

[code]

[2022-01-25 18:12] nickdesaulniers commented on #1179
commit c80d92fbb67b ("compiler_types.h: Remove __compiletime_object_size()")

v5.16-rc1

[2022-01-25 18:17] nickdesaulniers commented on #1497
@gctucker is [reporting](https://github.com/kernelci/kernelci-core/pull/990#issuecomment-1021021122) that some of the 5.4 builds are failing; looks like we need to send backports to stable.

[2022-01-25 18:27] nathanchance commented on #1497
Both patches are in 5.4 (and every other supported stable release). They need to be merged into `android11-5.4` either via a stable merge or cherry-picked if a merge is not possible because it is a release branch.

https://git.kernel.org/stable/c/9ad421aedc55b4ca062ebc1e62e6518ca8117550
https://git.kernel.org/stable/c/72eb522ae6f1909b84e4323ec7bd6d24d41a8362

[2022-01-25 20:51] nathanchance commented on #1567
I took a whack at trying to get all pieces of the call chain into a standalone reproducer but I got lost trying to detangle `drivers/char/random.c`. I tried playing around with the simpler reproducer but could not get it to reproduce the same issue. This issue likely only shows up with multiple translation units and certain function sizes that affects inlining.

For what it's worth, if maintainabi

[2022-01-25 20:54] zx2c4 commented on #1567
But it introduces an additional jump in the non LTO case, I think. So I'll move ahead with my patch, and hopefully "5.17-rc1" is a good enough bookmark for this whenever the LTO people want to try to fix it.

[2022-01-26 00:14] nathanchance commented on #1570
https://git.kernel.org/linus/c84ddcf62b5e4c0a9dd923cb4eb361cb209945ee solves that particular error if I apply it to `linux-5.4.y` but then I see:

[code]

I see those on mainline and it seems that this also happens with GCC, according to a recent KernelCI report of -next: https://lore.kernel.org/r/61ee150d.1c69fb81.19be5.1e9d@mx.google.com/

perhaps this configuration just should not be tested wit

[2022-01-26 00:16] nathanchance commented on #1508
This was an announcement, closing.

[2022-01-26 00:16] #1508 closed, assigned to nobody

[2022-01-26 00:54] nickdesaulniers commented on #1566
filed https://gcc.gnu.org/bugzilla/show_bug.cgi?id=104236 for `%=` in gcc

[2022-01-26 01:27] apinski-cavium commented on #1566
There is no GCC bug here, rather Linux inline-asm is again broken even by the documentation which has not changed in years.

[2022-01-26 02:15] nickdesaulniers commented on #1570
is c84ddcf62b5e4c0a9dd923cb4eb361cb209945ee a downstream sha?

cc @gctucker

[2022-01-26 03:23] nathanchance commented on #1570
Nope, not sure what it is...

https://git.kernel.org/linus/2abd6e34fcf3bd9f9ffafcaa47cdc3ed443f9add is the correct link.

[2022-01-26 18:17] nickdesaulniers commented on #1290
I think @MaskRay improved LLVM's ability to seach/find a sysroot without needed to specify it? IIRC?

There's also https://lore.kernel.org/linux-kbuild/20220112224342.958358-1-quic_eberman@quicinc.com/.

[2022-01-26 19:11] FCLC opened #1572 "Clang built kernel with DKMS"
Hi ladies and gents;

I've been running kernel 5.16.2 built with Clang 13.0 for ~ a week now with no apparent issues until now.

uname -a: ```Linux 5.16.2 #3 SMP Thu Jan 20 21:54:13 EST 2022 x86_64 GNU/Linux ```

It seems issues with DKMS continue to rear their ugly head, this time with V4L2 loopback.

Specifically in the domain of
[code]

where the relevant line is the compiler mismatch.

It look

[2022-01-26 19:24] nathanchance commented on #1572
It looks like Nick's change was released in 3.0.2, what version of `dkms` is being used here?

[2022-01-26 19:34] FCLC commented on #1572
Using the latest from Debian SID, looks like they haven't pushed past dkms-2.8.7 as of yet. :thinking:

So for now might be to send a request for Debian experimental/upstream to consider 3.0.3, which is considered a stable release?

May also be worth the addition to the read me or something of the sort with how popular DKMS is these days

[2022-01-26 19:49] nickdesaulniers commented on #1572
Probably; another sharp edge is that dkms has a explicit PATH list it checks for clang; folks with clang binaries outside of those few paths will also get spooky bugs.

We can add something to our wiki easily enough. Or did you mean the DKMS readme?

[2022-01-26 20:12] FCLC commented on #1572
Oof, with the release having come after October I'd been hoping we were in the clear :sweat_smile:

Ideally those folks would also soft link to typical locations just in case?

Otherwise I don't see a world where we store explicit path to the original compiler used for the installed kernel in .config or another relevant file. ~~(Let alone store the actual binary itself)~~

The Clang built Linux re

[2022-01-26 20:21] nathanchance commented on #1480
https://github.com/llvm/llvm-project/commit/1b1c8d83d3567a60280291c0adb95d1d60335509

[2022-01-26 20:51] nickdesaulniers commented on #1480
`-Xclang -disable-noundef-analysis` might be able to get us back to the previous state, for now.

[2022-01-26 20:53] nickdesaulniers commented on #1572
That's what I do.

SGTM

[2022-01-26 21:11] nickdesaulniers commented on #1572
I wrote [this](https://github.com/ClangBuiltLinux/linux/wiki/DKMS-and-clang) up quickly. Please help revise. In particular, if you added the error messages you observed, that would be very helpful from an internet search perspective!

[2022-01-26 21:13] #1572 closed, assigned to nobody

[2022-01-26 21:57] FCLC commented on #1572
See https://github.com/ClangBuiltLinux/linux/wiki/Clang-Linux-kernels-and-DKMS.

Feel free to edit into whatever the current project wiki/format standards are!

[2022-01-26 22:34] nickdesaulniers commented on #1566
testing v2: https://gist.github.com/nickdesaulniers/d4ad556d2eec986698ab6313e3101c83 (on top of a revert of dcce50e6cc4d86a63dc0a9a6ee7d4f948ccd53a1)

[2022-01-27 21:39] nathanchance commented on #503
https://lore.kernel.org/r/20220127081227.2430-1-ardb@kernel.org/

[2022-01-27 21:39] nathanchance commented on #496
https://lore.kernel.org/r/20220127081227.2430-1-ardb@kernel.org/

[2022-01-27 21:40] nathanchance commented on #563
https://lore.kernel.org/r/20220127081227.2430-1-ardb@kernel.org/

[2022-01-28 01:23] nathanchance opened #1573 "which: no ...-gcc in (...) when cleaning"
Commit [cebdb7374577](https://git.kernel.org/linus/cebdb7374577ac6e14afb11311af8c2c44a259fa) ("tools: Help cross-building with clang") introduced an annoying warning when running `make clean` with `CROSS_COMPILE` set:

[code]

[2022-01-28 21:56] nickdesaulniers commented on #1483
FWIW: https://godbolt.org/z/cfsc4vdGK

I have [a patch](https://github.com/ClangBuiltLinux/linux/commit/473c4f04fa49864f6955062435d8bab02ff87862), but testing is tricky since there are so many related objtool warnings.

[2022-01-29 01:11] nathanchance commented on #1573
Reported upstream: https://lore.kernel.org/r/YfSUAPnZX%2FwP8U+p@archlinux-ax161/

[2022-01-29 08:20] isanbard commented on #20
GCC has a default implementation for zeroing out registers. It's easier for them to implement this feature, because of how they keep track of registers.

Anyway, I suppose we should emit an error in the case where we don't support the feature...

[2022-02-01 04:53] kees commented on #1401
Opened upstream: https://github.com/llvm/llvm-project/issues/53516

[2022-02-01 06:31] kees commented on #1401
If I use a reduced test case:

[code]

From the unoptimized IR via `clang test.c -O2 -Xclang -disable-llvm-passes -emit-llvm -S -o test.ir` I see it has already immediately replaced the first `bos` with a literal `7`, and left the inlined `bos` as-is:

[code]

Examining the optimization passes with `opt -O2 -print-after-all -S test.ir 2>&1`, I see first the inline has the store/load removed:

[cod

[2022-02-01 06:54] kees commented on #1401
In `clang/lib/CodeGen/CGBuiltin.cpp` for `CodeGenFunction::emitBuiltinObjectSize` I find this and start to worry:

[code]

Does this mean that the frontend is doing a `bos` pass before emitting IR, and that the frontend has a _different implementation_ of `bos` that supports mode 1?

[2022-02-01 07:02] kees commented on #1401
I can see that [objectsize](https://llvm.org/docs/LangRef.html#llvm-objectsize-intrinsic) lacks any scope arguments. And after finding commit 3e3bb95b6951c313dd5dd1c099184c309a3952e2 I have a sinking feeling we need to adjust the IR to include a "scope" parameter (i.e. to gain Type 1 and Type 3 support).

Using `pass_object_size` is not remotely sufficient, as things like inline `memcpy` wrappers

[2022-02-01 17:58] nathanchance commented on #1542
Fixed with https://github.com/llvm/llvm-project/commit/c935f6e0486c9a85b451791f95f9342ce7c9fd28 according to the upstream report.

[2022-02-01 17:58] #1542 closed, assigned to nobody

[2022-02-01 18:00] nathanchance commented on #1573
https://lore.kernel.org/r/20220201093119.1713207-1-jean-philippe@linaro.org/

[2022-02-01 22:14] nickdesaulniers commented on #1573
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/bpf/bpf.git/commit/?id=b7892f7d5cb2

[2022-02-01 23:23] nathanchance commented on #1569
Patch submitted: https://lore.kernel.org/r/20220201232229.2992968-1-nathan@kernel.org/

[2022-02-02 09:03] samzeter commented on #1341
I don't mind having a look at this again, but I'm having a hard time working out the build steps necessary to reproduce this issue. The original https://abf.openmandriva.org/build_lists/35417 is broken, and I'm not sure on which patches are needed on the Mandriva side to make this happen.

[2022-02-02 16:03] nathanchance commented on #1465
LLVM 13.0.1 is released, which ends the LLVM 13 release cycle:

https://github.com/llvm/llvm-project/releases/tag/llvmorg-13.0.1

Closing.

[2022-02-02 16:03] #1465 closed, assigned to nobody

[2022-02-02 16:08] nathanchance opened #1574 "LLVM 14 release cycle"
The `release/14.x` branch has been cut:

https://discourse.llvm.org/t/release-14-x-branch/59673

https://github.com/llvm/llvm-project/commits/release/14.x

If there are any patches that we need to get into LLVM 14, they need to requested via the [LLVM issue tracker](https://github.com/llvm/llvm-project/issues) by adding the "release:backport" label and adding it to the LLVM 14.0.0 release mileston

[2022-02-02 16:55] nathanchance opened #1575 "-Wsometimes-uninitialized in drivers/gpu/drm/stm/ltdc.c"
[code]

Reported upstream: https://lore.kernel.org/r/Yfq3XwozrxYaFhgD@dev-arch.archlinux-ax161/

[2022-02-02 20:58] nickdesaulniers commented on #1483
submitted: https://lore.kernel.org/lkml/20220202205557.2260694-1-ndesaulniers@google.com/

[2022-02-02 21:09] nickdesaulniers commented on #1574
SGTM

[2022-02-02 22:52] nathanchance opened #1576 "Enable -Wunaligned-access"
`-Wunaligned-access` is noisy for `ARCH=arm allmodconfig` so it is being moved to `W=1` builds:

https://github.com/ClangBuiltLinux/linux/issues/1569

https://gist.github.com/nathanchance/6682e6894f75790059ca698c29212c71

As the gist shows above, there are only 70 unique instances of this warning and many in the same file so it should be relatively straightforward to drive this number down to zero

[2022-02-02 23:07] nathanchance commented on #1569
v2: https://lore.kernel.org/r/20220202230515.2931333-1-nathan@kernel.org/

I made this issue about moving the warning to `W=1`, which will be closed once the above patch lands in mainline. I opened https://github.com/ClangBuiltLinux/linux/issues/1576, which will track turning it back on.

[2022-02-02 23:13] nathanchance commented on #1341
@samzeter You will need to apply OpenMadriva's `--icf=safe` patch to your LLVM build: https://raw.githubusercontent.com/OpenMandrivaAssociation/llvm/9242aee530e63358611629c222a1a971047dbb0a/lld-default-settings.patch

Then you should be able to use [their config](https://raw.githubusercontent.com/OpenMandrivaAssociation/kernel-release/81a938352b03c71b7d2d869b87ad5ca24ba8cab8/x86_64-desktop-gcc-omv

[2022-02-02 23:44] nickdesaulniers commented on #1566
I'm not ruling out the presence of compiler bugs, but there is no bug in `volatile` in clang as reported in https://github.com/ClangBuiltLinux/linux/commit/dcce50e6cc4d86a63dc0a9a6ee7d4f948ccd53a1 AFAICT.  @nathanchance [cites](https://lore.kernel.org/llvm/YeHx8qaHiJie3xdL@archlinux-ax161/) the relevant passage from [GCC's documentation](https://gcc.gnu.org/onlinedocs/gcc/Extended-Asm.html#Volatil

[2022-02-02 23:44] #1566 closed, assigned to nickdesaulniers

[2022-02-03 00:19] nickdesaulniers commented on #1563
I still see this even with https://lore.kernel.org/lkml/20220202205557.2260694-1-ndesaulniers@google.com/, so #1483 is a distinct issue.

In this case, we have 2 `BUG`s, with 2 `__builtin_unreachable`s. They get rotated to the end of the `MachineBasicBlock` by the `branch-folder` pass.

With the above patch applied, I get:
[code]
[code]
so objtool thinks that the `jmp` is unreachable. This object

[2022-02-03 00:20] nickdesaulniers commented on #1563
with that, the above disassembly now looks like
[code]
I'm surprised we still `call` rather than `jmp`. 🤷

[2022-02-03 00:27] nathanchance commented on #1563
That doesn't seem unreasonable.

I think this is https://github.com/llvm/llvm-project/issues/53118, which ultimately came from the patch that causes #1480.

[2022-02-03 00:47] nickdesaulniers opened #1577 "`make clean` doesn't remove .bc files"
just noticed this. Probably a simple fix.

[2022-02-03 00:51] nickdesaulniers commented on #1563
actually, I wonder if this could be a bug in LLVM's attributor.  It should be able to infer that a function that ends unconditionally with `__builtin_unreachable` is inherently `noreturn`.  This example does:
https://godbolt.org/z/nzzn5TT6r
But in the IR, for `@skb_over_panic`, it does not have the `noreturn` function attribute.

[2022-02-03 00:52] nathanchance commented on #1577
Looks like it should be added here: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Makefile?h=v5.17-rc2#n1840

I guess the reason it is not there now is due to the fact that `.bc` is not a valid single target for Kbuild? Maybe it should be added?

[2022-02-03 01:06] nickdesaulniers commented on #1563
PostOrderFunctionAttrsPass is what infers `noreturn` in the basic case.
`opt -passes=function-attrs /tmp/x.ll -S -o -`
If I use `llvm-extract` to rip out `@skb_over_panic` and run `function-attrs` on that, it's able to determine that `@skb_over_panic` is noreturn...I wonder why not when it's with the rest of the TU?

[2022-02-03 01:23] nickdesaulniers commented on #1563
EDIT: the below was likely over-reduced. Probably don't want to drop the __builtin_unreachable from skb_over_panic.

cvise says:
[code]
is enough to confuse `function-attrs`

[2022-02-03 01:34] nathanchance commented on #1563
The fact that both my initial reproducer and yours have `__builtin_expect()` (which the kernel uses as `likely` and `unlikely`) is interesting... Removing the `unlikely` from `skb_put()` and `skb_push()` hides the warning:

[code]

[2022-02-03 01:46] nickdesaulniers commented on #1563
oh, I wonder if all call sites gets attributed as cold, and thus the callee is not optimized.

[2022-02-03 01:54] nickdesaulniers commented on #1563
[code]
via
[code]

[2022-02-03 02:06] nickdesaulniers commented on #1563
@jdoerfert pointed to this [TODO](https://github.com/llvm/llvm-project/blob/19aa2db023c0128913da223d4fb02c474541ee22/llvm/lib/Transforms/IPO/FunctionAttrs.cpp#L1626).

[2022-02-03 02:10] jdoerfert commented on #1563
FWIW, here is the [minimal reproducer](https://godbolt.org/z/fosKGnP8P). My guess is that the issue originates with the inliner not cleaning up the resulting IR. So the rest of the code that was after the call is not removed even though it's unreachable. Now that I think about it, one could reasonably look for that situation there and simply delete that block. And here is confirmation: https://god

[2022-02-03 04:13] RishiKumarRay commented on #1577
Yeah i think too , it should be added there

[2022-02-03 19:12] Panchajanya1999 opened #1578 "[LLVM 15] Getting invalid-symbol-name-offset while linking with LLD"
Error -

[code]

Kernel Source - https://github.com/Panchajanya1999/msm-4.14
LLVM tip - https://github.com/llvm/llvm-project/commit/36c36c1e

Build command -
[code]
Full log is available at - https://cloud.drone.io/Panchajanya1999/msm-4.14/388/1/2

[2022-02-03 19:34] nathanchance commented on #1578
Can confirm.

[code]

This reproduces without `CONFIG_LTO_CLANG=y`.

I don't see this at https://github.com/llvm/llvm-project/commit/e64feaf00fd3b42c5820da556e60dd575f98cbe5.

I'll bisect LLVM once I am done investigating another issue.

[2022-02-03 19:35] nickdesaulniers commented on #1578
cc @MaskRay

https://github.com/llvm/llvm-project/blob/607ffa5515b9cd9c9c951dacbe4c403b52aa6bdb/lld/ELF/InputFiles.cpp#L1056-L1057

It sounds like someone is producing a bad object file (arch/arm64/lib/lib-ksyms.o) that has a symbol with whose name isn't in the symbol table.

@Panchajanya1999 do you have `CONFIG_TRIM_UNUSED_KSYMS` set?

[2022-02-03 19:51] Panchajanya1999 commented on #1578
I don't have this config.

[2022-02-03 20:02] nickdesaulniers commented on #1401
Closing. [The upstream report](https://github.com/llvm/llvm-project/issues/53516) was closed by Richard Smith.  It looks like [v6 of the series has found](https://lore.kernel.org/llvm/20220203173307.1033257-2-keescook@chromium.org/) that `__attribute__((pass_object_size))` can be used here.

[2022-02-03 20:02] #1401 closed, assigned to nobody

[2022-02-03 22:01] nathanchance commented on #1578
[code]

https://github.com/llvm/llvm-project/commit/0c3704fdbd901e5f51acf11a85278bf9214ae7b2

[2022-02-03 22:22] nickdesaulniers commented on #1578
Is `-O2` being passed to the linker? :P (ie. an out of tree patch, @Panchajanya1999 )

[2022-02-03 22:32] nathanchance commented on #1578
;)

https://github.com/Panchajanya1999/msm-4.14/commit/4a4ea24df22cf8419006f5f65745f12b5fcdace0

but in that case, shouldn't the above change be a no-op?

[2022-02-03 22:42] nathanchance commented on #1578
I see `-O2` is added to all the `ld.lld` invocations... So I am a little confused as to why that change would make any difference here unless maybe there are some places on msm-4.14 where `clang` is being used for linking, which means we might need `-Wl,-O2` somewhere?

[2022-02-03 22:49] nathanchance commented on #1578
Reverting that change fixes it for me at least:

[code]

[2022-02-04 01:20] nathanchance commented on #1573
Merged into mainline: https://git.kernel.org/linus/b7892f7d5cb2b8187c603dd8ea3a7c44059ccfc2

[2022-02-04 01:20] #1573 closed, assigned to nobody

[2022-02-04 05:36] Panchajanya1999 commented on #1578
Someone on tg confirmed passing `--lto-O3` fixes it too.

[edit] @dakkshesh just confirmed the same on k4.9 with full-LTO and `LDFLAGS += -O3`. He says thin-LTO is totally fine with `-O3` and he hasnt tried thinLTO with `-O2` yet.

[2022-02-04 06:13] Panchajanya1999 commented on #1578
I am thinking to setup LDFLAGS like this-
[code]

[2022-02-04 08:32] tpgxyz commented on #1341
@samzeter Hi, we fixed it differently, as we want to keep `--icf=safe --gc-sections` as global setting, so overwriting these for specific build did the trick.

[code]

See here:
https://github.com/OpenMandrivaAssociation/kernel-release/blob/2d51a203f51edd270b4126fc329febd20299d53e/kernel-release.spec#L1204
and one patch that is needed
https://github.com/OpenMandrivaAssociation/kernel-release/blob/

[2022-02-04 08:32] #1341 closed, assigned to nobody

[2022-02-04 09:11] Panchajanya1999 commented on #1578
This commit fixes this issue.
https://github.com/Panchajanya1999/msm-4.14/commit/d0110f4b86536b08e6c7567c2e8558b5284214ee

Cc @nathanchance @nickdesaulniers

[2022-02-04 16:50] nathanchance commented on #1578
I was able to reproduce this without LTO.

[code]

[2022-02-04 17:31] MaskRay commented on #1578
The linker option -O2 is different from the compiler driver option -O2. (https://maskray.me/blog/2020-11-15-explain-gnu-linker-options#o)

Using -O2 for ld.lld is not recommended. It just makes the link quite slow while decreasing the size only a tiny bit. -O2 does not change the LTO optimization level. It is different from --lto-O2.

Failures in the absence of local symbol name deduplicating is j

[2022-02-04 20:42] zx2c4 commented on #1567
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ba6ef8af0f3be2e0318aac7e6e43d3a04a069a6a

[2022-02-05 00:32] zx2c4 commented on #1567
Low priority?

[2022-02-05 00:38] nathanchance commented on #1567
I removed the "low priority" from the label.

[2022-02-05 04:38] nathanchance commented on #1578
CI is now hitting this for [the `android-4.14` builds](https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/1797865035). [The `android-4.19` builds](https://github.com/ClangBuiltLinux/continuous-integration2/actions/runs/1797872551) are fine.

As far as I can tell, it does not look like `android-4.19` has [the `-O2` linker patch](https://android.googlesource.com/kernel/common/+/

[2022-02-05 17:10] nathanchance commented on #1578
I can confirm that reverting https://android.googlesource.com/kernel/common/+/4a4ea24df22cf8419006f5f65745f12b5fcdace0 fixes the issues seen in CI.

[2022-02-05 17:30] Panchajanya1999 commented on #1578
Yeah, reverting it just passed here too (locally).

[2022-02-07 16:24] nathanchance opened #1579 "-Wuninitialized in fs/io_uring.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220207162410.1013466-1-nathan@kernel.org/

[2022-02-07 16:54] nathanchance commented on #1575
Patch submitted: https://lore.kernel.org/r/20220207165304.1046867-1-nathan@kernel.org/

[2022-02-07 19:46] nickdesaulniers commented on #92
kernel patch: https://lore.kernel.org/llvm/1644176216-12531-1-git-send-email-mikelley@microsoft.com/

[2022-02-07 23:05] nickdesaulniers opened #1580 "invalid string offset 1 >= 1 for section `.strtab'"
android4.14 branches are failing for [aarch64](https://github.com/ClangBuiltLinux/continuous-integration2/runs/5086951566?check_suite_focus=true) and [x86](https://github.com/ClangBuiltLinux/continuous-integration2/runs/5086951398?check_suite_focus=true)

[code]

[2022-02-07 23:11] nathanchance commented on #1580
https://github.com/ClangBuiltLinux/linux/issues/1578#issuecomment-1030523755?

[2022-02-08 00:02] nathanchance opened #1581 "Boot hang with certain PowerPC configurations after da0e5b885b25cf4ded0fa89b965dc6979ac02ca9"
After https://github.com/llvm/llvm-project/commit/da0e5b885b25cf4ded0fa89b965dc6979ac02ca9, both Fedora and OpenSUSE's powerpc64le configurations fail to boot for me in QEMU. On v5.17-rc3:

[code]

At the commit prior to that one, the kernel fires right up:

[code]

I have done no further triage, as I am currently testing a few different things. cc @MaskRay in case something obvious sticks out to

[2022-02-08 00:42] nickdesaulniers commented on #1563
Yes. We then hit https://github.com/llvm/llvm-project/issues/53118 for [my test case above](https://github.com/ClangBuiltLinux/linux/issues/1563#issuecomment-1028529265). (i.e. for codegen, we emit `callq   _printk` when I expect `jmpq   _printk`.

https://github.com/llvm/llvm-project/issues/53118 will fix the overall issue regardless, but @jdoerfert 's suggested modification to `llvm::InlineFunct

[2022-02-08 00:46] nickdesaulniers commented on #1563
(via irc):

[code]
afterwards `skb_panic` is attributed `noreturn`.

[2022-02-08 00:56] rnk commented on #1563
Regarding https://reviews.llvm.org/D3491, I think I made that logic specific to inlining musttail calls because in that case, AfterCallBB must not have any successors, it will only have a bitcast and a return, so it's sufficient to just delete a single block.

If you want to clean up all unreachable blocks after inlining a call site without any returns (throw or abort only), you need to do a full

[2022-02-08 01:07] jdoerfert commented on #1563
The key is, no calls are in the remainder of the block so deleting it will not invalidate call inst pointers in the Inliner. If the inliner would be tolerant to that (e.g., use WeakVH) we could delete those blocks also for non-must tails. Dead code might still exist but not the trivial dead code former by the remainder of the block in which the noreturn call site was located.

Apparently this gets

[2022-02-08 16:05] nathanchance commented on #1569
Patch accepted: https://git.kernel.org/masahiroy/linux-kbuild/c/1cf5f151d25fcca94689efd91afa0253621fb33a

[2022-02-08 16:19] nathanchance commented on #1579
Patch accepted: https://git.kernel.org/axboe/linux-block/c/4c65723081332607ca331072b0f8a90189e2e447

[2022-02-08 16:37] alviroiskandar opened #1582 "-Wgnu-variable-sized-type-not-at-end in include/linux/cgroup-defs.h"
Hello @nickdesaulniers, @nathanchance

Could you review this patch? Not submitted yet, what do you think?

[code]

[2022-02-08 16:57] nathanchance commented on #1582
Hi @alviroiskandar, thank you for the patch!

I am curious, under what conditions do you see this warning? It comes from `-Wgnu`, which we explicitly disable in the main Makefile because we build with `-std=gnu89`, which means we are going to take advantage of GNU extensions. While fixing this one warning is fine, we want to make sure that every part of the kernel has the same set of warnings disa

[2022-02-08 21:53] nickdesaulniers opened #1583 "can't remove -ffreestanding from i386"
@kees was looking to use [an old patch of mine](https://lore.kernel.org/all/20200817220212.338670-5-ndesaulniers@google.com/) to get FORTIFY_SOURCE working for ARCH=i386 LLVM=1 builds. [We got a report](https://lore.kernel.org/lkml/20220204123740.GA4077@xsang-OptiPlex-9020/) that this caused kernel panics.  I traced this to a bug in LLVM, [reported upstream](https://github.com/llvm/llvm-project/is

[2022-02-08 21:55] nickdesaulniers commented on #1563
I'm going to focus on https://github.com/llvm/llvm-project/issues/53118; as noted, there's many related regressions related to that change. They will all need to be solved separately to close out the issue, I suspect.

[2022-02-08 22:41] nickdesaulniers commented on #701
@ardbiesheuvel 's [patch](https://lore.kernel.org/linux-arm-kernel/20220203082204.1176734-12-ardb@kernel.org/) I think finally truly resolves this.

[2022-02-09 13:20] alviroiskandar commented on #1582
On Tue, Feb 8, 2022 at 11:57 PM Nathan Chancellor wrote:

Ahh right, sorry.

The build is actually not relevant with the config provided from
upstream, not sure if my patch is acceptable under that situation. If
it is not, let's close this.

After reconsidering the condition, I think it seems it is not really
reasonable since the upstream tree builds just fine. So my excuse
"clang warns this" is n

[2022-02-09 16:34] nathanchance opened #1584 "-Wsometimes-uninitialized in drivers/spi/spi-sunplus-sp7021.c"
[code]

Tom Rix submitted: https://lore.kernel.org/r/20220209163029.2299009-1-trix@redhat.com/

[2022-02-09 18:18] nathanchance commented on #1579
Now in -next: https://git.kernel.org/next/linux-next/c/4c65723081332607ca331072b0f8a90189e2e447

[2022-02-09 18:18] #1579 closed, assigned to nathanchance

[2022-02-09 18:18] MaskRay commented on #1581
I encounter a pahole (my `apt info dwarves` is `1.20-1+gl0`) issue.
[code]

The change refactored how `DT_RELACOUNT` (shown as `RELACOUNT` in `readelf -d` output), which is defined for `-z combreloc` (default): the number of `R_*_RELATIVE` relocations in the beginning of `.rela.dyn`. The tag is optional, and when existent, serves as an optimization for glibc ld.so. Many ld.so implementations (Free

[2022-02-09 18:36] nickdesaulniers commented on #1581
`./scripts/config -d CONFIG_DEBUG_INFO_BTF`

cc @mpe

[2022-02-09 19:07] MaskRay commented on #1581
`vmlinux` has some position-independent long branch thunks which need `R_*_RELATIVE` relocations. In such a case, ld.lld generated `DT_RELACOUNT` value is smaller than the actual value. In my build, the ld.lld produced value is 185685 and off by 27 (see below I think the small difference is acceptable).

I can make the value correct but.. well, it's just more code without many benefits. It's also

[2022-02-09 19:47] nickdesaulniers commented on #20
initial support for this will ship for x86_64 in clang-15. We'll pursue enabling more backends, but it's a fair amount of work per arch to get this working. Should be easier now that clang supports the flags and some support is arch agnostic.

https://reviews.llvm.org/rGdeaf22bc0e306bc44c70d2503e9364b5ed312c49

closing, but perhaps we want to track different backend support somehow? Happy to have

[2022-02-09 19:47] #20 closed

[2022-02-09 19:50] nickdesaulniers commented on #1581
There's probably some important context as _why_ the number of that type of relocation is hard coded in the source...

[2022-02-09 23:14] nathanchance opened #1585 "Boot issue with CONFIG_ZERO_CALL_USED_REGS=y and _paravirt_ident_64()"
As I originally reported on https://reviews.llvm.org/D110869, [Arch Linux's configuration](https://github.com/archlinux/svntogit-packages/raw/packages/linux/trunk/config) + `CONFIG_ZERO_CALL_USED_REGS=y` fails to boot for me on two bare metal machines (AMD Ryzen 3 4300G and Intel Core i5 4210U). There is no output on either machine, so something is going wrong before the EFI framebuffer driver is

[2022-02-10 02:39] nathanchance commented on #1584
Alternative patch submitted: https://lore.kernel.org/r/691d52b72f978f562136c587319852f5c65f08fe.1644460444.git.lhjeff911@gmail.com/

[2022-02-10 18:16] nickdesaulniers commented on #1483
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?h=objtool/urgent&id=bfb1a7c91fb7758273b4a8d735313d9cc388b502

[2022-02-10 19:18] isanbard opened #1586 "Enable -fzero-call-used-regs for ARM architectures"
Now that we have `-fzero-call-used-regs` for x86, we need to enable it for ARM.

[2022-02-10 19:20] nickdesaulniers commented on #1563
Copying a comment from @jpoimboe from IRC:

I'm not sure then the best way to proceed.  Either we want an additional frame in the trace of such a call to `skb_panic` or we don't care.  I don't really see any way forward here other than one of the following:
1. [fix llvm generally](https://github.com/llvm/llvm-project/issues/53118)
2. [fix this case locally](https://github.com/ClangBuiltLinux/linux

[2022-02-10 19:32] nickdesaulniers commented on #1580
sure, but this regressed in LLD, I suspect. It would be good to know _why_ the generated objects are invalid, rather than simply dropping out of tree patches.

[2022-02-10 21:48] nickdesaulniers commented on #1563
Looking back at [this comment](https://github.com/ClangBuiltLinux/linux/issues/1563#issuecomment-1028481807), it's the `jmp` that gets placed after the noreturn `call`. If we properly carry the `noreturn` ir fn attr, then we shouldn't place the `jmp` (or wind up with such control flow I suspect).

[2022-02-10 22:50] nathanchance commented on #1578
@MaskRay This particular kernel branch links with `-O2`, so shouldn't https://github.com/llvm/llvm-project/commit/0c3704fdbd901e5f51acf11a85278bf9214ae7b2 just be a no-op for it? It clearly isn't, which I assume means that it has something to do with the first two hunks of that commit, right?

[code]

Other kernels do not have a problem, as they link with the default of `-O1`, which presumably mea

[2022-02-10 22:51] nathanchance commented on #1580
I have adding some further analysis to #1578. Closing this one as a duplicate issue.

[2022-02-10 22:51] #1580 closed, assigned to nobody

[2022-02-11 18:16] nathanchance commented on #503
Patch accepted: https://git.kernel.org/herbert/cryptodev-2.6/c/297565aa22cfa80ab0f88c3569693aea0b6afb6d

[2022-02-11 18:16] nathanchance commented on #563
Patch accepted: https://git.kernel.org/herbert/cryptodev-2.6/c/297565aa22cfa80ab0f88c3569693aea0b6afb6d

[2022-02-11 18:18] nathanchance commented on #496
Patch accepted: https://git.kernel.org/herbert/cryptodev-2.6/c/a69cb445f7d129abf7c50d48c8a8eca7c8d5df15

[2022-02-11 19:49] nickdesaulniers commented on #1563
submitted: https://reviews.llvm.org/D119571

[2022-02-13 20:53] nathanchance commented on #1569
Merged into mainline: https://git.kernel.org/linus/1cf5f151d25fcca94689efd91afa0253621fb33a

It will go back to stable automatically, I'll make sure to watch for the FAILED emails in case it does not go back as far as it needs to go.

[2022-02-13 20:53] #1569 closed, assigned to nathanchance

[2022-02-14 19:43] nathanchance opened #1587 "Build with -Werror=unused-command-line-argument"
Similar to what was done in commit [589834b3a009](https://git.kernel.org/linus/589834b3a0097a4908f4112eac0ca2feb486fa32) ("kbuild: Add -Werror=unknown-warning-option to CLANG_FLAGS") and [0664684e1ebd](https://git.kernel.org/linus/0664684e1ebd7875e120d0cecd525bac4805f8ed) ("kbuild: Add -Werror=ignored-optimization-argument to CLANG_FLAGS"), I would like to turn `-Wunused-command-line-argument` int

[2022-02-14 20:00] nickdesaulniers opened #1588 "shift count >= width of type in drivers/hv/vmbus_drv.c"
[code]
probably needs a similar fix to [this](https://lore.kernel.org/llvm/1644176216-12531-1-git-send-email-mikelley@microsoft.com/) otherwise is another case of #92.

[2022-02-14 20:07] nathanchance commented on #1588
That patch is the fix for this warning.

[2022-02-14 20:09] nathanchance commented on #1588
https://git.kernel.org/hyperv/c/6bf625a4140f24b490766043b307f8252519578b

[2022-02-14 20:09] nickdesaulniers commented on #1483
commit bfb1a7c91fb7 ("x86/bug: Merge annotate_reachable() into _BUG_FLAGS() asm")
available in v5.17-rc4.

I did a scrub in the upstream llvm issue tracker for `ran out of registers during register allocation`. It looks like there are quite a few open issues specific to i386:
1. https://github.com/llvm/llvm-project/issues/41914
2. https://github.com/llvm/llvm-project/issues/11767
3. https://github

[2022-02-14 20:09] #1483 closed, assigned to nickdesaulniers

[2022-02-14 20:12] nickdesaulniers commented on #1483
oh, are there 64b atom?

[2022-02-14 20:15] nickdesaulniers commented on #1483
aha, that reproduced it. Filing a new bug.

[2022-02-14 20:15] nickdesaulniers commented on #1588
doh!

[2022-02-14 20:15] #1588 closed, assigned to nobody

[2022-02-14 20:18] nickdesaulniers opened #1589 "inline assembly requires more registers than available"
reported by @arndb in [this thread](https://lore.kernel.org/all/20211019171121.3510624-1-arnd@kernel.org/T/#u). Forking from #1483 which I've modified to track the objtool warnings.

This is reproducible via:
[code]

[2022-02-14 20:19] nickdesaulniers commented on #1589
[upstream report](https://github.com/llvm/llvm-project/issues/41914) from @arndb

[2022-02-14 21:03] nathanchance opened #1590 "-Wattribute-warning in drivers/scsi/libfc/fc_elsct.c"
With both `ARCH=arm64 allmodconfig` and `ARCH=x86_64 allmodconfig` on linux-next, I see:

[code]

This comes from the new fortify checks.

I noticed that @GustavoARSilva sent [a patch](https://lore.kernel.org/r/20211105091102.GA126301@embeddedor/) to convert a couple of structures to use a flexible member array in `drivers/scsi`, which actually resolves this.

cc @kees

[2022-02-14 21:21] nathanchance opened #1591 "-Wattribute-warning in drivers/misc/habanalabs/common/firmware_if.c"
With both `ARCH=arm64 allmodconfig` and `ARCH=x86_64 allmodconfig` on linux-next, I see:

[code]

This comes from the new fortify checks.

The warning specifically comes from the instance of `memset()` in `hl_fw_send_msi_info_msg()`:

[code]

where `struct cpucp_array_data_packet` is:

[code]

Changing `data` to an actual flexible array resolves the warning (I see two more 0-length arrays right ab

[2022-02-14 21:37] GustavoARSilva commented on #1590
I wonder if this patch still resolves those issues:

[code]

[2022-02-14 21:37] nathanchance opened #1592 "-Wattribute-warning in drivers/net/ethernet/huawei/hinic/hinic_devlink.c"
With both `ARCH=arm64 allmodconfig` and `ARCH=x86_64 allmodconfig` on linux-next, I see:

[code]

This comes from the new fortify checks. Specifically, it appears to come from the `memcpy()` in `check_image_valid()`:

[code]

[code]

From `drivers/net/ethernet/huawei/hinic/hinic_devlink.h`:

[code]

I am struggling to see what `clang` finds problematic here?

cc @kees

[2022-02-14 21:40] nathanchance commented on #1590
@GustavoARSilva it does, thanks!

[2022-02-14 21:50] GustavoARSilva commented on #1591
Great :) Now is a good time to go ahead and try to land a treewide patch to replace all the remaining zero-length arrays with flexible ones. I had a patch for that a while ago, but it didn't make it out of my testing/ branch. I'll be braver this time and add that patch to my -next tree this week. Wish me good luck!

[2022-02-14 22:07] nickdesaulniers commented on #1563
I've [requested](https://github.com/llvm/llvm-project/issues/53834) a backport for the fix into clang-14.

[2022-02-14 22:34] GustavoARSilva commented on #1590
Great. :) I just sent out a proper patch for this: https://lore.kernel.org/linux-hardening/20220214223903.GA859464@embeddedor/

[2022-02-15 01:12] GustavoARSilva commented on #1591
The following treewide patch includes changes to fix this issue: https://git.kernel.org/pub/scm/linux/kernel/git/gustavoars/linux.git/commit/?h=for-next/kspp-fam0

[code]

I'll wait for test results from 0-day before adding it to my -next (for-next/kspp) tree for linux-next.

[2022-02-15 03:37] kees commented on #1592
Uuuhhh. That's weird. `sizeof(host_image->image_section_info[i]) == sizeof(struct fw_section_info_st)`. And it doesn't happen with clang-13. Digging...

[2022-02-15 04:04] kees commented on #1592
https://godbolt.org/z/hvvvczjh9

I am disappointed in __bos()'s behavior generally with this array, and am confused about how to elicit the memcpy() warning. I was expecting the bos to return 600 or something...

More tomorrow...

[2022-02-15 17:58] nickdesaulniers opened #1593 "-Wunneeded-internal-declaration in mm/page_alloc.c"
kernelci is [reporting](https://lore.kernel.org/linux-next/620b823b.1c69fb81.3f0b8.f4a4@mx.google.com/):
[code]

[2022-02-15 18:18] nathanchance commented on #1593
Caused by https://git.kernel.org/next/linux-next/c/9983a9d577db415c41099a20a5637ab25dd3c240.

[code]

Prior to that change, the static inline functions would prevent `clang` from seeing that `pagesets` is technically unused under `CONFIG_PREEMPT_RT=n` + `CONFIG_DEBUG_LOCK_ALLOC=n` since it doesn't do cross function analysis. But now that these functions are macros, `clang` can see that the variabl

[2022-02-15 18:21] nickdesaulniers commented on #1593
[code]
?

[2022-02-15 18:33] nathanchance commented on #1593
Oh duh... I'll send that along shortly with your Suggested-by.

[2022-02-15 19:02] nickdesaulniers commented on #1593
submitted: https://lore.kernel.org/r/20220215184322.440969-1-nathan@kernel.org/

[2022-02-15 19:45] nathanchance commented on #92
The Hyper-V patch has been merged into mainline: https://git.kernel.org/linus/6bf625a4140f24b490766043b307f8252519578b

I think that fixing this should be relatively high priority so we do not get bit by this again but we are good for now.

[2022-02-15 20:27] nathanchance commented on #1551
This was only seen in -next, which now has the patch so closing:

https://git.kernel.org/next/linux-next/c/5fe41793bc78d9bb47fea37d1a16984ad6cf294b

[2022-02-15 20:27] #1551 closed, assigned to nobody

[2022-02-15 20:29] nathanchance commented on #1497
Given this is all squared up on the kernel side, I am closing this. If we want to further discuss making LLVM more compatible with GCC, it is probably worth doing on the LLVM issue tracker.

[2022-02-15 20:29] #1497 closed, assigned to nathanchance

[2022-02-15 20:34] nathanchance commented on #1427
https://github.com/llvm/llvm-project/commit/74a47e54be7992b6ccad36b53b6808a7032607c7

[2022-02-15 20:34] #1427 closed, assigned to nobody

[2022-02-15 22:31] nickdesaulniers commented on #1290
There was a patch sent to the list to allow specifying a `--sysroot=` via `USERCFLAGS`:
https://lore.kernel.org/lkml/20220201213542.2808035-1-quic_eberman@quicinc.com/
This was [accepted](https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=for-next&id=f67695c9962e5f444549b3437fb8d840ec6222c8) by Masahiro (probably for 5.18 since it's in the for-next branch).

for `

[2022-02-15 23:03] nathanchance commented on #1593
Tentatively picked up by akpm: https://lore.kernel.org/r/20220215210334.2127EC340EB@smtp.kernel.org/

[2022-02-15 23:44] nathanchance commented on #882
Did not realize we were tracking this: https://git.kernel.org/linus/95339b70677dc6f9a2d669c4716058e71b8dc1c7

[2022-02-15 23:44] #882 closed

[2022-02-16 16:35] nathanchance commented on #1418
Patch removing these annotations has been picked up: https://git.kernel.org/powerpc/c/12318163737cd8808d13faa6e2393774191a6182

[2022-02-17 01:18] nathanchance opened #1594 "NULL pointer dereference in net/core/rtnetlink.c"
See the upstream thread for the full context: https://lore.kernel.org/r/Yg2h2Q2vXFkkLGTh@dev-arch.archlinux-ax161/

[2022-02-17 15:43] nathanchance opened #1595 "-Wsometimes-uninitialized in drivers/gpu/drm/amd/amdgpu/amdgpu_ras.c"
Initially reported by the kernel test robot: https://lore.kernel.org/r/202202171534.A4Lb31Xv-lkp@intel.com/

[code]

Tom Rix submitted: https://lore.kernel.org/r/20220217153842.3252424-1-trix@redhat.com/

[2022-02-17 16:22] nathanchance opened #1596 "-Wenum-conversion in drivers/gpu/drm/amd/amdkfd/kfd_packet_manager_v9.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220217162142.1828990-1-nathan@kernel.org/

[2022-02-17 20:13] nickdesaulniers commented on #1594
Should we consider lld commit 55c14d6dbfd8e7b86c15d2613fea3490078e2ae4 a regression?

cc @MaskRay

[2022-02-17 20:22] nathanchance commented on #1594
Given that it actually resolves the reported issue, probably not but I am not sure. The more likely explanation is that https://github.com/llvm/llvm-project/commit/55c14d6dbfd8e7b86c15d2613fea3490078e2ae4 just happened to fix an existing bug in LLD's code?

[2022-02-17 20:33] nickdesaulniers commented on #1594
ah, I misread the report, which was reported against lld-13 (for ppc64le).

I noticed that the 13.0.1 milestone still has open issues, but is closed (pretty sure the deadline for 13.0.1 already passed).
https://github.com/llvm/llvm-project/milestone/2

maybe the best we can do is require lld-14+ for ppc64le :(

[2022-02-17 20:40] nathanchance commented on #1594
Yes, LLVM 13.0.1 has been released already: https://github.com/llvm/llvm-project/releases/tag/llvmorg-13.0.1

I have not tried to look at the section header differences yet but that might give us a clue as to what went wrong.

I agree that this is probably a bug that is worth breaking the build over; we could stick a check and message in `ld-version.sh` like the one for `ld.gold`?

[2022-02-18 00:02] nickdesaulniers commented on #1290
@nathanchance pointed out
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=d6fc9fcbaa655cff2d2be05e16867d1918f78b85
for discussion of the original intent of UAPI_HEADER_TEST. Maybe `UAPI_HEADER_TEST` doesn't need to depend on `CC_CAN_LINK`.

usr/include/Makefile seems to be just using `-include <kernel header> -S /dev/null -x c` for these.

[code]
[code]
worked even af

[2022-02-18 01:43] nathanchance opened #1597 ""ld.lld: error: section type mismatch for .plt" after LLVM commit 66f8ac8d3604d67599734c3fd272032e9448aca2"
https://github.com/llvm/llvm-project/commit/66f8ac8d3604d67599734c3fd272032e9448aca2

As I [reported on Phabricator](https://reviews.llvm.org/D118840), linking modules with `ld.lld` when `CONFIG_ARM64_MODULE_PLTS` is enabled is now broken:

[code]

The following change was suggested on Phabricator, which builds, but I am not sure what the runtime implications of this are.

[code]

[2022-02-18 02:13] nathanchance commented on #1595
Patch accepted: https://gitlab.freedesktop.org/agd5f/linux/-/commit/779596ce6a79e187995f04f143fc5ea44a565ea9

[2022-02-18 02:14] nathanchance commented on #1596
Patch accepted: https://gitlab.freedesktop.org/agd5f/linux/-/commit/b63c54d978236dd6014cf2ffba96d626e97c915c

[2022-02-18 02:14] nathanchance commented on #1593
Fixed: https://git.kernel.org/next/linux-next/c/ab7e803d908317d0c44bb491a817db79de773106

[2022-02-18 02:14] #1593 closed, assigned to nathanchance

[2022-02-18 02:19] nathanchance commented on #1584
Fixed: https://git.kernel.org/next/linux-next/c/5790597d7113faabb1714d3d1efa268e36eb4811

[2022-02-18 02:19] #1584 closed, assigned to nathanchance

[2022-02-18 05:54] nickdesaulniers opened #1598 "investigate enabling `--icf=safe` or `--icf=all`"
LLD (and gold) have the flags `--icf=all` and `--icf=safe`. These might be interesting to enable per arch if safe to do so. Perhaps just for CC_OPTIMIZE_FOR_SIZE.

[2022-02-18 06:05] nickdesaulniers commented on #1364
@samzeter v2 can likely be sent. Masami [ack'ed](https://lore.kernel.org/all/20220107205259.e66ff1bd90ac218611bf1178@kernel.org/) it and @nathanchance [tested](https://lkml.org/lkml/2022/1/6/585) it.

[2022-02-18 06:10] nickdesaulniers commented on #1392
Closing for now. Happy to reopen if this becomes relevant again.

[2022-02-18 06:10] #1392 closed, assigned to nobody

[2022-02-18 06:12] nickdesaulniers commented on #1235
The remaining issue above in xen BUG_ON might be a duplicate either #1563 or #1483. I haven't retested yet with either of those two fixes.

[2022-02-18 16:38] nathanchance commented on #1597
Fangrui sent https://lore.kernel.org/r/20220218081209.354383-1-maskray@google.com/.

I requested the removal of this error until the kernel can be fully patched so that groups like LKFT and 0day do not get bitten by this: https://reviews.llvm.org/D118840#3332118

[2022-02-18 16:41] nathanchance commented on #1598
Also see #1341.

[2022-02-18 17:19] nickdesaulniers opened #1599 "__alloc_size(1) issue with __kmalloc_track_caller"
via https://android-review.googlesource.com/c/kernel/common/+/1916426

the upstream patch was broken up into pieces because the resulting devices (x86 and arm64 failed to boot).

https://lore.kernel.org/all/20220218131358.3032912-1-gregkh@linuxfoundation.org/ was sent as a partial revert revert.
https://git.kernel.org/pub/scm/linux/kernel/git/vbabka/slab.git/commit/?h=for-5.17/fixup5&id=aae5518e45

[2022-02-18 18:25] nickdesaulniers commented on #1597
@MaskRay also sent https://lore.kernel.org/linux-riscv/20220218082611.396353-1-maskray@google.com/ for riscv.

[2022-02-18 19:01] MaskRay commented on #1597
@nathanchance Will a warning be fine? The link still proceeds.

[2022-02-18 19:06] nathanchance commented on #1597
Yes, I think a warning would be fine. Groups might still notice but I think it is better than outright breaking the build and we will still push forward with your patch or @ardbiesheuvel's suggestion to get it cleaned up.

[2022-02-18 19:22] MaskRay commented on #1597
Thanks! llvm/llvm-project@cb0a4bb5be10636aaec3ecb56ed586dee3eb0b9e changed `(NOLOAD)` mismatch to a warning.

[2022-02-18 19:37] nathanchance commented on #1597
Thank you a lot for the compromise and sending the fixes! We'll make sure they get picked up and backported, hopefully in a timely manner.

[2022-02-18 20:33] nathanchance opened #1600 "-Wframe-larger-than in drivers/gpu/drm/selftests/test-drm_plane_helper.c"
Initially reported by the kernel test robot: https://lore.kernel.org/r/202112211210.kJg5QWU6-lkp@intel.com/

On at least `ARCH=hexagon allmodconfig` but likely other 32-bit architectures:

[code]

Introduced by https://cgit.freedesktop.org/drm/drm-misc/commit/?id=943e6a8beeac1b676265f2dd81a69d7bede5e41d; all of the structures in this function are on the stack.

[2022-02-18 21:36] MaskRay commented on #1594
`[ELF] Simplify DynamicSection content computation. NFC` has `NFC` because to the best of my knowledge it did not change output. (Also, I tend to test a bunch of internal targets in various build modes to ensure correctness). If it accidentally fixed an issue, you may compare the output with `llvm-readelf -d`. There should be some differences.

[2022-02-18 22:54] #1578 closed, assigned to nobody

[2022-02-18 23:38] MaskRay commented on #1578
Sorry for the belated response. The  .symtab deduplication regression in -r links was due to https://reviews.llvm.org/D118577
 `addString("");`. It has been fixed in main branch.

release/14.x has llvm/llvm-project@42a797ef011bd920bb7b781a752b925362b9754c to fix it.

[2022-02-18 23:47] MaskRay commented on #1598
https://maskray.me/blog/2020-11-15-explain-gnu-linker-options#icfall-and---icfsafe has some information.

[2022-02-18 23:51] nathanchance commented on #1578
Thanks a lot!

[2022-02-19 17:52] nathanchance commented on #1467
The code in LLVM that controls the default:

https://github.com/llvm/llvm-project/blob/ebeb191b65feec74d54cec574e6bcae9f269cf8b/clang/lib/Driver/ToolChains/Clang.cpp#L4822-L4832

[2022-02-20 00:14] kees commented on #1599
Forwarding details from some internal Android investigations: the problem appears to be the use of `__malloc` here. (Swapping `_alloc_size` with `__alloc_size__` fixes it.)

Another idea is a possible poor interaction with `ksize()` (which returns the true rounded up `kmalloc` size) vs the compiler's view of the size returned due to `__alloc_size`.

[2022-02-21 22:27] nathanchance opened #1601 "arch/powerpc/boot/wrapper hard codes GNU tools"
I have split this off from https://github.com/ClangBuiltLinux/continuous-integration2/issues/265, as we are tracking the other issue I noted in that thread as #774.

With [D115419](https://reviews.llvm.org/D115419) applied to the toolchain and the following diff to quickly work around #774:

[code]

[code]

`CROSS_COMPILE` is used in `arch/powerpc/boot/wrapper` to prefix the GNU tools:

[code]

I

[2022-02-22 20:32] nathanchance commented on #1594
It looks like the number of relocations is different?

[code]

while makes sense because if I disable `CONFIG_RELOCATABLE` in the configuration that initially reproduced the issue, I do not see the NULL pointer dereference. I wonder if this is symptomatic of the RELACOUNT problem that was mentioned in #1581?

[2022-02-22 20:59] MaskRay commented on #1594
Likely related to `DT_RELACOUNT` in #1581. ld.lld reported `DT_RELACOUNT` may be fewer than the number of `R_PPC64_RELATIVE` relocations if there are position-independent long branch thunks. I think the kernel should work with the imprecise `DT_RELACOUNT`.

[2022-02-22 21:08] nathanchance commented on #1581
It appears that `arch/powerpc/kernel/reloc_64.S` is the code that handles these relocations. I am not sure how it should be reworked to handle `ld.lld`'s imprecise `DT_RELACOUNT` value.

cc @aik since I noticed you opened https://github.com/llvm/llvm-project/issues/53786 above.

[2022-02-23 17:00] nathanchance opened #1602 "-Wpointer-type-mismatch in arch/x86/include/asm/kvm-x86-ops.h"
After commit [5be2226f417d](https://git.kernel.org/next/linux-next/c/5be2226f417d5b06d17e6c52d6e341cf43c29e48) ("KVM: x86: allow defining return-0 static calls") in -next:

[code]

Sean Christopherson sent https://lore.kernel.org/r/20220223162355.3174907-1-seanjc@google.com/.

I have a small reproducer in case this turns out to be a bug in clang: https://godbolt.org/z/P7nEdzejE

[code]

[code]

[2022-02-23 17:18] nathanchance commented on #1595
Fixed in `next-20220222`: https://git.kernel.org/next/linux-next/c/779596ce6a79e187995f04f143fc5ea44a565ea9

[2022-02-23 17:18] #1595 closed, assigned to trixirt

[2022-02-23 17:19] nathanchance commented on #1596
Fixed in `next-20220222`: https://git.kernel.org/next/linux-next/c/b63c54d978236dd6014cf2ffba96d626e97c915c

[2022-02-23 17:19] #1596 closed, assigned to nathanchance

[2022-02-23 17:19] nathanchance commented on #1575
v2: https://lore.kernel.org/r/20220222152045.484610-1-nathan@kernel.org/

[2022-02-24 15:58] nathanchance opened #1603 "-Wdeclaration-after-statement in lib/raid6/ with proposed -std=gnu11"
Linus is [proposing switching to `-std=gnu11`](https://lore.kernel.org/r/CAHk-=wh97QY9fEQUK6zMVQwaQ_JWDvR=R+TxQ_0OYrMHQ+egvQ@mail.gmail.com/). In my tests, I found this introduced a warning with an arm64 big endian defconfig:

[code]

Looking at `arm_neon.h`:

[code]

It looks like this file is automatically generated, so I am not sure how to make `__rev0` appear after `__ret`.

cc @DavidSpickett

[2022-02-24 16:17] nathanchance opened #1604 "-Wimplicit-fallthrough in lib/maple_tree.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220224161705.1937458-1-nathan@kernel.org/

[2022-02-24 16:21] arndb commented on #1603
I think part of the issue here is that <arm_neon.h> is a system header, which has more relaxed rules for warnings, so we intentionally don't get a warning with "-std=gnu89 -Wdeclaration-after-statement -Wno-gnu" despite the code being in standard c89 without GNU extensions.

It appears that with "-std=gnu11 -Wdeclaration-after-statement", clang incorrectly warns about it even in system headers as

[2022-02-24 16:34] nathanchance commented on #1603
Right. I can see in [`Sema::ActOnCompoundStmt()`](https://github.com/llvm/llvm-project/blob/ba18c360b2f3c25fe9091c7a7931eded374b3cf6/clang/lib/Sema/SemaStmt.cpp#L409) that there is a check for the diagnostic being ignored (`!Diags.isIgnored(MixedDeclsCodeID, L)`), which calls [`DiagnosticIDs::getDiagnosticSeverity()`](https://github.com/llvm/llvm-project/blob/ba18c360b2f3c25fe9091c7a7931eded374b3c

[2022-02-24 17:18] nathanchance commented on #1603
I've filed an upstream LLVM bug: https://github.com/llvm/llvm-project/issues/54062

[2022-02-24 21:11] nathanchance opened #1605 "-Wuninitialized in drivers/iio/accel/adxl367.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220224211034.625130-1-nathan@kernel.org/

[2022-02-25 15:41] nathanchance commented on #1575
Patch accepted: https://cgit.freedesktop.org/drm/drm-misc/commit/?id=3b2f68f196a5b23c61777078f5c7d0d19626b5e4

[2022-02-25 16:05] nathanchance commented on #1604
Fixed in `next-20220224`.

[2022-02-25 16:05] #1604 closed, assigned to nathanchance

[2022-02-25 16:06] nathanchance commented on #1597
arm64 patch has been accepted: https://git.kernel.org/arm64/c/4013e26670c590944abdab56c4fa797527b74325

[2022-02-25 21:05] kees commented on #1599
@melver Seems like fixing `ksize()` is the way to go here?

[2022-02-25 21:20] kees commented on #1599
Perhaps something like this? But this doesn't build correctly yet. Hmm...

[0001-mm-Handle-ksize-vs-__alloc_size-by-forgetting-size.patch.txt](https://github.com/ClangBuiltLinux/linux/files/8144945/0001-mm-Handle-ksize-vs-__alloc_size-by-forgetting-size.patch.txt)

[2022-02-25 22:02] nathanchance opened #1606 ".plt section in modules with IBT"
Peter Zijlstra [reported](https://lore.kernel.org/r/20220224151322.307406918@infradead.org/) that attempting to run `objtool` on the `.o` part of modules before linking the `.o` and `.mod.o` into `.ko` shows a warning about a `.plt` section:

[code]

As it turns out, this can be reproduced with an "empty" `.o` file:

[code]

`ld.bfd` does not exhibit this same behavior:

[code]

It is not reproduc

[2022-02-25 22:17] kees commented on #1599
Ah, here, this _seems_ to fix it for me:
https://lore.kernel.org/lkml/20220225221625.3531852-1-keescook@chromium.org

[2022-02-25 22:28] kees commented on #1606
Ooooh, the "empty" part is starting to ring a bell. I think I saw this under GCC when doing arm64 cf-protection stuff... Let me see if I can find it.

[2022-02-25 22:38] kees commented on #1606
Ah, no, it was unwanted `.note.gnu.property` sections, but perhaps it's slightly related. See:

https://lore.kernel.org/linux-arm-kernel/20200821194310.3089815-8-keescook@chromium.org/
https://bugs.llvm.org/show_bug.cgi?id=46480
https://reviews.llvm.org/D80791

@DanielKristofKiss @MaskRay

[2022-02-26 00:24] lvwr commented on #1606
Hi. I looked into the bug. If I did not mess up things, here is a candidate fix: https://reviews.llvm.org/D120600 (thanks a lot for the repro, btw)

[2022-02-26 03:57] MaskRay commented on #1606
Thanks for the fix! This was exactly the form I would create.

Fixed in main and cherry picked into https://github.com/llvm/llvm-project/tree/release/14.x as well.

[2022-02-26 04:01] nathanchance commented on #1606
Thanks! I think kernel IBT is going to depend on LLVM 14 because of a crash in LLVM 13, so I think this is all sorted.

[2022-02-26 04:01] #1606 closed, assigned to nobody

[2022-02-26 04:04] lvwr commented on #1606
This is the fix for the crash in LLVM 13, https://reviews.llvm.org/D111108 in case you can cherry-pick too.

[2022-02-26 04:13] nathanchance commented on #1606
Unfortunately, the `release/13.x` branch is no longer receiving updates, as it is not supported anymore. That is good to keep track of in case distros can patch their LLVM builds though.

[2022-02-26 05:38] lvwr commented on #1606
alright. tks for the update!

[2022-02-27 17:40] MarcusJohnson91 commented on #1603
Why C11? C18 is exactly the same, with just one unused macro that was introduced in C11 removed.

[2022-02-27 17:53] arndb commented on #1603
C11 is the newest standard that the oldest supported compiler (gcc-5.1) already understands. I think we can probably just do away with explicitly picking a -std= option and go with the compiler's default, which should be gnu11 or higher for all supported versions of gcc or clang.

[2022-02-28 06:30] GustavoARSilva commented on #1590
Patch applied to 5.18/scsi-staging: https://lore.kernel.org/linux-hardening/yq1lexv91gl.fsf@ca-mkp.ca.oracle.com/T/#m62f3046ac7770bf25e646155b71bdaddb5ee8274

[2022-02-28 18:59] #1590 closed, assigned to GustavoARSilva

[2022-02-28 19:06] nickdesaulniers commented on #1600
I wonder if these could be made function static?

[2022-02-28 21:25] nathanchance commented on #1605
Fixed in `next-20220228`: https://git.kernel.org/jic23/iio/c/185897d03ca3c4c98eff5cbf151671c5f88165fb

[2022-02-28 21:25] #1605 closed, assigned to nathanchance

[2022-02-28 21:27] nathanchance commented on #1602
Patch accepted: https://git.kernel.org/pub/scm/virt/kvm/kvm.git/commit/?id=925088781eede43cf6616a1197c31dee451b7948

[2022-02-28 21:36] nathanchance commented on #1600
I think so? It appears that `igt_check_plane_state()` is only called once, so there should be no problem with static storage.

[code]

[2022-02-28 21:53] nathanchance commented on #1563
Merged into `release/14.x`: https://github.com/llvm/llvm-project/commit/7d8e83dab37af0516bd9bbaafe818c29fbab7062

[2022-02-28 21:53] #1563 closed, assigned to nickdesaulniers

[2022-02-28 23:48] bwendling commented on #1585
I won't claim to fully understand all of the reasons for this level of indirection (it appears to be an attempt to reduce register pressure by calling a trampoline function, which is in charge of generating the callee-saved register code, thus reducing the view of those registers from the original function; but that just appears to be insane, so I must have something wrong).

Is there a way for yo

[2022-03-01 16:42] nathanchance commented on #1585
I will see if I can get this to reproduce in QEMU, I have not been able to so far. It only reproduces on bare metal and I don't think any of the consumer hardware I have has any serial port for me to use. I wonder if this issue would reproduce on an x86_64 Chromebook? Doesn't ChromeOS have some nice boot debugging utilities?

[2022-03-01 23:16] nickdesaulniers commented on #1215
https://reviews.llvm.org/D120781

[2022-03-02 20:58] nathanchance commented on #774
Christophe [mentioned](https://lore.kernel.org/r/a120fa0c-4d00-ed4c-cffa-0df1fb5abb2b@csgroup.eu/) that the PowerPC vDSO has been reworked in -next

https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/log/arch/powerpc/kernel/vdso

which might make doing this a little simpler.

[2022-03-03 00:05] nathanchance commented on #1600
Patch submitted: https://lore.kernel.org/r/20220302235909.784935-1-nathan@kernel.org/

[2022-03-03 16:39] nathanchance opened #1607 "-Wsometimes-uninitialized in fs/netfs/io.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220303163826.1120936-1-nathan@kernel.org/

[2022-03-03 17:00] nathanchance opened #1608 "MIPS "Invalid register name global variable" with `__asm__("sp")`"
After commit [200ed341b864](https://git.kernel.org/mips/c/200ed341b8646ea893d5466974d6e107c46237ba) ("mips: Implement "current_stack_pointer"") in -next:

[code]

Looking at [`MipsTargetLowering::getRegisterByName()`](https://github.com/llvm/llvm-project/blob/44eee659f1c530a684fa2e57a983d962b5980620/llvm/lib/Target/Mips/MipsISelLowering.cpp#L4720-L4741) in `llvm/lib/Target/Mips/MipsISelLowering.cp

[2022-03-03 19:24] nickdesaulniers commented on #1608
https://reviews.llvm.org/D120926

[2022-03-03 21:57] nickdesaulniers commented on #1608
Now to figure what to do on the kernel side.

[2022-03-04 17:42] nathanchance commented on #1364
v2: https://lore.kernel.org/r/20220304031611.5763-1-samuelzeter@gmail.com/

[2022-03-04 18:08] nickdesaulniers commented on #1418
(Noting that we should revisit https://github.com/ClangBuiltLinux/continuous-integration2/pull/321 once this is closed out)

[2022-03-07 17:56] nathanchance commented on #1575
Patch is now available in `next-20220307`: https://git.kernel.org/next/linux-next/c/3b2f68f196a5b23c61777078f5c7d0d19626b5e4

[2022-03-07 17:56] #1575 closed, assigned to nathanchance

[2022-03-07 17:58] nathanchance commented on #1602
Patch is now available in `next-20220307`: https://git.kernel.org/next/linux-next/c/925088781eede43cf6616a1197c31dee451b7948

[2022-03-07 17:58] #1602 closed, assigned to nobody

[2022-03-07 17:59] nathanchance commented on #1607
Fix was squashed and is now available in `next-20220307`: https://git.kernel.org/next/linux-next/c/a758cf497ad0e08244001c43237fbb5104eec60a

[2022-03-07 17:59] #1607 closed, assigned to nathanchance

[2022-03-08 16:35] #1591 closed, assigned to GustavoARSilva

[2022-03-09 05:34] MaskRay commented on #1581
This patch can fix the issue
[code]

[2022-03-09 16:28] nathanchance opened #1609 "ARM: AT expected, but got NOCROSSREFS"
After commit [b9baf5c8c5c3](https://git.kernel.org/linus/b9baf5c8c5c356757f4f9d8180b5e9d234065bc3) ("ARM: Spectre-BHB workaround"):

[code]

From [the GNU ld documentation](https://sourceware.org/binutils/docs/ld/Miscellaneous-Commands.html):

[code]

The link succeeds with `ld.bfd`.

[2022-03-09 16:33] nathanchance opened #1610 "aspeed_g5_defconfig "error: invalid operand for instruction""
After commit [b9baf5c8c5c3](https://git.kernel.org/linus/b9baf5c8c5c356757f4f9d8180b5e9d234065bc3) ("ARM: Spectre-BHB workaround"):

[code]

Turns out that GNU as agrees with this as well, with a bit more of a helpful error message:

[code]

[2022-03-09 17:11] nathanchance opened #1611 "arm64 LTO: "invalid fixup for movz/movk instruction""
When building with ThinLTO or full LTO after commit

[code]

Upstream thread, where I share some thoughts: https://lore.kernel.org/r/20220309155716.3988480-1-maz@kernel.org/

[2022-03-09 19:18] nathanchance commented on #1581
Thanks a lot Fangrui! That patch works for me, I have provided a tag upstream.

https://lore.kernel.org/r/20220309055118.1551013-1-maskray@google.com/

[2022-03-09 19:22] nathanchance commented on #1611
https://lore.kernel.org/r/20220309191633.2307110-1-nathan@kernel.org/

[2022-03-09 20:44] nickdesaulniers commented on #1610
[fix submitted](https://lore.kernel.org/all/E1nS1fu-00GcNN-24@rmk-PC.armlinux.org.uk/)

[2022-03-09 20:46] kees commented on #1608
Kernel patch for earlier Clang versions sent:

https://lore.kernel.org/lkml/20220309204537.390428-1-keescook@chromium.org

[2022-03-09 20:57] nathanchance commented on #1609
[code]

appears to work, not sure if this is acceptable upstream.

[2022-03-09 21:36] nathanchance commented on #1610
https://git.kernel.org/linus/33970b031dc4653cc9dc80f2886976706c4c8ef1

[2022-03-09 21:36] #1610 closed, assigned to nobody

[2022-03-09 22:12] nathanchance commented on #1609
Patch submitted: https://lore.kernel.org/r/20220309220726.1525113-1-nathan@kernel.org/

[2022-03-09 22:22] nathanchance commented on #1609
Patch applied: https://git.kernel.org/linus/36168e387fa7d0f1fe0cd5cf76c8cea7aee714fa

[2022-03-09 22:46] nathanchance commented on #1611
Merged into mainline: https://git.kernel.org/linus/52c9f93a9c482251cb0d224faa602ba26d462be8

[2022-03-09 22:46] #1611 closed, assigned to nathanchance

[2022-03-10 21:56] nickdesaulniers commented on #1581
@MaskRay [noted](https://lore.kernel.org/all/CAFP8O3+jJf=amTYjm6YQbJKAuK0XRNoG3Gwc6C+E0=CPd46ZAw@mail.gmail.com/)

git://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git
master and got a conflict.
Seems that https://lore.kernel.org/linuxppc-dev/20220309061822.168173-1-aik@ozlabs.ru/T/#u
("[PATCH kernel v4] powerpc/64: Add UADDR64 relocation support") fixed
the issue.
It just doesn't cha

[2022-03-10 21:57] nickdesaulniers commented on #1581
cc @aik @mpe on @MaskRay 's comment about arch/powerpc/boot/crt0.S.  Should @MaskRay resend just his hunks against that patch?

[2022-03-10 22:08] nathanchance commented on #1581
Do note that both of those runs did not use `LD=ld.lld` (see the `CC=clang`). Let me test `next-20220310` with both of those configurations locally then I will update https://github.com/ClangBuiltLinux/continuous-integration2/pull/326 by dropping Fangrui's patch and applying Alexey's patch to mainline.

[2022-03-14 19:52] nathanchance commented on #1141
As it turns out, this can still happen with the integrated assembler in certain circumstances:

[code]

As this is ultimately an `llvm-objcopy` deficiency, I have sent a series to disable `CONFIG_X86_X32_ABI` with `llvm-objcopy`:

https://lore.kernel.org/r/20220314194842.3452-1-nathan@kernel.org/

[2022-03-14 19:52] nathanchance commented on #514
I have sent a series that works around this: https://lore.kernel.org/r/20220314194842.3452-1-nathan@kernel.org/

[2022-03-15 16:13] nathanchance commented on #1141
Patch applied to -tip: https://git.kernel.org/tip/aaeed6ecc1253ce1463fa1aca0b70a4ccbc9fa75

[2022-03-15 16:14] nathanchance commented on #514
Patch accepted into -tip: https://git.kernel.org/tip/aaeed6ecc1253ce1463fa1aca0b70a4ccbc9fa75

[2022-03-15 18:15] nathanchance commented on #1608
This should be all fixed up as of `next-20220315`: https://git.kernel.org/next/linux-next/c/b847bd64ea9f484510e27065cb2bccc58d9b829b

[2022-03-15 18:15] #1608 closed, assigned to kees

[2022-03-21 15:16] nathanchance commented on #1600
Patch accepted: https://cgit.freedesktop.org/drm-misc/commit/?id=a860f266a0e19f271b839451d291a6acf6ddcfe8

[2022-03-21 21:56] nickdesaulniers commented on #1603
1. https://reviews.llvm.org/D122188
2. https://reviews.llvm.org/D122189

[2022-03-21 23:01] nickdesaulniers commented on #1589
KernelCI is also reporting this for:

$ ARCH=i386 make LLVM=1 -j72 allmodconfig net/netfilter/nf_synproxy_core.o
[code]

[2022-03-21 23:03] nathanchance commented on #1589
FWIW, I opened an issue for that specific instance in #1442, although the title could have probably been more descriptive about the error. Should I dupe that one to here?

[2022-03-21 23:07] nickdesaulniers commented on #1442
reproducible with allmodconfig, too
`$ ARCH=i386 make LLVM=1 -j72 allmodconfig net/netfilter/nf_synproxy_core.o`

[2022-03-21 23:07] nickdesaulniers commented on #1589
I'm not sure yet that it's the same cause. Let's keep them open for now, then dup once we have fixes.

[2022-03-23 09:39] dileks commented on #1574
`LLVM` version `14.0.0` released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.0

[2022-03-23 18:38] nickdesaulniers commented on #1603
This is fixed upstream in clang-15. I've requested a backport to the 14.0.1 release, but that hasn't and might not land (I suspect it will land just fine though).

Any thoughts on how we want to avoid this warning for clang-11 through clang-14 in the kernel sources?

[2022-03-23 18:41] nathanchance commented on #1603
Something along the lines of:

[code]

should work I think? I'll test in a bit, tracking down another regression.

[2022-03-23 20:07] nathanchance commented on #1603
That patch works. As we discussed in the meeting, I will wait to send that until the backport to `release/14.x` is merged.

[2022-03-23 23:27] nathanchance commented on #563
Merged into mainline: https://git.kernel.org/linus/297565aa22cfa80ab0f88c3569693aea0b6afb6d

[2022-03-23 23:27] #563 closed

[2022-03-23 23:28] nathanchance commented on #503
Merged into mainline: https://git.kernel.org/linus/297565aa22cfa80ab0f88c3569693aea0b6afb6d

[2022-03-23 23:28] #503 closed

[2022-03-23 23:29] nathanchance commented on #496
Merged into mainline: https://git.kernel.org/linus/a69cb445f7d129abf7c50d48c8a8eca7c8d5df15

[2022-03-23 23:29] #496 closed

[2022-03-23 23:32] lovesegfault opened #1612 "`ld.lld: error: <instantiation>:1:13: redefinition of 'found'`"
While trying to build the 5.17 kernel with full LTO:
[code]

[Full build logs](https://github.com/ClangBuiltLinux/linux/files/8337270/log.txt)
[Kernel config](https://github.com/ClangBuiltLinux/linux/files/8337281/kconfig.txt)

[2022-03-23 23:40] nathanchance commented on #1612
Hmmm, odd, I thought I fixed this with #1513, but it is possible that someone else started using these macros and messed it up. I'll see if I can look into this tomorrow unless someone else beats me to it :)

[2022-03-24 00:46] nickdesaulniers commented on #1612
thanks for the report. vaguely reminiscent of https://reviews.llvm.org/D113613. From the logs, looks like clang-13.0.1 was used with LLVM=1 LLVM_IAS=1.  Note: this config is a huge kernel; pinpointing the exact spot or TU of recursive macro expansion might take a while.  I was able to repro w/ ToT llvm and the provided config (plus olddefconfig) on mainline.  Not reproducible under thinLTO, only f

[2022-03-24 00:49] nickdesaulniers commented on #1504
also observed with the config from #1612 , but with thinLTO rather than full

[2022-03-24 01:12] nathanchance commented on #1504
I think this will go away with Peter’s patch: https://lore.kernel.org/r/20220322115125.737671717@infradead.org/

[2022-03-24 02:32] lovesegfault commented on #1612
I can confirm that the issue does not happen with thin LTO, good catch :)

[2022-03-24 06:20] nickdesaulniers commented on #1504
ah right, a few reports: https://lore.kernel.org/linux-next/?q=chacha_2block_xor_avx512vl

[2022-03-24 10:58] dileks opened #1613 "drivers/net/wireless/realtek/rtlwifi/rtl8192cu/rtl8192cu.lto.o: warning: objtool: .text.rtl92cu_hw_init: unexpected end of section"
I see this new `objtool` warning when using `LLVM-14 version 14.0.0` (Debian or selfmade/stage1-only) and `CONFIG_LTO_CLANG_THIN=y`:
[code]

With `LLVM-13` `v13.0.0` I do not see it.

On a first view in the issue-tracker I have not seen this reported.

[2022-03-24 11:10] dileks commented on #1613
Here my kernel-config.

[config-5.17.0-2-amd64-clang14-lto.txt](https://github.com/ClangBuiltLinux/linux/files/8340935/config-5.17.0-2-amd64-clang14-lto.txt)

[2022-03-24 12:18] dileks commented on #1613
My make line:
[code]

[2022-03-24 15:18] nathanchance commented on #1613
I suspect this is just one instance of #1480. You could try to verify it by adding `KCFLAGS="-Xclang -no-enable-noundef-analysis"` to your `make` invocation to see if the warning disappears (or changes).

[2022-03-24 15:40] nathanchance opened #1614 "-Wunused-but-set-variable in fs/btrfs/block-group.c"
[code]

Patch submitted: https://lore.kernel.org/r/20220324153644.4079376-1-nathan@kernel.org/

[2022-03-24 18:59] dileks commented on #1613
This here seems not to work:
[code]

[2022-03-24 20:24] dileks commented on #1613
I do not want to re-compile the whole Linux-kernel again by passing `KCFLAGS` to `make`.

Looks like this will be in `LLVM-15`:
[code]

With this diff:
[code]

Nope.
[code]

[2022-03-24 20:27] dileks commented on #1613
Just as a note:
[code]

[2022-03-24 20:28] nathanchance commented on #1613
[code]

[2022-03-24 20:36] dileks commented on #1613
Nope.
[code]

[2022-03-24 20:41] nathanchance commented on #1613
Ah, the flag was only renamed in main, my apologies (I did correct it after the fact but that is not obvious): https://github.com/llvm/llvm-project/commit/b529744c29a87d8ecf4336e751fee794df10ec7f

Regardless, if I add `ccflags-y += -Xclang -disable-noundef-analysis` or the equivalent for LLVM main to `drivers/net/wireless/realtek/rtlwifi/rtl8192cu/Makefile`, the warning goes away, so this is indee

[2022-03-24 20:42] nickdesaulniers commented on #1613
https://reviews.llvm.org/rGb529744c29a87d8ecf4336e751fee794df10ec7f

[2022-03-24 20:47] dileks commented on #1613
This fixes the warning for me:
[code]

[2022-03-24 20:50] nickdesaulniers commented on #1614
Sounds like this was accepted and should appear on this branch once pushed: https://github.com/kdave/btrfs-devel/commits/misc-next

[2022-03-24 22:57] nickdesaulniers commented on #1613
@dileks can you please supply the output of `llvm-objdump -Dr --disassemble-symbols=.text.rtl92cu_hw_init drivers/net/wireless/realtek/rtlwifi/rtl8192cu/rtl8192cu.lto.o`. Consider attaching a file if the output is larger than 10 lines of asm.

[2022-03-24 23:12] nathanchance commented on #1612
I was able to bisect the configuration down to `defconfig` plus a couple of other options today.

[code]

I will continue looking into this tomorrow.

[2022-03-24 23:36] nathanchance opened #1615 "pcie-rcar-host.c:(.text.fixup+0x4): relocation R_ARM_JUMP24 out of range"
Initially reported with CI: https://builds.tuxbuild.com/26pwTkHBjuMUx794gvqOYxNA0BT/build.log

Starting with commit [6e36203bc14c](https://git.kernel.org/lpieralisi/pci/c/6e36203bc14ce1470ad289ef050eb0fe542ee8b7) ("PCI: rcar: Use PCI_SET_ERROR_RESPONSE after read which triggered an exception") in -next, `ARCH=arm allyesconfig` fails to link with `ld.lld-12`:

[code]

Linking with `ld.bfd` does not

[2022-03-25 04:02] dileks commented on #1613
@nickdesaulniers

With and without patch:
[code]

NOTE: I have commented the `ccflags` line and have re-run my build-script.

[2022-03-25 04:29] dileks commented on #1613
Checking again:
[code]
Attached output of the last `{.rela}.text.rtl92cu_hw_init`.

[llvm-objdump-14_rtl8192cu_lto_o-text_rtl92cu_hw_init.txt](https://github.com/ClangBuiltLinux/linux/files/8347382/llvm-objdump-14_rtl8192cu_lto_o-text_rtl92cu_hw_init.txt)

[llvm-objdump-14_rtl8192cu_lto_o-rela_text_rtl92cu_hw_init.txt](https://github.com/ClangBuiltLinux/linux/files/8347427/llvm-objdump-14_rtl8192c

[2022-03-25 04:34] dileks commented on #1613
Seeing:
[code]

[2022-03-25 05:07] dileks commented on #1613
@nickdesaulniers

I can send you the llvm-objdumps if you desire.
[code]

[2022-03-25 05:15] dileks commented on #1613
For the posterity:
[code]

[ Update 2022-03-25 ] Patch of PeterZ `crypto: x86/chacha20 - Avoid spurious jumps to other function`now in `crypto-2.6.git`:
https://git.kernel.org/pub/scm/linux/kernel/git/herbert/crypto-2.6.git/commit/?id=4327d168515fd8b5b92fa1efdf1d219fb6514460

[2022-03-25 18:16] nathanchance commented on #1615
Hmmm, it seems like the integrated assembler (or lack of) might play into this. Even with LLVM 15, this is reproducible:

[code]

@arndb I see you as a reviewer on that patch, do you have any thoughts around this?

[2022-03-25 21:47] kees commented on #1592
This continues to be a problem, though only with Clang 14+.

[2022-03-25 22:26] nathanchance commented on #1612
It looks like the static function `found()` in `arch/x86/kernel/pmem.c` causes a conflict with the `found` variable in `DEFINE_EXTABLE_TYPE_REG`.

[code]

resolves it for me but I am not sure how the x86 folks would react to that fix. I wonder if this is a bug in LLVM. I will see if I can come up with a trivial reproducer.

[2022-03-25 22:33] nathanchance commented on #1600
Merged into mainline: https://git.kernel.org/linus/a860f266a0e19f271b839451d291a6acf6ddcfe8

[2022-03-25 22:33] #1600 closed, assigned to nathanchance

[2022-03-25 22:34] nathanchance commented on #1418
Merged into mainline: https://git.kernel.org/linus/12318163737cd8808d13faa6e2393774191a6182

[2022-03-25 22:34] #1418 closed, assigned to nobody

[2022-03-25 22:43] nathanchance commented on #1592
I am guessing this is only visible with Clang 14+ because that is when the warning attribute was added, not because of a regression. I could try cherry-picking the warning attribute patch back to Clang 13 to see.

[2022-03-25 22:44] kees commented on #1592
AIUI, In Clang 13 and earlier, it should manifest as a link-time failure?

[2022-03-25 22:48] nathanchance commented on #1592
Hmmm, I don't think so, as `__write_overflow_field()` is defined in `lib/string_helpers.c`, unless you mean a different link-time failure?

[2022-03-26 04:08] nathanchance commented on #1612
[code]

I suspect this is not target specific but I included it anyways.

[2022-03-28 19:24] isanbard opened #1616 "Implicit fall-through error in arch/x86/kvm/cpuid.c"
I'm seeing this error with upstream. The default statement consists of this:

[code]

Should Clang produce a diagnostic in this situation?

[code]

[2022-03-28 19:32] nathanchance commented on #1616
See #636 for some more context around Clang vs. GCC in that area. TL;DR: We believe Clang's version of `-Wimplicit-fallthrough` is more correct than GCC's, so we would not like to match its semantics.

I submitted https://lore.kernel.org/r/20220322152906.112164-1-nathan@kernel.org/ but I forgot to open an issue and it seems like it is not in -next yet...

[2022-03-28 19:53] isanbard commented on #1616
Thanks, @nathanchance. Yeah, I could go either way on whether clang should match gcc with this.

[2022-03-29 16:53] nickdesaulniers opened #1617 "access beyond end of merged section"
`Reported-by: Boris Petkov <bp@alien8.de>`
`ARCH=i386 make CC=clang -j72 -s defconfig all`
Seeing this on mainline with clang-15.
[code]

[2022-03-29 16:56] nickdesaulniers commented on #1615
I think we need to reuse @ardbiesheuvel 's `ldr_va` macro in this inline asm.

[2022-03-29 16:58] nickdesaulniers commented on #1612
I wonder if this is reproducible without LTO?

I wonder what linkage symbols defined with `.set` should have? Maybe LTO could rename them if they're not visiable outside of the TU that defined them?

[2022-03-29 16:59] nathanchance commented on #1612
The trivial reproducer above does not reproduce without full LTO (i.e., regular builds or Thin LTO do not reproduce it).

Hmmm, good point.

[2022-03-29 17:08] ardbiesheuvel commented on #1615
This is an out of range `bl` instruction, which would normally fixed up by the linker, and routed via a veneer.

Any idea why this is not happening here? Maybe because it is a fixup section? Are the attributes set correctly?

[2022-03-29 17:11] nickdesaulniers commented on #1615
cc @smithp35 @MaskRay

[2022-03-29 17:14] nickdesaulniers commented on #1612
It _is_.
[code]
[code]

Honestly, `found` is a pretty basic identifier to have global visibility. Probably both uses of `found` should rename their variables.

[2022-03-29 17:18] nathanchance commented on #1612
Ah, right, same translation unit instead of separate ones, duh :(

Well, at least the integrated assembler and GNU as agree! I will write up a couple of patches that summarizes this and send them along.

[2022-03-29 17:21] nickdesaulniers commented on #1612
Or, I wonder if `extable_type_reg` should be `.altmacro`+`LOCAL`? Or `\@`.
[code]

[2022-03-29 17:25] nathanchance commented on #1612
Although, technically, `found()` in `arch/x86/kernel/pmem.c` is `static`, so it is not really global, right? I should redo my reduction to try and make `cvise` keep that aspect of `pmem.c`.

[2022-03-29 17:37] smithp35 commented on #1615
Can you take a look at the symbols involved? A JUMP24 relocation is for branches (a BL should have a CALL24) and IIRC thunks may not get generated in some cases for symbols that don't have STT_FUNC.

[2022-03-29 17:48] smithp35 commented on #1615
If you can get a reproducer I can try and look at it on Friday. I'm way out of practice building the kernel though so I'll probably need some instructions.

A very naive attempt at reproducing the problem with:
[code]
and
[code]
Resulted in:
[code]
My lld is from January 26th but I don't think anything has changed since then.

[2022-03-29 18:31] nickdesaulniers commented on #1612
Sorry, I mis-spoke when I said

Perhaps, reworded,

[2022-03-29 18:39] nickdesaulniers commented on #1612
[code]

[2022-03-29 18:39] nathanchance commented on #1612
Ack. I re-ran the reduction, which shows something kind of interesting for `clang` vs. `gcc`:

[code]

[2022-03-29 18:44] nickdesaulniers commented on #1612
So for non-LTO, clang behaves differently. But for full LTO clang behaves similarly to GCC. It looks like for clang, `found` is emitted in the symbol table, which is unfortunate, since we don't really care about it after the macro.
[code]

[2022-03-29 18:46] nathanchance commented on #1612
Hmmm right. Your patch works for me, I see the same behavior in `vmlinux` though:

[code]

[2022-03-29 19:56] nickdesaulniers commented on #1612
Thinking more about this: then we should be using local labels here.

[code]
This also happens to fix the LTO issue. Will send the above shortly.

[2022-03-29 20:25] nickdesaulniers commented on #1612
https://lore.kernel.org/lkml/20220329202148.2379697-1-ndesaulniers@google.com/

[2022-03-29 20:29] nickdesaulniers opened #1618 ".incbin, LTO, and incremental compilation"
I haven't had time to triage yet, but there was a reported issue with multiple configs where `.incbin` asm directives are causing incremental compilation surprises with LTO:

https://lore.kernel.org/lkml/164847778869.3060675.8115416881394543419.stgit@devnote2/
https://lore.kernel.org/all/20220321183500.GA4065@pswork/T/#u
https://lore.kernel.org/all/20220327115526.cc4b0ff55fc53c97683c3e4d@kernel.or

[2022-03-29 20:31] nickdesaulniers commented on #1597
commit 4013e26670c5 ("arm64: module: remove (NOLOAD) from linker script")
is now in 5.18-rc1 (when rc1 gets tagged).

So just waiting on the riscv change to hit mainline before closing (though maybe we'll need backports).

[2022-03-29 21:39] nickdesaulniers commented on #1597
riscv accepted: https://git.kernel.org/pub/scm/linux/kernel/git/palmer/linux.git/commit/?id=60210a3d86dc57ce4a76a366e7841dda746a33f7

[2022-03-29 22:18] nathanchance commented on #1617
This is reproducible with `ld 2.32` through `ld 2.38`, so this does not appear to be a regression on the binutils side.

It is not reproducible with `CC=clang-11` but it is with `CC=clang-12`. Bisect points to:

[code]

I'll see if I can reduce something down shortly.

[2022-03-30 00:55] nathanchance commented on #1581
Merged into mainline: https://git.kernel.org/linus/d799769188529abc6cbf035a10087a51f7832b6b

I am not sure this would be an acceptable backport for stable, so I am just going to close this up for now.

[2022-03-30 00:55] #1581 closed, assigned to nobody

[2022-03-30 01:16] nathanchance commented on #1617
cvise spits out:

[code]

[2022-03-30 07:27] ardbiesheuvel commented on #1615
Does this help?
[code]

[2022-03-30 09:51] SHREEDHARBg opened #1619 "I am getting CFI failure"

[2022-03-30 09:53] SHREEDHARBg commented on #1619
h

[2022-03-30 10:01] SHREEDHARBg commented on #1619
[    5.563902] CFI failure (target: tcf_chain_put_by_act.cfi_jt+0x4/0x8):
[    5.563915] WARNING: CPU: 2 PID: 0 at kernel/cfi.c:30 __cfi_check_fail+0x4c/0x54
[    5.563918] Modules linked in: nmtp_plugin microchip_hub thfsplus(O) tntfs(PO) texfat(PO) ecdh_generic ecc dmatest ccm arc4
[    5.563931] (AND OS)CPU: 2 PID: 0 Comm: swapper/2 Tainted: P        W  O      5.4.61-android11-2-gd4a626af17cf-a

[2022-03-30 10:13] SHREEDHARBg opened #1620 "I am getting CFI failure"
Here I am facing cfi failure because of xmit_one function please any one help me out for this one

Below I attached dmesg.

[code]

[2022-03-30 15:58] nathanchance commented on #1620
Is the CFI failure target correct? I do not see anywhere that `tcf_chain_put_by_act()` is called via an indirect call.

[2022-03-30 16:28] nathanchance commented on #1615
@ardbiesheuvel Yes, that diff resolves the error with both LLVM 12 (the original error) and LLVM 15.

[2022-03-30 20:17] nickdesaulniers commented on #1620
cc @samitolvanen

Same, but this is a downstream kernel, based on 5.4.61 it looks like.

I still don't see such call sites as of 5.4.188. Going back to 5.4.61, I still don't see it.

So this is probably an issue with whatever this downstream tree is doing.  @SHREEDHARBg please reopen with a link to your kernel sources that have an indirect call to `tcf_chain_put_by_act` that isn't upstream.

[2022-03-30 20:17] #1620 closed, assigned to nobody

[2022-03-30 21:30] nathanchance opened #1621 "CONFIG_FORTIFY_SOURCE boot issue for msm-4.14"
[Initially reported](https://github.com/llvm/llvm-project/issues/54628) by @Gelbpunkt on the LLVM issue tracker.

On at least one [msm-4.14](https://git.codelinaro.org/clo/la/kernel/msm-4.14) based device, commit [0f0e31cf511d](https://github.com/llvm/llvm-project/commit/0f0e31cf511def3e92244e615b2646c1fd0df0cd) ("Update inline builtin handling to honor gnu inline attribute") in `clang` (included

[2022-03-31 06:12] SHREEDHARBg opened #1622 "I am facing CFI failure issues because of xmit_one()"
Here I am facing cfi failure because of xmit_one function please any one help me out for this one

Below I attached dmesg.

[    5.563902] CFI failure (target: tcf_chain_put_by_act.cfi_jt+0x4/0x8):
[    5.563915] WARNING: CPU: 2 PID: 0 at kernel/cfi.c:30 __cfi_check_fail+0x4c/0x54
[    5.563918] Modules linked in: nmtp_plugin microchip_hub thfsplus(O) tntfs(PO) texfat(PO) ecdh_generic ecc dmatest

[2022-03-31 06:18] SHREEDHARBg opened #1623 "I am facing CFI Failure because of seqos_get_ethtool_stats()"
Here I am facing cfi failure because of seqos_get_ethtool_stats() function please any one help me out for this one

Below I attached dmesg.

[    4.037750] CFI failure (target: dwmac510_set_eee_mode+0x0/0x4):
[    4.037765] WARNING: CPU: 3 PID: 504 at kernel/cfi.c:30 __cfi_check_fail+0x4c/0x54
[    4.037767] Modules linked in: microchip_hub thfsplus(O) tntfs(PO) texfat(PO) ecdh_generic ecc dmatest

[2022-03-31 08:32] mhiramat commented on #1618
I confirmed this happens only if we choose CONFIG_LTO_CLANG_THIN.
Fortunately, the bootconfig could avoid this issue by separating the inline asm as an independent asm file.

https://lore.kernel.org/all/164870615889.127053.9055569952366814752.stgit@devnote2/T/#u

However, since the ``.incbin`` directive is used also for /proc/config.gz and /proc/kheaders.tar.xz, those also be affected by this issu

[2022-03-31 13:36] dileks commented on #1613
Re-checking:
[code]

Looks like `.text.` prefix is removed in case of `section .text.rtl92cu_hw_init`.

UPDATE: For both cases BAD and GOOD the same.

[2022-03-31 13:39] dileks commented on #1613
Attached output of:
[code]

[llvm-objdump-14-Dr-disassemble_symbols-rtl92cu_hw_init_rtl8192cu-lto-o.txt](https://github.com/ClangBuiltLinux/linux/files/8389889/llvm-objdump-14-Dr-disassemble_symbols-rtl92cu_hw_init_rtl8192cu-lto-o.txt)

[2022-03-31 13:52] dileks commented on #1613
Above was with my patch applied and from my today's build.

Here now without (BAD) and with my patch (GOOD):
[code]

[BAD_rtl92cu_hw_init.txt](https://github.com/ClangBuiltLinux/linux/files/8389993/BAD_rtl92cu_hw_init.txt)
[GOOD_rtl92cu_hw_init.txt](https://github.com/ClangBuiltLinux/linux/files/8389995/GOOD_rtl92cu_hw_init.txt)

[2022-03-31 15:31] nathanchance commented on #1622
See Nick's response in #1620.

[2022-03-31 15:31] #1622 closed, assigned to nobody

[2022-03-31 15:31] nathanchance commented on #1623
I do not see `dwmac510_set_eee_mode()` or `seqos_get_ethtool_stats()` in upstream or Android. If you want help with this, you need to post the sources you are working with.

[2022-03-31 22:37] kees commented on #1621
The various Android kernel CONFIG tests will all start failing, so this will still be a problem, unfortunately. Android actually _reverted_ https://git.kernel.org/linus/a52f8a59aef46b59753e583bf4b28fccb069ce64 because of it, preferring to have the CONFIG lie about what was built. :)

Perhaps better might be:

[code]

[2022-03-31 22:40] nathanchance commented on #1621
Ha, CrOS did the same thing:

https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/3308918

That diff seems good to me, @Gelbpunkt @xNombre could you test that change with `CONFIG_FORTIFY_SOURCE=y` and see if you can boot?

[2022-03-31 23:20] kees commented on #1592
Well, well, well! This only manifests with `-fsanitize=array-bounds`.

[2022-04-01 03:52] SHREEDHARBg commented on #1623
![Uploading 16487851421611306246630386619462.jpg…]()

[2022-04-01 04:17] SHREEDHARBg commented on #1623
Hi thanks for giving reply...  I attached my dwmac510_set_eee_mode() function.

static void dwmac510_set_eee_mode(void  ___iomem *mac_base, bool en_tx_lpi_clockgating)
{
       u32 value;

       value = read1(mac_base + SEQOS_GMAC_LPI_STATUS_REG);
value |= SEQOS_GMAC_LPI_CTRL_STATUS_LPIEN | SEQOS_GMAC_LPI_CTRL_STATUS_LPITXA;

if (en_tx_lpi_clockgating)
        value |= SEQOS_GMAC_LPI_CTRL_STATUS_

[2022-04-01 18:21] nickdesaulniers commented on #1623
Specifically, we'd need to see `seqos_get_ethtool_stats`.

[2022-04-01 20:49] nickdesaulniers commented on #1353
@samitolvanen sent https://lore.kernel.org/lkml/20220401201916.1487500-1-samitolvanen@google.com/ to use this in the kernel.

[2022-04-01 22:03] nickdesaulniers commented on #1621
I'm happy to fix the tests to reflect reality.

[2022-04-04 05:52] SHREEDHARBg commented on #1623
static void seqos_get_ethtool_stats(struct net_device *dev, struct ethtool_stats *dummy, u64 *data) { struct seqos_priv *priv = netdev_priv(dev); u32 rx_queues_count = priv->plat->rx_queues_to_use; u32 tx_queues_count = priv->plat->tx_queues_to_use; int i, j = 0; /* If supported, for new GMAC chips expose the MMC counters */ if (priv->plat->hpt_server_mode) { if (priv->dma_cap.rmon) { dwmac510_mmc

[2022-04-04 05:54] SHREEDHARBg commented on #1623
static void seqos_get_ethtool_stats(struct net_device *dev,
struct ethtool_stats *dummy, u64 *data)
{
struct seqos_priv *priv = netdev_priv(dev);
u32 rx_queues_count = priv->plat->rx_queues_to_use;
u32 tx_queues_count = priv->plat->tx_queues_to_use;
int i, j = 0;

 /* If supported, for new GMAC chips expose the MMC counters */
if (priv->plat->hpt_server_mode) {
if (priv->dma_cap.rmon) {
dwmac510_m

[2022-04-04 06:09] #1623 closed, assigned to nobody

[2022-04-04 09:27] #1619 closed, assigned to nobody

[2022-04-04 18:38] Diniboy1123 commented on #1621
Hey,

I am sorry to hop in on the conversation, but I also use the same kernel this issue was originally affected by. Tried your change and my build boots.

[2022-04-04 21:09] nathanchance commented on #1603
I have sent https://lore.kernel.org/r/20220404210804.3537324-1-nathan@kernel.org/ to silence this warning on older versions of clang.

[2022-04-04 22:06] arndb commented on #1603
On Mon, Mar 21, 2022 at 10:57 PM Nick Desaulniers ***@***.***>
wrote:

It looks like that just works around the  issue by making the compiler
provided headers
conform to the kernel coding style. Shouldn't this be fixed by getting
clang to not
warn about this when it happens in system header files? My impression is
that
this is what gcc does, and what clang does without the --std=gnu11 flag.

[2022-04-04 22:12] nickdesaulniers commented on #1603
@arndb see @nathanchance 's [blurb](https://lore.kernel.org/all/20220404210804.3537324-1-nathan@kernel.org/), specifically

originates from a system header, as this deviates from GCC. The
machinery in clang to ignore warnings in macros from system headers is
relatively new in clang (January 2022). When that change was landed, the
code owner of clang was not confident that clang's diagnostic system

[2022-04-05 17:45] nathanchance commented on #1616
Merged into mainline (5.18-rc1): https://git.kernel.org/linus/07ea4ab1f9b83953ff5c3f6ccfb84d581bfe0046

[2022-04-05 17:45] #1616 closed, assigned to nathanchance

[2022-04-05 17:54] nathanchance commented on #514
The workaround is now in 5.18-rc1: https://git.kernel.org/linus/aaeed6ecc1253ce1463fa1aca0b70a4ccbc9fa75

[2022-04-05 17:54] nathanchance commented on #1141
The workaround is now in 5.18-rc1: https://git.kernel.org/linus/aaeed6ecc1253ce1463fa1aca0b70a4ccbc9fa75

[2022-04-05 18:03] nathanchance commented on #1614
Now in -next: https://git.kernel.org/kdave/c/f737c6257f113595fccf51370f4fe23818d95d86

[2022-04-05 21:01] nathanchance commented on #1597
Both arm64 and RISC-V patches are in 5.18-rc1:

https://git.kernel.org/linus/4013e26670c590944abdab56c4fa797527b74325
https://git.kernel.org/linus/60210a3d86dc57ce4a76a366e7841dda746a33f7

The RISC-V change is currently queued for the next round of stable releases of 5.10 and newer, the arm64 one is queued up for 5.15 and newer.

I have sent a backport for all relevant stable versions:

https://lo

[2022-04-05 21:01] #1597 closed, assigned to MaskRay

[2022-04-05 22:07] nickdesaulniers commented on #1290
So I would like to eventually remove the dependency on CC_CAN_LINK from UAPI_HEADER_TEST; I suspect that will involved getting the UAPI_HEADER_TESTs to pass with `-nostdinc`. Once the circular dependency between kernel headers and libc headers is resolved, then the kconfig can be fixed.

For now, we need to pass a `--sysroot=` and potentially a `--target`. See how I did this for Android with bioni

[2022-04-07 16:55] nickdesaulniers commented on #1583
https://lore.kernel.org/lkml/164934565464.389.2546833245037255032.tip-bot2@tip-bot2/
Look's like meat's back on the menu, boys.

[2022-04-08 17:21] nathanchance commented on #1507
This problem was also reported by Will Deacon:

https://lore.kernel.org/20220408115407.GA27685@willie-the-truck/

I suggested a diff to resolve it:

https://lore.kernel.org/YlBuH2ScVeRO93AG@dev-arch.thelio-3990X/

[2022-04-08 21:09] nathanchance commented on #1507
Further information: https://lore.kernel.org/YlCA5PoIjF6nhwYj@dev-arch.thelio-3990X/

[2022-04-08 21:11] nickdesaulniers commented on #1507
please cc the ML!

[2022-04-08 21:13] nathanchance commented on #1507
Sorry, I did for [this comment](https://lore.kernel.org/YlBPGFs2PMNX6est@dev-arch.thelio-3990X/) but then I replied to Will in a separate subthread and forgot to do it there :( will make sure to include it for any subsequent follow ups and patches.

[2022-04-09 21:48] dileks commented on #1574
`LLVM 14.0.1 Schedule and Release Updates`

@tstellar says:

Link: https://discourse.llvm.org/t/llvm-14-0-1-schedule-and-release-updates/61227

[2022-04-11 00:43] nickdesaulniers commented on #1574
Thanks as always for the heads up. There's an interesting discussion on that discourse thread about changing the release model; we should see what comes of that discussion.

[2022-04-11 16:08] nathanchance commented on #1612
v5.18-rc2: https://git.kernel.org/linus/334865b2915c33080624e0d06f1c3e917036472c

On its way to 5.17: https://git.kernel.org/stable/stable-queue/c/ae7f91a8bb19413c160304695e4ecdf9b0cab8ff

[2022-04-11 16:08] #1612 closed, assigned to nickdesaulniers

[2022-04-11 20:21] jgouly opened #1624 "relocation R_AARCH64_ADR_PREL_PG_HI21 out of range"
Building with the attached config fails with:
[code]

I tried with multiple Linux kernel versions 5.18-rc2, 5.17, 5.16, 5.14.

I built LLVM llvmorg-13.0.0, that worked, and llvmorg-14.0.0 failed.

I have hit this when compiling on my M1 machine. I will try to reproduce it on another machine too, and bisect between the LLVM versions.
[config.txt](https://github.com/ClangBuiltLinux/linux/files/84674

[2022-04-12 07:18] dileks commented on #1574
There was some confusion - at least it might be only me - about `libclang ABI (stabilisation) and versioning`.

Link: https://discourse.llvm.org/t/llvm-14-0-1-schedule-and-release-updates/61227/

Here is what @tstellar says to me:

Link below says:

Link: https://releases.llvm.org/13.0.0/tools/clang/docs/ReleaseNotes.html#libclang

[2022-04-12 12:25] jgouly commented on #1624
I bisected this to: https://github.com/llvm/llvm-project/commit/aabe901d57d6df4cd2786163359a7b2a7aae8c32

[2022-04-12 15:01] nathanchance commented on #1624
cc @MaskRay

It looks like the kernel change that exposed this is commit [13150bc5416f](https://git.kernel.org/linus/13150bc5416f45234c955e5bed91623d178c6117) ("module: use hidden visibility for weak symbol references"), at least according to https://lore.kernel.org/202202040710.uRW0o2ty-lkp@intel.com/, which has the same error basically.

[2022-04-12 16:31] jgouly commented on #1624
I have no knowledge of LLD, I've just been hacking around and trying to understand the issue.

[code]

This patch fixes the issue for me. The Symbol originally has `STB_WEAK` and `STV_HIDDEN`, `computeBinding()` then overrides that to `STB_LOCAL`.

Or alternative, in Linux:
[code]

I don't know the difference between hidden and protected (yet).

[2022-04-12 18:44] nickdesaulniers commented on #1215
This is fixed now in clang-15.  I've [requested a backport](https://github.com/llvm/llvm-project/issues/52787#issuecomment-1097076716) to clang-14.0.1 (we'll see if that request is accepted or not).

I think we still might want to disable XFS for LTO (or rather disable LTO on XFS) at least for older llvm versions? Maybe @arndb 's [patch](https://github.com/ClangBuiltLinux/linux/issues/1215#issueco

[2022-04-12 18:55] nathanchance commented on #1215
I would rather see something along the lines of:

[code]

as it better addresses the issue. XFS was not the only driver to trigger this (https://github.com/ClangBuiltLinux/linux/issues/1516) so adding something there feels wrong. We can talk about that once the backport request is addressed.

[2022-04-13 18:18] nathanchance commented on #1507
I have sent https://lore.kernel.org/20220413181420.3522187-1-nathan@kernel.org/.

[2022-04-14 00:57] MaskRay commented on #1624
Sorry for the breakage related to hidden undefined weak symbols. I think this is a regression similar to another for ppc64 https://reviews.llvm.org/D119787 . There wasn't sufficient hidden undefined weak symbols tests and without interesting usage (like this one from Linux kernel) I'd be difficult to catch such problems beforehand.

There was a minor optimization related to reducing the number of

[2022-04-14 01:01] MaskRay commented on #1624
Side note: I'd suggest avoid weak references if you can: https://maskray.me/blog/2021-04-25-weak-symbol#weak-references

Many cases can be emulated by weak definitions. Weak references require very careful cooperation among compiler/linker/human assembly writer ;-)

[2022-04-14 10:49] jgouly commented on #1624
@MaskRay Thanks for looking into this.

I tried the patch from your comment, and it does fix the issue for me.

[2022-04-14 15:00] nathanchance commented on #1507
Patch accepted for the current merge window: https://git.kernel.org/arm64/c/45bd8951806eb5e857772c593de021b09057950d

[2022-04-14 18:32] #1624 closed, assigned to MaskRay

[2022-04-14 18:35] MaskRay commented on #1624
@jgouly Thanks for the quick verification! Created a release/14.x backport request as shown above :)

[2022-04-14 19:55] nathanchance commented on #1614
Merged into mainline: https://git.kernel.org/linus/6d4a6b515c39f1f8763093e0f828959b2fbc2f45

This should go back to stable automatically.

[2022-04-14 19:55] #1614 closed, assigned to nathanchance

[2022-04-18 08:03] dileks commented on #1574
`LLVM 14.0.1 Release`

[1] https://discourse.llvm.org/t/llvm-14-0-1-release/61700

[2022-04-19 19:41] nathanchance commented on #1321
As `CONFIG_UBSAN_OBJECT_SIZE` [has been removed from the kernel](https://git.kernel.org/linus/69d0db01e210e07fe915e5da91b54a867cda040f), I am going to close this up, as there are no more warnings as a result of it.

[2022-04-19 19:41] #1321 closed, assigned to nobody

[2022-04-19 19:44] nathanchance commented on #1002
This is fixed with https://git.kernel.org/linus/281d0c962752fb40866dd8d4cade68656f34bd1f.

#1583 is tracking the `!X86_32` in `CONFIG_FORTIFY_SOURCE`'s entry.

[2022-04-19 19:44] #1002 closed

[2022-04-19 21:29] nathanchance commented on #1594
Commit [d79976918852](https://git.kernel.org/linus/d799769188529abc6cbf035a10087a51f7832b6b) ("powerpc/64: Add UADDR64 relocation support"), which fixed #1581, also resolves this issue. I have started a thread about whether or not that change is suitable for stable: https://lore.kernel.org/Yl8pNxSGUgeHZ1FT@dev-arch.thelio-3990X/

[2022-04-19 21:29] #1594 closed, assigned to nobody

[2022-04-19 21:31] nathanchance commented on #1581
As [d799769188529abc6cbf035a10087a51f7832b6b](https://git.kernel.org/linus/d799769188529abc6cbf035a10087a51f7832b6b) also resolves #1594, I have started [a thread](https://lore.kernel.org/Yl8pNxSGUgeHZ1FT@dev-arch.thelio-3990X/) about whether or not applying that change to stable is appropriate.

[2022-04-22 01:17] nickdesaulniers opened #1625 "UBSAN_TRAP breaks CORESIGHT_SOURCE_ETM4X"
NXP reported that:
[code]
Perhaps UBSAN_TRAP is doing something with that expression to make `__builtin_constant_p` fail somewhere (like in `read_etm4x_sysreg_offset` from the trace).

[2022-04-22 01:46] nathanchance commented on #1625
#1310?

[2022-04-22 17:52] #1625 closed, assigned to nobody

[2022-04-22 17:54] nickdesaulniers commented on #1310
In #1625 I was able to determine that this is reproducible with:
[code]

@arndb was there ever a v3?

[2022-04-22 17:57] nickdesaulniers commented on #1310
Looks like someone else sent a v3, but that also had feedback that AFAICT was never followed up on.
https://lore.kernel.org/lkml/1632652550-26048-1-git-send-email-quic_taozha@quicinc.com/

[2022-04-22 23:15] nathanchance commented on #1507
Merged into mainline: https://git.kernel.org/linus/45bd8951806eb5e857772c593de021b09057950d

[2022-04-22 23:15] #1507 closed, assigned to nathanchance

[2022-04-26 02:11] 0x647262 opened #1626 "INIT_STACK_ALL_ZERO - Framework Laptop system freezes (kernel oops?) on boot"
If this is not the correct place to report this bug, would someone be able to point me to the correct mailing list it should be reported to? I'm not 100% sure if this is Clang specific, since GCC 11.2.0 (as far as I am aware) does not trigger `CC_HAS_AUTO_VAR_INIT_ZERO` when building a kernel config.

**Hardware:**

Framework Laptop (BIOS: 3.07)

[code]

**OS:**

Arch Linux

**System Information:*

[2022-04-26 04:48] nickdesaulniers commented on #1626
Thanks for reporting. I didn't see anything suspicious in the logs.  We should test your config in QEMU to see if the hang is easily reproducible.

cc @isanbard @kees

[2022-04-26 14:39] torvic9 commented on #1626
Not sure if I am just very confused, but... the dmesg output doesn't fit the config you posted.
For example, the config has BFQ and Zswap disabled, but they appear as enabled in your log.
(The config itself looks quite small similar to defconfig.)

Now, using Arch's system clang 13.0.1 and `INIT_STACK_ALL_ZERO`, my 5.17 compiles and boots just fine on this Kaby Lake laptop, but it uses a way more

[2022-04-26 14:43] nakos937 opened #1627 "LTO on ARM 32bit ARM system fails"
Hello,
My company has a relatively old AT91-based embedded product, and it only has 4 megabytes of flash to boot the kernel from, so I started experimenting with LTO for size reduction and possible performance improvement.
I have ran into an issue - see the attached screenshot.
I suspect the linker incorrectly identifies these symbols in the kernel de-compressor routine as unused, and strips them

[2022-04-26 14:45] nathanchance commented on #1626
I have `CONFIG_INIT_STACK_ALL_ZERO=y` in the configuration that I boot test on four different machines (my main workstation and three test systems) with Arch Linux and none of them have issues with booting (although I use tip of tree LLVM for those builds). I'll see if I can reproduce this in QEMU.

Just to confirm, changing `CONFIG_INIT_STACK_ALL_ZERO` to `CONFIG_INIT_STACK_NONE` allows the syste

[2022-04-26 15:19] nathanchance commented on #1627
I think the orphan section warnings are the root cause of the issue? Does this help?

[code]

Alternatively, disabling LTO for the compressor might work?

[code]

[2022-04-26 15:42] nakos937 commented on #1627
Hello, Thanks for your swift response. I'll try both and get back to you with results.

[2022-04-26 15:54] nakos937 commented on #1627
First suggestion did not work, it only skipped those linker warnings, bu produced the same error message after.
Disabling LTO with the flags you specified works, and I dont think LTO-ing the kernel decompressor routine would improve performance anywhere.
Thanks for your help.
Regards,
Akos

[2022-04-26 17:30] nickdesaulniers commented on #1627
So...the resulting image boots? That's news if so, since we haven't supported (or tried) LTO on arm32.

[2022-04-26 17:57] nakos937 commented on #1627
It does. Not sure if it is stable on the long-term. Will be deployed to 0-24 production after meticulous testing, I'll get back with my experience if you are interested.

[2022-04-26 19:18] nathanchance commented on #1626
Hmmm, I cannot reproduce this in QEMU:

[code]

That could be due to a difference in hardware, meaning I do not load a driver that is problematic, although I would expect to see problems sooner, as the modules should be loaded during the initrd stage.

[2022-04-26 22:48] 0x647262 commented on #1626
For example, the config has BFQ and Zswap disabled, but they appear as enabled in your log.
(The config itself looks quite small similar to defconfig.)

Sorry, about that... Grabbed the wrong config. I've updated the original report with the correct one.

I installed the (INIT_STACK_ALL_ZERO) kernel on my desktop (AMD Ryzen 7 1700) and an older desktop I have sitting around (AMD FX8350), and both

[2022-04-26 23:30] nickdesaulniers commented on #1627
We should upstream Nathan's patch if it works.

[2022-04-26 23:38] nickdesaulniers commented on #1626
The next steps would be to find the object file affected by this.

First steps, you can use
[code]
in various directories' Makefiles.  Then, once we find which directory, we can pare this down further to just:
[code]
to isolate the translation unit.  Then finally, we can sprinkle `__attribute((uninitialized))` in that TU to find which variables are problematic.

This will probably take multiple bu

[2022-04-27 00:08] nathanchance commented on #1626
@0x647262 If you want help doing that with Arch's PKGBUILD, let me know, as I have done it before.

[2022-04-27 05:23] nathanchance commented on #1215
It sounds like the backport request was rejected. Do we want to try to add a denylist of configs plus a version check or just the version check to `CONFIG_LTO_CLANG_FULL`?

[2022-04-27 05:25] nathanchance commented on #1574
LLVM 14.0.2: https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.2

[2022-04-27 07:42] nakos937 commented on #1627
Keep in mind that the alpha architecture has exactly the same code for the de-compressor routine, I would eat my hat if it wouldn't behave the same. (LTO-ig the whole kernel just fine then dying at the compression part)
I'll test that out too if that helps, although that is a long-dead arch and is not even used in embedded systems.
But for the sake of clarity / OCD, if we want to upstream a patch,

[2022-04-27 16:09] nathanchance commented on #1627
It does for me (with `multi_v7_defconfig` at least). Although we should probably understand why the symbol type changes with LTO...

[code]

LLVM does not have an Alpha backend as far as I can tell, so it is not really relevant since the only other option for LTO would be GCC, which is not upstream.

[2022-04-27 17:19] 0x647262 commented on #1626
@nickdesaulniers

After making those changes to a subdir's Makefile, what specifically will I be looking for during compilation / on boot?

No problem! It might not be the fastest turnaround, but I'm happy to work though this issue.

@nathanchance Your help would be appreciated, since my PKGBUILD skills are a tad rusty.

[2022-04-27 17:25] nathanchance commented on #1626
I'll do a write up on this process tomorrow then!

[2022-04-27 19:34] nathanchance commented on #1626
Sorry, forgot to answer this. You are specifically looking for the issue to be resolved, as that is basically turning off `CONFIG_INIT_STACK_ALL_ZERO` for the particular translation unit. Once we have gotten down to the particular translation unit that is problematic, we can bisect the specific functions (if necessary).