[2021-01-05 20:46] arndb opened #1238 "objtool: warning: objtool: asan.module_ctor()+0xc: call without frame pointer save/setup"
I see this in basically every file for some configurations:

init/noinitramfs.o: warning: objtool: asan.module_ctor()+0xc: call without frame pointer save/setup
init/noinitramfs.o: warning: objtool: asan.module_dtor()+0xc: call without frame pointer save/setup
init/main.o: warning: objtool: asan.module_ctor()+0xc: call without frame pointer save/setup
init/main.o: warning: objtool: asan.module_dto

[2021-01-05 20:56] arndb opened #1239 "objtool: warning about modified stack frame"
There are four of these that I see occasionally:

mm/vmscan.o: warning: objtool: shrink_node()+0x540: sibling call from callable instruction with modified stack frame
drivers/spi/spi-rockchip.o: warning: objtool: rockchip_spi_transfer_one()+0x2e0: sibling call from callable instruction with modified stack frame
drivers/gpu/drm/i915/gem/i915_gem_execbuffer.o: warning: objtool: check_relocations()+0

[2021-01-05 21:00] arndb commented on #1234
Yes, I only looked for issues with 'objtool' in the subject, so I did not find that.

[2021-01-05 21:07] arndb commented on #1233
I no longer see the output referenced in #955, in sys_ia32.c, only in kernel/trace/, so I think that's a slightly different problem.

[2021-01-05 21:27] nickdesaulniers commented on #1237
dupe of #876

[2021-01-05 21:30] nickdesaulniers commented on #1233
It's the same, maybe different files, but it's the same root cause.

[2021-01-05 21:30] #1233 closed

[2021-01-05 21:30] #1234 closed

[2021-01-05 21:34] arndb commented on #1209
I see a second produce a similar warning

arch/x86/kernel/ftrace_64.o: warning: objtool: missing symbol for insn at offset 0x16

[0xE5F582C9-config.gz](https://github.com/ClangBuiltLinux/linux/files/5772711/0xE5F582C9-config.gz)

[2021-01-05 21:39] nickdesaulniers commented on #1220
Thanks @topperc @lenary !

[2021-01-05 21:39] #1220 closed

[2021-01-05 21:48] lenary commented on #1220
I coded the break, @topperc coded the fix, so all the thanks should go in his direction.

[2021-01-05 22:05] jpoimboe commented on #1192
The warning is caused by some unusual code which is saving/restoring the stack pointer:
[code]
There are several cases of saving/restoring %rsp in that function, for seemingly no reason.  For example:
[code]

[2021-01-05 22:20] jpoimboe commented on #621
This one looks familiar -- the switch statement jump table has dead code entries which point to the nop past the end of the function.  I think there was another issue open for this which was recently closed today because it's fixed in clang 11? (sorry I don't have the issue #).

[2021-01-05 22:23] nathanchance commented on #621
#611 was the issue. Odd since this was reproduced with ToT LLVM :/

[2021-01-05 22:58] nickdesaulniers commented on #701
Looks like the CrOS issue was resolved by https://lore.kernel.org/linux-arm-kernel/20200608205711.109418-1-ndesaulniers@google.com/ / https://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git/commit/?id=625412c210fb, then the CrOS LLVM revert was dropped. GCC bug for arm32: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=69690.

[2021-01-05 23:12] nickdesaulniers commented on #1209
HJL posted a patch for GAS to omit STT_SECTION symbols as well: https://sourceware.org/pipermail/binutils/2020-December/114671.html

[2021-01-05 23:28] jpoimboe commented on #1209
This one's slightly different.
[code]
The instruction at 0x16 is inside the `__fentry__` function, but objtool can't figure that out because its red-black tree of symbols is sorted by offset and it gets confused by the fact that the NOTYPE symbols overlap the function.

This will probably need an objtool fix.

[2021-01-06 07:09] dileks commented on #1136
`LLVM` version `11.0.1` final released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-11.0.1

[2021-01-06 20:15] nathanchance commented on #811
Well that was a lie... but hey, better late than never :)

* `ppc64le_defconfig` or `powernv_defconfig` + `CONFIG_RELOCATABLE=y` is still enough to reproduce this issue with latest LLVM.
* @MaskRay 's diff above continues to build and link the kernel just fine.
* Booting fails prior to https://github.com/llvm/llvm-project/commit/2fc704a0a529dd7eba7566a293f981a86bfa5c3e. In other words, ToT LLVM bo

[2021-01-06 20:39] MaskRay commented on #1206
From binutils 2.36 onwards, GNU ld will support mixed SHF_LINK_ORDER and non-SHF_LINK_ORDER input sections in an output section https://sourceware.org/bugzilla/show_bug.cgi?id=26256

[2021-01-06 20:59] nathanchance commented on #839
I will be posting `-rc` builds results in #1228 and issues like it from now on.

[2021-01-06 20:59] #839 closed

[2021-01-06 22:18] nickdesaulniers commented on #1136
going to close this now that the final v11 release is done. Let's follow up in a v12 bug?

[2021-01-06 22:50] dileks commented on #1136
@nickdesaulniers
OK

[2021-01-06 23:33] MaskRay commented on #1210
I'll post a kernel patch.

[code]

With top-of-trunk clang, this reproduces
[code]

[2021-01-06 23:51] MaskRay commented on #1210
[code]

[2021-01-07 00:59] dileks commented on #1210
Patch submitted: https://lore.kernel.org/lkml/20210107001739.1321725-1-maskray@google.com/

[2021-01-07 02:19] MaskRay commented on #811
From `scripts/recordmcount.c` `case EM_PPC64:  reltype = R_PPC64_ADDR64; break;`, I don't understand why the text relocation is only a problem for ppc64. If other architectures can have such absolute relocations in non-SHF_WRITE sections, they should have text relocations as well.

[2021-01-07 03:43] jpoimboe commented on #1209
Fix for this 2nd issue posted:
https://lkml.kernel.org/r/9638ee49574226218d978ce7e26f7a107021f509.1609990368.git.jpoimboe@redhat.com

[2021-01-07 07:26] mshockwave commented on #1225
Managed to fix this and #1224 pretty easily, but since this will be a linux kernel change, should I just open a new branch (probably `m68k`) in this repository to host my changes?

[2021-01-07 07:37] mshockwave commented on #1226
Managed to fix this in Clang with no problem. Nevertheless after fixing this I bumped into a bunch of "unrecognized inline asm syntax XYZ" problems screaming from the assembler - namely m68k's MC part since m68k is using integrated assembler now (or just temporarily switching back to GNU AS by giving `-fno-integrated-as` to Clang if you want to bypass any assembly related issues).

I will close th

[2021-01-07 07:38] nathanchance commented on #1225
Sure. That will make it easy for us to test and review before they get sent to the mailing list.

[2021-01-07 07:51] MaskRay commented on #1238
Related to #955.

The compiler synthesized functions may not respect some attributes, like `"frame-pointer"="none"`(TargetOptions::DisableFramePointerElim), dso_local (recent R_386_PLT32), and many others (x86 IBT/aarch64 BTI directly come into mind). For important ones, e.g. dso_local, we can use a module metadata. But for various random features, investing a module metadata for each seems too bu

[2021-01-07 18:29] nickdesaulniers commented on #1192
cc @topperc any idea what might cause `%rsp` to be spilled/reloaded? It doesn't look like it's being used as a GPR (I would have guessed maybe register pressure).

[2021-01-07 18:45] topperc commented on #1192
Can you provide me pre-processed source code and the clang command line so I can take look?

[2021-01-07 19:33] nickdesaulniers opened #1240 "ipq806x_gmac_probe() falls through to next function phy_modes()"
I've seen two 0day bot reports:
drivers/net/ethernet/stmicro/stmmac/dwmac-ipq806x.o: warning: objtool: ipq806x_gmac_probe() falls through to next function phy_modes()

on x86_64 randconfig builds.

https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/thread/AS4WBQ24EO47AINWHVRSJVRXEFBRZ2DD/

config: https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/message/AS4WBQ24EO47AINWHVRSJV

[2021-01-07 20:41] dileks commented on #1210
Patch v2 submitted: https://lore.kernel.org/lkml/20210107185555.2781221-1-maskray@google.com/

[2021-01-07 20:42] arndb commented on #256
The problem here is that ptrs_per_p4d is not a compile-time constant on x86 when CONFIG_X86_5LEVEL is set. I don't know how it's possible to compiles this with gcc though.

[2021-01-07 21:29] nickdesaulniers commented on #1192
This seems very specific to clang-10 or clang-11; I can't repro with ToT LLVM (clang-12), but can when I checkout+build origin/release/11.x.  So probably going to close at wontfix.  We can run a bisection on upstream LLVM to see where the fix came from.

[2021-01-07 22:21] nickdesaulniers commented on #1240
cvise didn't converge, creduce produced:
[code]
Maybe the `unreachable` in `ipq806x_gmac_probe` is somehow always true?

[2021-01-07 22:35] arndb commented on #256
I sent a patch: https://lore.kernel.org/lkml/20210107223424.4135538-1-arnd@kernel.org/T/#u

[2021-01-07 23:59] nathanchance commented on #1232
Accepted: https://git.kernel.org/mips/c/d422c6c0644bccbb1ebeefffa51f35cec3019517

[2021-01-08 00:00] nathanchance commented on #787
One case was missed, which has now been accepted. I am not going to bother reopening this issue: https://git.kernel.org/mips/c/c58734eee6a2151ba033c0dcb31902c89e310374

[2021-01-08 00:00] nathanchance commented on #807
Patch accepted: https://git.kernel.org/mips/c/c6f2a9e17b9bef7677caddb1626c2402f3e9d2bd

[2021-01-08 00:06] nathanchance commented on #256
Because this is now relevant again due to `CONFIG_UBSAN_UNSIGNED_OVERFLOW`, I am reopening.

I agree with Arnd's patch, the reduction makes it pretty obvious although I am still confused as to how this code works in the current state without that `CONFIG_`: https://github.com/nathanchance/creduce-files/tree/7c5b59c29fdb94e558929d100fdb2d7a3f9c709c/cbl-256-ubsan

[2021-01-08 01:17] nickdesaulniers commented on #1225
Reopening until this is fixed in the upstream linux kernel proper.

[2021-01-08 01:19] nickdesaulniers commented on #1224
Reopening until this is fixed in the upstream linux kernel proper.

Note: it's probably important to support `-ffixed-a2`: the kernel must be reserving it for some global storage of some value.  Disabling that flag may break the kernel at runtime.

Also, `CONFIG_CC_IS_GCC` should be used rather than "not clang."

[2021-01-08 04:30] nathanchance opened #1241 "Crash when building ARCH=mips 32r6_defconfig"
[code]

This is related to `-g`. `cvise` spits out

[code]

with [this interestingness test](https://github.com/nathanchance/creduce-files/tree/9371e7c3b22f1a8ee19b3b4b480a593aff90d3b0/cbl-1241).

This appears to be an LLVM 11 regression as `llvmorg-11-init` is fine but `llvmorg-12-init` is not.

[code]

Reported upstream: https://bugs.llvm.org/show_bug.cgi?id=48695

[2021-01-08 19:14] mshockwave commented on #1226
This issue is now fixed in https://github.com/M680x0/M680x0-mono-repo. Please (force) pull that repo to get the update

[2021-01-08 19:14] #1226 closed

[2021-01-08 19:24] mshockwave opened #1242 "invalid operand in line asm '.ascii ".... $0 ..."' when cross compiled with m68k"
When cross compile with m68k:
[code]

A tons of error messages similar to the one below were thrown from `scripts/mod/devicetable-offsets.c`:
[code]
This might be caused by the fact that the current M68k LLVM assembler can't handle the `$0` placeholder or even the `ascii` directive properly.

[2021-01-08 20:04] nickdesaulniers commented on #1242
cc @jcai19 who was just looking into the `.ascii` directive.

[2021-01-08 20:29] nathanchance commented on #1218
Patch appears to be accepted: https://git.kernel.org/powerpc/c/3ce47d95b734

[2021-01-08 21:02] nickdesaulniers commented on #1242
@mshockwave can you test https://reviews.llvm.org/D91460 or ensure you tested with that commit?

[2021-01-08 22:11] nathanchance opened #1243 "ld.lld: error: undefined symbol: __bad_mask in gpi_update_reg"
When `CONFIG_UBSAN_UNSIGNED_OVERFLOW` + `CONFIG_QCOM_GPI_DMA`  are enabled:

[code]

Marking `gpi_update_reg` as `__always_inline` fixes it, although I am not sure if that is a proper fix?

[code]

cvise spits out

[code]

in case this is a UBSAN bug.

cc @kees

[2021-01-08 22:42] nickdesaulniers commented on #811
reported again here: https://gitlab.com/cki-project/pipeline-definition/-/merge_requests/1085

[2021-01-08 23:55] nathanchance commented on #1230
Fixed: https://git.kernel.org/torvalds/c/44362a3c353a

[2021-01-08 23:55] #1230 closed

[2021-01-08 23:57] nathanchance commented on #1216
Kernel patch has been merged: https://git.kernel.org/linus/f65cf84ee769767536dc367acc9568ddb6e4c9f4

[2021-01-10 00:26] nathanchance opened #1244 "powerpc vdso32 does not like CROSS_COMPILE=powerpc64le-linux-gnu-"
This might be more of a "Doctor, it hurts when I do this. So don't do that" issue but we ran into this with `tuxmake` (https://gitlab.com/Linaro/tuxmake/-/issues/108) so I feel it is worth filing. If anyone disagrees, feel free to close :)

[code]

Using either `CROSS_COMPILE=powerpc64-linux-gnu-` or `CROSS_COMPILE=powerpc-linux-gnu-` fixes it.

Using `KCFLAGS=-v` reveals that `powerpc64le-linux-g

[2021-01-10 04:26] nathanchance commented on #1244
[code]

This fixes it. Is it worth pushing to Phabricator for review? I can write a few tests in `clang/test/Driver/linux-as.c` and `clang/test/Driver/ppc-features.cpp`.

[2021-01-10 05:16] nathanchance commented on #1244
Tentative patch:

[code]

[2021-01-10 09:01] bwendling commented on #1215
The `xfs_bmap.o` module is mangled. If you look at the disassembly, you have this function:

[code]

Note `blockaddress(@xfs_iread_bmbt_block, %73)` is referencing a block in another function.

[2021-01-10 20:11] nathanchance commented on #1218
Merged into mainline: https://git.kernel.org/linus/3ce47d95b7346dcafd9bed3556a8d072cb2b8571

[2021-01-10 20:11] #1218 closed

[2021-01-10 21:14] nathanchance commented on #665
Fixed independently: https://git.kernel.org/linus/cb5d4c465f31bc44b8bbd4934678c2b140a2ad29

[2021-01-10 21:14] #665 closed

[2021-01-11 02:12] nathanchance opened #1245 "undefined symbol: __ubsan_handle_alignment_assumption"
[code]

I assume this function needs to be defined and added to `lib/ubsan.c`?

cc @kees

[2021-01-11 17:38] nickdesaulniers commented on #1244
Can you include an example from a GCC invocation with `-###` (as you've done with clang)?

Patch should be good.

[2021-01-11 18:09] nickdesaulniers commented on #1245
I assume so. compiler-rt/lib/ubsan/ubsan_handlers.cpp in llvm-project has an example (it defers to `handleAlignmentAssumptionImpl`).

[2021-01-11 18:10] nickdesaulniers commented on #1242
Also, @mshockwave can you preprocess the file for a reduced test case? `make CC=clang <path/to/file.i>` should work.

[2021-01-11 18:18] nickdesaulniers opened #1246 "call to __ubsan_handle_add_overflow() with UACCESS enabled"
via KernelCI:
[code]
for x86_64 allmodconfig.  This is related to stac/clac guards.

[2021-01-11 18:24] nickdesaulniers opened #1247 "using r15 results in unpredictable behaviour"
I thought we already had a bug open for this...but refiling anyways.

KernelCI reports for 32b arm allmodconfig:
[code]

[2021-01-11 18:38] nickdesaulniers commented on #732
Reopening. KernelCI is reporting that this is still broken for Clang-10 (aspeed_g5_defconfig).  Do we want to mark some config as broken unless clang version > 10?

[2021-01-11 18:42] nickdesaulniers opened #1248 "-Wcompare-distinct-pointer-types in drivers/spi/spi-cadence-quadspi.c"
kernelci reports:
[code]
for arm64 defconfigs.

[2021-01-11 18:44] nickdesaulniers opened #1249 "unsupported GNU_PROPERTY_TYPE in drivers/media/tuners/tuner-types.ko"
similar to #1054

kernelci reports:
[code]
for arm64 defconfigs.

[2021-01-11 18:50] nathanchance commented on #732
I don't know what we would disable. It might have been related to `CONFIG_VMSPLIT_2G`  but I never got the chance to confirm it plus I think that disabling the selection of it is just going to result in a silently broken kernel.

[2021-01-11 18:51] nathanchance commented on #1249
Isn't this #1054?

[2021-01-11 18:53] nathanchance commented on #1249
Wow I did not read the actual body, sorry...

[2021-01-11 19:00] nickdesaulniers opened #1250 "Unknown symbol _GLOBAL_OFFSET_TABLE_ loading kernel modules"
Reported-by: Marco Elver <elver@google.com>

cc @melver

[code]
[clang-12-config.txt](https://github.com/ClangBuiltLinux/linux/files/5797786/clang-12-config.txt)

We should probably bisect LLVM to find which config introduced this regression.

[2021-01-11 19:03] nickdesaulniers commented on #1231
@gwelymernans can you please help test https://reviews.llvm.org/D93948 to see if it helps resolve this particular issue?  Looks to me like it might?

[2021-01-11 19:06] nickdesaulniers commented on #732
Isn't this related to CONFIG_ARM_UNWIND though?

[2021-01-11 19:08] nathanchance commented on #1248
Someone sent a patch independently that has been picked up, it should be in the next `-next` version: https://git.kernel.org/broonie/spi/c/2ef0170e90391f1adb31c449059b8efdc923707c

[2021-01-11 19:09] nickdesaulniers opened #1251 "malformed R_MIPS_{HI16,LO16} with LLVM"
from LKML discussion: https://lore.kernel.org/linux-mips/20210109171058.497636-1-alobakin@pm.me/

It seems like there's potentially a malformed R_MIPS_HI16/R_MIPS_LO16 pair of relocations being generated.

[2021-01-11 19:09] nathanchance commented on #1250
Is there a relatively quick way to test this in QEMU? I do not really see much documentation for how to get kernel modules into QEMU and what I do see seems decently involved. I have used [this article](https://www.collabora.com/news-and-blog/blog/2017/01/16/setting-up-qemu-kvm-for-kernel-development/) to boot a Debian userspace but I am not sure what to do about the kernel modules. I do not mind

[2021-01-11 19:13] samitolvanen commented on #1250
I've found it easiest to run `make modules_install`, build a filesystem image from the output, and then mount it to /lib/modules in my QEMU init script.

FWIW, modules load fine for me with ToT Clang. I wonder if this is specific to the test modules in lib?

[2021-01-11 19:16] nickdesaulniers commented on #1250
We should be able to run `llvm-readelf -s lib/test_list_sort.ko lib/test_strscpy.ko` and see `U` (undefined) reference to the symbol `_GLOBAL_OFFSET_TABLE_`; no boot testing required.

[2021-01-11 19:55] jcai19 commented on #975
Applied to mainline https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arm/kernel/iwmmxt.S?h=v5.11-rc3&id=3c9f5708b7aed6a963e2aefccbd1854802de163e

[2021-01-11 20:16] #975 closed

[2021-01-11 20:16] nathanchance commented on #1244
Done and patch submitted: https://reviews.llvm.org/D94442

[2021-01-11 20:32] melver commented on #1250
On Mon, Jan 11, 2021 at 11:16AM -0800, Nick Desaulniers wrote:

Nice, this seems to be all we need to verify:

Clang 12:

[code]

Clang 11:

[code]

[2021-01-11 20:40] nickdesaulniers commented on #1209
v3: https://lore.kernel.org/lkml/20210111203807.3547278-1-ndesaulniers@google.com/T/#u

[2021-01-11 20:46] nathanchance opened #1252 "Failed assertion in drivers/char/random.c with -fprofile-generate"
While testing @gwelymernans 's [PGO patch](https://lore.kernel.org/lkml/20210111081821.3041587-1-morbo@google.com/), I observe the following assertion failure:

[code]

`cvise` spuits out:

[code]

with [this interestingness test](https://github.com/nathanchance/creduce-files/tree/93a4e522137f9e07800cf5fb2df76b5c3dd924a5/cbl-pgo-random).

[2021-01-11 21:21] nickdesaulniers commented on #1250
Next would be to bisect LLVM.

[code]
@melver looks like there's additional breakage in your config on -next?

[2021-01-11 21:21] nathanchance commented on #732
[code]

should fix it.

[2021-01-11 21:42] nickdesaulniers commented on #1250
if I go back to 7f4c940bd0b5, I don't observe the missing symbol reference for _GLOBAL_OFFSET_TABLE_. 1f1145006b32533484c9ebc0f45e241a02fe6c8b was good. Bisecting that range now.

[2021-01-11 21:43] nathanchance commented on #1250
I am bisecting between https://github.com/llvm/llvm-project/commit/a90214760d0414912953e77b5b314be2b8e7df77 and `llvmorg-12-init` right now. Guess we will see who wins ;)

[2021-01-11 22:03] gwelymernans commented on #1252
I think I found the issue. We're trying to split a critical edge from a `callbr` instruction during loop strength reduction. That's prohibited for indirect branches and case switches (landing pads are handled separately). We prohibit this in other places where we also prohibit the splitting of an indirect branch. The hacky fix is below. Checking to verify that it's the correct fix.

[code]

[2021-01-11 22:28] nathanchance commented on #1250
https://github.com/llvm/llvm-project/commit/a084c0388e2a59b9556f2de0083333232da3f1d6:

[code]

cc @MaskRay

[2021-01-11 22:30] nickdesaulniers commented on #1250
Note a084c0388e2a59b9556f2de0083333232da3f1d6 was also the culprit of #1210 FWIW

[2021-01-11 22:46] samitolvanen commented on #1250
Ah, I saw the same issue with GOT references back in December with ThinLTO, and it was caused by the same LLVM change. Switching to `-fvisibility=hidden` worked around the issue for me. I didn't realize there were non-LTO configs that were also affected.

[2021-01-11 22:53] nickdesaulniers commented on #1244
merged: https://reviews.llvm.org/rG0a23fbd28c7509f2f980946091e6055bf27164d2

[2021-01-11 22:53] #1244 closed

[2021-01-12 00:49] nathanchance commented on #1245
In `lib/ubsan.h`:

[code]

In `lib/ubsan.c`:

[code]

I think I did the conversion from [`handleAlignmentAssumptionImpl`](https://elixir.bootlin.com/llvm/llvmorg-11.0.1/source/compiler-rt/lib/ubsan/ubsan_handlers.cpp#L151) right but I am not sure of a proper way to test it.

[2021-01-12 03:04] kees commented on #1245
Looks reasonable! Please send a patch (and CC akpm and me).

[2021-01-12 05:16] gwelymernans commented on #1252
Below is the patch I'm considering. I submitted a new patch to the lists that should cover the comments on the first patch.

[code]

[2021-01-12 06:05] gwelymernans commented on #1252
https://reviews.llvm.org/D94470

[2021-01-12 06:39] nathanchance commented on #1245
Ahh good old copy and paste bugs... thanks, fixed. I will write up a commit message and post it on the mailing list tomorrow.

[2021-01-12 11:07] melver commented on #1250
I haven't encountered this, but I've only been doing full builds.

What may be the case here is that dependencies due to compiler-inserted instrumentation are not known by the build system. But it doesn't look like it's a big issue, since the normal usage when we have sanitizers enabled is to do a full build. This is unrelated to the immediate problem here.

[2021-01-12 17:01] nathanchance commented on #1252
Yes, this appears to be good. I will throw it at 5.4, 5.10, and mainline with all of my configurations overnight to see if anything else explodes.

[2021-01-12 18:23] nathanchance commented on #1228
## Linux 5.11-rc3

<details><summary>LLVM 10.0.1</summary>
<p>

[code]

</p>
</details>

<details><summary>LLVM 11.0.1</summary>
<p>

[code]

</p>
</details>

<details><summary>LLVM main branch @ <a href="https://github.com/llvm/llvm-project/commit/6fc7a92eeeb5c47754b875bf6cf1b84687ebe693">6fc7a92eeeb5c47754b875bf6cf1b84687ebe693</a></summary>
<p>

[code]

</p>
</details>

</p>
</details>

TL;DR:

[2021-01-12 18:29] nathanchance commented on #1229
Patch has been applied for the next release it seems but Kalle Valo looking to apply this as a regression fix (which it is): https://lore.kernel.org/linux-wireless/878s8zk8a7.fsf@codeaurora.org/

[2021-01-12 19:13] nathanchance commented on #1243
Another solution to this would be removing the `__bad_mask` if we cannot prove `field` is a compiletime constant:

[code]

I guess that kind of defeats the purpose of that check though. Regardless, I sent the first diff. Maybe the one above is to be considered if it comes up in the future.

https://lore.kernel.org/r/20210112191214.1264793-1-natechancellor@gmail.com

[2021-01-12 19:48] nathanchance commented on #1213
Looks like this is related to `CONFIG_UBSAN_TRAP`, which gets turned on with s390 allmodconfig and allyesconfig because `CONFIG_COMPILE_TEST` is not selectable after 334ef6ed06fa1a54e35296b77b693bcf6d63ee9e. If I disable `CONFIG_UBSAN_TRAP`, I just run into #1245, which I already have a fix for.

I can similarly reproduce this on x86_64:

[code]

How are these functions defined when `CONFIG_UBSAN_

[2021-01-12 20:56] nathanchance commented on #1245
Submitted: https://lore.kernel.org/r/20210112205542.1375847-1-natechancellor@gmail.com

[2021-01-13 00:14] nathanchance commented on #1245
v2: https://lore.kernel.org/r/20210113001242.1662786-1-natechancellor@gmail.com

[2021-01-13 02:01] MaskRay commented on #1250
[code]

There is a missing optimization in ThinLTO. I'll continue to work on https://reviews.llvm.org/D92900

`readelf -Wr` on the object files. We need to find the relocations referencing `_GLOBAL_OFFSET_TABLE_`.

Note: some relocations like `R_X86_64_GOTPC32` implicitly reference `_GLOBAL_OFFSET_TABLE_`.

I still think `[TargetMachine] Don't imply dso_local on function declarations in Reloc::Sta

[2021-01-13 02:05] MaskRay commented on #1252
(Sorry that I requested changes on D94470.. I think BreakCriticalEdges likely needs a fix, regardless of the decision on LoopStrengthReduce)

[2021-01-13 02:14] nickdesaulniers commented on #1250
should be olddefconfig rather than oldconfig and needs LLVM=1 as well (otherwise is building with gcc?).

😨

[code]

[2021-01-13 02:56] gwelymernans commented on #1252
Sorry I flew off the handle.

The thing with `BreakCriticalEdges` is that everyone knows it needs to be overhauled (this isn't the first time it's been discussed), but it always gets placed to the side or becomes more of a hassle than it's worth. I'd rather not deal with it for this patch though. :-)

[2021-01-13 04:12] MaskRay commented on #1250
Sorry,  this sentence is wrong... If does not apply to synthesized function/variable declarations (e.g. `__sanitizer_cov_trace_pc` (-fsanitize-coverage=trace-pc), `__stack_chk_fail` (-fstack-protector)).

The difference is

[code]
vs
[code]

GNU as produces `_GLOBAL_OFFSET_TABLE_` for the latter, even though the output is identical. LLVM integrated assembler does not produce  `_GLOBAL_OFFSET_TABLE

[2021-01-13 05:11] nathanchance commented on #1250
[`scripts/mod/modpost.c`](https://elixir.bootlin.com/linux/v5.11-rc3/source/scripts/mod/modpost.c#L659) shows that `_GLOBAL_OFFSET_TABLE_` is ignored but [`kernel/module.c`](https://elixir.bootlin.com/linux/v5.11-rc3/source/kernel/module.c#L2390) does not appear to account for this, is that right?

[2021-01-13 08:01] melver commented on #1250
What's the problem with fixing this in LLVM and restoring the old behaviour?

This is a hack. No kernel patches to fix this please. We have too many kernel forks to take care of.

[2021-01-13 17:09] nickdesaulniers commented on #1250
hmm...yeah, I think it's too bad that this is something that can/should be fixed on the GNU binutils side; even if it's fixed tomorrow:
1. it will take years until binutils 2.35 is something we don't care about.
2. for many different kernel builds, we still rely on GNU assembler.
3. we would like to maintain some level of compat between GNU and LLVM tools.

Unless there's a straightforward way to

[2021-01-13 17:40] nathanchance commented on #1243
Accepted: https://git.kernel.org/linus/0a6d3038d914b51d6860f23ea2b508590e8340de

[2021-01-13 18:06] nickdesaulniers commented on #1209
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?h=x86/entry&id=bde718b7e154afc99e1956b18a848401ce8e1f8e

[2021-01-13 18:38] MaskRay commented on #1250
I disagree. This is a case the kernel reads too much from the GCC/GNU as behavior, which is probably i386 remnant.
I don't think LLVM does anything wrong here.

In the i386 days, non-PIC PLT and PIC PLT are different. `call jmp` emits R_386_PC32 and `call jmp@PLT` emits R_386_PLT32.
When GCC emits R_386_PLT32, it ensures there is an EBX setup and `_GLOBAL_OFFSET_TABLE_` will be referenced by an in

[2021-01-13 22:34] nathanchance commented on #1249
This appears to be a KernelCI specific issue. The resolution to #1054 was to disable `CONFIG_ARM64_PTR_AUTH` when binutils were too old. KernelCI uses `LLVM=1` but specifically changes `STRIP` to be `aarch64-linux-gnu-strip` during the `modules_install` step ([build output](https://storage.kernelci.org/next/master/next-20210113/arm64/defconfig/clang-11/build.log) and [commit making the change](htt

[2021-01-13 22:53] nathanchance commented on #1247
For what it's worth, I see this with GCC 10.2.0 too (and KernelCI sees it with [GCC 8](https://storage.kernelci.org/next/master/next-20210113/arm/allmodconfig/gcc-8/build.log)).

[code]

[2021-01-13 23:30] nickdesaulniers commented on #1209
Looks like CrOS just hit this issue.

[2021-01-14 00:48] nathanchance commented on #1161
Ha, I thought I remember that #1252 looked familiar... I assume Bill's patch will fix this one too?

[2021-01-14 00:51] nathanchance commented on #958
Seems like we can close this up as there is a kernel solution that people can pick to resolve this (and it is fixed in the upstream LTO patchset)?

[2021-01-14 01:57] nickdesaulniers opened #1253 "undefined symbol: noop_backing_dev_info"
maybe a broken config but:
[code]
[config.txt](https://github.com/ClangBuiltLinux/linux/files/5811953/config.txt)
mainline 65f0d2414b7079556fbbcc070b3d1c9f9587606d

[2021-01-14 01:59] nickdesaulniers commented on #1253
strange, a file in my tree was accidentally deleted. PEBKAC

[2021-01-14 01:59] #1253 closed

[2021-01-14 02:00] nickdesaulniers commented on #1249
cc @gctucker @khilman @broonie

[2021-01-14 02:13] #958 closed

[2021-01-14 02:15] nickdesaulniers commented on #1161
oh, yeah, looks similar, cc @gwelymernans @MaskRay

[2021-01-14 02:39] nickdesaulniers commented on #1250
The binutils bug has been fixed for binutils 2.37.

[2021-01-14 05:31] MaskRay commented on #1250
[code]

[2021-01-14 17:10] nathanchance commented on #1229
Accepted to wireless-drivers: https://git.kernel.org/kvalo/wireless-drivers/c/b7c568752ef3b36afa78e1a1866dc049d175993b

[2021-01-14 18:36] nathanchance commented on #1241
Fix proposed: https://reviews.llvm.org/D94685

[2021-01-14 19:19] nathanchance opened #1254 "arch/x86/entry/thunk_64.o: warning: objtool: missing symbol table"
This could be related to #1209 although I am filing a different issue for two reasons:

1. This is with GNU as, not the integrated assembler.
2. Neither [Nick's patch](https://lore.kernel.org/lkml/CAKwvOdnAMsYF-v1LAqttBV3e3rHhSFZmPcRRV0+v=+9AyMFgNA@mail.gmail.com/) nor [Josh's patch](https://lore.kernel.org/lkml/9638ee49574226218d978ce7e26f7a107021f509.1609990368.git.jpoimboe@redhat.com/) for #120

[2021-01-14 21:23] nickdesaulniers commented on #1254
general question; is it possible to make these warnings from objtool non-fatal so that they don't kill our builds/CI @jpoimboe?

[2021-01-14 21:27] nickdesaulniers commented on #1250
Thanks. [v1](https://lore.kernel.org/lkml/20210114054831.343327-1-maskray@google.com/) (requests for v2 don't look unreasonable).

[2021-01-14 21:32] MaskRay commented on #1250
It should be: `Reported-by: Marco Elver <elver@google.com>`

I noticed the typo after I received a message bounce:)

[2021-01-14 22:09] nathanchance commented on #1254
Once I figured out how to consistently reproduce (`ccache`...), bisect landed on https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=d1bcae833b32f1408485ce69f844dcd7ded093a8, which would certainly make sense. Guessing that commit is more aggressive about removing symbols than the integrated assembler is?

[2021-01-14 22:11] jpoimboe commented on #1254
Ha, this is an empty .o file (no text, data or symbols) because CONFIG_PREEMPTION isn't set.

@nickdesaulniers See https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=644592d32837 for an explanation of why objtool fails the build on some kind of errors.  These fatal errors tend to be rare, but perhaps becoming less rare these days now that the matrix of supported toolchai

[2021-01-14 22:21] adelva1984 opened #1255 "objtool fixdep host build does not inherit HOSTCC/HOSTLD"
While trying to enable some experimental LTO patches on android 5.10 kernels, which depend on objtool, I noticed that objtool's fixdep submake does not inherit from HOSTCC/HOSTLD correctly. Basically, they are set up in tools/objtool/Makefile but ignored in some circumstances:

[code]

It looks like the HOSTCC and HOSTLD variables should be exported, so the submake uses them via tools/build/Makefi

[2021-01-14 22:22] adelva1984 commented on #1255
[code]

Fixes it. If nobody objects, I will send this upstream.

[2021-01-14 22:32] nathanchance commented on #1254
Thank you for the quick fix Josh!

https://lore.kernel.org/lkml/a96c3f76173c7021a2298bd73362313736e674b6.1610663051.git.jpoimboe@redhat.com/

[2021-01-15 07:55] MaskRay commented on #1254
LLVM integrated assembler creates `.symtab` with an index 0 undefined symbol regardless. GNU as since https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=d1bcae833b32f1408485ce69f844dcd7ded093a8 just omits `.symtab`

[2021-01-15 08:02] MaskRay commented on #1254
I think `tools/objtool/elf.c` `missing symbol table` is overly aggressive. It can be removed if the warning/error can be folded into a subsequent error checking. Alternatively, if there is no interesting content for objtool, ignore an absent `.symtab`

[2021-01-15 14:19] roxell opened #1256 "warning: DWARF2 only supports one section per compilation unit"
Hi,

I can see this warning on next, mainline and the stable builds:

make --silent --keep-going --jobs=8 O=/home/tuxbuild/.cache/tuxmake/builds/1/tmp ARCH=mips CROSS_COMPILE=mips-linux-gnu- 'HOSTCC=sccache clang' 'CC=sccache clang'
/builds/1n60brJr0d3GdL8iXnGJT3nVgMs/arch/mips/vdso/elf.S:14:1: warning: DWARF2 only supports one section per compilation unit
.pushsection .note.Linux, "a",@note ; .ba

[2021-01-15 15:05] jpoimboe commented on #1254
Yes, the upstream fix removes that warning.

[2021-01-15 18:06] nickdesaulniers commented on #1256
Similar to #716, but likely a result of #618, which is common for vdsos.  The mips vdso Makefile should add `-no-integrated-as` unless `LLVM_IAS` is defined.

Is there a config that turns on the mips vdso config quickly that you're using to test with?

[2021-01-15 18:28] roxell commented on #1256
in arch/mips/Kconfig
I see this:
config MIPS
...
       select HAVE_GENERIC_VDSO
...

[2021-01-15 18:45] nathanchance commented on #1255
@adelva1984 This is resolved in mainline with https://git.kernel.org/linus/c8a950d0d3b926a02c7b2e713850d38217cec3d1. Cherry-picking that to linux-5.10.y resolves the issue you are seeing:

[code]
...

[2021-01-15 19:27] nathanchance commented on #1256
I believe this is the better solution: https://lore.kernel.org/r/20210115192622.3828545-1-natechancellor@gmail.com/

[2021-01-15 19:47] roxell opened #1257 "stable-v4.19: modpost: Section mismatches detected"
Hi,

I can see this build issue on stable v4.19, building with clang-11.
This can't be seen when building with gcc.

WARNING: modpost: Found 2 section mismatch(es).
To see full details build your kernel with:
'make CONFIG_DEBUG_SECTION_MISMATCH=y'
FATAL: modpost: Section mismatches detected.
Set CONFIG_SECTION_MISMATCH_WARN_ONLY=y to allow them.
make[2]: *** [/builds/1n6bqDqp9N4VblVaTGRnjbVVuDQ/sc

[2021-01-15 19:57] nathanchance commented on #1257
[code]

Looks like #787?

[2021-01-15 20:17] nickdesaulniers opened #1258 "-Wconstant-logical-operand in drivers/gpu/drm/i915/display/intel_dp.c"
on next, x86_64 defconfigs I'm seeing:
[code]

[2021-01-15 20:18] nickdesaulniers commented on #1257
I've been adding "Needs Backport" label to existing bugs, but keeping them closed.  I then remove the label when backports have landed. Thoughts?

[2021-01-15 20:19] nathanchance commented on #1258
Patch submitted it seems: https://lore.kernel.org/intel-gfx/20201223103917.14687-1-chris@chris-wilson.co.uk/

[2021-01-15 21:20] nathanchance commented on #1257
I think that is fine. It is hard to judge what is and is not a stable worthy fix. I have been tempted to start adding "Cc: stable" to everything that I send but that just makes maintainers irritated.

[2021-01-15 21:52] #1161 closed

[2021-01-15 21:52] #1252 closed

[2021-01-15 22:08] nickdesaulniers commented on #1228
https://lists.llvm.org/pipermail/llvm-announce/2021-January/000090.html

[2021-01-16 05:59] dileks commented on #1255
When dealing with `bpf/btf` and `dwarf-v5`patchset I saw serveral (hardcoded) assignments to `LLVM utils` in scripts and tools directory.

Examples (here: `llvm-strip` and `llvm-objcopy`):

[code]

There are no prereq or error checks.

Just my €0,02 when I see this issue here.

[2021-01-16 06:22] dileks commented on #1255
Something like this:
[code]

[2021-01-16 06:22] dileks commented on #1255
The same to `CLANG` `LLC` and more assignments.

[2021-01-16 06:38] nathanchance commented on #1255
If you want to hoist those into `tools/scripts/Makefile.include` to have less duplication then that is probably fine but putting them under `LLVM=1` changes the meaning of the code. I assume `llvm-strip` and `llvm-objcopy` were chosen because BPF was supported in LLVM first. They are still overridable to the GNU alternatives through `make` if you care to do that but I don't think that implicitly c

[2021-01-16 06:47] dileks commented on #1255
You want me drop it from `ifneq ($(LLVM),)`block?

Can I see your approach?

[2021-01-16 07:16] dileks commented on #1255
With the attached diff:
[code]

See build-log.

[tools_diff.txt](https://github.com/ClangBuiltLinux/linux/files/5824002/tools_diff.txt)
[build-log_bpftool.txt](https://github.com/ClangBuiltLinux/linux/files/5824005/build-log_bpftool.txt)

[2021-01-16 07:30] nickdesaulniers commented on #1189
https://github.com/ClangBuiltLinux/linux/commit/0cda9bc15dfc459bd178d6ba93389df52dd57957

[2021-01-16 07:30] #1189 closed

[2021-01-16 07:52] dileks commented on #1255
Update diff v2: Add missing includes `scripts/Makefile.include`.

[tools-v2_diff.txt](https://github.com/ClangBuiltLinux/linux/files/5824043/tools-v2_diff.txt)

[2021-01-17 12:12] dileks opened #1259 "LLVM 12 release cycle"
Official LLVM web-site has published a `LLVM` Release Schedule `12.0.0`:

1. Jan 26: `release/12.x` branch, `12.0.0-rc1`
1. Feb 23: `12.0.0-rc2`
1. Mar 2: `12.0.0-final`

Cool, to see a version `12.0.0-rc1` in approx. 2 weeks.

[1] https://llvm.org/ > "Upcoming Releases"

[2021-01-17 23:25] #1231 closed

[2021-01-17 23:26] gwelymernans commented on #1231
We were able to bypass this on our end. I didn't try the D93948 patch, but it looks promising.

[2021-01-17 23:28] gwelymernans commented on #1201
A modified version of the patch went in as f47462c9d8af437ae7d3ef410cf11513f5e3714c.

[2021-01-17 23:28] #1201 closed

[2021-01-18 00:32] dileks commented on #1250
In my experiments with `[PATCH v5] pgo: add clang's Profile Guided Optimization infrastructure` I needed this patch to boot into a `rebuild PGO-optimized` Linux-kernel.

My LLVM/Clang is from <apt.llvm.org>:
[code]

Thanks @MaskRay for the patch and all involved people here in the issue.

[2021-01-18 02:16] gwelymernans commented on #1250
FYI: This is appearing in the PGO patch now in upstream review.

https://lore.kernel.org/lkml/CA+icZUUuzA5JEXyVzKbVX+T3xeOdRAU6-mntbo+VwwTxqmN7LA@mail.gmail.com/

[2021-01-18 12:18] dileks commented on #1250
Patch accepted in `modules-next`.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/jeyu/linux.git/commit/?h=modules-next&id=ebfac7b778fac8b0e8e92ec91d0b055f046b4604

[2021-01-18 17:10] nathanchance commented on #1256
Patch accepted: https://git.kernel.org/mips/c/76d7fff22be3e4185ee5f9da2eecbd8188e76b2c

[2021-01-18 20:23] nathanchance opened #1260 "ld.lld unknown relocation (110) against symbol for powerpc64"
Just filing this from https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/message/X43XFH7N4VREFNFWVMEUHJFFXD4QTWMG.

[code]

[2021-01-19 01:39] nathanchance opened #1261 "clang hangs while compiling net/l2tp/l2tp_core.o after D88438"
While building s390 defconfig when LLVM is instrumented, I see `clang` hang (go into an infinite loop somewhere?) when building net/l2tp/l2tp_core.o:

[code]

Bisect landed on https://github.com/ClangBuiltLinux/llvm-project/commit/ed0fd567ebdbbbbc61eb87346a58196a73f9b814

[code]

Prior to this commit, that command would have taken around 12s.

I am reducing right now but this will take some time d

[2021-01-19 06:53] nathanchance commented on #1261
Well it took 3.5 hrs but `cvise` finally spit out:

[code]

with the following [interestingness test](https://github.com/nathanchance/creduce-files/blob/e6972bd514160bd8e928c0b30a70e2dc2afcb05b/cbl-1261/test.sh).

The reduced file reproduces with x86_64, which I suppose should make sense since the error is probably happening during optimization, not lowering.

[code]

[2021-01-19 17:12] nickdesaulniers commented on #1260
Relocation number 110 is not listed in "Figure 4-1. Relocation Table" https://refspecs.linuxfoundation.org/ELF/ppc64/PPC-elf64abi.html#RELOC-TYPE cc @uweigand @MaskRay

I wonder if GAS is producing a new 64b relocation type?

[2021-01-19 17:28] uweigand commented on #1260
That ABI doc is outdated, the current version is now maintained by OpenPOWER.   110 is R_PPC64_ADDR16_HIGH, see: http://cdn.openpowerfoundation.org/wp-content/uploads/resources/leabi/content/ch03s05s03.html

[2021-01-19 17:50] nickdesaulniers commented on #1261
need to reduce, but here's the LLVM IR that reproduces with `opt -O2`:
[code]

[2021-01-19 17:55] MaskRay commented on #1260
https://refspecs.linuxfoundation.org/ELF/ppc64/PPC-elf64abi.html is what people usually refer to as ELF v1.

The OpenPower document is ELF v2.

I did not know `#high` exists while there is also `#hi`... I'll implement them in LLD.

The relocation desugars from
[code]

[2021-01-19 18:02] nickdesaulniers commented on #1261
reduced:
[code]

[2021-01-19 18:21] nickdesaulniers commented on #1261
reduced:
[code]

[2021-01-19 19:09] nickdesaulniers commented on #1261
I see what's going wrong, `GVN::splitCriticalEdges` doesn't check the return code of `SplitCriticalEdge` which can fail and does fail for this instance, causing an infinite loop.

[2021-01-19 19:14] nickdesaulniers commented on #1261
fix in hand, just need to curate the test case.

[2021-01-19 19:42] #1260 closed

[2021-01-19 20:51] nickdesaulniers commented on #1261
https://reviews.llvm.org/D94996

[2021-01-19 21:31] nickdesaulniers commented on #1241
Fixed: https://reviews.llvm.org/rG2040c1110b661caae7999abc0158a7f57a6400fb

[2021-01-19 21:31] #1241 closed

[2021-01-19 21:31] nickdesaulniers commented on #1241
Not sure what we want to do about this on the kernel side?

[2021-01-19 21:34] nickdesaulniers commented on #1260
thanks @MaskRay @uweigand

[2021-01-19 21:36] nickdesaulniers commented on #503
v4 [was resent](https://lore.kernel.org/linux-arm-kernel/20210119131724.308884-1-adrian.ratiu@collabora.com/). I'm still [not yet convinced](https://bugs.llvm.org/show_bug.cgi?id=40976#c8) there is a bug here.

[2021-01-19 21:55] nathanchance commented on #1241
I think we will just have to live with it. It is a 32-bit MIPS config, we should be fine.

[2021-01-19 22:19] #1255 closed

[2021-01-20 01:01] nathanchance commented on #1069
I think this just came up again with the 0day bot but with `CONFIG_GCOV_PROFILE_ALL`: https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/thread/VNU25BJUAQACDDO35OGTVYULI3CKAXBB/

[code]

With `LD=ld.lld`:

[code]

This should fix it:

[code]

I suspect that #1227 also falls under this issue (meaning `CONFIG_CFI_CLANG` should be added to that list too).

[2021-01-20 06:16] MaskRay commented on #902
Fixed by https://reviews.llvm.org/D85785

[2021-01-20 06:16] #902 closed

[2021-01-20 07:00] nickdesaulniers commented on #1069
I wonder if this is another case of `-f` flags not being passed through to synthesized functions (cc @MaskRay who mentioned this before; I have the feeling the same is the case for `-fno-stack-protector` and friends)?  For example, does GCOV require `-fasynchronous-unwind-tables`? I doubt it.

[2021-01-20 07:09] MaskRay commented on #1069
The synthesized function issue (e.g. frame pointer, various security enhancement attributes) only affect LLVM IR. `-fasynchronous-unwind-tables` is MachineInstr/MCInstr level thing and is likely irrelevant. Clang's GCOV implementation uses debug info internally. It does not need unwind information.

[2021-01-20 08:04] nathanchance commented on #1261
I am running my full set of builds (-next, mainline, 5.10, and 5.4) with that patch on top of https://github.com/llvm/llvm-project/commit/233106269db6af64f9eff7db0bdf119593f822b1 and it tentatively looks good (-next is done, mainline is halfway done, then stable will run). I will confirm full results in the morning.

[2021-01-20 20:14] nathanchance commented on #1261
That patch looks good to me, all builds passed.

[2021-01-20 20:44] nickdesaulniers opened #1262 "-Wuninitialized in mm/zswap.c"
Reported-by: "kernelci.org bot" <bot@kernelci.org>

on linux-next:
[code]

[2021-01-20 20:45] nickdesaulniers opened #1263 "-Wsometimes-uninitialized in mm/zswap.c"
similar to #1262
Reported-by: "kernelci.org bot" bot@kernelci.org
[code]

[2021-01-20 20:50] nickdesaulniers commented on #1250
https://groups.google.com/g/clang-built-linux/c/jHM4Nz0rsfg/m/XxiqJUDQBAAJ

[2021-01-20 21:05] nathanchance commented on #1262
Also reported by the 0day bot to the patch author, who would probably be the best person to address this: https://lore.kernel.org/linux-mm/202101210209.TKDZ1sTU-lkp@intel.com/

[2021-01-20 21:05] nathanchance commented on #1263
I think that these two issues can be combined since they are caused by the same patch and have the same root cause.

[2021-01-20 21:57] #1257 closed

[2021-01-21 10:15] dileks commented on #1259
Good, you pinned this and with milestone :-).

[2021-01-21 19:36] nickdesaulniers commented on #1173
See also: https://llvm.org/pr16428

[2021-01-21 19:39] nickdesaulniers commented on #1173
Additional context: https://lore.kernel.org/lkml/CAKwvOdko=t=wBsiwwMaWOLuir09jLi-r_oyr=1q-HRsi=-DjoA@mail.gmail.com/

[2021-01-21 21:36] nathanchance opened #1264 "s390 CONFIG_MARCH_ZEC12 "invalid operand in inline asm""
Initially reported at https://gitlab.com/cki-project/pipeline-definition/-/merge_requests/1085#note_482753075, this blocks RedHat from enabling s390x for CKI.

[code]

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/s390/include/asm/bitops.h

[code]

cc @uweigand (I can file an upstream LLVM issue if need be).

[2021-01-21 21:49] nathanchance commented on #1263
Actually, this is a separate issue but was caused by the same patch as #1262, sorry for not paying attention.

Patch sent: https://lore.kernel.org/linux-mm/20210121214804.926843-1-natechancellor@gmail.com/

[2021-01-21 21:50] nathanchance commented on #1262
Patch submitted: https://lore.kernel.org/linux-mm/1611223030-58346-1-git-send-email-tiantao6@hisilicon.com/

[2021-01-21 22:02] nathanchance commented on #1264
Introduced by https://git.kernel.org/linus/4ae803253e4649803dc6e972bb5e59fc107cf474.

[2021-01-22 02:12] nickdesaulniers commented on #1264
cc @uweigand

[2021-01-22 03:23] nathanchance opened #1265 "llvm-nm -D"

[2021-01-22 03:24] nathanchance commented on #1265
Ugh hit enter, going to file the real issue shortly.

[2021-01-22 03:24] #1265 closed

[2021-01-22 03:39] nathanchance opened #1266 "Issue with 'llvm-nm -D' in RISC-V vDSO"
After http://github.com/llvm/llvm-project/commit/dd5c98280473a7f74c5e5a715839e4938b46a69c:

[code]

This is due to [`so2s.sh`](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/riscv/kernel/vdso/so2s.sh?h=v5.11-rc4), which expects two `@@`:

[code]

It seems from https://reviews.llvm.org/D94907 that this is intentional? cc @MaskRay

I supposed this would be the fix on th

[2021-01-22 05:30] MaskRay commented on #1266
Looks like llvm-nm may report `@` when `@@` should be used instead. Investigating...

[2021-01-22 07:00] nathanchance commented on #1266
These symbols don't appear to be undefined though, as it is `T` instead of `U`, unless I am misunderstanding the comment?

For what it's worth, my version of GNU nm is the latest from the master branch:

[code]

I guess according to [your comment](https://reviews.llvm.org/D94907#2514577), this is a bug with that commit and the kernel is not wrong in what it is expecting.

[2021-01-22 07:16] nathanchance commented on #1258
Fixed: https://git.kernel.org/next/linux-next/c/6b20b734bbf126781ce27deb236d06961117060c

[2021-01-22 07:16] #1258 closed

[2021-01-22 07:17] nathanchance commented on #1263
Fixed: https://git.kernel.org/next/linux-next/c/43263dd803c10c514cb207216152ff4ebc840f1d

[2021-01-22 07:17] #1263 closed

[2021-01-22 07:18] nathanchance commented on #1262
Fixed: https://git.kernel.org/next/linux-next/c/594c49d9f57d62bc60a3f97cb9dcca17ea3f02c2

[2021-01-22 07:18] #1262 closed

[2021-01-22 07:20] nathanchance commented on #1248
Fixed: https://git.kernel.org/next/linux-next/c/2ef0170e90391f1adb31c449059b8efdc923707c

[2021-01-22 07:20] #1248 closed

[2021-01-22 10:23] uweigand commented on #1264
I think in this case, the %b modifier is a no-op anyway (the operator truncates an immediate to 8 bits, but in this case the immediate always fits in 8 bits to begin with), so it can be simply removed.

[2021-01-22 18:00] nickdesaulniers commented on #1264
Relevant code: https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/arch/s390/include/asm/bitops.h#L59-L121 (there's three functions using `%b` modifier).

`arch_clear_bit` doesn't look to me like it truncates to 8b.

[2021-01-22 18:15] uweigand commented on #1264
Right, in this case you'd have to change it to use
`"i" ((1 << (nr & 7)) ^ 0xff)
`
instead.

[2021-01-22 21:11] nickdesaulniers commented on #1264
I don't think it's the `%b` output template: https://godbolt.org/z/orKWGe

[2021-01-23 04:30] palmer-dabbelt commented on #1266
Presumably `@@\?` is what we really want, not `@*`?

[2021-01-23 18:27] MaskRay commented on #1184
I can't find `-z unique-symbol` in Linux kernel yet. The motivation is still unclear to me: if a local symbol is not unique, can it use symbol+file? (Note: a file can may have local symbols with the same name). Why do local symbols with the same name matter? (I haven't find such a linker feature convincing yet)

[2021-01-23 18:59] nathanchance commented on #1184
The original thread that talked about this for the kernel is here: https://lore.kernel.org/kernel-hardening/20200717170008.5949-1-kristen@linux.intel.com/. It looks like this is related to livepatching.

[2021-01-23 19:07] nathanchance commented on #1266
@palmer-dabbelt yes, that would work. I was not aware of `\?`, thanks for pointing it out!

[code]

works, regardless of what `llvm-nm` ultimately decides to do.

[2021-01-23 19:10] MaskRay commented on #1266
It is a llvm-nm bug which will be fixed by https://reviews.llvm.org/D94912

Linux kernel does not need a change. The sed command is still brittle, though: if both `foo@LINUX_4.14` (non-default version) and `foo@@LINUX_4.15` (default version) exist, the script may print the first one.

[2021-01-25 00:17] nabijaczleweli opened #1267 "LLD fails to link MIPS kernel"
`make LLVM=1 CC=clang CROSS_COMPILE=mips-linux-gnu ARCH=mips` in 228a65d4544af5086bd167dcc5a0cb4fae2c42b4 (and, previously, accefff5b547a9a1d959c7e76ad539bf2480e78b) yields this:
[code]

However, overriding just LD to binutils' works, so a success nonetheless.

Toolchain, as obtained from http://apt.llvm.org/buster/:
[code]

[2021-01-25 01:57] nathanchance commented on #1267
This is a duplicate of #1025, which is a known issue with `ld.lld` because it does not properly support a triple version of `OUTPUT_FORMAT`.

Thank you for testing and reporting it back, I appreciate it!

[2021-01-25 01:57] #1267 closed, assigned to nobody

[2021-01-25 11:13] tinti commented on #664
This is still happening at: https://github.com/ClangBuiltLinux/continuous-integration2/runs/1759040908?check_suite_focus=true

I think this would fix it: https://lore.kernel.org/r/20201124104030.903-1-lukas.bulwahn@gmail.com/

[2021-01-25 12:22] uweigand commented on #1264
Well, it's an "i" constraint so you have to use a compile-time immediate.  This means you cannot compile that function stand-alone, you can only compile it (with optimization on and) inlined into a caller that provides a compile-time immediate "nr" argument.  That's why the block is guarded by a __builtin_constant_p predicate in the first place. (That restriction is present on GCC just the same, t

[2021-01-25 19:24] #1261 closed

[2021-01-25 19:40] nickdesaulniers commented on #1025
cc @MaskRay know anything about this target triple (elf32-tradlittlemips) if that's something LLD could support?

[2021-01-25 19:41] nickdesaulniers commented on #664
cc @bulwahn to follow up on the requested v2

[2021-01-25 22:11] nathanchance commented on #1264
Well, that is funny: http://git.kernel.org/s390/c/6110ccecd3c0c025ab7d5224a5feba5a664e084e

I will leave this open until that commit is merged into mainline so that CKI can enable it.

[2021-01-26 01:07] tinti commented on #646
Is this fixed by https://github.com/torvalds/linux/commit/6863f5643dd717376c2fdc85a47a00f9d738a834 ?

[2021-01-26 10:21] tinti commented on #1180
OOM seems to have an unreachable return at https://github.com/torvalds/linux/blob/d635a69dd4981cc51f90293f5f64268620ed1565/mm/oom_kill.c#L642

The function signature cannot be changed due to `kthread_run`.

Just adding `unreachable()` just before the return removed the warning for me.

Is this a valid solution?

[2021-01-26 17:01] nathanchance commented on #1266
This should be fixed now that https://reviews.llvm.org/D94912 has been merged.

[2021-01-26 17:01] #1266 closed

[2021-01-26 17:03] nathanchance opened #1268 "clang-12: error: unsupported option '-fpatchable-function-entry=8' for target 'riscv64-unknown-linux-gnu'"
```Reported-by: kernel test robot <lkp@intel.com>```

Report: https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/message/3CGDPP7DCJOXJSPBVAZF53BP3OVXMNWZ/

[2021-01-26 17:08] nathanchance commented on #1180
I would think that should be fine but I think it would be wise to audit the full list of warnings to see how many of those types of annotations that we will have to do.

Wonder if https://lists.llvm.org/pipermail/llvm-dev/2021-January/148047.html would be relevant to that piece of code.

[2021-01-26 17:42] tinti commented on #1180
I don't have enough knowledge on LLVM side to say.

About the `boot_cpu_has` I was able to temporarily disable the warnings on it.

I was left with several:

[code]

[code]

[code]

I will be adding `unreachable()` on them and see if it fixes.

More info about `__builtin_unreachable` https://gcc.gnu.org/onlinedocs/gcc/Other-Builtins.html

[2021-01-26 23:52] nathanchance commented on #1254
Fixed: https://git.kernel.org/linus/1d489151e9f9d1647110277ff77282fe4d96d09b

[2021-01-26 23:52] #1254 closed

[2021-01-27 02:17] nickdesaulniers commented on #1195
I think this shows maybe 2 more bugs in Clang; the following two flags are set `-Qunused-arguments` and `-Wa,-W` and yet we still get unused argument warnings.

[2021-01-27 02:23] nickdesaulniers commented on #1195
https://llvm.org/pr48894

[2021-01-27 06:51] dileks commented on #1259
`release/12.x` now available: https://github.com/llvm/llvm-project/commits/release/12.x

[2021-01-27 19:17] nathanchance opened #1269 "<unknown>:0: error: __ia32_compat_sys_sysctl changed binding to STB_GLOBAL"
While building [kernel/common](https://android.googlesource.com/kernel/msm/)'s android-4.19-stable branch (`ARCH=x86_64 gki_defconfig`):

[code]

This showed up during a personal CI run: https://github.com/nathanchance/continuous-integration2/runs/1778992951

I am testing right now to see if this is an LLVM 12 regression.

[2021-01-27 20:42] arndb opened #1270 "clang ias: unsupported argument '-mimplicit-it=always' to option 'Wa,'"
Kernel builds with CONFIG_THUMB2_KERNEL and integrated assembler fail for me with

clang: error: unsupported argument '-mimplicit-it=always' to option 'Wa,'

[2021-01-27 20:43] arndb opened #1271 "clang ias: build failure for arch/arm/probes/kprobes/test-arm.c"
This is the failure I get for this file when CONFIG_ARM_KPROBES_TEST is enabled

/git/arm-soc/arch/arm/probes/kprobes/test-arm.c:131:2: error: unexpected token in '.ascii' directive
        DATA_PROCESSING_DNM("and",0xf00f00ff)
        ^
/git/arm-soc/arch/arm/probes/kprobes/test-arm.c:81:2: note: expanded from macro 'DATA_PROCESSING_DNM'
        _DATA_PROCESSING_DNM(op,"",val)         \
        ^

[2021-01-27 20:45] arndb opened #1272 "clang ias: failure to build arch/arm/mach-ep93xx/crunch-bits.S"
This is yet another old FPU format, enabled with CONFIG_CRUNCH:

/git/arm-soc/arch/arm/mach-ep93xx/crunch-bits.S:94:2: error: invalid instruction
 cfstr64 mvdx0, [r1, #0] @ save 64b registers
 ^
/git/arm-soc/arch/arm/mach-ep93xx/crunch-bits.S:95:2: error: invalid instruction
 cfstr64 mvdx1, [r1, #8]
 ^
/git/arm-soc/arch/arm/mach-ep93xx/crunch-bits.S:96:2: error: invalid instruction
 cfstr64 mvdx2,

[2021-01-27 20:46] arndb opened #1273 "clang ias: failure in arch/arm/include/asm/futex.h"
Not sure what causes this one yet:

/git/arm-soc/arch/arm/include/asm/futex.h:117:3: error: invalid instruction, did you mean: strt?
        "2:     " TUSER(streq) "        %4, [%2]\n"
         ^
<inline asm>:6:4: note: instantiated into assembly here
2:      streqt  r8, [r7]
        ^~~~~~
In file included from /git/arm-soc/kernel/futex.c:45:
/git/arm-soc/arch/arm/include/asm/futex.h:118:2: error

[2021-01-27 20:47] arndb commented on #1273
Presumably this is caused by CONFIG_CPU_USE_DOMAINS

[2021-01-27 20:54] arndb opened #1274 "clang ias: armv7-m builds fail"
This immediately fails with

clang: error: Architecture 'armv7-m' does not support 'ARM' execution mode
clang: error: Architecture 'armv7-m' does not support 'ARM' execution mode
make[4]: *** [/git/arm-soc/scripts/Makefile.build:287: scripts/mod/empty.o] Error 1
make[4]: *** [/git/arm-soc/scripts/Makefile.build:117: scripts/mod/devicetable-offsets.s] Error 1

[2021-01-27 21:03] arndb opened #1275 "clang ias: warning: argument unused during compilation: '-march=armv7-a' [-Wunused-command-line-argument]"
This seems to happen multiple times during a kernel build:

clang: warning: argument unused during compilation: '-march=armv7-a' [-Wunused-command-line-argument]
clang: warning: argument unused during compilation: '-Wa,-march=armv7-a' [-Wunused-command-line-argument]
clang: warning: argument unused during compilation: '-march=armv7-a' [-Wunused-command-line-argument]
clang: warning: argument unuse

[2021-01-27 22:27] nathanchance commented on #1269
Bad: https://github.com/llvm/llvm-project/commit/50bff64158e9db3f91dd2d611a14707e8d173163
Good: https://github.com/llvm/llvm-project/commit/22d10b8ab44f703b72b8316a9b3b8adc623ca73f

Bisecting now.

[2021-01-27 22:46] nickdesaulniers commented on #1275
Does this look like a dup of https://github.com/ClangBuiltLinux/linux/issues/1195?

[2021-01-27 22:46] nathanchance commented on #1245
v3: https://lore.kernel.org/r/20210127224451.2587372-1-nathan@kernel.org

[2021-01-27 22:58] nickdesaulniers commented on #1271
cc @jcai19

[2021-01-27 23:05] arndb opened #1276 "clang ias: fatal error: error in backend: Unknown Arch: xscale"
I hit this bug when building arch/arm/mm/copypage-xscale.c with the integrated assembler:

fatal error: error in backend: Unknown Arch: xscale
PLEASE submit a bug report to https://bugs.llvm.org/ and include the crash backtrace, preprocessed source, and associated run script.
Stack dump:
0.	Program arguments: /usr/bin/clang-12 -mlittle-endian -fmacro-prefix-map=/git/arm-soc/= -Wall -Wundef -Werror

[2021-01-27 23:06] nickdesaulniers commented on #1195
`ARCH=arm CROSS_COMPILE=arm-linux-gnueabi- make LLVM=1 LLVM_IAS=1 -j72 defconfig` enabled both
[code]
cc @arndb should those be mutually exclusive?

[2021-01-27 23:13] nickdesaulniers commented on #1195
Modifying the kernel would involve touching at least 20 .S sources, and their Makefiles.
[code]

[2021-01-27 23:17] arndb commented on #1275
Yes, closing this one.

[2021-01-27 23:17] #1275 closed, assigned to nobody

[2021-01-27 23:20] arndb opened #1277 "clang ias: build failure for CONFIG_SMP_ON_UP"
This seems to trigger a compile-time assertion in the ALT_SMP() macro:

/git/arm-soc/arch/arm/mm/proc-v7.S:169:111: error: expected absolute expression
 .pushsection ".alt.smp.init", "a" ; .long 9998b - . ;9997: orr r1, r1, #((1 << 0) | (1 << 6))|(3 << 3) ; .if . - 9997b == 2 ; nop ; .endif ; .if . - 9997b != 4 ; .error "ALT_UP() content must assemble to exactly 4 bytes"; .endif ; .popsection

[2021-01-27 23:21] nathanchance commented on #1277
This looks like #742.

[2021-01-27 23:23] arndb commented on #1195
CONFIG_CPU_32v7 and CONFIG_CPU_32v6 are mutually exclusive, however CONFIG_CPU_32v6K is a special symbol that tells us that the 'K' extension of v6 is present. As 'K' is implied by ARMv7, CONFIG_CPU_32v6K is always enabled on any ARMv7 configuration.

I agree this is really confusing, but it works as designed.

[2021-01-27 23:29] arndb commented on #1277
Sorry, I was building with clang-11 at first, changed to clang-12 now and don't see this any more.

[2021-01-27 23:29] #1277 closed, assigned to nobody

[2021-01-27 23:31] nickdesaulniers opened #1278 "-Wuninitialized in net/wireless/core.c"
linux-next
[code]
ARCH=arm allmodconfig

(I need to refetch -next and see whether this is still an issue)

[2021-01-27 23:32] nathanchance commented on #1278
It isn't: https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?id=a05829a7222e9d10c416dd2dbbf3929fe6646b89

[2021-01-27 23:44] nickdesaulniers commented on #1276
CONFIG_CPU_XSCALE?

[2021-01-27 23:45] nickdesaulniers commented on #1274
Does armv7-m only support thumb (or thumb2)?

[2021-01-27 23:49] nickdesaulniers commented on #1269
reminiscent of ##1190?

[2021-01-28 00:57] dileks commented on #1259
`LLVM` version `12.0.0-rc1` released.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.0-rc1

[2021-01-28 01:05] nathanchance commented on #1269
Hmmm indeed, that is what the bisection converged on:

[code]

Guess there must be some assembler directives in the spaghetti that is  `__ia32_compat_sys_sysctl`, which is generated from madness in [`arch/x86/include/asm/syscall_wrapper.h`](https://android.googlesource.com/kernel/common/+/refs/heads/android-4.19-stable/arch/x86/include/asm/syscall_wrapper.h).

There could be something missing betw

[2021-01-28 01:21] nickdesaulniers opened #1279 "-Wunused-variable in drivers/gpu/drm/amd/display/amdgpu_dm/amdgpu_dm.c"
ARCH=arm allmodconfig linux-next
[code]

[2021-01-28 01:24] dileks commented on #1184
`binutils` version `2.36` has:

https://lists.gnu.org/archive/html/info-gnu/2021-01/msg00015.html

[2021-01-28 01:29] nickdesaulniers opened #1280 "Inconsistent kallsyms data"
cc @arndb

working around #1195 and #1271, with LLVM_IAS=1 allmodconfig

[code]
so CONFIG_KALLSYMS which gets selected by a lot of things looks like it's broken with LLVM_IAS=1.

[2021-01-28 02:03] nickdesaulniers commented on #1271
is this with clang-11? I get a different set of failures in this TU with clang-12 for allmodconfig.

[code]

[2021-01-28 02:06] nickdesaulniers commented on #1271
For my case, `-no-integrated-as` works. The disassembly produces `andseq  r0, r1, r2` (from llvm-objdump and GNU objdump).  Looks like gas accepts `andseq` but LLVM_IAS does not.  This pattern happens a lot in this source file.

[2021-01-28 02:27] nickdesaulniers commented on #1271
I wonder if this is unified syntax issue? I'm re-writing it...slowly...

[2021-01-28 02:51] nickdesaulniers commented on #1271
[wip.patch.txt](https://github.com/ClangBuiltLinux/linux/files/5884421/wip.patch.txt)

[2021-01-28 03:12] nickdesaulniers commented on #1271
[wip.patch.txt](https://github.com/ClangBuiltLinux/linux/files/5884513/wip.patch.txt)

[2021-01-28 04:00] nickdesaulniers commented on #1271
damn, I have this finished, but there is one bug in LLVM that I have a fix for too...

[2021-01-28 04:04] nickdesaulniers commented on #1271
llvm patch:
[code]
kernel patch:
[wip.patch.txt](https://github.com/ClangBuiltLinux/linux/files/5884711/wip.patch.txt)

[2021-01-28 04:39] nickdesaulniers commented on #1271
https://reviews.llvm.org/D95586

[2021-01-28 04:45] nickdesaulniers commented on #1271
https://lore.kernel.org/lkml/20210128044356.38419-1-ndesaulniers@google.com/T/#u

[2021-01-28 08:01] arndb commented on #1273
I'll send this fix:

[code]

[2021-01-28 08:09] arndb commented on #1274
Correct, ARMv7-M (Cortex-M) is THUMB2-only, so '-march=armv7-a -marm' is not a valid combination. I have not yet looked into what tells clang to use arm instructions though.

[2021-01-28 09:10] jcai19 commented on #1271
@arndb I tried with stock LLVM and it was able to assemble ```.ascii "and" "cs" "" " r2, r" "3" ", r" "2" ", lsr #458```. The support to space in .ascii was first added to IAS in https://github.com/llvm/llvm-project/commit/e0963ae274be, but got temporarily reverted at https://github.com/llvm/llvm-project/commit/82c4153e66fa for a test failure (which turned out to be a false-positive). It was then

[2021-01-28 09:56] arndb opened #1281 "clang ias: invalid instruction in arch/arm/mach-omap1/ams-delta-fiq-handler.S:"
omap1_defconfig builds fail with

[code]

I'm not sure what is going wrong here. This is an ARMv4T processor, and kernels are built in arm
mode (thumb1 is not used in the kernel), so the suggested  ".arch armv6t2" would not work.

[2021-01-28 09:58] arndb commented on #1271
On Thu, Jan 28, 2021 at 10:10 AM Jian Cai <notifications@github.com> wrote:

I was initially building with clang-11  by accident, retrying with Ubuntu
clang version
12.0.0-++20210126052625+879c12d95a27-1~exp1~20210126163340.296 now.

[2021-01-28 10:08] arndb commented on #1270
I tried removing the option, but ran into the old problem that implicit-it is absolutely required for the kernel sources. I had tried converting the sources to explicit IT instructions in the past, but eventually given up on that because there was too much to change.

I assume that clang does implement implicit-it, because otherwise it would also break on a lot of user space code with inline assem

[2021-01-28 10:49] arndb commented on #1270
I found that replacing "-Wa,-mimplicit-it=always" with "-mllvm --arm-implicit-it=always" gets it to mostly build:

[code]

but this runs into a number of new issues. Attaching a log from an allmodconfig build with CONFIG_ARCH_MULTI_V6=n and CONFIG_THUMB2_KERNEL=y

[thumb2-allmod.txt](https://github.com/ClangBuiltLinux/linux/files/5886520/thumb2-allmod.txt)

Some of the interesting ones:

[code]

[

[2021-01-28 13:38] tinti opened #1282 "Remove unreachable code in fs/ext4/namei.c"
Original issue: https://github.com/ClangBuiltLinux/linux/issues/1180

Found by Clang -Wunreachable-code-aggressive.

https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/fs/ext4/namei.c#L830

[2021-01-28 13:47] arndb opened #1283 "clang ias: error: unknown token in expression"
Building arch/arm/mach-at91 with IAS results in a build failure:

<instantiation>:14:13: error: unknown token in expression
 ldr tmp1, =#0x00020010UL
            ^
/git/arm-soc/arch/arm/mach-at91/pm_suspend.S:542:2: note: while in macro instantiation
 at91_plla_enable
 ^

[2021-01-28 14:06] tinti opened #1284 "Remove unreachable code in drivers/gpu/drm/i915/"
Original issue: https://github.com/ClangBuiltLinux/linux/issues/1180

Found by Clang -Wunreachable-code-aggressive.

https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/drivers/gpu/drm/i915/display/intel_sdvo.c#L1767
https://github.com/ClangBuiltLinux/linux/blob/83d09ad4b950651a95d37697f1493c00d888d0db/drivers/gpu/drm/i915/display/intel_sdvo.c#L1851

* Becomes un

[2021-01-28 17:59] nickdesaulniers commented on #1210
accepted: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=bb73d07148c405c293e576b40af37737faf23a6a

[2021-01-28 18:22] nathanchance commented on #1279
Should be fixed by https://git.kernel.org/next/linux-next/c/f06a5f700c66cc0c3d9402441be57961c8949d21.

[2021-01-28 18:22] #1279 closed, assigned to nobody

[2021-01-28 19:00] nickdesaulniers commented on #1271
@arndb noted that arch/arm/probes/kprobes/test-thumb.c also has a similar issue with CONFIG_THUMB2_KERNEL.

[2021-01-28 21:04] nathanchance opened #1285 "-Wnull-pointer-arithmetic in include/asm-generic/io.h"
`fs/btrfs` has enabled W=1 for themselves ([commit](https://git.kernel.org/kdave/c/d9f6b455016dd092ee73352e9609ec5904161f1a)), which results in 1000+ warnings on architectures where `PCI_IOBASE` is not defined (as it evaluates to a NULL pointer). Example:

[code]

Full build log: https://builds.tuxbuild.com/1niBayWPViIGDJ1NJeZ2RJH0siz/build.log

Really ugly fix:

[code]

cc @arndb as I know you ha

[2021-01-28 21:19] nickdesaulniers commented on #1283
Pretty sure we've removed previous uses of the pseudo op for octa-literals in the past...

[2021-01-28 21:23] nickdesaulniers commented on #1274
Clang might default to `-marm` for `--target=arm-linux-gnueabi` IIRC; maybe `-mthumb` is not being passed in addition to `-march=armv7-m`? https://llvm.org/pr48894 so I would be surprised that `armv7-m` isn't changing the mode to `-mthumb`.

[2021-01-28 21:29] nickdesaulniers commented on #1270
Is #1271 .

For the `.w` suffixes, I ran into that as well in the patch for #1271 in thumb mode; though those look like inline asm.

also looks like #1271 / https://reviews.llvm.org/D95586.

[2021-01-28 21:31] arndb commented on #1274
I suspect the symptom I reported here was a side-effect of a partial workaround that I had added to Kconfig, forbidding THUMB2_KERNEL when building with CLANG_IAS, but not forbidding ARMv7-M. In normal builds we should always pass -mthumb when building for ARMv7-M or any other configuration that has CONFIG_THUMB2_KERNEL enabled, but with my workaround, Kbuild ended up passing "-march=armv7-M -marm

[2021-01-28 21:36] arndb commented on #1283
Maybe this instance was added later? It seems to come from commit 4fd36e458392 ("ARM: at91: pm: add plla disable/enable support for sam9x60") in linux-5.7-rc1.

[2021-01-28 22:23] nathanchance commented on #1245
Accepted: https://lore.kernel.org/mm-commits/20210127230412.luDokXEbV%25akpm@linux-foundation.org/

[2021-01-28 22:24] #1278 closed, assigned to nobody

[2021-01-28 22:42] arndb commented on #1285
Any idea which architectures this happens on? There are two possible ways we might get around this:

a) a lot of architectures do not support I/O port accesses at all and should not define these as pointer dereferences in the first place

b) using a NULL pointer as the I/O port base is generally a bad idea as well, as it leads to a misplaced port number causing random data corruption, and they sho

[2021-01-28 22:57] nathanchance commented on #1285
@arndb I can for sure see this for s390. I have seen certain instances where riscv and powerpc generate warnings such as these but it looks like from files other than `include/asm-generic/io.h`.

[2021-01-29 00:03] nathanchance commented on #1229
Fixed: https://git.kernel.org/torvalds/c/b7c568752ef3

[2021-01-29 00:03] #1229 closed

[2021-01-29 06:51] dileks commented on #1255
Just for the sake of completeness as I posted here some diffs:

[2021-01-29 10:43] arndb opened #1286 "clang ias, thumb2: proc-v7.S:85:60: error: branch target out of range"
Building a thumb2-enabled arm32 kernel with clang ias and CONFIG_SMP_ON_UP, I get a couple of errors like

arch/arm/mm/proc-v7.S:85:60: error: branch target out of range
 .pushsection ".alt.smp.init", "a" ; .long 9998b - . ; b.w . + (1f - 9998b) ; .popsection

The underlying code looks like

[code]

and this was recently changed with commit 450abd38fe6c ("ARM: kernel: use relative
references for U

[2021-01-29 17:35] nickdesaulniers commented on #1121
stable just sent out mails for backports in 4.14, 4.9, 4.4.

[2021-01-29 17:35] #1121 closed

[2021-01-29 17:55] nickdesaulniers commented on #1274
Closing this then as unreproducible?

[2021-01-29 17:55] #1274 closed, assigned to nobody

[2021-01-29 19:00] tinti commented on #1282
Patch sent.

[2021-01-29 19:00] tinti commented on #1284
Patch sent.

[2021-01-29 19:25] nathanchance commented on #1282
We generally want a link to the patch in the tracker and an update to the label to show this has a patch: https://lore.kernel.org/r/20210129185856.158310-1-viniciustinti@gmail.com

[2021-01-29 19:26] nathanchance commented on #1284
We generally want a link to the patch in the tracker and an update to the label to show this has a patch: https://lore.kernel.org/r/20210129181519.69963-1-viniciustinti@gmail.com/

[2021-01-29 20:12] nathanchance commented on #1069
Patch submitted for `CONFIG_GCOV_KERNEL` because of more 0day reports:

https://lore.kernel.org/r/20210129201116.2658179-1-nathan@kernel.org

https://groups.google.com/g/clang-built-linux/c/vd0HjMs_LTg/m/Mb6WT9UGBAAJ

[2021-01-29 22:10] MaskRay commented on #666
llvm-objdump output (`<function>:` instead of `function:`) matches GNU objdump after https://reviews.llvm.org/D75713 (in LLVM 11.0.0)

[2021-01-29 22:10] #666 closed

[2021-01-29 23:43] arndb opened #1287 "lld: armv4: ld.lld: warning: lld uses blx instruction, no object with architecture supporting feature detected"
I get many instances of this warning when building a kernel with CONFIG_CPU_32v4 enabled, e.g. "make moxart_defconfig"

ld.lld: warning: lld uses blx instruction, no object with architecture supporting feature detected
ld.lld: warning: lld uses blx instruction, no object with architecture supporting feature detected
ld.lld: warning: lld uses blx instruction, no object with architecture supporting

[2021-01-29 23:46] arndb opened #1288 "lld: arm64 big-endian: ld.lld: error: unknown emulation: aarch64linuxb"
This is what I get when building an arm64 big-endian kernel:

ld.lld: error: unknown emulation: aarch64linuxb
make[4]: *** [/git/arm-soc/arch/arm64/kernel/vdso/Makefile:56: arch/arm64/kernel/vdso/vdso.so.dbg] Error 1

I suspect this trivial to workaround, as lld seems to support big-endian in principle, but I could not figure out what the actual problem is.

[2021-01-30 00:06] nathanchance commented on #1288
We probably need https://git.kernel.org/linus/28187dc8ebd938d574edfc6d9e0f9c51c21ff3f4 for arm64 as well. LLD does not support big-endian ARM: https://github.com/ClangBuiltLinux/linux/issues/380

[2021-01-30 00:27] dileks commented on #1261
When playing with `Clang-PGO` @nickdesaulniers pointed to the fix here and in LLVM-12 (reporter had set `CONFIG_L2TP=m`).

Just as a note: `LLVM v12.0.0-rc1` ships `commit d36812892c16 [GVN] do not repeat PRE on failure to split critical edge`

[2021-01-30 00:59] nathanchance commented on #1143
@jrtc27 with this diff:

[code]

we get farther but we are still broken with the integrated assembler:

[code]

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/riscv/include/asm/jump_label.h

[2021-01-30 01:25] jrtc27 commented on #1143
Hmm. GNU as will always use ADD32/64+SUB32/64 to do symbol differences. LLVM will use that for -mrelax, but will optimise it to 32_PCREL for `.long` and fail to find a suitable relocation for `.quad`. The semantics of the two aren't quite the same though when it comes to symbol preemptibility.

[2021-01-30 01:26] jrtc27 commented on #1143
Is there a reason you need a 64-bit integer? That seems like a bit of a waste when the code model only supports 2 GiB, and using a 32-bit integer would also work around the problem.

[2021-01-30 06:34] nickdesaulniers commented on #1287
sounds like LLD warning that it doesn't support ARMv4, since `blx` must have been added later?

[2021-01-30 06:35] nickdesaulniers commented on #1282
@tinti can you create a label for -Wunreachable-code-aggressive (like we have for other warnings) and tag this and #1284.

[2021-01-30 06:41] nickdesaulniers commented on #1281
`mov` with a register destination and immediate operand has to be the most basic instruction there is on ARM; not sure why it would be restricted to thumb2 mode or the armv6t2 sub arches.

[2021-01-30 06:54] nickdesaulniers commented on #39
I think we should experiment with `-mllvm -inline-threshold=<number>` when setting `-fsanitize=kernel-address` with LLVM.

[2021-01-30 06:55] nickdesaulniers commented on #236
@GustavoARSilva what's the latest on the series you had sent out?

[2021-01-30 06:57] nickdesaulniers commented on #275
Sorry, @ardbiesheuvel , all of my links for this look irrelevant.  Do you have a lore link or something written up for your idea for a kernel code model for aarch64?  I think some of the aggressive optimizations @MaskRay has been working on for x86 might play in with some of your ideas for aarch64.

[2021-01-30 14:42] arndb commented on #1288
I don't think that's the case actually: I can link a big-endian arm64 user space executable with ld.lld, it sounds more like something in the way we call ld on arm64 is slightly different between ld.bfd and ld.lld.

[2021-01-30 14:48] arndb commented on #1287
I use 'ld --fix-v4bx' to turn 'blx' instructions into 'bl' on a combined v4/v4t kernel, which should avoid the use of blx and make it work on pre-v4t processors. It seems that my patch to introduce this was never merged upstream and I should resend that, see https://patchwork.kernel.org/project/linux-arm-kernel/patch/12678426.5oeMNXL25J@wuerfel/

What I found now is that the $(call ld-option, ...)

[2021-01-30 15:53] ardbiesheuvel commented on #275
I don't have any links at hand, but I can provide some background.

This issue came up when I discussed the assumption in the Linux/arm64 build system that AArch64 code generated by GCC without the -fpic or -fpie flags set is suitable for linking with -pie, so that we can emit dynamic relocations into the bare metal binary, which it can use to self relocate at boot, for KASLR.

Ramana (who is [sti

[2021-01-30 19:07] MaskRay commented on #1288
Both big-endian arm and aarch64 are unsupported.

See https://reviews.llvm.org/D58655#1410282 for aarch64be (@smithp35)

The unclear things are what relocation types need `write32/write64` instead of `write32le/write64le`.

[2021-01-30 19:16] MaskRay commented on #1269
This is due to `.weak foo; ... .globl foo`

Note: newer integrated assembler gives a location (instead of `<unknown>:0`) for the place `.globl` is used.

[2021-01-30 20:00] MaskRay commented on #275
For a STB_GLOBAL/STB_WEAK symbol,

STV_DEFAULT: both compiler & linker need to assume such symbols can be preempted in -fpic mode. The compiler emits GOT indirection by default.
GCC -fno-semantic-interposition uses local aliases on defined non-weak function symbols for x86 (unimplemented in other architectures).
Clang -fno-semantic-interposition uses local aliases on defined non-weak symbols (both

[2021-01-30 20:26] arndb commented on #1285
s390 does not have any support for I/O ports, and just returns NULL from ioport_map(), while ignoring any IORESOURCE_IO BARs on a PCI device, so in that case, we could put anything in there. I would suggest adding a stub function that contains a WARN_ON(1) and just returns all-ones.

[2021-01-30 23:38] arndb commented on #1288
Should lld refuse to link big-endian binaries then, instead of producing invalid output?

FWIW, I found that I only needed a small patch to actually get the big-endian kernel to build with both linkers:

[code]

This avoids the two build failures i see with lld, and the resulting kernel still boots when built with ld.bfd, but is silently broken with lld, and that seems worse than an error message

[2021-01-31 04:05] nickdesaulniers commented on #275
Thanks for more information. Questions (naive, perhaps, but I appreciate the feedback):

It seems to also produce an excessive growth in the number of relocations in debug info sections, which accounts for a significant growth in size of the binary (when debug info is not stripped or produced separately).  The change in file size of vmlinux from enabling CONFIG_RELOCATABLE can be ~95% attributed t

[2021-01-31 04:09] nickdesaulniers commented on #1269
Probably something that changed how `__ia32_compat_sys_sysctl` was defined in assembler.

[2021-01-31 04:19] nickdesaulniers commented on #1287
Can I run linux on my Gameboy Advance? Pretty sure that was arm7tdmi which I think is ARMv4? 🎮

Oh?

I wonder why the linker fixes this up (or warns about it).  Shouldn't the compiler not select such instructions if told `-march=armv4`?

[2021-01-31 04:22] #863 closed

[2021-01-31 04:23] nickdesaulniers commented on #863
tentatively closing this.  Not sure if llvm 11 or 10 is the precise fix.

[2021-01-31 09:43] arndb commented on #1287
It is an "arm7tdmi", but the 't' means that this s ARMv4T, not ARMv4, so it's not relevant here because it has the bx/blx instructions.

While we still support ARM720T, which is an ARM7TDMI with MMU and cache, support for the bare ARM7TDMI was dropped several years ago, so you are out of luck there. ;-)

I think the idea is to let you write assembler code that is portable between ARMv4 and ARMv4T:

[2021-01-31 18:52] nathanchance commented on #275
I believe this is the link in the first comment:

https://lore.kernel.org/linux-arm-kernel/CAKv+Gu8LchCWB-b+cDmStwrNf5qDs6ZMQ4drv2HMk-8OyjbzNQ@mail.gmail.com/

Here are lore links for all of the other posts:

https://lore.kernel.org/r/CAKv+Gu_tuYcikQ07QKP-N+rd+DpoucSYn6TG+OJ-jm9CVGaDxg@mail.gmail.com
https://lore.kernel.org/r/26a25069-ea1d-5fb3-549c-ab653f454a30@arm.com
https://lore.kernel.org/r/2

[2021-01-31 18:58] nathanchance commented on #1269
How much newer? I see that exact error message at https://github.com/llvm/llvm-project/commit/6f3d322f250d2381370b256e648cbb76c6de0135 but this is during LTO so that could impact it I suppose.

Tracking that down is going to be rather painful but I will see if I can take a whack at it later this week.

[2021-01-31 20:40] MaskRay commented on #1269
https://reviews.llvm.org/D90511 (2020-11). Some LTO code paths may not pass through the location. I'll check whether they can be improved after you track it down:)

[2021-01-31 21:28] MaskRay commented on #602
@q66 told me that @leahneukirchen has a patch to drop ELFv1 legacy from `arch/powerpc/Makefile`. It is simplification on its own (likely upstreamable) and can potentially help ld.lld https://github.com/void-linux/void-packages/blob/master/srcpkgs/linux5.10/patches/ppc64-be-elfv2.patch

[2021-01-31 21:33] dileks commented on #1209
Now in Linus tree: https://git.kernel.org/linus/5e6dca82bcaa49348f9e5fcb48df4881f6d6c4ae

[2021-01-31 21:42] #1209 closed

[2021-01-31 21:45] q66 commented on #602
that's my patch, @leahneukirchen just pulled it in from the previous patches for a previous kernel

[2021-01-31 21:53] MaskRay commented on #602
Thanks for clarification!

https://www.kernel.org/doc/html/latest/process/changes.html requires GCC 4.9. GCC gained support for -mabi=elfv2 in 2013. Perhaps we can make -mabi=elfv2 unconditional and entirely drop -mcall-aixdesc (not supported by Clang as of 12.0.0).

[2021-01-31 21:57] q66 commented on #602
the patch should still fall back to ELFv1 and `-mcall-aixdesc` as it is when the support is not available

there were efforts upstream to add the ELFv2 option previously, first one some years back (which got abandoned later) and IIRC there's a second one that was under review just recently (not sure what became of it)

[2021-02-01 03:57] staalmannen opened #1289 "clang-12: error: unsupported option '--64'"
This happens at the first instance of the use of "CC":

`CC     scripts/mod/empty.o`

Arch: x86_64
Kernel : 5.10.11
Clang: 12.0.0 (a855c9403fbac6be8acaf1651932084645a00d11)

Make flags : LLVM=1 LLVM_IA=1

I have been grepping all over the place but i can not find "--64" anywhere. The custom Linux distro (Aalbus) that I am using only has Clang, and the HOSTCC stage is working.

Any ideas where the

[2021-02-01 08:00] ardbiesheuvel commented on #275
...

I don't see a difference with -fno-semantic-interposition, either on GCC or Clang. In both cases, a reference to an undefined symbol is emitted using an entry in the GOT.

Not to my knowledge, no.

Yes, through the generation of GOT entries. With a GOT, all relocated quantities are close together, which reduces the footprint of pages that are CoW'ed due to relocation processing. Without CoW,

[2021-02-01 08:33] staalmannen commented on #1019
Personally, I think it would make more sense to merge elftoolchain with LLVM. It would be mutually beneficial where elftoolchain provides missing components (like libelf) and redundant stuff (like binutils utilities replacements) could be merged.

[2021-02-01 08:35] MaskRay commented on #275
My previous comment mentioned the semantics.

`clang -fpie -fdirect-access-external-data` meets your needs. GCC feature request: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=98112

`-fpie` means defined symbols are non-preemptible. `-fdirect-access-external-data` references undefined symbols via direct relocation types.

No, as my previous comment mentioned.

[2021-02-01 09:01] smithp35 commented on #1288
I agree that an explicit error message is preferable to silently not working.

It may be worth approaching TCWG in Linaro if BE support is important enough to work on.

This is my memory of what we'd need to do to get BE support working.

AArch64 support in LLD shouldn't be too far away. Instructions in AArch64 are always LE so we'd have to look through the code for any if BE do this based on the

[2021-02-01 12:39] arndb commented on #1288
I tried various combinations of clang/gcc, ld.bfd/ld.lld and big-endian/little-endian to understand what the behavior is today. This is what I found:

* ld.bfd rejects mismatched endianness between input files and command line arguments with an error message, while ld.lld ignores the '-EB' and '-EL' arguments and instead just use output of the same format as input. This seems to work correctly, bu

[2021-02-01 16:34] nathanchance commented on #1289
Can you run:

[code]

And upload the build.log here?

Example:

[code]

Also, your config would be helpful.

[2021-02-01 18:00] nickdesaulniers commented on #1289
Should be `LLVM_IAS=1` (missing `S`); not sure if that was a typo, or how that would manifest in the observed error.

[2021-02-01 18:43] nickdesaulniers opened #1290 "scripts/cc-can-link.sh fails when cross compiling"
`CONFIG_CC_CAN_LINK`
Reported-by: Daniel Mentz <danielmentz@google.com>

[code]

[2021-02-01 18:56] nathanchance commented on #1290
This is probably due to the fact that the default linker is being invoked because no `-fuse-ld=` is being passed. Also, I assume there also needs to be a compiler runtime that is compatible with the cross compile target.

[2021-02-01 20:23] tinti commented on #1282
Patch sent.

https://lore.kernel.org/linux-ext4/20210129185856.158310-1-viniciustinti@gmail.com/

[2021-02-01 20:24] tinti commented on #1282
done

[2021-02-02 02:25] nathanchance commented on #1288
Patch sent to disable the config for `ld.lld` like we did for 32-bit ARM: https://lore.kernel.org/r/20210202022441.1451389-1-nathan@kernel.org/

[2021-02-02 04:18] staalmannen commented on #1289
Oops that was just a typo here on Github. In my make file script (my custom OS uses pkgsrc to package) it is correct.

[2021-02-02 04:35] nathanchance commented on #1289
`--64` comes from the call to the assembler, which is added by clang based on the target triple:

[code]

https://github.com/llvm/llvm-project/blob/98768bab19b27db71f497b0e5d87dfa9e5a0f05a/clang/lib/Driver/ToolChains/Gnu.cpp#L725-L730

That `--64` should not be involved with the integrated assembler if I am reading the code correctly. Please make sure that `LLVM_IAS=1` is being properly passed alo

[2021-02-02 04:57] staalmannen commented on #1289
Thank you! For some reason it was not correctly passed to the make command. I now pass this error and hit another one :) Hopefully one that will be easier to solve by myself.

[2021-02-02 04:57] #1289 closed, assigned to nobody

[2021-02-02 17:10] nickdesaulniers commented on #1195
@DavidSpickett at Linaro also has a patch for LLVM: https://reviews.llvm.org/D95872.  I'll try to get it reviewed and tested asap.

[2021-02-02 19:15] nickdesaulniers commented on #1247
r15 is the program counter on arm.  Using it as the destination operand is...probably not a good idea as the warning allude to.

[2021-02-02 23:27] nickdesaulniers commented on #275
Is `-fdirect-access-external-data` currently only implemented for x86 in clang, like `-fno-semantic-interposition`?

Right, if a compiler uses absolute references for jump tables when compiling as `-pie`, then that's a compiler bug. Right?

[2021-02-03 00:32] MaskRay commented on #275
`-fdirect-access-external-data` is supported by most llvm supported targets.

The opposite `-fno-pic fno-direct-access-external-data` has triggered an x86 fastisel bug and an arm fastisel bug.

(Fixing a typo: `-pie` => `-fpie`. `-pie` is a linker mode.)
Yes. Absolute references should only produced for -fno-pic code. (Technically if a symbol is SHN_ABS, absolute references can be used in -fpie/-f

[2021-02-03 01:10] nickdesaulniers opened #1291 "-Wpointer-bool-conversion in drivers/net/ethernet/hisilicon/hns3/hns3_debugfs.c"
[code]
arm64 defconfig in -next

[2021-02-03 01:23] nathanchance commented on #1291
Fix submitted: https://lore.kernel.org/netdev/1612269593-18691-8-git-send-email-tanhuazhong@huawei.com/

[2021-02-03 01:30] nickdesaulniers commented on #275
[code]
built, booted (in QEMU), and no one died (this time)(I think).

Checking the object files' relocations, which undefined symbols use relocations that reference the GOT?  This is on the caller's side that `bl` should be using non `R_AARCH64_CALL26` relocations, without `-fno-direct-access-external-data`?  Or is there something I need to change in Kbuild first? I do have CONFIG_RELOCATABLE=y s

[2021-02-03 01:36] #430 closed

[2021-02-03 01:36] nickdesaulniers commented on #430
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=2c736bb4087f2cb949cbbaf4148733131b8466dc

[2021-02-03 02:30] nickdesaulniers commented on #957
duping to #1195 which has an llvm patch.

[2021-02-03 02:30] #957 closed

[2021-02-03 09:53] tinti commented on #1282
Patch approved.

ext4: factor out htree rep invariant check

[2021-02-03 19:17] nickdesaulniers commented on #1270
https://llvm.org/pr49023

[2021-02-03 20:49] arndb commented on #1287
Correction: ARMv4T added only the BX instruction, while BLX was added later with ARMv5, so both ARMv4 and ARMv4T are currently broken with lld. Also, the warning is apparently not just for BX/BLX instructions from object files passed into the linker, but is about instructions added by the linker itself, which just always uses BLX here.

I suppose we can treat this the same way as big-endian suppor

[2021-02-04 03:34] nathanchance opened #1292 "-Wframe-larger-than in= in arch/powerpc/kvm/book3s_hv_nested.c"
[code]

This showed up due to enabling the new pass manager by default:

[code]

Prior to this, it looks like the stack frame of that function was `2016`:

[code]

[2021-02-04 04:18] nathanchance opened #1293 "__field_overflow in drivers/net/ipa/ipa_main.c with clang-10"
Found during a personal CI run: https://github.com/nathanchance/continuous-integration2/runs/1827531732

[code]

This is not present with `clang-11` and newer. I will see if I can isolate what commit "fixed" this in LLVM and then reduce it down to see where things are going wrong.

[2021-02-04 06:48] nickdesaulniers commented on #1293
(or we could drop clang 10 support)

[2021-02-04 06:49] nickdesaulniers commented on #1292
NPM ("new pass manager," as opposed to LPM "legacy pass manager") is a BIG change to LLVM; lots of passes, their orderings, and dependencies change.  This probably won't be the only fallout from it.

[2021-02-04 09:07] dileks commented on #1228
@nathanchance

Seen on the diverse mailing-list you asked for integration of `blocking bugs` (?) into upstream.

Is the list of `blocking bugs` up-to-date - here in the first posting?

[2021-02-04 09:12] dileks commented on #1228
As a wish for a next run:

Can you include `LLVM` version `12.0.0-rc1` (or latest `release/12.x`) and `Linux` version `5.11-rc7` when it is available?

Dunno, if you (will) use `LLVM-12` and/or `LLVM-13` from `<apt.llvm.org>` as it is recently available.

[2021-02-04 14:54] arndb commented on #1280
I played around it some more, and found that this is mainly a function of the image size -- whenever .text grows beyond 32MB (for arm) or 8MB (for thumb2), there is a good chance to hit the bug, though changing random Kconfig options can also make it go away.

The other thing I found is that it eventually does converge if you add further iterations to kallsyms. The problem is that something (eithe

[2021-02-04 17:48] nathanchance commented on #1228
The 5.11 milestone is more accurate than the original post: https://github.com/ClangBuiltLinux/linux/milestone/2

Yes, the next run will include LLVM 10.0.1, LLVM 11.1.0-rc2, LLVM 12.0.0-rc1, and LLVM 13 at whatever revision is the latest when I run it. I have not been as consistent with it as it ties up my server for more than 24 hours, which I usually cannot spare due to work, but I will try to

[2021-02-04 18:29] nickdesaulniers commented on #1280
cc @groeck

[2021-02-04 18:31] dileks commented on #1282
Now in `<ext4.git#dev>`.

[1] https://git.kernel.org/tytso/ext4/c/c6c818e50d1982ebac4dcd3ae18c1b49a66ebacb
[2] https://git.kernel.org/pub/scm/linux/kernel/git/tytso/ext4.git/log/?h=dev

Update: Use shorter link and add link to <ext4.git#dev>.

[2021-02-04 19:08] nathanchance commented on #1293
I suppose that depends on if you are okay with arm64 `all{yes,mod}config` shipping broken in 5.11 with `clang-10` :) based on the thread I posted last week, we seems to generally be on the same page with potentially bumping the minimum clang version to 11.0.0 in 5.12.

[2021-02-04 20:13] nickdesaulniers commented on #1269
I can reproduce.

I'm curious whether this is:
1. a config in android-4.19-stable that's not enabled in defconfig or tested in stable/4.19.y
2. an out of tree patch in Android (hence why we haven't observed this in stable/4.19.y)

cc @samitolvanen in case
commit 2d96fcbd8b37 ("ANDROID: x86: use the correct function type in SYSCALL_DEFINE0")
commit 1693025140d3 ("ANDROID: x86: fix function types in

[2021-02-04 20:23] nathanchance commented on #1269
I think it is LTO related, as I do not think that it is reproducible when that is turned off.

[2021-02-04 20:28] samitolvanen commented on #1269
The syscall patches were upstreamed later. There might have been some changes in the final versions, perhaps worth checking. However, the main difference between 4.19 and later versions is that we still use full LTO on x86_64 with 4.19.

[2021-02-04 21:00] nickdesaulniers commented on #1269
It's 1693025140d3df27b491f43505c77a5f700c5cae.  It will have to get reverted or fixed for an AOSP toolchain update.

[2021-02-04 21:03] samitolvanen commented on #1269
Looks pretty identical to upstream commit 6e4847640c6aebcaa2d9b3686cecc91b41f09269. It's needed for CFI on x86.

[2021-02-04 21:36] samitolvanen commented on #1269
Also, how does 1693025140d3df27b491f43505c77a5f700c5cae break this? This is a compat syscall and that commit doesn't change `COND_SYSCALL_COMPAT` or `COMPAT_SYSCALL_DEFINEx`.

The weak definition for `__ia32_compat_sys_sysctl` comes from kernel/sys_ni.c:
[code]
Defined in arch/x86/include/asm/syscall_wrapper.h as:
[code]
And in include/linux/linkage.h:
[code]
The non-weak definition for `__ia32_co

[2021-02-04 21:46] samitolvanen commented on #1269
As a side note, following the example of commit 1693025140d3df27b491f43505c77a5f700c5cae, perhaps using a weak function defined in C in `COND_SYSCALL_COMPAT` instead of relying on `cond_syscall` would solve the problem here? Something like this (not tested):
[code]

[2021-02-04 22:40] nickdesaulniers commented on #1269
It's not yet clear to me, perhaps we need to preprocess some of the relevant source files to see through the macro soup.

[code]
[code]
(update to use ToT LLVM, not AOSP LLVM which is behind)
[code]
to reproduce the failure.  Reverting https://github.com/ClangBuiltLinux/linux/commit/1693025140d3df27b491f43505c77a5f700c5cae fixes the error.

The error `error: __ia32_compat_sys_sysctl changed bindin

[2021-02-04 22:42] nickdesaulniers commented on #1269
It looks like `__IA32_SYS_STUBx` already defines this.
https://github.com/ClangBuiltLinux/linux/commit/1693025140d3df27b491f43505c77a5f700c5cae#diff-8c512d0938c60e8173d71b1ce5f9bf9612de03322336804de57e5c508d635601R41-R44
(though that assumes the macro is ever invoked, and if so, before `SYSCALL_DEFINE0` is).

[2021-02-04 22:47] samitolvanen commented on #1269
Yes, but these macros are not used for the compat syscalls like `__ia32_compat_sys_sysctl`. If you had a problem with `__ia32_sys_*`, this would make sense.

[2021-02-04 23:12] samitolvanen commented on #1269
The entire idea of `COND_SYSCALL(_COMPAT)?` is to define these twice, because whether the actual implementation of these syscalls is available depends on the kernel config. I still suspect this is caused by `cond_syscall` using inline assembly to define the weak alias, which LTO cannot see. I'll see if I can still test this today.

[2021-02-04 23:27] samitolvanen commented on #1269
I was able to reproduce the issue with ToT LLVM, and this fixes it for me:
[code]

[2021-02-04 23:49] samitolvanen commented on #1269
I also tried reverting 1693025140d3df27b491f43505c77a5f700c5cae instead of using the proposed fix in my previous comment and I get the following:
[code]
Which makes me even more curious how the revert fixed this issue for you. :thinking:

[2021-02-05 11:52] dileks commented on #256
Alternative `[PATCH] x86/efi: Remove EFI PGD build time checks` from `Boris Petkov`.

[1] https://lore.kernel.org/lkml/20210205113930.GD17488@zn.tnic/

[2021-02-05 13:13] arndb commented on #1280
Patch applied for 5.12: https://lore.kernel.org/lkml/CAK7LNAQPKaL1xbFfdWYSPZ8S4cfyZ2N2BriVPa-OE5A6c5d_9A@mail.gmail.com/

[2021-02-05 14:27] emaste commented on #1019
I maintain ELF Tool Chain in FreeBSD and am a committer to the upstream project; I am not sure if it's feasible to merge the project under the LLVM umbrella but I'm happy to help support this effort.

[2021-02-05 15:04] dileks commented on #1280
Patch in `kbuild.git#fixes`.

[1] https://git.kernel.org/pub/scm/linux/kernel/git/masahiroy/linux-kbuild.git/commit/?h=fixes&id=efe6e3068067212b85c2d0474b5ee3b2d0c7adab
[2] https://git.kernel.org/masahiroy/linux-kbuild/c/efe6e3068067212b85c2d0474b5ee3b2d0c7adab

Update: Add shorter link in [2] (points to the same commit)

[2021-02-05 21:28] nathanchance commented on #1212
Patch has been accepted: https://lore.kernel.org/mm-commits/20210204002030.FFOSUHLTU%25akpm@linux-foundation.org/

[2021-02-05 21:59] nathanchance commented on #1245
Merged into mainline: https://git.kernel.org/torvalds/c/28abcc963149

[2021-02-05 22:00] #1245 closed

[2021-02-06 16:43] nathanchance commented on #256
Merged into `x86/urgent`: https://git.kernel.org/tip/816ef8d7a2c4182e19bc06ab65751cb9e3951e94

[2021-02-06 19:05] MaskRay commented on #1288
Thalheim kindly shared with me an aarch64_be rootfs. With `aarch64_be-linux-musl-native.tgz` on https://musl.cc , I verified that
https://reviews.llvm.org/D96188 linked aarch64_be hello world works.

You may change the LD_IS_LLD patch to check `<13.0.0` instead.

[2021-02-06 21:50] nathanchance commented on #1288
@MaskRay thanks a lot! I can confirm that D96188 works with https://github.com/nathanchance/boot-utils/commits/b8883fd4d8cc28f45cd43d9905084b2f0c8c6de3.

There is still one other issue that prevents `ARCH=arm64 defconfig` + `CONFIG_CPU_BIG_ENDIAN=y` from working, which is https://github.com/ClangBuiltLinux/linux/issues/1025:

[code]

For the sake of testing this, I did:

[code]

[2021-02-06 21:51] nathanchance commented on #1025
I have updated the title of this to reflect that this does not just affect MIPS: https://github.com/ClangBuiltLinux/linux/issues/1288#issuecomment-774549032

[2021-02-06 22:06] nathanchance opened #1294 "ld.lld: relocation R_ARM_THM_JUMP24 out of range"
From https://lists.01.org/hyperkitty/list/kbuild-all@lists.01.org/message/4NMURWOXCZFEWKMRAOSNNOVDAZJOX4X6/:

[code]

I am guessing this is due to `CONFIG_THUMB2_KERNEL`.

[2021-02-06 22:58] nathanchance commented on #1292
Without NPM:

[code]

With NPM:

[code]

With NPM + below diff:

[code]

[code]

Not sure if this is a proper fix but we are running into this in CI now: https://github.com/ClangBuiltLinux/continuous-integration2/runs/1846001679

[2021-02-06 23:37] MaskRay commented on #1025
Hope https://reviews.llvm.org/D96214 helps mips, too.

[2021-02-07 02:00] nathanchance commented on #1025
I can confirm that `D96214` resolves all of these issues :) thank you!

[code]

`ARCH=arm64`:

[code]

`ARCH=mips`:

[code]

[code]

[2021-02-07 05:46] dileks commented on #679
We will hit this again when [2] is upstream.

From my build-log and local patches.series:
[code]

[1] https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/log/?h=x86/urgent
[2] https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?h=x86/urgent&id=20bf2b378729c4a0366a53e2018a0b70ace94bcd
[3] https://git.kernel.org/tip/tip/c/20bf2b378729c4a0366a53e2018a0b70ace94bcd

Update: Shor

[2021-02-07 18:47] nathanchance commented on #256
Merged into mainline: https://git.kernel.org/linus/816ef8d7a2c4182e19bc06ab65751cb9e3951e94

[2021-02-07 18:47] #256 closed

[2021-02-07 20:18] nathanchance commented on #1280
Merged into mainline: https://git.kernel.org/linus/efe6e3068067212b85c2d0474b5ee3b2d0c7adab

[2021-02-07 20:18] #1280 closed, assigned to nobody

[2021-02-07 22:40] dileks commented on #1228
From the `Linux 5.11-rc7` announcement:

[1] https://lore.kernel.org/r/CAHk-=wgxhBkWH0D6chYcwqDvdh2rB5ZVpToxodz5Q6qaFd_qyg@mail.gmail.com/
[2] https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tag/?h=v5.11-rc7

[2021-02-08 03:43] nathanchance opened #1295 "Assertion in mm/memcontrol.c when building x86_64 allyesconfig with -O3"
See upstream bug for more details: https://llvm.org/pr49085

[2021-02-08 14:13] GustavoARSilva commented on #236
Apparently, the patches for net didn't make it to the list. A lot of emails have been bouncing, recently. It seems vger is running into some issues, recently. There are conversations about it in users@linux.kernel.org.

Anyways, as for the number of warnings remaining, there are a total of 150 in today's linux-next (next-20210208), out of which 59 are addressed by the patches I sent to net a while

[2021-02-08 15:44] dileks commented on #679
Re-Opened as `x86/build: Disable CET instrumentation in the kernel` hit Linus tree.

Can someone confirm seeing the objtool-warning (again)?
Thanks.

[1] https://git.kernel.org/linus/20bf2b378729c4a0366a53e2018a0b70ace94bcd

[2021-02-08 18:35] #1025 closed

[2021-02-08 19:03] nickdesaulniers commented on #1288
Thanks @MaskRay !

Do we want to cherry pick the LLVM fix to 12.x branch, or let this ride the 13.x train?  We probably need to amend the kernel patch to check the specific LLD version.

[2021-02-08 19:03] nickdesaulniers commented on #1025
Do we want to cherry pick this to 12.x branch?

[2021-02-08 19:32] nathanchance commented on #679
[code]

shows no objtool warnings on v5.11-rc7.

[2021-02-08 19:35] nathanchance commented on #1288
I think that it would be nice to have this and the fix for #1025 in LLVM 12.x, that is up to @MaskRay and @tstellar though.

Regardless, I will resend the patch to be either

```depends on !LD_IS_LLD || LLD_VERSION >= 120000```

or

```depends on !LD_IS_LLD || LLD_VERSION >= 130000```

depending on the outcome.

[2021-02-08 20:19] nathanchance commented on #1291
Fixed: https://git.kernel.org/next/linux-next/c/8f8a42ff003aaa3c1424923154c9a92f3bd4c634

[2021-02-08 20:19] #1291 closed, assigned to nobody

[2021-02-08 20:28] nickdesaulniers commented on #1270
https://reviews.llvm.org/D96285

[2021-02-08 20:35] dileks commented on #679
OK, thanks for the feedback.

I tried with:
[code]

But that still shows:
[code]

Might be my linux-config (attached below) or one of my patches in my custom patchset (or used LLVM/Clang).

[config-5.11.0-rc7-2-amd64-clang12-ias.txt](https://github.com/ClangBuiltLinux/linux/files/5946675/config-5.11.0-rc7-2-amd64-clang12-ias.txt)

[2021-02-08 20:54] dileks commented on #679
My make-line:
[code]

[2021-02-08 21:04] dileks commented on #679
@jpoimboe

Uploaded gzip-ed `drivers/infiniband/hw/hfi1/platform.o` - can you look at it?

[platform.o.gz](https://github.com/ClangBuiltLinux/linux/files/5946820/platform.o.gz)

[2021-02-08 21:16] nathanchance commented on #1295
Patch proposed: https://reviews.llvm.org/D96288

[2021-02-08 21:20] dileks commented on #1295
@nathanchance

Are you able to build `x86_64 allyesconfig` with `-O3` optimization :-)?

[2021-02-08 21:25] MaskRay commented on #1288
Supporting aarch64_be is a new feature, and we lack testing on goodness, so I think it is not suitable for 12.x.
Since the features are early in 13.x, people with aarch64_be usage have sufficient time to test it.

`depends on !LD_IS_LLD || LLD_VERSION >= 130000` looks good to me.

[2021-02-08 21:32] nathanchance commented on #1295
Fixed: https://github.com/llvm/llvm-project/commit/0eda4547969e0f5c12af6b4e26afd34ff8c95015

@dileks yes, if I disable `CONFIG_VIDEO_TI_CAL` due to https://github.com/ClangBuiltLinux/linux/issues/1116.

[2021-02-08 21:32] #1295 closed, assigned to nobody

[2021-02-08 21:33] nathanchance commented on #1288
That is fine with me, I will send that patch along this afternoon.

[2021-02-08 21:35] jpoimboe commented on #679
Legit warning, maybe dead code or undefined behavior?
[code]

[2021-02-08 22:07] nickdesaulniers opened #1296 "thumb missing .w InstAlias' for ldr and str"
arch/arm/lib/copy_template.S
[code]
  (forked from #1270, cc @arndb )

[2021-02-09 00:59] nathanchance commented on #1288
v2: https://lore.kernel.org/r/20210209005719.803608-1-nathan@kernel.org/

[2021-02-09 01:28] nickdesaulniers commented on #1288
Should mark #380 a dup of this.

[2021-02-09 01:28] nickdesaulniers commented on #380
fixed in #1288

[2021-02-09 03:50] nathanchance opened #1297 "FAILED unresolved symbol vfs_truncate"
Initially reported by @veruu: https://groups.google.com/g/clang-built-linux/c/de_mNh23FOc/m/E7cu5BwbBAAJ

Isolated set of configs:

[code]

I have reported this to the BPF folks upstream: https://lore.kernel.org/r/20210209034416.GA1669105@ubuntu-m3-large-x86/

[2021-02-09 03:57] MaskRay commented on #1025
LG for release/12.x if it caused problems. The change is pretty safe.

[2021-02-09 04:06] dileks commented on #1297
I am not a BPF/BTF expert but I inspected my vmlinux on x86-64 where I have all above Kconfigs set:
[code]
So, this seems to be arm64 specific.

[2021-02-09 09:57] dileks commented on #1297
Playing with `bpftool` and `ripgrep` (rg):
[code]

[2021-02-09 16:45] nathanchance commented on #1288
Kernel side patch accepted: https://git.kernel.org/arm64/c/e9c6deee00e9

[2021-02-09 18:09] samitolvanen commented on #1269
Do we have the same problem with 5.4? Looks like x86 doesn't use `cond_syscall` anymore in 5.10.

[2021-02-09 18:29] nathanchance commented on #1269
As far as I can tell, we do not have the same issue on android-5.4 but is 5.4 using ThinLTO?

[2021-02-09 18:34] samitolvanen commented on #1269
Correct. I guess this is only a problem with full LTO then.

[2021-02-09 19:38] nickdesaulniers commented on #1296
https://llvm.org/pr49118

[2021-02-09 19:52] nickdesaulniers commented on #1296
I suspect this is arm code mixed in or built as -Wa,-mthumb.

[2021-02-09 19:57] nickdesaulniers commented on #1296
yeah, that's it.
[code]
@arndb do we need to limit the `.arm` directives to only the arm instructions (or push/pop that we're using asm instructions)? It looks like GAS permits mixing ARM and Thumb assembly without directives, while Clang does not.

[2021-02-09 22:18] arndb commented on #1296
I think the .arm and .thumb directives have to be used before a the symbol is defined, either at file scope or by passing the -marm command line parameter. Doing it inside of copy_template.S (which is included inside of functions from the other files) would likely lead to invalid instruction encodings.

If you don't think ias can be fixed to recognize these instructions, we could work around it lo

[2021-02-10 01:28] nickdesaulniers commented on #612
It looks like "branch-folder" is tail merging blocks that end in calls even when the calls push additional arguments on the stack. It probably shouldn't do that, or do so more carefully.  When it computes the longest "chain" between two branches that flow together, it thinks the "call" instructions are identical, which is dubious since if the function accepts or can accept 6 or more arguments then

[2021-02-10 02:09] topperc commented on #612
@rnk can you help?

[2021-02-10 03:45] staalmannen commented on #1019
That would be awesome!
To toy with the idea I just did a rough import of elftoolchain svn trunk into the llvm-project tree :
https://github.com/staalmannen/llvm-project (branch main)

At the time of this writing no changes to the code has been made, so the bmake files remain. The first TODO is thus to replace bmake files with cmake and integrate it in the llvm build system.

General overview of th

[2021-02-10 04:12] dileks commented on #1204
Accepted by akpm: https://lore.kernel.org/linux-mm/20210209134115.4d933d446165cd0ed8977b03@linux-foundation.org/

[2021-02-10 04:19] dileks commented on #1212
On the way to Linus: https://lore.kernel.org/linux-mm/20210209134115.4d933d446165cd0ed8977b03@linux-foundation.org/

[2021-02-10 04:25] nathanchance commented on #1116
This is not reproducible on -next anymore with LLVM 13. Additionally, I think that [this patch](https://lore.kernel.org/lkml/20210210040802.1069235-1-ztong0001@gmail.com/) would resolve any issues.

[2021-02-10 04:25] #1116 closed

[2021-02-10 09:00] dileks commented on #679
Just as a note:
I have @jpoimboe `objtool-vmlinux` patchset on top of `Linux v5.7-rc7` - that might explain why I see the objtool-warning and @nathanchance not on "vanilla" v5.7-rc7.

( BTW, is "vanilla" politically correct? What if someone likes both `vanilla`and `chocko` (thinking of ice-cream)? )
( Master is now main. )
( Raider chocolate is now called Twix in Germany. )
( Can foodstuff be poli

[2021-02-10 17:06] nathanchance commented on #1285
Hmmm I am not sure I understand the suggestion. All of these warnings are in the IO access functions, which are used even when `ioport_map` returns NULL, right?

[2021-02-10 17:29] rnk commented on #612
My first reaction is that this is a bug in LLVM. If the same MBB is entered with different stack levels, there's no way to emit proper unwind instructions for it, and that's an issue for everyone, not just LLVM.

As a workaround, try disabling shrink wrapping (I forget the flag, sorry).

[2021-02-10 18:03] nathanchance commented on #1297
TL;DR of the upstream thread: This appears to be a pahole bug, exposed by arm64's BTI (which is why Sedat does not see anything). Jiri Olsa has posted [a tentative pahole fix](https://lore.kernel.org/bpf/YCPfEzp3ogCBTBaS@krava/), which I have verified against Veronika's original config and the reduced one that I came up with.

[2021-02-10 18:12] dileks commented on #1297
@nathanchance
Cool!

My selfmade LLVM toolchain v12.0.0-rc1 supports AArch64 arch:
[code]

Can I cross-build for `Linux/arm64`?
If yes, how?

Just curious - I wanted to throw out Aarch64 target in my next `ThinLTO+PGO optimized LLVM toolchain` build (version 12.0.0-rc2) as the Linux/arm64 defconfig build takes here 02:30 [hh:mm] (vs. 00:45 for Linux/x86_64 defconfig).

[2021-02-10 18:27] veruu commented on #1297
We do

[code]

[2021-02-10 18:35] dileks commented on #1297
@veruu

Is that your first comment in the CBL BTS :-)?

I normally build my LLVM toolchain with `tc-build`.

Kept the build-log - so I see:
[code]
That was my first Linux/arm64 cross-build :-).

Dunno, if I have time with this.
This Friday is milestone #2 of Debian/bullseye aka Debian-11 - that is of importance for Debianists.

[1] https://github.com/ClangBuiltLinux/tc-build

[2021-02-10 18:53] veruu commented on #1297
Hah possibly. I usually just annoy people on the mailing list and let them handle the rest (like with reporting this bug) :see_no_evil:

I'm a bit confused by your comment now as based on the question and issue I assumed you're asking about cross compiling the kernel to reproduce the problem/test the fix, but then linked LLVM building scripts. If you were asking about cross building LLVM and not t

[2021-02-10 18:57] dileks commented on #1297
@veruu

Indeed, 1st I like to confuse people and 2nd I wanted to reproduce this issue for Linux/arm64 but was not sure if I have all toolchain requirement to do so.

[2021-02-10 19:02] veruu commented on #1297
Given that your target list contains both ARM and BPF targets you should be good to go :)

[2021-02-10 19:09] dileks commented on #1297
/me gets red (hat).

[2021-02-10 20:15] arndb commented on #1292
Does it change anything to rewrite the function to use swab64s() instead of swab64()? That should produce slightly better object code in any case.

[2021-02-10 20:43] arndb commented on #1285
The point is that actually calling any of these functions on s390 will result in undefined behavior because it actually does a NULL pointer dereference. What I would suggest doing instead is to rewrite the I/O port accessors to either get hidden, or to replace them with a function that does a WARN_ONCE() but does not try to pass the pointer into readl/writel

[2021-02-10 20:43] nathanchance commented on #1221
Merged into mainline: https://git.kernel.org/torvalds/c/291b5c9870fc

[2021-02-10 20:43] #1221 closed

[2021-02-10 20:44] nathanchance commented on #1212
Merged into mainline: https://git.kernel.org/linus/a30a29091b5a6d4c64b5fc77040720a65e2dd4e6

[2021-02-10 20:44] #1212 closed

[2021-02-10 20:45] nathanchance commented on #1204
Merged into mainline: https://git.kernel.org/linus/793f49a87aae24e5bcf92ad98d764153fc936570

[2021-02-10 20:45] #1204 closed

[2021-02-10 21:16] rnk commented on #612
I looked at this again, and I guess shrink wrapping isn't involved here. This function doesn't have any prologue to speak of. You can use a different workaround of disabling x86 call frame optimization, `-mllvm -no-x86-call-frame-opt`. That will disable the store to push conversion optimization, and generally makes stack unwinding much simpler by establishing one level stack pointer throughout the

[2021-02-10 21:38] arndb commented on #1219
After some more time, I keep seeing this message in more configurations, but only ever for these three symbols, which suggests it has something to do with the symbols themselves:

rand64/0x156C7540-failure:ld.lld: error: assignment to symbol __pecoff_data_size does not converge
rand64/0x24B3A8B-failure:ld.lld: error: assignment to symbol init_pg_end does not converge
rand64/0x2824F594-failure:ld.l

[2021-02-10 21:51] arndb commented on #1219
All failing configurations use CONFIG_PAGE_SIZE_16KB=y, and in one of the examples, I see _end at address 0xffffc00014030000

[2021-02-10 22:20] rnk commented on #612
I filed https://llvm.org/pr49130 for this. I don't think you need to include objtool to see what the issue is, I think the .cfi_* directives that LLVM produces itself aren't quite right. The most straightforward fix is probably to make some changes to the CFI inserter pass.

[2021-02-10 23:03] arndb commented on #1219
The kernel here is just below 64MB in size, so two 16KB pages are needed for the last-level page table, plus another one to four pages depending on CONFIG_PGTABLE_LEVELS and CONFIG_RANDOMIZE_BASE. The page table itself is aligned to 16KB (obviously) and the alignment after it is for 64KB, so with the page tables included, the size is slightly over 64MB, and that requires one additional page to hol

[2021-02-10 23:12] nickdesaulniers commented on #1286
cc @jcai19

This is the issue observed in `ALT_UP_B` in arch/arm/include/asm/assembler.h with CONFIG_THUMB2_KERNEL.

[2021-02-10 23:31] nathanchance commented on #1292
Would that just involve changing `*addr = swab64(*addr);` to `swab64s(addr);`? Unless I am missing something, I do not think that buys us anything here. On PowerPC, the expansion is

[`swab64s`](https://elixir.bootlin.com/linux/v5.11-rc7/source/include/linux/swab.h#L20)

to

[`__swab64s`](https://elixir.bootlin.com/linux/v5.11-rc7/source/include/uapi/linux/swab.h#L265)

to

[`*p = __swab64p(p);`](

[2021-02-10 23:38] nickdesaulniers commented on #1286
Smaller test case (requires https://reviews.llvm.org/D95872)
[code]
[code]
vs
[code]

[2021-02-11 02:47] nickdesaulniers commented on #1219
@MaskRay does LLD have a diagnostic or debug flag to print the layout? If so, we can likely observe which sections it's cycling between.

[2021-02-11 02:59] nickdesaulniers commented on #1271
v5: https://lore.kernel.org/linux-arm-kernel/20210211025149.3544593-1-ndesaulniers@google.com/

[2021-02-11 08:47] arndb commented on #1292
Ah right, I had forgotten that the custom powerpc implementation was replaced with the compiler builtins. I think the 'p' variants were originally introduced for powerpc to make it use the load/store-reverse instructions, but compilers clearly got better since then.

I have reproduced the issue locally now, and I see that powerpc clang fails to optimize the byteswap the way that it is expected to:

[2021-02-11 09:00] arndb commented on #1292
I noticed that @nickdesaulniers' 815f0ddb346c ("include/linux/compiler*.h: make compiler-*.h mutually exclusive") seems to have accidentally dropped the __HAVE_BUILTIN_BSWAP64__ that is needed to use the trivial __builtin_bswap64(). I guess that simply putting those back into linux/compiler-clang.h will have a measurable impact on compile speed because this macro is expanded many times. Unfortunat

[2021-02-11 10:12] arndb commented on #1219
Changing the size computation to no longer depend on the following symbol, but instead use '.' plus some space to account for the page table fixes the problem.:

[code]

Here I assume that at most half a last-level page table is required, adding an extra page half of the time depending on the exact size of the kernel image. This is however not the correct lower bound for the size of the page table

[2021-02-11 11:51] michaelfuckner opened #1298 "invalid syntax in conditional- Kernel 5.10.14 on OpenSUSE 15.2 with AOCC"
I am trying to compile on openSUSE 15.2 with AMDs AOCC. Fresh kernel sources, make menuconfig, accept and save all defaults and make LLVM=1. Looks like there is something easy I am missing, but can you help me which point I am missing?

Thanks,
 Michael!

ram1:~ # source /opt/AMD/setenv_AOCC.sh
ram1:~ # clang -v
AMD clang version 11.0.0 (CLANG: AOCC_2.3.0-Build#85 2020_11_10) (based on LLVM Mirror

[2021-02-11 16:34] nathanchance commented on #1298
`make` really does not like the `#` in the version string :/

[code]

This gets it working for me (although I run into a bunch of errors building `objtool` but that is tangential to this). @masahir0y would this be a proper fix?

[code]

[2021-02-11 18:53] nickdesaulniers commented on #1270
https://reviews.llvm.org/rGa680bc3a31d36d321ccf3801bdcff74d58842bfa

[2021-02-11 19:43] nathanchance opened #1299 "CFI failure in drivers/firmware/qemu_fw_cfg.c"
Running `cat /sys/firmware/qemu_fw_cfg/rev` results in:

[code]

Patch submitted: https://lore.kernel.org/r/20210211194258.4137998-1-nathan@kernel.org/

Update: Fix link to patch (dileks)

[2021-02-11 22:36] nathanchance opened #1300 "Section mismatch warning in arch/powerpc/kernel/fadump.c"
[code]

I think this is the proper fix, which I will send along at some point soon.

[code]

[2021-02-11 22:46] nathanchance opened #1301 "Section mismatch warning from arch/x86/mm/amdtopology.c"
[code]

Looks like this comes from `arch/x86/mm/amdtopology.c` as that is the only place where I see `nodes_weight` and `numa_nodes_parsed` together.

Apparently `__nodes_weight` does not get inlined anymore, although it really seems like it should :/

[code]

[2021-02-11 22:56] nathanchance commented on #1301
I think there is another one with `allmodconfig`:

[code]

[2021-02-11 23:26] nathanchance commented on #374
Relevant patch/thread: https://lore.kernel.org/r/20201203221005.2813159-1-adelg@google.com/

[2021-02-12 00:18] nathanchance opened #1302 "Section mismatch warnings around numa_nodes_parsed"
[code]

These are all small functions marked with `inline` so they should be getting inlined but new pass manager probably changed that.

[2021-02-12 01:16] nathanchance commented on #1293
Looks like this was fixed by https://github.com/llvm/llvm-project/commit/fa496ce3c6774097080c8a9cb808da56f383b938 (figures haha):

[code]

[2021-02-12 14:28] gctucker commented on #374
@nickdesaulniers BTW we've enabled clang builds with kselftest on staging, does this look good?
https://storage.staging.kernelci.org/kernelci/staging-next/staging-next-20210211.0/arm64/defconfig+kselftest/clang-11/build.log

[2021-02-12 16:46] nathanchance commented on #374
I do see quite a few errors in there but it does look like `clang` is being used.

[2021-02-12 17:17] nickdesaulniers commented on #374
yeah cool those are clang warnings all right!

[2021-02-12 19:40] tstellar opened #1303 "gcc invoked even with passing CC=clang to make"
I'm trying to build the Fedora kernel with clang and the build system is still invoking gcc even when I pass CC=clang to make.  The failing command is:

/usr/bin/make V=1 CC=clang 'HOSTCFLAGS=-O2  -fexceptions -g -grecord-gcc-switches -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS --config /usr/lib/rpm/redhat/redhat-hardened-clang.cfg -fstack-protector-strong

[2021-02-12 20:30] nathanchance commented on #1303
CC is used for compiling the kernel, HOSTCC is used for compiling the host utilities like the `kconfig` tool, which is what is happening in this instance. Specify `HOSTCC=clang` in addition to `CC=clang` for the intended result. Additionally, `LLVM=1` will do that automatically and use all of the LLVM utilities.

[2021-02-12 20:49] gctucker commented on #374
Nice, we're working on splitting out the kselftest build log, in fact having a build log for each step of the build job, and then that will get turned on in production.  It's working on the command line already, hopefully it'll be there by the end of the month.

Then we could include a separate section in the build email reports and on the web dashboard for kselftest errors, or maybe have a "kself

[2021-02-12 21:02] nickdesaulniers commented on #1303
Yes; you should either be doing:

[code]
or
[code]

[2021-02-12 21:47] nickdesaulniers commented on #1296
https://reviews.llvm.org/D96632

[2021-02-12 22:53] #1270 closed, assigned to nickdesaulniers

[2021-02-12 22:57] nickdesaulniers commented on #1195
Fixed: https://reviews.llvm.org/rG1d51c699b9e2ebc5bcfdbe85c74cc871426333d4

[2021-02-12 23:09] nickdesaulniers commented on #1155
I suspect this is fixed by https://reviews.llvm.org/rG1d51c699b9e2ebc5bcfdbe85c74cc871426333d4. TODO: verify

[2021-02-12 23:10] nickdesaulniers commented on #956
I suspect https://reviews.llvm.org/rG1d51c699b9e2ebc5bcfdbe85c74cc871426333d4 fixes this?

[2021-02-12 23:10] nickdesaulniers commented on #858
duping to https://github.com/ClangBuiltLinux/linux/issues/1270

[2021-02-12 23:10] #858 closed

[2021-02-12 23:12] #1021 closed

[2021-02-12 23:32] nickdesaulniers commented on #1296
I need to reread the ARM ARM more closely, but if LLVM folks agree that T4 should not have .w suffixes, we might be able to do:
[code]

[2021-02-13 10:37] arndb commented on #1296
@ardbiesheuvel said that wouldn't work when I suggested the same patch earlier:

https://lore.kernel.org/lkml/CAMj1kXEx-mUCgX5F6xg8-6jKtpqQ=sRosmo4u-0jhW5zu9A-fw@mail.gmail.com/

[2021-02-13 10:47] ardbiesheuvel commented on #1296
In this particular case, I agree that the .w suffix can be dropped. T4 is a wide encoding and it is the only one that has a post-indexed variant, so there is no ambiguity here.

However, the post-indexed variant of T4 is defined as

[code]

where `q` represents the optional suffix, and so Clang is violating the architecture here by rejecting ldr.w as the mnemonic. Can we please fix this at a more

[2021-02-13 13:48] dileks commented on #1303
@tstellar
Details see [1].

`make LLVM=1` has some benefits but I am not very happy with it.
`make LLVM=1` points to `clang`, `ld.lld`, `llvm-ar`, `llvm-nm` means `without version-suffix` etc.

Cannot speak for Red Hat based distros, but Debian offers the opportunity to co-install several `LLVM toolchain` versions.
`llvm-toolchain-XX` is a meta-package whereof Debian packages like `llvm-12`,  `cla

[2021-02-14 02:54] nathanchance commented on #1297
pahole patch posted: https://lore.kernel.org/r/20210213164648.1322182-1-jolsa@kernel.org/

[2021-02-14 08:41] arndb commented on #1301
The early_get_smp_config() etc should get fixed in the kernel by annotating them as either __init or __always_inline: the problem here is that they reference an __initdata symbol.

In case of __nodes_weight(), I would tend to blame llvm, as there is nothing wrong with kernel code: amd_numa_init() is correctly annotated __init, and it passes an __initdata variable into a generic interface. This wou

[2021-02-14 08:43] arndb commented on #1302
As in https://github.com/ClangBuiltLinux/linux/issues/1301, the problem here is not that llvm decides against inlining the function, but that it creates a specialized version of the function that hardcodes the reference to a global variable in an incompatible section.

[2021-02-14 11:01] arndb commented on #1294
Tried a few things:
 - looked at the full output, noticed that all the failed symbols are of the type as seen above: it's *always* a relocation from .text.fixup into a normal .text, with an out-of-range offset that requires the linker to insert a trampoline
 - confirmed this does not happen with ld.bfd, but it does happen with ld.lld-10 and ld.lld-13

I have seen similar problems in the past with

[2021-02-14 11:13] arndb commented on #956
It would be nice to have a way to warn about these instructions if anyone ever tries to build a kernel for ARMv6+v7+v8, since it is an actual bug in this case and will not work on an ARMv8 processor. The kernel currently does not really support ARMv8 configurations, so one would first have to add that in the kernel, but then also have a way to tell the assembler which combination of architectures

[2021-02-15 15:11] arndb commented on #415
This is fixed in clang-10, which is now the minimum supported version for the compiler. I verified this happens with allmodconfig using clang-9 but not clang-10

[2021-02-15 15:11] #415 closed

[2021-02-15 15:13] arndb commented on #639
There are only a handful such warnings that remain in the kernel, in particular for drivers/ide. Need to rebase an old patch of mine to turn that off as well.

[2021-02-15 16:01] arndb commented on #563
Interestingly, this only happens with the llvm version of altivec.h. If I preprocess the file using gcc and compile using clang, the stack frame usage is only around 300 bytes. The difference seems to be the definition of vec_xor(), which for gcc is

[code]
and for clang is
[code]
I tried to just replace the definition of vec_xor(), but could not get that to compile.

[2021-02-15 17:49] tstellar commented on #1303
@dileks In Fedora, we just ship one version of the clang/llvm toolchain.  We do provide compatibility packages with older versions of the clang/llvm libraries, but without the executables, like clang, llc, etc.

[2021-02-15 18:53] dileks commented on #1303
@tstellar
Thanks for the info.
Sometimes it is good to focus on one release/thing.
`Do One Thing And Do It Well.` (Unix philosophy)

[2021-02-15 18:57] dileks commented on #1228
`Linux v5.11` final released (see announcement in [1]).

Top-level `Makefile` says:
[code]

Thanks to all contributors.

[1] https://lore.kernel.org/r/CAHk-=wg8LpRi9+P2_V+ehJ2_EoJifNh2QmVf47aLXfkCd-1UAQ@mail.gmail.com/

[2021-02-16 19:16] nickdesaulniers commented on #1271
submitted:
- https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9061/1
- https://www.arm.linux.org.uk/developer/patches/viewpatch.php?id=9062/1

[2021-02-16 19:33] nathanchance commented on #1298
[code]

@michaelfuckner it would be nice if you could test this. If you would like a `Reported-by:` tag in the commit message, please give me an email address I can use. I will send this tomorrow if there are no additional comments.

[2021-02-16 20:23] michaelfuckner commented on #1298
looks good, please commit. please use michael@fuckner.net as mail

[2021-02-16 21:07] dileks commented on #1259
`[llvm-dev] 12.0.0 Release Update` says:

Please have a look at the list of outstanding bugs in [1].

[1] https://lists.llvm.org/pipermail/llvm-dev/2021-February/148565.html

[2021-02-16 21:33] nathanchance commented on #1298
Patch submitted: https://lore.kernel.org/r/20210216213312.30462-1-nathan@kernel.org/

I am reopening this until it is merged into mainline.

[2021-02-16 21:35] nathanchance commented on #415
Patch submitted re-enabling this warning for i915: https://lore.kernel.org/r/20210216212953.24458-1-nathan@kernel.org/

[2021-02-17 09:03] dileks commented on #1136
`LLVM` version `11.1.0 final released.`

NOTE: `ABI` changed vs. `11.0.y`

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-11.1.0

[2021-02-17 09:05] dileks commented on #1228
People building with `LLVM >= 12` and `kernel modules enabled` will need `module: Ignore _GLOBAL_OFFSET_TABLE_ when warning for undefined symbols` (see [1]).

[1] https://github.com/ClangBuiltLinux/linux/issues/1250

[2021-02-17 16:58] nathanchance commented on #1136
I do not think that this needed to be reopened, the comment alone will generate an email.

[2021-02-17 16:58] #1136 closed

[2021-02-17 17:02] nathanchance commented on #1228
The release cycle is over so this issue should remain closed. That commit has cc stable on it so it should be picked up pretty early in the 5.11 cycle.

[2021-02-17 17:02] #1228 closed

[2021-02-17 22:10] nathanchance commented on #1298
Masahiro said he applied this but it has not hit linux-kbuild yet: https://lore.kernel.org/r/CAK7LNARcy52b6aGtV1mgq3rehtnwo7sm7TkNHc9H4bGu9Qdu8Q@mail.gmail.com/

I will post a SHA when that happens.

[2021-02-18 21:52] nickdesaulniers commented on #857
duping to #1296

[2021-02-18 21:52] #857 closed

[2021-02-18 22:49] nathanchance opened #1304 "-Wsometimes-uninitialized in drivers/gpu/drm/amd/pm/swsmu/smu_cmn.c"
[code]

Patch submitted: https://lore.kernel.org/r/20210218224849.5591-1-nathan@kernel.org/

[2021-02-19 16:49] arndb commented on #1219
@ardbiesheuvel suggested this patch in IRC, along with a matching change to how the page tables get populated:

[code]

So far this fixes the problems, but I'm doing more build tests now.

[2021-02-19 20:57] arndb opened #1305 "lld: relocation R_ARM_CALL out of range"
In very rare randconfig builds, lld fails to link a 32-bit ARM kernel:

$ cat build/arm/0xAF64BE88_defconfig/faillog
ld.lld: error: gf119.c:(function gf119_disp_super: .text+0x3D4): relocation R_ARM_CALL out of range: -33554440 is not in [-33554432, 33554431]
$ cat build/arm/0xFD37B9A0_defconfig/faillog
ld.lld: error: hso.c:(function hso_serial_open: .text+0x110F0): relocation R_ARM_CALL out of ra

[2021-02-19 21:18] arndb opened #1306 "lld warning "no symbols""
ld.lld warns when linking empty object files:

arch/x86/entry/vdso/vdso-note.o: no symbols
ipc/syscall.o: no symbols
mm/highmem.o: no symbols

A lot of these are in fact interesting findings and I have prepared patches to address them by not building source files when all the contents are hidden inside of an #ifdef.

However, the first one above (vdso-note.o) is interesting because it was never me

[2021-02-19 21:29] nickdesaulniers commented on #1302
synthesized functions should retain the section attribute from the function they were synthesized from; we can fix that in LLVM. A smaller test case would be helpful.

[2021-02-20 00:48] MaskRay commented on #1305
@smithp35

[2021-02-20 00:58] MaskRay opened #1307 "ld.lld -z start-stop-gc (GC of C identifier name sections)"
https://lists.llvm.org/pipermail/llvm-dev/2021-February/148682.html I am thinking whether we can change the existing `ld.lld --gc-sections` rule about C identifier name sections.
https://maskray.me/blog/2021-01-31-metadata-sections-comdat-and-shf-link-order has more information. You may skip the paragraphs before "C identifier name sections".

A C identifier name section consists of `isalnum` char

[2021-02-20 03:42] MaskRay commented on #1306
`no symbols` is a nm/llvm-nm diagnostic. ld.lld does not warn, e.g. `as /dev/null -o a.o; ld.lld a.o`

[2021-02-21 00:11] arndb commented on #1301
Reduced test case https://godbolt.org/z/KMaYvW

[2021-02-21 00:12] arndb commented on #1302
Reduced test case: https://godbolt.org/z/KMaYvW

[2021-02-21 03:36] nickdesaulniers commented on #1302
Sorry, I don't fully follow from the reduced test case. The issue was that `test_bit` was not inlined into `g` (which is in `.init.text`), so the reference to `a` and `b` in `test_bit` is bad? Oh, the version of `test_bit` emitted has the reference to `numa_nodes_parsed` in it.  That's new.  Ah, and the specialized version is not in the same section of the caller it would have been in had it been

[2021-02-21 03:39] nickdesaulniers commented on #1302
Emitting the single specialized function seems a little odd on first glance. (Why not just inline the thing?) Adding
[code]
makes `test_bit` get inlined into both callers. Seems like something curious when there's only 1 caller.

[2021-02-21 05:39] nathanchance commented on #1210
Merged into mainline: https://git.kernel.org/linus/bb73d07148c405c293e576b40af37737faf23a6a

[2021-02-21 05:39] #1210 closed

[2021-02-21 13:24] arndb commented on #1239
Possible workaround for the rockchip case:

[code]

[2021-02-21 14:17] arndb commented on #679
I created a reduced test case: https://godbolt.org/z/s69rsK

[code]

Unfortunately, the output seems highly compiler specific and fragile, not sure if the output from godbolt.org has any problems.

With "clang-11 -O2", I get no objtool warning. With "clang-12 -O2", I get

platform.o: warning: objtool: tune_serdes()+0x30: can't find jump dest instruction at .text+0xdc"

with clang-13 I get:

platfo

[2021-02-21 15:18] arndb commented on #679
For reference, this is the clang-13 -O2 assembler output:
[code]

[2021-02-21 22:14] nathanchance commented on #807
Merged into mainline: https://git.kernel.org/torvalds/c/c6f2a9e17b9b

[2021-02-21 22:14] #807 closed

[2021-02-21 22:15] nathanchance commented on #1288
Merged into mainline: https://git.kernel.org/torvalds/c/e9c6deee00e9

[2021-02-21 22:15] #1288 closed, assigned to MaskRay, nathanchance

[2021-02-21 22:16] nathanchance commented on #1256
Merged into mainline: https://git.kernel.org/torvalds/c/76d7fff22be3

[2021-02-21 22:16] #1256 closed

[2021-02-21 22:16] nathanchance commented on #1232
Merged into mainline: https://git.kernel.org/torvalds/c/d422c6c0644b

[2021-02-21 22:16] #1232 closed

[2021-02-21 22:45] nathanchance commented on #1264
Merged into mainline:

https://git.kernel.org/linus/6110ccecd3c0c025ab7d5224a5feba5a664e084e
https://git.kernel.org/linus/efe5e0fea4b24872736c62a0bcfc3f99bebd2005

@veruu I think mainline can build the Fedora s390x config if you guys wanted to try testing them now :)

[2021-02-21 22:45] #1264 closed

[2021-02-22 09:38] smithp35 commented on #1305
I can take a look, but it will have to be in spare time so it may take a few days. The trampoline addition is done via repeated "insert trampoline", "recalculate addresses" until no more trampolines need inserting so it is expected be able to handle the impact of inserting trampolines affecting calls that were just out of range.

I can think of a few possible problems:
* There is a range calculati

[2021-02-22 13:14] veruu commented on #1264
Can confirm the kernel builds now! I'll adjust the CKI config to enable s390x.

[2021-02-22 13:48] dileks commented on #679
@arndb

All my Linux `v5.11` `Clang-IAS` kernels have this issue.
LLVM/Clang `v12.0.0-rc1` (`dileks clang version 12.0.0 (https://github.com/llvm/llvm-project.git 8364f5369eeeb2da8db2bae7716c549930d8df93`) or `dileks clang version 13.0.0 (https://github.com/llvm/llvm-project.git c465429f286f50e52a8d2b3b39f38344f3381cce` does not matter.

Yesterday, I added `Clang-CFI` to my custom patchset and do

[2021-02-22 23:34] #1155 closed

[2021-02-22 23:35] nickdesaulniers commented on #1155
(dupe of #1195)

[2021-02-22 23:40] nickdesaulniers commented on #762
Looks like these landed in v5.9-rc1.
1. a6c30873ee4a5cc0549c1973668156381ab2c1c4
2. ee440336e5ef977c397afdb72cbf9c6b8effc8ea
3. 2cbd1cc3dcd3e84be1fc1987da24b190ddf24a70

[2021-02-22 23:40] #762 closed

[2021-02-22 23:42] nickdesaulniers commented on #956
Yes, dup of #1195

[2021-02-22 23:42] #956 closed

[2021-02-22 23:43] #1154 closed

[2021-02-22 23:49] nickdesaulniers commented on #1190
arm: 735e8d93dc2b107f7891a9c2b1c4cfbea1fcbbbc (v5.11-rc1)
arm64: ec9d78070de986ecf581ea204fd322af4d2477ec (v5.10-rc2)
x86_64: 4d6ffa27b8e5116c0abb318790fd01d4e12d75e6 (v5.10-rc3)
perf: db1a8b97a0a36155171dbb805fbcb276e07559f6 (v5.10-rc5)

[2021-02-22 23:49] #1190 closed

[2021-02-22 23:50] nickdesaulniers commented on #1272
or force `-no-integrated-as` when using clang, or do similar macro tricks with open coding the instruction.

[2021-02-22 23:58] nickdesaulniers commented on #1273
That is selected by multi_v5_defconfig, but I wasn't able to reproduce the observed failure.  Though based on the error message, that looks like a UAL source issue, so the kernel patch is likely good to go.  Especially after reading a6c9e96bf86b8aa86d8696b7887e52c2e95bac0f.

[2021-02-23 00:00] nickdesaulniers commented on #1281
I wasn't able to reproduce this with ToT LLVM, I suspect this is a dup of #1195 . (Missing `-Wa,-march=` support)

[2021-02-23 00:24] nickdesaulniers opened #1308 "undefined symbol: __field_overflow"
looks like mainline x86 allyesconfig
https://github.com/ClangBuiltLinux/continuous-integration2/runs/1955873191?check_suite_focus=true
and allmodconfig
https://github.com/ClangBuiltLinux/continuous-integration2/runs/1955873540?check_suite_focus=true
have been failing for the past couple days with:
[code]
(for allmodconfig)
[code]
(for allyesconfig)

[2021-02-23 00:29] nickdesaulniers opened #1309 "arch/arm/probes/kprobes/test-thumb.c doesn't build with IAS"
forked from #1271
CONFIG_ARM_KPROBES_TEST+CONFIG_THUMB2_KERNEL
There's a few errors here, see https://lore.kernel.org/linux-arm-kernel/20210128193422.241155-1-ndesaulniers@google.com/.
https://reviews.llvm.org/D97236 addresses the two easier ones, but I think the rest of the failures are due to IAS missing support for the optional Rd operand. cc @DavidSpickett

[2021-02-23 00:50] nickdesaulniers commented on #1302
Protip (from @aeubanks) :
[code]
Looks indeed like this is NPM related. `--enable-new-pm`/`--enable-new-pm=0` for `opt`.
Looks like `"IPSCCPPass"`/`ipsccp` (aka "interprocedural sparse conditional constant propagation and merging") is the culprit.  I wonder if that should be running after inlining?

[2021-02-23 00:58] nickdesaulniers commented on #1302
It looks like IPSCCPPass was never run with the Legacy Pass Manager (LPM).
[code]
[code]

[2021-02-23 01:11] nickdesaulniers commented on #1302
Nevermind, it's spelled out differently (ugh)

[code]
so LPM does the same transform, just NPM didn't do the inlining.

Next is to query the inliner
`opt -passes=ipsccp,inline foo.ll -o - -S -debug-only=inline` brb (need a debug build of LLVM)

[2021-02-23 01:27] nickdesaulniers commented on #1302
[code]
I'll have to think about this more; though I still think perhaps IPSCCP should not be sinking parameters with section attributes, or into callees with different section attributes, since when inlining heuristics change, we get these kind of issues.  Perhaps I need to ponder "what should happen, if the callee wasn't so small?" Or perhaps, `test_bit` should always be marked `__always_inline`

[2021-02-23 01:29] nathanchance commented on #1308
This is most likely the same problem as #1293, as it is only visible with clang-10.

[2021-02-23 11:33] smithp35 commented on #1305
Would it be possible to write out the instructions I need to reproduce from the config files? I can make a guess, but if someone knows of the top of their head it could save me a lot of time. Alternatively, and preferably for me, if the output of lld --reproduce can be saved and put/sent to me then that would be ideal. It is likely that unless I get precisely the same inputs this won't reproduce.

[2021-02-23 12:46] smithp35 commented on #1305
I've a test case that can provoke the error. No idea if it is the problem affecting the kernel though:
bl.s

        .section .text.0, "ax"
        .globl dst
        .globl src
        .type dst, %function
        .type src, %function
        .arm
         .fnstart
        .cantunwind
        dst:    nop
        .fnend

        .section .text.1, "ax"

        .global nop1
        .type nop1, %fun

[2021-02-23 12:47] smithp35 commented on #1305
Will prepare a patch soon. If there is a rush then I'm quite happy for someone else to submit one, the information to fix and a test case is here.

[2021-02-23 12:50] arndb commented on #1305
Uploaded a tarball with a reproducer to
https://drive.google.com/file/d/1Rc3-2msYxEjyWFOZnxN0HI-hzWDrzm_b/view?usp=sharing

[2021-02-23 12:51] arndb commented on #1305
There is no rush on this, as far as I know this is a very rare problem that happens during randconfig test builds but not for production kernels.

[2021-02-23 13:24] smithp35 commented on #1305
Thanks for the example. Sadly the problem I found doesn't look to be the same one affecting the kernel. Will keep looking.

[2021-02-23 14:34] smithp35 commented on #1305
OK I think I know what the problem is. I think https://github.com/llvm/llvm-project/blob/main/lld/ELF/Relocations.cpp#L1956 is double counting the pc bias (having previously been added on https://github.com/llvm/llvm-project/blob/main/lld/ELF/Relocations.cpp#L1936

Will need some time to write a small test case. It involves a thunk going out of range of its caller by 8 bytes (pc-bias), when it tri

[2021-02-23 16:19] arndb commented on #1273
This is a configuration that reproduces the problem for me:

[0x29D50AD0_defconfig.gz](https://github.com/ClangBuiltLinux/linux/files/6030251/0x29D50AD0_defconfig.gz)

[2021-02-23 16:54] nickdesaulniers commented on #1067
https://reviews.llvm.org/rGe1c3bf6afe09851537ff376ab20714dfd5f9649d

[2021-02-23 16:54] #1067 closed

[2021-02-23 16:58] #1308 closed, assigned to nobody

[2021-02-23 16:59] nickdesaulniers commented on #1293
There's no avenue to fix this in clang-10, and the CI is now red. Do we want to turn down coverage of the two red branches?

[2021-02-23 17:06] nathanchance commented on #1293
Yes, it is on my TODO today.

[2021-02-23 17:26] nickdesaulniers commented on #1296
https://reviews.llvm.org/rG1e204ac78952cf7e4fcf335423e80007388d3979

[2021-02-23 17:26] #1296 closed, assigned to nickdesaulniers

[2021-02-23 17:29] nathanchance commented on #1298
https://git.kernel.org/masahiroy/linux-kbuild/c/3d9055f99d240e42fd7c21e932ce33881fa81846

[2021-02-23 17:33] nickdesaulniers commented on #1296
I would like to, adding individual aliases is tedious.  I'm trying to think through valid logic for this, since not all instructions have wide AND narrow encodings (some have 1 or the other, or both, or multiple encodings).

pseudocode:
[code]

Though I'm not sure that's how the assembler performs its table based parsing, or that I've seen enough of the instruction set to fully grasp all irregular

[2021-02-23 17:39] ardbiesheuvel commented on #1296
On Tue, 23 Feb 2021 at 18:33, Nick Desaulniers <notifications@github.com>
wrote:

Not only that. The ARM ARM is clear about the .w prefix being permitted on
all A32 (i.e., non-Thumb) encodings as well.

[2021-02-23 18:04] nickdesaulniers commented on #1296
So I guess I'd have to adjust my psuedocode.

Yes, from the same section:

And I'd bet that's useful for assembler built both as ARM and THUMB2 under different build configs.

[2021-02-23 20:50] nathanchance commented on #1250
Merged into mainline: https://git.kernel.org/linus/ebfac7b778fac8b0e8e92ec91d0b055f046b4604

[2021-02-23 20:50] #1250 closed

[2021-02-23 20:58] nathanchance commented on #1293
I think this is probably worth bumping the minimum clang version over but I do not have a strong opinion.

[2021-02-23 23:59] nathanchance commented on #1243
Merged into mainline: https://git.kernel.org/torvalds/c/0a6d3038d914

[2021-02-23 23:59] #1243 closed

[2021-02-24 01:48] daxtens commented on #764
It looks like some of this might be resolved by b2f663073917babb84f5ba9129451e8d564cba1a ("[PowerPC] Allow a '%' prefix for registers in CFI directives"). I'm building llvm from git now to have a look.

[2021-02-24 01:53] daxtens commented on #764
However, it seems a bigger issue might be `clang -integrated-as` not liking e.g. `mulld r3, r3, r4` and only accepting `mulld 3, 3, 4`; ppc linux asm is exclusively written with the `r` prefix. Weirdly my reading of `llvm/lib/Target/PowerPC/AsmParser/PPCAsmParser.cpp` is that it  should recognise the `r` prefix, and should have done since 2013, so maybe I'm misunderstanding how all the pieces fit

[2021-02-24 02:17] nickdesaulniers commented on #1286
seems like target specific parsing, since
[code]
works for x86, but
[code]
fails for `clang --target=arm-linux-gnueabi -Wa,-mthumb -Wa,-march=armv7-a`.

Looks like calls to `parseExpression` in `parseOperand` are failing.  I wonder why?  cc @DavidSpickett Perhaps following how X86AsmParser resolves this might shed some more light.

[2021-02-24 02:36] daxtens commented on #764
@cmriedl points out that this could be due to llvm's assembler not supporting `-mregnames`: gnu as also doesn't like the `r` prefix unless you pass that option.

[2021-02-24 03:45] daxtens commented on #1008
I'm seeing a similar thing on ppc64 with IAS: we use re-assigned variables in our assembler in `head-64.h` for implementing 'fixed sections' and 'fixed symbols'. not quite sure how best to fix that yet, but looking at this thread I'm guessing that a fix in LLVM is unlikely.

[2021-02-24 04:19] jcai19 commented on #1286
Thanks for the reduced test case. I also reproduced the issue with llvm-mc.

[code]

[2021-02-24 05:45] jcai19 commented on #1286
Further reduced test case:

[code]

But if I further reduce operand of the jump instruction then the test case works.
[code]

The difference is caused by one particular line (https://llvm.org/doxygen/ARMAsmParser_8cpp_source.html#l01072) of code in ARMOperand::isSignedOffset, which returns opposite boolean values for the two cases. Will do more investigation and see if we can handle the former cas

[2021-02-24 05:55] nathanchance commented on #1259
`-rc2` tagged: https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.0-rc2

[2021-02-24 07:50] ardbiesheuvel commented on #1296
On Tue, 23 Feb 2021 at 19:04, Nick Desaulniers <notifications@github.com>
wrote:

Yes, and this is actually rather common in the kernel. There are various
places, both in crypto/ and in the core code, where the size of the opcodes
matter, either because they are used in a computed goto, or because
omitting the .w may result in a branch encoding that does not have
sufficient range.

However, GAS do

[2021-02-24 09:41] smithp35 commented on #1305
Writing a small test case in assembler to reproduce has defeated me, it needs several things to happen after a few iterations of the algorithm, then landing an out of range within 8-bytes and my brain can't think that far ahead.

In trying I've spotted at least one other problem with the PC-bias although that is a reuse efficiency problem https://github.com/llvm/llvm-project/blob/main/lld/ELF/Relo

[2021-02-24 11:23] daxtens commented on #764
@mpe pointed out that our register names are actually #defined, so llvm is actually rejecting %r0, %r1 etc, which is even odder. However, I can work around this for now by just changing the defines, for example `#define r0 0`.

[2021-02-24 16:43] arndb commented on #1306
I can see this happening because of CONFIG_TRIM_UNUSED_KSYMS, with both gcc and clang. However, I can no longer make it not happen, so I have absolutely no idea why I never saw it earlier. Closing this report, as it is unrelated to clangbuiltlinux.

[2021-02-24 16:43] #1306 closed, assigned to nobody

[2021-02-24 16:49] nathanchance commented on #1304
Now in -next: https://git.kernel.org/next/linux-next/c/dd8f438e17f7

[2021-02-24 17:22] nickdesaulniers commented on #1210
autosel picked this back to 4.4 for us.

[2021-02-24 18:03] nickdesaulniers commented on #1008
@daxtens thanks for the report, can you file a new bug with steps to reproduce? (which defconfig, or set of configs on top of a defconfig are needed to repro)

[2021-02-24 18:22] jcai19 commented on #1008
Unfortunately it appears patching this in LLVM would require significant changes ([reason](https://github.com/ClangBuiltLinux/linux/issues/1043#issuecomment-641571200)), so at least for now changing kernel might be the easier way to go. Similar kernel fixes in case it helps.

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=44069737ac9625a0f02f0f7f5ab96aae4cd819bc
http

[2021-02-24 18:24] nickdesaulniers commented on #764
Yes, from my godbolt link, it looks like `.cfi_directive` is fixed, and `cmpli` is generally broken (regardless of the `%` or not).  So this is two distinct issues.

[2021-02-24 19:53] nickdesaulniers commented on #1269
Now blocking toolchain upgrade: https://android-review.googlesource.com/c/kernel/common/+/1606416

[2021-02-24 22:05] arndb opened #1310 "clang-12 -fsanitize=array-bounds messes with __builtin_constant_p(): invalid asm"
Some randconfig kernel builds result in an incorrect asm instruction based on a .insn directive with a non-constant value

[code]

This comes from a deeply nested macro in the coresight kernel driver, but I reduced it to

[code]

The problem happens with clang-12 and clang-13, but I could not reproduce it with clang-11.

https://godbolt.org/z/bKMsno

[2021-02-24 22:17] nickdesaulniers commented on #866
https://reviews.llvm.org/rGa921aaf789912d981cbb2036bdc91ad7289e1523

[2021-02-24 22:17] #866 closed

[2021-02-25 01:30] nickdesaulniers commented on #1269
TL;DR more questions, no answers

So it looks like one definition is:

kernel/sys_ni.c:352 COND_SYSCALL_COMPAT(sysctl);

which defines `__ia32_compat_sys_sysctl` via `cond_syscall` as `.weak` in inline asm.

That must be the first definition observed, as the error is

So something must have changed the binding from `.weak` to `.global`.

It looks like the second definition is via:

kernel/sysctl_b

[2021-02-25 09:44] arndb commented on #1310
Sent a workaround and some more explanation to the driver maintainers: https://lore.kernel.org/lkml/20210225094324.3542511-1-arnd@kernel.org/

[2021-02-25 10:29] dileks commented on #1259
`Debian/experimental` offers `llvm-toolchain-12` packages version `1:12.0.0~++rc2-1~exp1`:
[code]

[2021-02-25 20:40] dileks commented on #1304
Accepted in mainline: https://git.kernel.org/linus/7b3d19a76d6824e5c0455566b348e1a5267383af

[2021-02-25 20:43] #1304 closed, assigned to nathanchance

[2021-02-25 20:57] jcai19 commented on #1286
So the fundamental issue here is that LLVM ARM backend tries to validate the range of branch targets before symbolic values are resolved (i.e. before the layout of fragments are finalized). LLVM also validates the range after the values are known, so disabling the first check for symbolic expressions (which they already do if the expression is a single symbol) seems to work for me. I have a patch

[2021-02-25 21:47] arndb opened #1311 "ld.lld: error: Entry trampoline text too big (arm64)"
I see this error in one randconfig with the latest lld:

$ ld.lld --reproduce 0x93895626.tar   -EL -maarch64elf -z norelro --no-undefined -X --fix-cortex-a53-843419 --gc-sections --build-id=sha1 --orphan-handling=warn --strip-debug -o .tmp_vmlinux.kallsyms1 -T ./arch/arm64/kernel/vmlinux.lds --whole-archive arch/arm64/kernel/head.o init/built-in.a usr/built-in.a arch/arm64/built-in.a kernel/built-

[2021-02-25 21:49] arndb commented on #1311
I just noticed that this uses  --gc-sections, which I only allowed being used on arm64 yesterday. Also checked this happens with all versions I have installed (10/11/12/13).

[2021-02-25 22:43] jcai19 commented on #1286
LLVM patch sent: https://reviews.llvm.org/D97501

[2021-02-26 01:04] nickdesaulniers commented on #1273
huh, if I fetch that config, I still can't repro (I get some other linker error).  Can you spot what I'm doing wrong?
[code]
[code]
does show a number of changes. Perhaps `olddefconfig` is messing this up? But our compiler version strings don't precisely match, so that restarts the command line prompts for new configs if I don't do `olddefconfig`.  Am I misunderstanding how `olddefconfig` works, p

[2021-02-26 01:04] nickdesaulniers commented on #1273
(either way, the kernel patch looks correct to me, and can probably be sent)

[2021-02-26 04:43] nickdesaulniers commented on #1310
Is that the letter `i` in the asm string?

https://godbolt.org/z/3PrzGe Was the reduced case over-reduced?  Irrespective of the __builtin_constant_p, I'm curious if there's underlying inline asm we fail to parse.

[2021-02-26 04:57] nickdesaulniers commented on #1303
@tstellar please reopen if you still observe GCC invoked when building via `make LLVM=1`, otherwise feel free to open new issues for different bugs.

[2021-02-26 04:57] #1303 closed, assigned to nobody

[2021-02-26 05:12] nickdesaulniers commented on #679
Oof, yes we can see there's:
[code]
so a jump off the end of the function.  Interestingly, I can add `-mllvm -print-after-all -mllvm -print-module-scope -g0` to godbolt (I though I needed a Debug build of LLVM for that, perhaps godbolt is running a debug build, or I'm mistaken).

I see an `unreachable` get introduced into `n`, as the default destination of the switch; so LLVM has proven that all p

[2021-02-26 08:28] MaskRay commented on #1307
Update: `ld.lld -z start-stop-gc` is now available.

It may be interesting to check whether C identifier name sections have changed size with `-z start-stop-gc`. If yes,

* If something fails => some C identifier name sections should be treated as GC. `__attribute__((retain))`
* If nothing fails => The rule prevents us from doing GC.

[2021-02-26 09:58] arndb commented on #1310
The underlying problem is passing a register number that is constant according to __builtin_constant_p() but not a literal. The original bug complains about this instruction:

        mrs_s x0, (((2) << 19) | ((1) << 16) | (((((reg) >> 7) & 0x7)) << 12) | ((((reg) & 0xf)) << 8) | (((((reg) >> 4) & 0x7)) << 5))

where the long arithmetic operation is something that the compiler can evaluate to a co

[2021-02-26 14:07] smithp35 commented on #1305
Created https://reviews.llvm.org/D97550

This refactors the Arm inBranchRange to not add in the PC-bias, instead it will get that information from the addend. It permits many calls to getPCBias() to be removed which fixes the problem found in https://github.com/llvm/llvm-project/blob/main/lld/ELF/Relocations.cpp#L1975

My original diagnosis in "OK I think I know what the problem is." Looks to be i

[2021-02-26 14:32] arndb commented on #1305
Thanks a lot for the fix.

Do you need me to test this on the randconfig build machine, or can I wait until I get it from the daily builds once it is merged?

[2021-02-26 16:35] smithp35 commented on #1305
I'm hoping it will be OK to wait till it gets merged. If upstream are a bit nervous about the change it might be useful to get some evidence that it isn't breaking anything.

[2021-02-26 20:49] nickdesaulniers commented on #1272
https://lore.kernel.org/lkml/141f3098744ea8d1cc39abcdce89c0e513bfbc70.camel@gmail.com/

[2021-02-26 21:01] nickdesaulniers opened #1312 "__aeabi_ldivmod/__aeabi_uldivmod undefined"
CI on -next is failing: https://github.com/ClangBuiltLinux/continuous-integration2/runs/1986696432?check_suite_focus=true
[code]
I suspect someone isn't using the `do_div` macros, breaking 32b? cc @arndb

[2021-02-26 21:05] nathanchance commented on #1312
Arnd sent a patch for this and someone from AMD replied that they were fixing it themselves:

https://lore.kernel.org/amd-gfx/20210225143339.3693838-1-arnd@kernel.org/

https://lore.kernel.org/amd-gfx/EB1143CA-884E-43A2-A14E-6B909D29F5E8@amd.com/

[2021-02-26 21:11] nickdesaulniers opened #1313 "aspeed_g5_defconfig (arm32_v6) fails to boot with LLVM_IAS=1"
[code]
Was looking to enable LLVM_IAS=1 for each of our 32b arm targets, looks like this has a boot failure.

[2021-02-26 21:44] nathanchance commented on #1313
I cannot reproduce this with LLVM at b183cbfacd32ef7ac128ec0327c5972fd7e7f9c6 and Linux at 8b83369ddcb3fb9cab5c1088987ce477565bb630. I am testing with QEMU master though so maybe that could be it?

[code]

I tried `tuxmake` as well and it also booted:

[code]

[2021-02-26 21:47] nickdesaulniers commented on #1313
[code]

[2021-02-26 21:48] nickdesaulniers commented on #1313
@danrue @terceiro what version of qemu is tuxmake using?

Edit: nevermind, I thought @nathanchance was booting using tuxmake somehow.

[2021-02-26 22:01] samitolvanen commented on #1227
As Nathan pointed out in issue #1069, defining `SANITIZER_DISCARDS` also with `CONFIG_CFI_CLANG` removes the warning. This is now fixed in the current CFI trees.

[2021-02-26 22:01] #1227 closed

[2021-02-26 22:11] nathanchance commented on #1313
Let me install QEMU in a Debian container and see if the issue reproduces there.

[2021-02-26 22:21] nickdesaulniers commented on #1269
https://android-review.googlesource.com/c/kernel/common/+/1606628

[2021-02-26 22:32] nathanchance commented on #1313
Nope:

[code]

[2021-02-26 23:16] nickdesaulniers commented on #1269
[code]

Man, what is going on? It looks like `__ia32_compat_sys_sysctl` is defined twice in both, but even with LTO forced on in 5.4, I can't reproduce the error from 4.19.

I also don't observe anything other than `error: __ia32_compat_sys_sysctl changed binding to STB_GLOBAL` with ToT LLVM.

`llvm-nm` doesn't spot `__ia32_compat_sys_sysctl` in any .o file...
[code]
for 5.4:
[code]
What?! So is L

[2021-02-27 00:20] nickdesaulniers commented on #1269
ok, so I've hacked up LLVM to add some debug hooks:
[code]
android12-5.4 (full LTO forced on):
[code]
Wait, why did that fail? 5.4 has not been failing for me with full LTO forced on.  Is there something non-deterministic about full LTO?
(1 is global 2 is weak)

android12-5.4 (thin LTO):
[code]
works. How we get three 1's and one 2 for thinLTO rather than two 1's and two 2's for full LTO is peculi

[2021-02-27 01:09] nickdesaulniers commented on #1269
4.19:
[code]
[code]
With [@samitolvanen 's patch](https://android-review.googlesource.com/c/kernel/common/+/1606628) applied:
[code]
(what, so 2 less instances of the symbol were emitted?)

[2021-02-27 04:53] MaskRay commented on #1311
Saw the patch `[PATCH] arm64: vmlinux.lds.S: keep .entry.tramp.text section`. It is the appropriate solution, not a workaround.

As I said

https://lore.kernel.org/linux-arm-kernel/20210226211323.arkvjnr4hifxapqu@google.com/

bit unjustified usage. Sure, adding KEEP (GC root) is easy and
works around problems, but it not good for CONFIG_LD_DEAD_CODE_DATA_ELIMINATION.

It'd be nice if sections (whi

[2021-02-27 05:17] yuanfang-chen commented on #1269
I didn't read the whole threads, but https://reviews.llvm.org/D96931 may be able to fix this.

[2021-02-27 09:11] arndb commented on #1311
Thanks for taking a closer look. I still don't see why we need to treat these as a GC root when there are no references to the section from other code, but I trust that you found out how this is meant to work.

I'm sure you are right about the other KEEP() flags being overly conservative, as CONFIG_LD_DEAD_CODE_DATA_ELIMINATION is only used on two minor architectures at the moment, and probably no

[2021-02-27 12:26] michaelfuckner commented on #1298
OK, I got a kernel compiled with aocc now, but building the Nvidia driver now needs "IGNORE_CC_MISMATCH=1", but it is also working. Thanks!

The major and minor number of the compiler used to
compile the kernel:

AMD clang version 11.0.0 (CLANG: AOCC_2.3.0-Build85 2020_11_10) (based on LLVM Mirror.Version.11.0.0), LLD 11.0.0 (/home/amd/jenkins/workspace/AOCC_2_3_0/llvm-project/lld bf979458a699d802

[2021-02-27 17:47] nathanchance commented on #1298
Well, it does not match because of the fix for the initial report, right? We removed the `#` so that `make` did not error out, which makes the compiler text different by that one character. The true solution would be to report that to AMD and ask them to pick a different symbol to notate the build revision.

Anyways, this has been merged into mainline, so closing.

https://git.kernel.org/linus/c75

[2021-02-27 17:47] #1298 closed, assigned to nathanchance

[2021-02-27 19:22] arndb commented on #1301
I reduced a test case for the function not getting inlined to https://godbolt.org/z/xW8G9c

This is a bit odd, as in the reduced test case, we have a function that is marked 'inline' and that does nothing at all but is still not inlined, which feels like a bug in llvm. It only happens with  -fsanitize=object-size, which doesn't seem related to the code in the test case either.

[2021-02-27 21:26] arndb commented on #1195
I still get the "argument unused during compilation" warning, though I no longer get the "invalid instruction" errors.

I think something is still wrong here. For instance when building the kernel without my earlier patch:

clang-13 -Wp,-MMD,drivers/memory/.ti-emif-sram-pm.o.d -nostdinc -isystem /usr/lib/llvm-13/lib/clang/13.0.0/include -I/git/arm-soc/arch/arm/include -I./arch/arm/include/generate

[2021-02-28 11:33] arndb commented on #1313
FWIW, the warning is fixed by https://groups.google.com/g/clang-built-linux/c/-_qULDQ2yV0/m/bW2lH8hUBQAJ
That should be unrelated to the boot failure though.

[2021-02-28 20:47] arndb opened #1314 "excessive compile time building linux/lib/zstd/compress.c"
I did a scripted search for files with long compile time. lib/zstd/compress.c is one of the files that came out on top.

[code]

Attaching the preprocessed version:
[compress.i.gz](https://github.com/ClangBuiltLinux/linux/files/6057921/compress.i.gz)

The profile shows these functions on top:
[code]

[2021-02-28 21:50] arndb commented on #1314
I played around with this a little and found that -fsanitize=kernel-hwaddress is the main reason for the slow compilation, without this, compile time goes down to 12 seconds instead of 27.

[2021-03-01 00:59] nickdesaulniers commented on #1314
IIRC, doesn't this file have __always_inline on every function? I remember there was one zstd related file that had a relatively large time spent in the optimizer than the frontend, unlike most other source files.

https://github.com/ClangBuiltLinux/linux/issues/1086#issuecomment-670685565 is when I looked at it, though it seems I failed to make such notes public...

[2021-03-01 01:06] nickdesaulniers commented on #1301
Since this is only reproducible on newer versions of LLVM, it should be possible to bisect to find the regression.

[2021-03-01 01:12] nickdesaulniers opened #1315 "argument unused during compilation: '-march=armv6k'"
forked from #1195

Building 32b arm targets with LLVM_IAS=1 with clang-13 (after https://reviews.llvm.org/rG1d51c699b9e2ebc5bcfdbe85c74cc871426333d4) now produces warnings related to the `-march=` flags.

The kernel uses the compiler as the driver for assembler input, as it generally is assembler with c preprocessor .S sources.

It seems that the 32b ARM kernel sometimes specifies `-march=foo -Wa,

[2021-03-01 01:12] nickdesaulniers commented on #1195
That looks like a separate issue. Let's track it in #1315.

[2021-03-01 01:12] #1195 closed

[2021-03-01 01:16] nickdesaulniers commented on #1314
cc @eugenis for  feedback on `-fsanitize=kernel-hwaddress`.

[2021-03-01 01:19] nickdesaulniers commented on #1284
Not sure that there was a follow up that was accepted? Close as wontfix?

[2021-03-01 01:21] nickdesaulniers commented on #1282
commit: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=c6c818e50d1982ebac4dcd3ae18c1b49a66ebacb
merge: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=6f9972bbfef57019519e1685254e876913a70463
congrats @tinti !

[2021-03-01 01:21] #1282 closed, assigned to tinti

[2021-03-01 01:23] nickdesaulniers commented on #1293
so we decided to just turn of allyesconfig testing of allyesconfig with arm64 and clang-10

[2021-03-01 01:23] #1293 closed, assigned to nathanchance

[2021-03-01 01:25] nickdesaulniers commented on #476
Not sure we'll be revisiting this any time soon.  Closing for now.

[2021-03-01 01:25] #476 closed

[2021-03-01 01:26] #531 closed

[2021-03-01 01:26] nickdesaulniers commented on #531
Let's reopen if we see this again.

[2021-03-01 01:31] nickdesaulniers commented on #959
arm64 BE was enabled in llvm 13 and disabled otherwise in kernel 5.12, #1288.

arm BE was disabled in the kernel in 5.11 #965.

[2021-03-01 01:31] #959 closed

[2021-03-01 01:36] #993 closed

[2021-03-01 01:40] nickdesaulniers commented on #1165
thanks to @veruu and team this is wired up and we're now getting email reports! 🚀

[2021-03-01 01:40] #1165 closed

[2021-03-01 01:42] nickdesaulniers commented on #1057
Ok, so probably if `CONFIG_RELR` and `CONFIG_GDB_SCRIPTS` are both set, then this flag should be added.

[2021-03-01 01:43] #1249 closed

[2021-03-01 01:46] #1170 closed

[2021-03-01 01:48] nickdesaulniers commented on #1074
v8: https://lore.kernel.org/lkml/20210226222030.3718075-1-morbo@google.com/
https://www.phoronix.com/scan.php?page=news_item&px=Clang-PGO-Linux-Kernel

[2021-03-01 01:52] nickdesaulniers commented on #1215
This is one thing I've always disliked (or perhaps simply misunderstood) about LLVM's `blockaddress` `Constant`.  In C, labels are scoped to functions, but in LLVM IR, they're not necessarily (the two operands are the `Function` and `BasicBlock`).  I haven't yet seen such a case where a `Function` contains a `blockaddress` whose `Function` operand was a different `Function`, but perhaps this is a

[2021-03-01 01:58] nickdesaulniers commented on #1191
FWIW: https://sourceware.org/binutils/docs/as/ARM-Directives.html

There's also no `.handlerdata` in @arndb 's [example](https://godbolt.org/z/hxjzMn).

There is `.cantunwind` emitted:

[2021-03-01 02:17] nathanchance commented on #1301
I am sure this is NPM related but I can reverse bisect later this week to confirm.

[2021-03-01 07:26] nickdesaulniers commented on #1301
ah right, both this and #1302 mention `numa_nodes_parsed`. Duplicate?

[2021-03-01 08:45] arndb commented on #1315
I think your earlier patch to move all the -Wa,-march= flags into .arch directives in the assembler files is still the best fix here.

I don't see any reference to -Qunused-arguments in the Makefile, except for the arm64 vdso32 code, which is probably a mistake. I have sent patches to remove unused arguments in the past, to avoid these warnings.

[2021-03-01 09:15] arndb commented on #1314
Indeed, removing every __always_inline in the preprocessed file makes compilation three to four times faster, both with and without -fsanitize=kernel-address.

With both kasan and always_inline removed, the file now compiles in three seconds, which is still rather slow, but is ten times faster than the maximum I found.

[2021-03-01 09:39] arndb commented on #1314
Comparing clang-13 against gcc-10:

[code]

[2021-03-01 14:28] tinti commented on #1284
No follow up.

I agree to close as won't fix.

[2021-03-01 14:29] #1284 closed, assigned to tinti

[2021-03-01 15:55] nathanchance commented on #1301
I think the second comment makes this a unique issue but it is up to you, we can roll these all into one issue if you would like because they exclusively affect x86_64.

[2021-03-01 15:57] nathanchance commented on #1243
Even though this missed 5.11 proper, Sasha Levin picked it up for 5.11 stable: https://git.kernel.org/stable/stable-queue/c/324382109db5ef1c7f7beaac7ed15d5933974d2f

[2021-03-01 15:58] nathanchance commented on #1250
Going back to 4.4 in the next stable release: https://git.kernel.org/stable/stable-queue/c/9757205d5446d10fbc70d16164dff9c8528cfcf1

[2021-03-01 20:42] arndb commented on #1314
This one seems related but even worse, at over 100 CPU seconds to compile the preprocessed file with KASAN:

[code]

Without KASAN, it takes 7.6s to compile.

With gcc, it's 4.6.s with kasan or 4.0s without kasan.

[qla_dbg-clang.i.gz](https://github.com/ClangBuiltLinux/linux/files/6064273/qla_dbg-clang.i.gz)

[2021-03-01 22:07] arndb commented on #1314
I found that this one-line change reduces the build time from 104 seconds to 2.7 seconds:

[code]

[2021-03-02 10:20] arndb commented on #1314
I ran the qla_dbg test case (without the noinline) through a "clang-13 -ftime-report" (full report attached), the interesting bits are

[code]

The results are the same for earlier versions of clang (tested 10 and up), so this is not a regression.
In fact, clang-10 and clang-11 are a few percent slower overall.

[execution-timing.txt](https://github.com/ClangBuiltLinux/linux/files/6067831/executio

[2021-03-02 11:06] #1305 closed, assigned to nobody

[2021-03-02 18:30] nickdesaulniers commented on #1305
I can't verify 0xAF64BE88_defconfig.gz; I hit #1276 .

For 0xFD37B9A0_defconfig.gz;

(Am I supposed to be able to:
[code]
?)

[2021-03-02 18:50] nickdesaulniers commented on #1269
Tested with https://reviews.llvm.org/D96931.  Looks like the same error:

[2021-03-02 19:06] yuanfang-chen commented on #1269
Hmm, feels like the patch is missing some corner cases. What is the recommended way to reproduce the error?

[2021-03-02 19:10] nickdesaulniers commented on #1269
Huh, indeed, trying again, I see the failure you mentioned.  Sorry, PEBKAC.  Perhaps I was testing a revert on a different branch or something.

Ok, I see that https://android-review.googlesource.com/c/kernel/common/+/1606628 is like https://android-review.googlesource.com/c/kernel/common/+/1090100, but for `COND_SYSCALL_COMPAT`/`__ia32_compat_sys_`-prefixes rather than `COND_SYSCALL`/`__x64_sys_`

[2021-03-02 19:51] nathanchance commented on #1300
Patch sent: https://lore.kernel.org/r/20210302195013.2626335-1-nathan@kernel.org/

[2021-03-02 20:08] nathanchance opened #1316 "Modpost warnings around identical_pvr_fixup()"
[code]

Patch submitted: https://lore.kernel.org/r/20210302200829.2680663-1-nathan@kernel.org/

[2021-03-02 20:45] arndb commented on #1276
This is the patch I have applied locally:

[code]

[2021-03-02 20:57] arndb commented on #1305
I have added quick patch to #1276, while the other build error needs https://lore.kernel.org/lkml/20210225143236.3543360-1-arnd@kernel.org/raw .

Unfortunately, reproducing the bug is not 100% reliable as the specific symbol that gets hit changes with pretty much any kernel or toolchain change. With the two fixes on top of my current tree, I cannot reproduce the bug with the  0xFD37B9A0 config, bu

[2021-03-02 21:08] nickdesaulniers commented on #1316
HTTP 404 on that lore link.

[2021-03-02 21:09] nathanchance commented on #1316
Yeah, seems like vger is having some struggles today...

[2021-03-02 21:21] MaskRay commented on #1269
This can reproduce the error (I am not familiar with the Android kernel ecosystem. I guessed the reproduce.

[code]

@yuanfang-chen With your patch, the diagnostic neither improves nor regresses. Since it does not regress and it improves other things, so I accepted https://reviews.llvm.org/D97449 :)

[2021-03-02 21:56] #1286 closed, assigned to jcai19

[2021-03-02 22:06] yuanfang-chen commented on #1269
Without D97449, the test case in D96931 would not work since the error code is 0 for llvm-lto2. For Clang diagnosed `LLVM ERROR: Error parsing inline asm`, the error happened to be propagated by `OptimizationRemarkEmitter` diagnoses before D97449. Now we can be sure that no error is missed.

[2021-03-02 22:32] nathanchance opened #1317 "Issue around hyp_panic while building aarch64 allmodconfig with ThinLTO"
On latest ToT Linux (http://git.kernel.org/linus/7a7fd0de4a98):

[code]

I am guessing this is due to the kernel being sufficiently big although this does not happen as soon as `CONFIG_LTO_CLANG_THIN=y` is dropped from the config.

cc @MaskRay  @samitolvanen

[2021-03-03 02:18] aik opened #1318 "powerpc: incorrect offsets in .got or asm"
Here is the problem asm chunk:
[code]
which becomes this after `lld`:
[code]
The loaded r8 is `0xc000000000000038` (expected `c000000001520000` at `0x8000-32712=0x38`) and r11 is `0xc000000001144380` (expected `c00000000168ae28`) because this is what gets into the `.got` section:
[code]

These are __bss_start/stop and toc values:
[code]
The `relative_toc` correctly returns `0x14a6b00` (which is __

[2021-03-03 12:31] aik commented on #1318
with a bit more digging, in `uint64_t InputSection::getVA() const { return parent->addr + outSecOff; }`, `outSecOff` is set to `0x58` so the actual content of `.got` is shifted by this much, however the assembler does not know that. Is this a useful bit of information?

[2021-03-03 13:50] aik commented on #1318
[code]
fixes the problem which somehow is not a problem with `ld`.

[2021-03-03 18:18] nathanchance commented on #1318
I wonder if this is in any way related to #811?

cc @MaskRay for LLD and integrated assembler input.

[2021-03-03 18:24] nickdesaulniers commented on #1301
I'm looking into this, it looks like there's 2 distinct passes here. `ipsccp` replaces the use of function arguments with global constants, `deadargelim` is what notices the argument is not unused, and specializes the function.  So technically `deadargelim` is creating the specialized version of the callee, but it doesn't know that the parameters were previously replaced.

Since these are distinct

[2021-03-03 18:52] samitolvanen commented on #1317
Hmm, building arm64 allmodconfig + LTO for commit 7a7fd0de4a9804299793e564a555a49c1fc924cb fails for me a bit earlier with an error about a missing header file:
[code]
Is there a patch I'm missing?

Anyway, I wonder if disabling LTO for `arch/arm64/kvm/hyp` would fix the issue? Something like this:
[code]

[2021-03-03 19:36] samitolvanen commented on #1317
OK, disabling `CONFIG_BPFILTER_UMH` allowed me to reproduce the error and disabling LTO for the `hyp` directory fixes this for me.

[2021-03-03 22:11] dileks opened #1319 "CFI: warning: objtool: .text.__cfi_check_fail: unexpected end of section"
I reported the issue in [1].

With `clang-cfi` Git on top of `Linux v5.12-rc1` I still see on `x86-64`:
[code]

Example:
[code]

[1] https://groups.google.com/g/clang-built-linux/c/sJ4ZToNEMI0/m/MIuUYKgqAAAJ

[2021-03-03 22:13] dileks commented on #1319
@samitolvanen

Attached is my linux-config.

[config-5.12.0-rc1-6-amd64-clang13-cfi.txt](https://github.com/ClangBuiltLinux/linux/files/6079503/config-5.12.0-rc1-6-amd64-clang13-cfi.txt)

[2021-03-03 22:14] dileks commented on #1319
My LLVM/Clang version:
[code]

[2021-03-03 22:19] dileks commented on #1319
With `clang-lto` (`CONFIG_LTO_CLANG=y` and `CONFIG_LTO_CLANG_THIN=y`) in `Linux v5.12-rc1` I do not see these warnings.

[2021-03-03 22:23] dileks commented on #1319
CC @jpoimboe

[2021-03-03 22:26] arndb commented on #1305
Retesting the same kernel with 1:13~++20210303104412+3b47bd32f9df-1~exp1~20210303095117.250, and I cannot reproduce the problem any more. I assume the fix worked, thanks a lot!

[2021-03-03 22:36] nathanchance commented on #1319
I think that is what this patch is supposed to fix:

https://lore.kernel.org/r/d743f4b36e120c06506567a9f87a062ae03da47f.1611263462.git.jpoimboe@redhat.com/

but Josh did not have time to deal with the segfaulting that you and Sami reported:

https://lore.kernel.org/r/CABCJKueaW1BEEBKLQzyp77VwTL+bE4x=kOLV3TWmc1s6-r3PeQ@mail.gmail.com/
https://lore.kernel.org/r/20210123022609.n7xsj2a4potoijz7@treble

[2021-03-03 22:45] dileks commented on #1319
Can re-test `[PATCH v2 11/20] objtool: Add CONFIG_CFI_CLANG support` (if it fits here) after my current build has finished.

[2021-03-03 23:54] nathanchance commented on #1317
Yes, that fixes it for me as well. Feel free to use

[code]

if you send it upstream.

[2021-03-04 04:46] MaskRay commented on #1318
Which config do you use? I'll need to play with the output to know the offsets.

OK, from the description my guess is that GNU ld uses the output section `.got` plus 0x8000 as the TOC base while LLD uses the input section `.got` plus 0x8000 as the TOC base.

The ELFv2 ABI says:

It does not say whether `.got` is the linker synthesized section (input section), or the output section.

I have checked

[2021-03-04 05:25] nathanchance commented on #1299
Patch accepted: https://git.kernel.org/kees/c/f5c4679d6c49

[2021-03-04 05:27] nathanchance commented on #1312
Fixed:

https://git.kernel.org/next/linux-next/c/783bf4035cb7f2707ad760fbc06f6be01a553f0a
https://git.kernel.org/next/linux-next/c/a8a2e13486343fe84c54681dd3c43ff926eb5927

[2021-03-04 05:27] #1312 closed, assigned to nobody

[2021-03-04 05:28] nathanchance commented on #1311
Arnd's patch upstream: https://lore.kernel.org/r/20210226140352.3477860-1-arnd@kernel.org/

[2021-03-04 05:33] nathanchance commented on #1247
https://lore.kernel.org/r/20210211025149.3544593-2-ndesaulniers@google.com/

[2021-03-04 06:45] nathanchance commented on #884
Upstream LLVM issue: https://llvm.org/pr38063

Patch disabling `CONFIG_MIPS32_O32` for Clang: https://lore.kernel.org/r/1614838778-3696-1-git-send-email-yangtiezhu@loongson.cn/

[2021-03-04 10:41] telans commented on #1259
LLVM 12.0.0-final delayed by 1-2 weeks

https://lists.llvm.org/pipermail/llvm-dev/2021-March/148936.html
https://llvm.org/pr48902
https://llvm.org/pr49317

[2021-03-04 12:55] aik commented on #1318
`0x8000` is expected, `0x8058` is not. I dug a bit more.
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/powerpc/kernel/vmlinux.lds.S?h=v5.11#n334 :
[code]

There is `.toc` in `prom_init.o`:
[code]
which is not empty. but the result `vmlinux` does not include no `.toc` nor `.got` WHEN LINKED BY `ld`:
[code]
but `ld.lld` does include those:
[code]
and this breaks vmlinu

[2021-03-04 18:48] samitolvanen commented on #1317
https://lore.kernel.org/lkml/20210304184544.2014171-1-samitolvanen@google.com/

[2021-03-04 19:58] nickdesaulniers commented on #1301
Please help test: https://reviews.llvm.org/D97971

[2021-03-04 20:07] nickdesaulniers commented on #289
https://llvm.org/pr47341

[2021-03-05 01:17] nickdesaulniers opened #1320 "implement -Wa,--version"
https://lore.kernel.org/linux-kbuild/20210303183333.46543-3-masahiroy@kernel.org/ from @masahir0y mentions that clang doesn't support -Wa,--version.  We should implement this and test it works w/ and w/o `-no-integrated-as`. (cc @jcai19 )

[2021-03-05 03:08] aik commented on #1318
this works too:
[code]
but i guess it only works as nothing really references `.toc` in prom_init.o as `ld` optimizes it out to zero ( __prom_init_toc_start == __prom_init_toc_end when `ld` is used).

[2021-03-05 03:17] aik commented on #1318
Looks like reordering input sections messes up the final output from `lld`

[2021-03-05 04:59] MaskRay commented on #1269
I think https://reviews.llvm.org/D96931 very likely fixes this.

The errors I see changed from
[code]
(BTW: I find it difficult to attach line information to the errors. We don't track the definition location of MCSymbol.)

to
[code]

[2021-03-05 05:26] nathanchance commented on #1320
Should it just output the same thing as `clang --version`?

[2021-03-05 10:12] aik commented on #1318
Doing things like this:
[code]
breaks it:
[code]

[2021-03-05 12:48] dileks commented on #1210
Picked up for several linux-stable (rc) releases.

[2021-03-05 20:22] samitolvanen commented on #1317
An actual fix: https://lore.kernel.org/lkml/20210305202124.3768527-1-samitolvanen@google.com/

[2021-03-05 21:32] nickdesaulniers opened #1321 "CONFIG_UBSAN_OBJECT_SIZE leads to Section mismatch warnings"
distinctly separate issue from #1301 and #1302.

@nathanchance [reports](https://github.com/ClangBuiltLinux/linux/issues/1301#issuecomment-777848167):
[code]
@arndb [narrows this down](https://github.com/ClangBuiltLinux/linux/issues/1301#issuecomment-787122385) to `-fsanitize=object-size`/`CONFIG_UBSAN_OBJECT_SIZE`.

I [note](https://github.com/ClangBuiltLinux/linux/issues/1301#issuecomment-789955

[2021-03-05 21:33] nickdesaulniers commented on #1301
I'm duping this to #1302 , for cases where IPSCCP and DeadArgElim create specialized functions.

Let's use #1321 to track `early_get_smp_config()` `x86_init` and `-fsanitize=object-size`.

[2021-03-05 21:33] #1301 closed, assigned to nickdesaulniers

[2021-03-05 21:33] nickdesaulniers commented on #1302
Working on a patch in  https://reviews.llvm.org/D97971.

[2021-03-05 21:41] arndb commented on #1321
The relevant kernel mailing list thread is
https://lore.kernel.org/lkml/20210225112247.2240389-1-arnd@kernel.org/

This can be addressed with a kernel change that either marks the inline functions as __init (as I suggested), or marks them as __always_inline (as Boris suggested), either way would work fine.

The question is whether llvm's decision to not inline the function by default is reasonable

[2021-03-05 21:47] nickdesaulniers commented on #1321
These are not completely empty; they are massive because allmodconfig turned on sanitizers and code coverage.

Let me try adding another run of `LowerConstantIntrinsicsPass` before inlining and see if that helps.

[2021-03-05 21:54] nickdesaulniers commented on #1321
Noting in linux-next, I also see:
[code]
which goes away if I disable CONFIG_UBSAN_OBJECT_SIZE.

[2021-03-05 21:55] arndb commented on #1321
The case that I looked at had the warning for a fairly trivial version of the function, and I used cvise to reduce it from that version to the empty function. I'm not worried about the case in which this happens for a large (because of sanitizers) function that does not get inlined, in that case we should just mark it __init as my original patch does.

The part that needs to be investigated in the

[2021-03-05 21:56] arndb commented on #1321
See https://lore.kernel.org/lkml/20210225133808.2188581-1-arnd@kernel.org/ for a discussion of the memblock_bottom_up() function, this one did result in a fairly large function for me.

[2021-03-05 23:53] MaskRay commented on #1318
Given the GOT relocation semantics on other architectures, I feel that GNU ld powerpc64 is not doing the right thing. I'd also feel uncomfortable if we have to work around this case in LLD.

To make both GNU ld and LLD work, we can use asm label:
[code]

As long as the source code usage of `__toc_start` matches the linker `.TOC`, the actual TOC base value does not matter.

[2021-03-06 03:35] MaskRay commented on #1318
What about this? I am not versed in kernel testing. The following works fine for me.

[code]

[code]

[2021-03-06 03:59] samitolvanen commented on #1269
@adelva1984 reported that android12-5.4 has the same issue when building x86 gki_defconfig with `CONFIG_THINLTO` disabled.
[code]
I see this when I run `BUILD_CONFIG=common/build.config.gki.x86_64 build/build.sh`:
[code]

[2021-03-06 14:01] aik commented on #1318
This is quite a change, huh.

With this change, `ld` keeps producing bootable `vmlinux`, `lld` still produces `vmlinux` which does not boot, however it runs much further now and fails when copying from `ibm_architecture_vec_template` which is `__initconst` (==`.init.rodata`?) and which is zeroes by the time we reach https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/power

[2021-03-06 21:06] arndb opened #1322 "thinlto: Crash during final link"
A randconfig kernel build triggered this bug in llvm during the final link:

 ld.lld -m elf_x86_64 --thinlto-cache-dir=.thinlto-cache -mllvm -import-instr-limit=5 -r -o vmlinux.o -T .tmp_initcalls.lds -T .tmp_symversions.lds --whole-archive arch/x86/kernel/head_64.o arch/x86/kernel/head64.o arch/x86/kernel/ebda.o arch/x86/kernel/platform-quirks.o init/built-in.a usr/built-in.a arch/x86/built-in.a

[2021-03-07 05:16] MaskRay commented on #1318
Thanks for the testing. That issue may be unrelated to the .got issue.

Sent [[PATCH] Replace __toc_start + 0x8000 with .TOC.](https://lore.kernel.org/linuxppc-dev/20210307051433.2756645-1-maskray@google.com/)

[2021-03-07 09:01] atomsand opened #1323 "Faild to build qcacld-3.0 on msm-5.4 kernel"
Hi, so sorry to disturb you. I recently failed to compile qcacld-3.0 drivers on a msm-5.4 kernel using clang-13. Here's the error I encountered:
```../drivers/staging/qcacld-3.0/core/hdd/src/wlan_hdd_assoc.c:26:10: fatal error: 'wlan_hdd_includes.h' file not found```
The tag of the qcacld is `LA.UM.9.14.r1-12600-LAHAINA.0`, and I try to use other tag for msm-4.19 platform which have no problem in

[2021-03-07 14:23] aik commented on #1318
It seems it is.
[code]
The kernel is loaded at `0x40.0000` but at https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/powerpc/kernel/prom_init.c?h=v5.11#n3340 `&__bss_start` is still `c000000001520000` and not `c000000001920000`. So `memset` clears `.init.rodata`.

[2021-03-07 20:17] nathanchance commented on #1323
Your script can be much simpler:

[code]

No target to `make` means the `all`  target is used so you can avoid multiple calls to `make` by just adding the defconfig and all targets.

As for your actual build error, I am not sure. Does it work with older versions of clang, as I cannot imagine that this is a compiler issue. Based on Xiaomi's README, it seems like the version of qcacld-3.0 that you s

[2021-03-07 22:40] arndb commented on #1314
Here is a reduced test case for qla_dbg.c, which comes down to the same function getting inline many times when probably should not be inlined.

[qla_dbg-clang.c.gz](https://github.com/ClangBuiltLinux/linux/files/6098086/qla_dbg-clang.c.gz)

[2021-03-07 22:49] arndb commented on #1314
https://godbolt.org/z/9PGKo8

[2021-03-08 00:38] atomsand commented on #1323
Doesn't work with older tags nor Xiaomi's OSS either😭, maybe I should just load the prebuilt kernel module in the system...

[2021-03-08 14:53] #1323 closed, assigned to nobody

[2021-03-08 17:17] nickdesaulniers commented on #1281
@arndb sent: https://lore.kernel.org/linux-arm-kernel/20210308153430.2530616-1-arnd@kernel.org/

[2021-03-08 17:17] nickdesaulniers commented on #1281
perhaps this is reproducible with release versions of clang before the fix from #1195 landed in clang-13?

[2021-03-08 17:26] nickdesaulniers opened #1324 "-Wsometimes-uninitialized in arch/arm/mach-omap1/pm.c"
via omap1_defconfig on linux-next:
[code]

[2021-03-08 17:27] nickdesaulniers opened #1325 "-Wunused-variable in arch/arm/mach-omap1/board-h2.c"
via omap1_defconfig on linux-next:
[code]

[2021-03-08 17:28] nickdesaulniers opened #1326 "-Wunused-function in arch/arm/mach-omap1/board-ams-delta.c"
via omap1_defconfig on linux-next:
[code]

[2021-03-08 17:32] nickdesaulniers commented on #1281
huh, I still can reproduce with older clang's I have around...

[2021-03-08 19:46] arndb commented on #1281
Ah, I think I know what is happening now: my tree contains a few patches to clean up the omap1 platform, and that must have removed an indirect header include. gcc didn't care about that change, but clang (legitimately) complained about it.

[2021-03-09 22:14] nathanchance opened #1327 "-Walign-mismatch in include/linux/efi.h"
New warning from ToT LLVM (https://github.com/llvm/llvm-project/commit/7e5cea5b509f5535eab6d1ea9b90e033570758a6):

[code]

This is the only instance of this warning that I see so far but it is crazy noisy as `include/linux/efi.h` appears to be included a lot so once that is fixed, others might come forward.

I can try to take a look at resolving this tomorrow unless someone beats me to it.

cc @ar

[2021-03-10 00:32] nickdesaulniers commented on #1071
dup of #965

[2021-03-10 00:32] #1071 closed

[2021-03-10 07:04] dileks commented on #1259
`LLVM` version `12.0.0-rc3` tagged.

[1] https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.0-rc3

[2021-03-10 09:58] aik commented on #1318
We have a better candidate which works with `ld` and `lld`: https://patchwork.ozlabs.org/project/linuxppc-dev/patch/20210309045638.GI6042@bubble.grove.modra.org/

[2021-03-10 18:10] nathanchance commented on #1327
I am testing https://lore.kernel.org/r/20210310081210.95147-1-ardb@kernel.org/.

[2021-03-10 18:23] nathanchance opened #1328 "-Walign-mismatch in block/blk-mq.c"
[code]

Reported upstream due to the history behind it: https://lore.kernel.org/r/20210310182307.zzcbi5w5jrmveld4@archlinux-ax161/

[2021-03-10 19:48] dileks commented on #1319
With `LLVM` version `12.0.0-rc3` I do not see these warnings.

[2021-03-10 19:54] MaskRay commented on #1318
`__toc_ptr = DEFINED (.TOC.) ? .TOC. : ADDR (.got) + 0x8000;` needs https://reviews.llvm.org/D98306 (target: LLD 13.0.0)

readelf plainly shows the alignment is 256.  This linker script feature was added 2005-09-27, available in FSF binutils releases from 2.17 onwards.  Should be safe to use in the kernel, I think.

This clarified a question puzzling me for some time :) Why do the kernel linker sc

[2021-03-11 00:23] nickdesaulniers commented on #732
@nathanchance can you send the above hunk?

[2021-03-11 00:54] nathanchance commented on #732
Done: https://lore.kernel.org/r/20210311005418.2207250-1-nathan@kernel.org/

[2021-03-11 16:18] dileks commented on #1327
Compile-tested `efi: use 32-bit alignment for efi_guid_t literals` from [1] with `LLVM/Clang v12.0.0-rc3` on x86-64.

[1] https://git.kernel.org/ardb/c/295a2a7d5fd9ff0e1fd50d5265297464888cbfef

[2021-03-11 18:12] nickdesaulniers opened #1329 "constant expression expected in arch/arm/mach-tegra/reset-handler.S"
specifically on 4.19.y branch of stable:
[code]
I'm not sure yet whether this is an assembler bug or what.
cc @jcai19

I'm going to skip backporting [this series](https://lore.kernel.org/lkml/20190317225211.23091-1-digetx@gmail.com/) to 4.19 for now, but the relevant upstream commits are:
1. ebca2a6ee161502828de017b28a8f1d7422073f0 v5.2-rc1
2. 96446e21d6e9303cce0374af3f4012556dc501ce v5.2-rc1
3. e

[2021-03-11 18:17] nickdesaulniers commented on #1318
If the kernel's minimum supported version of GNU binutils is 2.23, should we send a cleanup to LKML for the linker scripts?

[2021-03-11 18:52] nathanchance commented on #92
I believe this has come up again: https://lore.kernel.org/r/8c252429-5000-0649-c49f-8225d911241b@gmail.com/

As I noted in my reply though, it seems Huck's patch does not fix this particular instance but it certainly seems related.

[2021-03-11 20:38] MaskRay commented on #1318
`. = ALIGN(align); section : { ...}` has a minor nice property: by comparing the output sh_addralign value and the specified `align` value, you can know whether a section is overaligned. With `section : ALIGN(align) { ... }`, it is difficult to know it. So I do not know whether we do the cleanup.

https://lld.llvm.org/ELF/linker_script.html#output-section-alignment

[2021-03-11 20:46] jcai19 commented on #1329
Issue reproduced locally.
[code]

[2021-03-11 21:05] jcai19 commented on #1329
Reduced repro.

[code]

[2021-03-12 00:20] nathanchance commented on #1328
Some links:

https://git.kernel.org/linus/966a967116e69
https://git.kernel.org/linus/4ccafe032005
https://lore.kernel.org/r/a9beb452-7344-9e2d-fc80-094d8f5a0394@kernel.dk/

My suggestion for a fix:

https://lore.kernel.org/r/20210310225240.4epj2mdmzt4vurr3@archlinux-ax161/

[2021-03-12 22:51] jcai19 commented on #1329
The problem is that the IAS ARM backend only support constant expressions in memory operations, so it fails to parse the expression in strneb, which is defined as follows,

[code]

I hacked IAS to parse and build the [simple repro](https://github.com/ClangBuiltLinux/linux/issues/1329#issuecomment-797048434) (at the cost of many failed tests) but it still failed to build reset-handler.S, likely due

[2021-03-12 23:00] nickdesaulniers commented on #1329
Ah, right, `strneb` is not UAL, it should be changed in kernel sources to `strbne`.

[2021-03-12 23:06] nathanchance commented on #1329
Presumably, that is why we do not see this on mainline: https://git.kernel.org/linus/d90bdb72bb42369ae1493f5bbb3fadb3c854aad8

[2021-03-12 23:25] nickdesaulniers commented on #1329
No, https://github.com/ClangBuiltLinux/linux/commit/2af6597ac3fab8a3796786bb73f8bd14a9f2d376 removes this and we can build, but that depends on other patches in that series.

[2021-03-12 23:31] nathanchance commented on #1329
Sorry, I was talking about the `strneb` error, should have been more specific.

[2021-03-14 22:18] nathanchance commented on #1317
Merged into mainline: https://git.kernel.org/linus/dbaee836d60a8e1b03e7d53a37893235662ba124

[2021-03-14 22:18] #1317 closed, assigned to samitolvanen

[2021-03-14 22:26] nathanchance commented on #1268
https://reviews.llvm.org/D98610

I will send a patch tomorrow to avoid this build error with older versions of LLVM.

[2021-03-16 00:25] nathanchance commented on #1292
Now that https://git.kernel.org/linus/97e4910232fa1f81e806aa60c25a0450276d99a2 is in mainline, the pseries_defconfig build is now [failing with `clang-12`](https://github.com/ClangBuiltLinux/continuous-integration2/runs/2112645783?check_suite_focus=true), which means that the new pass manager does not appear to be the true culprit (we have had high stack usage in this function without truly realiz

[2021-03-16 05:56] nathanchance opened #1330 "a0e2bf7cb7006b5a58ee81f4da4fe575875f2781 in -next breaks compiling with CFI"
https://git.kernel.org/tip/a0e2bf7cb7006b5a58ee81f4da4fe575875f2781

Setup:

[code]

Just ThinLTO is fine:

[code]

Adding CFI to the mix breaks things:

[code]

[code]

cc @samitolvanen

[2021-03-16 08:42] arndb commented on #1292
How hard would it be to implement __builtin_bswap64() using the native instruction on ppc64?
I think that would solve this problem as well as improve performance of the kernel on ppc64 in general.

[2021-03-16 15:04] dileks commented on #1259
`Debian` now offers `LLVM` version `12.0.0-rc3` packages in `unstable` release target.

[1] https://packages.debian.org/sid/clang-12

[2021-03-16 17:19] MaskRay commented on #1268
Fixed by https://github.com/llvm/llvm-project/commit/6ab8927931851bb42b2c93a00801dc499d7d9b1e (D98610) (target: clang 13.0.0)

[2021-03-16 18:19] samitolvanen commented on #1330
Thanks for bisecting this. I haven't had a chance to take a closer look, but this could be because CFI breaks static call handling in objtool.

[2021-03-16 22:03] nickdesaulniers commented on #1268
Thanks @MaskRay !!! Reopening for the kernel patch @nathanchance mentioned.

[2021-03-16 22:56] nathanchance commented on #1292
I am not sure. I have gone ahead and reported this upstream: https://llvm.org/pr49610

[2021-03-18 01:25] nathanchance commented on #803
Tentative patch:

[code]

I plan to send this with #1268 because I am touching the same area.

[2021-03-18 02:27] nathanchance opened #1331 "mcount problem on RISC-V"
While investigating the kernel solution to #1268, I uncovered an issue with `mcount` for RISC-V that is visible prior to https://git.kernel.org/linus/afc76b8b80112189b6f11e67e19cf58301944814:

[code]

This appears to be because `scripts/recordmcount.pl` expects `_mcount`, which is the name of the symbol that GCC uses:

[code]

There are two fixes that will be needed for this it seems, both of whic

[2021-03-18 08:56] nickdesaulniers commented on #1331
Probably worth discussing upstream (LLVM) with @topperc @jrtc27 @MaskRay , it might be nice to avoid trips through the PLT.

[2021-03-18 11:21] aik opened #1332 "LTO PPC64: InputSection too large for range extension thunk"
Trying to hack the POWERPC64 kernel to build with LTO. The config is `CONFIG_LTO_CLANG_FULL=y`, llvm is the latest + https://reviews.llvm.org/D96931 (fixes multiple "changed binding to global").

Now the very last call to `lld` fails. I added some printf at https://github.com/aik/llvm-project/commit/7f5e8feb7f9f590ca071f6fd0035c79465f6c81d#diff-7bda54aace526c7e883a5e1c34446b3ffca171b50a4340a8795ef

[2021-03-18 18:35] nathanchance commented on #1331
LLVM patch submitted: https://reviews.llvm.org/D98881

Kernel patch series to follow.

[2021-03-18 21:01] nathanchance commented on #1331
Tentative series: https://git.kernel.org/pub/scm/linux/kernel/git/nathan/linux.git/log/?h=riscv-ftrace-fixes

I would like the LLVM patch to be merged before I send it due to the fourth patch.

[2021-03-18 21:15] jrtc27 commented on #1331
Re https://git.kernel.org/pub/scm/linux/kernel/git/nathan/linux.git/commit/?h=riscv-ftrace-fixes&id=725a0d669b68b2a5fd3ca4a1366c38300f4c0505: would it not be better/simpler to just provide `mcount` as an alias for `_mcount`? Then you can drop the changes to ftrace.h (and don't need version detection, it can unconditionally exist until the baseline is sufficiently high).

[2021-03-19 00:02] MaskRay commented on #1269
https://reviews.llvm.org/D98762 `[LTO][MC] Discard non-prevailing defined symbols in module-level assembly` properly fixed the root cause.

[2021-03-19 00:09] nickdesaulniers commented on #1057
submitted: https://lore.kernel.org/linux-kbuild/20210319000708.1694662-1-ndesaulniers@google.com/T/#u

[2021-03-19 02:03] nathanchance commented on #1331
Thank you for the suggestion! Something like this maybe? Forgive me, my assembly is not good at all.

[code]

[2021-03-19 02:14] MaskRay commented on #1331
The difference does not matter (there is some hard-to-explain GNU ld implementation difference which should not be relied upon by any application). R_RISCV_CALL could be deprecated in the future. https://github.com/riscv/riscv-elf-psabi-doc/issues/98

I don't know the implication of `EXPORT_SYMBOL(mcount)`... If it does something quite special, then I might prefer the previous version. If `EXPORT_

[2021-03-19 03:27] jcai19 commented on #1329
LLVM patch sent for review: https://reviews.llvm.org/D98916

[2021-03-19 03:58] nathanchance commented on #1331
`EXPORT_SYMBOL` is for making the symbol available to kernel modules. You can see the logic here, I am not sure what the implications of it are in relation to the `.set mcount, _mcount`:

https://elixir.bootlin.com/linux/v5.11.7/source/include/asm-generic/export.h#L35

https://elixir.bootlin.com/linux/v5.11.7/source/include/asm-generic/export.h#L82